<div class="content-col">
    <div class="card box-shadow">
        <div class="header large">
            <h4 class="title">我的收藏</h4>
            <p class="desc"><span class="count no-margin">39</span></p>
            <div class="tool-bar">
                <div class="select-wrap">
                    <label class="select-label">類別</label>
                    <md-select ng-model="currentFilterType">
                        <md-option ng-repeat="filterType in filterTypes" ng-value="filterType.id">{{filterType.name}}</md-option>
                    </md-select>
                </div>
                <div class="select-wrap">
                    <label class="select-label">排序</label>
                    <md-select ng-model="currentOrder">
                        <md-option ng-repeat="order in orderLists" ng-value="order.id">{{order.name}}</md-option>
                    </md-select>
                </div>
                <div class="dropdown-more" ng-click="showMoreTool=!showMoreTool">
                    <span class="name">更多</span>
                    <i class="icon-ArrowDown"></i>
                    <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool"></md-backdrop>
                    <div class="poi-dropdown-menu" ng-class="{'open': showMoreTool}">
                        <div class="menu-item" ng-click="hasCollect=true">收藏列表</div>
                        <div class="menu-item" ng-click="hasCollect=false">空狀態</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content spot-list col-2 no-padding" ng-show="hasCollect">
            <!--
            <div class="spot" ng-repeat="item in collectList track by $index">
                <a>
                    <div class="thumbnail" ng-style="{'background-image': 'url(' + item.thumbnail + ')'}">
                    </div>
                </a>
                <div class="info">
                    <a>
                        <h4 class="title">{{item.title}}</h4>
                    </a>
                    <p class="summary">
                        {{item.summary}}
                    </p>
                    <p class="descript row-2">{{item.descript}}</p>
                    <div class="metas">
                        <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                        <div class="recommend">
                            {{item.metas}}
                        </div>
                    </div>
                </div>
                <div class="tool delete" ng-click="item.showMoreTool=!item.showMoreTool" hide-sm>
                    <i class="icon-Close"></i>
                    <md-backdrop class="md-select-backdrop md-default-theme" ng-show="item.showMoreTool"></md-backdrop>
                    <div class="poi-dropdown-menu confirm" ng-class="{'open': item.showMoreTool}">
                        <p class="confirm-msg">確定要刪除收藏嗎？</p>
                        <div class="buttons">
                            <button class="button small red">刪除</button>
                            <button class="button small gray">取消</button>
                        </div>
                    </div>
                </div>
            </div>
             -->
            <div class="spot" ng-repeat="item in collectList track by $index">
                <a>
                    <div class="thumbnail" ng-style="{'background-image': 'url(' + item.thumbnail + ')'}">
                        <div class="tags">
                            <div class="tag" ng-repeat="tag in item.tags">{{tag}}</div>
                        </div>
                        <div class="tags">
                            <div class="tag red" ng-if="item.mustgo">必去</div>
                            <div class="tag" ng-class="item.locationtag">{{item.location}}</div>
                        </div>
                    </div>
                </a>
                <div class="info">
                    <a href="#/spots/poi">
                        <h4 class="title">{{item.title}}</h4>
                    </a>
                    <div class="metas">
                        <div class="address"><i class="icon-Costs"></i> <span>均消 $500</span></div>
                    </div>
                    <div class="metas">
                        <div class="address"><i class="icon-Pin"></i> <span>{{item.address}}</span></div>
                    </div>
                    <div ng-if="!spot.istripadv" class="ranks hint hint--top" data-hint="4.5"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                    <p ng-if="spot.istripadv" class="adrank" data-hint="{{spot.rank}}" style="background-position: left {{item.rankstar}}px;"> </p>
                    <p class="destit"><i class="icon-Views"> {{item.view}}</i></p>
                    <p class="destit"><i class="icon-Comments"> {{item.comment}}</i></p>
                    <p style="clear: both;"></p>
                </div>
                <div class="tool delete" ng-click="item.showMoreTool=!item.showMoreTool" hide-sm>
                    <i class="icon-Close"></i>
                    <md-backdrop class="md-select-backdrop md-default-theme" ng-show="item.showMoreTool"></md-backdrop>
                    <div class="poi-dropdown-menu confirm" ng-class="{'open': item.showMoreTool}">
                        <p class="confirm-msg">確定要刪除收藏嗎？</p>
                        <div class="buttons">
                            <button class="button small red">刪除</button>
                            <button class="button small gray">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content empty-content" ng-hide="hasCollect">
            <div class="empty-status">
                <div class="thumbnail" style="background-image:url('public/images/road.svg')"></div>
                <h3 class="title">尚無任何收藏</h3>
                <p class="desc">您可以把喜愛的景點、美食、活動通通都收藏到
                    <br>我的收藏，方便未來找到它們！</p>
                <button class="button small blue">探索更多景點</button>
            </div>
        </div>
    </div>
    <!-- 分頁 -->
    <section>
        <div class="section-wrap">
            <div class="pagination">
                <ul class="page-numbers">
                    <li><a href="" class="prev"><i class="icon-Back"></i></a></li>
                    <li><a href="">1</a></li>
                    <li><a href="" class="current">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">...</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="" class="next"><i class="icon-Forward"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
