<div class="content-col">
	<div class="card box-shadow">
		<div class="header">
			<h4 class="title">我的遊記</h4>
            <div class="tab-bar">
                <div class="tab active">已發佈 26</div>
                <div class="tab">草稿 2</div>
            </div>
            <div class="tool-bar">
                <a href="#/travelNotesEditor" class="button small blue">撰寫遊記</a>
                <div class="search-wrap">
                    <div class="search">
                        <i class="icon icon-Search"></i>
                        <md-autocomplete
                            md-selected-item="selectedItem"
                            md-search-text-change="searchTextChange(setting.keyword)"
                            md-search-text="setting.keyword"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(setting.keyword)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="搜尋遊記">
                          <md-item-template>
                            <span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
                          </md-item-template>
                          <!-- <md-not-found>
                            No matches found for "{{setting.keyword}}".
                          </md-not-found> -->
                        </md-autocomplete>
                    </div>
                </div>
            </div>
		</div>
		<div class="content spot-list no-padding">
            <div class="spot">
                <a href="#/travelNotes/poi">
                    <div class="thumbnail" ng-style="{'background-image': 'url(../public/images/spots/spot-4.jpg)'}">
                        <div class="tags">
                            <div class="tag TW2">人氣遊記</div>
                        </div>
                    </div>
                </a>
                <div class="info">
                    <a href="#/travelNotes/poi">
                        <h4 class="title">[食記]台中市‧台中新地標‧宮原眼科掛號吃冰</h4>
                    </a>
                    <p class="descript">台中近來的新人氣景點，就是在台中火車站前的 宮原眼科，如果你沒來過的話，就遜了啊～宮原眼科現在可不是眼科，可是早期宮原眼科的建築，經過台中知名糕餅業 日出 改裝包裝，將原本幾近頹傾的建築予以最大部份的保留，並且再加上現代的設計元素，從此變成 日出最特別的旗艦店，販售大部份日出的糕點，而且還有好吃的冰淇淋、珍珠奶茶</p>
                    <div class="metas">
                        <div class="recommend">
                            <span>27 人收藏</span> /
                            <span>2 評論</span> /
                            <span>發表於 2015年3月7日</span>
                        </div>
                    </div>
                </div>
                <div class="tool" ng-click="showMoreTool4=!showMoreTool4" hide-sm>
                    <i class="icon-More-2"></i>
                    <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool4"></md-backdrop>
                    <div class="poi-dropdown-menu" ng-class="{'open': showMoreTool4}">
                        <div class="menu-item">修改遊記</div>
                        <div class="menu-item">刪除遊記</div>
                    </div>
                </div>
            </div>
            <div class="spot draft">
                <a href="#/travelNotes/poi">
                    <div class="thumbnail" ng-style="{'background-image': 'url(../public/images/spots/spot-5.jpg)'}">
                        <div class="tags">
                            <div class="tag TW4">嚴選遊記</div>
                        </div>
                    </div>
                </a>
                <div class="info">
                    <a href="#/travelNotes/poi">
                        <h4 class="title">[食記] 高雄o鳳山區 黃家牛肉麵</h4>
                    </a>
                    <p class="descript">台中近來的新人氣景點，就是在台中火車站前的 宮原眼科，如果你沒來過的話，就遜了啊～宮原眼科現在可不是眼科，可是早期宮原眼科的建築，經過台中知名糕餅業 日出 改裝包裝，將原本幾近頹傾的建築予以最大部份的保留，並且再加上現代的設計元素，從此變成 日出最特別的旗艦店，販售大部份日出的糕點，而且還有好吃的冰淇淋、珍珠奶茶</p>
                    <div class="note">遊記尚未發佈</div>
                </div>
                <div class="tool" ng-click="showMoreTool5=!showMoreTool5" hide-sm>
                    <i class="icon-More-2"></i>
                    <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool5"></md-backdrop>
                    <div class="poi-dropdown-menu" ng-class="{'open': showMoreTool5}">
                        <div class="menu-item">發佈</div>
                        <div class="menu-item">修改遊記</div>
                        <div class="menu-item">刪除遊記</div>
                    </div>
                </div>
            </div>
            <div class="spot">
                <a href="#/travelNotes/poi">
                    <div class="thumbnail" ng-style="{'background-image': 'url(../public/images/spots/spot-6.jpg)'}">
                    </div>
                </a>
                <div class="info">
                    <a href="#/travelNotes/poi">
                        <h4 class="title">[食記] 高雄o鳳山區 黃家牛肉麵</h4>
                    </a>
                    <p class="descript">台中近來的新人氣景點，就是在台中火車站前的 宮原眼科，如果你沒來過的話，就遜了啊～宮原眼科現在可不是眼科，可是早期宮原眼科的建築，經過台中知名糕餅業 日出 改裝包裝，將原本幾近頹傾的建築予以最大部份的保留，並且再加上現代的設計元素，從此變成 日出最特別的旗艦店，販售大部份日出的糕點，而且還有好吃的冰淇淋、珍珠奶茶</p>
                    <div class="metas">
                        <div class="recommend">
                            <span>27 人收藏</span> /
                            <span>2 評論</span> /
                            <span>發表於 2015年3月7日</span>
                        </div>
                    </div>
                </div>
                <div class="tool" ng-click="showMoreTool6=!showMoreTool6" hide-sm>
                    <i class="icon-More-2"></i>
                    <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool6"></md-backdrop>
                    <div class="poi-dropdown-menu" ng-class="{'open': showMoreTool6}">
                        <div class="menu-item">修改遊記</div>
                        <div class="menu-item">刪除遊記</div>
                    </div>
                </div>
            </div>
            <div class="spot">
                <a href="#/travelNotes/poi">
                    <div class="thumbnail" ng-style="{'background-image': 'url(../public/images/spots/spot-7.jpg)'}">
                    </div>
                </a>
                <div class="info">
                    <a href="#/travelNotes/poi">
                        <h4 class="title">[食記] 高雄o鳳山區 黃家牛肉麵</h4>
                    </a>
                    <p class="descript">台中近來的新人氣景點，就是在台中火車站前的 宮原眼科，如果你沒來過的話，就遜了啊～宮原眼科現在可不是眼科，可是早期宮原眼科的建築，經過台中知名糕餅業 日出 改裝包裝，將原本幾近頹傾的建築予以最大部份的保留，並且再加上現代的設計元素，從此變成 日出最特別的旗艦店，販售大部份日出的糕點，而且還有好吃的冰淇淋、珍珠奶茶</p>
                    <div class="metas">
                        <i class="icon-Lock"></i>
                        <div class="recommend">
                            <span>27 人收藏</span> /
                            <span>2 評論</span> /
                            <span>發表於 2015年3月7日</span>
                        </div>
                    </div>
                </div>
                <div class="tool" ng-click="showMoreTool7=!showMoreTool7" hide-sm>
                    <i class="icon-More-2"></i>
                    <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool7"></md-backdrop>
                    <div class="poi-dropdown-menu" ng-class="{'open': showMoreTool7}">
                        <div class="menu-item">修改遊記</div>
                        <div class="menu-item">刪除遊記</div>
                    </div>
                </div>
            </div>
            <div class="spot">
                <a href="#/travelNotes/poi">
                    <div class="thumbnail" ng-style="{'background-image': 'url(../public/images/spots/spot-8.jpg)'}">
                    </div>
                </a>
                <div class="info">
                    <a href="#/travelNotes/poi">
                        <h4 class="title">[食記] 高雄o鳳山區 黃家牛肉麵</h4>
                    </a>
                    <p class="descript">台中近來的新人氣景點，就是在台中火車站前的 宮原眼科，如果你沒來過的話，就遜了啊～宮原眼科現在可不是眼科，可是早期宮原眼科的建築，經過台中知名糕餅業 日出 改裝包裝，將原本幾近頹傾的建築予以最大部份的保留，並且再加上現代的設計元素，從此變成 日出最特別的旗艦店，販售大部份日出的糕點，而且還有好吃的冰淇淋、珍珠奶茶</p>
                    <div class="metas">
                        <i class="icon-Lock"></i>
                        <div class="recommend">
                            <span>27 人收藏</span> /
                            <span>2 評論</span> /
                            <span>發表於 2015年3月7日</span>
                        </div>
                    </div>
                </div>
                <div class="tool" ng-click="showMoreTool8=!showMoreTool8" hide-sm>
                    <i class="icon-More-2"></i>
                    <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool8"></md-backdrop>
                    <div class="poi-dropdown-menu" ng-class="{'open': showMoreTool8}">
                        <div class="menu-item">修改遊記</div>
                        <div class="menu-item">刪除遊記</div>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <!-- 分頁 -->
    <section>
        <div class="section-wrap">
            <div class="pagination">
              <ul class="page-numbers">
                <li><a href="" class="prev"><i class="icon-Back"></i></a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="current" >2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">...</a></li>
                <li><a href="">5</a></li>
                <li><a href="" class="next"><i class="icon-Forward"></i></a></li>
              </ul>
            </div>
        </div>
    </section>
</div>
