<div class="poi-page content gray container-bar">
	<section>
		<div class="section-wrap breadcrumb-wrap">
	    <a href="#" class="breadcrumb">首頁</a>
	    <i class="icon-Forward"></i>
	    <a href="#" class="breadcrumb">交通</a>
	    <i class="icon-Forward"></i>
	    <a href="#" class="breadcrumb current">和運租車 - 台北濱江站</a>
		</div>
	</section>
	<section>
		<div class="section-wrap no-top-padding">
			<div layout="row" layout-wrap>
				<div class="poi-content" flex="70" flex-md="100" flex-sm="100">
					<div class="content-block align-right">
						<div class="info float-left">
							<h2 class="title">阿原肥皂（信義誠品店）</h2>
							<div class="summary">花蓮縣/其他　
								
							</div>
							<div class="summary"><div class="ranks hint hint--top" data-hint="平均 4.2 分">
									<i class="icon-Rank fill"></i>
									<i class="icon-Rank fill"></i>
									<i class="icon-Rank fill"></i>
									<i class="icon-Rank fill"></i>
									<i class="icon-Rank"></i>
								</div>
								<span class="maginlr"> </span><i class="icon-Comments"></i> 32<span class="maginlr"> </span><i class="icon-Heart"></i> 503<span class="maginlr"> </span><i class="icon-Views"></i> 503
							</div>
						</div>
						<div class="tool-bar">
							<div class="tool" ng-click="isCollect=!isCollect" ng-class="{'active':isCollect}">
								<i class="icon-Heart-2 delay"></i>
								<i class="icon-Heart-2 animate" ng-class="{'animate-active':isCollect}" ng-hide="isCollect"></i>
								<span>收藏</span>
							</div>
							<div class="tool" ng-click="isBeen=!isBeen" ng-class="{'active':isBeen}">
								<i class="icon-Location-2" ng-if="!isBeen"></i>
								<i class="icon-Check-2" ng-if="isBeen"></i>
								<span>去過</span>
							</div>
							<div class="tool" ng-click="showShareTool=!showShareTool">
								<i class="icon-Share-3"></i>
								<span>分享</span>
								<md-backdrop class="md-select-backdrop md-default-theme" ng-show="showShareTool"></md-backdrop>
								<div class="poi-dropdown-menu" ng-class="{'open': showShareTool}">
									<div class="menu-item"><i class="icon-Facebook"></i>Facebook</div>
									<div class="menu-item"><i class="icon-Twitter"></i>Twitter</div>
									<div class="menu-item"><i class="icon-Gplus"></i>Google+</div>
									<div class="menu-item"><i class="icon-Link"></i>複製網址</div>
								</div>
							</div>
							<div class="tool" ng-click="showMoreTool=!showMoreTool">
								<i class="icon-More-2"></i>
								<span>更多</span>
								<md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool"></md-backdrop>
								<div class="poi-dropdown-menu" ng-class="{'open': showMoreTool}">
									<div class="menu-item" ng-click="bugReport($event)">問題回報</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="slideshow float-left" flex="35" flex-md="35" flex-sm="100">
							<div class="slides">
								<div class="slide" ng-repeat="item in slideList" ng-style="{'background-image':'url('+item.imgUrl+')', 'left':100*($index-currentSlideIdx)+'%'}">
									<span class="watermark">© flick-unlag</span>
								</div>
							</div>
							<div class="ctrl-btn prev" ng-click="prevSlide()" ng-show="currentSlideIdx>0">
								<i class="icon-Back"></i>
							</div>
							<div class="ctrl-btn next" ng-click="nextSlide()" ng-show="currentSlideIdx<(slideList.length-1)">
								<i class="icon-Forward"></i>
							</div>
							<div class="ctrl-panel" ng-show="slideList.length > 1">
								<div class="ctrl-point" ng-class="{'active': $index==currentSlideIdx}" ng-repeat="item in slideList" ng-click="setSlide($index)"></div>
							</div>
						</div>
						<div class="info remaining-width" flex="65" flex-md="65" flex-sm="100">
							<table class="table-info">
								<tr>
									<td class="name">收藏次數</td>
									<td class="content">234 人</td>
								</tr>
								<tr>
									<td class="name">多少人來過</td>
									<td class="content">1,732 人</td>
								</tr>
								<tr>
									<td class="name">網站連結</td>
									<td class="content">
										<a href="http://dintaifung.incdoor.com" inner-frame-dialog class="link">http://dintaifung.incdoor.com</a>
									</td>
								</tr>
							</table>
						</div>
						<div class="clear"></div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>介紹資訊</h3>
							</div>
							<div class="description" ng-class="{'expand':trafficInfo}">和運租車股份有限公司簡稱和運租車，是臺灣一家汽車租賃公司，為和泰汽車與日本豐田金融服務株式會社於1999年5月24日合資創立。該公司目前是臺灣最大的租車公司，市場佔有率約26%。關係企業臺灣 和潤企業股份有限公司：金融貸款業務 臺南分公司：臺南市永康區中正南路380號 臺中分公司：臺中市西屯區臺灣大道（臺中港路）2段65號1樓 高雄分公司：高雄市三民區博愛一路6號1樓中國 和運國際租賃有限公司：中國上海市普陀區怒江北路427號9樓公司沿革 1999年：5月24日，和泰汽車轉投資成立和運租車股份有限公司。 2002年：8月，日本豐田金融服務株式會社參與投資和運租車。 2005年：8月，和運租車獲得ISO 9001品保認證。 2007年：8月，和運租車獲得中華民國經濟部商業司優良服務作業規範（GSP）之認證，為臺灣汽車租賃業界首創。 2012年：6月20日，經董事會遴選，和運租車新任董事長黃南光上任。</div>
							<div class="info-expand">
								<span ng-click="toggleBool('trafficInfo')" ng-show="!trafficInfo">顯示全部</span>
								<span ng-click="toggleBool('trafficInfo')" ng-show="trafficInfo">顯示部分</span>
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="map float-right"></div>
						<div class="info remaining-width">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>地理位置</h3>
							</div>
							<table class="table-info">
								<tr>
									<td class="name">景點地址</td>
									<td class="content">臺北市信義區信義路5段7號</td>
								</tr>
								<tr>
									<td class="name">連絡電話</td>
									<td class="content">02-8101-8934</td>
								</tr>
								<tr>
									<td class="name">營業時間</td>
									<td class="content">
										4F 週一至週日11:00~22:00，<br>
										B1~3F、5F 週日至週四11:00~21:30，<br>
										B1、1~5F 週五、週六、例假日前及當天11:00~22:00
									</td>
								</tr>
							</table>
						</div>
						<div class="clear"></div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>相關影音</h3>
							</div>
							<div class="videos" layout="row" layout-wrap>
								<div class="video-wrap" ng-repeat="item in videos" flex="50" flex-md="50" flex-sm="100">
									<div class="video">
										<a href="">
											<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})">
												<!-- <i class="icon-Play"></i> -->
											</div>
										</a>
										<div class="summary remaining-width">
											<h4 class="title">{{item.title}}</h4>
											<div class="meta">{{item.author}} / 觀看次數 : {{item.viewcount}}</div>
											<p class="description">{{item.description}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>合作活動</h3>
							</div>
							<div class="activity" ng-repeat="item in activities">
								<div class="border">
									<div class="buttons float-right">
										<div class="button blue">活動說明</div>
									</div>
									<div class="summary remaining-width">
										<h4 class="title">{{item.title}}</h4>
										<span class="date">{{item.startDate}} ~ {{item.endDate}}</span>
										<div class="message">{{item.message}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>相關遊記</h3>
								<a href="#/travelNotes"><div class="info-more">更多遊記 》</div></a>
							</div>
							<div class="slideshow multi-slide">
								<div class="slides" ng-style="{'width':100*(travelNotes.length+1)+'%', 'margin-left':100*($index-travelSlide.currentIdx)+'%'}">
									<div class="slide" ng-class="{'active': $index==travelSlide.currentIdx}" ng-repeat="events in travelNotes" ng-style="{'width':100/(travelNotes.length+1)+'%'}">
										<div class="events" layout="row" layout-wrap>
											<div class="event-wrap" ng-repeat="item in events" flex="33" flex-md="33" flex-sm="100">
												<div class="event">
													<a href="#/travelNotes/poi">
														<div class="thumbnail" style="background-image: url(../public/images/trips/trip-{{$index%8+1}}.jpg)">
														</div>
													</a>
													<div class="summary">
														<div class="info has-author-img">
															<div class="author-img" style="background-image: url(../public/images/avatars/{{$index%4+1}}.jpg)"></div>
															<div class="author-name">{{item.author}}</div>
															<h4 class="title row-2">{{item.title}}</h4>
															<p  class="left-date" ><i class="icon-Clock-2"></i> <span>{{item.date}} </span></p>
															<p class="destit"><i class="icon-Views"></i> {{item.view}}</p>
															<p class="destit"><i class="icon-Comments"></i> {{item.comment}}</p>
															<p style="clear: both;"></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="control-block" ng-show="travelNotes.length > 1">
								<div class="control control-left" ng-click="travelSlide.prev()">
									<span></span>
								</div>
								<div class="control-point-block">
									<div class="control-point" ng-class="{'active': $index==travelSlide.currentIdx}" ng-repeat="item in travelNotes" ng-click="travelSlide.set($index)">
										<span></span>
									</div>
								</div>
								<div class="control control-right" ng-click="travelSlide.next()">
									<span></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>相關行程</h3>
								<a href="#/trips"><div class="info-more">更多行程 》</div></a>
							</div>
							<div class="slideshow multi-slide">
								<div class="slides" ng-style="{'width':100*(trips.length+1)+'%', 'margin-left':100*($index-tripSlide.currentIdx)+'%'}">
									<div class="slide" ng-class="{'active': $index==tripSlide.currentIdx}" ng-repeat="events in trips" ng-style="{'width':100/(trips.length+1)+'%'}">
										<div class="events" layout="row" layout-wrap>
											<div class="event-wrap" ng-repeat="item in events" flex="33" flex-md="33" flex-sm="100">
												<div class="event">
													<a href="#/trips/poi">
														<div class="thumbnail" style="background-image: url(../public/images/trips/trip-{{$index%8+1}}.jpg)">
															<div class="blduration">0{{trip.days}}<span>天</span></div>

														</div>
													</a>
													<div class="summary">
														<div class="info has-author-img">
															<div class="author-img" style="background-image: url(../public/images/avatars/{{$index%4+1}}.jpg)"></div>
															<div class="author-name">{{item.author}}</div>
															<h4 class="title row-2">{{item.title}}</h4>
															<p class="destit"><i class="icon-Views"></i> {{item.view}}</p>
															<p class="destit"><i class="icon-Comments"></i> {{item.comment}}</p>
															<p style="clear: both;"></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="control-block" ng-show="trips.length > 1">
								<div class="control control-left" ng-click="tripSlide.prev()">
									<span></span>
								</div>
								<div class="control-point-block">
									<div class="control-point" ng-class="{'active': $index==tripSlide.currentIdx}" ng-repeat="item in trips" ng-click="tripSlide.set($index)">
										<span></span>
									</div>
								</div>
								<div class="control control-right" ng-click="tripSlide.next()">
									<span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>評論 (20)</h3>
							</div>
						</div>
						<div class="comments">
							<div class="comment-wrap">
								<div class="thumbnail-wrap">
									<div class="thumbnail" style="background-image:url({{comment.authorImg}})">
									</div>
								</div>
								<div class="content-wrap">
									<div class="author">{{comment.author}}</div>
									<div class="ranks-wrap">
										<span>點擊進行評分</span>
										<div class="ranks">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<span>(還不錯)</span>
									</div>
									<div class="comment">
										<textarea ng-model="comment.comment" placeholder="這裡有哪些特色、哪裡好玩，趕緊跟大家分享你的看法"></textarea>
										<div class="word-count">{{comment.comment.length}}/140</div>
										<div class="button small blue" ng-click="addComment()">回覆</div>
									</div>
									<div class="content">
										<div class="images">
											<div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})">
												<div class="remove-btn"></div>
											</div>
										</div>
									</div>
									<div class="actions">
										<div class="action">
											<i class="icon-Camera"></i>
											分享照片
										</div>
									</div>
								</div>
							</div>
							<div class="comment-wrap" ng-repeat="comment in comments">
								<div class="thumbnail-wrap">
									<div class="thumbnail" style="background-image:url({{comment.authorImg}})">
									</div>
								</div>
								<div class="content-wrap">
									<div class="author">{{comment.author}}
										<span>{{comment.commentTime}}</span>
									</div>
									<div class="ranks-wrap">
										<div class="ranks">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
									</div>
									<div ng-hide="comment.editMode">
										<div class="content">
											<p>{{comment.comment}}</p>
											<div class="images">
												<div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})"></div>
											</div>
										</div>
										<div class="actions">
											<div class="action small">
												<i class="icon-ArrowUp"></i>
												有用 12
											</div>
											<div class="action" ng-click="toReply(comment)">回覆</div>
										</div>
										<div ng-show="comment.replyMode">
											<div class="comment">
												<textarea class="small" ng-model="comment.replyTemp"></textarea>
												<div class="button small blue" ng-click="addReply(comment)">回覆</div>
											</div>
											<div class="actions">
												<div class="word-count">24/140</div>
											</div>
										</div>
										<div class="comment-wrap" ng-repeat="reply in comment.replys">
											<div class="thumbnail-wrap">
												<div class="thumbnail" style="background-image:url({{reply.authorImg}})">
												</div>
											</div>
											<div class="content-wrap">
												<div class="author">{{reply.author}}
													<span>{{reply.commentTime}}</span>
												</div>
												<div ng-hide="reply.editMode">
													<div class="content">
														<p>{{reply.comment}}</p>
														<div class="images">
															<div class="image" ng-repeat="img in reply.images" style="background-image:url({{img}})"></div>
														</div>
													</div>
													<div class="actions">
														<div class="action small">
															<i class="icon-ArrowUp"></i>
															有用 12
														</div>
													</div>
												</div>
												<div ng-show="reply.editMode">
													<div class="comment">
														<textarea class="small" ng-model="reply.commentTemp"></textarea>
													</div>
													<div class="actions">
														<div class="word-count">24/140</div>
														<div class="button small" ng-click="cancelEditComment(reply)">取消</div>
														<div class="button small blue" ng-click="updateComment(reply)">確認修改</div>
													</div>
												</div>
											</div>
											<div class="comment-more" ng-click="reply.showMore=!reply.showMore">
												<i class="icon-ArrowDown"></i>
												<md-backdrop class="md-select-backdrop md-default-theme" ng-show="reply.showMore"></md-backdrop>
												<div class="poi-dropdown-menu" ng-class="{'open': reply.showMore}">
													<div class="menu-item" ng-click="editComment(reply)">編輯留言</div>
													<div class="menu-item" ng-click="deleteReply(comment, $index)">刪除留言</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-show="comment.editMode">
										<div class="comment">
											<textarea class="small" ng-model="comment.commentTemp"></textarea>
										</div>
										<div class="actions">
											<div class="word-count">24/140</div>
											<div class="button small" ng-click="cancelEditComment(comment)">取消</div>
											<div class="button small blue" ng-click="updateComment(comment)">確認修改</div>
										</div>
									</div>
								</div>
								<div class="comment-more" ng-click="comment.showMore=!comment.showMore">
									<i class="icon-ArrowDown"></i>
									<md-backdrop class="md-select-backdrop md-default-theme" ng-show="comment.showMore"></md-backdrop>
									<div class="poi-dropdown-menu" ng-class="{'open': comment.showMore}">
										<div class="menu-item" ng-click="editComment(comment)">編輯留言</div>
										<div class="menu-item" ng-click="deleteComment($index)">刪除留言</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div flex="30" flex-md="100" flex-sm="100">
					<div class="content-block other align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>周邊</h3>
							</div>
							<div class="content-types">
								<span class="type" ng-repeat="item in types" ng-click="selectType(item)" ng-class="{'active':currentType.id==item.id}">{{item.name}}</span>
							</div>
							<div class="content align-right" ng-repeat="item in spots">
								<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<p class="description">{{item.description}}</p>
									<div class="align-right">
										<div class="ranks float-left">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<div class="distance">{{item.distance}} 公里</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
