<div class="content-col">
	<div class="card box-shadow">
		<div class="header">
			<h4 class="title">景點資訊勘誤</h4>
            <div class="tab-bar">
                <div class="tab active">全部 26</div>
                <div class="tab">待審核 2</div>
                <div class="tab">已通過 23</div>
                <div class="tab">未通過 23</div>
            </div>
            <div class="tool-bar">
                <button class="button small blue" ng-click="showUserMenu=!showUserMenu">提供景點資訊</button>
                <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showUserMenu" ng-click="showUserMenu=!showUserMenu"></md-backdrop>
            <div class="poi-dropdown-menu align-center" ng-class="{'open': showUserMenu}" style="right: 0;left: 0; min-width: 120px;width: 120px;"> 
                <a class="menu-item" ng-click="editSpotsInfo($event)">景點</a>
                <a class="menu-item" href="/#/user/collect">美食</a>
                <a class="menu-item" href="/#/user/trips">住宿</a>
                <a class="menu-item" href="/#/user/funthings">商店</a>
            </div>
                <div class="search-wrap">
                    <div class="search">
                        <i class="icon icon-Search"></i>
                        <md-autocomplete
                            md-selected-item="selectedItem"
                            md-search-text-change="searchTextChange(setting.keyword)"
                            md-search-text="setting.keyword"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(setting.keyword)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="搜尋勘誤...">
                          <md-item-template>
                            <span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
                          </md-item-template>
                          <!-- <md-not-found>
                            No matches found for "{{setting.keyword}}".
                          </md-not-found> -->
                        </md-autocomplete>
                    </div>
                </div>
            </div>
		</div>
		<div class="content table-content no-padding">
            <table >
                <thead>
                    <tr>
                        <th>景點名稱</th>
                        <th>審核狀態</th>
                        <th>回覆訊息</th>
                        <th>送審日期</th>
                        <th class="align-center" hide-sm>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in spotsErrataList">
                        <td>
                            <a ng-href="{{item.link}}" class="link" ng-if="item.link">{{item.title}}</a>
                            <span class="title" ng-if="!item.link">{{item.title}}</span>
                        </td>
                        <td ng-class="{'gray':item.state=='wait', 'success':item.state=='success', 'fail':item.state=='fail'}">{{item.stateText}}</td>
                        <td>{{item.replyMsg}}</td>
                        <td>{{item.submitDate}}</td>
                        <td class="align-center" hide-sm>
                            <div class="tool" ng-click="item.showMoreTool=!item.showMoreTool">
                                <i class="icon-More-2"></i>
                                <md-backdrop class="md-select-backdrop md-default-theme" ng-show="item.showMoreTool"></md-backdrop>
                                <div class="poi-dropdown-menu" ng-class="{'open': item.showMoreTool}">
                                    <div class="menu-item">修改勘誤內容</div>
                                    <div class="menu-item">取消審查並刪除</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- 分頁 -->
            <section>
                <div class="section-wrap">
                    <div class="pagination">
                      <ul class="page-numbers">
                        <li><a href="" class="prev"><i class="icon-Back"></i></a></li>
                        <li><a href="">1</a></li>
                        <li><a href="" class="current" >2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="" class="next"><i class="icon-Forward"></i></a></li>
                      </ul>
                    </div>
                </div>
            </section>
		</div>
	</div>
</div>
