<div class="content-col">
	<div class="card box-shadow">
		<div class="header">
			<h4 class="title">訊息通知</h4>
		</div>
		<div class="content notification-list no-padding">
			<div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('./public/images/avatars/1.jpg')"></div>
                </a>
                <div class="info">
                    <p class="descript"><a href="#">艾美麗</a> 正在追蹤你。</p>
                    <span class="date">1小時前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('./public/images/avatars/2.jpg')"></div>
                </a>
                <div class="info">
                    <p class="descript">你提供的<a href="#">景點勘誤</a>已經被審核，感謝您提供寶貴的資訊。</p>
                    <span class="date">1小時前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('../public/images/ship.svg')"></div>
                </a>
                <div class="info">
                    <p class="descript">恭喜你達成成就，獲得海島之子勳章。</p>
                    <span class="date">1小時前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('./public/images/avatars/3.jpg')"></div>
                </a>
                <div class="info">
                    <p class="descript"><a href="#">賀少俠</a> 正在追蹤你。</p>
                    <span class="date">8小時前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('./public/images/avatars/2.jpg')"></div>
                </a>
                <div class="info">
                    <p class="descript">你提供的<a href="#">景點勘誤</a>已經被審核，感謝您提供寶貴的資訊。</p>
                    <span class="date">{{i}}天前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('./public/images/avatars/1.jpg')"></div>
                </a>
                <div class="info">
                    <p class="descript"><a href="#">艾美麗</a> 正在追蹤你。</p>
                    <span class="date">1小時前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('./public/images/avatars/2.jpg')"></div>
                </a>
                <div class="info">
                    <p class="descript">你提供的<a href="#">景點勘誤</a>已經被審核，感謝您提供寶貴的資訊。</p>
                    <span class="date">1小時前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('../public/images/ship.svg')"></div>
                </a>
                <div class="info">
                    <p class="descript">恭喜你達成成就，獲得海島之子勳章。</p>
                    <span class="date">1小時前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('./public/images/avatars/3.jpg')"></div>
                </a>
                <div class="info">
                    <p class="descript"><a href="#">賀少俠</a> 正在追蹤你。</p>
                    <span class="date">8小時前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('./public/images/avatars/2.jpg')"></div>
                </a>
                <div class="info">
                    <p class="descript">你提供的<a href="#">景點勘誤</a>已經被審核，感謝您提供寶貴的資訊。</p>
                    <span class="date">{{i}}天前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('./public/images/avatars/1.jpg')"></div>
                </a>
                <div class="info">
                    <p class="descript"><a href="#">艾美麗</a> 正在追蹤你。</p>
                    <span class="date">1小時前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('./public/images/avatars/2.jpg')"></div>
                </a>
                <div class="info">
                    <p class="descript">你提供的<a href="#">景點勘誤</a>已經被審核，感謝您提供寶貴的資訊。</p>
                    <span class="date">1小時前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('../public/images/ship.svg')"></div>
                </a>
                <div class="info">
                    <p class="descript">恭喜你達成成就，獲得海島之子勳章。</p>
                    <span class="date">1小時前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('./public/images/avatars/3.jpg')"></div>
                </a>
                <div class="info">
                    <p class="descript"><a href="#">賀少俠</a> 正在追蹤你。</p>
                    <span class="date">8小時前</span>
                </div>
            </div>
            <div class="notification-item">
                <a href="#">
                    <div class="thumbnail" style="background-image: url('./public/images/avatars/2.jpg')"></div>
                </a>
                <div class="info">
                    <p class="descript">你提供的<a href="#">景點勘誤</a>已經被審核，感謝您提供寶貴的資訊。</p>
                    <span class="date">{{i}}天前</span>
                </div>
            </div>
		</div>
	</div>
    <!-- 分頁 -->
    <section>
        <div class="section-wrap">
            <div class="pagination">
              <ul class="page-numbers">
                <li><a href="" class="prev"><i class="icon-Back"></i></a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="current" >2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">...</a></li>
                <li><a href="">5</a></li>
                <li><a href="" class="next"><i class="icon-Forward"></i></a></li>
              </ul>
            </div>
        </div>
    </section>
</div>
