<style>
  .marker {
    position: absolute;
    cursor:pointer;
    background-color: white;

  }
  .poiname{
    position:absolute;
    padding: 5px 8px 5px;
    background-color: #31C4FF;
    color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
  .poiname-click{
    padding: 5px 8px 5px;
    background-color: orangered;
    color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
  .tri-mid:after{
    content: '  ';
    position: absolute;
    border: 12px solid;
    right: 35%;
    bottom: -20px;
    border-color: #31C4FF transparent transparent transparent;
  }
  .tri-mid-click:after{
    content: '  ';
    position: absolute;
    border: 12px solid;
    right: 35%;
    bottom: -20px;
    border-color: orangered transparent transparent transparent;
  }
  .poiname-click a{
    color: inherit;
  }
  .poiname a{
    color: inherit;
  }

</style>
<div id="check-in-map">
  <div id="map" class="map" style="width:850px;height:960px;">

  </div>
</div>
