<div class="poi-page content gray">
	<section>
		<div class="section-wrap breadcrumb-wrap">
	    <a href="/#/purchases" class="breadcrumb">速購</a>
	    <i class="icon-Forward"></i>
	    <a href="/#/purchases/stores" class="breadcrumb">商品 / 商店優惠券</a>
	    <i class="icon-Forward"></i>
	    <a href="#" class="breadcrumb current">【奧地利 Kelly's 微波爆米花】奧地利超人氣！只要幾分鐘，甜、原味讓您任選！</a>
		</div>
	</section>
	<section>
		<div class="section-wrap no-top-padding no-bottom-padding">
			<div class="purchase-ticket" layout="row" layout-wrap>
				<div class="preview-container" flex="50" flex-md="100" flex-sm="100">
					<div class="preview large" style="background-image: url('../public/images/stores/1.png')"></div>
					<div class="preview-list">
						<div class="preview small active" style="background-image: url('../public/images/stores/2.png')"></div>
						<div class="preview small" style="background-image: url('../public/images/stores/3.png')"></div>
						<div class="preview small"></div>
					</div>
				</div>
				<div class="ticket-container" flex="50" flex-md="100" flex-sm="100">
					<div class="info-block">
						<h1 class="title">【奧地利 Kelly's 微波爆米花】奧地利超人氣！只要幾分鐘，甜、原味讓您任選！</h1>
						<div class="summary">
							<span>商品 / 商店優惠券</span>
							<div class="ranks hint hint--top" data-hint="平均 4.2 分">
								<i class="icon-Rank fill"></i>
								<i class="icon-Rank fill"></i>
								<i class="icon-Rank fill"></i>
								<i class="icon-Rank fill"></i>
								<i class="icon-Rank"></i>
							</div>
							<span>4.2分 / <a href="#" class="blue">12評價</a></span>
						</div>
						<div class="deadline">
							<i class="icon-Clock red"></i>
							<div class="time-wrap">
								<div class="number">00</div>
								<div class="unit">天</div>
							</div>
							<div class="time-wrap">
								<div class="number red">09</div>
								<div class="unit red">小時</div>
							</div>
							<div class="time-wrap">
								<div class="number">37</div>
								<div class="unit">分鐘</div>
							</div>
						</div>
                        <div class="discount"><span class="highlight">9</span>折</div>
					</div>
					<div class="info-block">
						<p class="descript">只要40元起(運費另計)，即可享有【奧地利 Kelly's】微波爆米花〈任選1包/12包/24包/32包，口味可選：奶油/焦糖</p>
					</div>
					<div class="info-block">
						<table class="table-info">
							<tr>
								<td class="name">優惠價</td>
								<td class="content">
                            		<div class="discount-price" ng-if="!ticketInfo.discountPrice"><span class="highlight">{{ticketInfo.price}}</span>元</div>
		                            <div class="discount-price red" ng-if="ticketInfo.discountPrice"><span class="highlight">{{ticketInfo.discountPrice}}</span>元</div>
		                            <div class="price" ng-if="ticketInfo.discountPrice">(原價 {{ticketInfo.price}} 元)</div>
								</td>
							</tr>
							<tr>
								<td class="name">網站連結</td>
								<td class="content">
									<a href="http://dintaifung.incdoor.com" inner-frame-dialog class="link">http://dintaifung.incdoor.com</a>
								</td>
							</tr>
							<tr>
								<td class="name">商店類別</td>
								<td class="content">商圈、文化藝術</td>
							</tr>
							<tr>
								<td class="name">票券類別</td>
								<td class="content">
									<div class="ticket-type active">折抵券</div>
									<div class="ticket-type">王品集團7折優惠券</div>
									<div class="help">
										<span class="help-tip">?</span>
										<div class="help-content">
											<div class="ticket-type-info">
												<div class="title">折抵券</div>
												<p class="desc">年紀 12 歲以下得符合資格</p>
											</div>
											<div class="ticket-type-info">
												<div class="title">王品集團7折優惠券</div>
												<p class="desc">凡 12 - 65 歲以下者符合資格</p>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="name">數量</td>
								<td class="content">
									<div class="number-input">
										<div class="decrease">-</div><input type="number" value="1"><div class="increase">+</div>
									</div>
									<span class="note">(庫存 : 219 件)</span>
								</td>
							</tr>
						</table>
					</div>
					<div class="info-block">
						<div>
							<button class="button large icon-button hint hint--top" data-hint="收藏">
								<i class="icon icon-Heart-2"></i>
							</button>
							<button class="button share large icon-button hint hint--top" data-hint="分享" ng-click="showShareTool=!showShareTool">
								<i class="icon icon-Share-3"></i>
								<md-backdrop class="md-select-backdrop md-default-theme" ng-show="showShareTool"></md-backdrop>
								<div class="poi-dropdown-menu" ng-class="{'open': showShareTool}">
									<div class="menu-item"><i class="icon-Facebook"></i>Facebook</div>
									<div class="menu-item"><i class="icon-Twitter"></i>Twitter</div>
									<div class="menu-item"><i class="icon-Gplus"></i>Google+</div>
									<div class="menu-item"><i class="icon-Link"></i>複製網址</div>
								</div>
							</button>
							<button class="button large add">加入購物車</button>
							<button class="button large buy">立刻購買</button>
						</div>
						<div class="pay-method-container">
							<span>付款方式</span>
							<div class="pay-method-list">
								<img class="pay-method" src="../public/images/pay/paypal.png" alt="paypal">
								<img class="pay-method" src="../public/images/pay/visa.png" alt="visa">
								<img class="pay-method" src="../public/images/pay/mastercard.png" alt="mastercard">
								<img class="pay-method" src="../public/images/pay/union.png" alt="union">
							</div>
							<a href="#">問題回報</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="section-wrap no-top-padding">
			<div layout="row" layout-wrap>
				<div class="poi-content" flex="70" flex-md="100" flex-sm="100">
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>詳細介紹</h3>
							</div>
							<div class="description expand">臺灣有所謂的偶戲三寶(皮影戲、布袋戲、傀儡戲)，自傳入臺灣以來，結合了本土風俗及信仰，早已發展成為獨特的臺灣偶戲藝術。隨著時間洪流，不論是在師傅手中活靈活現的表演戲偶、一旁樂師現場臨急應變的配樂演奏、或是一代替換過一代的臺下觀眾，乃至偶戲表演的目的從酬神到娛人，偶戲藝術所代表的意義也逐漸地在轉變當中。</div>
							<br><br><br>
							<div class="subtitle">
								<i class="mark"></i>
								<h3>使用規定</h3>
							</div>
							<div class="description expand">自民國100年7月29日起付費成功之兌換憑證所收取之金額將存入渥奇數位資訊股份有限公司(GROUPON TAIWAN)於華泰商業銀行開立之信託專戶專款專用，詳細說明請見使用者條款。 <br>
							信託存續期間：自發售日起算一年。</div>
							<br><br><br>
							<div class="subtitle">
								<i class="mark"></i>
								<h3>注意事項</h3>
							</div>
							<div class="description expand">
								優惠時段 <br>
								■ 優惠期間：2015年08月20日 至 2015年09月30日 <br>
								■ 優惠時間：各分店兌換時間不同，請參考下方店家資訊 <br>
								■ 請先致電店家確認國定假日、連續假期或特殊節慶能否兌換<br>
								特殊限制 <br>
								■ 需於5天前預約，請告知使用GROUPON兌換憑證 <br>
								■ 限店取，不提供宅配或外送  <br><br>
								一般注意事項 <br>
								■ 使用GROUPON憑證恕不兌現金、不找零 <br>
								■ 如有分店，購買時請先選擇，不可跨店使用，訂購成功後無法更換分店 <br>
								■ 如需預約，預約完成後方可兌換，實際預約情形需依店家當時狀況 <br>
								■ 不得與店內其他優惠共用 <br>
								■ 到店請出示兌換憑證：簡訊 / Email / APP憑證 / 紙本好康券，恕不接受未持憑證者 <br>
								■ 如網頁載明持憑證另享贈品或優惠，實際內容請依店家現場規定或當時供貨為準 <br>
								■ 吃到飽或抵用券等優惠，網頁提供參考菜色可能隨季節變化，實際價格及內容需以現場食材及時價為準 <br>
								■ 相關問題請於週一至週五09:00-18:30來電(02)27131485，來信tw_service@groupon.com，或點此查詢 <br>
								■ 適用於所有優惠的一般注意事項請看這邊
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="info remaining-width">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>適用店家</h3>
							</div>
							<div class="align-left">
								<div class="map float-right"></div>
								<table class="table-info has-map">
									<tr>
										<td rowspan="3" class="table-name">台北店</td>
										<td class="name">景點地址</td>
										<td class="content">臺北市信義區信義路5段7號</td>
									</tr>
									<tr>
										<td class="name">連絡電話</td>
										<td class="content">02-8101-8934</td>
									</tr>
									<tr>
										<td class="name">營業時間</td>
										<td class="content">
											4F 週一至週日11:00~22:00，<br>
											B1~3F、5F 週日至週四11:00~21:30，<br>
											B1、1~5F 週五、週六、例假日前及當天11:00~22:00
										</td>
									</tr>
								</table>
								<div class="clear"></div>
							</div>
							<div class="align-left">
								<div class="map float-right"></div>
								<table class="table-info has-map">
									<tr>
										<td rowspan="3" class="table-name">台北店</td>
										<td class="name">景點地址</td>
										<td class="content">臺北市信義區信義路5段7號</td>
									</tr>
									<tr>
										<td class="name">連絡電話</td>
										<td class="content">02-8101-8934</td>
									</tr>
									<tr>
										<td class="name">營業時間</td>
										<td class="content">
											4F 週一至週日11:00~22:00，<br>
											B1~3F、5F 週日至週四11:00~21:30，<br>
											B1、1~5F 週五、週六、例假日前及當天11:00~22:00
										</td>
									</tr>
								</table>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="promotions">
							<h3 class="title">2015 以草治夏活動 - 第一波
								<span class="sub-title">2015年6月12日 ~ 2015年7月30日</span>
							</h3>
							<p class="description">
								凡購買3塊肥皂（任選，不含衣皂與皂餅），送衣肥皂乙顆（價值NTD180）。全館滿額送，單筆消費滿 NTD 2,500 送阿原處處好＋好朋油（肩頸）30mL乙組（價值NTD1,340）
							</p>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>合作活動</h3>
							</div>
							<div class="activity" ng-repeat="item in activities">
								<div class="border">
									<div class="buttons float-right">
										<div class="button blue">活動說明</div>
									</div>
									<div class="summary remaining-width">
										<h4 class="title">{{item.title}}</h4>
										<span class="date">{{item.startDate}} ~ {{item.endDate}}</span>
										<div class="message">{{item.message}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="status-bar">
						<div class="message">
							本商品內容來自
							<a class="link blue" href="#">GOMAJI 夠麻吉</a>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>評論 (20)</h3>
							</div>
						</div>
						<div class="comments">
							<div class="comment-wrap">
								<div class="thumbnail-wrap">
									<div class="thumbnail" style="background-image:url({{comment.authorImg}})">
									</div>
								</div>
								<div class="content-wrap">
									<div class="author">{{comment.author}}</div>
									<div class="ranks-wrap">
										<span>點擊進行評分</span>
										<div class="ranks">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<span>(還不錯)</span>
									</div>
									<div class="comment">
										<textarea ng-model="comment.comment" placeholder="這裡有哪些特色、哪裡好玩，趕緊跟大家分享你的看法"></textarea>
										<div class="word-count">{{comment.comment.length}}/140</div>
										<div class="button small blue" ng-click="addComment()">回覆</div>
									</div>
									<div class="content">
										<div class="images">
											<div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})">
												<div class="remove-btn"></div>
											</div>
										</div>
									</div>
									<div class="actions">
										<div class="action">
											<i class="icon-Camera"></i>
											分享照片
										</div>
									</div>
								</div>
							</div>
							<div class="comment-wrap" ng-repeat="comment in comments">
								<div class="thumbnail-wrap">
									<div class="thumbnail" style="background-image:url({{comment.authorImg}})">
									</div>
								</div>
								<div class="content-wrap">
									<div class="author">{{comment.author}}
										<span>{{comment.commentTime}}</span>
									</div>
									<div class="ranks-wrap">
										<div class="ranks">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
									</div>
									<div ng-hide="comment.editMode">
										<div class="content">
											<p>{{comment.comment}}</p>
											<div class="images">
												<div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})"></div>
											</div>
										</div>
										<div class="actions">
											<div class="action small">
												<i class="icon-ArrowUp"></i>
												有用 12
											</div>
											<div class="action" ng-click="toReply(comment)">回覆</div>
										</div>
										<div ng-show="comment.replyMode">
											<div class="comment">
												<textarea class="small" ng-model="comment.replyTemp"></textarea>
												<div class="button small blue" ng-click="addReply(comment)">回覆</div>
											</div>
											<div class="actions">
												<div class="word-count">24/140</div>
											</div>
										</div>
										<div class="comment-wrap" ng-repeat="reply in comment.replys">
											<div class="thumbnail-wrap">
												<div class="thumbnail" style="background-image:url({{reply.authorImg}})">
												</div>
											</div>
											<div class="content-wrap">
												<div class="author">{{reply.author}}
													<span>{{reply.commentTime}}</span>
												</div>
												<div ng-hide="reply.editMode">
													<div class="content">
														<p>{{reply.comment}}</p>
														<div class="images">
															<div class="image" ng-repeat="img in reply.images" style="background-image:url({{img}})"></div>
														</div>
													</div>
													<div class="actions">
														<div class="action small">
															<i class="icon-ArrowUp"></i>
															有用 12
														</div>
													</div>
												</div>
												<div ng-show="reply.editMode">
													<div class="comment">
														<textarea class="small" ng-model="reply.commentTemp"></textarea>
													</div>
													<div class="actions">
														<div class="word-count">24/140</div>
														<div class="button small" ng-click="cancelEditComment(reply)">取消</div>
														<div class="button small blue" ng-click="updateComment(reply)">確認修改</div>
													</div>
												</div>
											</div>
											<div class="comment-more" ng-click="reply.showMore=!reply.showMore">
												<i class="icon-ArrowDown"></i>
												<md-backdrop class="md-select-backdrop md-default-theme" ng-show="reply.showMore"></md-backdrop>
												<div class="poi-dropdown-menu" ng-class="{'open': reply.showMore}">
													<div class="menu-item" ng-click="editComment(reply)">編輯留言</div>
													<div class="menu-item" ng-click="deleteReply(comment, $index)">刪除留言</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-show="comment.editMode">
										<div class="comment">
											<textarea class="small" ng-model="comment.commentTemp"></textarea>
										</div>
										<div class="actions">
											<div class="word-count">24/140</div>
											<div class="button small" ng-click="cancelEditComment(comment)">取消</div>
											<div class="button small blue" ng-click="updateComment(comment)">確認修改</div>
										</div>
									</div>
								</div>
								<div class="comment-more" ng-click="comment.showMore=!comment.showMore">
									<i class="icon-ArrowDown"></i>
									<md-backdrop class="md-select-backdrop md-default-theme" ng-show="comment.showMore"></md-backdrop>
									<div class="poi-dropdown-menu" ng-class="{'open': comment.showMore}">
										<div class="menu-item" ng-click="editComment(comment)">編輯留言</div>
										<div class="menu-item" ng-click="deleteComment($index)">刪除留言</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div flex="30" flex-md="100" flex-sm="100">
					<div class="content-block other align-left store">
						<div class="info">
							<div class="content align-right">
								<div class="thumbnail float-left" style="background-image:url('../public/images/stores/4.png')"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">尋堡 Finding Burger</h4>
									<div class="meta">
										<p>文化創意、傳統藝術</p>
										<p>37 評價 / 237 人收藏</p>
									</div>
									<div class="align-right">
										<div class="ranks float-left">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="two-button">
								<button class="button small">進店逛逛</button>
								<button class="button small blue"><i class="icon-Heart-2"></i>收藏商店</button>
							</div>
						</div>
					</div>
					<div class="content-block other align-left card-mode">
						<div class="info">
							<div class="subtitle">
								<h3>周邊景點</h3>
							</div>
							<div class="content align-right" ng-repeat="item in spots">
								<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<p class="description">{{item.description}}</p>
									<div class="align-right">
										<div class="ranks float-left">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<div class="distance">2 公里</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block other align-left card-mode">
						<div class="info">
							<div class="subtitle">
								<h3>其他商品推薦</h3>
							</div>
							<div class="content align-right" ng-repeat="item in otherProducts">
								<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<p class="description">{{item.description}}</p>
									<div class="align-right">
										<div class="ranks float-left">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block other align-left card-mode">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>相關遊記</h3>
							</div>
							<div class="content align-right" ng-repeat="item in relatedTravelNotes">
								<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<div class="meta">{{item.commentCount}} 評論 / {{item.collectCount}} 收藏</div>
									<div class="align-right">
										<div class="date">{{item.publishDate}}</div>
										<div class="author-wrap">
											<h4 class="author">{{item.author}}</h4>
											<div class="author-img" style="background-image:url({{item.authorImg}})"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
