<div class="content-col">
	<div class="card box-shadow">
		<div class="header">
			<h4 class="title">我的行程</h4>
            <div class="tool-bar">
                <div class="create-trip"><create-trip/></div>
                <div class="search-wrap">
                    <div class="search">
                        <i class="icon icon-Search"></i>
                        <md-autocomplete
                            md-selected-item="selectedItem"
                            md-search-text-change="searchTextChange(setting.keyword)"
                            md-search-text="setting.keyword"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(setting.keyword)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="搜尋行程">
                          <md-item-template>
                            <span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
                          </md-item-template>
                          <!-- <md-not-found>
                            No matches found for "{{setting.keyword}}".
                          </md-not-found> -->
                        </md-autocomplete>
                    </div>
                </div>
            </div>
		</div>
		<div class="content spot-list no-padding">
			<div class="spot">
                <a>
                    <div class="thumbnail" ng-style="{'background-image': 'url(../public/images/spots/spot-1.jpg)'}">
                    </div>
                </a>
                <div class="info">
                    <a>
                        <h4 class="title">悠閒台南3日遊
                        	<i class="icon-Lock"></i>
                        </h4>
                    </a>
                    <p class="summary">
                    	<span>2015年5月6日~2015年7月2日</span>
                    	<span>遊歷 5 縣市 10 景點</span>
                    </p>
                    <p class="descript">台中近來的新人氣景點，就是在台中火車站前的 宮原眼科，如果你沒來過的話，就遜了啊～宮原眼科現在可不是眼科，可是早期宮原眼科的建築。</p>
                    <div class="metas">
                        <div class="recommend">
                            <span>2015.06.01 出發</span> /
                            <span>共3日</span> /
                            <span>27 人收藏</span> /
                            <span>2 評論</span>
                        </div>
                    </div>
                </div>
				<div class="tool" ng-click="showMoreTool1=!showMoreTool1" hide-sm>
					<i class="icon-More-2"></i>
					<md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool1"></md-backdrop>
					<div class="poi-dropdown-menu" ng-class="{'open': showMoreTool1}">
						<div class="menu-item">修改行程</div>
						<div class="menu-item">刪除行程</div>
					</div>
				</div>
			</div>
			<div class="spot">
                <a>
                    <div class="thumbnail" ng-style="{'background-image': 'url(../public/images/spots/spot-2.jpg)'}">
                    </div>
                </a>
                <div class="info">
                    <a>
                        <h4 class="title">文化的探索</h4>
                    </a>
                    <p class="summary">
                    	<span>2015年5月6日~2015年7月2日</span>
                    	<span>遊歷 5 縣市 10 景點</span>
                    </p>
                    <p class="descript">台中近來的新人氣景點，就是在台中火車站前的 宮原眼科，如果你沒來過的話，就遜了啊～宮原眼科現在可不是眼科，可是早期宮原眼科的建築。</p>
                    <div class="metas">
                        <div class="recommend">
                            <span>2015.06.01 出發</span> /
                            <span>共3日</span> /
                            <span>27 人收藏</span> /
                            <span>2 評論</span>
                        </div>
                    </div>
                </div>
				<div class="tool" ng-click="showMoreTool2=!showMoreTool2" hide-sm>
					<i class="icon-More-2"></i>
					<md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool2"></md-backdrop>
					<div class="poi-dropdown-menu" ng-class="{'open': showMoreTool2}">
						<div class="menu-item">修改行程</div>
						<div class="menu-item">刪除行程</div>
					</div>
				</div>
			</div>
			<div class="spot">
                <a>
                    <div class="thumbnail" ng-style="{'background-image': 'url(../public/images/spots/spot-3.jpg)'}">
                    </div>
                </a>
                <div class="info">
                    <a>
                        <h4 class="title">墾丁原住民文化之旅
                        </h4>
                    </a>
                    <p class="summary">
                    	<span>2015年5月6日~2015年7月2日</span>
                    	<span>遊歷 5 縣市 10 景點</span>
                    </p>
                    <p class="descript">台中近來的新人氣景點，就是在台中火車站前的 宮原眼科，如果你沒來過的話，就遜了啊～宮原眼科現在可不是眼科，可是早期宮原眼科的建築。</p>
                    <div class="metas">
                        <div class="recommend">
                            <span>2015.06.01 出發</span> /
                            <span>共3日</span> /
                            <span>27 人收藏</span> /
                            <span>2 評論</span>
                        </div>
                    </div>
                </div>
				<div class="tool" ng-click="showMoreTool3=!showMoreTool3" hide-sm>
					<i class="icon-More-2"></i>
					<md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool3"></md-backdrop>
					<div class="poi-dropdown-menu" ng-class="{'open': showMoreTool3}">
						<div class="menu-item">修改行程</div>
						<div class="menu-item">刪除行程</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- 分頁 -->
    <section>
        <div class="section-wrap">
            <div class="pagination">
              <ul class="page-numbers">
                <li><a href="" class="prev"><i class="icon-Back"></i></a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="current" >2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">...</a></li>
                <li><a href="">5</a></li>
                <li><a href="" class="next"><i class="icon-Forward"></i></a></li>
              </ul>
            </div>
        </div>
    </section>
</div>
