<div class="content-col">
	<div class="card box-shadow">
		<div class="header large my-order-header">
            <div class="breadcrumb-wrap">
                <h4 class="title"><a href="/#/user/myOrder" class="breadcrumb">我的訂單</a></h4>
                <i class="icon-Forward"></i>
                <span class="breadcrumb current">訂單 1198797480945996</span>
            </div>
            <div class="tool-bar">
                <button class="button small" ng-click="purchaseReturn($event)">退貨</button>
                <button class="button small" ng-click="orderComment($event)">寫評價</button>
            </div>
		</div>
		<div class="content order-detail">
            <div class="order-info">
                <div class="header">
                    <h5 class="title">訂單資訊</h5>
                    <span class="meta">共計 3 樣商品，運費 120 元，合計 <span class="price">$580 元</span></span>
                </div>
                <div class="order-content">
                    <dl>
                        <dt>收貨人：</dt>
                        <dd>奧革士</dd>
                    </dl>
                    <dl>
                        <dt>收貨地址：</dt>
                        <dd>台北市松山區民生東路37巷324號7樓</dd>
                    </dl>
                    <dl>
                        <dt>訂單編號：</dt>
                        <dd>119873748217281837</dd>
                    </dl>
                    <dl>
                        <dt>建立時間：</dt>
                        <dd>2015-09-27 01:08:58</dd>
                    </dl>
                    <dl>
                        <dt>發貨時間：</dt>
                        <dd>2015-09-27 01:08:58</dd>
                    </dl>
                    <dl>
                        <dt>發票資訊：</dt>
                        <dd><a href="#">檢視發票</a></dd>
                    </dl>
                </div>
            </div>
            <div class="order-info">
                <div class="header">
                    <h5 class="title">賣家資訊</h5>
                </div>
                <div class="order-content">
                    <dl>
                        <dt>賣家名稱：</dt>
                        <dd><a href="#">台灣伴手禮會館</a></dd>
                    </dl>
                    <dl>
                        <dt>聯絡電話：</dt>
                        <dd>02-28913726</dd>
                    </dl>
                    <dl>
                        <dt>客服信箱：</dt>
                        <dd>product@service.com</dd>
                    </dl>
                </div>
            </div>
            <div class="order-info">
                <div class="header">
                    <h5 class="title">退貨資訊</h5>
                </div>
                <div class="order-content">
                    <dl>
                        <dt>申請日期：</dt>
                        <dd>2015-09-01</dd>
                    </dl>
                    <dl>
                        <dt>退貨代碼：</dt>
                        <dd>18617483123</dd>
                    </dl>
                    <dl>
                        <dt>退款日期：</dt>
                        <dd>2015-09-04</dd>
                    </dl>
                    <dl>
                        <dt>退款方式：</dt>
                        <dd>信用卡刷退</dd>
                    </dl>
                    <dl>
                        <dt>寄件地點：</dt>
                        <dd>台北市松山區民生東路37巷324號7樓</dd>
                    </dl>
                    <dl>
                        <dt>退貨說明：</dt>
                        <dd></dd>
                    </dl>
                </div>
            </div>
            <div class="order-info">
                <div class="header">
                    <h5 class="title">訂單明細</h5>
                </div>
                <div class="order-content no-padding">
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券 ✕ 1</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="ticket-list">
                            <div class="ticket">
                                <div class="barcode">
                                    <p class="number">66042-08A36-A1EBD</p>
                                    <img src="./public/images/barcode.png">
                                </div>
                                <div class="qrcode">
                                    <img src="./public/images/qrcode.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券 ✕ 2</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="ticket-list">
                            <div class="ticket">
                                <div class="barcode">
                                    <p class="number">66042-08A36-AE3K2</p>
                                    <img src="./public/images/barcode.png">
                                </div>
                                <div class="qrcode">
                                    <img src="./public/images/qrcode.png">
                                </div>
                            </div>
                            <div class="ticket">
                                <div class="barcode">
                                    <p class="number">66042-08A36-AE3K2</p>
                                    <img src="./public/images/barcode.png">
                                </div>
                                <div class="qrcode">
                                    <img src="./public/images/qrcode.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：伴手禮 ✕ 5</p>
                            <span class="price">$119</span>
                        </div>
                    </div>
                    <div class="order-item returned">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')">
                            <span class="return-mark">已退貨</span>
                        </div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：伴手禮 ✕ 5</p>
                            <span class="price">$119</span>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
