<div class="content-col">
	<div class="article service">
		<h1 class="title">網站資訊使用聲明</h1>

		<h2>一、著作權聲明</h2>
		<p class="descript">1. 財團法人資訊工業策進會 Smart Tourism Taiwan 台灣智慧觀光網站（以下簡稱台灣智慧觀光網站）上刊載之所有內容，包括其文字敘述、攝影、圖片、錄音、影像、視聽及其他資訊等，均受著作權法保護。機關、學校、公司單位內部或個人可使用台灣智慧觀光網站上之資訊，但不得逾越著作權法的規範。 </p>
		<p class="descript">2. 資策會之合作或有合約之授權單位得在授權範圍內使用台灣智慧觀光網站上所刊載以資策會名義公開發表之著作；但利用資策會前述著作時，請明示其出處。使用者若需運用台灣智慧觀光網站資訊，其重製部分或全部內容或製作衍生產品，對他人傳播或加值應用，除不得改變相關資訊原意外並請尊重資策會著作權，應事先取得資策會同意。</p>
		<p class="descript">3. 台灣智慧觀光網站資訊內容若有其他著作權人之著作內容，則應取得該著作權人同意後，方得刊載。 </p>
		
		<h2>二、連結至台灣智慧觀光網站</h2>
		<p class="descript">1. 任何網站可與台灣智慧觀光網站網址（www.vztaiwan.com）作連結，且連結時須明白顯示台灣智慧觀光正式CIS標識。 </p>
		<p class="descript">2. 台灣智慧觀光網站上檔案之名稱、位置及內容格式會不定期更新或異動，故不建議您連結至特定檔案(如html)或採用自動擷取方式取用相關資訊。</p>
		
		<h2>三、資策會網站之相關連結</h2>
		<p class="descript">為提供網路使用者之便利性，台灣智慧觀光網站僅提供相關網站之連結，對於涉及該網站內容之使用行為，資策會不負責任也不擔保其正確性、即時性、完整性及安全性。</p>
		
		<h2>四、免責聲明</h2>
		<p class="descript">台灣智慧觀光網站所提供之資料，資策會將盡力確保其即時性及正確性，惟相關內容可能隨時依實際狀況進行異動更新或改版，資策會並不負預先通知之責，使用者應自行注意取用最新之資料，與瞭解相關資訊的意義及使用限制並正確運用相關資訊，以避免不當的解讀。</p>

		<h2>五、資訊安全政策</h2>
		<p class="descript">本網站資訊安全作業及保護、資訊安全權責與教育訓練，以及系統存取控制等資訊安全管理，均依照資策會資訊安全相關規範進行控管。</p>
	</div>
</div>
<div class="clear"></div>
