<div class="poi-page content gray container-bar">
	<section>
		<div class="section-wrap breadcrumb-wrap">
			<a href="#" class="breadcrumb">首頁</a>
			<i class="icon-Forward"></i>
			<a href="#" class="breadcrumb">活動</a>
			<i class="icon-Forward"></i>
			<a href="#" class="breadcrumb current">雲林國際偶戲節</a>
		</div>
	</section>
	<section>
		<div class="section-wrap no-top-padding">
			<div layout="row" layout-wrap>
				<div class="poi-content" flex="70" flex-md="100" flex-sm="100">
					<div class="content-block align-right">
						<div class="info float-left">
							<h2 class="title">雲林國際偶戲節</h2>
							<div class="summary">
								<span>雲林縣 / 商圈、文化藝術</span>
								
							</div>
						<div class="summary">
								<div class="ranks hint hint--top" data-hint="4.2">
									<i class="icon-Rank fill"></i>
									<i class="icon-Rank fill"></i>
									<i class="icon-Rank fill"></i>
									<i class="icon-Rank fill"></i>
									<i class="icon-Rank"></i>
								</div>
								<span class="maginlr"> </span><i class="icon-Comments"></i> 32<span class="maginlr"> </span><i class="icon-Heart"></i> 503<span class="maginlr"> </span><i class="icon-Views"></i> 503
							</div>

						</div>


						<div class="tool-bar">
							<div class="tool" ng-click="isCollect=!isCollect" ng-class="{'active':isCollect}">
								<i class="icon-Heart-2 delay"></i>
								<i class="icon-Heart-2 animate" ng-class="{'animate-active':isCollect}" ng-hide="isCollect"></i>
								<span>收藏</span>
							</div>
							<div class="tool" ng-click="isBeen=!isBeen" ng-class="{'active':isBeen}">
								<i class="icon-Location-2" ng-if="!isBeen"></i>
								<i class="icon-Check-2" ng-if="isBeen"></i>
								<span>去過</span>
							</div>
							<div class="tool" ng-click="showShareTool=!showShareTool">
								<i class="icon-Share-3"></i>
								<span>分享</span>
								<md-backdrop class="md-select-backdrop md-default-theme" ng-show="showShareTool"></md-backdrop>
								<div class="poi-dropdown-menu" ng-class="{'open': showShareTool}">
									<div class="menu-item"><i class="icon-Facebook"></i>Facebook</div>
									<div class="menu-item"><i class="icon-Twitter"></i>Twitter</div>
									<div class="menu-item"><i class="icon-Gplus"></i>Google+</div>
									<div class="menu-item"><i class="icon-Link"></i>複製網址</div>
								</div>
							</div>
							<div class="tool" ng-click="showMoreTool=!showMoreTool">
								<i class="icon-More-2"></i>
								<span>更多</span>
								<md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool"></md-backdrop>
								<div class="poi-dropdown-menu" ng-class="{'open': showMoreTool}">
									<div class="menu-item" ng-click="editSpotsInfo($event)">增加/修改景點資訊</div>
									<div class="menu-item" ng-click="violationsReport($event)">檢舉/不恰當的內容</div>
									<div class="menu-item" ng-click="bugReport($event)">問題回報</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="slideshow float-left" flex="35" flex-md="35" flex-sm="100">
							<div class="slides">
								<div class="slide" ng-repeat="item in slideList" ng-style="{'background-image':'url('+item.imgUrl+')', 'left':100*($index-currentSlideIdx)+'%'}">
									<span class="watermark">© flick-unlag</span>
								</div>
							</div>
							<div class="ctrl-btn prev" ng-click="prevSlide()" ng-show="currentSlideIdx>0">
								<i class="icon-Back"></i>
							</div>
							<div class="ctrl-btn next" ng-click="nextSlide()" ng-show="currentSlideIdx<(slideList.length-1)">
								<i class="icon-Forward"></i>
							</div>
							<div class="ctrl-panel" ng-show="slideList.length > 1">
								<div class="ctrl-point" ng-class="{'active': $index==currentSlideIdx}" ng-repeat="item in slideList" ng-click="setSlide($index)"></div>
							</div>
						</div>
						<div class="info remaining-width" flex="65" flex-md="65" flex-sm="100">
							<table class="table-info">
								<tr>
									<td class="name">收藏次數</td>
									<td class="content">234 人</td>
								</tr>
								<tr>
									<td class="name">多少人來過</td>
									<td class="content">1,732 人</td>
								</tr>
								<tr>
									<td class="name">活動時間</td>
									<td class="content">2015年6月1日 ~ 2015年6月31日
										<span class="expired">已過期</span>
									</td>
								</tr>
								<tr>
									<td class="name">活動網站</td>
									<td class="content">
										<a href="http://dintaifung.incdoor.com" inner-frame-dialog class="link">http://dintaifung.incdoor.com</a>
									</td>
								</tr>
								<tr>
									<td class="name">主辦單位</td>
									<td class="content">雲林縣政府</td>
								</tr>
								<tr>
									<td class="name">相關標籤</td>
									<td class="content">
										<div class="labels" ng-class="{'expand':labels}">
											<div class="label">好吃</div>
											<div class="label">適合聚餐</div>
											<div class="label">老闆親切</div>
											<div class="label">裝潢漂亮</div>
										</div>
										<div class="label-expand" ng-click="toggleBool('labels')" ng-show="!labels">
											<span>顯示全部</span>
											<i class="icon-ArrowDown"></i>
										</div>
										<div class="label-expand" ng-click="toggleBool('labels')" ng-show="labels">
											<span>顯示部分</span>
											<i class="icon-ArrowUp"></i>
										</div>
									</td>
								</tr>
							</table>
						</div>
						<div class="clear"></div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>活動介紹</h3>
							</div>
							<div class="description" ng-class="{'expand':eventInfo}">臺灣有所謂的偶戲三寶(皮影戲、布袋戲、傀儡戲)，自傳入臺灣以來，結合了本土風俗及信仰，早已發展成為獨特的臺灣偶戲藝術。隨著時間洪流，不論是在師傅手中活靈活現的表演戲偶、一旁樂師現場臨急應變的配樂演奏、或是一代替換過一代的臺下觀眾，乃至偶戲表演的目的從酬神到娛人，偶戲藝術所代表的意義也逐漸地在轉變當中。</div>
							<div class="info-expand">
								<span ng-click="toggleBool('eventInfo')" ng-show="!eventInfo">顯示全部</span>
								<span ng-click="toggleBool('eventInfo')" ng-show="eventInfo">顯示部分</span>
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="map float-right"></div>
						<div class="info remaining-width">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>地理位置</h3>
							</div>
							<table class="table-info">
								<tr>
									<td class="name">景點地址</td>
									<td class="content">臺北市信義區信義路5段7號</td>
								</tr>
								<tr>
									<td class="name">連絡電話</td>
									<td class="content">02-8101-8934</td>
								</tr>
								<tr>
									<td class="name">營業時間</td>
									<td class="content">
										週三~週日，10:00 ~ 18:00（中午不休館）
									</td>
								</tr>
							</table>
						</div>
						<div class="clear"></div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>相關影音</h3>
							</div>
							<div class="videos" layout="row" layout-wrap>
								<div class="video-wrap" ng-repeat="item in videos" flex="50" flex-md="50" flex-sm="100">
									<div class="video">
										<a href="">
											<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})">
												<!-- <i class="icon-Play"></i> -->
											</div>
										</a>
										<div class="summary remaining-width">
											<h4 class="title">{{item.title}}</h4>
											<div class="meta">{{item.author}} / 觀看次數 : {{item.viewcount}}</div>
											<p class="description">{{item.description}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>門票購買</h3>
							</div>
							<div class="ticket" ng-repeat="item in tickets">
								<div class="border">
									<div class="summary remaining-width float-left">
										<h4 class="title">{{item.title}}</h4>
										<div class="message orange" ng-show="item.preferentialMsg">{{item.preferentialMsg}}</div>
										<div class="message" ng-show="item.price">{{item.type}} / <span class="blue">售價 NT {{item.price}} 元</span></div>
									</div>
									<div class="buttons">
										<div class="button orange" ng-hide="item.price">免費領取</div>
										<div class="button blue" ng-show="item.price">立刻購買</div>
										<div class="button">加入購物車</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>合作活動</h3>
							</div>
							<div class="activity" ng-repeat="item in activities">
								<div class="border">
									<div class="summary remaining-width float-left">
										<h4 class="title">{{item.title}}</h4>
										<span class="date">{{item.startDate}} ~ {{item.endDate}}</span>
										<div class="message">{{item.message}}</div>
									</div>
									<div class="buttons">
										<div class="button blue">活動說明</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>雲林國際偶戲節系列活動</h3>
								<div class="info-more">更多活動 》</div>
							</div>
							<div class="slideshow multi-slide">
								<div class="slides" ng-style="{'width':100*(eventsGroup.length+1)+'%', 'margin-left':100*($index-eventsSlide.currentIdx)+'%'}">
									<div class="slide" ng-class="{'active': $index==eventsSlide.currentIdx}" ng-repeat="events in eventsGroup" ng-style="{'width':100/(eventsGroup.length+1)+'%'}">
										<div class="events" layout="row" layout-wrap>
											<div class="event-wrap" ng-repeat="item in events" flex="25" flex-md="25" flex-sm="100">
												<div class="event">
													<a href="">
														<div class="thumbnail" style="background-image:url({{item.thumbnail}})">
														</div>
													</a>
													<div class="summary">
														<h4 class="title">{{item.title}}</h4>
														<div class="meta">{{item.type}} / 門票 {{item.price}}元</div>
														<div class="date-block">
															<span class="expired-tag" ng-if="item.expired">已過期</span>
															<span class="date" ng-if="!item.expired">{{item.startDate}} ~ {{item.endDate}}</span>
															<span class="date expired" ng-if="item.expired">已於 {{item.endDate}} 結束</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="control-block" ng-show="eventsGroup.length > 1">
								<div class="control control-left" ng-click="eventsSlide.prev()">
									<span></span>
								</div>
								<div class="control-point-block">
									<div class="control-point" ng-class="{'active': $index==eventsSlide.currentIdx}" ng-repeat="item in eventsGroup" ng-click="eventsSlide.set($index)">
										<span></span>
									</div>
								</div>
								<div class="control control-right" ng-click="eventsSlide.next()">
									<span></span>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="status-bar align-right">
						<div class="float-left align-left">
							<div class="link">
								<i class="icon-Create"></i>
								<span>增加/修改景點資訊</span>
							</div>
							<div class="message">
								奧格士、小波 等3位會員參與了編輯
							</div>
						</div>
						<div class="date">
							景點內容最後更新時間：2015年03月02日
						</div>
					</div> -->
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>評論 (20)</h3>
							</div>
						</div>
						<div class="comments">
							<div class="comment-wrap">
								<div class="thumbnail-wrap">
									<div class="thumbnail" style="background-image:url({{comment.authorImg}})">
									</div>
								</div>
								<div class="content-wrap">
									<div class="author">{{comment.author}}</div>
									<div class="ranks-wrap">
										<span>點擊進行評分</span>
										<div class="ranks">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<span>(還不錯)</span>
									</div>
									<div class="comment">
										<textarea ng-model="comment.comment" placeholder="這裡有哪些特色、哪裡好玩，趕緊跟大家分享你的看法"></textarea>
										<div class="word-count">{{comment.comment.length}}/140</div>
										<div class="button small blue" ng-click="addComment()">回覆</div>
									</div>
									<div class="content">
										<div class="images">
											<div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})">
												<div class="remove-btn"></div>
											</div>
										</div>
									</div>
									<div class="actions">
										<div class="action">
											<i class="icon-Camera"></i>
											分享照片
										</div>
									</div>
								</div>
							</div>
							<div class="comment-wrap" ng-repeat="comment in comments">
								<div class="thumbnail-wrap">
									<div class="thumbnail" style="background-image:url({{comment.authorImg}})">
									</div>
								</div>
								<div class="content-wrap">
									<div class="author">{{comment.author}}
										<span>{{comment.commentTime}}</span>
									</div>
									<div class="ranks-wrap">
										<div class="ranks">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
									</div>
									<div ng-hide="comment.editMode">
										<div class="content">
											<p>{{comment.comment}}</p>
											<div class="images">
												<div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})"></div>
											</div>
										</div>
										<div class="actions">
											<div class="action small">
												<i class="icon-ArrowUp"></i>
												有用 12
											</div>
											<div class="action" ng-click="toReply(comment)">回覆</div>
										</div>
										<div ng-show="comment.replyMode">
											<div class="comment">
												<textarea class="small" ng-model="comment.replyTemp"></textarea>
												<div class="button small blue" ng-click="addReply(comment)">回覆</div>
											</div>
											<div class="actions">
												<div class="word-count">24/140</div>
											</div>
										</div>
										<div class="comment-wrap" ng-repeat="reply in comment.replys">
											<div class="thumbnail-wrap">
												<div class="thumbnail" style="background-image:url({{reply.authorImg}})">
												</div>
											</div>
											<div class="content-wrap">
												<div class="author">{{reply.author}}
													<span>{{reply.commentTime}}</span>
												</div>
												<div ng-hide="reply.editMode">
													<div class="content">
														<p>{{reply.comment}}</p>
														<div class="images">
															<div class="image" ng-repeat="img in reply.images" style="background-image:url({{img}})"></div>
														</div>
													</div>
													<div class="actions">
														<div class="action small">
															<i class="icon-ArrowUp"></i>
															有用 12
														</div>
													</div>
												</div>
												<div ng-show="reply.editMode">
													<div class="comment">
														<textarea class="small" ng-model="reply.commentTemp"></textarea>
													</div>
													<div class="actions">
														<div class="word-count">24/140</div>
														<div class="button small" ng-click="cancelEditComment(reply)">取消</div>
														<div class="button small blue" ng-click="updateComment(reply)">確認修改</div>
													</div>
												</div>
											</div>
											<div class="comment-more" ng-click="reply.showMore=!reply.showMore">
												<i class="icon-ArrowDown"></i>
												<md-backdrop class="md-select-backdrop md-default-theme" ng-show="reply.showMore"></md-backdrop>
												<div class="poi-dropdown-menu" ng-class="{'open': reply.showMore}">
													<div class="menu-item" ng-click="editComment(reply)">編輯留言</div>
													<div class="menu-item" ng-click="deleteReply(comment, $index)">刪除留言</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-show="comment.editMode">
										<div class="comment">
											<textarea class="small" ng-model="comment.commentTemp"></textarea>
										</div>
										<div class="actions">
											<div class="word-count">24/140</div>
											<div class="button small" ng-click="cancelEditComment(comment)">取消</div>
											<div class="button small blue" ng-click="updateComment(comment)">確認修改</div>
										</div>
									</div>
								</div>
								<div class="comment-more" ng-click="comment.showMore=!comment.showMore">
									<i class="icon-ArrowDown"></i>
									<md-backdrop class="md-select-backdrop md-default-theme" ng-show="comment.showMore"></md-backdrop>
									<div class="poi-dropdown-menu" ng-class="{'open': comment.showMore}">
										<div class="menu-item" ng-click="editComment(comment)">編輯留言</div>
										<div class="menu-item" ng-click="deleteComment($index)">刪除留言</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div flex="30" flex-md="100" flex-sm="100">
					<div class="content-block other align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>周邊</h3>
							</div>
							<div class="content-types">
								<span class="type" ng-repeat="item in types" ng-click="selectType(item)" ng-class="{'active':currentType.id==item.id}">{{item.name}}</span>
							</div>
							<div class="content align-right" ng-repeat="item in spots">
								<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<p class="description">{{item.description}}</p>
									<div class="align-right">
										<div class="ranks float-left">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<div class="distance">{{item.distance}} 公里</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block other align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>猜你喜歡</h3>
							</div>
							<div class="content align-right" ng-repeat="item in guessYouLike">
								<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<p class="description">{{item.description}}</p>
									<div class="align-right">
										<div class="ranks float-left">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<div class="distance">{{item.distance}} 公里</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block other align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>達人部落格</h3>
							</div>
							<div class="content align-right" ng-repeat="item in blogs">
								<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<div class="date">
										<span>{{item.publishDate}}</span>
										<span>{{item.blogName}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
