<div class="content-col">
	<div class="card box-shadow">
		<div class="header large my-order-header">
            <div class="breadcrumb-wrap">
                <h4 class="title"><a href="/#/user/coupon" class="breadcrumb"> V 幣換禮物</a></h4>
                <i class="icon-Forward"></i>
                <span class="breadcrumb current">可兌換</span>
                <i class="icon-Forward"></i>
                <span class="title breadcrumb current">台北 - 金荷MINI涮涮鍋</span>
            </div>
            <div class="tool-bar">
                <div class="right-coin"><img src="../public/images/coin.png" style="line-height:1.5em;vertical-align: middle;" alt=""><span class="coin">可兌換V幣 <span class="mcount"> 15</span></span><span class="acoin">已兌換V幣 <span class="mcount"> 250</span></span>
                </div>
            </div>
        </div>
        <div class="content coupon-detail">

         <div class="coupon" >
            <div class="coupon-left">
               <a>
                <div class="thumbnail" ng-style="{'background-image': 'url(../public/images/spots/spot-4.jpg)'}">
                </div>
            </a>
            <div class="info">
                    <h4 class="title">台北 - 水舞饌(大直店)</h4>
                <div class="metas">
                    <div class="recommend">
                        <span>格上汽車租賃(股)公司</span> / <span>有效時間：2015-11-22 至 2016-02-29</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="coupon-right" ng-if="nowtype==3">
          <img src="../public/images/lcoin.png"  width="24px" height="24px" style="line-height:1.5em;vertical-align: middle;" alt="">　X　<span class="count"> 50 </span><a class="button big gray">金幣不足</a>
       </div>
         <div class="coupon-right" ng-if="nowtype==2">
           <img src="../public/images/stamp.svg" style="margin-right: 50px;">
       </div>
        <div class="coupon-right" ng-if="nowtype==1">
      <div class="serial">兌換序號 <br>66042-08A36-A1EBD</div> 
       </div>
       <div class="clear"></div>

   </div>

   

   <div class="coupon-info">
    <p>品項名稱：台北 - 水舞饌(大直店)</p>
    <p>提供單位 - EZTABLE</p>
    <p>品項描述：<blackquote>水舞饌-大直店，耗資千萬打造了高現代感的創意空間，結合東方人文色彩以及 Lounge Bar 的舒適感受，營造視覺與味覺並重的高質感用餐氛圍，展現獨創一格的時尚創作料理。 
        懸在空中、立在桌面上大大小小、五顏六色的鳥籠，透著大片玻璃落地窗灑下的陽光，加上環繞四周的綠意花草，輝映出光影與視覺的趣味。</blackquote> </p>
        <p>相關連結：<a href="#">https://www.google.com.tw/</a>
            <p>建立時間：2015年01月27日</p>
            <p>有效時間：即日起至2015年01月27日</p>
            </div>
            <div class="coupon-info">
                <div class="header">
                    <h5 class="title">注意事項</h5>
                </div>
                <div class="coupon-content">
                    <ul>
                        <li>平日定義：週一~週四，不含國定假日/連續假日及其前一天。假日：平日以外皆為假日。</li>
                        <li>本優惠恕不適用於農曆春節期間(農曆春節定義以格上官網公告為準)。 </li>
                        <li>本優惠限台灣智慧觀光會員適用，會員需登入「台灣智慧觀光平台」方可進行線上訂車作業。「台灣智慧觀光會員 租車優惠平台」於每月一日開放可選擇當月及次2個月之線上訂車，最晚須於用車日二日前完成線上訂車。</li>
                        <li>本優惠限國產轎車/休旅車短期自駕租車時使用，恕不適用於進口車、貨車、電動車及專案車。</li>
                        <li>線上訂車服務僅提供原站租還， 如需甲租乙還服務，請與格上短租門市聯繫，若門市車輛調度狀況許可，得依格上官網公告之甲租乙還相關規定辦理。</li>
                        <li>本優惠不得與其他專案或優惠合併使用。</li>
                        <li>若訂購本租車優惠者同時為格上租車會員，每消費滿$100元得累積紅利1點，但紅利無法在「台灣智慧觀光會員 租車優惠平台」扣抵使用。非格上會員訂購後，當次如申請快速入會，亦可享有紅利點數累積。</li>
                        <li>承租人需年滿20歲，且持有中華民國身分證正本、有效汽車駕照及線上訂車交易之信用卡，若承租人的證件不符或有出車安全之考量，格上租車得保留出車與否之權利力。</li>
                        <li>其他租車權利義務依格上租車出租單為準，格上租車保留修改活動之權利。</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
