<div class="poi-page content gray container-bar">
    <section>
        <div class="section-wrap breadcrumb-wrap">
            <a href="#" class="breadcrumb">首頁</a>
            <i class="icon-Forward"></i>
            <a href="#" class="breadcrumb">住宿</a>
            <i class="icon-Forward"></i>
            <a href="#" class="breadcrumb current">紅米國際青年旅館</a>
        </div>
    </section>
    <section>
        <div class="section-wrap no-top-padding">
            <div layout="row" layout-wrap>
                <div class="poi-content" flex="70" flex-md="100" flex-sm="100">
                    <div class="content-block align-right">
                        <div class="info float-left">
                            <h2 class="title">{{stay.title}}</h2>
                            <div class="summary">
                                <span>台北 / 商圈、文化藝術</span>
                            </div>
                            <div class="summary">
                                <p ng-if="stay.istripadv" class="adrank  hint hint--top" data-hint="4.2" style="background-position: left {{stay.rank}}px;"> </p>
                                <div class="ranks hint hint--top" data-hint="4.2">
                                    <i class="icon-Rank fill"></i>
                                    <i class="icon-Rank fill"></i>
                                    <i class="icon-Rank fill"></i>
                                    <i class="icon-Rank fill"></i>
                                    <i class="icon-Rank"></i>
                                </div>
                                <span class="maginlr"></span><i class="icon-Comments"></i> 32
                                <span class="maginlr"></span><i class="icon-Heart"></i> 503
                                <span class="maginlr"></span><i class="icon-Views"></i> 503
                            </div>
                        </div>
                        <div class="tool-bar">
                            <div class="tool" ng-click="isCollect=!isCollect" ng-class="{'active':isCollect}">
                                <i class="icon-Heart-2 delay"></i>
                                <i class="icon-Heart-2 animate" ng-class="{'animate-active':isCollect}" ng-hide="isCollect"></i>
                                <span>收藏</span>
                            </div>
                            <div class="tool" ng-click="isBeen=!isBeen" ng-class="{'active':isBeen}">
                                <i class="icon-Location-2" ng-if="!isBeen"></i>
                                <i class="icon-Check-2" ng-if="isBeen"></i>
                                <span>去過</span>
                            </div>
                            <div class="tool" ng-click="showShareTool=!showShareTool">
                                <i class="icon-Share-3"></i>
                                <span>分享</span>
                                <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showShareTool"></md-backdrop>
                                <div class="poi-dropdown-menu" ng-class="{'open': showShareTool}">
                                    <div class="menu-item"><i class="icon-Facebook"></i>Facebook</div>
                                    <div class="menu-item"><i class="icon-Twitter"></i>Twitter</div>
                                    <div class="menu-item"><i class="icon-Gplus"></i>Google+</div>
                                    <div class="menu-item"><i class="icon-Link"></i>複製網址</div>
                                </div>
                            </div>
                            <!--<div class="tool" ng-click="showMoreTool=!showMoreTool">
                                <i class="icon-More-2"></i>
                                <span>更多</span>
                                <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool"></md-backdrop>
                                <div class="poi-dropdown-menu" ng-class="{'open': showMoreTool}">
                                    <div class="menu-item" ng-click="bugReport($event)">問題回報</div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="content-block align-left">
                        <div class="slideshow float-left" flex="35" flex-md="35" flex-sm="100">
                            <div class="slides">
                                <div class="slide" ng-repeat="item in slideList" ng-style="{'background-image':'url('+item.imgUrl+')', 'left':100*($index-currentSlideIdx)+'%'}">
                                    <span class="watermark">© flick-unlag</span>
                                </div>
                            </div>
                            <div class="ctrl-btn prev" ng-click="prevSlide()" ng-show="currentSlideIdx>0">
                                <i class="icon-Back"></i>
                            </div>
                            <div class="ctrl-btn next" ng-click="nextSlide()" ng-show="currentSlideIdx<(slideList.length-1)">
                                <i class="icon-Forward"></i>
                            </div>
                            <div class="ctrl-panel" ng-show="slideList.length > 1">
                                <div class="ctrl-point" ng-class="{'active': $index==currentSlideIdx}" ng-repeat="item in slideList" ng-click="setSlide($index)"></div>
                            </div>
                        </div>
                        <div class="info remaining-width" flex="65" flex-md="65" flex-sm="100">
                            <table class="table-info">
                                <tr>
                                    <td class="name">多少人來過</td>
                                    <td class="content">1,732 人</td>
                                </tr>
                                <tr>
                                    <td class="name">最低房價</td>
                                    <td class="content">NT$ 1580 起</td>
                                </tr>
                                <tr>
                                    <td class="name">星級</td>
                                    <td class="content">3星級</td>
                                </tr>
                                <tr>
                                    <td class="name">網站</td>
                                    <td class="content">
                                        <a href="http://dintaifung.incdoor.com" inner-frame-dialog class="link">dintaifung.incdoor.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">網友評論</td>
                                    <td class="content">
                                        <div class="labels" ng-class="{'expand':labels}">
                                            <div class="label">好吃</div>
                                            <div class="label">適合聚餐</div>
                                            <div class="label">老闆親切</div>
                                            <div class="label">裝潢漂亮</div>
                                        </div>
                                        <div class="label-expand" ng-click="toggleBool('labels')" ng-show="!labels">
                                            <span>顯示全部</span>
                                            <i class="icon-ArrowDown"></i>
                                        </div>
                                        <div class="label-expand" ng-click="toggleBool('labels')" ng-show="labels">
                                            <span>顯示部分</span>
                                            <i class="icon-ArrowUp"></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>住宿介紹</h3>
                            </div>
                            <div class="description" ng-class="{'expand':stayInfo}">紅米青年旅館座落於台北火車站附近，位於高鐵、火車、巴士和捷運交會點。旅館的設計年輕有活力，大片的景觀窗戶搭配著繽紛色彩的交誼廳，讓您在高樓眺望台北的景色之餘，也能有與各國旅客相互交流的友善環境。所有房間依消防法規建造，房門皆為防火門，房內配有連線煙霧警報器、避難指示燈和緊急廣播裝置，並設有緊急逃生設備和消防滅火設施，保障所有旅客最安全的住宿環境。我們經營的不是住宿，是友情。在這裡大家會聚在一起聊天，就像回到大學時代和室友聊到半夜的時光。我們不會穿著制服站在櫃檯，而是...</div>
                            <div class="info-expand">
                                <span ng-click="toggleBool('stayInfo')" ng-show="!stayInfo">顯示全部</span>
                                <span ng-click="toggleBool('stayInfo')" ng-show="stayInfo">顯示部分</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-block align-left">
                        <div class="map float-right"></div>
                        <div class="info remaining-width">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>地理位置</h3>
                            </div>
                            <table class="table-info">
                                <tr>
                                    <td class="name">地址</td>
                                    <td class="content">台北市長安西路180號7樓（台北車站京站附近）</td>
                                </tr>
                                <tr>
                                    <td class="name">電話</td>
                                    <td class="content">02-2550-4499</td>
                                </tr>
                            </table>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>Traiwan 提供房型</h3>
                            </div>
                            <div class="slideshow multi-slide">
                                <div class="slides" ng-style="{'width':100*(staysGroup.length+1)+'%', 'margin-left':100*($index-staysSlide.currentIdx)+'%'}">
                                    <div class="slide" ng-class="{'active': $index==staysSlide.currentIdx}" ng-repeat="stays in staysGroup" ng-style="{'width':100/(staysGroup.length+1)+'%'}">
                                        <div class="stays" layout="row" layout-wrap>
                                            <div class="stay-wrap" ng-repeat="item in stays" flex="25" flex-md="25" flex-sm="100">
                                                <div class="stay">
                                                    <a href="">
                                                        <div class="thumbnail" style="background-image:url({{item.thumbnail}})">
                                                        </div>
                                                    </a>
                                                    <div class="summary">
                                                        <h4 class="title">{{item.title}}</h4>
                                                        <!--<div class="meta">最多住宿 {{item.maxPeople}} 人
															<span ng-if="item.hasBreakfast"> / 附早餐</span>
														</div>-->
                                                        <div class="date-block">
                                                            <span class="booking">我要訂房</span>
                                                            <span class="price">
																NT$ {{item.price}}
															</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-block" ng-show="staysGroup.length > 1">
                                <div class="control control-left" ng-click="staysSlide.prev()">
                                    <span></span>
                                </div>
                                <div class="control-point-block">
                                    <div class="control-point" ng-class="{'active': $index==staysSlide.currentIdx}" ng-repeat="item in staysGroup" ng-click="staysSlide.set($index)">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="control control-right" ng-click="staysSlide.next()">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="content-block align-left">
                        <div class="infos-wrap" layout="row" layout-wrap>
                            <div class="infos" flex="33" flex-md="33" flex-sm="100">
                                <div class="info inline-info">
                                    <h4 class="title">主要設施</h4>
                                    <p class="description">
                                        電視、電話、停車場、有線網路、無線網路。
                                    </p>
                                </div>
                            </div>
                            <div class="infos" flex="33" flex-md="33" flex-sm="100">
                                <div class="info inline-info">
                                    <h4 class="title">服務項目</h4>
                                    <p class="description">
                                        接駁車服務（收費）、機場接駁車（額外收費）、24 小時接待櫃檯、外幣兌換、旅遊諮詢檯、行李寄存、公共休息區/電視區、商務中心。
                                    </p>
                                </div>
                            </div>
                            <div class="infos" flex="33" flex-md="33" flex-sm="100">
                                <div class="info inline-info">
                                    <h4 class="title">綜合設施</h4>
                                    <p class="description">
                                        保險箱、禁菸客房、家庭房、電梯、隔音客房、空調。
                                    </p>
                                </div>
                                <div class="info inline-info">
                                    <h4 class="title">使用的語言</h4>
                                    <p class="description">
                                        中文、英文、日文。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!--<div class="content-block align-left">
                        <div class="info remaining-width">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>訂房須知</h3>
                            </div>
                            <table class="table-info">
                                <tr>
                                    <td class="name">入住時間</td>
                                    <td class="content">從 15:00 時</td>
                                </tr>
                                <tr>
                                    <td class="name">退房時間</td>
                                    <td class="content">12:00時之前</td>
                                </tr>
                                <tr>
                                    <td class="name">兒童和加床</td>
                                    <td class="content">酒店不接待兒童入住。最多容納： 1張加床。</td>
                                </tr>
                                <tr>
                                    <td class="name">寵物</td>
                                    <td class="content">不允許攜帶寵物.</td>
                                </tr>
                            </table>
                        </div>
                        <div class="clear"></div>
                    </div>-->
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>相關影音</h3>
                            </div>
                            <div class="videos" layout="row" layout-wrap>
                                <div class="video-wrap" ng-repeat="item in videos" flex="50" flex-md="50" flex-sm="100">
                                    <div class="video">
                                        <a href="">
                                            <div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})">
                                                <!-- <i class="icon-Play"></i> -->
                                            </div>
                                        </a>
                                        <div class="summary remaining-width">
                                            <h4 class="title">{{item.title}}</h4>
                                            <div class="meta">觀看次數：{{item.viewcount}}</div>
                                            <p class="description">片長：10:10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>相關住宿票券</h3>
                            </div>
                            <div class="ticket" ng-repeat="item in tickets">
                                <div class="border">
                                    <div class="summary remaining-width float-left">
                                        <h4 class="title">{{item.title}}</h4>
                                        <div class="description">{{item.description}}</div>
                                        <div class="message price">原價 NT {{item.price}}</div>
                                        <div class="message price blue">優惠價 NT {{item.specialPrice}}</div>
                                    </div>
                                    <div class="buttons">
                                        <div class="button orange" ng-hide="item.price">免費領取</div>
                                        <div class="button blue" ng-show="item.price">立刻購買</div>
                                        <div class="button">加入購物車</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>合作活動</h3>
                            </div>
                            <div class="activity" ng-repeat="item in activities">
                                <div class="border">
                                    <div class="buttons float-right">
                                        <div class="button blue">活動說明</div>
                                    </div>
                                    <div class="summary remaining-width">
                                        <h4 class="title">{{item.title}}</h4>
                                        <span class="date">{{item.startDate}} ~ {{item.endDate}}</span>
                                        <div class="message">{{item.message}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>相關遊記</h3>
                                <a href="#/travelNotes">
                                    <div class="info-more">更多遊記 》</div>
                                </a>
                            </div>
                            <div class="slideshow multi-slide">
                                <div class="slides" ng-style="{'width':100*(travelNotes.length+1)+'%', 'margin-left':100*($index-travelSlide.currentIdx)+'%'}">
                                    <div class="slide" ng-class="{'active': $index==travelSlide.currentIdx}" ng-repeat="events in travelNotes" ng-style="{'width':100/(travelNotes.length+1)+'%'}">
                                        <div class="events" layout="row" layout-wrap>
                                            <div class="event-wrap" ng-repeat="item in events" flex="33" flex-md="33" flex-sm="100">
                                                <div class="event">
                                                    <a href="#/travelNotes/poi">
                                                        <div class="thumbnail" style="background-image: url(../public/images/trips/trip-{{$index%8+1}}.jpg)">
                                                        </div>
                                                    </a>
                                                    <div class="summary">
                                                        <div class="info has-author-img">
                                                            <div class="author-img" style="background-image: url(../public/images/avatars/{{$index%4+1}}.jpg)"></div>
                                                            <div class="author-name">{{item.author}}</div>
                                                            <h4 class="title row-2">{{item.title}}</h4>
                                                            <p class="left-date"><i class="icon-Clock-2"></i> <span>{{item.date}} </span></p>
                                                            <p class="destit"><i class="icon-Views"></i> {{item.view}}</p>
                                                            <p class="destit"><i class="icon-Comments"></i> {{item.comment}}</p>
                                                            <p style="clear: both;"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-block" ng-show="travelNotes.length > 1">
                                <div class="control control-left" ng-click="travelSlide.prev()">
                                    <span></span>
                                </div>
                                <div class="control-point-block">
                                    <div class="control-point" ng-class="{'active': $index==travelSlide.currentIdx}" ng-repeat="item in travelNotes" ng-click="travelSlide.set($index)">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="control control-right" ng-click="travelSlide.next()">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>相關行程</h3>
                                <a href="#/trips">
                                    <div class="info-more">更多行程 》</div>
                                </a>
                            </div>
                            <div class="slideshow multi-slide">
                                <div class="slides" ng-style="{'width':100*(trips.length+1)+'%', 'margin-left':100*($index-tripSlide.currentIdx)+'%'}">
                                    <div class="slide" ng-class="{'active': $index==tripSlide.currentIdx}" ng-repeat="events in trips" ng-style="{'width':100/(trips.length+1)+'%'}">
                                        <div class="events" layout="row" layout-wrap>
                                            <div class="event-wrap" ng-repeat="item in events" flex="33" flex-md="33" flex-sm="100">
                                                <div class="event">
                                                    <a href="#/trips/poi">
                                                        <div class="thumbnail" style="background-image: url(../public/images/trips/trip-{{$index%8+1}}.jpg)">
                                                            <div class="blduration">0{{trip.days}}<span>天</span></div>
                                                        </div>
                                                    </a>
                                                    <div class="summary">
                                                        <div class="info has-author-img">
                                                            <div class="author-img" style="background-image: url(../public/images/avatars/{{$index%4+1}}.jpg)"></div>
                                                            <div class="author-name">{{item.author}}</div>
                                                            <h4 class="title row-2">{{item.title}}</h4>
                                                            <p class="destit"><i class="icon-Views"></i> {{item.view}}</p>
                                                            <p class="destit"><i class="icon-Comments"></i> {{item.comment}}</p>
                                                            <p style="clear: both;"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-block" ng-show="trips.length > 1">
                                <div class="control control-left" ng-click="tripSlide.prev()">
                                    <span></span>
                                </div>
                                <div class="control-point-block">
                                    <div class="control-point" ng-class="{'active': $index==tripSlide.currentIdx}" ng-repeat="item in trips" ng-click="tripSlide.set($index)">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="control control-right" ng-click="tripSlide.next()">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="status-bar align-right">
                        <div class="float-left align-left">
                            <div class="link">
                                <i class="icon-Create"></i>
                                <span>提供修改建議</span>
                            </div>
                            <div class="message">
                                奧格士、小波 等3位會員參與了編輯
                            </div>
                        </div>
                        <div class="date">
                            最後更新時間：2015/03/02
                        </div>
                    </div>
                    <div class="content-block align-left" ng-if="stay.istripadv">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark green"></i>
                                <h3>TirpAdvisor評論 ({{tripadv.totalcomment}})</h3>
                            </div>
                            <div class="trips" layout="row" layout-wrap>
                                <div class="tripadv">
                                    <div class="advcon">
                                        <div class="advright">
                                            <h1>4.7</h1>
                                            <p class="adrank" style="background-position: left {{stay.rank}}px;"> </p>
                                            <p class="utxt"><a href="#">{{tripadv.totalcomment}}則評論</a></p>
                                        </div>
                                        <div class="advleft">
                                            <div class="rowline">
                                                <div class="row_label">很棒</div>
                                                <span class="row_bar">
													<span class="row_fill" style="width:{{tripadv.barpercent[0]}}%;"></span>
                                                </span>
                                                <span>{{tripadv.bar[0]}}</span>
                                            </div>
                                            <div class="rowline">
                                                <div class="row_label">非常好</div>
                                                <span class="row_bar">
													<span class="row_fill" style="width:{{tripadv.barpercent[1]}}%;"></span>
                                                </span>
                                                <span>{{tripadv.bar[1]}}</span>
                                            </div>
                                            <div class="rowline">
                                                <div class="row_label">一般</div>
                                                <span class="row_bar">
													<span class="row_fill" style="width:{{tripadv.barpercent[2]}}%;"></span>
                                                </span>
                                                <span>{{tripadv.bar[2]}}</span>
                                            </div>
                                            <div class="rowline">
                                                <div class="row_label">不好</div>
                                                <span class="row_bar">
													<span class="row_fill" style="width:{{tripadv.barpercent[3]}}%;"></span>
                                                </span>
                                                <span>{{tripadv.bar[3]}}</span>
                                            </div>
                                            <div class="rowline">
                                                <div class="row_label">很差</div>
                                                <span class="row_bar">
													<span class="row_fill" style="width:{{tripadv.barpercent[4]}}%;"></span>
                                                </span>
                                                <span>{{tripadv.bar[4]}}</span>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="advcomment" ng-repeat="comment in tripadv.comments">
                                    <h3>{{comment.title}}</h3>
                                    <p class="adrank" data-hint="tripadvisor星等" style="background-position: left {{comment.rank}}px;"> </p>
                                    <p class="authortxt">{{comment.author}}　|　{{comment.publishDate}}</p>
                                    <p class="authortxt">{{comment.description}}</p>
                                </div>
                            </div>
                            <div class="info-advisor">在 TripAdvosor 發表評論</div>
                        </div>
                    </div>
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>評論 (20)</h3>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment-wrap">
                                <div class="thumbnail-wrap">
                                    <div class="thumbnail" style="background-image:url({{comment.authorImg}})">
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <div class="author">{{comment.author}}</div>
                                    <div class="ranks-wrap">
                                        <span>點擊進行評分</span>
                                        <div class="ranks">
                                            <i class="icon-Rank fill"></i>
                                            <i class="icon-Rank fill"></i>
                                            <i class="icon-Rank fill"></i>
                                            <i class="icon-Rank"></i>
                                            <i class="icon-Rank"></i>
                                        </div>
                                        <span>(還不錯)</span>
                                    </div>
                                    <div class="comment">
                                        <textarea ng-model="comment.comment" placeholder="這裡有哪些特色、哪裡好玩，趕緊跟大家分享你的看法"></textarea>
                                        <div class="word-count">{{comment.comment.length}}/140</div>
                                        <div class="button small blue" ng-click="addComment()">回覆</div>
                                    </div>
                                    <div class="content">
                                        <div class="images">
                                            <div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})">
                                                <div class="remove-btn"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <div class="action">
                                            <i class="icon-Camera"></i> 分享照片
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-wrap" ng-repeat="comment in comments">
                                <div class="thumbnail-wrap">
                                    <div class="thumbnail" style="background-image:url({{comment.authorImg}})">
                                    </div>
                                </div>
                                <div class="content-wrap">
                                    <div class="author">{{comment.author}}
                                        <span>{{comment.commentTime}}</span>
                                    </div>
                                    <div class="ranks-wrap">
                                        <div class="ranks">
                                            <i class="icon-Rank fill"></i>
                                            <i class="icon-Rank fill"></i>
                                            <i class="icon-Rank fill"></i>
                                            <i class="icon-Rank"></i>
                                            <i class="icon-Rank"></i>
                                        </div>
                                    </div>
                                    <div ng-hide="comment.editMode">
                                        <div class="content">
                                            <p>{{comment.comment}}</p>
                                            <div class="images">
                                                <div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})"></div>
                                            </div>
                                        </div>
                                        <div class="actions">
                                            <div class="action small">
                                                <i class="icon-ArrowUp"></i> 有用 12
                                            </div>
                                            <div class="action" ng-click="toReply(comment)">回覆</div>
                                        </div>
                                        <div ng-show="comment.replyMode">
                                            <div class="comment">
                                                <textarea class="small" ng-model="comment.replyTemp"></textarea>
                                                <div class="button small blue" ng-click="addReply(comment)">回覆</div>
                                            </div>
                                            <div class="actions">
                                                <div class="word-count">24/140</div>
                                            </div>
                                        </div>
                                        <div class="comment-wrap" ng-repeat="reply in comment.replys">
                                            <div class="thumbnail-wrap">
                                                <div class="thumbnail" style="background-image:url({{reply.authorImg}})">
                                                </div>
                                            </div>
                                            <div class="content-wrap">
                                                <div class="author">{{reply.author}}
                                                    <span>{{reply.commentTime}}</span>
                                                </div>
                                                <div ng-hide="reply.editMode">
                                                    <div class="content">
                                                        <p>{{reply.comment}}</p>
                                                        <div class="images">
                                                            <div class="image" ng-repeat="img in reply.images" style="background-image:url({{img}})"></div>
                                                        </div>
                                                    </div>
                                                    <div class="actions">
                                                        <div class="action small">
                                                            <i class="icon-ArrowUp"></i> 有用 12
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-show="reply.editMode">
                                                    <div class="comment">
                                                        <textarea class="small" ng-model="reply.commentTemp"></textarea>
                                                    </div>
                                                    <div class="actions">
                                                        <div class="word-count">24/140</div>
                                                        <div class="button small" ng-click="cancelEditComment(reply)">取消</div>
                                                        <div class="button small blue" ng-click="updateComment(reply)">確認修改</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-more" ng-click="reply.showMore=!reply.showMore">
                                                <i class="icon-ArrowDown"></i>
                                                <md-backdrop class="md-select-backdrop md-default-theme" ng-show="reply.showMore"></md-backdrop>
                                                <div class="poi-dropdown-menu" ng-class="{'open': reply.showMore}">
                                                    <div class="menu-item" ng-click="editComment(reply)">編輯留言</div>
                                                    <div class="menu-item" ng-click="deleteReply(comment, $index)">刪除留言</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="comment.editMode">
                                        <div class="comment">
                                            <textarea class="small" ng-model="comment.commentTemp"></textarea>
                                        </div>
                                        <div class="actions">
                                            <div class="word-count">24/140</div>
                                            <div class="button small" ng-click="cancelEditComment(comment)">取消</div>
                                            <div class="button small blue" ng-click="updateComment(comment)">確認修改</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-more" ng-click="comment.showMore=!comment.showMore">
                                    <i class="icon-ArrowDown"></i>
                                    <md-backdrop class="md-select-backdrop md-default-theme" ng-show="comment.showMore"></md-backdrop>
                                    <div class="poi-dropdown-menu" ng-class="{'open': comment.showMore}">
                                        <div class="menu-item" ng-click="editComment(comment)">編輯留言</div>
                                        <div class="menu-item" ng-click="deleteComment($index)">刪除留言</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div flex="30" flex-md="100" flex-sm="100">
                    <div class="content-block other align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>周邊</h3>
                            </div>
                            <div class="content-types">
                                <span class="type" ng-repeat="item in types" ng-click="selectType(item)" ng-class="{'active':currentType.id==item.id}">{{item.name}}</span>
                            </div>
                            <div class="content align-right" ng-repeat="item in spots">
                                <div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
                                <div class="info remaining-width align-left">
                                    <h4 class="title">{{item.title}}</h4>
                                    <p class="description">{{item.description}}</p>
                                    <div class="align-right">
                                        <div class="ranks float-left">
                                            <i class="icon-Rank fill"></i>
                                            <i class="icon-Rank fill"></i>
                                            <i class="icon-Rank fill"></i>
                                            <i class="icon-Rank"></i>
                                            <i class="icon-Rank"></i>
                                        </div>
                                        <div class="distance">{{item.distance}} 公里</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-block other align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>必買伴手禮</h3>
                            </div>
                            <div class="slideshow multi-slide ">
                                <div class="slides" ng-style="{'width':100*(products.length+1)+'%', 'margin-left':100*($index-productsSlide.currentIdx)+'%'}">
                                    <div class="slide" ng-class="{'active': $index==productsSlide.currentIdx}" ng-repeat="events in products" ng-style="{'width':100/(products.length+1)+'%'}">
                                        <div class="content align-right" ng-repeat="item in events">
                                            <div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
                                            <div class="info remaining-width align-left">
                                                <h4 class="title">{{item.title}}</h4>
                                                <div class="price">
                                                    NT$ {{item.price}} 起
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-block" ng-show="products.length > 1">
                                <div class="control control-left" ng-click="productsSlide.prev()">
                                    <span></span>
                                </div>
                                <div class="control-point-block">
                                    <div class="control-point" ng-class="{'active': $index==productsSlide.currentIdx}" ng-repeat="item in products" ng-click="productsSlide.set($index)">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="control control-right" ng-click="productsSlide.next()">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-block other align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>輕鬆買行程</h3>
                            </div>
                            <div class="slideshow multi-slide ">
                                <div class="slides" ng-style="{'width':100*(products.length+1)+'%', 'margin-left':100*($index-toursSlide.currentIdx)+'%'}">
                                    <div class="slide" ng-class="{'active': $index==toursSlide.currentIdx}" ng-repeat="events in products" ng-style="{'width':100/(products.length+1)+'%'}">
                                        <div class="content align-right" ng-repeat="item in events">
                                            <div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
                                            <div class="info remaining-width align-left">
                                                <h4 class="title">{{item.title}}</h4>
                                                <p class="description">{{item.description}}</p>
                                                <div class="price">
                                                    NT$ {{item.price}} 起
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-block" ng-show="products.length > 1">
                                <div class="control control-left" ng-click="toursSlide.prev()">
                                    <span></span>
                                </div>
                                <div class="control-point-block">
                                    <div class="control-point" ng-class="{'active': $index==toursSlide.currentIdx}" ng-repeat="item in products" ng-click="toursSlide.set($index)">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="control control-right" ng-click="toursSlide.next()">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="content-block other align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>猜你喜歡</h3>
							</div>
							<div class="content align-right" ng-repeat="item in guessYouLike">
								<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<p class="description">{{item.description}}</p>
									<div class="align-right">
										<div class="ranks float-left">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<div class="distance">{{item.distance}} 公里</div>
									</div>
								</div>
							</div>
						</div>
					</div>-->
                    <!--<div class="content-block other align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>達人部落格</h3>
							</div>
							<div class="content align-right" ng-repeat="item in blogs">
								<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<div class="date">
										<span>{{item.publishDate}}</span>
										<span>{{item.blogName}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>-->
                </div>
            </div>
        </div>
    </section>
</div>
