<div class="poi-page content gray">
    <section>
        <div class="section-wrap breadcrumb-wrap">
            <a href="/#/souvenir" class="breadcrumb">伴手禮</a>
            <i class="icon-Forward"></i>
            <a href="#" class="breadcrumb current">【大黑松小倆口】元首鳳梨酥禮盒12入（鳳梨酥系列）</a>
        </div>
    </section>
    <section>
        <div class="section-wrap no-top-padding no-bottom-padding">
            <div class="purchase-ticket" layout="row" layout-wrap>
                <div class="preview-container" flex="50" flex-md="100" flex-sm="100">
                    <div class="preview large" style="background-image: url('../public/images/stays/stay-1.jpg')"></div>
                    <div class="preview-list">
                        <div class="preview small active" style="background-image: url('../public/images/stays/stay-2.jpg')"></div>
                        <div class="preview small" style="background-image: url('../public/images/stays/stay-3.jpg')"></div>
                        <div class="preview small"></div>
                    </div>
                </div>
                <div class="ticket-container" flex="50" flex-md="100" flex-sm="100">
                    <div class="info-block">
                        <h1 class="title two-lines">【大黑松小倆口】元首鳳梨酥禮盒12入（鳳梨酥系列）</h1>
                        <div class="summary">
                            <span>台灣名產</span> │
                            <span class="icon-Views"></span><span class="number"> 50</span>
                        </div>
                        <div class="deadline" style="display: none;">
                            <i class="icon-Clock red"></i>
                            <div class="time-wrap">
                                <div class="number">00</div>
                                <div class="unit">天</div>
                            </div>
                            <div class="time-wrap">
                                <div class="number red">09</div>
                                <div class="unit red">小時</div>
                            </div>
                            <div class="time-wrap">
                                <div class="number">37</div>
                                <div class="unit">分鐘</div>
                            </div>
                        </div>
                        <div class="discount" style="display: none;"><span class="highlight">9</span>折</div>
                    </div>
                    <div class="info-block">
                        <p class="descript">金黃的色外皮甜而不膩口感、一次吃好幾個也不會覺得膩、送禮自用兩相宜喔！</p>
                        <blockquote style="display: none;">
                            <p class="descript highlight">於本商店消費滿$5000元，即可將伴手禮寄送至指定飯店或機場。</p>
                            <p class="descript">您只要在預計抵達飯店(或登機)的前三天完成訂購，在您離開飯店(或登機)前就能收到伴手禮，輕鬆拿著禮物辦理登機手續。</p>
                        </blockquote>
                    </div>
                    <div class="info-block">
                        <table class="table-info">
                            <tr>
                                <td class="name">優惠價</td>
                                <td class="content">
                                    <div class="discount-price" ng-if="!ticketInfo.discountPrice"><span class="highlight">{{ticketInfo.price}}</span>元</div>
                                    <div class="discount-price red" ng-if="ticketInfo.discountPrice"><span class="highlight">{{ticketInfo.discountPrice}}</span>元</div>
                                    <div class="price" ng-if="ticketInfo.discountPrice">(原價 {{ticketInfo.price}} 元)</div>
                                </td>
                            </tr>
                            <!-- <tr>
								<td class="name">網站連結</td>
								<td class="content">
									<a href="http://dintaifung.incdoor.com" inner-frame-dialog class="link">http://dintaifung.incdoor.com</a>
								</td>
							</tr>
							<tr>
								<td class="name">票券類別</td>
								<td class="content">
									<div class="ticket-type active">折抵券</div>
									<div class="ticket-type">王品集團7折優惠券</div>
									<div class="help">
										<span class="help-tip">?</span>
										<div class="help-content">
											<div class="ticket-type-info">
												<div class="title">折抵券</div>
												<p class="desc">年紀 12 歲以下得符合資格</p>
											</div>
											<div class="ticket-type-info">
												<div class="title">王品集團7折優惠券</div>
												<p class="desc">凡 12 - 65 歲以下者符合資格</p>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="name">數量</td>
								<td class="content">
									<div class="number-input">
										<div class="decrease">-</div><input type="number" value="1"><div class="increase">+</div>
									</div>
									<span class="note">(庫存 : 219 件)</span>
								</td>
							</tr> -->
                        </table>
                    </div>
                    <div class="info-block">
                        <div>
                            <button class="button large icon-button hint hint--top" data-hint="收藏">
                                <i class="icon icon-Heart-2"></i>
                            </button>
                            <button class="button share large icon-button hint hint--top" data-hint="分享" ng-click="showShareTool=!showShareTool">
                                <i class="icon icon-Share-3"></i>
                                <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showShareTool"></md-backdrop>
                                <div class="poi-dropdown-menu" ng-class="{'open': showShareTool}">
                                    <div class="menu-item"><i class="icon-Facebook"></i>Facebook</div>
                                    <div class="menu-item"><i class="icon-Twitter"></i>Twitter</div>
                                    <div class="menu-item"><i class="icon-Gplus"></i>Google+</div>
                                    <div class="menu-item"><i class="icon-Link"></i>複製網址</div>
                                </div>
                            </button>
                            <!-- <button class="button large add">加入購物車</button> -->
                            <button class="button large buy" style="width: 70%;">立刻購買</button>
                        </div>
                        <!-- <div class="pay-method-container">
							<span>付款方式</span>
							<div class="pay-method-list">
								<img class="pay-method" src="../public/images/pay/paypal.png" alt="paypal">
								<img class="pay-method" src="../public/images/pay/visa.png" alt="visa">
								<img class="pay-method" src="../public/images/pay/mastercard.png" alt="mastercard">
								<img class="pay-method" src="../public/images/pay/union.png" alt="union">
							</div>
						</div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="section-wrap no-top-padding">
            <div layout="row" layout-wrap>
                <div class="poi-content" flex="70" flex-md="100" flex-sm="100">
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>詳細介紹</h3>
                            </div>
                            <div class="description expand">臺灣有所謂的偶戲三寶(皮影戲、布袋戲、傀儡戲)，自傳入臺灣以來，結合了本土風俗及信仰，早已發展成為獨特的臺灣偶戲藝術。隨著時間洪流，不論是在師傅手中活靈活現的表演戲偶、一旁樂師現場臨急應變的配樂演奏、或是一代替換過一代的臺下觀眾，乃至偶戲表演的目的從酬神到娛人，偶戲藝術所代表的意義也逐漸地在轉變當中。</div>
                            <br>
                            <br>
                            <!-- <div class="delivery-way-container">
								<div class="header">
									<h3 class="title">宅配方式</h3>
									<div class="labels">
										<span class="label green">到店宅配</span>
										<span class="label blue">線上宅配</span>
									</div>
								</div>
								<p class="descript">於本商店消費滿$5000元，即可將伴手禮寄送至指定飯店或機場。<br>
								您只要在預計抵達飯店(或登機)的前三天完成訂購，在您離開飯店(或登機)前就能收到伴手禮，輕鬆拿著禮物辦理登機手續。</p>
								<div class="promotions-label">
									<p class="descript">滿500元<br>免費送機場</p>
								</div>
							</div> -->
                            <br>
                            <br>
                            <br>
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>使用規定</h3>
                            </div>
                            <div class="description expand">自民國100年7月29日起付費成功之兌換憑證所收取之金額將存入渥奇數位資訊股份有限公司(GROUPON TAIWAN)於華泰商業銀行開立之信託專戶專款專用，詳細說明請見使用者條款。
                                <br> 信託存續期間：自發售日起算一年。
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>注意事項</h3>
                            </div>
                            <div class="description expand">
                                優惠時段
                                <br> ■ 優惠期間：2015年08月20日 至 2015年09月30日
                                <br> ■ 優惠時間：各分店兌換時間不同，請參考下方店家資訊
                                <br> ■ 請先致電店家確認國定假日、連續假期或特殊節慶能否兌換
                                <br> 特殊限制
                                <br> ■ 需於5天前預約，請告知使用GROUPON兌換憑證
                                <br> ■ 限店取，不提供宅配或外送
                                <br>
                                <br> 一般注意事項
                                <br> ■ 使用GROUPON憑證恕不兌現金、不找零
                                <br> ■ 如有分店，購買時請先選擇，不可跨店使用，訂購成功後無法更換分店
                                <br> ■ 如需預約，預約完成後方可兌換，實際預約情形需依店家當時狀況
                                <br> ■ 不得與店內其他優惠共用
                                <br> ■ 到店請出示兌換憑證：簡訊 / Email / APP憑證 / 紙本好康券，恕不接受未持憑證者
                                <br> ■ 如網頁載明持憑證另享贈品或優惠，實際內容請依店家現場規定或當時供貨為準
                                <br> ■ 吃到飽或抵用券等優惠，網頁提供參考菜色可能隨季節變化，實際價格及內容需以現場食材及時價為準
                                <br> ■ 相關問題請於週一至週五09:00-18:30來電(02)27131485，來信tw_service@groupon.com，或點此查詢
                                <br> ■ 適用於所有優惠的一般注意事項請看這邊
                            </div>
                        </div>
                    </div>
                    <div class="content-block align-left">
                        <div class="info remaining-width">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>實體門市</h3>
                            </div>
                            <div class="align-left">
                                <div class="map float-right"></div>
                                <table class="table-info has-map">
                                    <tr>
                                        <td class="name">店名</td>
                                        <td class="content">OO溫泉飯店-信義店</td>
                                    </tr>
                                    <tr>
                                        <td class="name">地址</td>
                                        <td class="content">臺北市信義區信義路5段7號</td>
                                    </tr>
                                    <tr>
                                        <td class="name">電話</td>
                                        <td class="content">02-8101-8934</td>
                                    </tr>
                                    <tr>
                                        <td class="name">營業時間</td>
                                        <td class="content">
                                            星期六 11:00 ~ 21:00
                                            <br> 星期日 11:00 ~ 21:00
                                            <br> 星期一 11:00 ~ 21:00
                                            <br> 星期二 11:00 ~ 21:00
                                            <br> 星期三 11:00 ~ 21:00
                                            <br> 星期四 11:00 ~ 21:00
                                            <br> 星期五 11:00 ~ 21:00
                                            <br>
                                        </td>
                                    </tr>
                                </table>
                                <div class="clear"></div>
                            </div>
                            <div class="align-left">
                                <div class="map float-right"></div>
                                <table class="table-info has-map">
                                    <tr>
                                        <td class="name">店名</td>
                                        <td class="content">OO溫泉飯店-信義店</td>
                                    </tr>
                                    <tr>
                                        <td class="name">地址</td>
                                        <td class="content">臺北市信義區信義路5段7號</td>
                                    </tr>
                                    <tr>
                                        <td class="name">電話</td>
                                        <td class="content">02-8101-8934</td>
                                    </tr>
                                    <tr>
                                        <td class="name">營業時間</td>
                                        <td class="content">
                                            星期六 11:00 ~ 21:00
                                            <br> 星期日 11:00 ~ 21:00
                                            <br> 星期一 11:00 ~ 21:00
                                            <br> 星期二 11:00 ~ 21:00
                                            <br> 星期三 11:00 ~ 21:00
                                            <br> 星期四 11:00 ~ 21:00
                                            <br> 星期五 11:00 ~ 21:00
                                            <br>
                                        </td>
                                    </tr>
                                </table>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>相關影音</h3>
                            </div>
                            <div class="videos" layout="row" layout-wrap>
                                <div class="video-wrap" ng-repeat="item in videos" flex="50" flex-md="50" flex-sm="100">
                                    <div class="video">
                                        <a href="">
                                            <div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})">
                                                <!-- <i class="icon-Play"></i> -->
                                            </div>
                                        </a>
                                        <div class="summary remaining-width">
                                            <h4 class="title">{{item.title}}</h4>
                                            <div class="meta">觀看人數：{{item.viewcount}}</div>
                                            <p class="description">片長：1:30</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="content-block align-left">
                        <div class="promotions">
                            <h3 class="title">2015 以草治夏活動 - 第一波
									<span class="sub-title">2015年6月12日 ~ 2015年7月30日</span>
								</h3>
                            <p class="description">
                                凡購買3塊肥皂（任選，不含衣皂與皂餅），送衣肥皂乙顆（價值NTD180）。全館滿額送，單筆消費滿 NTD 2,500 送阿原處處好＋好朋油（肩頸）30mL乙組（價值NTD1,340）
                            </p>
                        </div>
                    </div>
                    -->
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>合作活動</h3>
                            </div>
                            <div class="activity" ng-repeat="item in activities">
                                <div class="border">
                                    <div class="buttons float-right">
                                        <div class="button blue">活動說明</div>
                                    </div>
                                    <div class="summary remaining-width">
                                        <h4 class="title">{{item.title}}</h4>
                                        <span class="date">{{item.startDate}} ~ {{item.endDate}}</span>
                                        <div class="message">{{item.message}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="status-bar">
                        <div class="message">
                            本商品內容來自
                            <a class="link blue" href="#">GOMAJI 夠麻吉</a>
                        </div>
                    </div>
                    <!-- <div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>評論 (20)</h3>
							</div>
						</div>
						<div class="comments">
							<div class="comment-wrap">
								<div class="thumbnail-wrap">
									<div class="thumbnail" style="background-image:url({{comment.authorImg}})">
									</div>
								</div>
								<div class="content-wrap">
									<div class="author">{{comment.author}}</div>
									<div class="ranks-wrap">
										<span>點擊進行評分</span>
										<div class="ranks">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<span>(還不錯)</span>
									</div>
									<div class="comment">
										<textarea ng-model="comment.comment" placeholder="這裡有哪些特色、哪裡好玩，趕緊跟大家分享你的看法"></textarea>
										<div class="word-count">{{comment.comment.length}}/140</div>
										<div class="button small blue" ng-click="addComment()">回覆</div>
									</div>
									<div class="content">
										<div class="images">
											<div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})">
												<div class="remove-btn"></div>
											</div>
										</div>
									</div>
									<div class="actions">
										<div class="action">
											<i class="icon-Camera"></i>
											分享照片
										</div>
									</div>
								</div>
							</div>
							<div class="comment-wrap" ng-repeat="comment in comments">
								<div class="thumbnail-wrap">
									<div class="thumbnail" style="background-image:url({{comment.authorImg}})">
									</div>
								</div>
								<div class="content-wrap">
									<div class="author">{{comment.author}}
										<span>{{comment.commentTime}}</span>
									</div>
									<div class="ranks-wrap">
										<div class="ranks">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
									</div>
									<div ng-hide="comment.editMode">
										<div class="content">
											<p>{{comment.comment}}</p>
											<div class="images">
												<div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})"></div>
											</div>
										</div>
										<div class="actions">
											<div class="action small">
												<i class="icon-ArrowUp"></i>
												有用 12
											</div>
											<div class="action" ng-click="toReply(comment)">回覆</div>
										</div>
										<div ng-show="comment.replyMode">
											<div class="comment">
												<textarea class="small" ng-model="comment.replyTemp"></textarea>
												<div class="button small blue" ng-click="addReply(comment)">回覆</div>
											</div>
											<div class="actions">
												<div class="word-count">24/140</div>
											</div>
										</div>
										<div class="comment-wrap" ng-repeat="reply in comment.replys">
											<div class="thumbnail-wrap">
												<div class="thumbnail" style="background-image:url({{reply.authorImg}})">
												</div>
											</div>
											<div class="content-wrap">
												<div class="author">{{reply.author}}
													<span>{{reply.commentTime}}</span>
												</div>
												<div ng-hide="reply.editMode">
													<div class="content">
														<p>{{reply.comment}}</p>
														<div class="images">
															<div class="image" ng-repeat="img in reply.images" style="background-image:url({{img}})"></div>
														</div>
													</div>
													<div class="actions">
														<div class="action small">
															<i class="icon-ArrowUp"></i>
															有用 12
														</div>
													</div>
												</div>
												<div ng-show="reply.editMode">
													<div class="comment">
														<textarea class="small" ng-model="reply.commentTemp"></textarea>
													</div>
													<div class="actions">
														<div class="word-count">24/140</div>
														<div class="button small" ng-click="cancelEditComment(reply)">取消</div>
														<div class="button small blue" ng-click="updateComment(reply)">確認修改</div>
													</div>
												</div>
											</div>
											<div class="comment-more" ng-click="reply.showMore=!reply.showMore">
												<i class="icon-ArrowDown"></i>
												<md-backdrop class="md-select-backdrop md-default-theme" ng-show="reply.showMore"></md-backdrop>
												<div class="poi-dropdown-menu" ng-class="{'open': reply.showMore}">
													<div class="menu-item" ng-click="editComment(reply)">編輯留言</div>
													<div class="menu-item" ng-click="deleteReply(comment, $index)">刪除留言</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-show="comment.editMode">
										<div class="comment">
											<textarea class="small" ng-model="comment.commentTemp"></textarea>
										</div>
										<div class="actions">
											<div class="word-count">24/140</div>
											<div class="button small" ng-click="cancelEditComment(comment)">取消</div>
											<div class="button small blue" ng-click="updateComment(comment)">確認修改</div>
										</div>
									</div>
								</div>
								<div class="comment-more" ng-click="comment.showMore=!comment.showMore">
									<i class="icon-ArrowDown"></i>
									<md-backdrop class="md-select-backdrop md-default-theme" ng-show="comment.showMore"></md-backdrop>
									<div class="poi-dropdown-menu" ng-class="{'open': comment.showMore}">
										<div class="menu-item" ng-click="editComment(comment)">編輯留言</div>
										<div class="menu-item" ng-click="deleteComment($index)">刪除留言</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
                </div>
                <div flex="30" flex-md="100" flex-sm="100">
                    <div class="content-block other align-left store">
                        <div class="info">
                            <div class="content align-right">
                                <div class="thumbnail float-left" style="background-image:url('../public/images/stores/4.png')"></div>
                                <div class="info remaining-width align-left">
                                    <h4 class="title">大黑松小倆口</h4>
                                    <div class="meta">
                                        <p>文化創意、傳統藝術、其他、伴手禮名店、活動、景點、美食</p>
                                    </div>
                                </div>
                            </div>
                            <div class="two-button">
                                <button class="button small" style="width: 100%;">進店逛逛</button>
                                <!-- <button class="button small blue"><i class="icon-Heart-2"></i>收藏商店</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="content-block other align-left card-mode">
                        <!-- <div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>其他商品</h3>
							</div>
							<div class="content align-right" ng-repeat="item in products">
								<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<p class="description">{{item.description}}</p>
									<div class="price">
										售價 NT {{item.price}}
									</div>
								</div>
							</div>
						</div> -->
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>其他商品</h3>
                            </div>
                            <div class="slideshow multi-slide">
                                <div class="slides" ng-style="{'width':100*(products.length+1)+'%', 'margin-left':100*($index-productsSlide.currentIdx)+'%'}">
                                    <div class="slide" ng-class="{'active': $index==productsSlide.currentIdx}" ng-repeat="events in products" ng-style="{'width':100/(products.length+1)+'%'}">
                                        <div class="content align-right" ng-repeat="item in events">
                                            <div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
                                            <div class="info remaining-width align-left">
                                                <h4 class="title">{{item.title}}</h4>
                                                <p class="description">{{item.description}}</p>
                                                <div class="price">
                                                    NT$ {{item.price}} 起
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-block" ng-show="products.length > 1" style="margin-top: 18px;margin-right: 10px;">
                                <div class="control control-left" ng-click="productsSlide.prev()">
                                    <span></span>
                                </div>
                                <div class="control-point-block">
                                    <div class="control-point" ng-class="{'active': $index==productsSlide.currentIdx}" ng-repeat="item in products" ng-click="productsSlide.set($index)">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="control control-right" ng-click="productsSlide.next()">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="content-block other align-left card-mode">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>也許你會喜歡</h3>
							</div>
							<div class="content align-right" ng-repeat="item in otherProducts">
								<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<p class="description">{{item.description}}</p>
									<div class="align-right">
										<div class="ranks float-left">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block other align-left card-mode">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>相關遊記</h3>
							</div>
							<div class="content align-right" ng-repeat="item in relatedTravelNotes">
								<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<div class="meta">{{item.commentCount}} 評論 / {{item.collectCount}} 收藏</div>
									<div class="align-right">
										<div class="date">{{item.publishDate}}</div>
										<div class="author-wrap">
											<h4 class="author">{{item.author}}</h4>
											<div class="author-img" style="background-image:url({{item.authorImg}})"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
                </div>
            </div>
    </section>
    </div>
