<div class="poi-page content gray">
	<section>
		<div class="section-wrap breadcrumb-wrap">
			<a href="#" class="breadcrumb">首頁</a>
			<i class="icon-Forward"></i>
			<a href="#" class="breadcrumb">遊記</a>
			<i class="icon-Forward"></i>
			<a href="#" class="breadcrumb current">台北101的韓式銅盤美食《雪嶽山韓式料理》</a>
		</div>
	</section>
	<section>
		<div class="section-wrap no-top-padding">
			<div layout="row" layout-wrap>
				<div class="poi-content" flex="70" flex-md="100" flex-sm="100">
					<div class="content-block align-right">
						<div class="info float-left">
							<div class="summary">遊歷 5 縣市 / 美食饗宴、歷史古蹟</div>
							<h2 class="title">食記@ 狡兔=諧趣x感性x創作</h2>
							<div class="summary">台北市、桃園市、新竹市、台南市、台東縣、花蓮市、新竹市、台南市、台東縣、花蓮市、宜蘭縣</div>

							<div class="summary">
								<i class="icon-User"></i><span><a href="#/usersee"  style="text-decoration: none;">Unlagwu・2015/12/30</a> </span> <i class="icon-Comments"></i><span> 32 </span><i class="icon-Heart"></i> <span>503 </span><i class="icon-Views"></i> <span>503</span>
							</div>
						</div>
						<div class="tool-bar">
							<div class="tool" ng-click="isCollect=!isCollect" ng-class="{'active':isCollect}">
								<i class="icon-Plus delay"></i>
								<i class="icon-Plus animate" ng-class="{'animate-active':isCollect}" ng-hide="isCollect"></i>
								<span>收藏</span>
							</div>
							<div class="tool" ng-click="showShareTool=!showShareTool">
								<i class="icon-Share-2"></i>
								<span>分享</span>
								<md-backdrop class="md-select-backdrop md-default-theme" ng-show="showShareTool"></md-backdrop>
								<div class="poi-dropdown-menu" ng-class="{'open': showShareTool}">
									<div class="menu-item"><i class="icon-Facebook"></i>Facebook</div>
									<div class="menu-item"><i class="icon-Twitter"></i>Twitter</div>
									<div class="menu-item"><i class="icon-Gplus"></i>Google+</div>
									<div class="menu-item"><i class="icon-Link"></i>複製網址</div>
								</div>
							</div>
							<div class="tool" ng-click="showMoreTool=!showMoreTool">
								<i class="icon-More-2"></i>
								<span>更多</span>
								<md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool"></md-backdrop>
								<div class="poi-dropdown-menu" ng-class="{'open': showMoreTool}">
									<a class="menu-item" href="#/travelNotesEditor">修改遊記</a>
									<div class="menu-item" ng-click="violationsReport($event)">檢舉/不恰當的內容</div>
									<div class="menu-item" ng-click="bugReport($event)">問題回報</div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="content-block align-left">
						<div class="travel-notes-content" ng-bind-html="travelNote.content"></div>
						<div class="clear"></div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>作者其他的遊記</h3>
								<a href="#/travelNotes"><div class="info-more">更多遊記 》</div></a>
							</div>
							<div class="slideshow multi-slide">
								<div class="slides" ng-style="{'width':100*(authorTravelNotes.length+1)+'%', 'margin-left':100*($index-authortravelSlide.currentIdx)+'%'}">
									<div class="slide" ng-class="{'active': $index==authortravelSlide.currentIdx}" ng-repeat="events in authorTravelNotes" ng-style="{'width':100/(authorTravelNotes.length+1)+'%'}">
										<div class="events" layout="row" layout-wrap>
											<div class="event-wrap" ng-repeat="item in events" flex="33" flex-md="33" flex-sm="100">
												<div class="event">
													<a href="#/travelNotes/poi">
														<div class="thumbnail" style="background-image: url(../public/images/trips/trip-{{$index%8+1}}.jpg)">
														</div>
													</a>
													<div class="summary">
														<div class="info has-author-img">
															<div class="author-img" style="background-image: url(../public/images/avatars/{{$index%4+1}}.jpg)"></div>
															<div class="author-name">{{item.author}}</div>
															<h4 class="title row-2">{{item.title}}</h4>
															<p  class="left-date" ><i class="icon-Clock-2"></i> <span>{{item.date}} </span></p>
															<p class="destit"><i class="icon-Views"></i> {{item.view}}</p>
															<p class="destit"><i class="icon-Comments"></i> {{item.comment}}</p>
															<p style="clear: both;"></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="control-block" ng-show="authorTravelNotes.length > 1">
								<div class="control control-left" ng-click="authortravelSlide.prev()">
									<span></span>
								</div>
								<div class="control-point-block">
									<div class="control-point" ng-class="{'active': $index==authortravelSlide.currentIdx}" ng-repeat="item in authorTravelNotes" ng-click="authortravelSlide.set($index)">
										<span></span>
									</div>
								</div>
								<div class="control control-right" ng-click="authortravelSlide.next()">
									<span></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>評論 (20)</h3>
							</div>
						</div>
						<div class="comments">
							<div class="comment-wrap">
								<div class="thumbnail-wrap">
									<div class="thumbnail" style="background-image:url({{comment.authorImg}})">
									</div>
								</div>
								<div class="content-wrap">
									<div class="author">{{comment.author}}</div>
									<!-- <div class="ranks-wrap">
										<span>點擊進行評分</span>
										<div class="ranks">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<span>(還不錯)</span>
									</div> -->
									<div class="comment">
										<textarea ng-model="comment.comment" placeholder="這裡有哪些特色、哪裡好玩，趕緊跟大家分享你的看法"></textarea>
										<div class="word-count">{{comment.comment.length}}/140</div>
										<div class="button small blue" ng-click="addComment()">回覆</div>
									</div>
									<div class="content">
										<div class="images">
											<div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})">
												<div class="remove-btn"></div>
											</div>
										</div>
									</div>
									<div class="actions">
										<div class="action">
											<i class="icon-Camera"></i>
											分享照片
										</div>
									</div>
								</div>
							</div>
							<div class="comment-wrap" ng-repeat="comment in comments">
								<div class="thumbnail-wrap">
									<div class="thumbnail" style="background-image:url({{comment.authorImg}})">
									</div>
								</div>
								<div class="content-wrap">
									<div class="author">{{comment.author}}
										<span>{{comment.commentTime}}</span>
									</div>
									<!-- <div class="ranks-wrap"> -->
										<!-- <div class="ranks">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div> -->
										<!-- </div> -->
										<div ng-hide="comment.editMode">
											<div class="content">
												<p>{{comment.comment}}</p>
												<div class="images">
													<div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})"></div>
												</div>
											</div>
											<div class="actions">
												<div class="action small">
													<i class="icon-ArrowUp"></i>
													有用 12
												</div>
												<div class="action" ng-click="toReply(comment)">回覆</div>
											</div>
											<div ng-show="comment.replyMode">
												<div class="comment">
													<textarea class="small" ng-model="comment.replyTemp"></textarea>
													<div class="button small blue" ng-click="addReply(comment)">回覆</div>
												</div>
												<div class="actions">
													<div class="word-count">24/140</div>
												</div>
											</div>
											<div class="comment-wrap" ng-repeat="reply in comment.replys">
												<div class="thumbnail-wrap">
													<div class="thumbnail" style="background-image:url({{reply.authorImg}})">
													</div>
												</div>
												<div class="content-wrap">
													<div class="author">{{reply.author}}
														<span>{{reply.commentTime}}</span>
													</div>
													<div ng-hide="reply.editMode">
														<div class="content">
															<p>{{reply.comment}}</p>
															<div class="images">
																<div class="image" ng-repeat="img in reply.images" style="background-image:url({{img}})"></div>
															</div>
														</div>
														<div class="actions">
															<div class="action small">
																<i class="icon-ArrowUp"></i>
																有用 12
															</div>
														</div>
													</div>
													<div ng-show="reply.editMode">
														<div class="comment">
															<textarea class="small" ng-model="reply.commentTemp"></textarea>
														</div>
														<div class="actions">
															<div class="word-count">24/140</div>
															<div class="button small" ng-click="cancelEditComment(reply)">取消</div>
															<div class="button small blue" ng-click="updateComment(reply)">確認修改</div>
														</div>
													</div>
												</div>
												<div class="comment-more" ng-click="reply.showMore=!reply.showMore">
													<i class="icon-ArrowDown"></i>
													<md-backdrop class="md-select-backdrop md-default-theme" ng-show="reply.showMore"></md-backdrop>
													<div class="poi-dropdown-menu" ng-class="{'open': reply.showMore}">
														<div class="menu-item" ng-click="editComment(reply)">編輯留言</div>
														<div class="menu-item" ng-click="deleteReply(comment, $index)">刪除留言</div>
													</div>
												</div>
											</div>
										</div>
										<div ng-show="comment.editMode">
											<div class="comment">
												<textarea class="small" ng-model="comment.commentTemp"></textarea>
											</div>
											<div class="actions">
												<div class="word-count">24/140</div>
												<div class="button small" ng-click="cancelEditComment(comment)">取消</div>
												<div class="button small blue" ng-click="updateComment(comment)">確認修改</div>
											</div>
										</div>
									</div>
									<div class="comment-more" ng-click="comment.showMore=!comment.showMore">
										<i class="icon-ArrowDown"></i>
										<md-backdrop class="md-select-backdrop md-default-theme" ng-show="comment.showMore"></md-backdrop>
										<div class="poi-dropdown-menu" ng-class="{'open': comment.showMore}">
											<div class="menu-item" ng-click="editComment(comment)">編輯留言</div>
											<div class="menu-item" ng-click="deleteComment($index)">刪除留言</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div flex="30" flex-md="100" flex-sm="100">
						<div class="content-block other align-left">
							<div class="info">
								<div class="subtitle">
									<i class="mark"></i>
									<h3>遊記中提到的目的地</h3>
								</div>
								<div class="content align-right" ng-repeat="item in spots" ng-show="item.visible">
									<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
									<div class="info remaining-width align-left">
										<h4 class="title">{{item.title}}</h4>
										
										<div class="ranks ">
												<i class="icon-Rank fill"></i>
												<i class="icon-Rank fill"></i>
												<i class="icon-Rank fill"></i>
												<i class="icon-Rank"></i>
												<i class="icon-Rank"></i>
											</div>
										
										<div class="description">
											<p style="margin-top: 5px;"><i class="icon-Views"></i> 100  <i class="icon-Comments"></i> 233 ｜ 台北市</p>
											
										</div>
									</div>
								</div>
								<div class="rbtnclass" style="text-align: center;margin-top: 20px;"><button  ng-click="setVisible(true)" class="button small" style="width: 80%;background-color: transparent;font-weight: normal;" ng-show="!ncoll">展開其他12個目的地</button><button  ng-click="setVisible(false)" class="button small" style="width: 80%;background-color: transparent;font-weight: normal;" ng-show="ncoll">收起列表</button></div>
							</div>
						</div>
						<div class="content-block other align-left">
							<div class="info">
								<div class="subtitle">
									<i class="mark"></i>
									<h3>相關遊記</h3>
								</div>
								<div class="content align-right" ng-repeat="item in relatedTravelNotes">
									<div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
									<div class="info remaining-width align-left">
										<h4 class="title">{{item.title}}</h4>
										<div class="meta">{{item.date}}・{{item.author}}</div>
										<div class="align-right">
											<div class="date">{{item.publishDate}}</div>
											<div class="author-wrap">
												<div class="author-img" style="background-image:url({{item.authorImg}})"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
