<div class="article help">
	<h1 class="title">六．如何提供景點或回報景點問題</h1>
	<span class="date">本文最後更新於 2015 年 07 月 14 日</span>
	<p class="descript">原封不動地顯示所有銀行回報的拒絕交易錯誤訊息。在您送出信用卡資訊後，錯誤回報將出現在頁面最上方的紅色框框裡。</p>
	<p class="descript">這些錯誤代碼和敘述文字對於解決問題並沒有太大幫助。大部分情況下，只需要重新輸入帳單資訊、或是直接與您的付款服務提供者聯絡，就可以輕鬆解決信用卡扣款失敗的問題。</p>
	<h2 class="title-2">網站上重新輸入您的付款資訊</h2>
	<p class="descript">進入論壇首頁，點擊右上方“發新帖”，選擇相應帖子類型（遊記/攻略等），即可進入發布頁面。</p>
	<p class="descript">原封不動地顯示所有銀行回報的拒絕交易錯誤訊息。在您送出信用卡資訊後，錯誤回報將出現在頁面最上方的紅色框框裡。</p>
	<p class="descript">這些錯誤代碼和敘述文字對於解決問題並沒有太大幫助。大部分情況下，只需要重新輸入帳單資訊、或是直接與您的付款服務提供者聯絡，就可以輕鬆解決信用卡扣款失敗的問題。</p>
	<img class="image" src="" alt="" style="width: 100%; height: 344px;">
</div>