<div class="home-page content" style="background-color:#ffffff;">

	<div class="slideshow">
		<div class="slides">
			<div class="slide" >
				<div class="banner" ng-style="bgstyle">
					<div class="info">
						<div class="infologo">
							<img src="../public/images/svg/slogan.svg" width="450px">
							<!--<div class="infoslogan" >拜訪台灣的唯一選擇</div>-->
							<div class="infosearch">
								<div class="infoset" >
									<ul><li  ng-repeat='item in menuItems' ><a href="#"  ng-class="{active : activeMenu === item}" ng-click="setActive(item)">{{ item }}</a></li></ul>
									<form>
										<!-- <input type="search" placeholder="搜尋" auto-focus="SEACHr_GLOBAL"> -->
										<div class="mainsearch-wrap">
											<div class="search"><div class="searchbtn"><img src="../public/images/searchmain.svg"></div>
											<md-autocomplete md-no-cache="true"
											md-selected-item="selectedItem" md-search-text-change="searchTextChange(setting.keyword)" md-search-text="setting.keyword" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(setting.keyword)" md-item-text="item.display" md-min-length="0" placeholder="{{searhItem}}" auto-focus="SEACH_GLOBAL" style="text-align: left;">
												<md-item-template>
													<span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
													<span class="text" style="display: inline-block;float: right;">{{item.type}}</span>
												</md-item-template>

											</md-autocomplete>


										</div>

									</div>
								</form>
								<!-- <form ng-if="menuIndex==1">
									<div class="mainsearch-wrap">
										<div class="search">
											<div class="input-wrap" ng-class="{'valid-error':travel.areas.length == 0}">
                    <tags-input ng-model="travel" placeholder="{{searhItem}}" spellcheck min-length="2" on-tag-added="tagAdded($tag)"
                            on-tag-removed="tagRemoved($tag)">
                        <auto-complete
                            source="loadAreas"
                            min-length="0"
                            max-results-to-show="32"
                            load-on-down-arrow="true"
                            load-on-empty="true"
                            load-on-focus="true"

                            select-first-match="false">
                        </auto-complete>
                    </tags-input>
                </div><div class="schdule-button">規劃旅遊行程</div>


										</div>

									</div>
								</form> -->

                <!-- 屏蔽在搜尋列出現的X形icon
                <div class="close-search" ng-click="closeSearch()"><i class="icon-Close"></i></div> -->

            </div>
            <div class="infotip" ng-if="menuIndex==0"><div class="infoleft"><a href="">台北</a>、<a href="">台中</a>、<a href="">台南</a></div><div class="inforight"><a href="#/spots" >53,271個景點等你來探索 ></a></div></div>
            <div class="infotip" ng-if="menuIndex==1"><div class="infoleft"><a href="">台北</a>、<a href="">台中</a>、<a href="">台南</a></div><div class="inforight"><a href="#/trips" >瀏覽其他使用者建立的 3,923  筆行程規劃 ></a></div></div>
            <div class="infotip" ng-if="menuIndex==2"><div class="infoleft"><a href="">台北</a>、<a href="">台中</a>、<a href="">台南</a></div><div class="inforight"><a href="#/souvenir" >3,271 項伴手禮、票券等你來探索 ></a></div></div>
            <div class="infotip" ng-if="menuIndex==3"><div class="infoleft"><a href="">台北夜市</a>、<a href="">親子旅遊</a>、<a href="">美食小吃</a></div><div class="inforight"><a href="#/travelNotes" > 3,320 篇遊記等你來挖寶 ></a></div></div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<section>
	<div class="section-wrap">
		<div class="section-tinfo">
			<h2 class="section-title">推薦遊玩景點</h2>
		</div>

		<hot-theme></hot-theme>

	</section>

	<section>
		<div class="section-wrap">

			<div class="section-ninfo">

				<h2 class="section-title">觀光景點</h2>
				<span ng-repeat='item in touritems'  >
					<span class="section-smenu" ng-class="{active : activTour === item}" ng-click="setTourActive(item)">{{ item }}</span>
				</span>

				<a href="/#/spots"><div class="section-rmenu" > 5,843 個景點等你探索<span></span></div></a>

			</div>
			<hot-spot></hot-spot>
		</section>
		<section id="map">
			<div class="section-wrap">
				<div class="section-minfo">
					<h2 class="map-title">熱門打卡地圖</h2>
					<span ng-repeat='item in pinitems' class="menutag" >
						<span class="section-smenu" ng-class="{active : activPin === item}" ng-click="setPinActive(item)">{{ item }}</span>
					</span>

					<div class="section-rmenu"> 86,372 筆景點統計結果　
						<div class="control-block">
							<div class="control control-left" ng-click="checkinSlide.prev()">
								<span></span>
							</div>
							<div class="control-point-block">
								<div class="control-point" ng-class="{'active': $index==checkinSlide.currentIdx}" ng-repeat="item in checkinList" ng-click="checkinSlide.set($index)">
									<span></span>
								</div>
							</div>
							<div class="control control-right" ng-click="checkinSlide.next()">
								<span></span>
							</div>
						</div>
					</div>


				</div>
				<check-in-map></check-in-map>

			</div>
		</section>

		<section>
			<div class="section-wrap">
				<div class="section-sinfo">
					<h2 class="section-title" >分享行程</h2>

					<span ng-repeat='item in scheduleitems'  >
						<span class="section-smenu" ng-class="{active : activSchedule === item}" ng-click="setScheduleActive(item)">{{ item }}</span>
					</span>


					<a href="/#/trips"><div class="section-rmenu"> 1,923 篇行程等你尋訪 <span></span></div></a>
				</div>
				<hot-trip></hot-trip>
			</div>
		</section>
		
		<section>
			<div class="section-wrap">
				<div class="section-ginfo">
					<h2 class="section-title" >熱門遊記</h2>
					<span ng-repeat='item in travelNotesitems'  >
						<span class="section-smenu" ng-class="{active : activtravelNote === item}" ng-click="setTravelNoteActive(item)">{{ item }}</span>
					</span>


					<a href="/#/travelNotes"><div class="section-rmenu"> 320 篇遊記等你來挖寶 <span></span></div></a>

				</div>
				<hot-guide></hot-guide>
			</div>
		</section>



		<section class="final">
			<div class="section-wrap" >
				<div class="section-info">
					<h2 class="section-title">特色景點匯集</h2>
					<p class="section-descript">探索台灣角落的風情萬種</p>
				</div>
				<hot-collection></hot-collection>
			</div>
		</section>
		<section class="recommend-events-section">
			<div class="section-wrap">
				<h2 class="section-title" >好康活動</h2>
				<div class="control">
				<span class="control-left" style="margin-top: -50px;" ng-click="eventsSlide.prev()">
				</span>
				<span class="control-right" style="margin-top: -50px;" ng-click="eventsSlide.next()">
				</span>
				<div class="mslideshow multi-slide">
					<div class="slides" ng-style="{'width':100*(ThemeList.length+1)+'%', 'margin-left':100*($index-eventsSlide.currentIdx)+'%'}">
						<div class="slide" ng-class="{'active': $index==eventsSlide.currentIdx}" ng-repeat="event in events" ng-style="{'width':100/(ThemeList.length+1)+'%'}">
							<div class="recommend-events" layout="row" layout-wrap>
								<div class="event-wrap" ng-repeat="item in event">
									<a href="#" class="event">
										<div class="thumbnail" style="background-image: url({{item.thumbnail}})"></div>
										<div class="info">
											<h4 class="title">{{item.title}}</h4>
										</div>
									</a>
								</div>




							</div></div></div></div>


						</div>
					</section>
				</div>