<div class="trips-page content gray" ng-class="{'map-mode': layout=='Map'}">
    <section class="filters" ng-class="{'open' : isOpenFilter}">
        <div class="filters-header">
            <div class="close" ng-click="closeFilter()">
                <i class="icon-Close"></i>
            </div>
            <h4>過濾條件</h4>
        </div>
        <div class="section-wrap container-bar">

            <div class="filter-type">
                <div class="type-name">地區篩選</div>
                <div class="type-more" ng-click="toggleMore('areas')">
                    <span ng-hide="showAllOption.areas">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.areas">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.areas}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn">台北</div>
                    <div class="type-btn active">台中</div>
                    <div class="type-btn">台南</div>
                    <div class="type-btn">高雄</div>
                    <div class="type-btn">新竹</div>
                    <div class="type-btn">嘉義</div>
                    <div class="type-btn">台東</div>
                    <div class="type-btn">澎湖</div>
                    <div class="type-btn">其他</div>
                    <div class="type-btn">桃園</div>
                    <div class="type-btn">苗栗</div>
                    <div class="type-btn">彰化</div>
                    <div class="type-btn">雲林</div>
                    <div class="type-btn">宜蘭</div>
                    <div class="type-btn">花蓮</div>
                    <div class="type-btn">嘉義</div>
                </div>
            </div>

            <div class="filter-type">
                <div class="type-name">住宿類型</div>
                <div class="type-more" ng-click="toggleMore('staysType')">
                    <span ng-hide="showAllOption.staysType">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.staysType">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.staysType}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn">飯店</div>
                    <div class="type-btn active">青年旅社</div>
                    <div class="type-btn">旅館</div>
                    <div class="type-btn">公寓</div>
                    <div class="type-btn">家庭旅館</div>
                    <div class="type-btn">民宿</div>
                    <div class="type-btn">別墅/度假屋</div>
                </div>
            </div>

            <div class="filter-type">
                <div class="type-name">住房日期</div>
                <div class="type-wrap type-btns expand">
                    <div class="date-range">
                        <div class="date-input">
                            <i class="icon-Calendar"></i>
                            <input type="text" ng-model="startDate" numbers-only placeholder="入住日期" datepicker>
                        </div>
                        -
                        <div class="date-input">
                            <i class="icon-Calendar"></i>
                            <input type="text" ng-model="endDate" numbers-only placeholder="退房日期" datepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filter-type">
                <div class="type-name">價格範圍</div>
                <div class="type-wrap type-btns expand">
                    <div class="price-range">
                        <input type="text" ng-model="minPrice" numbers-only placeholder="250 元">
                        -
                        <input type="text" ng-model="maxPrice" numbers-only placeholder="不限">
                        <div class="button small button-outline">確認</div>
                    </div>
                </div>
            </div>

            <div class="filter-type">
                <div class="type-name">星級</div>
                <div class="type-wrap type-btns expand">
                    <div class="type-btn">不限</div>
                    <div class="type-btn active">１星級</div>
                    <div class="type-btn">２星級</div>
                    <div class="type-btn">３星級</div>
                    <div class="type-btn">４星級</div>
                    <div class="type-btn">５星級</div>
                </div>
            </div>
        </div>
        <div class="filters-more">
            <span>
                更多選項
                <i class="icon-ArrowDown"></i>
            </span>
        </div>
    </section>

    <!-- 顯示方式切換 -->
    <section>
        <div class="section-wrap layout-types">
           <div class="filter-type filters-float-left menuin">
            <a href="#" class="active">評價最高</a> |
            <a href="#">價格低到高</a> |
            <a href="#">價格高到低</a> |
            <a href="#">最多收藏</a> |
            <a href="#">發表日期</a>
        </div>
        <div class="layout-type-label">顯示方式</div>
        <div class="layout-btns">
            <div class="layout-btn hint hint--top" data-hint="格狀顯示" ng-class="{'active': layout=='Grid'}" ng-click="switchLayout('Grid')"><i class="icon-Grid"></i></div>
            <div class="layout-btn hint hint--top" data-hint="列表顯示" ng-class="{'active': layout=='List'}" ng-click="switchLayout('List')"><i class="icon-Playlist"></i></div>
            <div class="layout-btn hint hint--top map-btn" data-hint="地圖顯示" ng-class="{'active': layout=='Map'}" ng-click="switchLayout('Map')"><i class="icon-Map"></i></div>
            <div show-for-small class="layout-btn" ng-click="openFilter()"><i class="icon-Filter"></i></div>
        </div>
    </div>
</section>

<!-- 格壯列表 -->
<section>
    <div class="section-wrap no-top-padding">

        <!-- Grid 模式 -->
        <div ng-show="layout=='Grid'" class="spots" layout="row" layout-wrap>

           <div class="spot-wrap" flex="25" flex-md="50" flex-sm="100" ng-repeat="stay in stays">
            <div class="spot">
                <div ng-show="!stay.isCollect" class="collect-btn" ng-click="toggleCollect(stay)"><i class="icon-Heart-2"></i> 收藏</div>
                <div ng-show="stay.isCollect" class="collect-btn active" ng-click="toggleCollect(stay)"><i class="icon-Heart-2"></i></div>
                <a href="#/stays/poi">
                    <div class="thumbnail" style="background-image: url(../public/images/stays/stay-{{$index%8+1}}.jpg)">
                        <div class="tags">
                            <div class="tag" ng-repeat="tag in stay.tags"  >{{tag}}</div>
                        </div>
                    </div>
                    <div class="tags">
                        <div class="tag red" ng-if="stay.mustgo">立即訂房</div>
                        <div class="tag" ng-class="stay.locationtag">{{stay.location}}</div>
                    </div>

                    <div class="info no-meta">
                        <h4 class="title">{{stay.title}}</h4>
                        <div class="metas"><div class="address"><i class="icon-Costs"></i> <span>均消 $500</span></div></div>

                        <div class="metas"><div class="address"><i class="icon-Pin"></i> <span>{{stay.address}}</span></div></div>
                        <div ng-if="!stay.istripadv"  class="newranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>

                        <p ng-if="stay.istripadv" class="adrank  hint hint--top" data-hint="平均 {{stay.rank}} 星等" style="background-position: left {{stay.rankstar}}px;"> </p>

                        <p class="destit"><i class="icon-Views"> {{stay.view}}</i></p>
                        <p class="destit"><i class="icon-Comments"> {{stay.comment}}</i></p>
                        <p style="clear: both;"></p>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <!-- List 模式 -->
    <div ng-show="layout=='List'" class="spot-list" layout="row" layout-wrap>

     <div class="spot-wrap" flex="50" flex-md="50" flex-sm="100" ng-repeat="stay in stays">
        <div class="spot">
         <div ng-show="!stay.isCollect" class="collect-btn" ng-click="toggleCollect(stay)"><i class="icon-Heart-2"></i> 收藏</div>
         <div ng-show="stay.isCollect" class="collect-btn active" ng-click="toggleCollect(stay)"><i class="icon-Heart-2"></i></div>
         <a href="#/stays/poi">
            <div class="thumbnail" style="background-image: url(../public/images/stays/stay-{{$index%8+1}}.jpg)">
                <div class="tags">
                  <div class="tag red" ng-if="stay.mustgo">立即訂房</div>
                  <div class="tag" ng-class="stay.locationtag">{{stay.location}}</div>
              </div>
          </div>
      </a>
      <div class="info">
        <a href="#/stays/poi">
            <h4 class="title">{{stay.title}}</h4>
        </a>
                                <div class="metas"><div class="address"><i class="icon-Costs"></i> <span>均消 $500</span></div></div>
        <div class="metas">
            <div class="address"><i class="icon-Pin"></i> <span>{{stay.address}}</span></div>
        </div>
        <div  ng-if="!stay.istripadv"   class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
        <p ng-if="stay.istripadv" class="adrank" data-hint="平均 {{stay.rank}} 星等" style="background-position: left {{stay.rankstar}}px;"> </p>

        <p class="destit"><i class="icon-Views"> {{stay.view}}</i></p>
        <p class="destit"><i class="icon-Comments"> {{stay.comment}}</i></p>

        <p class="tags">
            <span class="tag" ng-repeat="tag in stay.tags"  >{{tag}}</span>
        </p>
        <p style="clear: both;"></p>

    </div>
</div>
</div>





</div>

<!-- Map 模式 -->
<div ng-show="layout=='Map'" class="spot-map" layout="row" layout-wrap>

    <div class="list-map2">
        <div>this is map</div>
        <a class="view-larger-map">
            <i class="icon-Map"></i>
            <span>查看大地圖</span>
        </a>
    </div>
    <div class="spot-list" flex="100" flex-md="100" flex-sm="100" suppress-scroll-x="true">
        <div class="spot-wrap" flex="50" flex-md="50" flex-sm="100" ng-repeat="stay in stays">
            <div class="spot">
                <a href="#/stays/poi">
                    <div class="thumbnail" style="background-image: url(../public/images/stays/stay-{{$index%8+1}}.jpg)">
                    </div>
                </a>
                <div class="info">
                    <a href="#/stays/poi">
                        <h4 class="title">{{stay.title}}</h4>
                    </a>
                    <div class="summary">
                        <span class="types">{{stay.type}} / </span>
                        <span class="price" ng-if="stay.price!=0">每晚平均 {{stay.price}} 元</span>
                    </div>
                    <p class="descript">{{stay.descript}}</p>
                    <div class="metas">
                        <div class="address"><i class="icon-Pin"></i> {{stay.address}}</div>
                        <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                        <div class="recommend">{{stay.collectCount}}人收藏</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</section>
<!-- 分頁 -->
<section>
    <div class="section-wrap no-top-padding">
        <div class="pagination">
          <ul class="page-numbers">
            <li><a href="" class="prev">上一頁</a></li>
            <li><a href="">1</a></li>
            <li><a href="" class="current" >2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">...</a></li>
            <li><a href="">5</a></li>
            <li><a href="" class="next">下一頁</a></li>
        </ul>
    </div>
</div>
</section>
<div class="status">
    <div class="loading">
        <div class="throbber throbber_large"></div>
        <span>載入中</span>
    </div>
</div>
</div>
