<div class="poi-page content gray container-bar">
    <section>
        <div class="section-wrap breadcrumb-wrap">
            <a href="#" class="breadcrumb">首頁</a>
            <i class="icon-Forward"></i>
            <a href="#" class="breadcrumb">目的地貢獻列表</a>
            <i class="icon-Forward"></i>
            <a href="#" class="breadcrumb current">新增目的地</a>
        </div>
    </section>
    <section>
        <div class="section-wrap no-top-padding">
            <div layout="row" layout-wrap>
                <div class="poi-content" flex="100" flex-md="100" flex-sm="100">

                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <h3>基本資訊</h3>
                            </div>
                            <div class="col-top">
                               <div class="sub-left">相片</div>
                               <div class="sub-right" id="uploadPic">
                                   <div class="imgupload pointer"><span class="uptips">最多上傳五張照片</span></div>
                                   <div class="imgupload delpic" style="background-image:url('../public/images/spots/spot-1.jpg');"></div>
                                   <div class="imgupload delpic" style="background-image:url('../public/images/spots/spot-2.jpg');"></div>
                                   <div class="imgupload delpic" style="background-image:url('../public/images/spots/spot-3.jpg');"></div>
                                   <div class="imgupload delpic" style="background-image:url('../public/images/spots/spot-4.jpg');"></div>
                               </div>
                           </div>
                           <div class="col-top">
                               <div class="sub-left">中文名稱</div>
                               <div class="sub-right"><input type="text" class="txtinput" placeholder="輸入中文名稱">
                               </div>

                           </div>
                           <div class="col-top">
                               <div class="sub-left">目的地描述</div>
                               <div class="sub-right"><textarea ng-model="report.reasons.otherContent" class="txtarea ng-pristine ng-valid ng-touched" aria-multiline="true" tabindex="0" aria-invalid="false" placeholder="說說這裡的特色"></textarea>
                                 <br> 景點特色描述例如:景點的歷史與故事、旅遊建議  ...
                             </div>

                         </div>
                         <div class="col-top">
                             <div class="sub-left">主題特色(可複選)</div>
                             <div class="sub-right">
                                 <div class="selectCon" id="zone" ><button  class="trip-tag" ng-repeat='item in zoneitems' ng-click="setZone($event,item)">{{ item }}</button> </div>
                             </div>
                         </div>
                         <div class="subtitle">
                            <h3>聯絡資訊</h3>
                        </div>
                        <div class="col-top">
                            <div class="sub-left">縣市</div>
                            <div class="sub-right">
                                <select>
                                   <option value="" disabled selected>選擇縣市</option>
                                   <option ng-repeat="county in countyList" ng-value="county.id">{{county.name}}</option>
                               </select>
                           </div>
                       </div>
                       <div class="col-top">
                           <div class="sub-left">地址</div>
                           <div class="sub-right"><input type="text"　 placeholder="例如：台北市信義區信義路1號" class="txtinput">  不曉得這個目的地的地址嗎?<a href="https://www.google.com.tw/maps?hl=zh-TW&tab=wl">前往Google Map找找看</a>
                           </div>
                       </div>
                       <div class="col-top">
                           <div class="sub-left">電話(選填)</div>
                           <div class="sub-right"><input type="text" class="txtinput" placeholder="例如：02-1234 5678">
                           </div>

                       </div>
                       <div class="col-top">
                           <div class="sub-left">網站(選填)</div>
                           <div class="sub-right"><input type="text" class="txtinput" placeholder="http://">
                           </div>

                       </div>
                       <div class="subtitle">
                        <h3>其他資訊</h3>
                    </div>
                    <div class="col-top">
                       <div class="sub-left">Youtubeu影片(選填)</div>
                       <div class="sub-right" id="youtubevideos"><input type="text" class="txtinput" placeholder="http://">
                         <span class="tipblue" id="addvideo"> +最多添加5個影片 </span>
                     </div>

                 </div>
                 <div class="col-top">
                   <div class="sub-left">建議停留時間(選填)</div>
                   <div class="sub-right"><input type="number" class="txtinput smaller"><span class="inlinetxt">小時</span>
                   </div>

               </div>
               <div class="col-top">
                   <div class="sub-left">一般票價(選填)</div>
                   <div class="sub-right">

                    <list>
                        <item class="item-checkbox" ng-repeat="item in itens">
                            <md-checkbox  ng-click="updateSelection($index, itens, item.title)" ng-model="item.checked" aria-label="{{ item.title }}" class="ng-pristine ng-valid md-default-theme ng-touched" role="checkbox" tabindex="0" aria-invalid="false" ><div ng-transclude="" class="md-label" ><span class="ng-scope">{{ item.title }}</span></div></md-checkbox>
                        </item>
                    </list>NT$ <input type="number" class="txtinput smaller"> 元
                </div>
            </div>
            <div class="col-top">
             <div class="sub-left">適合月份(選填)</div>
             <div class="sub-right">
                 <div class="selectCon" id="month" ><button  class="trip-tag" ng-repeat='item in monthitems' ng-click="setMonth($event,item)">{{ item }}</button> </div>
             </div>
         </div>
         <div class="col-top">
           <div class="sub-left">營業時間選項 (選填)</div>
           <div class="sub-right">

            <list>
                <item class="item-checkbox" ng-repeat="item in btime">
                    <md-checkbox  ng-click="updateBussiness($index, btime, item.title)" ng-model="item.nchecked" aria-label="{{ item.title }}" class="ng-pristine ng-valid md-default-theme ng-touched" role="checkbox" tabindex="0" aria-invalid="false" ><div ng-transclude="" class="md-label" ><span class="ng-scope">{{ item.title }}</span></div></md-checkbox><br>
                </item>
            </list>
        </div>
    </div>
    <div class="col-top">
       <div class="sub-left">編輯營業時間選項 (選填)</div>
       <div class="sub-right">
           <div class="weekpicker">
            <!-- <select>
                                 <option value="" disabled selected>選擇縣市</option>
                                <option ng-repeat="county in countyList" ng-value="county.id">{{county.name}}</option>
                            </select> -->
                            <div class="weekdaypicker" ng-repeat="item in weekdayitems">
                               <div class="weeday">{{item}}</div>
                               <div class="pickmodel">
                                <div class="selectoarr">
                                <select style="width: 200px;">
                                   <option value="" disabled selected>開始營業時間</option>
                                   <option ng-repeat="item in timeinterval" ng-value="county.id">{{item}}</option>
                               </select>
                               -
                               <select style="width: 200px;">
                                   <option value="" disabled selected>結束營業時間</option>
                                   <option ng-repeat="item in timeinterval" ng-value="county.id">{{item}}</option>
                               </select>
                               <img src="../public/images/closebtn.svg" style="margin-left: 10px;cursor: pointer;" class="delweek"></div>
                           </div>
                           <div class="addday" ng-click="addnewday($index);" >+ 新增營業時間</div>
                       </div>

                   </div>
               </div>
           </div>
           <div class="col-top">
                               <div class="sub-left">舉報重複目的地 (選填)</div>
                               <div class="sub-right"><textarea ng-model="report.reasons.otherContent" class="txtarea ng-pristine ng-valid ng-touched" aria-multiline="true" tabindex="0" aria-invalid="false" placeholder="請貼上重目的地的網址，若有多個可用逗號分隔"></textarea>
                             </div>

                         </div>
                         <div class="content-footer">
                <button  tabindex="0" class="cancelbtn">取消</button>
                <button  tabindex="0" class="submitbtn">提交資訊</button>



            </div>
           

        </div>
    </div>

</div>

</div>
</div>
</section>
</div>
