<style>
.info-bubble-content {
  width: 240px;
  height: 240px;
  margin: 0;
  padding: 24px;
  text-align: center;
  overflow: hidden;
  background-color: rgba(226, 61, 42, 0.8);
  position: relative;
}

.info-bubble-content .rank {
  opacity: 0.4;
  font-family: .HelveticaNeueDeskInterface-Regular;
  font-size: 16px;
  color: #000000;
  line-height: 38px;
  margin-bottom: 16px;
}

.info-bubble-content .rank span {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 48px;
}

.info-bubble-content h2 {
  font-family: STHeitiTC-Light;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0.75px;
  line-height: 20px;
  margin-bottom: 16px;
}

.info-bubble-content p {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 19px;
}

.info-bubble-content p span {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  font-weight: bold;
}

.info-bubble-content a {
  opacity: 0.4;
  font-family: STHeitiTC-Light;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  line-height: 16px;
  position: absolute;
  left: 50%;
  bottom: 24px;
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
</style>
<div id="check-in-map">

 <div class="mslideshow multi-slide">
            <div class="slides" ng-style="{'width':100*(checkinList.length+1)+'%', 'margin-left':100*($index-checkinSlide.currentIdx)+'%'}">
                <div class="slide" ng-class="{'active': $index==checkinSlide.currentIdx}" ng-repeat="chcekins in checkinList" ng-style="{'width':100/(checkinList.length+1)+'%'}">
 <div class="recommend-pins" layout="row" layout-wrap>
  <a href="#" class="pins-wrap"  ng-if="$first"   style="width:66%;" ng-repeat="pin in chcekins">
      <div class="pin" style="background-image: url({{pin.images[0].url}})" ng-mouseover="hoverShow(pin)" ng-mouseleave="hoverhide(pin)">
      <div class="tags" ng-show="!pin.showHover">
        <div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}">{{pin.location}}</div>
        </div>
        <div class="info" ng-show="!pin.showHover">
          <div class="metas"><p class="pintag">{{pin.id}}</p><p class="pincount">{{pin.checkin}}打卡數</p><p style="clear:both;" ></p></div>
           <h4 class="title">{{pin.title}}</h4>
        </div>
        <div class="hoverCon" ng-show="pin.showHover">
        <h4 class="title">{{pin.title}}</h4>
        <div class="hover-info">{{pin.descript}}</div>
        <div class="hover-link">查看景點資訊</div>

        </div>
      </div>
  </a>
   <a href="#" class="pins-wrap" ng-if="!$first"     style="width:33%;" ng-repeat="pin in chcekins">
      <div class="pin" style="background-image: url({{pin.images[0].url}})"  ng-mouseover="hoverShow(pin)" ng-mouseleave="hoverhide(pin)">
     <div class="tags" ng-show="!pin.showHover">
        <div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}">{{pin.location}}</div>
        </div>
        <div class="info" ng-show="!pin.showHover">
          <div class="metas"><p class="pintag">{{pin.id}}</p><p class="pincount"> {{pin.checkin}} 打卡數 </p><p style="clear:both;" ></p></div>
           <h4 class="title">{{pin.title}}</h4>
        </div>
     <div class="hoverCon" ng-show="pin.showHover">
        <h4 class="title">{{pin.title}}</h4>
        <div class="hover-info">{{pin.descript}}</div>
        <div class="hover-link">查看景點資訊</div>

        </div>
      </div>
  </a>
</div></div></div></div>
  <div class="map" >

  </div>
 
</div>
<!-- ng-if="$first" -->