<div class="content-col">
    <div class="article service">
        <h1 class="title">個資當事人行使權利專頁</h1>
        <p class="descript">您若曾提供個人資料予本會，依「個人資料保護法」之規定，可向本會行使查詢或請求閱覽、製給複製本、補充或更正、停止蒐集、處理或利用或刪除您的個人資料等權利；您因行使上述權利而提供本會之個人資料，亦受個人資料保護法保護。 您可下載下方之「當事人行使權利申請書」，填妥並簽名後傳真或郵寄至本會；您也可以來電或透過下方留言板告知您的需求，本會設有專人為您服務。您在留言板上提供之個人資料僅供本會科技法律研究所於中華民國境內，為辦理個資當事人行使權利業務聯繫之用；其保存期限，應依相關法令及本所作業程序辦理；當您點選「送出」鍵時，即視為您已充分了解並同意前述相關事項：</p>
        <p class="descript">下載「<a href="http://www.iii.org.tw/SiteInfo/%E7%95%B6%E4%BA%8B%E4%BA%BA%E8%A1%8C%E4%BD%BF%E6%AC%8A%E5%88%A9%E7%94%B3%E8%AB%8B%E6%9B%B8.pdf" target="_blank">當事人行使權利申請書</a>」</p>
        <p class="descript">(1)來電：（+886）2-6607-2999
            <br/> (2) 傳真：（+886）2-6607-2966
            <br/> (3) 電子郵件：vztaiwan@iii.org.tw
            <br/> (4) 寄送：​10574 台北市松山區民生東路4段133號1樓 大數據所
        </p>
    </div>
</div>
<div class="clear"></div>
