<div class="poi-page content gray">
    <section>
        <div class="section-wrap breadcrumb-wrap">
            <a href="#" class="breadcrumb">首頁</a>
            <i class="icon-Forward"></i>
            <a href="#/brand" class="breadcrumb">品牌</a>
            <i class="icon-Forward"></i>
            <a href="#" class="breadcrumb current">阿原肥皂（信義誠品店）</a>
        </div>
    </section>
    <section>
        <div class="section-wrap no-top-padding">
            <div layout="row" layout-wrap>
                <div class="poi-content" flex="70" flex-md="100" flex-sm="100">
                    <div class="content-block align-right">
                        <div class="info float-left">
                            <h2 class="title">阿原肥皂</h2>
                            <div class="summary">
                                <span>商圈、文化藝術</span>
                            </div>
                        </div>
                        <div class="tool-bar">
                            <div class="tool" ng-click="showShareTool=!showShareTool">
                                <i class="icon-Share-3"></i>
                                <span>分享</span>
                                <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showShareTool"></md-backdrop>
                                <div class="poi-dropdown-menu" ng-class="{'open': showShareTool}">
                                    <div class="menu-item"><i class="icon-Facebook"></i>Facebook</div>
                                    <div class="menu-item"><i class="icon-Twitter"></i>Twitter</div>
                                    <div class="menu-item"><i class="icon-Gplus"></i>Google+</div>
                                    <div class="menu-item"><i class="icon-Link"></i>複製網址</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-block align-left">
                        <div class="slideshow float-left" flex="35" flex-md="35" flex-sm="100">
                            <div class="slides">
                                <div class="slide" ng-repeat="item in slideList" ng-style="{'background-image':'url('+item.imgUrl+')', 'left':100*($index-currentSlideIdx)+'%'}">
                                    <span class="watermark">© flick-unlag</span>
                                </div>
                            </div>
                            <div class="ctrl-btn prev" ng-click="prevSlide()" ng-show="currentSlideIdx>0">
                                <i class="icon-Back"></i>
                            </div>
                            <div class="ctrl-btn next" ng-click="nextSlide()" ng-show="currentSlideIdx<(slideList.length-1)">
                                <i class="icon-Forward"></i>
                            </div>
                            <div class="ctrl-panel" ng-show="slideList.length > 1">
                                <div class="ctrl-point" ng-class="{'active': $index==currentSlideIdx}" ng-repeat="item in slideList" ng-click="setSlide($index)"></div>
                            </div>
                        </div>
                        <div class="info remaining-width" flex="65" flex-md="65" flex-sm="100">
                            <table class="table-info">
                                <tr>
                                    <td class="name">網站</td>
                                    <td class="content">
                                        <a href="http://dintaifung.incdoor.com" inner-frame-dialog class="link">dintaifung.incdoor.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">FB粉絲團</td>
                                    <td class="content">
                                        <a href="http://www.facebook.com" inner-frame-dialog class="link">dintaifung.incdoor.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">部落格</td>
                                    <td class="content">
                                        <a href="http://www.blogspot.com.tw" inner-frame-dialog class="link">dintaifung.incdoor.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">電話</td>
                                    <td class="content">
                                        (03)455-12345
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">信箱</td>
                                    <td class="content">
                                        <a href="mailto:service@vztaiwan.com" inner-frame-dialog class="link">service@vztaiwan.com</a>
                                    </td>
                                </tr>
                                <!--<tr>
                                    <td class="name">相關標籤</td>
                                    <td class="content">
                                        <div class="labels" ng-class="{'expand':labels}">
                                            <div class="label">好吃</div>
                                            <div class="label">適合聚餐</div>
                                            <div class="label">老闆親切</div>
                                            <div class="label">裝潢漂亮</div>
                                        </div>
                                        <div class="label-expand" ng-click="toggleBool('labels')" ng-show="!labels">
                                            <span>顯示全部</span>
                                            <i class="icon-ArrowDown"></i>
                                        </div>
                                        <div class="label-expand" ng-click="toggleBool('labels')" ng-show="labels">
                                            <span>顯示部分</span>
                                            <i class="icon-ArrowUp"></i>
                                        </div>
                                    </td>
                                </tr>-->
                            </table>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>品牌介紹</h3>
                            </div>
                            <div class="description" ng-class="{'expand':brandInfo}">阿原的經營想法「台灣四面環海與充滿山林的自然環境，蘊藏許多珍貴的青草藥，是老天爺賜給我們的自然良方。可惜除了老一輩的人知道善加利用之外，現代人已多半不識。」 創辦人江榮原由於自身的過敏膚質，而著手自製手工肥皂，於2005年6月成立了阿原肥皂工作室。阿原肥皂秉持著「愛惜人身，將心比心」的初衷，製作肥皂的一切素材都從身邊開始，本持著天然使用。於是位於台灣山坡的魚腥草、田間的左手香以及民間常用的艾草...
                            </div>
                            <div class="info-expand">
                                <span ng-click="toggleBool('brandInfo')" ng-show="!brandInfo">顯示全部</span>
                                <span ng-click="toggleBool('brandInfo')" ng-show="brandInfo">顯示部分</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>實體地點/店家</h3>
                            </div>
                            <div class="slideshow multi-slide">
                                <div class="slides" ng-style="{'width':100*(staysGroup.length+1)+'%', 'margin-left':100*($index-staysSlide.currentIdx)+'%'}">
                                    <div class="slide" ng-class="{'active': $index==staysSlide.currentIdx}" ng-repeat="stays in staysGroup" ng-style="{'width':100/(staysGroup.length+1)+'%'}">
                                        <div class="stays" layout="row" layout-wrap>
                                            <div class="stay-wrap" ng-repeat="item in stays" flex="25" flex-md="25" flex-sm="100">
                                                <div class="stay">
                                                    <a href="">
                                                        <div class="thumbnail" style="background-image:url({{item.thumbnail}})">
                                                        </div>
                                                    </a>
                                                    <div class="summary">
                                                        <h4 class="title">{{item.title}}</h4>
                                                        <div class="meta"> {{item.description}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-block" ng-show="staysGroup.length > 1">
                                <div class="control control-left" ng-click="staysSlide.prev()">
                                    <span></span>
                                </div>
                                <div class="control-point-block">
                                    <div class="control-point" ng-class="{'active': $index==staysSlide.currentIdx}" ng-repeat="item in staysGroup" ng-click="staysSlide.set($index)">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="control control-right" ng-click="staysSlide.next()">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="content-block align-left">
                        <div class="promotions">
                            <h3 class="title">2015 以草治夏活動 - 第一波
								<span class="sub-title">2015年6月12日 ~ 2015年7月30日</span>
							</h3>
                            <p class="description">
                                凡購買3塊肥皂（任選，不含衣皂與皂餅），送衣肥皂乙顆（價值NTD180）。全館滿額送，單筆消費滿 NTD 2,500 送阿原處處好＋好朋油（肩頸）30mL乙組（價值NTD1,340）
                            </p>
                        </div>
                    </div>-->
                    <div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>相關影音</h3>
                            </div>
                            <div class="videos" layout="row" layout-wrap>
                                <div class="video-wrap" ng-repeat="item in videos" flex="50" flex-md="50" flex-sm="100">
                                    <div class="video">
                                        <a href="">
                                            <div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})">
                                                <!-- <i class="icon-Play"></i> -->
                                            </div>
                                        </a>
                                        <div class="summary remaining-width">
                                            <h4 class="title">{{item.title}}</h4>
                                            <div class="meta">觀看次數：{{item.viewcount}}</div>
                                            <p class="description">片長：5:21</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="content-block align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>合作活動</h3>
                            </div>
                            <div class="activity" ng-repeat="item in activities">
                                <div class="border">
                                    <div class="buttons float-right">
                                        <div class="button blue">活動說明</div>
                                    </div>
                                    <div class="summary remaining-width">
                                        <h4 class="title">{{item.title}}</h4>
                                        <span class="date">{{item.startDate}} ~ {{item.endDate}}</span>
                                        <div class="message">{{item.message}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div flex="30" flex-md="100" flex-sm="100">
                    <div class="content-block other align-left">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>主打商品</h3>
                            </div>
                            <div class="slideshow multi-slide ">
                                <div class="slides" ng-style="{'width':100*(products.length+1)+'%', 'margin-left':100*($index-productsSlide.currentIdx)+'%'}">
                                    <div class="slide" ng-class="{'active': $index==productsSlide.currentIdx}" ng-repeat="events in products" ng-style="{'width':100/(products.length+1)+'%'}">
                                        <div class="content align-right" ng-repeat="item in events">
                                            <div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
                                            <div class="info remaining-width align-left">
                                                <h4 class="title">{{item.title}}</h4>
                                                <div class="price">
                                                    NT$ {{item.price}} 起
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-block" ng-show="products.length > 1">
                                <div class="control control-left" ng-click="productsSlide.prev()">
                                    <span></span>
                                </div>
                                <div class="control-point-block">
                                    <div class="control-point" ng-class="{'active': $index==productsSlide.currentIdx}" ng-repeat="item in products" ng-click="productsSlide.set($index)">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="control control-right" ng-click="productsSlide.next()">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div flex="30" flex-md="100" flex-sm="100">
                    <div class="content-block other align-left" style="overflow: auto;max-height:1060px;">
                        <div class="info">
                            <div class="subtitle">
                                <i class="mark"></i>
                                <h3>主打商品</h3>
                            </div>
                            <div class="content align-right" ng-repeat="item in products">
                                <div class="thumbnail float-left" style="background-image:url({{item.thumbnail}})"></div>
                                <div class="info remaining-width align-left">
                                    <h4 class="title">{{item.title}}</h4>
                                    <p class="description">{{item.description}}</p>
                                    <div class="price">
                                        售價 NT {{item.price}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </section>
</div>
