<div class="home-page content">
  <div class="slideshow">
    <div class="slides">
      <div class="slide" ng-repeat="item in slideList" ng-style="{'background-image':'url('+item.imgUrl+')', 'left':100*($index-currentSlideIdx)+'%'}">
        <div class="banner" style="background-image: url({{item.imgUrl}});">
          <div class="info">
            <h2>{{item.title}}</h2>
            <p>{{item.descript}}</p>
            <div class="go-to-action">
              <div class="button blue large">{{item.buttonText}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ctrl-btn prev" ng-click="prevSlide()">
      <i class="icon-Back"></i>
    </div>
    <div class="ctrl-btn next" ng-click="nextSlide()">
      <i class="icon-Forward"></i>
    </div>
    <div class="ctrl-panel" ng-show="slideList.length > 1">
      <div class="ctrl-point" ng-class="{'active': $index==currentSlideIdx}" ng-repeat="item in slideList" ng-click="setSlide($index)"></div>
    </div>
  </div>
</div>
<div class="themeevents-page content gray">
  <div class="backgrey">
    <section class="slideshow-wrap backgrey">
      <div class="header">
        <h2 class="title"><i class="icon-Roadsign"></i> 景點</h2>
        <div class="control-block" ng-show="spotsGroup.length > 1">
          <div class="control control-left" ng-click="spotsSlide.prev()">
            <span></span>
          </div>
          <div class="control-point-block">
            <div class="control-point" ng-class="{'active': $index==spotsSlide.currentIdx}" ng-repeat="item in spotsGroup" ng-click="spotsSlide.set($index)">
              <span></span>
            </div>
          </div>
          <div class="control control-right" ng-click="spotsSlide.next()">
            <span></span>
          </div>
        </div>
      </div>
      <div class="desc backdgrey">不過，在絢麗的會場外，與特朗普持不同觀點的抗議者也從全國各地紛湧而至，抗議在他們看來「種族主義」和「排外」的億萬富豪特朗普。那麼，在抗議特朗普的同時，他們也是在表達對希拉里的支持嗎？BBC在克利夫蘭的記者採訪了幾位抗議者，聽聽他們怎麼說。</div>
      <div class="slideshow multi-slide">
        <div class="slides" ng-style="{'width':100*(spotsGroup.length+1)+'%', 'margin-left':100*($index-spotsSlide.currentIdx)+'%'}">
          <div class="slide" ng-class="{'active': $index==spotsSlide.currentIdx}" ng-repeat="spots in spotsGroup" ng-style="{'width':100/(spotsGroup.length+1)+'%'}">
            <div class="themesp" layout="row" layout-wrap>
              <div class="spot-wrap" ng-repeat="item in spots">
                <div class="spot">
                  <div ng-show="!item.isCollect" class="collect-btn" ng-click="toggleCollect(item)"><i class="icon-Plus"></i> 收藏</div>
                  <div ng-show="item.isCollect" class="collect-btn active" ng-click="toggleCollect(item)"><i class="icon-Check"></i> 已收藏</div>
                  <a href="#/spots/poi">
                    <div class="thumbnail" style="background-image: url({{item.thumbnail}})">
                      <!-- 星級 & Tripadvisor 開始-->
                      <div ng-if="!item.istripadv" class="ranks hint hint--top" data-hint="{{item.rank}}">
                        <i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i>
                      </div>

                      <div ng-if="item.istripadv" class="adrank hint hint--top" data-hint="{{item.rank}}" style="background-position: left {{item.rankstar}}px;"> </div>
                      <!-- 星級 & Tripadvisor 結束-->
                      <div class="recommend">{{item.collectCount}}人收藏</div>
                    </div>
                    <div class="tags">
                      <div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}">{{item.location}}</div>
                    </div>
                    <div class="info no-meta">
                      <h4 class="title">{{item.title}}</h4>
                      <div class="summary">
                        <span class="price" ng-if="item.price!=0">門票 {{item.price}}元</span>
                        <span class="price" ng-if="item.price==0">免門票</span>
                        <span class="types"> / {{getTypes(item)}}</span>
                      </div>
                      <p class="descript">{{item.descript}}</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ctrl-btn prev" ng-click="spotsSlide.prev()">
          <i class="icon-Back"></i>
        </div>
        <div class="ctrl-btn next" ng-click="spotsSlide.next()">
          <i class="icon-Forward"></i>
        </div>
      </div>
    </section>
  </div>
  <div class="backdgrey">
    <section class="slideshow-wrap backdgrey">
      <div class="header">
        <h2 class="title"><i class="icon-Bell"></i> 美食</h2>
        <div class="control-block" ng-show="foodsGroup.length > 1">
          <div class="control control-left" ng-click="spotsSlide.prev()">
            <span></span>
          </div>
          <div class="control-point-block">
            <div class="control-point" ng-class="{'active': $index==foodsSlide.currentIdx}" ng-repeat="item in foodsGroup" ng-click="foodsSlide.set($index)">
              <span></span>
            </div>
          </div>
          <div class="control control-right" ng-click="foodsSlide.next()">
            <span></span>
          </div>
        </div>
      </div>
      <div class="desc backgrey">不過，在絢麗的會場外，與特朗普持不同觀點的抗議者也從全國各地紛湧而至，抗議在他們看來「種族主義」和「排外」的億萬富豪特朗普。那麼，在抗議特朗普的同時，他們也是在表達對希拉里的支持嗎？BBC在克利夫蘭的記者採訪了幾位抗議者，聽聽他們怎麼說。</div>
      <div class="slideshow multi-slide">
        <div class="slides" ng-style="{'width':100*(foodsGroup.length+1)+'%', 'margin-left':100*($index-foodsSlide.currentIdx)+'%'}">
          <div class="slide" ng-class="{'active': $index==foodsSlide.currentIdx}" ng-repeat="spots in foodsGroup" ng-style="{'width':100/(foodsGroup.length+1)+'%'}">
            <div class="themesp" layout="row" layout-wrap>
              <div class="spot-wrap" ng-repeat="item in spots">
                <div class="spot">
                  <div ng-show="!item.isCollect" class="collect-btn" ng-click="toggleCollect(item)"><i class="icon-Plus"></i> 收藏</div>
                  <div ng-show="item.isCollect" class="collect-btn active" ng-click="toggleCollect(item)"><i class="icon-Check"></i> 已收藏</div>
                  <a href="#/foods/poi">
                    <div class="thumbnail" style="background-image: url({{item.thumbnail}})">
                      <!-- 星級 & Tripadvisor 開始-->
                      <div ng-if="!item.istripadv" class="ranks hint hint--top" data-hint="{{item.rank}}">
                        <i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i>
                      </div>

                      <div ng-if="item.istripadv" class="adrank hint hint--top" data-hint="{{item.rank}}" style="background-position: left {{item.rankstar}}px;"> </div>
                      <!-- 星級 & Tripadvisor 結束-->
                      <div class="recommend">{{item.collectCount}}人收藏</div>
                    </div>
                    <div class="tags">
                      <div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}">{{item.location}}</div>
                    </div>
                    <div class="info">
                      <h4 class="title">{{item.title}}</h4>
                      <div class="summary">
                        <span class="price" ng-if="item.price!=0">本店均消 {{item.price}} 元 </span>
                        <span class="types">{{getTypes(item)}}</span>
                      </div>
                      <p class="descript">{{item.descript}}</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="ctrl-btn prev" ng-click="foodsSlide.prev()">
            <i class="icon-Back"></i>
          </div>
          <div class="ctrl-btn next" ng-click="foodsSlide.next()">
            <i class="icon-Forward"></i>
          </div>
        </div>
    </section>
    </div>
    <div class="backgrey">
      <section class="slideshow-wrap">
        <div class="header">
          <h2 class="title"><i class="icon-Stay"></i> 住宿</h2>
          <div class="control-block" ng-show="staysGroup.length > 1">
            <div class="control control-left" ng-click="staysSlide.prev()">
              <span></span>
            </div>
            <div class="control-point-block">
              <div class="control-point" ng-class="{'active': $index==staysSlide.currentIdx}" ng-repeat="item in staysGroup" ng-click="staysSlide.set($index)">
                <span></span>
              </div>
            </div>
            <div class="control control-right" ng-click="staysSlide.next()">
              <span></span>
            </div>
          </div>
        </div>
        <div class="desc backdgrey">不過，在絢麗的會場外，與特朗普持不同觀點的抗議者也從全國各地紛湧而至，抗議在他們看來「種族主義」和「排外」的億萬富豪特朗普。那麼，在抗議特朗普的同時，他們也是在表達對希拉里的支持嗎？BBC在克利夫蘭的記者採訪了幾位抗議者，聽聽他們怎麼說。</div>
        <div class="slideshow multi-slide">
          <div class="slides" ng-style="{'width':100*(staysGroup.length+1)+'%', 'margin-left':100*($index-staysSlide.currentIdx)+'%'}">
            <div class="slide" ng-class="{'active': $index==staysSlide.currentIdx}" ng-repeat="spots in staysGroup" ng-style="{'width':100/(staysGroup.length+1)+'%'}">
              <div class="themesp" layout="row" layout-wrap>
                <div class="spot-wrap" ng-repeat="item in spots">
                  <div class="spot">
                    <div ng-show="!item.isCollect" class="collect-btn" ng-click="toggleCollect(item)"><i class="icon-Plus"></i> 收藏</div>
                    <div ng-show="item.isCollect" class="collect-btn active" ng-click="toggleCollect(item)"><i class="icon-Check"></i> 已收藏</div>
                    <a href="#/stays/poi">
                      <div class="thumbnail" style="background-image: url({{item.thumbnail}})">
                        <!-- 星級 & Tripadvisor 開始-->
                      <div ng-if="!item.istripadv" class="ranks hint hint--top" data-hint="{{item.rank}}">
                        <i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i>
                      </div>

                      <div ng-if="item.istripadv" class="adrank hint hint--top" data-hint="{{item.rank}}" style="background-position: left {{item.rankstar}}px;"> </div>
                      <!-- 星級 & Tripadvisor 結束-->
                        <div class="recommend">{{item.collectCount}}人收藏</div>
                      </div>
                      <div class="tags">
                        <div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}">{{item.location}}</div>
                      </div>
                      <div class="info">
                        <h4 class="title">{{item.title}}</h4>
                        <div class="summary">
                          <span class="types">{{item.type}} / </span>
                          <span class="price" ng-if="item.price!=0">每晚平均 {{item.price}} 元</span>
                        </div>
                        <p class="descript">{{item.descript}}</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="ctrl-btn prev" ng-click="staysSlide.prev()">
              <i class="icon-Back"></i>
            </div>
            <div class="ctrl-btn next" ng-click="staysSlide.next()">
              <i class="icon-Forward"></i>
            </div>
          </div>
      </section>
      </div>
      <div class="backdgrey">
        <section class="slideshow-wrap">
          <div class="header">
            <h2 class="title"><i class="icon-Tag"></i> 活動</h2>
            <div class="control-block" ng-show="foodsGroup.length > 1">
              <div class="control control-left" ng-click="eventsSlide.prev()">
                <span></span>
              </div>
              <div class="control-point-block">
                <div class="control-point" ng-class="{'active': $index==eventsSlide.currentIdx}" ng-repeat="item in foodsGroup" ng-click="eventsSlide.set($index)">
                  <span></span>
                </div>
              </div>
              <div class="control control-right" ng-click="eventsSlide.next()">
                <span></span>
              </div>
            </div>
          </div>
          <div class="desc backgrey">不過，在絢麗的會場外，與特朗普持不同觀點的抗議者也從全國各地紛湧而至，抗議在他們看來「種族主義」和「排外」的億萬富豪特朗普。那麼，在抗議特朗普的同時，他們也是在表達對希拉里的支持嗎？BBC在克利夫蘭的記者採訪了幾位抗議者，聽聽他們怎麼說。</div>
          <div class="slideshow multi-slide">
            <div class="slides" ng-style="{'width':100*(eventsGroup.length+1)+'%', 'margin-left':100*($index-eventsSlide.currentIdx)+'%'}">
              <div class="slide" ng-class="{'active': $index==eventsSlide.currentIdx}" ng-repeat="spots in eventsGroup" ng-style="{'width':100/(eventsGroup.length+1)+'%'}">
                <div class="themesp" layout="row" layout-wrap>
                  <div class="spot-wrap" ng-repeat="item in spots">
                    <div class="spot">
                      <div ng-show="!item.isCollect" class="collect-btn" ng-click="toggleCollect(item)"><i class="icon-Plus"></i> 收藏</div>
                      <div ng-show="item.isCollect" class="collect-btn active" ng-click="toggleCollect(item)"><i class="icon-Check"></i> 已收藏</div>
                      <a href="#/events/poi">
                        <div class="thumbnail" style="background-image: url({{item.thumbnail}})">
                          <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                          <div class="recommend">{{item.collectCount}}人收藏</div>
                        </div>
                        <div class="tags">
                          <div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}" ng-repeat="tag in item.tags">{{tag}}</div>
                        </div>
                        <div class="info">
                          <h4 class="title">{{item.title}}</h4>
                          <div class="summary">
                            <span class="types">{{item.type}} / </span>
                            <span class="price" ng-if="item.price!=0">門票 {{item.price}} 元</span>
                            <span class="price" ng-if="item.price==0">免門票</span>
                          </div>
                          <p class="descript">{{item.descript}}</p>
                          <div class="metas">
                            <div class="date-range" ng-class="{'expired':item.expired}"><span class="expired-mark" ng-if="item.expired">已過期</span><i class="icon-Clock"></i> <span ng-if="!item.expired">{{item.startDate}}~{{item.endDate}}</span><span ng-if="item.expired">活動於{{item.endDate}}結束</span></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ctrl-btn prev" ng-click="eventsSlide.prev()">
                <i class="icon-Back"></i>
              </div>
              <div class="ctrl-btn next" ng-click="eventsSlide.next()">
                <i class="icon-Forward"></i>
              </div>
            </div>
        </section>
        </div>
        <div class="backgrey">
          <section class="slideshow-wrap">
            <div class="header">
              <h2 class="title"><i class="icon-Store"></i> 商店</h2>
              <div class="control-block" ng-show="staysGroup.length > 1">
                <div class="control control-left" ng-click="storesSlide.prev()">
                  <span></span>
                </div>
                <div class="control-point-block">
                  <div class="control-point" ng-class="{'active': $index==storesSlide.currentIdx}" ng-repeat="item in staysGroup" ng-click="storesSlide.set($index)">
                    <span></span>
                  </div>
                </div>
                <div class="control control-right" ng-click="storesSlide.next()">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="desc backdgrey">不過，在絢麗的會場外，與特朗普持不同觀點的抗議者也從全國各地紛湧而至，抗議在他們看來「種族主義」和「排外」的億萬富豪特朗普。那麼，在抗議特朗普的同時，他們也是在表達對希拉里的支持嗎？BBC在克利夫蘭的記者採訪了幾位抗議者，聽聽他們怎麼說。</div>
            <div class="slideshow multi-slide">
              <div class="slides" ng-style="{'width':100*(storesGroup.length+1)+'%', 'margin-left':100*($index-storesSlide.currentIdx)+'%'}">
                <div class="slide" ng-class="{'active': $index==storesSlide.currentIdx}" ng-repeat="spots in storesGroup" ng-style="{'width':100/(storesGroup.length+1)+'%'}">
                  <div class="themesp" layout="row" layout-wrap>
                    <div class="spot-wrap" ng-repeat="item in spots">
                      <div class="spot">
                        <div ng-show="!item.isCollect" class="collect-btn" ng-click="toggleCollect(item)"><i class="icon-Plus"></i> 收藏</div>
                        <div ng-show="item.isCollect" class="collect-btn active" ng-click="toggleCollect(item)"><i class="icon-Check"></i> 已收藏</div>
                        <a href="#/stores/poi">
                          <div class="thumbnail" style="background-image: url({{item.thumbnail}})">
                            <!-- 星級 & Tripadvisor 開始-->
                      <div ng-if="!item.istripadv" class="ranks hint hint--top" data-hint="{{item.rank}}">
                        <i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i>
                      </div>

                      <div ng-if="item.istripadv" class="adrank hint hint--top" data-hint="{{item.rank}}" style="background-position: left {{item.rankstar}}px;"> </div>
                      <!-- 星級 & Tripadvisor 結束-->
                            <div class="recommend">{{item.collectCount}}人收藏</div>
                          </div>
                          <div class="tags">
                            <div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}" ng-repeat="tag in item.tags">{{tag}}</div>
                          </div>
                          <div class="info">
                            <h4 class="title">{{item.title}}</h4>
                            <div class="summary">
                              <span class="price">本店均消 {{item.price}} 元 / </span>
                              <span class="types">{{item.type}}</span>
                            </div>
                            <p class="descript">{{item.descript}}</p>
                            <div class="metas">
                              <div class="address"><i class="icon-Pin"></i> <span>{{item.address}}</span></div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ctrl-btn prev" ng-click="storesSlide.prev()">
                <i class="icon-Back"></i>
              </div>
              <div class="ctrl-btn next" ng-click="storesSlide.next()">
                <i class="icon-Forward"></i>
              </div>
            </div>
          </section>
        </div>
        <div class="backdgrey">
          <section class="slideshow-wrap">
            <div class="header">
              <h2 class="title"><i class="icon-Souvenir"></i> 伴手禮</h2>
              <div class="control-block" ng-show="foodsGroup.length > 1">
                <div class="control control-left" ng-click="purchasesSlide.prev()">
                  <span></span>
                </div>
                <div class="control-point-block">
                  <div class="control-point" ng-class="{'active': $index==purchasesSlide.currentIdx}" ng-repeat="item in foodsGroup" ng-click="purchasesSlide.set($index)">
                    <span></span>
                  </div>
                </div>
                <div class="control control-right" ng-click="purchasesSlide.next()">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="desc backgrey">不過，在絢麗的會場外，與特朗普持不同觀點的抗議者也從全國各地紛湧而至，抗議在他們看來「種族主義」和「排外」的億萬富豪特朗普。那麼，在抗議特朗普的同時，他們也是在表達對希拉里的支持嗎？BBC在克利夫蘭的記者採訪了幾位抗議者，聽聽他們怎麼說。</div>
            <div class="slideshow multi-slide">
              <div class="slides" ng-style="{'width':100*(purchasesGroup.length+1)+'%', 'margin-left':100*($index-purchasesSlide.currentIdx)+'%'}">
                <div class="slide" ng-class="{'active': $index==purchasesSlide.currentIdx}" ng-repeat="spots in purchasesGroup" ng-style="{'width':100/(purchasesGroup.length+1)+'%'}">
                  <div class="themesp" layout="row" layout-wrap>
                    <div class="spot-wrap" ng-repeat="item in spots">
                      <div class="spot-ticket no-ticket-style">
                        <a href="#/souvenir/poi">
                          <div class="thumbnail" style="background-image: url({{item.thumbnail}})">
                            <div class="tags">
                              <div class="tag" ng-if="item.soldCount">{{item.soldCount}}人搶購</div>
                              <div class="tag blue" ng-if="item.handsfree">宅配</div>
                            </div>
                            <div class="mark popular" ng-if="item.popular">人氣推薦</div>
                            <div class="mark top-choice" ng-if="item.topChoice">嚴選推薦</div>
                          </div>
                          <div class="info">
                            <h4 class="title" ng-class="{'has-discount':item.discount}">{{item.title}}</h4>
                            <div class="metas">
                              <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                              <span>({{item.commentCount}}人評價)</span>
                            </div>
                            <div class="label-container">
                              <div class="label"><span>{{item.label}}</span></div>
                            </div>
                            <div class="price" ng-if="item.discountPrice">$ {{item.price}} 元</div>
                            <div class="discount-price red" ng-if="item.discountPrice"><span class="highlight">$ {{item.discountPrice}}</span> 起</div>
                            <div class="discount-price" ng-if="!item.discountPrice"><span class="highlight">$ {{item.price}}</span> 起</div>
                            <div class="discount" ng-if="item.discount"><span class="highlight">{{item.discount}}</span>折</div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ctrl-btn prev" ng-click="purchasesSlide.prev()">
                  <i class="icon-Back"></i>
                </div>
                <div class="ctrl-btn next" ng-click="purchasesSlide.next()">
                  <i class="icon-Forward"></i>
                </div>
              </div>
          </section>
          </div>
          <div class="backgrey">
            <section class="slideshow-wrap">
              <div class="header">
                <h2 class="title">各期主題精選</h2>
                <div class="control-block" ng-show="staysGroup.length > 1">
                  <div class="control control-left" ng-click="storesSlide.prev()">
                    <span></span>
                  </div>
                  <div class="control-point-block">
                    <div class="control-point" ng-class="{'active': $index==storesSlide.currentIdx}" ng-repeat="item in staysGroup" ng-click="storesSlide.set($index)">
                      <span></span>
                    </div>
                  </div>
                  <div class="control control-right" ng-click="storesSlide.next()">
                    <span></span>
                  </div>
                </div>
              </div>
              <div class="slideshow multi-slide">
                <div class="slides" ng-style="{'width':100*(themeGroup.length+1)+'%', 'margin-left':100*($index-storesSlide.currentIdx)+'%'}">
                  <div class="slide" ng-class="{'active': $index==storesSlide.currentIdx}" ng-repeat="spots in themeGroup" ng-style="{'width':100/(themeGroup.length+1)+'%'}">
                    <div class="eventesp" layout="row" layout-wrap>
                      <div class="event-wrap" ng-repeat="item in spots">
                        <a href="{{item.link}}" class="event">
                          <div class="thumbnail" style="background-image: url({{item.thumbnail}})"></div>
                          <div class="info">
                            <h4 class="title">{{item.title}}</h4>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ctrl-btn prev" ng-click="storesSlide.prev()">
                  <i class="icon-Back"></i>
                </div>
                <div class="ctrl-btn next" ng-click="storesSlide.next()">
                  <i class="icon-Forward"></i>
                </div>
              </div>
            </section>
          </div>
          <div class="status">
            <div class="loading">
              <div class="throbber throbber_large"></div>
              <span>載入中</span>
            </div>
          </div>
        </div>
