<div class="content-col">
	<div class="card">
		<div class="header large my-order-header no-border">
			<h4 class="title">我的訂單</h4>
            <div class="tab-bar">
                <div class="tab active">全部 26</div>
                <div class="tab">待發貨 2</div>
            </div>
            <div class="tool-bar">
                <div class="search-wrap">
                    <div class="search">
                        <i class="icon icon-Search"></i>
                        <md-autocomplete
                            md-selected-item="selectedItem"
                            md-search-text-change="searchTextChange(setting.keyword)"
                            md-search-text="setting.keyword"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(setting.keyword)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="搜尋訂單...">
                          <md-item-template>
                            <span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
                          </md-item-template>
                          <!-- <md-not-found>
                            No matches found for "{{setting.keyword}}".
                          </md-not-found> -->
                        </md-autocomplete>
                    </div>
                </div>
            </div>
		</div>
		<div class="content order-list no-padding">
            <div class="order">
                <div class="header">
                    <h5 class="title">台灣伴手禮會館</h5>
                    <span class="ordre-status">備貨中</span>
                    <div class="meta">
                        <span class="ordre-number">訂單號 : 1198797480945996</span>
                        <span class="date">訂購日期：2015/09/18</span>
                    </div>
                </div>
                <div class="order-item-list">
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="count">✕ 1</div>
                    </div>
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-2.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="count">✕ 1</div>
                    </div>
                </div>
                <div class="footer">
                    <span class="descript">共計 3 樣商品，運費 120 元，合計 $580 元</span>
                    <div class="action-bar">
                        <!-- <button class="button">刪除訂單</button> -->
                        <!-- <button class="button" ng-click="purchaseReturn($event)">退貨</button> -->
                        <a href="/#/user/myOrder/detail" class="button blue">查看訂單</a>
                    </div>
                </div>
            </div>
            <div class="order">
                <div class="header">
                    <h5 class="title">台灣伴手禮會館</h5>
                    <span class="ordre-status">待發貨</span>
                    <div class="meta">
                        <span class="ordre-number">訂單號 : 1198797480945996</span>
                        <span class="date">訂購日期：2015/09/18</span>
                    </div>
                </div>
                <div class="order-item-list">
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="count">✕ 1</div>
                    </div>
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-2.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="count">✕ 1</div>
                    </div>
                </div>
                <div class="footer">
                    <span class="descript">共計 3 樣商品，運費 120 元，合計 $580 元</span>
                    <div class="action-bar">
                        <!-- <button class="button">刪除訂單</button> -->
                        <!-- <button class="button" ng-click="purchaseReturn($event)">退貨</button> -->
                        <a href="/#/user/myOrder/detail" class="button blue">查看訂單</a>
                    </div>
                </div>
            </div>
            <div class="order">
                <div class="header">
                    <h5 class="title">台灣伴手禮會館</h5>
                    <span class="ordre-status green">正在配送</span>
                    <div class="meta">
                        <span class="ordre-number">訂單號 : 1198797480945996</span>
                        <span class="date">訂購日期：2015/09/18</span>
                    </div>
                </div>
                <div class="order-item-list">
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="count">✕ 1</div>
                    </div>
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-2.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="count">✕ 1</div>
                    </div>
                </div>
                <div class="footer">
                    <span class="descript">共計 3 樣商品，運費 120 元，合計 $1,580 元</span>
                    <div class="action-bar">
                        <a href="/#/user/myOrder/detail" class="button blue">查看訂單</a>
                    </div>
                </div>
            </div>
            <div class="order">
                <div class="header">
                    <h5 class="title">台灣伴手禮會館</h5>
                    <span class="ordre-status blue">交易成功</span>
                    <div class="meta">
                        <span class="ordre-number">訂單號 : 1198797480945996</span>
                        <span class="date">訂購日期：2015/09/18</span>
                    </div>
                </div>
                <div class="order-item-list">
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="count">✕ 1</div>
                    </div>
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-2.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="count">✕ 1</div>
                    </div>
                </div>
                <div class="footer">
                    <span class="descript">共計 3 樣商品，運費 120 元，合計 $38,000 元</span>
                    <div class="action-bar">
                        <button class="button" ng-click="purchaseReturn($event)">退貨</button>
                        <button class="button" ng-click="orderComment($event)">寫評價</button>
                        <a href="/#/user/myOrder/detail" class="button blue">查看訂單</a>
                    </div>
                </div>
            </div>
            <div class="order">
                <div class="header">
                    <h5 class="title">台灣伴手禮會館</h5>
                    <span class="ordre-status red">處理退貨中</span>
                    <div class="meta">
                        <span class="ordre-number">訂單號 : 1198797480945996</span>
                        <span class="date">訂購日期：2015/09/18</span>
                    </div>
                </div>
                <div class="order-item-list">
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="count">✕ 1</div>
                    </div>
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-2.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="count">✕ 1</div>
                    </div>
                </div>
                <div class="footer">
                    <span class="descript">共計 3 樣商品，運費 120 元，合計 $38,000 元</span>
                    <div class="action-bar">
                        <!-- <button class="button" ng-click="orderComment($event)">寫評價</button> -->
                        <a href="/#/user/myOrder/detail" class="button blue">查看訂單</a>
                    </div>
                </div>
            </div>
            <div class="order">
                <div class="header">
                    <h5 class="title">台灣伴手禮會館</h5>
                    <span class="ordre-status blue">交易成功</span>
                    <div class="meta">
                        <span class="ordre-number">訂單號 : 1198797480945996</span>
                        <span class="date">訂購日期：2015/09/18</span>
                    </div>
                </div>
                <div class="order-item-list">
                    <div class="order-item">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="count">✕ 1</div>
                    </div>
                    <div class="order-item returned">
                        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-2.jpg')">
                            <span class="return-mark">已退貨</span>
                        </div>
                        <div class="info">
                            <h6 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h6>
                            <p class="meta">類別：兌換券</p>
                            <span class="price">$119</span>
                        </div>
                        <div class="count">✕ 1</div>
                    </div>
                </div>
                <div class="footer">
                    <span class="descript">共計 1 樣商品，運費 30 元，合計 $149 元</span>
                    <div class="action-bar">
                        <!-- <button class="button" ng-click="purchaseReturn($event)">退貨</button> -->
                        <button class="button" ng-click="orderComment($event)">寫評價</button>
                        <a href="/#/user/myOrder/detail" class="button blue">查看訂單</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <!-- 分頁 -->
    <section>
        <div class="section-wrap">
            <div class="pagination">
              <ul class="page-numbers">
                <li><a href="" class="prev"><i class="icon-Back"></i></a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="current" >2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">...</a></li>
                <li><a href="">5</a></li>
                <li><a href="" class="next"><i class="icon-Forward"></i></a></li>
              </ul>
            </div>
        </div>
    </section>
</div>
