<div class="content resetpassword gray">
  <md-dialog class="dialog reset-password animate-enter animate-enter-active animate-leave" ng-class="{'animate-leave-active':hasReset}">
    <div class="header">
      <h3 class="title">設定新的密碼</h3>
      <p class="subtitle">請在下方輸入新的密碼</p>
      <!-- <div class="close" ng-click="cancel()"> -->
        <!-- <i class="icon-Close"></i> -->
      <!-- </div> -->
    </div>
    <perfect-scrollbar class="content">
      <div class="content-wrap">
        <div class="content-block">
          <label>請輸入新的登入密碼</label>
          <input type="password" ng-model="password">
          <label>再輸入一次</label>
          <div class="input-wrap" ng-class="{'valid-error':password!=password2}">
            <input type="password" ng-model="password2">
            <span class="error-msg" ng-show="password!=password2">兩次輸入密碼不一致</span>
          </div>
          <button class="button blue" ng-click="reset()">完成，設定新的密碼</button>
        </div>
      </div>
    </perfect-scrollbar>
  </md-dialog>
  <md-dialog class="dialog reset-password-result transition-in animate-enter" ng-class="{'animate-enter-active':hasReset}">
    <div class="header">
      <div class="thumbnail" style="background-image:url('public/images/pen.svg')"></div>
      <h3 class="title">密碼修改成功</h3>
      <p class="subtitle">密碼修改成功囉，<br>馬上使用新密碼重新登入！</p>
      <button class="button blue" ng-click="goToLogin()">重新登入智慧觀光</button>
      <div class="close" ng-click="cancel()">
        <i class="icon-Close"></i>
      </div>
    </div>
  </md-dialog>
  <div class="backdrop" ng-show="reseting"></div>
  <div class="status" ng-show="reseting">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>請稍候</span>
    </div>
  </div>
</div>