<div class="purchases-page content gray">
    <section class="filters" ng-class="{'open' : isOpenFilter}">
        <div class="filters-header">
            <div class="close" ng-click="closeFilter()">
                <i class="icon-Close"></i>
            </div>
            <h4>過濾條件</h4>
        </div>
        <div class="section-wrap">

            <div class="filter-type">
                <div class="type-name">速購分類</div>
                <div class="type-wrap type-btns">
                    <a class="type-btn active" href="/#/purchases">全部</a>
                    <a class="type-btn" href="/#/purchases/spots">景點門票</a>
                    <a class="type-btn" href="/#/purchases/events">活動門票</a>
                    <a class="type-btn" href="/#/purchases/foods">餐券 / 優惠券</a>
                    <a class="type-btn" href="/#/purchases/stays">住宿券</a>
                    <a class="type-btn" href="/#/purchases/trips">行程套票</a>
                    <a class="type-btn" href="/#/purchases/stores">商品優惠券</a>
                </div>
            </div>
        </div>
    </section>

    <section class="slideshow-wrap">

        <div class="header">
            <h2 class="title">景點門票</h2>
            <div class="control-block" ng-show="spotsGroup.length > 1">
                <div class="control control-left" ng-click="spotsSlide.prev()">
                    <span></span>
                </div>
                <div class="control-point-block">
                    <div class="control-point" ng-class="{'active': $index==spotsSlide.currentIdx}" ng-repeat="item in spotsGroup" ng-click="spotsSlide.set($index)">
                        <span></span>
                    </div>
                </div>
                <div class="control control-right" ng-click="spotsSlide.next()">
                    <span></span>
                </div>
            </div>
            <a href="/#/purchases/spots" class="more-link">查看全部</a>
        </div>

        <div class="slideshow multi-slide">
            <div class="slides" ng-style="{'width':100*(spotsGroup.length+1)+'%', 'margin-left':100*($index-spotsSlide.currentIdx)+'%'}">
                <div class="slide" ng-class="{'active': $index==spotsSlide.currentIdx}" ng-repeat="spots in spotsGroup" ng-style="{'width':100/(spotsGroup.length+1)+'%'}">
                    <div class="spot-tickets" layout="row" layout-wrap>
                        <div class="spot-ticket-wrap" flex="25" flex-md="25" flex-sm="100" ng-repeat="item in spots">
                            <div class="spot-ticket">
                                <a href="#/purchases/spots/poi">
                                    <div class="thumbnail" style="background-image: url({{item.thumbnail}})">
                                        <div class="tags">
                                            <div class="tag" ng-if="item.soldCount">{{item.soldCount}}人搶購</div>
                                        </div>
                                        <div class="mark popular" ng-if="item.popular">人氣推薦</div>
                                        <div class="mark top-choice" ng-if="item.topChoice">嚴選推</div>
                                    </div>
                                    <div class="info">
                                        <h4 class="title">{{item.title}}</h4>
                                        <div class="metas">
                                            <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                            <span>({{item.commentCount}}人評價)</span>
                                            <div class="address"><i class="icon-Pin"></i> <span>{{item.address}}</span></div>
                                        </div>
                                        <div class="price" ng-if="item.discountPrice">$ {{item.price}} 元</div>
                                        <div class="discount-price red" ng-if="item.discountPrice"><span class="highlight">$ {{item.discountPrice}}</span> 起</div>
                                        <div class="discount-price" ng-if="!item.discountPrice"><span class="highlight">$ {{item.price}}</span> 起</div>
                                        <div class="discount" ng-if="item.discount"><span class="highlight">{{item.discount}}</span>折</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctrl-btn prev" ng-click="spotsSlide.prev()">
                <i class="icon-Back"></i>
            </div>
            <div class="ctrl-btn next" ng-click="spotsSlide.next()">
                <i class="icon-Forward"></i>
            </div>
        </div>

    </section>

    <section class="slideshow-wrap">

        <div class="header">
            <h2 class="title">活動門票</h2>
            <div class="control-block" ng-show="eventsGroup.length > 1">
                <div class="control control-left" ng-click="eventsSlide.prev()">
                    <span></span>
                </div>
                <div class="control-point-block">
                    <div class="control-point" ng-class="{'active': $index==eventsSlide.currentIdx}" ng-repeat="item in eventsGroup" ng-click="eventsSlide.set($index)">
                        <span></span>
                    </div>
                </div>
                <div class="control control-right" ng-click="eventsSlide.next()">
                    <span></span>
                </div>
            </div>
            <a href="/#/purchases/events" class="more-link">查看全部</a>
        </div>

        <div class="slideshow multi-slide">
            <div class="slides" ng-style="{'width':100*(eventsGroup.length+1)+'%', 'margin-left':100*($index-eventsSlide.currentIdx)+'%'}">
                <div class="slide" ng-class="{'active': $index==eventsSlide.currentIdx}" ng-repeat="events in eventsGroup" ng-style="{'width':100/(eventsGroup.length+1)+'%'}">
                    <div class="spot-tickets" layout="row" layout-wrap>
                        <div class="spot-ticket-wrap" flex="25" flex-md="25" flex-sm="100" ng-repeat="item in events">
                            <div class="spot-ticket">
                                <a href="#/purchases/events/poi">
                                    <div class="thumbnail" style="background-image: url({{item.thumbnail}})">
                                        <div class="tags">
                                            <div class="tag" ng-if="item.soldCount">{{item.soldCount}}人搶購</div>
                                        </div>
                                        <div class="mark popular" ng-if="item.popular">人氣推薦</div>
                                        <div class="mark top-choice" ng-if="item.topChoice">嚴選推薦</div>
                                    </div>
                                    <div class="info">
                                        <h4 class="title">{{item.title}}</h4>
                                        <div class="metas">
                                            <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                            <span>({{item.commentCount}}人評價)</span>
                                            <div class="date"><i class="icon-Clock"></i> <span>{{item.date}}</span></div>
                                        </div>
                                        <div class="price" ng-if="item.discountPrice">$ {{item.price}} 元</div>
                                        <div class="discount-price red" ng-if="item.discountPrice"><span class="highlight">$ {{item.discountPrice}}</span> 起</div>
                                        <div class="discount-price" ng-if="!item.discountPrice"><span class="highlight">$ {{item.price}}</span> 起</div>
                                        <div class="discount" ng-if="item.discount"><span class="highlight">{{item.discount}}</span>折</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctrl-btn prev" ng-click="eventsSlide.prev()">
                <i class="icon-Back"></i>
            </div>
            <div class="ctrl-btn next" ng-click="eventsSlide.next()">
                <i class="icon-Forward"></i>
            </div>
        </div>

    </section>

    <section class="slideshow-wrap">

        <div class="header">
            <h2 class="title">餐券 / 優惠券</h2>
            <div class="control-block" ng-show="foodsGroup.length > 1">
                <div class="control control-left" ng-click="foodsSlide.prev()">
                    <span></span>
                </div>
                <div class="control-point-block">
                    <div class="control-point" ng-class="{'active': $index==foodsSlide.currentIdx}" ng-repeat="item in foodsGroup" ng-click="foodsSlide.set($index)">
                        <span></span>
                    </div>
                </div>
                <div class="control control-right" ng-click="foodsSlide.next()">
                    <span></span>
                </div>
            </div>
            <a href="/#/purchases/foods" class="more-link">查看全部</a>
        </div>

        <div class="slideshow multi-slide">
            <div class="slides" ng-style="{'width':100*(foodsGroup.length+1)+'%', 'margin-left':100*($index-foodsSlide.currentIdx)+'%'}">
                <div class="slide" ng-class="{'active': $index==foodsSlide.currentIdx}" ng-repeat="foods in foodsGroup" ng-style="{'width':100/(foodsGroup.length+1)+'%'}">
                    <div class="spot-tickets" layout="row" layout-wrap>
                        <div class="spot-ticket-wrap" flex="25" flex-md="25" flex-sm="100" ng-repeat="item in foods">
                            <div class="spot-ticket">
                                <a href="#/purchases/foods/poi">
                                    <div class="thumbnail" style="background-image: url({{item.thumbnail}})">
                                        <div class="tags">
                                            <div class="tag" ng-if="item.soldCount">{{item.soldCount}}人搶購</div>
                                        </div>
                                        <div class="mark popular" ng-if="item.popular">人氣推薦</div>
                                        <div class="mark top-choice" ng-if="item.topChoice">嚴選推薦</div>
                                    </div>
                                    <div class="info">
                                        <h4 class="title">{{item.title}}</h4>
                                        <div class="metas">
                                            <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                            <span>({{item.commentCount}}人評價)</span>
                                            <div class="address"><i class="icon-Pin"></i> <span>{{item.address}}</span></div>
                                        </div>
                                        <div class="price" ng-if="item.discountPrice">$ {{item.price}} 元</div>
                                        <div class="discount-price red" ng-if="item.discountPrice"><span class="highlight">$ {{item.discountPrice}}</span> 起</div>
                                        <div class="discount-price" ng-if="!item.discountPrice"><span class="highlight">$ {{item.price}}</span> 起</div>
                                        <div class="discount" ng-if="item.discount"><span class="highlight">{{item.discount}}</span>折</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctrl-btn prev" ng-click="foodsSlide.prev()">
                <i class="icon-Back"></i>
            </div>
            <div class="ctrl-btn next" ng-click="foodsSlide.next()">
                <i class="icon-Forward"></i>
            </div>
        </div>

    </section>

    <section class="slideshow-wrap">

        <div class="header">
            <h2 class="title">住宿券</h2>
            <div class="control-block" ng-show="staysGroup.length > 1">
                <div class="control control-left" ng-click="staysSlide.prev()">
                    <span></span>
                </div>
                <div class="control-point-block">
                    <div class="control-point" ng-class="{'active': $index==staysSlide.currentIdx}" ng-repeat="item in staysGroup" ng-click="staysSlide.set($index)">
                        <span></span>
                    </div>
                </div>
                <div class="control control-right" ng-click="staysSlide.next()">
                    <span></span>
                </div>
            </div>
            <a href="/#/purchases/stays" class="more-link">查看全部</a>
        </div>

        <div class="slideshow multi-slide">
            <div class="slides" ng-style="{'width':100*(staysGroup.length+1)+'%', 'margin-left':100*($index-staysSlide.currentIdx)+'%'}">
                <div class="slide" ng-class="{'active': $index==staysSlide.currentIdx}" ng-repeat="stays in staysGroup" ng-style="{'width':100/(staysGroup.length+1)+'%'}">
                    <div class="spot-tickets" layout="row" layout-wrap>
                        <div class="spot-ticket-wrap" flex="25" flex-md="25" flex-sm="100" ng-repeat="item in stays">
                            <div class="spot-ticket">
                                <a href="#/purchases/stays/poi">
                                    <div class="thumbnail" style="background-image: url({{item.thumbnail}})">
                                        <div class="tags">
                                            <div class="tag" ng-if="item.soldCount">{{item.soldCount}}人搶購</div>
                                        </div>
                                        <div class="mark popular" ng-if="item.popular">人氣推薦</div>
                                        <div class="mark top-choice" ng-if="item.topChoice">嚴選推薦</div>
                                    </div>
                                    <div class="info">
                                        <h4 class="title">{{item.title}}</h4>
                                        <div class="metas">
                                            <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                            <span>({{item.commentCount}}人評價)</span>
                                        </div>
                                        <div class="label-container">
                                            <div class="label"><span>{{item.label}}</span></div>
                                        </div>
                                        <div class="price" ng-if="item.discountPrice">$ {{item.price}} 元</div>
                                        <div class="discount-price red" ng-if="item.discountPrice"><span class="highlight">$ {{item.discountPrice}}</span> 起</div>
                                        <div class="discount-price" ng-if="!item.discountPrice"><span class="highlight">$ {{item.price}}</span> 起</div>
                                        <div class="discount" ng-if="item.discount"><span class="highlight">{{item.discount}}</span>折</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctrl-btn prev" ng-click="staysSlide.prev()">
                <i class="icon-Back"></i>
            </div>
            <div class="ctrl-btn next" ng-click="staysSlide.next()">
                <i class="icon-Forward"></i>
            </div>
        </div>

    </section>

    <section class="slideshow-wrap">

        <div class="header">
            <h2 class="title">行程套票</h2>
            <div class="control-block" ng-show="tripsGroup.length > 1">
                <div class="control control-left" ng-click="tripsSlide.prev()">
                    <span></span>
                </div>
                <div class="control-point-block">
                    <div class="control-point" ng-class="{'active': $index==tripsSlide.currentIdx}" ng-repeat="item in tripsGroup" ng-click="tripsSlide.set($index)">
                        <span></span>
                    </div>
                </div>
                <div class="control control-right" ng-click="tripsSlide.next()">
                    <span></span>
                </div>
            </div>
            <a href="/#/purchases/trips" class="more-link">查看全部</a>
        </div>

        <div class="slideshow multi-slide">
            <div class="slides" ng-style="{'width':100*(tripsGroup.length+1)+'%', 'margin-left':100*($index-tripsSlide.currentIdx)+'%'}">
                <div class="slide" ng-class="{'active': $index==tripsSlide.currentIdx}" ng-repeat="trips in tripsGroup" ng-style="{'width':100/(tripsGroup.length+1)+'%'}">
                    <div class="spot-tickets" layout="row" layout-wrap>
                        <div class="spot-ticket-wrap" flex="25" flex-md="25" flex-sm="100" ng-repeat="item in trips">
                            <div class="spot-ticket">
                                <a href="#/purchases/trips/poi">
                                    <div class="thumbnail effect" style="background-image: url({{item.thumbnail}})">
                                        <div class="tags">
                                            <div class="tag" ng-if="item.soldCount">{{item.soldCount}}人搶購</div>
                                        </div>
                                        <div class="mark popular" ng-if="item.popular">人氣推薦</div>
                                        <div class="mark top-choice" ng-if="item.topChoice">嚴選推薦</div>
                                        <div class="duration"><span class="highlight">{{item.duration | numberFixedLen:2}}</span>天</div>
                                    </div>
                                    <div class="info">
                                        <h4 class="title">{{item.title}}</h4>
                                        <div class="metas">
                                            <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                            <span>({{item.commentCount}}人評價)</span>
                                        </div>
                                        <div class="label-container">
                                            <div class="label"><span>{{item.label}}</span></div>
                                        </div>
                                        <div class="price" ng-if="item.discountPrice">$ {{item.price}} 元</div>
                                        <div class="discount-price red" ng-if="item.discountPrice"><span class="highlight">$ {{item.discountPrice}}</span> 起</div>
                                        <div class="discount-price" ng-if="!item.discountPrice"><span class="highlight">$ {{item.price}}</span> 起</div>
                                        <div class="discount" ng-if="item.discount"><span class="highlight">{{item.discount}}</span>折</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctrl-btn prev" ng-click="tripsSlide.prev()">
                <i class="icon-Back"></i>
            </div>
            <div class="ctrl-btn next" ng-click="tripsSlide.next()">
                <i class="icon-Forward"></i>
            </div>
        </div>

    </section>

    <section class="slideshow-wrap">

        <div class="header">
            <h2 class="title">交通租賃</h2>
            <div class="control-block" ng-show="carsGroup.length > 1">
                <div class="control control-left" ng-click="carsSlide.prev()">
                    <span></span>
                </div>
                <div class="control-point-block">
                    <div class="control-point" ng-class="{'active': $index==carsSlide.currentIdx}" ng-repeat="item in carsGroup" ng-click="carsSlide.set($index)">
                        <span></span>
                    </div>
                </div>
                <div class="control control-right" ng-click="carsSlide.next()">
                    <span></span>
                </div>
            </div>
            <a href="/#/purchases/cars" class="more-link">查看全部</a>
        </div>

        <div class="slideshow multi-slide">
            <div class="slides" ng-style="{'width':100*(carsGroup.length+1)+'%', 'margin-left':100*($index-carsSlide.currentIdx)+'%'}">
                <div class="slide" ng-class="{'active': $index==carsSlide.currentIdx}" ng-repeat="cars in carsGroup" ng-style="{'width':100/(carsGroup.length+1)+'%'}">
                    <div class="spot-tickets" layout="row" layout-wrap>
                        <div class="spot-ticket-wrap" flex="25" flex-md="25" flex-sm="100" ng-repeat="item in cars">
                            <div class="spot-ticket">
                                <a href="#/purchases/cars/poi">
                                    <div class="thumbnail" style="background-image: url({{item.thumbnail}})">
                                        <div class="tags">
                                            <div class="tag" ng-if="item.soldCount">{{item.soldCount}}人搶購</div>
                                        </div>
                                        <div class="mark popular" ng-if="item.popular">人氣推薦</div>
                                        <div class="mark top-choice" ng-if="item.topChoice">嚴選推薦</div>
                                    </div>
                                    <div class="info">
                                        <h4 class="title">{{item.title}}</h4>
                                        <div class="metas">
                                            <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                            <span>({{item.commentCount}}人評價)</span>
                                        </div>
                                        <div class="label-container">
                                            <div class="label"><span>{{item.label}}</span></div>
                                        </div>
                                        <div class="price" ng-if="item.discountPrice">$ {{item.price}} 元</div>
                                        <div class="discount-price red" ng-if="item.discountPrice"><span class="highlight">$ {{item.discountPrice}}</span> 起</div>
                                        <div class="discount-price" ng-if="!item.discountPrice"><span class="highlight">$ {{item.price}}</span> 起</div>
                                        <div class="discount" ng-if="item.discount"><span class="highlight">{{item.discount}}</span>折</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctrl-btn prev" ng-click="carsSlide.prev()">
                <i class="icon-Back"></i>
            </div>
            <div class="ctrl-btn next" ng-click="carsSlide.next()">
                <i class="icon-Forward"></i>
            </div>
        </div>

    </section>

    <section class="slideshow-wrap">

        <div class="header">
            <h2 class="title">商品優惠券</h2>
            <div class="control-block" ng-show="storesGroup.length > 1">
                <div class="control control-left" ng-click="storesSlide.prev()">
                    <span></span>
                </div>
                <div class="control-point-block">
                    <div class="control-point" ng-class="{'active': $index==storesSlide.currentIdx}" ng-repeat="item in storesGroup" ng-click="storesSlide.set($index)">
                        <span></span>
                    </div>
                </div>
                <div class="control control-right" ng-click="storesSlide.next()">
                    <span></span>
                </div>
            </div>
            <a href="/#/purchases/stores" class="more-link">查看全部</a>
        </div>

        <div class="slideshow multi-slide">
            <div class="slides" ng-style="{'width':100*(storesGroup.length+1)+'%', 'margin-left':100*($index-storesSlide.currentIdx)+'%'}">
                <div class="slide" ng-class="{'active': $index==storesSlide.currentIdx}" ng-repeat="stores in storesGroup" ng-style="{'width':100/(storesGroup.length+1)+'%'}">
                    <div class="spot-tickets" layout="row" layout-wrap>
                        <div class="spot-ticket-wrap" flex="25" flex-md="25" flex-sm="100" ng-repeat="item in stores">
                            <div class="spot-ticket">
                                <a href="#/purchases/stores/poi">
                                    <div class="thumbnail" style="background-image: url({{item.thumbnail}})">
                                        <div class="tags">
                                            <div class="tag" ng-if="item.soldCount">{{item.soldCount}}人搶購</div>
                                        </div>
                                        <div class="mark popular" ng-if="item.popular">人氣推薦</div>
                                        <div class="mark top-choice" ng-if="item.topChoice">嚴選推薦</div>
                                    </div>
                                    <div class="info">
                                        <h4 class="title">{{item.title}}</h4>
                                        <div class="metas">
                                            <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                            <span>({{item.commentCount}}人評價)</span>
                                        </div>
                                        <div class="label-container">
                                            <div class="label"><span>{{item.label}}</span></div>
                                        </div>
                                        <div class="price" ng-if="item.discountPrice">$ {{item.price}} 元</div>
                                        <div class="discount-price red" ng-if="item.discountPrice"><span class="highlight">$ {{item.discountPrice}}</span> 起</div>
                                        <div class="discount-price" ng-if="!item.discountPrice"><span class="highlight">$ {{item.price}}</span> 起</div>
                                        <div class="discount" ng-if="item.discount"><span class="highlight">{{item.discount}}</span>折</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ctrl-btn prev" ng-click="storesSlide.prev()">
                <i class="icon-Back"></i>
            </div>
            <div class="ctrl-btn next" ng-click="storesSlide.next()">
                <i class="icon-Forward"></i>
            </div>
        </div>

    </section>

    <div class="status">
        <div class="loading">
            <div class="throbber throbber_large"></div>
            <span>載入中</span>
        </div>
    </div>
</div>
