<div class="content-col">
	<div class="card box-shadow">
		<div class="header large">
			<h4 class="title">我的足跡</h4>
		</div>
		<div class="content no-padding">
			<div class="citys" layout="row" layout-wrap>
                <div class="city-wrap" flex="25" flex-md="25" flex-sm="50" ng-repeat="item in citys">
                    <a href="/#/user/footprints/city">
                        <div class="city" style="background-image: url('{{item.thumbnail}}')">
                            <div class="info">
                                <h5 class="title">{{item.city}}</h5>
                                <p class="desc">去過 {{item.spotsCount}} 景點</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
		</div>
	</div>
</div>
