<div class="set-trip-page">

    <!-- Header -->
    <div class="header-container">
        <header>
        <div class="logo-area">
            <a href="/#/" class="logo ng-isolate-scope" piwik-log="" event-type="ClickIndexMark">
                <img src="../public/images/logo.svg" style="width: 140px;" alt="">  </a>
                <span class="title">排行程</span>
            </div>
            <h1> 步驟一：填寫遊玩日期及目的地</h1>
        </div>
        </header> 
        <!-- Content -->
        <div class="content-container">
            <div class="content-detail">
                <div class="col">
                    <div class="input-title">出發日期</div>
                    <div class="data-input">
                        <input type="text" id="godate">
                    </div>

                </div>
                <div class="arrow"><img src="../public/images/dash.svg"></div>

                <div class="col">
                    <div class="input-title">回程日期</div>
                    <div class="data-input">
                        <input type="text" id="backdate">
                    </div>
                </div>
            </div>
            <div class="content-detail">
                <div class="col">
                    <div class="input-title">出發地點</div>
                    <div class="desc" ng-if="gosearch" >請輸入地標或交通要站名稱</div>
                    <div class="desc red" ng-if="!gosearch" >錯誤：查詢不到此地點</div>
                    <div class="data-input">
                        <md-autocomplete md-selected-item="selectedItem" md-search-text-change="searchTextChange(setting.keyword)" md-search-text="setting.keyword" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(setting.keyword)" md-item-text="item.display" md-min-length="0" id="goplace"  >
                            <md-item-template>
                                <span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>

                        </md-autocomplete>
                    </div>

                </div>
                <div class="arrow"><img src="../public/images/dash.svg"></div>

                <div class="col">
                    <div class="input-title">回程地點</div>
                    <div class="desc" ng-if="backsearch" >請輸入地標或交通要站名稱</div>
                    <div class="desc red" ng-if="!backsearch" >錯誤：查詢不到此地點</div>

                    <div class="data-input">
                        <md-autocomplete md-selected-item="selectedItem" md-search-text-change="searchTextChange2(setting.keyword)" md-search-text="setting.keyword2" md-selected-item-change="selectedItemChange2(item)" md-items="item in querySearch2(setting.keyword)" md-item-text="item.display" md-min-length="0" id="backplace" >
                            <md-item-template>
                                <span class="text" md-highlight-text="setting.keyword2" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                </div>
            </div>
            <div class="content-detail">
                <div class="col">
                    <div class="input-title">選擇遊玩區域</div>
                    <div class="desc" >可複選</div>
                    <div class="selectCon" id="zone" ><button  class="trip-tag" ng-class="{'select': item == zoneitems[0]}" ng-repeat='item in zoneitems' ng-click="setZone($event,item)">{{ item }}</button></div>


                </div>

            </div>
            <div class="content-detail">
                <div class="col">
                    <div class="input-title">選擇旅遊主題</div>
                    <div class="desc" >可複選</div>
                    <div class="selectCon" id="theme"  ><button class="trip-tag" ng-class="{'select': item == themeitems[0]}" ng-repeat='item in themeitems' ng-click="setTheme($event,item)">{{ item }}</button></div>


                </div>

            </div>

            <div class="content-detail">
                <div class="col">
                    <div class="input-title">選擇交通方式</div>
                    <div class="desc" >單選</div>
                    <div class="selectCon" id="traffic"  ><button  class="trip-tag" ng-class="{'select': item == trafficitems[0]}" ng-repeat='item in trafficitems' ng-click="setTraffic($event,item)">{{ item }}</button></div>


                </div>

            </div>
            <div class="content-footer">
                <div class="next-step"><button ng-click="nextStep($event)">下一步</button></div>
                <div class="exp-step"><div class="exp-tip">需要專人服務嗎？</div><button>旅遊專家幫我規劃</button></div>



            </div>



        </div>

    </div>