md-checkbox {
	color: #4A4A4A;
	.md-container {
		background-color: #eee;
		top: initial;
		vertical-align: middle;
		@include border-radius(4px);
		@include transition(all 225ms ease);
		&:after {
			@include transform(translateZ(0));
		}
		.md-icon {
			@include border-radius(4px);
			width: 100%;
			height: 100%;
			border: none;
			@include transition(all 225ms ease);
			&:after {
				@include transform(rotate(45deg));
			  position: absolute;
			  left: 35%;
			  top: 15%;
			  display: table;
			  width: 33%;
			  height: 66%;
			  border: 2px solid #fff;
			  border-top: 0;
			  border-left: 0;
			  content: ' ';
			}
		}
	}
	.md-label {
		border: none;
		vertical-align: middle;
	}
	&.md-default-theme.md-checked {
		.md-icon {
			background-color: $blue-color;
		}
	}
	&:hover {
		color: #000;
		.md-container {
			background-color: #ccc;
		}
	}
}