<div class="recommend-trips" layout="row" layout-wrap>
  <div  class="trips-wrap"  ng-repeat="trip in hotTripList">
       <div class="trips" >
       <a href="#/trips"><div class="thumbnail" style="background-image: url({{trip.images[0].url}})">
               <div class="duration">0{{trip.days}}<span>天</span></div>

       </div></a>
      <div class="info">
        <a href="#/trips"><h4 class="title">{{trip.title}}</h4></a>
        <a href="#/usersee"><p class="admin"><i class="icon-User"></i> {{trip.admin}}</p></a>
        <p class="collect"><i class="icon-Views"></i> 3</p>
      </div>
      </div>
    </div>
</div>
