<link data-require="font-awesome@4.3.0" data-semver="4.3.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

<div class="travel-notes-page content">

    <!-- Header -->
    <div class="header-container">
        <div class="header-block align-left">
            <button class="button"><i class="icon icon-Prev"></i>返回</button>
            <div class="status-bar">
                <i class="icon icon-Check-2"></i>
                <span class="message">於幾秒鐘前自動儲存</span>
            </div>
        </div>
        <div class="header-block align-center">
            <div class="header-wrap">
                <div class="title-block">
                    <h1 class="title">{{travelNote.title}}</h1>
                </div>
            </div>
        </div>
        <div class="header-block align-right">
            <div class="tools-bar">
                <div class="tool">
                    <i class="icon icon-Eye"></i>
                    <span class="tool-name">預覽遊記</span>
                </div>
                <div class="tool-splitter"></div>
                <div class="tool">
                    <button class="button">儲存並關閉編輯</button>
                </div>
            </div>
        </div>
    </div>

    <div class="editor-tools-wrap" flex="100" flex-md="100" flex-sm="100">
        <md-select ng-model="currentTextType">
            <md-option ng-repeat="textType in textTypes" ng-value="textType.id">{{textType.name}}</md-option>
        </md-select>
      <div class="statictoolbar" text-angular-toolbar name="statictoolbar" ta-toolbar="[['bold','italics','underline'], ['justifyLeft','justifyCenter','justifyRight','justifyFull'], ['insertImage','insertLink'], ['fontName', 'fontSize', 'backgroundColor', 'fontColor']]"></div>
    </div>

    <!-- content -->
    <div class="content">
        <div class="setting-container">
            <div class="thumbnail">
                <button class="button" ng-show="!isSelectPicture" ng-click="isSelectPicture=true">上傳遊記封面</button>

                <div class="multi-buttons">
                  <button class="button" ng-show="isSelectPicture" >更換</button>
                  <button class="button" ng-show="isSelectPicture" ng-click="isSelectPicture=false">刪除</button>
                </div>

            </div>
            <div class="setting-block privacy">
                <h4 class="title">隱私設定</h4>
                <md-radio-group ng-model="travelNote.tripDensity">
                  <md-radio-button class="trip-density" ng-value="1" aria-label="公開">
                    <span>公開</span>
                  </md-radio-button><md-radio-button class="trip-density" ng-value="2" aria-label="私密">
                    <span>私密</span>
                  </md-radio-button><md-radio-button class="trip-density" ng-value="3" aria-label="草稿">
                    <span>草稿</span>
                  </md-radio-button>
                </md-radio-group>
                <p class="desc">所有人都可以在智慧觀光上看到這篇遊記</p>
            </div>
            <div class="setting-block areas">
                <h4 class="title">地區縣市</h4>
                <div class="input-wrap" ng-class="{'valid-error':travelNote.areas.length == 0}">
                    <tags-input ng-model="travelNote.areas" placeholder="輸入地區" spellcheck min-length="2">
                        <auto-complete
                            source="loadAreas($query)"
                            min-length="0"
                            max-results-to-show="32"
                            load-on-down-arrow="true"
                            load-on-empty="true"
                            load-on-focus="true"
                            select-first-match="false">
                        </auto-complete>
                    </tags-input>
                <span class="error-msg" ng-show="travelNote.areas.length == 0">請填寫遊記地區縣市</span>
                </div>
            </div>
            <div class="setting-block spots">
                <h4 class="title">文中出現的景點</h4>
                <tags-input ng-model="travelNote.spots" placeholder="輸入景點" spellcheck min-length="2">
                    <auto-complete
                        source="loadSpots($query)"
                        min-length="0"
                        max-results-to-show="32"
                        load-on-down-arrow="true"
                        load-on-empty="true"
                        load-on-focus="true"
                        select-first-match="false">
                    </auto-complete>
                </tags-input>
            </div>
            <div class="setting-block topics">
                <h4 class="title">選擇遊記主題</h4>
                <div class="labels-wrap">
                  <md-checkbox ng-repeat="item in topics" ng-model="item.checked">
                    <span>{{item.name}}</span>
                  </md-checkbox><md-checkbox ng-model="travelNote.hasOtherLabels">
                    <span>其他</span>
                  </md-checkbox>
                </div>
            </div>
        </div>

        <div class="editor-container">

            <h1 class="title input-wrap" ng-class="{'valid-error':!travelNote.title}">
                <input type="text" placeholder="輸入遊記標題" ng-model="travelNote.title">
                <span class="error-msg" ng-show="!travelNote.title">請填寫遊記名稱</span>
            </h1>
            <div class="splitter"></div>
            <div class="article">
                <div text-angular class="editor-wrap" ng-model="travelNote.content" placeholder="述說精彩的遊記趣事" ta-target-toolbars="statictoolbar" ></div>

              <!--<h1>debug Raw HTML in a text area</h1>
              <textarea ng-model="travelNote.content" style="width: 100%; min-height: 300px"></textarea>-->
            </div>
        </div>

        <div class="clear"></div>
    </div>

    <!-- <div class="status">
        <div class="loading">
            <div class="throbber throbber_large"></div>
            <span>載入中</span>
        </div>
    </div> -->
</div>
