<div class="content-col">
	<div class="card box-shadow">
		<div class="header">
			<h4 class="title">我的評論</h4>
            <div class="tool-bar">
                <div class="search-wrap">
                    <div class="search">
                        <i class="icon icon-Search"></i>
                        <md-autocomplete
                            md-selected-item="selectedItem"
                            md-search-text-change="searchTextChange(setting.keyword)"
                            md-search-text="setting.keyword"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(setting.keyword)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="搜尋評論">
                          <md-item-template>
                            <span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
                          </md-item-template>
                          <!-- <md-not-found>
                            No matches found for "{{setting.keyword}}".
                          </md-not-found> -->
                        </md-autocomplete>
                    </div>
                </div>
            </div>
		</div>
		<div class="content spot-list no-padding">
            <div class="spot" ng-repeat="item in commentList">
                <a>
                    <div class="thumbnail" ng-style="{'background-image': 'url({{item.thumbnail}})'}">
                    </div>
                </a>
                <div class="info">
                    <a>
                        <h4 class="title">{{item.title}}</h4>
                    </a>
                    <div ng-repeat="comment in item.comments">
                        <div class="metas">
                            <span class="datetime">[{{comment.commentTime}}]</span>
                            <div class="message">
                                <span ng-if="comment.commentTo">對 <a href="#" class="link">{{comment.commentTo}}</a> 的 </span>
                                <a href="#" class="link">評論</a>
                            </div>
                            <div class="actions">
                                <div class="action" ng-click="comment.editMode=!comment.editMode">修改</div>
                                <div class="action" ng-click="comment.showMoreTool=!comment.showMoreTool">刪除
                                    <md-backdrop class="md-select-backdrop md-default-theme" ng-show="comment.showMoreTool"></md-backdrop>
                                    <div class="poi-dropdown-menu confirm" ng-class="{'open': comment.showMoreTool}">
                                        <p class="confirm-msg">確定要刪除評論嗎？</p>
                                        <div class="buttons">
                                            <button class="button small red">刪除</button><button class="button small gray">取消</button>                  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment" ng-if="!comment.editMode">
                            <p><span class="mark" ng-if="comment.commentTo">@{{comment.commentTo}}：</span>{{comment.content}}</p>
                        </div>
                        <div class="comment" ng-if="comment.editMode">
                            <textarea ng-model="comment.content">{{comment.content}}</textarea>
                            <div class="buttons">
                                <button class="button small blue" ng-click="comment.editMode=false">確認修改</button>
                                <button class="button small gray" ng-click="comment.editMode=false">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <!-- 分頁 -->
    <section>
        <div class="section-wrap">
            <div class="pagination">
              <ul class="page-numbers">
                <li><a href="" class="prev"><i class="icon-Back"></i></a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="current" >2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">...</a></li>
                <li><a href="">5</a></li>
                <li><a href="" class="next"><i class="icon-Forward"></i></a></li>
              </ul>
            </div>
        </div>
    </section>
</div>
