<div class="content-col">
    <div class="card box-shadow" style="background-color:#ffffff;">
        <div class="header" style="height:80px;line-height:80px;">
            <h4 class="title"> V 幣換禮物</h4>
            <div class="tab-bar">
                <div class="tab"  ng-click="clearFilter()" ng-class="{active : filters.changemode ==null}">全部 {{couponlist.length}}</div>
                <div class="tab"  ng-click="filters.changemode = 0" ng-class="{active : filters.changemode ==0}">可兌換 {{(couponlist|filter:{changemode:0}).length}} </div>
                <div class="tab"  ng-click="filters.changemode = 1" ng-class="{active : filters.changemode ==1}">已兌換 {{(couponlist|filter:{changemode:1}).length}}</div>
            </div>
            <div class="tool-coin">
                <div class="right-coin"><img src="../public/images/lcoin.png" width="24px" height="24px" style="line-height:1.5em;vertical-align: middle;" alt=""><span class="coin"> 可兌換 V 幣 <span class="mcount"> 15</span></span><span class="acoin">已兌換 V 幣 <span class="mcount"> 250</span></span>
                </div>
            </div>
        </div>
        <div class="checklist">分類 ：     
            <md-checkbox ng-model="value1" aria-label="不限" >不限</md-checkbox>
            <md-checkbox ng-model="value2" aria-label="景點">景點</md-checkbox>
            <md-checkbox ng-model="value3" aria-label="美食">美食</md-checkbox>
            <md-checkbox ng-model="value4" aria-label="住宿">住宿</md-checkbox>
            <md-checkbox ng-model="value5" aria-label="商店">商店</md-checkbox>
            <md-checkbox ng-model="value6" aria-label="交通">交通</md-checkbox>
        </div>
        <div class="content spot-list no-padding">
           <div class="nocontent" ng-show="(couponlist|filter:filters).length == 0">
               <div class="empty1" ng-show="filters.changemode == 3">
                  <span class="btitle">還沒兌換過任何項目</span>
                  <span class="descript">你可以通過撰寫遊記、建立行程、分享等方式獲得旅遊金幣，旅遊金幣可以換取各種精美禮物！</span>
              </div>
              <div class="empty1" ng-show="filters.changemode == 4">
                  <span class="btitle">沒有任何可兌換的項目</span>
                  <span class="descript">您目前擁有的金幣不夠多，目前沒有任何東西可以進行兌換，你可以通過撰寫遊記、建立行程、分享等方式獲得更多旅遊金幣。</span>
              </div>
              <div class="empty1" ng-show="filters.changemode == 5">
                  <span class="btitle">沒有相關的項目</span>
                  <span class="descript">您目前擁有的金幣不夠多，目前沒有任何東西可以進行兌換，你可以通過撰寫遊記、建立行程、分享等方式獲得更多旅遊金幣。</span>
              </div>
          </div>
          <div class="coupon" ng-repeat="item in couponlist | filter:filters">
            <div class="coupon-left">
               <a>
                 <div class="thumbnail" ng-style="{'background-image': 'url(' + item.thumbnail + ')'}">
                 </div>
             </a>
             <div class="info">
                <a href ="/#/user/coupon/detail/{{item.changemode+1}}">
                    <h4 class="title">{{item.title}}</h4>
                </a>
                <div class="metas">
                    <div class="recommend">
                        <span>{{item.descript}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="coupon-right" ng-show="item.changemode==0">
            <img src="../public/images/lcoin.png" width="24px" height="24px" style="line-height:1.5em;vertical-align: middle;" alt="">　X　<span class="count"> {{item.coin}} </span><a class="button big red" ng-click="toCoin($event)">立即兌換</a>
        </div>
        <div class="coupon-right" ng-show="item.changemode==2">
            <img src="../public/images/lcoin.png"  width="24px" height="24px" style="line-height:1.5em;vertical-align: middle;" alt="">　X　<span class="count"> {{item.coin}} </span><a class="button big gray">金幣不足</a>
        </div>
        <div class="coupon-right" ng-show="item.changemode==1">
           <img src="../public/images/lcoin.png"  width="24px" height="24px" style="line-height:1.5em;vertical-align: middle;" alt="">　X　<span class="count"> {{item.coin}} </span><a class="button big blue" href="/#/user/coupon/detail/3">查看詳情</a>
       </div>
       <div class="clear"></div>
   </div>

</div>
</div>
</div>
<!-- 分頁 -->
<section>
    <div class="section-wrap">
        <div class="pagination">
            <ul class="page-numbers">
                <li><a href="" class="prev"><i class="icon-Back"></i></a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="current">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">...</a></li>
                <li><a href="">5</a></li>
                <li><a href="" class="next"><i class="icon-Forward"></i></a></li>
            </ul>
        </div>
    </div>
</section>
</div>
