<div class="trips-page content gray" ng-class="{'map-mode': layout=='Map'}">
    <section class="filters" ng-class="{'open' : isOpenFilter}">
        <div class="filters-header">
            <div class="close" ng-click="closeFilter()">
                <i class="icon-Close"></i>
            </div>
            <h4>過濾條件</h4>
        </div>
        <div class="section-wrap container-bar">

            <div class="filter-type">
                <div class="type-name">地區篩選</div>
                <div class="type-more" ng-click="toggleMore('areas')">
                    <span ng-hide="showAllOption.areas">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.areas">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.areas}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn">台北</div>
                    <div class="type-btn active">台中</div>
                    <div class="type-btn">台南</div>
                    <div class="type-btn">高雄</div>
                    <div class="type-btn">新竹</div>
                    <div class="type-btn">嘉義</div>
                    <div class="type-btn">台東</div>
                    <div class="type-btn">澎湖</div>
                    <div class="type-btn">其他</div>
                    <div class="type-btn">桃園</div>
                    <div class="type-btn">苗栗</div>
                    <div class="type-btn">彰化</div>
                    <div class="type-btn">雲林</div>
                    <div class="type-btn">宜蘭</div>
                    <div class="type-btn">花蓮</div>
                    <div class="type-btn">嘉義</div>
                </div>
            </div>

            <div class="filter-type">
                <div class="type-name">交通分類</div>
                <div class="type-more" ng-click="toggleMore('trafficCategory')">
                    <span ng-hide="showAllOption.trafficCategory">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.trafficCategory">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.trafficCategory}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn active">汽車租賃</div>
                    <div class="type-btn">接送服務</div>
                    <div class="type-btn">機車租賃</div>
                    <div class="type-btn">台灣高鐵
                        <a class="icon-link" href="#" target="_blank"><i class="icon-Share-2"></i></a>
                    </div>
                    <div class="type-btn">台灣鐵路
                        <a class="icon-link" href="#" target="_blank"><i class="icon-Share-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="filters-more">
            <span>
                更多選項
                <i class="icon-ArrowDown"></i>
            </span>
        </div>
    </section>

    <!-- 顯示方式切換 -->
    <section>
        <div class="section-wrap layout-types">
           <div class="filter-type filters-float-left menuin">
                <a href="#" class="active">依發表時間</a> |
                <a href="#">依瀏覽數</a> |
                <a href="#">依討論數</a> 
            </div>  
            <div class="layout-type-label">顯示方式</div>
            <div class="layout-btns">
                <div class="layout-btn hint hint--top" data-hint="格狀顯示" ng-class="{'active': layout=='Grid'}" ng-click="switchLayout('Grid')"><i class="icon-Grid"></i></div>
                <div class="layout-btn hint hint--top" data-hint="列表顯示" ng-class="{'active': layout=='List'}" ng-click="switchLayout('List')"><i class="icon-Playlist"></i></div>
                <div class="layout-btn hint hint--top map-btn" data-hint="地圖顯示" ng-class="{'active': layout=='Map'}" ng-click="switchLayout('Map')"><i class="icon-Map"></i></div>
                <div show-for-small class="layout-btn" ng-click="openFilter()"><i class="icon-Filter"></i></div>
            </div>
        </div>
    </section>


            <!-- 格壯列表 -->
    <section>
        <div class="section-wrap no-top-padding">

            <div ng-show="layout=='Grid'" class="spots" layout="row" layout-wrap>
                <div class="spot-wrap" flex="25" flex-md="50" flex-sm="100" ng-repeat="traffic in traffics">
                    <div class="spot">
                        <div ng-show="!traffic.isCollect" class="collect-btn" ng-click="toggleCollect(traffic)"><i class="icon-Heart-2"></i> 收藏</div>
                        <div ng-show="traffic.isCollect" class="collect-btn active" ng-click="toggleCollect(traffic)"><i class="icon-Heart-2"></i></div>
                        <a href="#/traffic/poi">
                            <div class="thumbnail" style="background-image: url({{traffic.thumbnail}})">
                               <div class="tags">
                                <div class="tag red" ng-if="traffic.handoff" >免自提</div>
                                <div class="tag" ng-if="traffic.discount">優惠</div>
                            </div>
                        </div>
                        <div class="tags">
                            <div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}" ng-repeat="tag in traffic.tags">{{tag}}</div>
                        </div>

                        <div class="info no-meta">
                            <h4 class="title">{{traffic.title}}</h4>
                            <p class="descript">{{traffic.descript}}</p>
                            <div class="metas"><div class="address"><i class="icon-Pin"></i> <span>{{traffic.address}}</span></div></div>
                            <div class="newranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>


                            <p class="destit"><i class="icon-Views"></i> {{traffic.views}}</p>
                            <p class="destit"><i class="icon-Comments"></i> {{traffic.comment}}</p>
                            <p style="clear: both;"></p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <!-- List 模式 -->
        <div ng-show="layout=='List'" class="spot-list" layout="row" layout-wrap>

            <div class="spot-wrap" flex="50" flex-md="50" flex-sm="100" ng-repeat="traffic in traffics">
                <div class="spot">
                    <div ng-show="!traffic.isCollect" class="collect-btn" ng-click="toggleCollect(traffic)"><i class="icon-Plus"></i> 收藏</div>
                    <div ng-show="traffic.isCollect" class="collect-btn active" ng-click="toggleCollect(traffic)"><i class="icon-Check"></i> 已收藏</div>
                    <a href="#/traffic/poi">
                        <div class="thumbnail" style="background-image: url({{traffic.thumbnail}})">
                            <div class="tags">
                                <div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}" ng-repeat="tag in traffic.tags">{{tag}}</div>
                            </div>
                        </div>
                    </a>
                    <div class="info">
                        <a href="#/traffic/poi">    
                            <h4 class="title">{{traffic.title}}</h4>
                        </a>
                      
                        <p class="descript">{{traffic.descript}}</p>
                        <div class="metas">
                            <div class="address"><i class="icon-Pin"></i> <span>{{traffic.address}}</span></div>
                            <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                            <p class="destit"><i class="icon-Views"> </i>{{traffic.views}}</p>
                            <p class="destit"><i class="icon-Comments"> </i>{{traffic.comment}}</p>

                            <p class="tags">
                               <span class="tag red" ng-if="traffic.handoff" >免自提</span>
                               <span class="tag" ng-if="traffic.discount">優惠</span>
                           </p>                        
                       </div>
                   </div>
               </div>
           </div>

       </div>


            <!-- Map 模式 -->
            <div ng-show="layout=='Map'" class="spot-map" layout="row" layout-wrap>

                <div class="list-map2">
                    <div>this is map</div>
                    <a class="view-larger-map">
                        <i class="icon-Map"></i>
                        <span>查看大地圖</span>
                    </a>
                </div>
                <div class="spot-list" flex="100" flex-md="100" flex-sm="100" suppress-scroll-x="true">
                    <div class="spot-wrap" flex="50" flex-md="50" flex-sm="100" ng-repeat="traffic in traffics">
                        <div class="spot">
                            <a href="#/traffic/poi">
                                <div class="thumbnail" style="background-image: url({{traffic.thumbnail}})">
                                </div>
                            </a>
                            <div class="info">
                                <a href="#/traffic/poi">
                                    <h4 class="title">{{traffic.title}}</h4>
                                </a>
                                <div class="summary">
                                    <span class="price">本店均消 {{traffic.price}} 元 / </span>
                                    <span class="types">{{traffic.type}}</span>
                                </div>
                                <p class="descript">{{traffic.descript}}</p>
                                <div class="metas">
                                    <div class="address"><i class="icon-Pin"></i> <span>{{traffic.address}}</span></div>
                                    <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                    <div class="recommend">{{traffic.commentCount}}人評論</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- 分頁 -->
    <section>
        <div class="section-wrap no-top-padding">
            <div class="pagination">
              <ul class="page-numbers">
                <li><a href="" class="prev">上一頁</a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="current" >2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">...</a></li>
                <li><a href="">5</a></li>
                <li><a href="" class="next">下一頁</a></li>
              </ul>
            </div>
        </div>
    </section>
    <div class="status">
        <div class="loading">
            <div class="throbber throbber_large"></div>
            <span>載入中</span>
        </div>
    </div>
</div>
