<div class="content shopping-cart-container gray">
    <h2 class="title">購物車</h2>
    <div class="shopping-cart">
        <div class="header">
            <md-checkbox></md-checkbox>
            <h3 class="title">店家 : 台灣伴手禮會館</h3>
        </div>
        <div class="shopping-item-list">
            <div class="shopping-item">
                <md-checkbox></md-checkbox>
                <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
                <div class="info">
                    <h4 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h4>
                    <div class="meta">類別：兌換券</div>
                </div>
                <div class="float-right">
                    <div class="count-wrap">
                        <div class="plus">
                            <i class="icon-Plus"></i>
                        </div>
                        <input type="text" value="1">
                        <div class="minus">
                            <i class="icon-Minus"></i>
                        </div>
                    </div>
                    <div class="subtotal">
                        <p class="price">$119</p>
                        <div class="delete">刪除</div>
                    </div>
                </div>
            </div>
            <div class="shopping-item">
                <md-checkbox></md-checkbox>
                <div class="thumbnail" style="background-image:url('./public/images/spots/spot-2.jpg')"></div>
                <div class="info">
                    <h4 class="title">【食上天】CAS合格認證頂級蒲燒鰻魚4尾(200g/尾)</h4>
                    <div class="meta">類別：兌換券</div>
                </div>
                <div class="float-right">
                    <div class="count-wrap">
                        <div class="plus">
                            <i class="icon-Plus"></i>
                        </div>
                        <input type="text" value="1">
                        <div class="minus">
                            <i class="icon-Minus"></i>
                        </div>
                    </div>
                    <div class="subtotal">
                        <p class="price">$139</p>
                        <div class="delete">刪除</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shopping-cart">
        <div class="header">
            <md-checkbox></md-checkbox>
            <h3 class="title">店家 : 台灣伴手禮會館</h3>
        </div>
        <div class="shopping-item-list">
            <div class="shopping-item">
                <md-checkbox></md-checkbox>
                <div class="thumbnail" style="background-image:url('./public/images/spots/spot-3.jpg')"></div>
                <div class="info">
                    <h4 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h4>
                    <div class="meta">類別：兌換券</div>
                </div>
                <div class="float-right">
                    <div class="count-wrap">
                        <div class="plus">
                            <i class="icon-Plus"></i>
                        </div>
                        <input type="text" value="1">
                        <div class="minus">
                            <i class="icon-Minus"></i>
                        </div>
                    </div>
                    <div class="subtotal">
                        <p class="price">$119</p>
                        <div class="delete">刪除</div>
                    </div>
                </div>
            </div>
            <div class="shopping-item">
                <md-checkbox></md-checkbox>
                <div class="thumbnail" style="background-image:url('./public/images/spots/spot-4.jpg')"></div>
                <div class="info">
                    <h4 class="title">【食上天】CAS合格認證頂級蒲燒鰻魚4尾(200g/尾)</h4>
                    <div class="meta">類別：兌換券</div>
                </div>
                <div class="float-right">
                    <div class="count-wrap">
                        <div class="plus">
                            <i class="icon-Plus"></i>
                        </div>
                        <input type="text" value="1">
                        <div class="minus">
                            <i class="icon-Minus"></i>
                        </div>
                    </div>
                    <div class="subtotal">
                        <p class="price">$139</p>
                        <div class="delete">刪除</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="total">
        <md-checkbox></md-checkbox>
        <span>全選</span>
        <div class="float-right">
            <span>共計 <span class="number">3</span> 件商品，合計 (不含運費)</span>
            <span class="price">$258</span>
            <a href="/#/confirmOrder" class="button">結帳</a>
        </div>
    </div>
</div>
