<div class="recommend-foods" layout="row" layout-wrap>
  <a href="#/foods" class="food-wrap" flex="20" flex-md="50" flex-sm="40" ng-repeat="food in foodThemeList">
      <div class="food" style="background-image: url({{food.images[0].url}})">
        <div class="info">
          <h4 class="title">{{food.title}}</h4>
          <div class="metas">{{food.collection}}間餐廳等你品嚐</div>
        </div>
      </div>
  </a>
</div>
