<div class="content-col">
	<div class="card box-shadow">
		<div class="header">
			<h4 class="title">我的趣事</h4>
			
			<div class="tab-bar">
				<div class="tab" ng-click="clearFilter()" ng-class="{active : filters.type ==null}">全部 {{collectList.length}}</div>
				 <div class="tab"  ng-click="clearFilter();filters.type = 0" ng-class="{active : filters.type ==0}">已公開 {{(collectList|filter:{type:0}).length}} </div>
					<div class="tab"  ng-click="filters = showNO;filters.type=1" ng-class="{active :filters == showNO}">未公開 {{(collectList|filter:{type:'!0'}).length}} </div>
			</div>
		</div>
	</div>
	
	<div class="funthings-list">
		<ul>
			<li ng-repeat="item in collectList | filter:filters track by $index" repeat-finished ng-click="showFunDetail($index)">
				<div  >
					<div class="thumbnail" style="background-image: url({{item.thumbnail}});background-position: center;">
						<div class="tag"><i class="icon-Pin-2"></i>{{item.where}}</div>
						<div class="ismov" ng-show="item.ismov==true"><img src="../public/images/ismov.svg" alt=""></div>
					</div>
					
					<p class="descript">{{item.descript}}</p>
					
					<div class="summury">
					    <div class="waring" ng-show="item.type==3"><i class="icon-Exclamation"></i>尚未添加地點資訊</div>
					    <div class="waring" ng-show="item.type==4"><i class="icon-Exclamation"></i>無效的趣事位置</div>
					    <div class="waring" ng-show="item.type==1"><i class="icon-Exclamation"></i>趣事審核中</div>
					    <div class="waring" ng-show="item.type==2"><i class="icon-Exclamation"></i>趣事審核未通過</div>
						<div ng-class="{true: 'light', false: 'count'}[item.isthumb]"><i class="icon-Like"></i>{{item.thumb}}</div>
						<div class="date">{{item.date}}</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
    <!-- 分頁 -->
    <section>
		<div class="section-wrap">
			<div class="pagination">
				<ul class="page-numbers">
					<li><a href="" class="prev"><i class="icon-Back"></i></a></li>
					<li><a href="">1</a></li>
					<li><a href="" class="current" >2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">...</a></li>
					<li><a href="">5</a></li>
					<li><a href="" class="next"><i class="icon-Forward"></i></a></li>
				</ul>
			</div>
		</div>
	</section>
</div>
