<div class="recommend-collections" layout="row" layout-wrap>
  <a href="#/collections" class="collection-wrap" flex="20" flex-md="50" flex-sm="40" ng-repeat="collection in collectionThemeList">
      <div class="collection" style="background-image: url({{collection.images[0].url}})">
        <div class="info">
          <h4 class="title">{{collection.title}}</h4>
          <div class="metas">{{collection.collection}}個景點等你體驗</div>
        </div>
      </div>
  </a>
</div>
