<div class="trips-page content gray" ng-class="{'map-mode': layout=='Map'}">
    <section class="filters" ng-class="{'open' : isOpenFilter}">
        <div class="filters-header">
            <div class="close" ng-click="closeFilter()">
                <i class="icon-Close"></i>
            </div>
            <h4>過濾條件</h4>
        </div>
        <div class="section-wrap container-bar">

            <div class="filter-type">
                <div class="type-name">活動類型</div>
                <div class="type-more" ng-click="toggleMore('activitiesType')">
                    <span ng-hide="showAllOption.activitiesType">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.activitiesType">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.activitiesType}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn active">節慶活動</div>
                    <div class="type-btn">年度活動</div>
                    <div class="type-btn">四季活動</div>
                    <div class="type-btn">產業文化活動</div>
                    <div class="type-btn">遊憩活動</div>
                    <div class="type-btn">單車休閒</div>
                    <div class="type-btn">近期快報</div>
                    <div class="type-btn">地方活動</div>
                    <div class="type-btn">其他</div>
                </div>
            </div>
            
            <div class="filter-type">
                <div class="type-name">地區篩選</div>
                <div class="type-more" ng-click="toggleMore('areas')">
                    <span ng-hide="showAllOption.areas">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.areas">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.areas}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn">台北</div>
                    <div class="type-btn active">台中</div>
                    <div class="type-btn">台南</div>
                    <div class="type-btn">高雄</div>
                    <div class="type-btn">新竹</div>
                    <div class="type-btn">嘉義</div>
                    <div class="type-btn">台東</div>
                    <div class="type-btn">澎湖</div>
                    <div class="type-btn">其他</div>
                    <div class="type-btn">桃園</div>
                    <div class="type-btn">苗栗</div>
                    <div class="type-btn">彰化</div>
                    <div class="type-btn">雲林</div>
                    <div class="type-btn">宜蘭</div>
                    <div class="type-btn">花蓮</div>
                    <div class="type-btn">嘉義</div>
                </div>
            </div>

            <div class="filter-type">
                <div class="type-name">活動日期</div>
                <div class="type-wrap type-btns expand">
                    <div class="type-btn">不限</div>
                    <div class="type-btn active">指定日期</div>
                    <div class="date-range">
                        <div class="date-input">
                            <i class="icon-Calendar"></i>
                            <input type="text" ng-model="startDate" numbers-only placeholder="開始日期" datepicker>
                        </div>
                         - 
                        <div class="date-input">
                            <i class="icon-Calendar"></i>
                            <input type="text" ng-model="endDate" numbers-only placeholder="結束日期" datepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filter-type">
                <div class="type-name">價格範圍</div>
                <div class="type-wrap type-btns expand">
                    <div class="type-btn">不限</div>
                    <div class="type-btn">免費</div>
                    <div class="type-btn active">付費</div>
                    <div class="price-range">
                        <input type="text" ng-model="minPrice" numbers-only placeholder="250 元">
                         - 
                        <input type="text" ng-model="maxPrice" numbers-only placeholder="不限">
                        <div class="button small button-outline">確認</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filters-more">
            <span>
                更多選項
                <i class="icon-ArrowDown"></i>
            </span>
        </div>
    </section>

    <!-- 顯示方式切換 -->
    <section>
        <div class="section-wrap layout-types">
           <div class="filter-type filters-float-left menuin">
                <a href="#" class="active">依發表時間</a> |
                <a href="#">依瀏覽數</a> |
                <a href="#">依討論數</a> 
            </div>
            <div class="layout-type-label">顯示方式</div>
            <div class="layout-btns">
                <div class="layout-btn hint hint--top" data-hint="格狀顯示" ng-class="{'active': layout=='Grid'}" ng-click="switchLayout('Grid')"><i class="icon-Grid"></i></div>
                <div class="layout-btn hint hint--top" data-hint="列表顯示" ng-class="{'active': layout=='List'}" ng-click="switchLayout('List')"><i class="icon-Playlist"></i></div>
                <div class="layout-btn hint hint--top map-btn" data-hint="地圖顯示" ng-class="{'active': layout=='Map'}" ng-click="switchLayout('Map')"><i class="icon-Map"></i></div>
                <div show-for-small class="layout-btn" ng-click="openFilter()"><i class="icon-Filter"></i></div>
            </div>
        </div>
    </section>

    <!-- 格壯列表 -->
    <section>
        <div class="section-wrap no-top-padding">

        <div ng-show="layout=='Grid'" class="spots" layout="row" layout-wrap>
                <div class="spot-wrap" flex="25" flex-md="50" flex-sm="100" ng-repeat="event in events">
                    <div class="spot">
                        <div ng-show="!event.isCollect" class="collect-btn" ng-click="toggleCollect(event)"><i class="icon-Heart-2"></i> 收藏</div>
                        <div ng-show="event.isCollect" class="collect-btn active" ng-click="toggleCollect(event)"><i class="icon-Heart-2"></i></div>
                        <a href="#/events/poi">
                            <div class="thumbnail" style="background-image: url({{event.thumbnail}})">
                               
                        </div>
                        <div class="tags">
                            <div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}" ng-repeat="tag in event.tags">{{tag}}</div>
                        </div>

                        <div class="info no-meta">
                            <h4 class="title">{{event.title}}</h4>
                            <p class="descript">{{event.descript}}</p>
                            <div class="metas"  ng-if="!event.expired"><div class="date-events"><i class="icon-Clock-2"></i> <span>{{event.startDate}} ~ {{event.endDate}}</span></div></div>
                             <div class="metas"  ng-if="event.expired"><div class="date-events" style="color:#D0021B;"><i class="icon-Clock-2"></i> <span>{{event.endDate}} 已結束</span></div></div>
                            <div class="newranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>


                            <p class="destit"><i class="icon-Views"></i> {{event.views}}</p>
                            <p class="destit"><i class="icon-Comments"></i> {{event.comment}}</p>
                            <p style="clear: both;"></p>
                        </div>
                    </a>
                </div>
            </div>

        </div>

            

            <!-- List 模式 -->
            <div ng-show="layout=='List'" class="spot-list" layout="row" layout-wrap>

                <div class="spot-wrap" flex="50" flex-md="50" flex-sm="100" ng-repeat="event in events">
                    <div class="spot">
                        <div ng-show="!event.isCollect" class="collect-btn" ng-click="toggleCollect(event)"><i class="icon-Plus"></i> 收藏</div>
                        <div ng-show="event.isCollect" class="collect-btn active" ng-click="toggleCollect(event)"><i class="icon-Check"></i> 已收藏</div>
                        <a href="#/events/poi">
                            <div class="thumbnail" style="background-image: url({{event.thumbnail}})">
                                <div class="tags">
                                    <div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}" ng-repeat="tag in event.tags">{{tag}}</div>
                                </div>
                            </div>
                        </a>
                        <div class="info">
                            <a href="#/events/poi">    
                                <h4 class="title">{{event.title}}</h4>
                            </a>
                            <p class="descript">{{event.descript}}</p>
                            <div class="metas">
                                <div class="date-range" ng-class="{'expired':event.expired}"><i class="icon-Clock"></i> <span ng-if="!event.expired">{{event.startDate}}~{{event.endDate}}</span><span ng-if="event.expired">{{event.endDate}} 已結束</span></div>
                                <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                               <p class="destit"><i class="icon-Views"> </i>{{event.views}}</p>
                            <p class="destit"><i class="icon-Comments"> </i>{{event.comment}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Map 模式 -->
            <div ng-show="layout=='Map'" class="spot-map" layout="row" layout-wrap>

                <div class="list-map2">
                    <div>this is map</div>
                    <a class="view-larger-map">
                        <i class="icon-Map"></i>
                        <span>查看大地圖</span>
                    </a>
                </div>
                <div class="spot-list" flex="100" flex-md="100" flex-sm="100" suppress-scroll-x="true">
                    <div class="spot-wrap" flex="50" flex-md="50" flex-sm="100" ng-repeat="event in events">
                        <div class="spot">
                            <a href="#/events/poi">
                                <div class="thumbnail" style="background-image: url({{event.thumbnail}})">
                                </div>
                            </a>
                            <div class="info">
                                <a href="#/events/poi">    
                                    <h4 class="title">{{event.title}}</h4>
                                </a>
                                <div class="summary">
                                    <span class="types">{{event.type}} / </span>
                                    <span class="price" ng-if="event.price!=0">門票 {{event.price}} 元</span>
                                    <span class="price" ng-if="event.price==0">免門票</span>
                                </div>
                                <p class="descript">{{event.descript}}</p>
                                <div class="metas">
                                    <div class="date-range" ng-class="{'expired':event.expired}"><span class="expired-mark" ng-if="event.expired">已過期</span><i class="icon-Clock"></i> <span ng-if="!event.expired">{{event.startDate}}~{{event.endDate}}</span><span ng-if="event.expired">活動於{{event.endDate}}結束</span></div>
                                    <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                    <div class="recommend">{{event.collectCount}}人收藏</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- 分頁 -->
    <section>
        <div class="section-wrap no-top-padding">
            <div class="pagination">
              <ul class="page-numbers">
                <li><a href="" class="prev">上一頁</a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="current" >2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">...</a></li>
                <li><a href="">5</a></li>
                <li><a href="" class="next">下一頁</a></li>
              </ul>
            </div>
        </div>
    </section>
    <div class="status">
        <div class="loading">
            <div class="throbber throbber_large"></div>
            <span>載入中</span>
        </div>
    </div>
</div>
