<div class="content shopping-cart-container gray">
  <h2 class="title">訂單結帳</h2>
  <div class="shopping-cart">
    <div class="header">
      <h3 class="title">店家 : 台灣伴手禮會館</h3>
    </div>
    <div class="shopping-item-list">
      <div class="shopping-item">
        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
        <div class="info">
          <h4 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h4>
          <div class="meta">類別：兌換券</div>
        </div>
        <div class="float-right">
          <span class="count">數量: 1</span>
          <div class="subtotal">
            <p class="price">$119</p>
          </div>
        </div>
      </div>
      <div class="shopping-item">
        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-2.jpg')"></div>
        <div class="info">
          <h4 class="title">【食上天】CAS合格認證頂級蒲燒鰻魚4尾(200g/尾)</h4>
          <div class="meta">類別：兌換券</div>
        </div>
        <div class="float-right">
          <span class="count">數量: 2</span>
          <div class="subtotal">
            <p class="price">$139</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <span>店家合計：共計 <span class="number">3</span> 件商品，含運費 $40 (本店滿 $499 免運費)，合計</span>
      <span class="price">$298</span>
    </div>
  </div>
  <div class="shopping-cart">
    <div class="header">
      <h3 class="title">店家 : 台灣伴手禮會館</h3>
    </div>
    <div class="shopping-item-list">
      <div class="shopping-item">
        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-3.jpg')"></div>
        <div class="info">
          <h4 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h4>
          <div class="meta">類別：兌換券</div>
        </div>
        <div class="float-right">
          <span class="count">數量: 1</span>
          <div class="subtotal">
            <p class="price">$119</p>
          </div>
        </div>
      </div>
      <div class="shopping-item">
        <div class="thumbnail" style="background-image:url('./public/images/spots/spot-4.jpg')"></div>
        <div class="info">
          <h4 class="title">【食上天】CAS合格認證頂級蒲燒鰻魚4尾(200g/尾)</h4>
          <div class="meta">類別：兌換券</div>
        </div>
        <div class="float-right">
          <span class="count">數量: 2</span>
          <div class="subtotal">
            <p class="price">$139</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <span>店家合計：共計 <span class="number">3</span> 件商品，含運費 $40 (本店滿 $499 免運費)，合計</span>
      <span class="price">$298</span>
    </div>
  </div>
  <div class="total">
    <div class="float-right">
      <span>共計 <span class="number">3</span> 件商品，合計 (含運費)</span>
      <span class="price">$596</span>
      <button class="button">結帳</button>
    </div>
  </div>
</div>