<md-dialog class="dialog cancel-bind-social">
  <div class="content">
    <h3 class="title">取消 {{social}} 綁定？</h3>
    <p class="subtitle">註銷後將無法使用 {{social}} 進行登入，<br>確定要註銷嗎？</p>
    <div class="buttons">
      <button class="button blue" ng-click="confirm()">是的，取消綁定</button>
      <button class="button light-gray" ng-click="cancel()">取消</button>
    </div>
  </div>
</md-dialog>
<div class="backdrop" ng-show="doing"></div>
<div class="status" ng-show="doing">
  <div class="loading">
    <div class="throbber throbber_large"></div>
    <span>請稍候</span>
  </div>
</div>
