<md-dialog class="dialog create-spot animate-leave" ng-class="{'animate-leave-active':createSuccess}">
  <div class="header">
    <h3 class="title">新增自訂景點</h3>
    <p class="subtitle">請在下方填寫景點資訊</p>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <perfect-scrollbar class="content">
    <div class="content-wrap">
      <div class="content-block">
        <div class="thumbnail-wrap">
          <div class="thumbnail" ng-style="{'background-image': 'url(' + spotData.thumbnail + ')'}">
          </div>
          <button class="button small" ng-click="uploadPhoto()">上傳照片</button>
        </div>
        <table class="table-info">
          <tr>
            <td class="name col-6">目的地名稱</td>
            <td class="name col-6">類別</td>
          </tr>
          <tr>
            <td class="content col-6 padding-bottom">
              <div class="input-wrap" ng-class="{'valid-error':!spotData.targetName}">
                <input type="text" ng-model="spotData.targetName">
                <span class="error-msg" ng-show="!spotData.targetName">請輸入景點名稱</span>
              </div>
            </td>
            <td class="content col-6 padding-bottom">
              <md-select ng-model="spotData.type">
                <md-option ng-repeat="item in types" ng-value="item.id" ng-bind="item.name"></md-option>
              </md-select>
            </td>
          </tr>
          <tr>
            <td class="name" colspan="2">地址</td>
          </tr>
          <tr>
            <td class="content padding-bottom" colspan="2">
              <input type="text" ng-model="spotData.address">
            </td>
          </tr>
          <tr>
            <td class="name" colspan="2">添加筆記</td>
          </tr>
          <tr>
            <td class="content" colspan="2">
              <textarea ng-model="spotData.note"></textarea>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="footer">
    <md-checkbox ng-model="agreeCheck">
      <span>我接受此<a>服務條款</a>與個資蒐集告知事項</span>
    </md-checkbox>
    <div class="buttons">
      <button class="button small blue" ng-disabled="!agreeCheck" ng-class="{'disable': !agreeCheck}" ng-click="createSpot()">新增行程</button>
      <button class="button small light-gray" ng-click="cancel()">取消</button>
    </div>
  </div>
  <div class="backdrop" ng-show="creating"></div>
  <div class="status" ng-show="creating">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>正在建立景點</span>
    </div>
  </div>
</md-dialog>
