<md-dialog class="dialog create-trip animate-leave" ng-class="{'animate-leave-active':createTripSuccess}">
  <div class="header">
    <h3 class="title">行程快排</h3>
    <p class="subtitle">四個步驟完成一趟旅程規劃</p>
    <div class="prev" ng-click="backStep()">
      <i class="icon-Back"></i>
    </div>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <div class="nav-bar">
    <div class="nav" ng-class="{'active':step==1}">
      <span>1. 選擇日期與偏好</span>
    </div>
    <div class="nav" ng-class="{'active':step==2}">
      <span>2. 選擇目的地</span>
    </div>
    <div class="nav" ng-class="{'active':step==3}">
      <span>3. 選擇必去景點</span>
    </div>
  </div>
  <!-- Step1 選擇日期與偏好 -->
  <perfect-scrollbar class="content" ng-class="{'animate-left-enter':step>=1, 'animate-left-enter-active':step==1}">
    <div class="content-wrap">
      <div class="content-block">
        <label>旅遊開始日期
          <md-checkbox ng-model="setting.hasStartDate">
            <span>尚未決定</span>
          </md-checkbox>
        </label>
        <div class="date-input">
            <i class="icon-Calendar"></i>
            <input type="text" ng-model="setting.startDate" numbers-only placeholder="請選擇日期" datepicker>
        </div>
        <label>旅遊天數</label>
        <md-select ng-model="setting.tripDays" placeholder="請選擇天數">
          <md-option ng-repeat="item in days" ng-value="item" ng-bind="item"></md-option>
        </md-select>
        <br>
        <label>選擇旅程主題</label>
        <div class="labels-wrap">
          <md-checkbox ng-repeat="item in triplabels" ng-model="item.checked">
            <span>{{item.name}}</span>
          </md-checkbox>
        </div>
        <label>行程安排寬鬆程度</label>
        <md-radio-group ng-model="setting.tripDensity">
          <md-radio-button class="trip-density" ng-value="1" aria-label="寬鬆安排">
            <span>寬鬆安排</span>
          </md-radio-button>
          <md-radio-button class="trip-density" ng-value="2" aria-label="適中安排">
            <span>適中安排</span>
          </md-radio-button>
          <md-radio-button class="trip-density" ng-value="3" aria-label="緊湊安排">
            <span>緊湊安排</span>
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>
  </perfect-scrollbar>
  <!-- /Step1 選擇日期與偏好 -->

  <!-- Step2 選擇目的地 -->
  <perfect-scrollbar class="content" ng-class="{'animate-left-enter':step>=2, 'animate-left-enter-active':step==2, 'animate-right-enter':step<=2, 'animate-right-enter-active':step==2}">
    <div class="content-wrap">
      <div class="content-block">
        <div ng-repeat="destination in setting.destinations">
          <label>第 {{::$index + 1}} 天的目的地
            <md-checkbox ng-model="destination.ditto" ng-if="::$index>0">
              <span>同上目的地</span>
            </md-checkbox>
          </label>
          <md-select ng-model="destination.id">
            <md-option value="-1">不限定</md-option>
            <md-option ng-repeat="item in tripDestinations" ng-value="item.id" ng-bind="::item.name"></md-option>
          </md-select>
          <br>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
  <!-- /Step2 選擇目的地 -->

  <!-- Step3 選擇必去景點 -->
  <div class="content" ng-class="{'animate-right-enter':step<=3, 'animate-right-enter-active':step==3}">
    <div class="content-wrap">
      <div class="content-block">
        <div class="tabs">
          <div class="tab" ng-class="{'active':currentTab=='popular'}" ng-click="switchTab('popular')">
            <span>熱門推薦</span>
          </div>
          <div class="tab" ng-class="{'active':currentTab=='collect'}" ng-click="switchTab('collect')">
            <span>我的收藏</span>
          </div>
          <div class="tab" ng-class="{'active':currentTab=='search'}" ng-click="switchTab('search')">
            <span>搜尋添加</span>
          </div>
          <md-select ng-model="setting.type" ng-show="currentTab=='collect'">
              <md-option ng-repeat="type in types" ng-value="type.id">{{type.name}}</md-option>
          </md-select>
        </div>
        <!-- 熱門推薦 -->
        <perfect-scrollbar class="tab-content" suppress-scroll-x="true" ng-show="currentTab=='popular'">
          <div class="spot-list">
            <div class="spot-wrap" ng-repeat="spot in populars">
              <div class="spot">
                  <a>
                      <div class="thumbnail" style="background-image: url(../public/images/spots/spot-{{$index%8+1}}.jpg)">
                      </div>
                  </a>
                  <div class="info">
                      <a>
                          <h4 class="title">{{spot.title}}</h4>
                      </a>
                      <p class="descript">{{spot.descript}}</p>
                      <div class="metas">
                          <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                          <div class="recommend">{{spot.collectCount}}人收藏</div>
                      </div>
                  </div>
                  <div class="check" ng-class="{'active':spot.checked}" ng-click="spot.checked=!spot.checked">
                    <i class="icon-Plus" ng-hide="spot.checked"></i>
                    <i class="icon-CheckCircle" ng-show="spot.checked"></i>
                  </div>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
        <!-- 我的收藏 -->
        <perfect-scrollbar class="tab-content" suppress-scroll-x="true" ng-show="currentTab=='collect'">
          <div class="spot-list" ng-show="hasLogin">
            <div class="spot-wrap" ng-repeat="spot in mycollects">
              <div class="spot">
                  <a>
                      <div class="thumbnail" style="background-image: url(../public/images/spots/spot-{{$index%8+1}}.jpg)">
                      </div>
                  </a>
                  <div class="info">
                      <a>
                          <h4 class="title">{{spot.title}}</h4>
                      </a>
                      <p class="descript">{{spot.descript}}</p>
                      <div class="metas">
                          <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                          <div class="recommend">{{spot.collectCount}}人收藏</div>
                      </div>
                  </div>
                  <div class="check" ng-class="{'active':spot.checked}" ng-click="spot.checked=!spot.checked">
                    <i class="icon-Plus" ng-hide="spot.checked"></i>
                    <i class="icon-CheckCircle" ng-show="spot.checked"></i>
                  </div>
              </div>
            </div>
          </div>
          <div class="empty" ng-show="hasLogin && mycollects.length == 0">
            <i class="icon-Heart-2"></i>
            <p>
              哎呀！收藏還是空的呢！<br>
              趕快挑幾個喜歡的景點加入收藏吧！
            </p>
          </div>
          <div class="not-login" ng-hide="hasLogin">
            <h5 class="title">尚未登入</h5>
            <p>
              登入帳號後，輕鬆收藏喜歡的景點，<br>
              讓行程安排更快速簡單！
            </p>
            <a class="link" href="javascript:void(0);" login>馬上登入</a>
          </div>
        </perfect-scrollbar>
        <!-- 搜尋添加 -->
        <div class="date-input search" ng-show="currentTab=='search'">
            <i class="icon-Search"></i>
            <!-- <input type="text" ng-model="setting.keyword" placeholder="輸入景點名稱"> -->
            <md-autocomplete
                md-selected-item="selectedItem"
                md-search-text-change="searchTextChange(setting.keyword)"
                md-search-text="setting.keyword"
                md-selected-item-change="selectedItemChange(item)"
                md-items="item in querySearch(setting.keyword)"
                md-item-text="item.display"
                md-min-length="0"
                placeholder="輸入景點名稱">
              <md-item-template>
                <span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
              </md-item-template>
              <!-- <md-not-found>
                No matches found for "{{setting.keyword}}".
              </md-not-found> -->
            </md-autocomplete>
        </div>
        <perfect-scrollbar class="tab-content" suppress-scroll-x="true" ng-show="currentTab=='search'">
          <div class="spot-list">
            <div class="spot-wrap" ng-repeat="spot in spots">
              <div class="spot">
                  <a>
                      <div class="thumbnail" style="background-image: url(../public/images/spots/spot-{{$index%8+1}}.jpg)">
                      </div>
                  </a>
                  <div class="info">
                      <a>
                          <h4 class="title">{{spot.title}}</h4>
                      </a>
                      <p class="descript">{{spot.descript}}</p>
                      <div class="metas">
                          <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                          <div class="recommend">{{spot.collectCount}}人收藏</div>
                      </div>
                  </div>
                  <div class="check" ng-class="{'active':spot.checked}" ng-click="spot.checked=!spot.checked">
                    <i class="icon-Plus" ng-hide="spot.checked"></i>
                    <i class="icon-CheckCircle" ng-show="spot.checked"></i>
                  </div>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
  <!-- /Step3 選擇必去景點 -->

  <div class="footer">
    <button class="button small blue" ng-disabled="!setting.tripDays" ng-class="{'disable': !setting.tripDays}" ng-click="initDestinations()" ng-show="step==1">下一步</button>

    <button class="button small blue" ng-disabled="false" ng-class="{'disable': false}" ng-click="setStep(3)" ng-show="step==2">下一步</button>

    <button class="button small blue" ng-click="createTrip()" ng-show="step==3">開始規劃行程</button>
  </div>

  <div class="backdrop" ng-show="onCreateTrip"></div>
  <div class="status" ng-show="onCreateTrip">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>正在規劃行程</span>
    </div>
  </div>
</md-dialog>

<md-dialog class="dialog create-trip-result animate-enter" ng-class="{'animate-enter-active':createTripSuccess, 'transition-out':!createTripSuccess}">
  <div class="header">
    <div class="thumbnail" style="background-image:url('public/images/pointer.svg')"></div>
    <h3 class="title">行程安排完成</h3>
    <p class="subtitle">為您的行程取個令人期待的名稱吧</p>
  </div>
  <div class="content">
    <div class="content-wrap">
      <div class="content-block">
        <input type="text" class="trip-name" ng-model="tripName" placeholder="我的專屬行程">
        <button class="button blue" ng-click="goTrip()">完成，前往查看行程</button>
      </div>
    </div>
  </div>
</md-dialog>
