<md-dialog class="dialog edit-personal-info">
  <div class="header">
    <h3 class="title">修改個人資訊</h3>
    <p class="subtitle">請在下方填寫個人資訊</p>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <perfect-scrollbar class="content">
    <div class="content-wrap">
      <div class="full-content-block">
        <div class="profile-img-wrap">
          <div class="profile-img">
            <img src="../public/images/avatars/1.jpg" alt="">
          </div>
          <button class="button small clear">修改大頭照</button>
        </div>
      </div>
      <div class="content-block">
        <label>姓名 <span>(必填)</span></label>
        <input type="text">
        <label>電子郵件 <span>(必填)</span></label>
        <input type="email">
        <label>密碼</label>
        <button class="button clear" ng-click="resetpassword($event)">修改密碼</button>
      </div>
      <div class="content-block">
        <label>國家 <span>(必填)</span></label>
        <md-select ng-model="country" placeholder="請選擇">
          <md-option value="1">台灣</md-option>
          <md-option value="2">日本</md-option>
          <md-option value="3">香港</md-option>
          <md-option value="4">新加坡</md-option>
        </md-select>
        <label>出生年份</label>
        <md-select ng-model="birthday" placeholder="請選擇出生年份">
          <md-option ng-repeat="item in years | orderBy:'-'" ng-value="item" ng-bind="item"></md-option>
        </md-select>
        <label>性別</label>
        <md-radio-group ng-model="gender">
          <md-radio-button class="gender male" ng-value="1" aria-label="男">
          <div class="circle">
            <i class="icon-Boy"></i>
          </div><span>男</span>
          </md-radio-button>
          <md-radio-button class="gender female" ng-value="0" aria-label="女">
          <div class="circle">
            <i class="icon-Girl"></i>
          </div><span>女</span>
          </md-radio-button>
          <md-radio-button class="gender" ng-value="-1" aria-label="保密">
          <div class="circle">
            <i class="icon-Question"></i>
          </div><span>保密</span>
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="footer">
    <div class="buttons">
      <button class="button blue" ng-click="save()">儲存修改</button>
      <button class="button light-gray" ng-click="cancel()">取消</button>
    </div>
  </div>
  <div class="backdrop" ng-show="saving"></div>
  <div class="status" ng-show="saving">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>正在儲存</span>
    </div>
  </div>
</md-dialog>
