<md-dialog class="dialog edit-spots-info animate-leave" ng-class="{'animate-leave-active':editSuccess}">
  <div class="header">
    <h3 class="title">新增/編輯景點資訊</h3>
    <ul class="tabs">
      <li class="tab" ng-class="{'active':currentTab==1}" ng-click="switchTab(1)">基本資訊</li>
      <li class="tab" ng-class="{'active':currentTab==2}" ng-click="switchTab(2)">位置與其他資訊</li>
    </ul>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <perfect-scrollbar class="content" ng-show="currentTab==1">
    <div class="content-wrap">
      <div class="content-block">
        <div class="slideshow-wrap">
          <div class="slideshow float-left">
            <div class="slides">
              <div class="slide" ng-repeat="item in slideList" style="background-image:url({{item.imgUrl}});left:{{100*($index-currentSlideIdx)}}%;"></div>
            </div>
            <div class="ctrl-btn prev" ng-click="prevSlide()" ng-show="currentSlideIdx>0">
              <i class="icon-Back"></i>
            </div>
            <div class="ctrl-btn next" ng-click="nextSlide()" ng-show="currentSlideIdx<(slideList.length-1)">
              <i class="icon-Forward"></i>
            </div>
            <div class="page-number">
              {{currentSlideIdx+1}}/{{slideList.length}}
            </div>
          </div>
          <button class="button" ng-click="uploadPhoto()">上傳照片</button>
        </div>
        <table class="table-info">
          <tr>
            <td class="name">中文名稱</td>
            <td class="content">
              <input type="text">
              <p class="description">輸入景點的中文名稱，將顯示於中文版本網站中</p>
            </td>
          </tr>
          <tr>
            <td class="name">英文名稱</td>
            <td class="content">
              <input type="text">
              <p class="description">輸入景點的英文名稱，將顯示於英文版本網站中</p>
            </td>
          </tr>
          <tr>
            <td class="name">景點介紹</td>
            <td class="content">
              <textarea ng-model="report.reasons.otherContent"></textarea>
              <p class="description">詳細的描述這個景點，例如有哪些特色、景點的歷史與故事、旅遊建議...</p>
            </td>
          </tr>
          <tr>
            <td class="name">景點類別</td>
            <td class="content">
              <div class="labels expand">
                <span class="label" ng-repeat="label in spotData.labels" ng-if="label.checked">{{label.name}}</span>
                <span class="label" ng-repeat="label in spotData.otherLabels">{{label.text}}</span>
              </div>
              <a class="edit-labels" ng-click="editSpotsCategory()">編輯景點分類</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </perfect-scrollbar>
  <perfect-scrollbar class="content" ng-show="currentTab==2">
    <div class="content-wrap">
      <div class="content-block col-2">
        <table class="table-info">
          <tr>
            <td class="name">所在縣市</td>
            <td class="content padding-bottom">
              <md-select ng-model="spotData.city">
                  <md-option ng-repeat="city in citys" ng-value="city.id">{{city.name}}</md-option>
              </md-select>
            </td>
          </tr>
          <tr>
            <td class="name">景點地址</td>
            <td class="content padding-bottom">
              <input type="text">
            </td>
          </tr>
          <tr>
            <td class="name">聯絡電話</td>
            <td class="content padding-bottom">
              <input type="text">
            </td>
          </tr>
          <tr>
            <td class="name">營業時間</td>
            <td class="content padding-bottom">
              <textarea name="" id="" cols="30" rows="2"></textarea>
            </td>
          </tr>
          <tr>
            <td class="name">消費水平</td>
            <td class="content padding-bottom">
              <md-checkbox ng-model="isFree">
                <span>免費</span>
              </md-checkbox>
              <div class="price-range">
                  <input type="text" ng-model="minPrice" numbers-only ng-disabled="isFree">
                  元至 <input type="text" ng-model="maxPrice" numbers-only ng-disabled="isFree"> 元之間
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="content-block col-2">
        <table class="table-info">
          <tr>
            <td class="name">建議停留</td>
            <td class="content padding-bottom">
              <div class="input-select">
                <input type="text"><md-select ng-model="spotData.stay">
                    <md-option value="minute">分鐘</md-option>
                    <md-option value="hour">小時</md-option>
                    <md-option value="day">天</md-option>
                    <md-option value="week">週</md-option>
                    <md-option value="month">月</md-option>
                </md-select>
              </div>
            </td>
          </tr>
          <tr>
            <td class="name">網址</td>
            <td class="content padding-bottom">
              <input type="text">
            </td>
          </tr>
          <tr>
            <td class="name">Youtube</td>
            <td class="content padding-bottom">
              <input type="text">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="footer">
    <md-checkbox ng-model="agreeCheck">
      <span>我接受此<a>服務條款</a>與個資蒐集告知事項</span>
    </md-checkbox>
    <div class="buttons">
      <button class="button blue" ng-disabled="!agreeCheck" ng-class="{'disable': !agreeCheck}" ng-click="save()">送出修改</button>
      <button class="button light-gray" ng-click="cancel()">取消</button>
    </div>
  </div>
  <div class="backdrop" ng-show="saving"></div>
  <div class="status" ng-show="saving">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>正在送出修改</span>
    </div>
  </div>
</md-dialog>
<div class="backdrop" ng-show="showSpotCategory" ng-click="cancelEditSpotsCategory()"></div>
<md-dialog class="dialog edit-spot-category animate-enter" ng-class="{'animate-enter-active':showSpotCategory, 'transition-out':!showSpotCategory}">
  <div class="header">
    <h3 class="title">選擇景點分類</h3>
    <p class="subtitle">從下方勾選這個景點的類別</p>
    <div class="close" ng-click="cancelEditSpotsCategory()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <perfect-scrollbar class="content">
    <div class="content-wrap">
      <div class="content-block">
        <div class="labels-wrap">
          <md-checkbox ng-repeat="item in tempSpotData.labels" ng-model="item.checked">
            <span>{{item.name}}</span>
          </md-checkbox>
          <md-checkbox ng-model="tempSpotData.hasOtherLabels">
            <span>其他</span>
          </md-checkbox>
        </div>
        <div ng-show="tempSpotData.hasOtherLabels">
          <label>輸入分類名稱</label>
          <tags-input ng-model="tempSpotData.otherLabels" placeholder="輸入名稱" spellcheck="false" min-length="2"></tags-input>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="footer">
    <div class="buttons">
      <button class="button small blue" ng-click="saveCategory()">完成</button>
      <button class="button small light-gray" ng-click="cancelEditSpotsCategory()">取消</button>
    </div>
  </div>
  <div class="backdrop" ng-show="onSavingCategory"></div>
  <div class="status" ng-show="onSavingCategory">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>請稍候</span>
    </div>
  </div>
</md-dialog>
<md-dialog class="dialog edit-spots-info-result animate-enter" ng-class="{'animate-enter-active':editSuccess, 'transition-out':!editSuccess}">
  <div class="header">
    <div class="thumbnail" style="background-image:url('public/images/ship.svg')"></div>
    <h3 class="title">感謝您提供資訊</h3>
    <p class="subtitle">我們將儘速查閱您提供的內容，<br>感謝您提供資訊。</p>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
</md-dialog>
