<div class="iClose" ng-click="cancel()"><i class="icon-Close"></i></div>

<div class="fprev" ng-click="toPrev()">
	<img src="../public/images/funprev.svg" alt="">
</div>

<div class="fnext" ng-click="toNext()">
	<img src="../public/images/funnext.svg" alt="">
</div>

<md-dialog class="dialog funthings-detail animate-leave" ng-class="{'animate-leave-active':reportSuccess}">
	<div ng-repeat="item in nowList | filter:filters"  ng-show="$index == nIndex" repeat-finished >
<div class="thumbnail" style="background-image: url({{item.thumbnail}});background-position: center;background-repeat: no-repeat;background-size: cover;">
	
</div>
<div class="descript">{{item.descript}}</p>	
	<div class="	author-img-hasname">
	<div class="author-img" style="background-image: url(../public/images/avatars/1.jpg)"></div>
	<div class="author"><p>奧格士</p><p>太魯閣國家公園・2016年12月18日 </p></div>
	<div class="summary"><p>奧格士</p><p>太魯閣國家公園・2016年12月18日 </p></div>
	</div>
	
	
	<!--<div class="info has-author-img">
	                    <div class="author-img" style="background-image: url(../public/images/avatars/1.jpg)"></div>
	                    <div class="author-name ng-binding">奧革士</div>
	                    <h4 class="title row-2 ng-binding">排隊也要吃到的五十年眷村菜老店 孟記復興餐廳排隊也要吃到的五十年眷村菜老店 孟記復興餐廳排隊也要吃到的五十年眷村菜老店 孟記復興餐廳排隊也要吃到的五十年眷村菜老店 孟記復興餐廳排隊也要吃到的五十年眷村菜老店 孟記復興餐廳</h4>
	                            <!-- <div class="summary">
	                                <span class="types">{{getTypes(travelNote)}}</span>
	                            </div> --*>
	                            <div class="metas"><div class="address"><i class="icon-Pin"></i> <span class="ng-binding">台北、桃園市、新竹市</span></div></div>
	                            <p class="left-date"><i class="icon-Clock-2"></i> <span class="ng-binding">2015/3/7 </span></p>
	                            <p class="destit ng-binding"><i class="icon-Views"></i> 100</p>
	                            <p class="destit ng-binding"><i class="icon-Comments"></i> 233</p>
	                            <p style="clear: both;"></p>
	                        </div>-->
	
	</div>
</md-dialog>

