<md-dialog class="login" ng-class="{'animate-left-enter':step>=1, 'animate-left-enter-active':step==1}">
  <div class="header">
    <h3 class="title">登入</h3>
    <p class="subtitle">速創旅程，漫遊故事</p>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <perfect-scrollbar class="content">
    <div class="content-wrap content-block">
      <label>電子郵件</label>
      <div class="input-wrap" ng-class="{'valid-error':!email}">
        <input type="email" ng-model="email">
        <span class="error-msg" ng-show="!email">請輸入正確的電子郵件格式</span>
      </div>
      <label>密碼</label>
      <input type="password">
      <div class="forgot-password">
        <a ng-click="setStep(2)">忘記密碼</a>
      </div>
      <button class="button blue" ng-click="login()">登入</button>
    </div>
    <div class="splitter"><span>或</span></div>
    <div class="content-wrap content-block">
      <p>直接使用第三方社群帳號快速註冊 / 登入，請點擊下方的服務：</p>
      <button class="button facebook" ng-click="login()"><i class="icon-Facebook"></i>Facebook</button>
      <button class="button twitter" ng-click="login()"><i class="icon-Twitter"></i>Twitter</button>
      <button class="button google-plus" ng-click="login()"><i class="icon-Gplus"></i>Google＋</button>
      <button class="button weibo" ng-click="login()"><i class="icon-Weibo"></i>Weibo</button>
      <button class="button sohu" ng-click="login()"><i class="icon-Sohu"></i>Sohu</button>
      <button class="button yahoo" ng-click="login()"><i class="icon-Yahoo"></i>Yahoo!</button>
      <button class="button softbank" ng-click="login()"><i class="icon-Softbank"></i>Softbank</button>
      <button class="button line" ng-click="login()"><i class="icon-Line"></i>Line</button>
      <button class="button naver" ng-click="login()"><i class="icon-Naver"></i>Naver</button>
    </div>
    <div class="state-error-msg absolute" ng-show="loginFail">無法建立帳號，系統發生未知的錯誤</div>
  </perfect-scrollbar>
  <div class="footer">
    <div>還沒有帳號嗎？ <a href="javascript:void(0);" signup>馬上前往註冊</a></div>
  </div>
  <!-- <div class="md-actions" layout="row">
    <md-button ng-click="answer('not useful')" class="md-primary">
     Not Useful
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary">
      Useful
    </md-button>
  </div> -->
  <div class="backdrop" ng-show="onLogin"></div>
  <div class="status" ng-show="onLogin">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>正在登入</span>
    </div>
  </div>
</md-dialog>
<md-dialog class="dialog forgot-password animate-leave" ng-show="step==2" ng-class="{'animate-right-enter':step<=2, 'animate-right-enter-active':step==2, 'animate-leave-active':hasSend}">
  <div class="header">
    <h3 class="title">忘記密碼</h3>
    <p class="subtitle">申請寄送重設密碼信件</p>
    <div class="prev" ng-click="setStep(1)">
      <i class="icon-Back"></i>
    </div>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <perfect-scrollbar class="content">
    <div class="content-wrap">
      <div class="content-block">
        <label>請輸入登入使用的電子郵件</label>
        <div class="input-wrap" ng-class="{'valid-error':!email}">
          <input type="email" ng-model="email">
          <span class="error-msg" ng-show="!email">請輸入正確的電子郵件格式</span>
        </div>
        <button class="button blue" ng-click="sendResetPasswordMail()">寄送重設密碼信件</button>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="footer">
    <div>想起密碼了？ <a ng-click="setStep(1)">返回登入</a></div>
  </div>
  <div class="backdrop" ng-show="onSending"></div>
  <div class="status" ng-show="onSending">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>請稍候</span>
    </div>
  </div>
</md-dialog>
<md-dialog class="dialog forgot-password-result animate-enter" ng-class="{'animate-enter-active':hasSend, 'transition-out':!hasSend}">
  <div class="header">
    <div class="thumbnail" style="background-image:url('public/images/svg/letter.svg')"></div>
    <h3 class="title">重設密碼信件已送出</h3>
    <p class="subtitle">重設密碼信已寄送到您填寫的電子郵件<br>趕快去收信吧！</p>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
</md-dialog>
