<md-dialog class="dialog order-comment animate-leave" ng-class="{'animate-leave-active':hasSubmit}">
  <div class="header">
    <h3 class="title">訂單評價</h3>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <perfect-scrollbar class="content">
    <div class="order-item">
      <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
      <div class="info">
        <h4 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h4>
        <div class="ranks-wrap">
          <span>點擊進行評分</span>
          <div class="ranks">
            <i class="icon-Rank fill"></i>
            <i class="icon-Rank fill"></i>
            <i class="icon-Rank fill"></i>
            <i class="icon-Rank"></i>
            <i class="icon-Rank"></i>
          </div>
          <span>(還不錯)</span>
        </div>
        <div class="comment">
          <textarea ng-model="comment.comment" placeholder="這裡有哪些特色、哪裡好玩，趕緊跟大家分享你的看法"></textarea>
          <div class="word-count">24/140</div>
        </div>
        <div class="images">
          <div class="image" ng-repeat="i in '1,2,3'.split(',')" style="background-image:url('./public/images/spots/spot-1.jpg')">
            <div class="remove-btn"></div>
          </div>
        </div>
        <div class="actions">
          <div class="action">
            <i class="icon-Plus-2"></i>
            分享照片
          </div>
        </div>
      </div>
    </div>
    <div class="order-item" ng-repeat="i in '1,2,3'.split(',')">
      <div class="thumbnail" style="background-image:url('./public/images/spots/spot-2.jpg')"></div>
      <div class="info">
        <h4 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h4>
        <div class="ranks-wrap">
          <span>點擊進行評分</span>
          <div class="ranks">
            <i class="icon-Rank fill"></i>
            <i class="icon-Rank fill"></i>
            <i class="icon-Rank fill"></i>
            <i class="icon-Rank"></i>
            <i class="icon-Rank"></i>
          </div>
          <span>(還不錯)</span>
        </div>
        <div class="comment">
          <textarea ng-model="comment.comment" placeholder="這裡有哪些特色、哪裡好玩，趕緊跟大家分享你的看法"></textarea>
          <div class="word-count">24/140</div>
        </div>
        <div class="images">
        </div>
        <div class="actions">
          <div class="action">
            <i class="icon-Plus-2"></i>
            分享照片
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="footer">
    <button class="button small blue" ng-click="submit()">送出評價</button>
  </div>
  <div class="backdrop" ng-show="submitting"></div>
  <div class="status" ng-show="submitting">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>正在送出評價</span>
    </div>
  </div>
</md-dialog>
