<md-dialog class="dialog path-optimization animate-leave" ng-class="{'animate-leave-active':optimizeSuccess}">
  <div class="header">
    <h3 class="title">遊玩順序優化</h3>
    <p class="subtitle">智能規劃最合理的旅行順序</p>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <perfect-scrollbar class="content">
    <div class="content-wrap">
      <div class="content-block">
        <div class="map-wrap">
          <div class="map"></div>
        </div>
        <h4 class="path-title">優化前路線：</h4>
        <div class="spots-name">
          <div class="spot-name" ng-repeat="spot in spotsBeforeOptimize">
            <i class="icon icon-Forward" ng-show="$index > 0"></i>
            <span>{{$index+1}}. {{spot}}</span>
          </div>
        </div>
      </div>
      <div class="splitter">
        <i class="icon icon-Forward"></i>
      </div>
      <div class="content-block">
        <div class="map-wrap">
          <div class="map"></div>
          <div class="mark">優化後</div>
        </div>
        <h4 class="path-title">優化後路線：</h4>
        <div class="spots-name">
          <div class="spot-name" ng-repeat="spot in spotsAfterOptimize">
            <i class="icon icon-Forward" ng-show="$index > 0"></i>
            <span>{{$index+1}}. {{spot}}</span>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="footer">
    <div class="optimize-result">
      <span>大約節省 18 公里的路程</span>
    </div>
    <div class="buttons">
      <button class="button small blue" ng-click="optimize()">優化安排順序</button>
      <button class="button small light-gray" ng-click="cancel()">取消</button>
    </div>
  </div>
  <div class="backdrop" ng-show="optimizing"></div>
  <div class="status" ng-show="optimizing">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>正在優化</span>
    </div>
  </div>
</md-dialog>
