<md-dialog class="dialog problem-report animate-leave" ng-class="{'animate-leave-active':reportSuccess}">
  <div class="header">
    <h3 class="title">問題回報</h3>
    <p class="subtitle">在下方填寫您遇到的問題</p>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <perfect-scrollbar class="content">
    <div class="content-wrap">
      <div class="content-block">
        <label>電子郵件</label>
        <input type="email" ng-model="report.email" placeholder="your@service.com">
      </div>
      <div class="content-block">
        <label>描述您遇到的問題</label>
        <textarea ng-model="report.content"></textarea>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="footer">
    <div class="buttons">
      <button class="button blue" ng-click="sendReport()">送出回報</button>
      <button class="button light-gray" ng-click="cancel()">取消</button>
    </div>
  </div>
  <div class="backdrop" ng-show="reporting"></div>
  <div class="status" ng-show="reporting">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>正在送出</span>
    </div>
  </div>
</md-dialog>
<md-dialog class="dialog report-result animate-enter" ng-class="{'animate-enter-active':reportSuccess, 'transition-out':!reportSuccess}">
  <div class="header">
    <div class="thumbnail" style="background-image:url('public/images/svg/letter.svg')"></div>
    <h3 class="title">感謝您提供寶貴的意見</h3>
    <p class="subtitle">我們將儘速處理您的問題，<br>感謝您提供回報。</p>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
</md-dialog>
