<md-dialog class="dialog purchase-return animate-leave" ng-class="{'animate-leave-active':hasSubmit}">
  <div class="header">
    <h3 class="title">訂單退貨</h3>
    <div class="prev" ng-click="backStep()" ng-show="step>1">
      <i class="icon-Back"></i>
    </div>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <div class="nav-bar">
    <div class="nav" ng-class="{'active':step==1}">
      <span>1. 請選擇預退款商品</span>
    </div>
    <div class="nav" ng-class="{'active':step==2}">
      <span>2. 選擇退貨原因</span>
    </div>
    <div class="nav" ng-class="{'active':step==3}">
      <span>3. 確認退貨資料</span>
    </div>
  </div>
  <!-- Step1 請選擇預退款商品 -->
  <perfect-scrollbar class="content" ng-class="{'animate-left-enter':step>=1, 'animate-left-enter-active':step==1}">
    <div class="return-item">
      <md-checkbox></md-checkbox>
      <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
      <div class="info">
        <h4 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h4>
        <p class="meta">類別：兌換券 </p>
        <span class="price">$119</span>
      </div>
      <div class="count-wrap">
        <div class="plus">
          <i class="icon-Plus"></i>
        </div>
        <input type="text" value="2">
        <div class="minus">
          <i class="icon-Minus"></i>
        </div>
      </div>
    </div>
    <div class="return-item" ng-repeat="i in '1,2,3,4,5,6,7,8,9'.split(',')">
      <md-checkbox></md-checkbox>
      <div class="thumbnail" style="background-image:url('./public/images/spots/spot-2.jpg')"></div>
      <div class="info">
        <h4 class="title">【食上天】CAS合格認證頂級蒲燒鰻魚4尾(200g/尾)</h4>
        <p class="meta">類別：兌換券 </p>
        <span class="price">$119</span>
      </div>
      <div class="count-wrap">
        <div class="plus">
          <i class="icon-Plus"></i>
        </div>
        <input type="text" value="1">
        <div class="minus">
          <i class="icon-Minus"></i>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
  <!-- /Step1 請選擇預退款商品 -->

  <!-- Step2 選擇退貨原因 -->
  <perfect-scrollbar class="content" ng-class="{'animate-left-enter':step>=2, 'animate-left-enter-active':step==2, 'animate-right-enter':step<=2, 'animate-right-enter-active':step==2}">
    <div class="content-wrap">
      <div class="content-block">
        <h4 class="title">選擇退貨原因</h4>
        <ul>
          <li>
          <md-checkbox ng-model="returnData.reasons.personal">
            <span>個人因素（例:沒時間、買錯等）</span>
          </md-checkbox>
          </li>
          <li>
            <md-checkbox ng-model="returnData.reasons.quality">
              <span>商品質量問題</span>
            </md-checkbox>
          </li>
          <li>
            <md-checkbox ng-model="returnData.reasons.notMatch">
              <span>收到商描述不符</span>
            </md-checkbox>
          </li>
          <li>
            <md-checkbox ng-model="returnData.reasons.failsConventions">
              <span>未按約定時間發貨</span>
            </md-checkbox>
          </li>
          <li>
            <md-checkbox ng-model="returnData.reasons.notReceived">
              <span>未收到貨</span>
            </md-checkbox>
          </li>
          <li>
            <md-checkbox ng-model="returnData.reasons.other">
              <span>其他</span>
            </md-checkbox>
          </li>
        </ul>
        <textarea ng-model="returnData.reasons.otherContent" placeholder="告訴我們您碰到的問題"></textarea>
      </div>
    </div>
  </perfect-scrollbar>
  <!-- /Step2 選擇退貨原因 -->

  <!-- Step3 確認退貨資料 -->
  <perfect-scrollbar class="content" ng-class="{'animate-right-enter':step<=3, 'animate-right-enter-active':step==3}">
    <div class="content-wrap">
      <div class="content-block">

        <div class="confirm-return-data">
          <p>訂單編號：119873748217281837</p>
          <p>退款金額：898元</p>
          <p>退款方式：信用卡刷卡（552046******8303）</p>
        </div>

        <div class="return-item-wrap">
          <div class="return-item">
            <div class="thumbnail" style="background-image:url('./public/images/spots/spot-1.jpg')"></div>
            <div class="info">
              <h4 class="title">大黑松小倆口 - 元首鳳梨酥禮盒12入（鳳梨酥系列）</h4>
              <p class="meta">類別：兌換券 數量：2</p>
              <span class="price">$119</span>
            </div>
          </div>
        </div>
        <div class="return-item-wrap" ng-repeat="i in '1,2,3,4,5,6,7,8,9'.split(',')">
          <div class="return-item">
            <div class="thumbnail" style="background-image:url('./public/images/spots/spot-2.jpg')"></div>
            <div class="info">
              <h4 class="title">【食上天】CAS合格認證頂級蒲燒鰻魚4尾(200g/尾)</h4>
              <p class="meta">類別：兌換券 數量：2</p>
              <span class="price">$119</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </perfect-scrollbar>
  <!-- /Step3 確認退貨資料 -->

  <div class="footer">
    <button class="button small blue" ng-disabled="false" ng-class="{'disable': false}" ng-click="setStep(2)" ng-show="step==1">下一步</button>

    <button class="button small blue" ng-disabled="!haveReturnReason()" ng-class="{'disable': !haveReturnReason()}" ng-click="setStep(3)" ng-show="step==2">下一步</button>

    <button class="button small blue" ng-click="submit()" ng-show="step==3">退貨</button>
  </div>

  <div class="backdrop" ng-show="submitting"></div>
  <div class="status" ng-show="submitting">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>正在傳送退貨申請</span>
    </div>
  </div>
</md-dialog>

<md-dialog class="dialog purchase-return-result animate-enter" ng-class="{'animate-enter-active':hasSubmit, 'transition-out':!hasSubmit}">
  <div class="header">
    <div class="thumbnail" style="background-image:url('public/images/pointer.svg')"></div>
    <h3 class="title">已經收到您退款的申請</h3>
    <p class="subtitle">將於七個工作日(不含例行假日)，將款項(898元)退刷至您消費使用的信用卡(552046******8303)，實際時間需依發卡行為主。</p>
    <p class="remark">退款完成時，會寄email通知並附上銷貨折讓證明檔案。</p>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
</md-dialog>
