<!-- 第1頁 (個資收集告知區塊) 開始 -->
<md-dialog class="dialog signup-agreement" ng-class="{'animate-left-enter':step>=1, 'animate-left-enter-active':step==1}">
  <div class="header">
    <h3 class="title">財團法人資訊工業策進會<br/>蒐集個人資料告知事項暨個人資料提供同意書</h3>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <div class="content">
    <div class="content-wrap">
      <div class="content-block">
        <perfect-scrollbar class="article" suppress-scroll-x="true">
          <pre>財團法人資訊工業策進會(下稱本會)為遵守個人資料保護法令及本會個人資料保護政策、規章，於向您蒐集個人資料前，依法向您告知下列事項，敬請詳閱。

一、蒐集目的及類別
本會因辦理或執行業務、活動、計畫、提供服務及供本會用於內部行政管理、陳報主管機關或其他合於本會捐助章程所定業務、寄送本會或產業相關活動訊息之蒐集目的，而需獲取您下列個人資料類別：姓名、聯絡方式(如電話號碼、職稱、電子信箱、居住或工作地址等)，或其他得以直接或間接識別您個人之資料。

※您日後如不願再收到本會所寄送之行銷訊息，可於收到前述訊息時，直接點選訊息內拒絕接受之連結。


二、個人資料利用之期間、地區、對象及方式
除涉及國際業務或活動外，您的個人資料僅供本會於中華民國領域、在前述蒐集目的之必要範圍內，以合理方式利用至蒐集目的消失為止。


三、當事人權利
您可依前述業務、活動所定規則或依本網站（www.vztaiwan.com）「個資當事人行使權利專頁」公告方式向本會行使下列權利：
(一) 查詢或請求閱覽。
(二) 請求製給複製本。
(三) 請求補充或更正。
(四) 請求停止蒐集、處理及利用
(五) 請求刪除您的個人資料。


四、不提供個人資料之權益影響
若您未提供正確或不提供個人資料，本會將無法為您提供蒐集目的之相關服務。


五、您瞭解此一同意書符合個人資料保護法及相關法規之要求，且同意本會留存此同意書，供日後取出查驗。


【個人資料之同意提供】
一、本人已充分獲知且已瞭解上述貴會告知事項。
二、本人同意貴會於所列蒐集目的之必要範圍內，蒐集、處理及利用本人之個人資料。


版本：P-V4x-DATA
</pre>
        </perfect-scrollbar>
        <md-checkbox ng-model="agreeCheck">
          <span>本人接受貴會蒐集個人資料告知事項暨個人資料</span>
        </md-checkbox>
        <div class="button-group">
          <button class="button blue" ng-disabled="!agreeCheck" ng-class="{'disable': !agreeCheck}" ng-click="setStep(2)">同意，註冊帳號</button>
          <button class="button light-gray" ng-click="cancel()">取消</button>
        </div>
      </div>
    </div>
  </div>
</md-dialog>
<!-- 第1頁 (個資收集告知區塊) 結束 -->

<!-- 第2頁 (註冊帳號區塊) 開始 -->
<md-dialog class="dialog signup" ng-class="{'animate-right-enter':step<=2, 'animate-right-enter-active':step==2}">
  <div class="header">
    <h3 class="title">註冊帳號</h3>
    <p class="subtitle">速創旅程，漫遊故事</p>
    <div class="prev" ng-click="setStep(1)">
      <i class="icon-Back"></i>
    </div>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <perfect-scrollbar class="content">
    <div class="content-wrap">
      <div class="content-block">
        <label>姓名 <span>(必填)</span></label>
        <input type="text">
        <label>電子郵件 <span>(必填)</span></label>
        <input type="email">
        <label>密碼 <span>(必填)</span></label>
        <input type="password">
        <label>再輸入一次 <span>(必填)</span></label>
        <input type="password">
      </div>
      <div class="content-block">
        <label>國家 <span>(必填)</span></label>
        <md-select ng-model="country" placeholder="請選擇">
          <md-option value="1">台灣</md-option>
          <md-option value="2">日本</md-option>
          <md-option value="3">香港</md-option>
          <md-option value="4">新加坡</md-option>
        </md-select>
        <label>出生年份</label>
        <md-select ng-model="birthday" placeholder="請選擇出生年份">
          <md-option ng-repeat="item in years | orderBy:'-'" ng-value="item" ng-bind="item"></md-option>
        </md-select>
        <label>性別</label>
        <md-radio-group ng-model="gender">
          <md-radio-button class="gender male" ng-value="1" aria-label="男">
          <div class="circle">
            <i class="icon-Boy"></i>
          </div><span>男</span>
          </md-radio-button>
          <md-radio-button class="gender female" ng-value="0" aria-label="女">
          <div class="circle">
            <i class="icon-Girl"></i>
          </div><span>女</span>
          </md-radio-button>
          <md-radio-button class="gender" ng-value="-1" aria-label="保密">
          <div class="circle">
            <i class="icon-Question"></i>
          </div><span>保密</span>
          </md-radio-button>
        </md-radio-group>
        <button class="button blue" ng-click="signup()">建立帳號</button>
      </div>
    </div>
    <div class="splitter"><span>或</span></div>
    <div class="content-wrap content-block">
      <p>直接使用第三方社群帳號快速註冊 / 登入，請點擊下方的服務：</p>
      <button class="button facebook" ng-click="signup()"><i class="icon-Facebook"></i>使用 Facebook 註冊</button>
      <button class="button twitter" ng-click="signup()"><i class="icon-Twitter"></i>使用 Twitter 註冊</button>
      <button class="button google-plus" ng-click="signup()"><i class="icon-Gplus"></i>使用 Google＋ 註冊</button>
    </div>
  </perfect-scrollbar>
  <div class="footer">
    <div>已經有帳號了？ <a href="javascript:void(0);" login>馬上前往登入</a></div>
  </div>
  <div class="backdrop" ng-show="onSignup"></div>
  <div class="status" ng-show="onSignup">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>正在建立帳號</span>
    </div>
  </div>
</md-dialog>
<!-- 第2頁 (註冊帳號區塊) 結束 -->
