<md-dialog class="dialog coupon animate-leave" ng-class="{'animate-leave-active':reportSuccess}">
  <div class="header">
    <h3 class="title">您確定要兌換嗎？</h3>
  </div>
  <div class="content">
    <div class="content-wrap">
      <div class="content-block">
          <span class="descripts">您確定要使用<span class="cointxt"> 50 枚 V 幣 </span>兌換「台北-金荷MINI精緻涮涮鍋」嗎？</span>
        <button class="button blue"   ng-click="sendReport()">立刻兌換</button>  <button class="button gray"   ng-click="Reportfailed()">取消</button>
      </div>
    </div>
  </div>
  <div class="backdrop" ng-show="reporting"></div>
  <div class="status" ng-show="reporting">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>正在兌換</span>
    </div>
  </div>
</md-dialog>
<md-dialog class="dialog report-result animate-enter" ng-class="{'animate-enter-active':reportSuccess, 'transition-out':!reportSuccess}">
  <div class="header">
    <div class="thumbnail" style="background-image:url('public/images/baloons.svg')"></div>
    <h3 class="title">感謝您的兌換</h3>
    <p class="subtitle">您兌換的品項已成功兌換，<br>點擊按鈕查看如何使用。</p>
    <button class="button blue"> 瞭解如何使用</button> 
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
</md-dialog>
<md-dialog class="dialog report-result animate-enter" ng-class="{'animate-enter-active':reportFailed, 'transition-out':!reportFailed}">
  <div class="header">
    <h3 class="title">您無法兌換此項目</h3>
    <p class="subtitle">您已達到兌換數量的上限，<br>已無法再兌換此項目。</p>
    <button class="button blue">好，我瞭解了</button> 
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
</md-dialog>