<md-dialog class="dialog traffic animate-leave" ng-class="{'animate-leave-active':success}">
  <div class="header">
    <h3 class="title">
      <span class="place">光華商場</span>
      <i class="icon-Next"></i>
      <span class="place">中山國中</span>
    </h3>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <div class="content">
    <div class="content-wrap">
      <perfect-scrollbar class="content-block traffic-list-wrap">
        <div class="traffic-type" ng-click="showPublicTransportation=!showPublicTransportation">
          <i class="icon-Bus"></i>
          <span class="title">大眾交通</span>
          <span class="time">約 1 小時 8 分鐘</span>
          <span class="expand">
            <i class="icon-ArrowDown" ng-hide="showPublicTransportation"></i>
            <i class="icon-ArrowUp" ng-show="showPublicTransportation"></i>
          </span>
        </div>
        <div class="traffic-list" ng-class="{'expand':showPublicTransportation}">
          <div class="item">
            <span class="number">1.</span>
            <p>
              <span class="time">下午 12:00 - 01:08</span>
              <span class="duration">1 小時 8 分鐘</span>
            </p>
            <div class="info">
              <span class="highlight"><i class="icon-Bus"></i>787</span>
              <div class="meta">
                <p>於 下午 12:17 從加油站出發</p>
                <p>
                  <span>NT$15</span>
                  <span><i class="icon-Walk"></i>2分鐘</span>
                  <span>每 20 分鐘一班</span>
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <span class="number">2.</span>
            <p>
              <span class="time">下午 12:16 - 01:32</span>
              <span class="duration">1 小時 16 分鐘</span>
            </p>
            <div class="info">
              <span class="highlight"><i class="icon-Bus"></i>262</span>
              <div class="meta">
                <p>於 下午 12:17 從加油站出發</p>
                <p>
                  <span>NT$15</span>
                  <span><i class="icon-Walk"></i>8分鐘</span>
                  <span>每 15 分鐘一班</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="traffic-type" ng-click="showDriving=!showDriving">
          <i class="icon-Car"></i>
          <span class="title">自行開車</span>
          <span class="time">約 37 分鐘</span>
          <span class="expand">
            <i class="icon-ArrowDown" ng-hide="showDriving"></i>
            <i class="icon-ArrowUp" ng-show="showDriving"></i>
          </span>
        </div>
        <div class="traffic-list" ng-class="{'expand':showDriving}">
          <div class="item">
            <span class="number">1.</span>
            <p>
              <span class="desc">走台 62 線和國道1號</span>
              <span class="duration">37 分鐘</span>
            </p>
            <div class="info">
              <div class="meta">
                <p>交通順暢時 31 分鐘
                  <span class="distance">36 公里</span>
                </p>
                <p class="note"><i class="icon-Exclamation"></i>此路線會經過收費站。</p>
              </div>
            </div>
          </div>
          <div class="item">
            <span class="number">2.</span>
            <p>
              <span class="desc">走台 62 線、國道1號和市民大道</span>
              <span class="duration">39 分鐘</span>
            </p>
            <div class="info">
              <div class="meta">
                <p>交通順暢時 31 分鐘
                  <span class="distance">40 公里</span>
                </p>
                <p class="note"><i class="icon-Exclamation"></i>此路線會經過收費站。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="traffic-type" ng-click="showWalk=!showWalk">
          <i class="icon-Walk"></i>
          <span class="title">步行</span>
          <span class="time">約 25 分鐘</span>
          <span class="expand">
            <i class="icon-ArrowDown" ng-hide="showWalk"></i>
            <i class="icon-ArrowUp" ng-show="showWalk"></i>
          </span>
        </div>
        <div class="traffic-list" ng-class="{'expand':showWalk}">
          <div class="item">
            <span class="number">1.</span>
            <p>
              <span class="desc">途經濟南路一段</span>
              <span class="duration">25 分鐘</span>
            </p>
            <div class="info">
              <div class="meta">
                <p>詳細資訊
                  <span class="distance">3 公里</span>
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <span class="number">2.</span>
            <p>
              <span class="desc">走台 62 線、國道1號和市民大道</span>
              <span class="duration">39 分鐘</span>
            </p>
            <div class="info">
              <div class="meta">
                <p>交通順暢時 31 分鐘
                  <span class="distance">40 公里</span>
                </p>
                <p class="note"><i class="icon-Exclamation"></i>此路線會經過收費站。</p>
              </div>
            </div>
          </div>
        </div>
      </perfect-scrollbar><div class="content-block map-wrap">
        <div class="map">
          I am map
          <div class="tool">前往 Google Map 查看</div>
        </div>
      </div>
    </div>
  </div>
  <div class="backdrop" ng-show="processing"></div>
  <div class="status" ng-show="processing">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>處理中</span>
    </div>
  </div>
</md-dialog>
