<md-dialog class="dialog trip-full-map animate-leave" ng-class="{'animate-leave-active':success}">
  <div class="content">
    <div class="content-wrap">
      <perfect-scrollbar class="content-block trip-list-wrap">
        <div class="trip-list">
          <div class="trip" ng-repeat="trip in trips" ng-click="selectTrip(trip)" ng-class="{'active': trip==currentTrip}">
            <div class="date-day">D{{$index+1}}</div>
            <p>{{trip.date_year}}年{{trip.date_month}}月</p>
            <p>星期{{trip.date_week}}</p>
          </div>
        </div>
      </perfect-scrollbar><perfect-scrollbar class="content-block spot-list-wrap">
        <div class="spot-list">
          <div class="spot-wrap" ng-repeat="spot in currentTrip.spots">
            <div class="spot">
              <a>
                  <div class="thumbnail" ng-style="{'background-image': 'url(' + spot.thumbnail + ')'}">
                  </div>
              </a>
              <div class="info">
                  <a>    
                      <h4 class="title">{{spot.title}}</h4>
                  </a>
                  <p class="descript" ng-if="spot.type=='spot'">{{spot.descript}}</p>
                  <div class="address" ng-if="spot.type=='food'"><i class="icon-Pin"></i> <span>{{spot.address}}</span></div>
                  <div class="phone" ng-if="spot.type=='food'"><i class="icon-Phone"></i> <span>{{spot.phone}}</span></div>
                  <div class="metas">
                      <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                      <div class="recommend">
                          <span>{{spot.commentCount}} 人評論 </span>
                          <span>{{spot.collectCount}} 人收藏</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="spot-wrap" ng-repeat="stay in currentTrip.stays">
            <div class="spot">
              <a>
                  <div class="thumbnail" ng-style="{'background-image': 'url(' + stay.thumbnail + ')'}">
                  </div>
              </a>
              <div class="info">
                  <a>    
                      <h4 class="title">{{stay.title}}</h4>
                  </a>
                  <div class="address"><i class="icon-Pin"></i> <span>{{stay.address}}</span></div>
                  <div class="phone"><i class="icon-Phone"></i> <span>{{stay.phone}}</span></div>
                  <div class="metas">
                      <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                      <div class="recommend">
                          <span>{{stay.commentCount}} 人評論 </span>
                          <span>{{stay.collectCount}} 人收藏</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </perfect-scrollbar><div class="content-block map-wrap">
        <div class="map">
          <div class="spot-wrap" style="position: absolute; top: 200px; left: 100px;">
            <div class="spot">
                <a>
                    <div class="thumbnail" ng-style="{'background-image': 'url(../public/images/spots/spot-1.jpg)'}">
                    </div>
                </a>
                <div class="info">
                    <a>    
                        <h4 class="title">台北101大樓</h4>
                    </a>
                    <p class="descript">免門票 / 遊憩公園、自然生態</p>
                    <div class="metas">
                        <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                        <div class="recommend">
                            <span>22 人評論 </span>
                            <span>77 人收藏</span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="tool" ng-click="cancel()">
            <i class="icon-Close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</md-dialog>
