<md-dialog class="dialog report animate-leave" ng-class="{'animate-leave-active':reportSuccess}">
  <div class="header">
    <h3 class="title">違規或不恰當的內容</h3>
    <p class="subtitle">勾選下方選項，告訴我們檢舉的原因</p>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
  <div class="content">
    <div class="content-wrap">
      <div class="content-block">
        <md-checkbox ng-model="report.reasons.harassment">
          <span>內容騷擾到我或我認識的人</span>
        </md-checkbox>
        <md-checkbox ng-model="report.reasons.infringement">
          <span>內容(圖片/文字)已侵犯到我的智慧財產權</span>
        </md-checkbox>
        <md-checkbox ng-model="report.reasons.other">
          <span>其他</span>
        </md-checkbox>
        <textarea ng-model="report.reasons.otherContent" placeholder="告訴我們檢舉的原因"></textarea>
        <button class="button blue" ng-disabled="!haveReportReason()" ng-class="{'disable': !haveReportReason()}" ng-click="sendReport()">確認，送出舉報</button>
      </div>
    </div>
  </div>
  <div class="backdrop" ng-show="reporting"></div>
  <div class="status" ng-show="reporting">
    <div class="loading">
      <div class="throbber throbber_large"></div>
      <span>送出中</span>
    </div>
  </div>
</md-dialog>
<md-dialog class="dialog report-result animate-enter" ng-class="{'animate-enter-active':reportSuccess, 'transition-out':!reportSuccess}">
  <div class="header">
    <div class="thumbnail" style="background-image:url('public/images/road.svg')"></div>
    <h3 class="title">感謝您的提報</h3>
    <p class="subtitle">我們將儘速檢視您檢舉的內容，<br>感謝您提供回報。</p>
    <div class="close" ng-click="cancel()">
      <i class="icon-Close"></i>
    </div>
  </div>
</md-dialog>
