
.poi-content{
  overflow: hidden!important;
  .content-footer{
    text-align: right;
  }
  .submitbtn  {
    width: 140px;
    height: 45px;
    background: #92DCF9;
    border-radius: 3px;
    margin-left: 20px;
    font-size: 16px;
    color: #FFFFFF;
    display: inline-block;
    border: none;
}
.cancelbtn  {
    width: 100px;
    height: 45px;
    background: #cccccc;
    border-radius: 3px;
    font-size: 16px;
    color: #FFFFFF;
    display: inline-block;
    border: none;
}
}
.col-top {
	border-top: 1px solid #ddd;
    font-family:   "微軟正黑體","Lato", "Helvetica Neue", "Helvetica", "Arial", "STHeiti", "Microsoft YaHei", "微软雅黑", sans-serif;
    min-width: 1160px;
    padding-top: 20px;
    overflow: hidden;
    padding-bottom: 20px;
    .sub-left{
    	margin-top: 20px;
    	width: 225px;
    	float: left;
    	font-size: 16px;
    }
    .sub-right{
    	margin-top: 10px;
    	width: 890px;
    	float: left;
        font-size: 16px;
        padding-bottom: 10px;
        .selectCon .trip-tag {
            background-color: #ffffff;
            border: 1px solid #6A6A6A;
            padding:10px 30px;
            margin-bottom: 10px;
            margin-right: 10px;
            border-radius: 3px;
            font-size: 14px;
            color: #6A6A6A;
        }
        .selectCon{
            position: relative;
        }
        .selectCon .select {
            border: 1px solid #01BAF2;
            border-radius: 3px;
            font-size: 14px;
            color: #31C4FF;
        }
        .selectCon .select:after {
         content: '';
         background-image: url(../images/roundcheck.svg);
         position: absolute;
         width: 30px;
         height: 30px;
         background-size: contain;

     } 


     a{
        text-decoration: underline;
        color: #000000;
    }
    .tipblue{
        color: #31C4FF;
        size: 14px;
    }
    #addvideo{
        cursor: pointer;
    }
    .inlinetxt{
        display: inline;
    }
    .md-label{
        margin-left: 5px!important;
    }
    .ng-touched{
        display: inline-block;
    }
    .weeday{
        line-height: 38px;
        font-size: 16px;
        color: #31C4FF;
        width: 100px;
        display: inline-block;
    }
    .addday{
        font-size: 14px;
        color: #31C4FF;
        padding-top: 20px;
        margin-bottom: 30px;
        cursor: pointer;
    }
    select {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid rgba(172, 179, 188, 0.5);
        vertical-align: top;
        -moz-border-radius: 1.79px;
        -webkit-border-radius: 1.79px;
        border-radius: 1.79px;
         background: transparent url(../images/dropdownarrow.svg) no-repeat 98% center;
          -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }
    .pickmodel{
        line-height: 40px;
            padding: 5px 0px;
    }

}
.imgupload{
 background-image: url("../images/uploadimg.svg");
 width: 120px;
 height: 90px;
 margin-left: 10px;
 display: inline-block;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 margin-bottom: 20px;


}
.uptips{
    position: absolute;
    top: 185px;
    font-size: 10px;
    text-align: center;
}
.pointer{
    cursor: pointer;
}
.delpic:after{
    content: url('../images/deltag.png');
    position: absolute;
    margin-left: 100px;
    cursor: pointer;
    margin-top: -10px;
}
.txtinput{
 display: block;
 width: 100%;
 background: #fff;
 border: 1px solid #ddd;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 margin-bottom: 8px;
 padding: 10px 10px;
 font-size: 14px;
 color: #4a4a4a;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;

}
.smaller{
    width: 100px;
    display: inline-block;
    margin-right: 10px;
}
.txtarea{
    width: 85%;
    max-width: 100%;
    min-height: 130px;
    padding: 12px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 1.7em;
    background: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    resize: none;
}

}
.col-top:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}