.bspots {
	.bspot-wrap {
		min-width: 200px;
	}
	.bspot {
		display: block;
		position: relative;
		text-align: left;
		background-color: #fff;
		margin: 10px;
		border-radius: 5px;
		overflow: hidden;
		text-decoration: none;

		&:hover {
			.collect-btn {
				transform: scale(1);
				opacity: 1;
			}
		}
		.collect-btn {
			z-index: 10;
			opacity: 0;
			z-index: 99;
			position: absolute;
			top: 12px;
			left: 12px;
			padding: 0 12px;
			height: 32px;
			line-height: 32px;
			color: #fff;
			border-radius: 3px;
			background-color: rgba(#313945, .8);
			transform: scale(.85);
			transition: all 250ms ease-in-out;
			@media screen and (max-width: 750px) {
				display: none;
			}
			&:hover {
				background-color: $blue-color;
				cursor: pointer;
			}
			&.active {
				transform: scale(1);
				opacity: 1;
				background-color: $blue-color;
			}
			i {
				margin-right: 6px;
			}
		}
		a {
			text-decoration: none;
		}
		.ranks {
			z-index: 10;
			position: absolute;
			bottom: 16px;
			left: 16px;
			color: #CBCBCB;
			i {
				margin-right: 2px;
				&.full {
					color: #FFC43C;
				}
			}
		}
		.recommend {
			z-index: 10;
			position: absolute;
			bottom: 16px;
			right: 16px;
			opacity: 0.8;
			font-size: 13px;
			color: #FFFFFF;
		}
		.thumbnail {
			position: relative;
			// height: 180px;
			height: 0;
			padding-bottom: calc(60% - 20px);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			margin: 0;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-image: -webkit-linear-gradient(rgba(0,0,0,0.20) 50%, rgba(0,0,0,0.28) 100%);
				background-image: -o-linear-gradient(rgba(0,0,0,0.20) 50%, rgba(0,0,0,0.28) 100%);
				background-image: linear-gradient(rgba(0,0,0,0.20) 50%, rgba(0,0,0,0.28) 100%);
			}
		}
		.duration {
			z-index: 9;
			position: absolute;
			bottom: 40px;
			left: 20px;
			font-family: Lato;
			font-weight: 300;
			font-size: 36px;
			color: #FFFFFF;
			letter-spacing: 1.49px;
			line-height: 28px;;
			span {
				font-size: 14px;
			}
		}
		.info {
			padding: 30px;
			position: relative;
			min-height: 130px;
			&.no-meta {
				min-height: 110px;
			}
			&.has-author-img {
				padding-top: 38px;
			}
			.author-img {
				display: inline-block;
				position: absolute;
				left: 30px;
				top: -22px;
				width: 44px;
				height: 44px;
				border: 2px solid #fff;
				@include border-radius(100%);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
			.date.top-right {
				display: inline-block;
				position: absolute;
				top: 12px;
				right: 30px;
				font-size: 13px;
				color: #9B9B9B;
				line-height: 1em;
			}
			h4.title {
				height: 1em;
				max-height: 1em;
				overflow: hidden;
				text-overflow : ellipsis;
				white-space : nowrap;
				font-size: 18px;
				font-weight: bold;
				color: #333;
				margin-bottom: 16px;
				&.row-2 {
					height: auto;
					line-height: 1.3em;
					max-height: 1.3em * 2;
					white-space: normal;
					overflow: hidden;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					margin-bottom: 12px;
				}
			}
			.summary {
				font-size: 13px;
				color: #333;
				margin-bottom: 12px;
				max-height: 1em;
				overflow: hidden;
				text-overflow : ellipsis;
  				white-space : nowrap;
			}
			p.descript {
				font-size: 13px;
				color: #777;
				line-height: 1.7em;
				max-height: 1.7em * 2;
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
			}
			.metas {
				margin-top: 12px;
				font-size: 13px;
				color: #777;
				div {
					vertical-align: top;
					display: inline-block;
					white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
					&.location {
						font-size: 13px;
						color: #9B9B9B;
						line-height: 1em;
					}
					&.address {
						display: block;
						i {
							width: 14px;
							height: 18px;
							font-size: 18px;
							color: #6A6A6A;
							vertical-align: middle;
						}
						span {
							color: #444;
							vertical-align: middle;
						}
					}
					&.date {
						float: right;
					}
					&.date-range {
						color: #6A6A6A;
						display: block;
						overflow: hidden;
						i {
							font-size: 16px;
							vertical-align: middle;
						}
						span {
							vertical-align: middle;
						}
						&.expired {
							color: #D0021B;
							.expired-mark {
								display: inline-block;
								float: right;
								padding: 6px;
								border: 1px solid #D0021B;
								position: absolute;
							    right: 30px;
							    bottom: 27px;
							    background: #fff;
							}
						}
					}
					i {
						margin-right: 4px;
					}
					a {
						color: #9b9b9b;
						text-decoration: none;
						&:hover{
							color: $blue-color;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	
}


.bspot-list {
	background-color: #fff;
	padding: 40px 20px 40px 40px;
	border-radius: 3px;
	@media screen and (max-width: 750px) {
		padding: 20px;
		.bspot {
			min-height: auto !important;
			.collect-btn {
				display: none;
			}
		}
	}
	.bspot-wrap {
		min-width: 200px;
		// &:last-child,
		// &:nth-child(odd):nth-last-child(2) {
		// 	.bspot {
		// 		padding-bottom: 0;
		// 		margin-bottom: 0;
		// 		border-bottom: none;
		// 	}
		// }
	}
	.bspot {
		display: block;
		position: relative;
		text-align: left;
		background-color: #fff;
		margin-bottom: 20px;
		padding-bottom: 20px;
		margin-right: 20px;
		border-bottom: 1px solid #eee;
		overflow: hidden;
		text-decoration: none;
		min-height: 130px;
		&:hover {
			.collect-btn {
				transform: scale(1);
				opacity: 1;
			}
		}

		.collect-btn {
			opacity: 0;
			z-index: 99;
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 12px;
			height: 32px;
			line-height: 32px;
			color: #fff;
			border-radius: 3px;
			background-color: rgba(#313945, .8);
			transform: scale(.9);
			transition: all 200ms ease-in-out;
			font-size: 12px;	
			&:hover {
				background-color: $blue-color;
				cursor: pointer;
			}
			&.active {
				transform: scale(1);
				opacity: 1;
				background-color: $blue-color;
			}
			i {
				margin-right: 6px;
			}
		}
		a {
			text-decoration: none;
		}
		.ranks {
			font-size: 12px;
			color: #CBCBCB;
			i {
				margin-right: 2px;
				&.full {
					color: #FFC43C;
				}
			}
		}
		
		.thumbnail {
			float: left;
			position: relative;
			height: 110px;
			width: 110px;
			border-radius: 3px;
			// height: 0;
			// padding-bottom: calc(75% - 20px);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-color: #eee;
			margin-bottom: 0;
			.tags {
				top: 8px;
			}
		}
		.duration {
			z-index: 100;
			position: absolute;
			top: 20px;
			left: 20px;
			font-family: Lato;
			font-weight: 300;
			font-size: 36px;
			color: #FFFFFF;
			letter-spacing: 1.49px;
			line-height: 28px;
			span {
				font-size: 14px;
			}
		}
		.info {
			padding: 0 0 0 12px;
			margin-left: 110px;
			h4.title {
				height: 1em;
				max-height: 1em;
				overflow: hidden;
				text-overflow : ellipsis;
				white-space : nowrap;
				font-size: 18px;
				font-weight: bold;
				color: #333;
				margin-bottom: 16px;
			}
			.summary {
				font-size: 13px;
				color: #333;
				margin-bottom: 4px;
			}
			p.descript {
				font-size: 13px;
				color: #777;
				line-height: 1.7em;
				max-height: 1.7em * 2;
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
			}
			.metas {
				margin-top: 8px;
				font-size: 13px;
				color: #777;
				// overflow: hidden;
			    // text-overflow: ellipsis;
			    // white-space: nowrap;
				div {
					vertical-align: top;
					display: inline-block;
					&.address {
						display: inline-block;
						margin-bottom: 8px;
						margin-right: 12px;
						line-height: 1.2em;
						max-height: 1.2em;
						overflow: hidden;
						text-overflow : ellipsis;
						white-space : nowrap;
						width: 100%;
						i {
							color: #6A6A6A;
						}
						span {
							color: #444;
						}
					}
					&.date {
						float: right;
					}
					&.date-range {
						color: #6A6A6A;
						display: block;
						margin-bottom: 8px;
						overflow: hidden;
						text-overflow : ellipsis;
						i {
							font-size: 16px;
							vertical-align: middle;
						}
						span {
							vertical-align: middle;
						}
						&.expired {
							color: #D0021B;
							.expired-mark {
								display: inline-block;
								float: right;
								padding: 6px;
								border: 1px solid #D0021B;
							}
						}
					}
					i {
						margin-right: 4px;
					}
					a {
						color: #9b9b9b;
						text-decoration: none;
						&:hover{
							color: $blue-color;
							text-decoration: none;
						}
					}
				}
			}
		}
		@media screen and (max-width: 768px) {
			.thumbnail {
				width: 100px;
				height: 100px;
			}
			.info {
				margin-left: 100px;
				h4.title {
					font-size: 16px;
					margin-bottom: 8px;
				}
				.summary {
					font-size: 12px;
				}
				p.descript {
					font-size: 12px;
				}
				.metas {
					font-size: 12px;
					div i {
						margin-right: 1px;
					}
				}
			}
		}
	}

	// @media screen and (max-width: 750px) {
	// 	padding: 0;
	// 	background-color: transparent;
	// 	.bspot {
	// 		background-color: transparent;
	// 	}
	// }
}


.bspot-map {
	.bspot-list {
		border-radius: initial;
		background-color: #fff;
		padding: 16px;
		height: 520px;
		overflow: hidden;
		position: relative;
		.bspot {
			&:hover {
				.info h4.title {
					color: #FD6F2D;
				}
			}
			&:active {
				.info h4.title {
					color: #FD6F2D;
				}
			}
		}
	}
}