.breadcrumb-wrap {
	color: #4A4A4A;
	&.section-wrap {
		margin: 0 auto;
		padding: 30px 40px;
		text-align: left;
	}

	.breadcrumb {
		font-size: 14px;
		color: #4A4A4A;
		padding: 0;
		background-color: transparent;
		&:hover {
			color: darken(#4A4A4A, 10%);
			cursor: pointer;
		}
		&.current {
			color: #777;
			&:hover {
				color: #777;
				cursor: default;
			}
		}
	}

	i {
		margin: 0 9px;
		font-size: 12px;
		height: 12px;
		width: 6px;
	}
}
