// *************************************
//
//   Button Style
//   -> 
//
// *************************************

// 按鈕樣式
// -------------------------------
@mixin button-style($bg-color, $border-color, $active-bg-color, $active-border-color, $color) {
    background-color: $bg-color;
    border-color: $border-color;
    color: $color;
    &:hover, &:active {
        text-decoration: none;
        background-color: $active-bg-color;
        border-color: $active-border-color;
        color: $color;
    }
}

// 僅有框線的Button
// -------------------------------
@mixin button-outline($color, $text-color: "") {
    &.button-outline {
        border-color: $color;
        background: transparent;
        border-width: 1px;
        line-height: 40px;
        font-weight: 700;
        &.small {
            line-height: 36px - 2px;
        }
        &.large {
            line-height: 50px - 2px;
        }
        @if $text-color == "" {
            $text-color: $color;
        }
        color: $text-color;
        &:hover, &:active {
            background: transparent;
            box-shadow: none;
            color: darken($text-color, 10%);
            border-color: darken($text-color, 10%);
        }
    }
}

@mixin button-clear($color, $text-color: "") {
    &.button-clear {
        background-color: transparent;
        border-color: transparent;
        @if $text-color == "" {
            $text-color: $color;
        }
        color: $text-color;
        &:hover, &:active {
            background: transparent;
            box-shadow: none;
            color: darken($text-color, 10%);
            border-color: darken($text-color, 10%);
        }
    }
}

.button {
    // @include easeOutCirc(all, 250ms);
    border-radius: 5px;
    font-size: 13px;
    line-height: 1em;
    padding: 0 24px;
    margin: 3px 3px 3px 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    color: #333;
    letter-spacing: .6px;
    background-color: #EEE;
    height: 44px;
    line-height: 44px;
    font-weight: bold;
    @include button-outline(#8C9093, #8C9093);
    box-sizing: border-box;
    &.dark {
        @include button-style(#384047, #384047, darken(#384047, 10%), darken(#384047, 10%), white);
        @include button-outline(#384047, #384047);
        @include button-clear(#384047, #384047);
    }
    &.gray {
        @include button-style(#929AA5, #929AA5, darken(#929AA5, 10%), darken(#929AA5, 10%), white);
        @include button-outline(#8C9093, #8C9093);
        @include button-clear(#8C9093, #8C9093);
    }
    &.light-gray {
        @include button-style(lighten(#929AA5, 10%), lighten(#929AA5, 10%), darken(lighten(#929AA5, 10%), 10%), darken(lighten(#929AA5, 10%), 10%), white);
        @include button-outline(lighten(#8C9093, 10%), lighten(#8C9093, 10%));
        @include button-clear(lighten(#8C9093, 10%), lighten(#8C9093, 10%));
    }
    &.white {
        @include button-style(#eee, #eee, darken(#eee, 5%), darken(#eee, 5%), #333333);
        @include button-outline(#eee, #eee);
        @include button-clear(#eee, #eee);
    }
    &.blue {
        @include button-style($blue-color, $blue-color, darken($blue-color, 5%), darken($blue-color, 5%), white);
        @include button-outline($blue-color, $blue-color);
        @include button-clear($blue-color, $blue-color);
    }
    &.green {
        @include button-style(#00af4c, #00af4c, darken(#00af4c, 5%), darken(#00af4c, 5%), white);
        @include button-outline(#00af4c, #00af4c);
        @include button-clear(#00af4c, #00af4c);
    }
    &.red {
        @include button-style($red-color, $red-color, darken($red-color, 5%), darken($red-color, 5%), white);
        @include button-outline($red-color, $red-color);
        @include button-clear($red-color, $red-color);
    }
    &.error {
        @include button-style($error-color, $error-color, darken($error-color, 5%), darken($error-color, 5%), white);
        @include button-outline($error-color, $error-color);
        @include button-clear($error-color, $error-color);
    }
    &.facebook {
        @include button-style(#4d8ec0, #4d8ec0, darken(#4d8ec0, 5%), darken(#4d8ec0, 5%), white);
        @include button-outline(#4d8ec0, #4d8ec0);
        @include button-clear(#4d8ec0, #4d8ec0);
    }
    &.twitter {
        @include button-style(#55aabb, #55aabb, darken(#55aabb, 5%), darken(#55aabb, 5%), white);
        @include button-outline(#55aabb, #55aabb);
        @include button-clear(#55aabb, #55aabb);
    }
    i {
        margin: 0 5px 0 0;
        &.no-margin {
            margin: 0;
        }
    }
    &:hover {
        background-color: #ddd;
        text-decoration: none;
        color: #000;
    }
    &.disable {
        opacity: 0.5;
        cursor: default;
    }
    &.button-block {
        display: block;
        width: 100%;
        text-align: center;
        margin: 5px 0;
        padding: 0;
        i {}
    }

    &.small {
        padding: 0 14px;
        height: 36px;
        line-height: 36px;
        font-size: 13px;
        border-radius: 3px;
    }
    &.large {
        height: 50px;
        line-height: 50px;
        padding: 0 40px;
        font-size: 14px;
    }
    &.largest {
        padding: 0 40px;
        font-size: 16px;
        height: 56px;
        line-height: 56px;
    }
    &.long {
        padding: 0 44px;
    }
    &.rounded {
        border-radius: 100px;
    }
}

.button-bar {
    margin: 3px 3px 3px 0;
    display: inline-block;
    vertical-align: middle;
    overflow: auto;
    &.block {
        display: block;
    }
    .button {
        margin: 0 !important;
        // display: inline-block;
        overflow: hidden;
        padding: 0 16px;
        float: left;
        border-width: 1px 0px 1px 1px;
        border-radius: 0;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:first-child {
            border-radius: 3px 0px 0px 3px;
        }
        &:last-child {
            border-right-width: 1px;
            border-radius: 0px 3px 3px 0px;
        }
        i {
            margin:0;
        }
        &.active {
            color: #333;
            background-color: #F0F2F5;
        }
        &.button-outline {
            &:hover {
                color: $main-color;
                border-color: #ccc;
                background-color: transparent;
            }
            &.active {
                color: #333;
                background-color: #F0F2F5;
            }
        }
    }
}
