.calendar-content {
	.calendar-filter {
		position: absolute;
		top: 36px;
	    right: 30px;
	}
	md-checkbox {
	    display: inline-block;
    	margin: 0 10px;
		&.type1 {
			.md-container {
				.md-icon {
				    background-color: rgba(#07B5D9, 0.3);
				}
			}
			&.md-checked {
				.md-container {
					.md-icon {
					    background-color: #07B5D9;
					}
				}	
			}
		}
		&.type2 {
			.md-container {
				.md-icon {
				    background-color: rgba(#77BF56, 0.3);
				}
			}
			&.md-checked {
				.md-container {
					.md-icon {
					    background-color: #77BF56;
					}
				}	
			}
		}
		&.type3 {
			.md-container {
				.md-icon {
				    background-color: rgba(#F88523, 0.3);
				}
			}
			&.md-checked {
				.md-container {
					.md-icon {
					    background-color: #F88523;
					}
				}	
			}
		}
	}

	.event-popup {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    padding: 20px;
	    background: #fff;
	    z-index: 1000;
	    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	    border-radius: 3px;
	    border: 1px solid #ddd;
	    min-width: 320px;
	    &:before {
	    	content: "";
	    	position: absolute;
	    	bottom: -4px;
	    	left: 50%;
	    	margin-left: -4px;
	    	width: 8px;
	    	height: 8px;
    	    background: #fff;
    		box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
	    	@include transform(rotate(45deg));
	    }
	    &.type1 {
	    	top: calc(50% - 200px);
	    	.event-title, .event-more a {
	    		color: #07B5D9;
	    		border-bottom: 1px solid #07B5D9;
	    	}	
	    }
	    &.type2 {
	    	.event-title, .event-more a {
	    		color: #77BF56;
	    		border-bottom: 1px solid #77BF56;
	    	}	
	    }
	    &.type3 {
	    	top: calc(50% + 200px);
	    	.event-title, .event-more a {
	    		color: #F88523;
	    		border-bottom: 1px solid #F88523;
	    	}	
	    }
	    .event-title {
    	    font-size: 18px;
		    font-weight: bold;
		    border-bottom: 1px solid #ddd;
    		padding-bottom: 12px;
		    margin-bottom: 12px;
		    color: #77BF56;
	    }
	    .event-date {
    	    font-size: 14px;
    	    margin-bottom: 12px;
    		color: #777;
	    }
	    .event-descript {
	    	font-size: 14px;
    	    margin-bottom: 12px;
    		color: #333;	
	    }
	    .event-more {
	    	a {
	    		display: inline-block;
	    		color: $main-color;
				// border-bottom: 1px solid $main-color;
				// padding-bottom: 2px;
	    	}
	    }
	}

}

.calendar {
	padding: 30px;
	.fc-clear {
	    clear: initial;
	}
	.fc-center {
		position: absolute;
		left: 50%;
    	transform: translateX(50%);
		h2 {
		    font-size: 20px;
		    font-weight: bold;
		    color: #333;
		}
	}
	.fc-toolbar {
        text-align: center;
	    margin-bottom: 20px;
	    line-height: 36px;
	    overflow: auto;
	}
	.fc-content {
		font-size: 13px;
	}
	.fc-day-header {
		padding: 10px 0 !important;
	}
	.fc-day-grid-event {
		padding: 1px 2px;
	}

	.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td {
		padding: 0 !important;
	}

	.fc-right {
		display: none;
	}

	button {
	    -webkit-appearance: none;
	    background: #fff;
	    border: 1px solid #ccc;
	    height: 36px;
	    line-height: 36px;
	    padding: 0 12px;
	}



	

}