.comments {
	.comment-wrap {
		margin: 20px 0 0 0;
		padding: 0 0 15px 0;
		border-bottom: 1px solid #eee;
		position: relative;
		&:last-child {
			border-bottom: none;
		}
		.thumbnail-wrap {
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			.thumbnail {
				display: inline-block;
				width: 50px;
				height: 50px;
				@include border-radius(100%);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
		.content-wrap {
			display: block;
			margin-left: 66px;
			// overflow: hidden;
			.comment-wrap {
				margin: 20px 0 0 0;
				padding: 20px 0 15px 0;
				border-bottom: none;
				border-top: 1px solid #eee;
				.thumbnail-wrap {
					top: 20px;
				}
				.comment-more {
					top: 23px;
				}
			}
			.author {
				font-size: 16px;
				color: #333;
				margin-bottom: 8px;
				font-weight: bold;
				span {
					margin-left: 8px;
					font-size: 13px;
					color: #9B9B9B;
					line-height: 1.5em;
				}
			}
			.ranks-wrap {
				display: inline-block;
				margin-bottom: 8px;
				font-size: 14px;
				color: #9B9B9B;
				line-height: 1.5em;
				.ranks {
					display: inline-block;
					vertical-align: bottom;
					font-size: 16px;
					color: #CBCBCB;
					margin: 0 12px 0 0;
				}
				span {
					margin: 0 12px 0 0;
				}
			}
			.content {
				margin-bottom: 12px;
				p {
					font-size: 14px;
					color: #777;
					line-height: 1.7em;
				}
			}
			.images {
				margin: 5px -3px -3px -3px;
				.image {
					display: inline-block;
					position: relative;
					width: 60px;
					height: 60px;
					background: #eee;
					@include border-radius(3px);
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					margin: 3px;
					@include transition(opacity 225ms ease);
					.remove-btn {
						display: inline-block;
						position: absolute;
						top: 0;
						right: 0;
						@include transform(translate(50%, -50%));
						width: 24px;
						height: 24px;
						background: #000000;
						border-radius: 100%;
						text-align: center;
						opacity: 0.7;
						z-index: 1;
						&:before,
						&:after {
							content: '';
							display: inline-block;
							position: absolute;
							top: 50%;
							left: 50%;
							width: 2px;
							height: 16px;
							background: #fff;
						}
						&:before {
							@include transform(translate(-50%, -50%) rotate(-45deg));
						}
						&:after {
							@include transform(translate(-50%, -50%) rotate(45deg));
						}
					}
					&:hover {
						cursor: pointer;
						&:before {
							content: '';
							display: inline-block;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							background: #fff;
							opacity: 0.1;
						}
					}
				}
			}
			.actions {
				margin-bottom: 12px;
				overflow: auto;
				.action {
					display: inline-block;
					font-size: 14px;
					color: #777;
					line-height: 18px;
					vertical-align: top;
					cursor: pointer;
					i {
						font-size: 16px;
						margin: 0 5px 0 0;
					}
					&:hover {
						color: darken(#777, 20%);
					}
					& + .action {
						margin-left: 16px;
					}
					&.small {
						i {
							font-size: 9px;
						}
					}
				}
				.button {
					float: right;
					@include border-radius(3px);
					font-size: 13px;
					text-align: center;
					margin: 0;
					padding: 0 23px;
					& + .button {
						margin-right: 8px;
					}
					&.blue {
						background: #31C4FF;
						color: #fff;
						&:hover {
							background: darken(#31C4FF, 20%);
						}
					}
				}
			}
			.word-count {
				display: inline-block;
				font-size: 12px;
				color: #9B9B9B;
			}
			.comment {
				position: relative;
				margin-bottom: 12px;
				& + .actions {
					min-height: 36px;
				}
				textarea {
					width: 100%;
					max-width: 100%;
					min-height: 100px;
					padding: 12px;
					font-size: 14px;
					color: #4A4A4A;
					line-height: 1.7em;
					background: #F3F3F3;
					border: 1px solid #ccc;
					@include border-radius(3px);
					&.small {
						min-height: 70px;
					}
				}
				.word-count {
					position: absolute;
					right: 14px;
					bottom: 14px;
				}
				.button {
					display: inline-block;
					position: absolute;
					right: 0;
					bottom: -12px;
					@include transform(translateY(100%));
					margin: 0;
				}
			}
		}
		.comment-more {
			display: inline-block;
			position: absolute;
			top: 3px;
			right: 15px;
			color: #777;
			&:hover {
				cursor: pointer;
				color: #333;
			}
			i {
				font-size: 9px;
				padding: 3px 5px;
			}
		}
	}
}