// Font Family
// $globe-font-style : 'Lato', "Helvetica Neue", Helvetica,Arial, "Heiti TC", "STHeiti", "微軟正黑體" , "Microsoft Yahei", sans-serif;
$globe-font-style : "Lato","Helvetica Neue","Helvetica","Arial","STHeiti", "Microsoft YaHei", "微软雅黑", "微軟正黑體",sans-serif;
$globe-title-font-style: "Lato","Helvetica Neue","Helvetica","Arial","STHeiti", "Microsoft YaHei", "微软雅黑", "微軟正黑體",sans-serif;


$banner-font-style: "Lato", "Helvetica Neue", georgia, Arial, "HiraKakuProN-W6", "微软雅黑", "微軟正黑體", "Microsoft Yahei", sans-serif;

// Colors
$main-color: #31C4FF;
$red-color: #F74D40;
$orange-color: #F19840;
$yellow-color: #F1D833;
$blue-color: #31C4FF;
// $green-color: #30B453;
$green-color : #68D845;
$purple-color: #7F66B3;

$success-color: $green-color;
$error-color: #F94849;

$title-color: #384047;
$light-title-color: #8C9093;
$paragraph-color: #657380;
$light-paragraph-color: #8C9093;
$light-text-color: #9b9b9b;
$text-color: #657380;

$facebook-color: #4d8ec0;
$twitter-color: #55aabb;
$gplus-color: #D54135;

$tag-1-color: $red-color;
$tag-2-color: $orange-color;
$tag-3-color: $yellow-color;
$tag-4-color: $green-color;
