.ui-datepicker {
	height: 270px;
	background: #FFFFFF;
	@include box-shadow(0px 1px 5px 0px rgba(0,0,0,0.30));
	@include border-radius(3px);
	z-index: 100000 !important;
	@include user-select(none);
	display: none;

	&:after {
		content: '';
		display: inline-block;
		width: 12px;
		height: 12px;
		position: absolute;
		top: -6px;
		left: 20px;
		background-color: #fff;
		@include transform(rotate(45deg));
		@include box-shadow(-1px -1px 1px 0px rgba(0,0,0,0.15));
	}

	&.ui-datepicker-multi {
		&.ui-datepicker-multi-2 {
			.ui-datepicker-group {
				display: inline-block;
				width: 50%;
				vertical-align: top;
			}
		}
	}

	.ui-datepicker-group {
		text-align: center;

		&.ui-datepicker-group-first {
			padding: 20px 0px 20px 30px;
		}
		&.ui-datepicker-group-last {
			padding: 20px 30px 20px 0px;
		}

		.ui-datepicker-header {
			.ui-icon {
				position: absolute;
			  display: inline-block;
			  top: 50%;
			  @include transform(translateY(-50%));
			  width: 36px;
			  height: 60px;
			  color: rgba(0, 0, 0, 0);
				background: rgba(0, 0, 0, 0);
				cursor: pointer;
				&:hover {
					background-color: rgba(0, 0, 0, 0.1);
					&:after {
						color: darken(#4A4A4A, 20%);
					}
				}
				&:after {
					content: '';
					display: inline-block;
					position: absolute;
					width: 8px;
					height: 8px;
					left: 50%;
				  top: 50%;
					@include transform(translate3d(-50%, -50%, 0) rotate(45deg));
					border: 1px solid #4A4A4A;
				}
			}
			.ui-datepicker-prev {
				.ui-icon {
					&.ui-icon-circle-triangle-w {
					  left: 0;
						border-radius: 0px 3px 3px 0px;
						&:after {
							border-top: 0px;
							border-right: 0px;
						}
					}
				}
			}
			.ui-datepicker-next {
				.ui-icon {
					&.ui-icon-circle-triangle-e {
						right: 0;
						border-radius: 3px 0px 0px 3px;
						&:after {
							border-left: 0px;
							border-bottom: 0px;
						}
					}
				}
			}
			.ui-datepicker-title {
				margin-top: 6px;
				font-size: 14px;
				color: #333;
				.ui-datepicker-month {
				}
				.ui-datepicker-year {
					display: none;
				}
			}
		}
		.ui-datepicker-calendar {
			display: inline-block;

			thead {
				span {
					display: inline-block;
					padding: 20px 0 14px 0;
					font-size: 12px;
					color: #6A6A6A;
				}
			}
			tbody {
				.ui-datepicker-week-end {
				}
				.ui-datepicker-other-month {
					.ui-priority-secondary {
						color: #777;
					}
				}
				.ui-datepicker-unselectable {
					opacity: 0.3;
				}
				.ui-state-disabled {
				}
				.ui-state-default {
					display: inline-block;
					font-size: 12px;
					color: #4A4A4A;
					line-height: 15px;
					padding: 3px 4px;
					margin: 3px;
					width: calc(100% - 6px);
				}
				.ui-datepicker-today {
					a {
						color: $blue-color;
					}
				}
				td:not(.ui-datepicker-unselectable) {
					.ui-state-default {
						&:hover {
							font-size: 12px;
							color: #F2F2F2;
							line-height: 15px;
							background: $blue-color;
							border-radius: 3px;
						}
						&.ui-state-active {
							  font-size: 12px;
							  color: $blue-color;
							  line-height: 15px;
							  font-weight: bold;
							  border-radius: 3px;
							  border: 2px solid $blue-color;
							  &:hover {
							  	background-color: transparent;
							  }
						}
					}
				}
			}
		}
	}
}
