//// chihchaowang 2015.12.22 for IE
input[type=text]::-ms-clear{
  display: none;
}
md-backdrop.md-opaque.md-default-theme {
	z-index: 99999;
	background-color: rgba(51,51,51,0.90);
}

.md-dialog-backdrop {
	@include transition(all 300ms ease-out);
	&.ng-enter {
		opacity: 1;
	}
	&.ng-leave {
		opacity: 0;
	}
}
.iClose{
	z-index: 9;
    top: 40px;
    right: 40px;
    color: #ffffff;
    position: absolute;
}
.fnext{
	z-index: 9;
    top: 45%;
    right: 20px;
    color: #ffffff;
    position: absolute;
}

.fprev{
	z-index: 9;
    top: 45%;
    left: 20px;
    color: #ffffff;
    position: absolute;
}



.md-dialog-container,
.resetpassword {
	z-index: 99999;
	cursor: pointer;
	& + md-backdrop {
		z-index: 99999;
	}

	/* Modal Animation */
	md-dialog {
		&.animate-enter,
		&.animate-leave,
		&.animate-right-enter,
		&.animate-left-enter,
		&.animate-right-leave,
		&.animate-left-leave {
			@include transition(all 300ms ease-in-out);
		}

		&.animate-enter:not(.animate-enter-active),
		&.animate-right-enter:not(.animate-right-enter-active),
		&.animate-left-enter:not(.animate-left-enter-active),
		&.animate-leave.animate-leave-active,
		&.animate-right-leave.animate-right-leave-active,
		&.animate-left-leave.animate-left-leave-active {
			@include opacity(0);
		}

		&.animate-enter.animate-enter-active,
		&.animate-right-enter.animate-right-enter-active,
		&.animate-left-enter.animate-left-enter-active {
			@include transition-delay(200ms);
			&.transition-out {
				@include transition-delay(0ms);
			}
		}

		&.animate-leave.animate-leave-active,
		&.animate-right-leave.animate-right-leave-active,
		&.animate-left-leave.animate-left-leave-active {
			@include transition-delay(0ms);
		}

		&.animate-enter {
			visibility: hidden;
		}
		&.animate-enter.animate-enter-active {
			visibility: visible;
		}
		&.animate-leave {
			visibility: visible;
		}
		&.animate-leave.animate-leave-active {
			visibility: hidden;
		}
		&.animate-right-enter {
			left: 60%;
			visibility: hidden;
		}
		&.animate-right-enter.animate-right-enter-active {
			left: 50%;
			visibility: visible;
		}

		&.animate-left-enter {
			left: 0%;
			visibility: hidden;
		}
		&.animate-left-enter.animate-left-enter-active {
			left: 50%;
			visibility: visible;
		}

		&.animate-right-leave {
			left: 50%;
			visibility: visible;
		}
		&.animate-right-leave.animate-right-leave-active {
			left: 60%;
			visibility: hidden;
		}

		&.animate-left-leave {
			left: 50%;
			visibility: visible;
		}
		&.animate-left-leave.animate-left-leave-active {
			left: 0%;
			visibility: hidden;
		}
	}



	md-dialog {
		cursor: initial;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate3d(-50%,-50%,0) scale(0.9) !important);
		&.transition-in {
			@include opacity(1);
			@include transform(translate3d(-50%,-50%,0) scale(1) !important);
		}
		&.transition-out {
			@include opacity(0);
			@include transform(translate3d(-50%,-50%,0) scale(0.9) !important);
		}
		.header {
			padding: 20px 25px;
			background: #FAFAFA;
			border-bottom: 1px solid #ddd;
			border-radius: 3px 0px 0px 3px;
			position: relative;
			.prev,
			.close {
				width: 70px;
				height: 70px;
				line-height: 70px;
				font-size: 12px;
				color: #6A6A6A;
				text-align: center;
				position: absolute;
				top: 50%;
				cursor: pointer;
				@include transform(translateY(-50%));
				&:hover {
					color: #333;
				}
			}
			.prev {
				left: 0;
			}
			.close {
				right: 0;
			}
		}
		.content {
			padding: 30px;
		}
		.footer {
			padding: 20px 25px;
			background: #FAFAFA;
			font-size: 12px;
			color: #7D7D7D;
			border-top: 1px solid #ccc;
		}

		/* 登入 & 註冊 & 忘記密碼 & 重設密碼 & 編輯景點資訊 */
		&.login,
		&.signup,
		&.edit-personal-info,
		&.forgot-password,
		&.reset-password,
		&.user-reset-password,
		&.edit-spots-info,
		&.edit-spot-category,
		&.create-trip,
		&.create-spot,
		&.edit-spot,
		&.path-optimization,
		&.traffic,
		&.trip-full-map,
		&.problem-report,
		&.funthings-detail,
		&.purchase-return,
		&.order-comment {
			.header {
				text-align: center;
				.title {
					font-size: 20px;
					color: #333;
					margin: 0;
				}
				.subtitle {
					margin: 8px 0 0 0;
					font-size: 14px;
					line-height: 1em;
					color: #9B9B9B;
					display: inline-block;
				}
			}
			.content {
				padding: 0;
				position: relative;
				color: #333;
				overflow: hidden;
			    height: 100%;
				& > [ng-transclude] {
					height: 100%;
				}
				.content-wrap {
					display: inline-block;
					vertical-align: middle;
					padding: 30px;
				}
				.content-block {
					display: inline-block;
					vertical-align: top;
					@include box-sizing(content-box);
					width: 250px;

					& + .content-block {
						margin-left: 30px;
					}
				}
				.splitter {
					display: inline-block;
					position: relative;
					vertical-align: middle;
					width: 25px;
					height: 100%;
					&:before {
						content: '';
						display: inline-block;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 50%;
						@include transform(translateX(-50%));
						border-right: 1px solid #ccc;
					}
					span {
						position: absolute;
						left: 50%;
						top: 50%;
						@include transform(translate3d(-50%,-50%,0));
						padding: 7px;
						text-align: center;
						font-size: 9px;
						color: #9b9b9b;
						background-color: #fff;
						border: 1px solid #ccc;
						@include border-radius(100%);
						@include box-sizing(content-box);
					}
				}
				.float-right {
					display: inline-block;
					vertical-align: middle;
					@include box-sizing(content-box);
					width: 250px;
				}
				label {
					display: block;
					font-size: 14px;
					line-height: 1.5em;
					margin-bottom: 8px;

					span {
						color: #9B9B9B;
					}
				}
				input {
					display: block;
					width: 100%;
					background: #fff;
					border: 1px solid #ddd;
					@include border-radius(3px);
					margin-bottom: 8px;
					padding: 12px 14px;
					font-size: 14px;
					color: #4a4a4a;
					@include box-sizing(border-box);
				}
				.forgot-password {
					display: block;
					text-align: right;
					font-size: 12px;
					margin-bottom: 16px;
					a {
						color: #6A6A6A;
						text-decoration: none;
						border-bottom: 1px solid #6A6A6A;
						padding-bottom: 2px;
						&:hover {
							color: #333;
							border-color: #333;
						}
					}
				}
				p {
					font-size: 14px;
					line-height: 1.7em;
					color: #808080;
					margin-bottom: 20px;
				}
				button {
					border-radius: 3px;
					font-size: 14px;
					color: #FFFFFF;
					width: 100%;
					position: relative;

					& + button {
						margin-top: 10px;
					}
					&.facebook {
						background: #5186C6;
						border-color: #5186C6;
						&:hover {
							background: darken(#5186C6, 10%);
							border-color: darken(#5186C6, 10%);
						}
					}
					&.twitter {
						background: #55C1E7;
						border-color: #55C1E7;
						&:hover {
							background: darken(#55C1E7, 10%);
							border-color: darken(#55C1E7, 10%);
						}
					}
					&.google-plus {
						background: #F15540;
						border-color: #F15540;
						&:hover {
							background: darken(#F15540, 10%);
							border-color: darken(#F15540, 10%);
						}
					}
					&.weibo {
						background: #E6162E;
						border-color: #E6162E;
						&:hover {
							background: darken(#E6162E, 10%);
							border-color: darken(#E6162E, 10%);
						}
					}
					&.sohu {
						background: #FECC0D;
						border-color: #FECC0D;
						&:hover {
							background: darken(#FECC0D, 10%);
							border-color: darken(#FECC0D, 10%);
						}
					}
					&.yahoo {
						background: #FF0033;
						border-color: #FF0033;
						&:hover {
							background: darken(#FF0033, 10%);
							border-color: darken(#FF0033, 10%);
						}
					}
					&.softbank {
						background: #B7BBBE;
						border-color: #B7BBBE;
						&:hover {
							background: darken(#B7BBBE, 10%);
							border-color: darken(#B7BBBE, 10%);
						}
					}
					&.line {
						background: #1DCD00;
						border-color: #1DCD00;
						&:hover {
							background: darken(#1DCD00, 10%);
							border-color: darken(#1DCD00, 10%);
						}
					}
					&.naver {
						background: #2DB400;
						border-color: #2DB400;
						&:hover {
							background: darken(#2DB400, 10%);
							border-color: darken(#2DB400, 10%);
						}
					}
					i {
					  position: absolute;
					  left: 12px;
					  top: 50%;
					  @include transform(translateY(-50%));
					}
				}
				md-select.md-default-theme {
					display: block;
					width: 100%;
					background: #fff;
					border: 1px solid #ddd;
					border-radius: 3px;
					margin: 0 0 8px 0;
					padding: 0;
					font-size: 14px;
				  color: #4a4a4a;
				  @include box-sizing(border-box);
				  .md-select-label {
				  	border: none;
				  	padding: 14px;
						width: 100%;
						line-height: 1em;
				  	.md-select-icon {
				  		margin: 0;
				  		padding: 0;
				  		position: absolute;
						  right: 14px;
						  top: 50%;
						  @include transform(translateY(-50%));
						  width: 8px;
  						height: 20px;
				  	}
				  }
				}
				md-radio-group {
					margin-bottom: 34px;
					border: none;
					&:focus {
						border: none;
					}

					md-radio-button {
						display: inline-block;
						padding: 0;
						margin: 0;
						color: #ccc;
						&:hover,
						&:active,
						&.md-checked {
							color: #4A4A4A;
							.circle {
								border-color: #4A4A4A;
							}
						}
						&.male:hover,
						&.male:active,
						&.male.md-checked {
							color: #00AAFB;
							.circle {
								border-color: #00AAFB;
							}
						}
						&.female:hover,
						&.female:active,
						&.female.md-checked {
							color: #FA1A1A;
							.circle {
								border-color: #FA1A1A;
							}
						}
						& + md-radio-button {
							margin-left: 14px;
						}

						.md-container {
							display: none;
						}

						.md-label {
							margin: 0;
							padding: 0;
							&:before {
								content: '';
								display: inline-block;
								vertical-align: middle;
							}

							.circle {
								display: inline-block;
  							vertical-align: middle;
								width: 40px;
								height: 40px;
								font-size: 24px;
								margin: 0 8px 0 0;
								padding: 8px;
								border: 1px solid;
								@include border-radius(100%);
								text-align: center;
								position: relative;
								i {
									position: absolute;
								  top: 50%;
								  left: 50%;
								  @include transform(translate3d(-50%,-50%,0));
								}
							}
							span {
								vertical-align: middle;
							}
						}
					}
				}
			}
			.footer {
				text-align: center;
				a {
					color: #01BAF2;
					text-decoration: none;
					padding-bottom: 2px;
					border-bottom: 1px solid #01BAF2;
					cursor: pointer;
					&:hover {
						color: darken(#01BAF2, 10%);
						border-color: darken(#01BAF2, 10%);
					}
				}
			}

			@media screen and (min-width: 841px) and (max-width: 1190px) {
				&.signup {
					.content {
						width: 600px;
						text-align: center;

						.content-wrap:first-child {
							text-align: initial;

							.content-block {
								@include box-sizing(border-box);
								margin: 0;

								& + .content-block {
									margin-left: 30px;
								}
							}
						}
						.content-wrap:last-child {
							width: 100%;
							max-width: 280px;
						}

						.splitter {
							@include box-sizing(border-box);
							width: 100%;
						}

						.splitter {
							height: auto;

							&:before {
							  position: relative;
							  width: 100%;
								border: none;
							  border-bottom: 1px solid #ccc;
							  vertical-align: middle;
							}
						}
					}
				}
			}

			@media screen and (max-width: 840px) {
				.content {
					.content-block {
						@include box-sizing(border-box);
						width: 100%;

						& + .content-block {
							margin: 0;
						}
					}

					.splitter {
						@include box-sizing(border-box);
						width: 100%;
					}

					.splitter {
						height: auto;

						&:before {
						  position: relative;
						  width: 100%;
							border: none;
						  border-bottom: 1px solid #ccc;
						  vertical-align: middle;
						}
					}
				}
			}
		}

		/* 解決 splitter 無法設定 height: 100% */
		&.login{
			.content {
				height: 300px;
				width: 654px;
				@media screen and (max-width: 840px) {
					height: auto;
					width: auto;
					max-width: 324px;
				}
			}
		}
		&.signup {
			.content {
				height: 460px;
				width: 940px;
				@media screen and (max-width: 1190px) {
					height: 410px;
				}
				@media screen and (max-width: 840px) {
					width: auto;
					max-width: 325px;
				}
			}
		}
		&.edit-personal-info {
			width: 600px;
			.header {
				min-height: 80px;
			}
			.content {
				.full-content-block {
					display: block;
					text-align: center;
					margin-bottom: 30px;
				}
				.profile-img-wrap {
					display: inline-block;
					width: 100px;
					.button {
						padding: 0 10px;
						margin: 10px 0 0 0;
					}
				}
				.profile-img {
					display: inline-block;
					width: 80px;
					height: 80px;
					border: 3px solid #E4E4E4;
					@include border-radius(100%);
					overflow: hidden;
					img {
						width: 100%;
					}
				}
				.button {
					&.clear {
						color: #808080;
						background: transparent;
						border: 1px solid #DDDDDD;
						&:hover {
							background: rgba(0,0,0,0.1);
						}
					}
				}
				md-radio-group {
					margin-bottom: 0;
				}
			}
			.footer {
				min-height: 80px;
				text-align: right;
				.buttons {
					.button {
						padding: 0 35px;
						@include border-radius(3px);
						margin: 0 0 0 10px;
					}
				}
			}
		}
		&.forgot-password {
			display: none;
			.content {
				.content-block {
					min-width: 360px;
					@media screen and (max-width: 840px) {
						min-width: initial;
					}
					.button {
						margin-top: 15px;
					}
				}
			}
		}
		&.user-reset-password {
			.content {
				.content-block {
					min-width: 360px;
					.button {
						margin: 16px 0 0 0;
					}
				}
			}
		}

		/* 註冊 服務條款畫面 */
		&.signup-agreement {
			.header {
				text-align: center;
				.title {
					font-size: 20px;
					color: #333;
					margin: 0;
				}
			}

			.content {
				.content-wrap {
					.content-block {
						width: 420px;
						@media screen and (max-width: 640px) {
							width: 100%;
						}

						.article {
							font-size: 14px;
							line-height: 1.5em;
							padding: 20px 15px 20px 20px;
							@include box-sizing(border-box);
							border: 1px solid #ddd;
							@include border-radius(3px);
							width: 100%;
							height: 280px;
							margin: 0 0 25px 0;
							position: relative;
							overflow: hidden;
							pre {
								width: 100%;
								word-break: break-word;
							}
						}

						md-checkbox {
							margin: 0 0 25px 0;
						}

						.button-group {
							.button {
								margin: 0;
								@include border-radius(3px);
							}
							.button:first-child {
								float: left;
								width: 55%;
								margin: 0 20px 0 0;
							}
							.button:last-child {
								width: calc(45% - 20px);
							}
						}
					}
				}
			}
		}

		&.edit-spots-info {
			max-width: 780px;
			md-checkbox {
				.md-container {
					width: 20px;
					height: 20px;
				}
				.md-label {
					font-size: 14px;
					color: #333;
				}
				&:hover {
					.md-label {
						color: #333;
					}
				}

			}
			.header {
				text-align: left;
				display: inline-block;
				padding: 0 70px 0 0;
				min-height: 80px;
				height: 80px;
				.title {
					display: inline-block;
					margin: 30px 40px;
				}
				.tabs {
					display: inline-block;
					position: absolute;
				  bottom: 0;
				  left: 50%;
				  transform: translateX(-50%);
					.tab {
						display: inline-block;
						padding: 15px 10px;
						font-size: 16px;
						color: #777;
						border-bottom: 2px solid;
						border-color: rgba(0,0,0,0);
						vertical-align: bottom;
						cursor: pointer;
						&:hover,
						&.active {
							color: #4A4A4A;
						}
						&.active {
							font-weight: bold;
							color: #333;
							border-color: #31C4FF;
						}
						&:before {
							content: '';
							display: inline-block;
							height: 100%;
							vertical-align: bottom;
						}
						& + .tab {
							margin-left: 20px;
						}
					}
				}
			}
			.content {
				@include transition-duration(0s);
				.content-wrap {
					padding: 40px;
					width: 780px;
  					height: 480px;
					.content-block {
						width: 100%;
						&.col-2 {
							width: 330px;
						}
						.slideshow-wrap {
							position: absolute;
							height: 100%;
							.slideshow {
								display: block;
								width: 160px;
								height: 160px;
							}
							& + .table-info {
								margin-left: 200px;
							}
							.button {
								width: 160px;
								color: #6A6A6A;
								margin-top: 10px;
							}
						}
						.description {
							font-size: 12px;
							color: #777;
						}
						.price-range {
							display: inline-block;
							input {
								display: inline-block;
								width: 50px;
								height: 32px;
								padding: 6px;
								&[disabled="disabled"] {
									background: #FAFAFA;
									border: 1px solid #ddd;
								}
							}
						}
						textarea {
							width: 100%;
							max-width: 100%;
							min-height: 130px;
							padding: 12px;
							margin-bottom: 8px;
							font-size: 14px;
							color: #4A4A4A;
							line-height: 1.7em;
							background: #fff;
							border: 1px solid #ccc;
							@include border-radius(3px);
							resize: none;
						}
						.labels {
							margin-bottom: 5px;
							.label {
								border: 1px solid #9B9B9B;
							}
						}
						.edit-labels {
							font-size: 13px;
							color: #31C4FF;
							padding: 0 0 3px 0;
							border-bottom: 1px solid #31C4FF;
							cursor: pointer;
							&:hover {
								color: darken(#31C4FF, 20%);
							}
						}
						md-select.md-default-theme {
							.md-select-icon {
								right: 0;
								top: 0;
								bottom: 0;
								height: auto;
								width: 40px;
								@include transform(inherit);
								text-align: center;
								vertical-align: middle;
								background: #FAFAFA;
								border-left: 1px solid #ccc;
								@include border-radius(0px 3px 3px 0px);
								&:before {
									content: '';
									display: inline-block;
									height: 100%;
									vertical-align: middle;
								}
								&:after {
									display: inline-block;
									font-size: 12px;
									height: auto;
									vertical-align: middle;
								}
							}
						}
						.input-select {
							input {
								display: inline-block;
								margin-right: 0;
								width: calc(100% - 80px);
								margin: 0;
								vertical-align: middle;
								@include border-radius(3px 0 0 3px);
							}
							md-select.md-default-theme {
								display: inline-block;
								margin-left: -1px;
								width: 80px;
								margin: 0 0 0 -1px;
								vertical-align: middle;
								@include border-radius(0 3px 3px 0);
								color: #6A6A6A;
								.md-select-label {
									height: 41px;
									background: #FAFAFA;
								}
								.md-select-icon {
									width: auto;
									border: none;
									right: 10px;
								}
							}
						}
						.table-info {
							margin-bottom: 30px;
							.name {
								min-width: 60px;
								vertical-align: top;
  							padding: 14px 0;
  							font-size: 14px;
								color: #333;
								text-align: right;
							}
							.content {
								min-width: 160px;
								padding-left: 14px;
								&.padding-bottom {
									padding-bottom: 15px;
								}
								md-checkbox {
									display: inline-block;
									margin: 10px 10px 10px 0;
  								overflow: initial;
								}
							}
						}
            .grade{
              .name{
                min-width: 60px;
                vertical-align: top;
                //padding: 14px 0;
                font-size: 14px;
                color: #333;
              }
              .content{
                min-width: 500px;
                padding-left: 14px;

                .md-switch-thumb {
                  display: block;
                  margin: 15px;
                  white-space: nowrap;
                  cursor: pointer; }
                md-radio-button input, .md-switch-thumb input {
                  display: none; }
                md-radio-button .md-container, .md-switch-thumb .md-container {
                  position: relative;
                  top: 4px;
                  display: inline-block;
                  width: 16px;
                  height: 16px;
                  cursor: pointer; }
                md-radio-button .md-container .md-ripple-container, .md-switch-thumb .md-container .md-ripple-container {
                  position: absolute;
                  display: block;
                  width: 48px;
                  height: 48px;
                  left: -16px;
                  top: -16px; }
                md-radio-button .md-off, .md-switch-thumb .md-off {
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  width: 16px;
                  height: 16px;
                  border: solid 2px;
                  border-radius: 50%;
                  transition: border-color ease 0.28s; }
                md-radio-button .md-on, .md-switch-thumb .md-on {
                  background-color: #31C4FF;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 16px;
                  height: 16px;
                  border-radius: 50%;
                  transition: -webkit-transform ease 0.28s;
                  transition: transform ease 0.28s;
                  -webkit-transform: scale(0);
                  transform: scale(0); }
                md-radio-button.md-checked .md-on, .md-switch-thumb.md-checked .md-on {
                  background-color: #31C4FF;
                  -webkit-transform: scale(0.55);
                  transform: scale(0.55); }
                md-radio-button .md-label, .md-switch-thumb .md-label {
                  position: relative;
                  display: inline-block;
                  margin-left: 10px;
                  margin-right: 10px;
                  vertical-align: middle;
                  white-space: normal;
                  pointer-events: none;
                  width: auto; }
                md-radio-button .circle, .md-switch-thumb .circle {
                  border-radius: 50%; }

                md-radio-group {
                  min-width:500px;
                  float: left;
                  border: 1px dotted transparent;
                  display: block;
                  outline: none; }

                .radioButtondemoBasicUsage md-radio-group {
                  border: none; }
              }

            }
					}

				}
			}
			.footer {
				text-align: left;
				min-height: 90px;
				md-checkbox {
					display: inline-block;
				}
				.buttons {
					display: inline-block;
					float: right;
				}
				.button {
					margin-left: 7px;
					padding: 0 35px;
				}
			}
			@media screen and (max-width: 960px) {
				.content {
					.content-wrap {
						min-width: initial;
						.content-block {
							&.col-2 {
								width: 100%;
								margin-left: 0;
							}
							.slideshow-wrap {
								position: relative;
								text-align: center;
								margin-bottom: 20px;
								.slideshow {
									width: 100%;
								}
								.button {
									width: 100%;
								}

								& + .table-info {
									margin-left: 0;
								}
							}
						}
					}
				}
			}
		}

		&.edit-spot-category {
			.content {
				height: 260px;
				.content-wrap {
					.content-block {
						width: 520px;
						.labels-wrap {
							margin: -15px -15px 20px -15px;
						}
						md-checkbox {
							display: inline-block;
							min-width: 100px;
							margin: 10px 15px
						}
					}
				}
				tags-input .tags.focused {
					box-shadow: none;
				}
			}
			.footer {
				.button {
					margin-left: 7px;
					padding: 0 35px;
				}
			}
		}

		&.report {
      max-width: 413px;
      min-width: 413px;
			.header {
				background-color: #fff;
				border: none;
				text-align: center;
				.title {
					font-size: 24px;
					color: #333;
					line-height: 1.2em;
				  	margin: 12px 0 12px 0;
				}
				.subtitle {
					font-size: 14px;
					color: #9b9b9b;
					line-height: 1.5em;
					display: inline-block;
				}
				.close {
					top: 0;
					@include transform(inherit);
				}
			}
			.content {
				padding: 20px 40px 40px 40px;
				overflow: auto;
				.content-wrap {
					.content-block {
						margin: -25px 0 0 0;
						md-checkbox {
							font-size: 15px;
							line-height: 20px;
							margin: 25px 0;
						}
						textarea {
							background: #FAFAFA;
							border: 1px solid #ddd;
							@include border-radius(3px);
							font-size: 14px;
							color: #6A6A6A;
							line-height: 1.3em;
							padding: 12px 12px;
							margin: 0;
							margin-bottom: 16px;
							width: 100%;
							max-width: 100%;
							min-height: 95px;
							resize: none;
						}
						.button {
							width: 100%;
						}
					}
				}
			}
		}
		&.coupon {
      max-width: 340px;
      min-width: 340px;
			.header {
				background-color: #fff;
				border: none;
				text-align: center;
				padding: 30px 0px 0px 0px;
				.title {
					font-size: 24px;
					color: #333;
					line-height: 1.2em;
				}
				.subtitle {
					font-size: 14px;
					color: #9b9b9b;
					line-height: 1.5em;
					display: inline-block;
				}
				.close {
					top: 0;
					@include transform(inherit);
				}
			}
			.content {
				padding: 12px 30px 30px 30px;
				overflow: auto;
				.content-wrap {
					.content-block {
						margin: 0;
						.descripts{
							line-height: 2em;
							width: 100%;
							display: block;
							min-height: 70px;
							text-align: center;
							color: #7D7D7D;
							font-size: 14px;
						}
						.cointxt{
							color: #01BAF2;
						}
						textarea {
							background: #FAFAFA;
							border: 1px solid #ddd;
							@include border-radius(3px);
							font-size: 14px;
							color: #6A6A6A;
							line-height: 1.3em;
							padding: 12px 12px;
							margin: 0;
							margin-bottom: 16px;
							width: 100%;
							max-width: 100%;
							min-height: 95px;
							resize: none;
						}
						.button {
							display: inline;
							&.blue{
							width: 60%;
							}
							&.gray{
							width: 36%;
							}
						}
					}
				}
			}
		}


		&.create-trip,
		&.purchase-return {
			width: 560px;
			height: 630px;
			min-height: 630px;
			.header {
				border-color: #eee;
				min-height: 80px;
			}
			.nav-bar {
				display: inline-block;
				width: 100%;
				min-height: 40px;
				border-bottom: 1px solid #eee;
				text-align: center;
				overflow: hidden;
				.nav {
					display: inline-block;
					width: 30%;  //// 2015.11.25 chihchaowang 33%->30%
					position: relative;
					font-size: 14px;
					line-height: 40px;
					color: #aaa;
					&:after {
						content: '';
						display: inline-block;
						position: absolute;
						top: 0;
						right: 0;
						width: 40px;
						height: 40px;
						@include transform(rotate(45deg));
						border: 1px solid #eee;
						border-left: none;
						border-bottom: none;
					}
					&:last-child {
						&:after {
							display: none;
						}
					}
					&.active {
						color: #31C4FF;
					}
				}
			}
			.content {
				min-height: 400px;
				max-height: 400px;
				visibility: hidden;
				& + .content {
					margin-top: -400px;
				}

				&.animate-left-enter,
				&.animate-left-enter-active,
				&.animate-right-enter,
				&.animate-right-enter-active {
					@include transition(all 300ms ease-in-out);
				}

				&.animate-right-enter:not(.animate-right-enter-active),
				&.animate-left-enter:not(.animate-left-enter-active) {
					@include opacity(0);
				}

				&.animate-right-enter.animate-right-enter-active,
				&.animate-left-enter.animate-left-enter-active {
					@include transition-delay(200ms);
				}

				&.animate-right-enter {
					margin-left: 100%;
					visibility: hidden;
				}
				&.animate-right-enter.animate-right-enter-active {
					margin-left: 0;
					visibility: visible;
				}

				&.animate-left-enter {
					margin-left: -100%;
					visibility: hidden;
				}
				&.animate-left-enter.animate-left-enter-active {
					margin-left: 0;
					visibility: visible;
				}
				.content-wrap {
					width: 100%;
					.content-block {
						width: 100%;
						label {
							md-checkbox {
								margin: 0;
								float: right;
							}
						}
						.date-input {
							display: inline-block;
			  			height: 40px;
			  			@include border-radius(3px);
			  			background: #FFFFFF;
			  			color: #6a6a6a;
			  			border: 1px solid #DDDDDD;
			  			width: 100%;
			  			margin: 0 0 12px 0;
			  			padding: 0 10px;
			  			@include appearance(none);
			  			text-align: left;
			  			&.search {
			  				margin: 20px 0 0 0;
			  			}
							i {
								float: left;
							  margin: 0;
							  padding: 11px 7px 11px 0;
							  height: 100%;
							  font-size: 16px;
							}
							input {
								display: block;
							  height: 100%;
							  width: calc(100% - 30px);
							  margin: 0;
							  padding: 0 5px;
							  border: none;
							  background-color: inherit;
							}
							md-autocomplete {
			  				box-shadow: none;
			  				background-color: inherit;
			  				height: 100%;
			  				margin-left: 23px;
								button {
									md-icon {
										display: none;
									}
								}
								ul[role="presentation"] {
									left: -33px;
  								right: -10px;
  								li {
  									background: #fff;
  									& + li {
  										border-top: none;
  									}
  									&:hover {
											background: #F3F3F3;
  									}
  								}
								}
								md-item-template {
									span.text {
										font-size: 14px;
										color: #4A4A4A;
										font-weight: normal;
										.highlight {
											color: #4A4A4A;
											font-weight: bold;
										}
									}
								}
							}
						}
						.labels-wrap {
							margin: 0 -15px 20px -15px;
						}
						md-checkbox {
							display: inline-block;
							min-width: 100px;
							margin: 10px 15px
						}
						md-radio-group {
							margin: 6px 0;
							md-radio-button {
								width: 150px;
								text-align: center;
								position: relative;
								background: #FFFFFF;
								border: 1px solid #979797;
								@include border-radius(3px);
								& + md-radio-button {
									margin-left: 20px;
								}
								.md-label {
									font-size: 16px;
									color: #6A6A6A;
									line-height: 3em;
								}
								&.md-checked {
									border-color: #01BAF2;
									&:before {
										content: '';
										display: inline-block;
										position: absolute;
										top: 0;
										right: 0;
										width: 18px;
										height: 18px;
										background-color: #01BAF2;
										@include border-radius(0 0 0 3px);
									}
									&:after {
									  content: '';
									  display: inline-block;
									  position: absolute;
									  width: 6px;
									  height: 11px;
									  top: 1px;
									  right: 6px;
										@include transform(rotate(45deg));
									  border: 2px solid #fff;
									  border-top: 0;
									  border-left: 0;
									}
									.md-label {
										color: #01BAF2;
									}
								}
							}
						}
						.tabs {
							display: inline-block;
							width: 100%;
							border-bottom: 1px solid #ccc;
							position: relative;
							.tab {
								display: inline-block;
								font-size: 14px;
								color: #777;
								height: 43px;
								margin-bottom: -2px;
								&:hover {
									color: darken(#777, 20%);
								}
								& + .tab {
									margin-left: 36px;
								}
								&.active {
									color: #353D49;
									border-bottom: 3px solid #31C4FF;
								}
							}
							md-select.md-default-theme {
								.md-select-icon {
									right: 0;
									top: 0;
									bottom: 0;
									height: auto;
									width: 40px;
									@include transform(inherit);
									text-align: center;
									vertical-align: middle;
									background: #FAFAFA;
									border-left: 1px solid #ccc;
									@include border-radius(0px 3px 3px 0px);
									&:before {
										content: '';
										display: inline-block;
										height: 100%;
										vertical-align: middle;
									}
									&:after {
										display: inline-block;
										font-size: 12px;
										height: auto;
										vertical-align: middle;
									}
								}
							}
							md-select {
								display: inline-block;
							  position: absolute;
							  right: 0;
							  bottom: 15px;
							  width: 110px;
							  margin: 0;
							  .md-select-label {
							  	padding: 11px 16px;
							  }
							}
						}
						.tab-content {
							max-height: 300px;
							margin: 10px 0;
							padding: 10px 0;
							position: relative;
							overflow: hidden;
							.spot-list {
								padding: 0;
								.spot-wrap {
									.spot {
										border: none;
										padding: 0;
										margin: 0 0 20px 0;
										min-height: auto;
										.thumbnail {
											width: 90px;
											height: 90px;
											border: none;
										}
										.info {
											margin-left: 90px;
											margin-right: 90px;
											.title {
												margin-bottom: 10px;
											}
											.descript {
												margin-bottom: 8px;
											}
											.metas {

											}
										}
										.check {
											display: inline-block;
											position: absolute;
											top: 25px;
											right: 25px;
											width: 40px;
											height: 40px;
											text-align: center;
											color: #000;
											@include user-select(none);
											&.active {
												color: #31C4FF;
											}
											&:before {
												content: '';
												display: inline-block;
												height: 100%;
												vertical-align: middle;
											}
											i {
												vertical-align: middle;
												font-size: 36px;
												display: inline-block;
												width: 36px;
												height: 36px;
												&.icon-Plus {
													border: 1px solid #4A4A4A;
													@include border-radius(100%);
													&:before {
														font-size: 14px;
														line-height: 36px;
														display: inline-block;
														@include transform(translateY(-10px));
													}
												}
											}
										}
									}
								}
							}
							.empty {
								color: #9B9B9B;
								text-align: center;
								margin-top: 90px;
								i {
									font-size: 64px;
								}
								p {
									font-size: 13px;
									line-height: 1.5em;
									margin-top: 20px;
								}
							}
							.not-login {
								text-align: center;
								margin-top: 90px;
								.title {
									font-size: 24px;
									color: #333;
									font-weight: bold;
								}
								p {
									font-size: 14px;
									color: #ACACAC;
									line-height: 1.5em;
									margin: 20px 0 10px 0;
								}
								.link {
									font-size: 14px;
									color: #31C4FF;
									padding-bottom: 3px;
									border-bottom: 1px solid #01BAF2;
								}
							}
						}
					}
				}
			}
			.footer {
				border-color: #eee;
				min-height: 80px;
				padding: 20px 30px;
				.button {
					width: 100%;
					height: 40px;
					margin: 0;
				}
			}
		}

		&.purchase-return {
			.header {
				padding: 30px;
			}
			.content {
				.content-wrap {
					.content-block {
						.title {
							font-size: 13px;
							font-weight: bold;
							color: #333333;
							line-height: 1.5em;
							margin-bottom: 16px;
						}
						ul {
							list-style: none;
							margin: 0;
							padding: 0;
							li {
								md-checkbox {
									margin: 0 0 16px 0;
								}
							}
						}
						textarea {
							background: #FFFFFF;
							border: 1px solid #CCCCCC;
							@include border-radius(2px);
							font-size: 14px;
							color: #6A6A6A;
							line-height: 1.3em;
							padding: 12px 12px;
							margin: 0;
							width: 100%;
							max-width: 100%;
							min-height: 95px;
							resize: none;
						}
					}
				}
				.return-item {
					padding: 16px;
					border-bottom: 1px solid #DDDDDD;
					& > * {
						display: inline-block;
						vertical-align: middle;
					}
					md-checkbox {
						margin: 0 6px 0 0;
					}
					.thumbnail {
						margin: 0 16px 0 0;
						width: 80px;
						height: 80px;
						@include border-radius(3px);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
					}
					.info {
						width: 325px;
						font-size: 14px;
						line-height: 1.3em;
						@media screen and (max-width: 750px) {
							position: absolute;
						}
						.title {
							font-weight: bold;
							color: #393D3F;
							margin-bottom: 8px;
						}
						.meta {
							font-size: 12px;
							color: #838C8C;
							margin-bottom: 8px;
						}
						.price {
							color: #F03B40;
						}
					}
					.count-wrap {
						text-align: center;
						margin: 0 0 0 16px;
					    position: absolute;
					    right: 0px;
					    background: #fff;
					    padding-right: 12px;

						.plus,
						.minus {
							display: block;
							color: #333;
							cursor: pointer;
							&:hover {
								color: darken(#333, 20%);
							}
						}
						input {
							display: inline-block;
							width: 32px;
							margin: 13px auto;
							padding: 2px 5px;
							font-size: 12px;
							color: #3C3D41;
							line-height: 1.5em;
							background: #FFFFFF;
							border: 1px solid #CCCCCC;
							@include border-radius(3px);
							text-align: center;
						}
					}
				}
				.confirm-return-data {
					padding: 20px;
					border: 1px solid #CCCCCC;
					@include border-radius(3px);
					font-size: 14px;
					color: #4A4A4A;
					line-height: 1.5em;
					margin-bottom: 20px;
					p {
						margin: 5px 0 0 0;
						&:first-child {
							margin-top: 0;
						}
					}
				}
				.return-item-wrap {
					border: 1px solid #CCCCCC;
					border-width: 1px;
					& + .return-item-wrap {
						border-top: 0;
					}
					&:first-child {
						@include border-radius(3px 3px 0 0);
					}
					&:last-child {
						@include border-radius(0 0 3px 3px);
					}
					.return-item {
						border: none;
					}
					.return-item {
						.thumbnail {
							margin: 0 12px 0 0;
						}
					}
				}
			}
		}

		&.create-spot,
		&.edit-spot {
			max-width: 730px;
			.header {
				min-height: 80px;
				height: 80px;
				.title {
				}
			}
			.content {
				.content-wrap {
					padding: 30px;
					width: 730px;
					height: 430px;
					.content-block {
						width: 100%;
						.thumbnail-wrap {
							position: absolute;
							height: calc(100% - 60px);
							.thumbnail {
								background-repeat: no-repeat;
								background-size: cover;
								background-position: center;
								display: block;
								width: 160px;
								height: 160px;
								border: none;
								@include border-radius(3px);
							}
							& + .table-info {
								margin-left: 190px;
								width: calc(100% - 190px);
							}
							.button {
								width: 160px;
								color: #6A6A6A;
								background-color: #fff;
								margin-top: 10px;
								&:hover {
									color: darken(#6A6A6A, 20%);
									background-color: darken(#fff, 20%);
								}
							}
						}
						input {
							border-color: #ccc;
						}
						textarea {
							width: 100%;
							max-width: 100%;
							min-height: 130px;
							padding: 12px;
							margin-bottom: 8px;
							font-size: 14px;
							color: #4A4A4A;
							line-height: 1.7em;
							background: #fff;
							border: 1px solid #ccc;
							@include border-radius(3px);
							resize: none;
						}
						md-select.md-default-theme {
							.md-select-icon {
								right: 0;
								top: 0;
								bottom: 0;
								height: auto;
								width: 40px;
								@include transform(inherit);
								text-align: center;
								vertical-align: middle;
								background: #FAFAFA;
								border-left: 1px solid #ccc;
								@include border-radius(0px 3px 3px 0px);
								&:before {
									content: '';
									display: inline-block;
									height: 100%;
									vertical-align: middle;
								}
								&:after {
									display: inline-block;
									font-size: 12px;
									height: auto;
									vertical-align: middle;
								}
							}
						}
						.input-select {
							input {
								display: inline-block;
								margin-right: 0;
								width: calc(100% - 80px);
								margin: 0;
								vertical-align: middle;
								@include border-radius(3px 0 0 3px);
							}
							md-select.md-default-theme {
								display: inline-block;
								margin-left: -1px;
								width: 80px;
								margin: 0 0 0 -1px;
								vertical-align: middle;
								@include border-radius(0 3px 3px 0);
								color: #6A6A6A;
								.md-select-label {
									height: 41px;
									background: #FAFAFA;
								}
								.md-select-icon {
									width: auto;
									border: none;
									right: 10px;
								}
							}
						}
						.table-info {
							margin-bottom: 30px;
							.col-6 {
								width: 50%;
								padding: 0 15px;
								&:first-child {
									padding-left: 0;
								}
								&:last-child {
									padding-right: 0;
								}
							}
							.name {
								vertical-align: top;
  							padding-bottom: 10px;
  							font-size: 13px;
								color: #333;
							}
							.content {
								vertical-align: top;
								overflow: visible;
								&.padding-bottom {
									padding-bottom: 30px;
								}
							}
						}
					}
				}
			}
			.footer {
				text-align: left;
				min-height: 80px;
				md-checkbox {
					display: inline-block;
					font-size: 14px;
					margin: 12px 0;
					.md-container {
						width: 24px;
						height: 24px;
					}
				}
				.buttons {
					display: inline-block;
					float: right;
				}
				.button {
					margin-left: 7px;
					padding: 0 35px;
					height: 40px;
				}
			}
		}

		&.path-optimization {
			max-width: 800px;
			.header {
				min-height: 80px;
				height: 80px;
				background-color: #31C4FD;
				color: #fff;
				.title {
					color: #fff;
				}
				.subtitle {
					color: #fff;
				}
				.close {
					color: #fff;
				}
			}
			.content {
				.content-wrap {
					padding: 18px;
					width: 800px;
					height: 410px;
					.content-block {
						width: 360px;
						.map-wrap {
							width: 360px;
							height: 270px;
							background-color: #eee;
							position: relative;
							overflow: hidden;
							.mark {
								display: inline-block;
								position: absolute;
								top: 21px;
							  right: -31px;
							  width: 137px;
							  text-align: center;
								font-size: 16px;
								color: #FFFFFF;
								line-height: 2em;
								background: #31C4FF;
								@include transform(rotate(45deg));
							}
						}
						.path-title {
							font-size: 16px;
							color: #333333;
							line-height: 1em;
							font-weight: bold;
							margin: 16px 0 8px 0;
						}
						.spots-name {
							font-size: 14px;
							color: #4A4A4A;
							line-height: 30px;
							.spot-name {
								display: inline-block;
								.icon {
									font-size: 12px;
									font-weight: bold;
									color: #FD6F2D;
									margin: 0 8px;
								}
							}
						}
					}
					.splitter {
						width: 34px;
						border: none;
						&:before {
							display: none;
						}
						.icon {
							font-size: 12px;
							font-weight: bold;
							color: #31C4FF;
							position: absolute;
							top: 130px;
							left: 10px;
						}
					}
				}
			}
			.footer {
				text-align: left;
				min-height: 80px;
				padding: 20px;
				.optimize-result {
					float: left;
					margin: 13px 0 13px 10px;
					font-size: 14px;
					color: #31C4FF;
					line-height: 1em;
				}
				.buttons {
					display: inline-block;
					float: right;
				}
				.button {
					margin: 0 0 0 7px;
					padding: 0 35px;
					height: 40px;
				}
			}
		}
		&.traffic {
			max-width: 960px;
			height: 660px;
			min-height: 660px;
			.header {
				min-height: 60px;
				height: 60px;
				background-color: #31C4FD;
				color: #fff;
				.title {
					color: #fff;
					font-size: 18px;
					line-height: 1em;
					i {
						font-size: 16px;
						margin: 0 16px;
					}
				}
				.close {
					color: #fff;
				}
			}
			.content {
				p {
					line-height: 1em;
					margin: 0;
				}
				.content-wrap {
					padding: 0;
					width: 960px;
					height: 600px;
					.content-block {
					}
					.traffic-list-wrap {
						height: 100%;
						width: 380px;
						overflow: hidden;
						position: relative;
						@include box-shadow(1px 0px 4px 0px rgba(0,0,0,0.20));
						.traffic-type {
							background: #FAFAFA;
							height: 45px;
							line-height: 45px;
							padding: 0 40px 0 16px;
							border-bottom: 1px solid #C8C7CC;
							position: relative;
							& > i {
								font-size: 16px;
								margin-right: 16px;
							}
							.title {
								opacity: 0.8;
								font-size: 16px;
								color: #333333;
								line-height: 1em;
								margin-right: 12px;
							}
							.time {
								opacity: 0.8;
								font-size: 12px;
								color: #9B9B9B;
								line-height: 1em;
							}
							.expand {
								display: inline-block;
								position: absolute;
								width: 24px;
							    height: 24px;
							    right: 12px;
								top: 50%;
								@include transform(translateY(-50%));
							    text-align: center;
								color: #9B9B9B;
								&:hover {
									color: darken(#9B9B9B, 20%);
								}
								i {
									font-size: 12px;
									display: inline-block;
									position: absolute;
									top: 50%;
									left: 50%;
									@include transform(translate3d(-50%,-50%,0));
								}
							}
						}
						.traffic-list {
							max-height: 0px;
							overflow: hidden;
							@include transition(max-height 350ms ease-in-out);
							&.expand {
								max-height: 2060px;
							}
							.item {
								padding: 20px 20px 20px 40px;
								position: relative;
								border-bottom: 1px solid #C8C7CC;
								.number {
									display: inline-block;
									position: absolute;
									top: 20px;
									left: 15px;
									font-size: 13px;
									color: #333333;
									line-height: 1em;
								}
								.time {
									opacity: 0.8;
									font-size: 13px;
									color: #333333;
									line-height: 1em;
									display: block;
									margin-bottom: 10px;
								}
								.desc {
									opacity: 0.8;
									font-size: 16px;
									color: #333333;
									line-height: 1em;
									display: block;
									margin-bottom: 10px;
								}
								.duration {
									opacity: 0.8;
									font-size: 16px;
									color: #FD6F2D;
									line-height: 1em;
									display: inline-block;
									position: absolute;
									top: 18px;
									right: 18px;
								}
								.info {
									opacity: 0.8;
									font-size: 13px;
									color: #777777;
									line-height: 1em;
									position: relative;
									.highlight {
										color: #333333;
										display: inline-block;
										vertical-align: top;
										margin-right: 12px;
										i {
											color: #777777;
											margin-right: 7px;
										}
									}
									.meta {
										display: inline-block;
										vertical-align: top;
										p {
											margin-bottom: 10px;
											&:last-child {
												margin-bottom: 0px;
											}
											span {
												& + span {
													margin-left: 10px;
												}
											}
										}
										i {
											margin-right: 6px;
										}
										.distance {
											display: inline-block;
											position: absolute;
											top: 0;
											right: 0;
										}
										.note {
											color: #9B9B9B;
											i {
												color: #FD6F2D;
											}
										}
									}
								}
							}
						}
					}
					.map-wrap {
						margin: 0;
						height: 100%;
						width: calc(100% - 380px);
						.map {
							background: #eee;
							height: 100%;
							width: 100%;
							.tool {
								display: inline-block;
								position: absolute;
								top: 20px;
								right: 20px;
								opacity: 0.8;
								background: #333333;
								border-radius: 3px;
								font-size: 13px;
								color: #FFFFFF;
								line-height: 36px;
								height: 36px;
								padding: 0 12px;
								cursor: pointer;
								&:hover {
									color: darken(#fff, 20%);
								}
							}
						}
					}
				}
			}
		}
		&.trip-full-map {
			width: 100%;
			height: 100%;
			min-width: 100%;
			min-height: 100%;
			@include border-radius(0);
			.content {
				height: 100%;
				.content-wrap {
					margin: 0;
					padding: 0;
					width: 100%;
					height: 100%;
					.content-block {
						display: inline-block;
						maring: 0;
						padding: 0;
						height: 100%;
						& + .content-block {
							margin: 0;
						}
					}
					.trip-list-wrap {
						width: 160px;
						overflow: hidden;
						position: relative;
						background: #F8F8F8;
						@include box-sizing(border-box);
						[ng-transclude] {
							height: 100%;
						}
						.trip-list {
							height: 100%;
							border-right: 1px solid #ddd;
							.trip {
								height: 80px;
								width: 160px;
								padding: 20px 15px 20px 70px;
								position: relative;
								border-bottom: 1px solid #ddd;
								&.active {
									background: #fff;
								}
								.date-day {
									font-size: 32px;
									color: #333333;
									line-height: 38px;
									display: inline-block;
									position: absolute;
									left: 15px;
									top: 50%;
									@include transform(translateY(-50%));
								}
								p {
									font-size: 13px;
									color: #6A6A6A;
									line-height: 16px;
									margin-bottom: 6px;
								}
							}
						}
					}
					.spot-list-wrap {
						width: 360px;
						overflow: hidden;
						position: relative;
						.spot-list {
							padding: 0;
							.spot-wrap {
								.spot {
									padding: 20px;
									margin: 0;
									min-height: auto;
									.thumbnail {
										width: 90px;
										height: 90px;
										border: none;
									}
									.info {
										margin-left: 90px;
										.title {
											font-size: 16px;
											color: #515356;
											line-height: 1em;
											margin-bottom: 12px;
										}
										.descript {
											font-size: 13px;
											color: #777;
											line-height: 1.5em;
											max-height: 1.5em * 2;
											margin-bottom: 8px;
										}
										.address,
										.phone {
											font-size: 12px;
											color: #9B9B9B;
											line-height: 1em;
											margin-bottom: 8px;
											i {
												margin-right: 6px;
											}
										}
										.metas {
											.recommend {

											}
										}
									}
									&:hover {
										.info {
											.title {
												color: #FD6F2D;
											}
										}
									}
								}
							}
						}
					}
					.map-wrap {
						margin: 0;
						height: 100%;
						width: calc(100% - 520px);
            .tool {
              display: inline-block;
              position: absolute;
              top: 20px;
              right: 20px;
              opacity: 0.6;
              background: #000000;
              border-radius: 5px;
              font-size: 13px;
              color: #FFFFFF;
              line-height: 36px;
              height: 36px;
              padding: 0 12px;
              cursor: pointer;
              &:hover {
                color: darken(#fff, 20%);
              }
            }
						.map {
							background: #eee;
							height: 100%;
							width: 100%;
							position: relative;

							.spot {
								display: inline-block;
								position: relative;
								width: 320px;
								height: 110px;
								margin: 0;
								padding: 15px;
								background: #fff;
								@include box-shadow(0px 4px 8px 0px rgba(0,0,0,0.30));
								@include border-radius(4px);
								min-height: auto;
								&:after {
									content: '';
									display: inline-block;
									width: 12px;
									height: 12px;
									position: absolute;
									bottom: -6px;
									left: 50%;
									background-color: #fff;
									@include transform(translateX(-50%) rotate(45deg));
									@include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.15));
								}
								.thumbnail {
									width: 80px;
									height: 80px;
									background-size: cover;
									background-position: center;
									float: left;
									@include border-radius(3px);
									border: none;
								}
								.info {
									margin-left: 92px;
									.title {
										font-size: 16px;
										color: #4A4A4A;
										line-height: 1em;
										margin-bottom: 8px;
									}
									.descript {
										font-size: 13px;
										color: #6A6A6A;
										line-height: 1em;
										margin-bottom: 8px;
									}
									.metas {
										margin-bottom: 8px;
										.ranks {
											i {
												font-size: 12px;
												& + i {
													margin-left: 2px;
												}
											}
										}
										.recommend {
											display: inline-block;
											font-size: 10px;
											color: #9B9B9B;
											line-height: 12px;
										}
									}
								}
								.close {
									display: inline-block;
									position: absolute;
									top: 10px;
									right: 10px;
									cursor: pointer;
									color: #1A1919;
									&:hover {
										color: darken(#1A1919, 20%);
									}
									.icon {
										font-size: 12px;
									}
								}
							}
						}
					}
				}
			}
		}
		&.problem-report {
			.content {
				min-width: 540px;
				.content-wrap {
					display: block;
					.content-block {
						display: block;
						width: auto;
						input {
							display: block;
							border: 1px solid #CCCCCC;
							@include border-radius(2px);
						}
						textarea {
							background: #FFFFFF;
							border: 1px solid #CCCCCC;
							@include border-radius(2px);
							font-size: 14px;
							color: #6A6A6A;
							line-height: 1.3em;
							padding: 12px 12px;
							margin: 0;
							margin-bottom: 25px;
							width: 100%;
							max-width: 100%;
							min-height: 95px;
							resize: none;
						}
						& + .content-block {
							margin: 30px 0 0 0;
						}
					}
				}
			}
			.footer {
				.buttons {
					text-align: center;
					.button {
						margin: 0;
						padding: 0 35px;
						height: 40px;
						line-height: 40px;
						& + .button {
							margin-left: 10px;
						}
					}
				}
			}
		}
		
		&.funthings-detail {
			width: 100%;
			height: 100%;
			min-width: 525px;
			padding: 30px;
			.thumbnail {
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 60%;
			}
			
			.descript {
				position: absolute;
				top: 60%;
				min-height: 290px;
				font-size: 14px;
				line-height: 28px;
				padding: 50px;
				height: 40%;
				left: 0px;
				width: 100%;
				overflow: auto;
			}
			.author-img-hasname{
			position: absolute;
			bottom: 50px;
			left: 50px;
			width: calc(100% - 100px);
			.author-img {
				width: 50px;
				height: 50px;
				border: 2px solid #fff;
				@include border-radius(100%);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
			
			}
			.author{
			position: absolute;
			bottom: 0px;
			left: 60px;
			width: 90%;			}
			.summary{
			position: absolute;
			    bottom: 0px;
			    right: 0px;
			
			}
		}
		
		&.order-comment {
			width: 560px;
			height: 600px;
			min-height: 600px;
			.header {
				border-color: #eee;
				min-height: 80px;
				padding: 30px;
			}
			.content {
				.content-wrap {
					.content-block {
					}
				}
				.order-item {
					padding: 20px;
					border-bottom: 1px solid #DDDDDD;
					.thumbnail {
						display: inline-block;
						float: left;
						margin: 0;
						width: 80px;
						height: 80px;
						@include border-radius(3px);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
					}
					.info {
						display: block;
						margin-left: 96px;
						font-size: 14px;
						line-height: 1.3em;
						.title {
							font-weight: bold;
							color: #393D3F;
							margin-bottom: 8px;
						}
						.ranks-wrap {
							display: inline-block;
							margin-bottom: 8px;
							font-size: 14px;
							color: #9B9B9B;
							line-height: 1.5em;
							.ranks {
								display: inline-block;
								vertical-align: bottom;
								font-size: 16px;
								color: #CBCBCB;
								margin: 0 12px 0 0;
							}
							span {
								margin: 0 12px 0 0;
							}
						}
						.images {
							margin: -3px;
							.image {
								display: inline-block;
								position: relative;
								width: 60px;
								height: 60px;
								background: #eee;
								@include border-radius(3px);
								background-repeat: no-repeat;
								background-size: cover;
								background-position: center;
								margin: 3px;
								@include transition(opacity 225ms ease);
								.remove-btn {
									display: inline-block;
									position: absolute;
									top: 0;
									right: 0;
									@include transform(translate(50%, -50%));
									width: 24px;
									height: 24px;
									background: #000000;
									border-radius: 100%;
									text-align: center;
									opacity: 0.7;
									z-index: 1;
									&:before,
									&:after {
										content: '';
										display: inline-block;
										position: absolute;
										top: 50%;
										left: 50%;
										width: 2px;
										height: 16px;
										background: #fff;
									}
									&:before {
										@include transform(translate(-50%, -50%) rotate(-45deg));
									}
									&:after {
										@include transform(translate(-50%, -50%) rotate(45deg));
									}
								}
								&:hover {
									cursor: pointer;
									&:before {
										content: '';
										display: inline-block;
										position: absolute;
										top: 0;
										bottom: 0;
										left: 0;
										right: 0;
										background: #fff;
										opacity: 0.1;
									}
								}
							}
						}
						.actions {
							overflow: auto;
							margin: 5px 0 0 0;
							.action {
								display: inline-block;
								font-size: 14px;
								color: #777;
								line-height: 18px;
								vertical-align: top;
								cursor: pointer;
								i {
									font-size: 16px;
									margin: 0 5px 0 0;
								}
								&:hover {
									color: darken(#777, 20%);
								}
								& + .action {
									margin-left: 16px;
								}
								&.small {
									i {
										font-size: 9px;
									}
								}
							}
						}
						.comment {
							position: relative;
							margin-bottom: 10px;
							textarea {
								width: 100%;
								max-width: 100%;
								min-height: 100px;
								padding: 12px;
								font-size: 14px;
								color: #4A4A4A;
								line-height: 1.7em;
								background: #F3F3F3;
								border: 1px solid #ccc;
								@include border-radius(3px);
								&.small {
									min-height: 70px;
								}
							}
							.word-count {
								position: absolute;
								right: 14px;
								bottom: 14px;
								font-size: 12px;
								color: #9B9B9B;
								line-height: 1em;
							}
						}
					}
				}
			}
			.footer {
				border-color: #eee;
				min-height: 80px;
				padding: 20px 30px;
				.button {
					width: 100%;
					height: 40px;
					margin: 0;
					font-size: 14px;
				}
			}
		}

		&.report-result,
		&.forgot-password-result,
		&.reset-password-result,
		&.user-reset-password-result,
		&.edit-spots-info-result,
		&.create-trip-result,
		&.purchase-return-result {
			min-width: 380px;
			max-width: 400px;
			.header {
				background-color: #fff;
				border: none;
				text-align: center;
				padding: 40px;
				.thumbnail {
					display: inline-block;
					width: 100px;
					height: 100px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					border: none;
				}
				.title {
					font-size: 24px;
					color: #333;
					line-height: 1.2em;
					margin: 20px 0 15px 0;
				}
				.subtitle {
					font-size: 14px;
					color: #9b9b9b;
					line-height: 1.5em;
					display: inline-block;
				}
				.close {
					top: 0;
					@include transform(inherit);
				}
				.button {
					width: 100%;
					margin: 20px 0 0 0;
				}
			}
		}
		&.create-trip-result {
			max-width: initial;
			.header {
				padding-bottom: 10px;
			}
			.content {
				padding: 10px 90px 60px;
				.content-wrap {
					.content-block {
						width: 240px;
						input {
							border: 1px solid #ddd;
							@include border-radius(3px);
							line-height: 3em;
							padding: 0 12px;
							width: 100%;
              min-height: 3em;
						}
						.button {
							width: 100%;
							margin-top: 20px;
						}
					}
				}
			}
		}
		&.purchase-return-result {
			width: 420px;
			min-width: 420px;
			.header {
				padding: 90px 40px;
				.subtitle {
					font-size: 14px;
					color: #777777;
					line-height: 24px;
				}
			}
			.remark {
				display: block;
				position: absolute;
				bottom: 16px;
				left: 0;
				width: 100%;
				text-align: center;
				font-size: 12px;
				color: #ACACAC;
				line-height: 1em;
			}
		}
		&.user-reset-password-result {
			min-width: 420px;
			.header {
				padding: 60px;
			}
		}

		&.cancel-bind-social {
			.content {
				min-width: 340px;
				text-align: center;
				.title {
					font-size: 20px;
					font-weight: bold;
					color: #333333;
					line-height: 1em;
				}
				.subtitle {
					font-size: 14px;
					color: #ACACAC;
					line-height: 1.5em;
					margin-top: 10px;
				}
				.buttons {
					margin-top: 14px;
					.button {
						height: 40px;
						line-height: 40px;
						padding: 0 35px;
						margin: 0;
						@include border-radius(3px);
						& + .button {
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}

.backdrop {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
	opacity: 0.2;
	background: rgba(51,51,51,0.90);
}

/* 解決視窗會抖動的問題 */
.ps-container > .ps-scrollbar-x-rail,
.ps-container > .ps-scrollbar-y-rail {
	@include transform(translateZ(0));
}

.resetpassword {
	md-dialog {
	    position: inherit;
	    @include transform(initial !important);
	    margin: 160px auto;
		width: 420px;
		box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
		opacity: 1;
		.content {
			.content-wrap {
				width: 100%;
				.content-block {
					width: 100%;
					.button {
						margin: 15px 0 0 0;
					}
				}
			}
		}
	}
}


