.poi-dropdown-menu {
    display: inline-block;
    z-index: 81;
    position: absolute;
    top: 35px;
    right: -15px;
    min-width: 200px;
    text-align: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0px 1px 0px #ccc;
    visibility: hidden;
    opacity: .3;
    @include border-radius(3px);
    @include transform(translateY(-10px));
    @include transition(all 120ms ease);
    &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: -8.5px;
        right: 15px;
        border-style: solid;
        border-width: 0 8.5px 8.5px 8.5px;
        border-color: transparent transparent #ccc transparent;
    }
    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: -7.5px;
        right: 16px;
        border-style: solid;
        border-width: 0 7.5px 8.5px 7.5px;
        border-color: transparent transparent #fff transparent;
    }
    &.open {
        opacity: 1;
        visibility: visible;
        @include transform(translateY(0));
    }
    .menu-item {
        display: block;
        padding: 15px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1em;
        color: #6A6A6A;
        text-decoration: none;
        background: #fff;
        @include transition(color 125ms ease, background 125ms ease);
        & > i {
            margin-right: 25px;
            vertical-align: middle;
        }
        &:hover {
            color: #333;
            background: #F3F3F3;
        }
    }
    &.confirm {
        min-width: 210px;
        padding: 20px;
        .confirm-msg {
            text-align: center;
            font-size: 13px;
            color: #666;
            line-height: 1em;
            margin-bottom: 11px;
        }
        .buttons {
            text-align: center;
            min-width: 170px;
            .button {
                min-width: 80px;
                margin: 0;
                &.small {
                    height: 32px;
                    line-height: 32px;
                }
                & + .button {
                    margin-left: 10px;
                }
            }
        }
    }
}
