.empty {
	text-align: center;
	margin-top: 120px;
	.title {
		font-size: 24px;
		color: #333;
		font-weight: bold;
	}
	p {
		font-size: 14px;
		color: #9b9b9b;
		line-height: 1.5em;
		margin: 20px 0 10px 0;
	}
	.link {
		font-size: 14px;
		color: #31C4FF;
		padding-bottom: 3px;
		border-bottom: 1px solid #01BAF2;
	}
}