.error-msg {
	background: rgba(252,110,44,0.1);
	border: 1px solid #FD6F2D;
	@include border-radius(3px);
	margin: 0 0 30px 0;
	padding: 20px 25px;
	@include box-shadow(none);
	.message {
		font-size: 14px;
		color: #777;
		line-height: 1.5em;
		.highlight {
			color: #FD6F2D;
		}
	}
}