@import "compass/css3";

.filters {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	position: relative;
	.filters-header {
		display: none;
	}
	.section-wrap {
		text-align: left;
		padding: 20px 40px;	
	}
	.filter-type {
		border-bottom: 1px solid  #F2F2F2;
		margin-bottom: 12px;

		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}

		.type-name {
			float: left;
			font-weight: bold;
			font-size: 14px;
			color: #333;
			letter-spacing: 1.75px;
			width: 80px;
			vertical-align: middle;
			height: 32px;
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}
		.type-wrap {
			display: block;
			overflow: hidden;
			margin-right: 35px;
			vertical-align: middle;
			& > * {
				margin-bottom: 8px;
				vertical-align: middle;
			}
		}
		.type-btns {
			max-height: 40px;
			@include transition-property(max-height);
			@include transition-duration(350ms);
			&.expand {
				max-height: 200px;
			}
			.type-btn {
				display: inline-block;
				padding: 8px 10px;
				margin: 0 10px 8px 0;
				border: 1px solid transparent;
				border-radius: 3px;
				font-size: 14px;
				color: #6a6a6a;
				&:hover {
					cursor: pointer;
					color: #333;
				}
				&.active {
					color: darken($main-color, 15%);
					border: 1px solid $main-color;
					// font-weight: bold;
				}
			}
		}
		.type-more {
			float: right;
			font-size: 14px;
			color: #7D8995;
			line-height: 1em;
			vertical-align: middle;
			height: 32px;
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			&:hover {
				cursor: pointer;
				color: #333;
			}
			i {
				margin-left: 12px;
				font-size: 8px;
			}
		}
		.icon-link {
			color: #A4A29A;
			&:hover {
				color: darken(#A4A29A, 10%);
			}
		}

		md-select {
			  border: 1px solid #DDD;
			  padding: 0 0px 0 12px;
			  height: 32px;
			  background-color: #FAFAFA;
			  border-radius: 3px;
			  font-size: 13px;
			  margin: 0;
			  md-select-label {
			  	border-bottom: none;
			  }
		}

		.price-range {
			display: inline-block;
			input {
				height: 32px;
				border-radius: 3px;
				background: #FAFAFA;
				border: 1px solid #DDDDDD;
				width: 80px;
				margin: 0;
				padding: 0 10px;
				@include appearance(none);
				text-align: left;
			}
			.button.small {
				vertical-align: top;
				height: 32px;
				line-height: 30px;
				margin: 0;
				margin-left: 5px;
			}
		}

		.date-range {
			display: inline-block;
			.date-input {
				display: inline-block;
				height: 32px;
				@include border-radius(3px);
				background: #FAFAFA;
				color: #6a6a6a;
				border: 1px solid #DDDDDD;
				width: 170px;
				margin: 0;
				padding: 0 10px;
				@include appearance(none);
				text-align: left;
				vertical-align: middle;
				i {
					float: left;
					margin: 0;
					padding: 7px 7px 7px 0;
					height: 100%;
					font-size: 16px;
				}
				input {
					display: block;
					height: 100%;
					width: calc(100% - 30px);
					margin: 0;
					padding: 0 5px;
					border: none;
					background-color: inherit;
				}
			}
		}
	}
	/*@media screen and (max-width: 750px) {
		z-index: 99999;
		position: fixed;
		top: 0;
		left: 20%;
		right: 0;
		bottom: 0;
		height: 100vh;
		@include transform(translateX(100%));
		@include box-shadow(-1px 0 3px rgba(0, 0, 0, 0.2));
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		@include transition(all 350ms ease-in-out);
		&.open {
			@include transform(translateX(0%));
		}
		.filters-header {
			display: block;
			height: 60px;
			line-height: 60px;
			padding: 0 20px;
			h4 {
				font-size: 18px;
				font-weight: bold;
			}
			.close {
				float: right;
			}
		}
		.section-wrap {
			padding: 20px;
		}
		.filter-type {
			.type-name {
				display: block;
			}
			.type-wrap {
				display: block;
				margin: 12px 0;
			}
		}
	}*/
}
.filter-type.filters-float-left {
	text-align: left;
	float: left;
	position: relative;
	a{
		font-size: 16px;
		color: #6A6A6A;
		padding: 0 10px;
	}
	a:hover{
		color: #01BAF2;
	}
	.active{
		color: #01BAF2;
		text-decoration: underline;
	}
	.type-name {
		display: inline-block;
		font-weight: bold;
		font-size: 14px;
		color: #333;
		letter-spacing: 1.75px;
		width: 50px;
		vertical-align: middle;
		height: 32px;
		vertical-align: middle;
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}

	md-select {
	  border: 1px solid #DDD;
	  padding: 0 0px 0 12px;
	  height: 40px;
	  background-color: #FFF;
	  border-radius: 3px;
	  font-size: 14px;
	  margin: 0;
	  vertical-align: middle;
	  md-select-label {
	  	border-bottom: none;
	  	padding: 0;
	  	height: 100%;
	  	& > span {
	  		height: 100%;
	  		vertical-align: middle;
	  	}
	  	& > span:first-child {
	  		min-width: 140px;
	  		&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
	  		}
	  	}
	  	.md-select-icon {
	  		background-color: #fff;
	  		border-left: 0;
	  		margin: 0;
	  		padding: 8px 8px 8px 0;
	  		text-align: center;
	  		width: 34px;
	  		border-radius: 0 3px 3px 0;
	  		overflow: hidden;
	  	}
	  }
  	&:not([disabled]):focus {
  		md-select-label {
	  		border-bottom: none;
	  		padding-bottom: 0;
	  	}
  	}
	}
}
.filters-more {
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
	background-color: #fff;
	border: 1px solid #eee;
	border-top: none;
	border-radius: 0 0 3px 3px;
	color: #6a6a6a;
	cursor: pointer;
	font-size: 12px;
	padding: 6px 14px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 -1px 0 #FFF;
	&:hover {
		color: #333;
		// background-color: #fcfcfc;

	}
	i {
		display: inline-block;
		margin-left: 12px;
		font-size: 8px;
	    @include transform(scale(0.8));
	}
	@media screen and (max-width: 750px) {
		display: none;
	}
}