footer {
	// position: fixed;
	// left: 0;
	// right: 0;
	// bottom: 0;
	// width: 100%;
	min-height: 200px;
	// line-height: 200px;
	background-color: #0C0F27;
	box-shadow: 0px -1px 0px 0px #DDDDDD, 0px -1px 0px 0px #EEEEEE;
	.footer-wrap {
		max-width: 1280px;
		margin: 0 auto;
		padding: 46px 40px 36px;
		// @include display(flex);
		@include flexbox((
			display: flex
			));
		@include flex-wrap(wrap);
		width: 100%;
		@media screen and (max-width: 2560px) {
			// max-width: 1440px;
		}
		@media screen and (max-width: 1440px) {
			max-width: 1280px;
		}
		.copyright {
			margin-top: 24px;
			display: block;
			text-align: center;
			font-size: 12px;
			color: #FFFFFF;
		}
		.smenu{
			margin-top: 24px;
			display: block;
			text-align: center;
			font-size: 14px;
			color: #FFFFFF;
			a{
				text-decoration: none;
				width: 60px;
				padding-left: 12px;
				padding-right: 12px;
				color: #FFFFFF;

				border-right: 1px solid #FFFFFF;
			}
			a:last-child {
				border-right:none;
			}
			a:visited
			{
				text-decoration: none;
				color: #FFFFFF;
			}
			a:hover
			{
				text-decoration: underline;
				color: #FFFFFF;
			}
			a:active
			{
				text-decoration: none;
				color: #FFFFFF;
			}
		}
		md-select {
			width: 230px;
			height: 40px;
			margin: 9px 20px 9px 0;
			background-color: rgba(255, 255, 255, 0.1);
			vertical-align: top;
			background-image:  url("../images/globe.svg");
			background-repeat: no-repeat;
			background-position: 16px 12px; 
			@include border-radius(1.79px);
			md-select-label {
				font-size: 14px;
				color: #FFFFFF!important;
				line-height: 38px;
				padding: 0 14px;
				padding-left: 48px;
				border: none !important;
				
				.md-select-icon {
					color: #ffffff;
					position: absolute;
					right: 8px;
					top: 0;
					&:after {
						top: 0;
						content: '\0076';
					}
				}
			}
			.md-placeholder{
				color: #FFFFFF!important;;
			}
		}
		.fbtitle{
			font-size: 14px;
			color:#ffffff;
			margin-top: 11px;
		}

		.app-download {
			float: left;
			width: 120px;
			a, a img {
				display: inline-block;
				// width: 120px;`
				margin-right: 8px;
			}
		}
		.app-qrcode {
			float: left;
			width: 110px;
		}
		.google-play{
			margin-top: 10px;
		}

		section {
			margin-bottom: 40px;
			&.partner {
				a {
					display: block;
				}	
			}
			.section-title {
				font-weight: bold;
				font-size: 14px;
				color: #FFFFFF;
				letter-spacing: 0.15px;
				line-height: 1em;
				margin-bottom: 16px;
			}
			p {
				max-width: 312px;
				color: #FFFFFF;
				font-size: 14px;
				line-height: 1.6em;
				margin: 0;
				margin-left: 0;
				margin-bottom: 12px;
			}
			.social-links {
				margin-bottom: 16px;
				color: #FFFFFF;
				margin-left: -8px;
				a {
					display: inline-block;
					color: #FFFFFF;
					width: 55px;
					text-align: center;
				}
				a:visited
				{
					color: #FFFFFF;
				}
				a:hover
				{
					color: #FFFFFF;
				}
				a:active
				{
					color: #FFFFFF;
				}
			}
			ul {
				margin: 0;
				padding: 0;
				&.sitemap-links {
					min-width: 100px;
				}
				li {
					list-style: none;
					a {
						display: inline-block;
						text-decoration: none;
						padding: 0 0 12px;
						font-size: 14px;
						color: #FFFFFF;

					}

				}
				.roundbtn{
					width: 156px;
					height: 36px;
					border: 1px solid #FFFFFF;
					@include border-radius(4px);
					padding: 8px 20px;
				}
			}
			.space {
				height: 24px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	footer {
		.footer-wrap {
			padding: 40px;
			margin-bottom: 58px;
		}
	}   
}

.app-download-wrap {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	min-width: 365px;
	background: #31C4FF;
	@include box-shadow(0px -2px 3px 0px rgba(0,0,0,0.20));
	z-index: 9999;
	@media screen and (max-width: 1200px) {
		display: inline-block; 
	}
	.small-logo {
		display: inline-block;
		position: absolute;
		top: 7px;
		left: 5px;
		width: 48px;
		height: 48px;
		@include border-radius(8px);
		background: #fff;
		@include background-image(linear-gradient(-180deg, #FFFFFF 0%, #FAFAFA 100%));
		img {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 85%;
			max-height: 85%;
			transform: translate(-50%, -50%);
		}
	}
	.info {
		display: block;
		padding: 12px 120px 8px 66px;
		.title {
			font-size: 16px;
			font-weight: bold;
			color: #FFFFFF;
			line-height: 1em;
			margin-bottom: 8px;
		}
		.descript {
			opacity: 0.8;
			font-size: 13px;
			color: #FFFFFF;
			line-height: 1em;
		}
	}
	.button {
		display: inline-block;
		position: absolute;
		right: 14px;
		top: 50%;
		@include transform(translateY(-50%));
		background: #FFFFFF;
		border: 1px solid #FCFCFC;
		@include border-radius(4px);
		font-size: 14px;
		color: #31C4FF;
		line-height: 34px;
		height: 36px;
		padding: 0 20px;
		margin: 0;
	}
}