.input-wrap {
	&.valid-error {
		position: relative;
		input {
			color: #FF4158 !important;
			border-color: #FF4158 !important;
			position: relative;
			@media screen and (max-width: 840px) {
				margin-top: 30px;
			}
		}
		.error-msg {
			display: inline-block;
			position: absolute;
			right: 4px;
			top: -23px;
			font-size: 12px;
			line-height: 1em;
			padding: 6px 12px;
			color: #fff;
			background: #FF4158;
			// @include box-shadow(0px 1px 3px 0px rgba(0,0,0,0.30));
			@include border-radius(3px 3px 0px 0px);
		}
	}
}
.searchtab{
	margin: 0 auto;
	text-align: center;
	.ptag{
		display: inline-block;
		width: 160px;
		height: 30px;
		margin-bottom: 20px;
		cursor: pointer;
		font-weight: 500;
	}
	.select{
			color:#31C4FF;
			border-bottom: 2px solid #31C4FF;
		}
}
.mainsearch-wrap{
.search{
 width: 760px;
 position: relative;
}
md-autocomplete{
display: inline-block;
width: 640px;
box-shadow: none;
background: #ffffff;
border: 1px solid #CCCCCC;
input{
	background-image: url(../images/searchmain.svg);
    background-repeat: no-repeat;
    background-position: 610px 10px;
}


}

 .searchbtn{
position: absolute;
z-index: 99;
right: 20px;
padding: 10px;
width: 25px;
height: 25px;
}
.gobtn{
width: 124px;
height: 44px;
vertical-align: middle;
position: absolute;
margin-left: 10px;
background: #31C4FF;
border-radius: 3px;
font-size: 14px;
color: #FFFFFF;
border: none;
font-weight: 500;
}
}
.search-wrap {
	display: block;
	height: 36px;
	.search {
		display: inline-block;
		height: 36px;
		@include border-radius(3px);
		background: #FFFFFF;
		color: #6a6a6a;
		border: 1px solid #DDDDDD;
		width: 240px;
		padding: 0 0 0 10px;
		margin: 0 0 0 10px;
		@include appearance(none);
		text-align: left;
		i {
			float: left;
		  margin: 0;
		  padding: 9px 7px 9px 0;
		  height: 100%;
		  font-size: 16px;
		}
		input {
			display: block;
		  height: 100%;
		  width: calc(100% - 30px);
		  margin: 0;
		  padding: 0 5px;
		  border: none;
		  background-color: inherit;
		}
		md-autocomplete {
			box-shadow: none;
			background-color: inherit;
			height: 100%;
			margin-left: 23px;
			md-autocomplete-wrap {
				height: 36px;
			}
			input {
				line-height: 36px;
				padding-left: 0;
			}
			button {
				top: 8px;
				right: 8px;
				md-icon {
					path {
						fill: rgba(0,0,0,0.1);
					}
				}
			}
			ul[role="presentation"] {
				left: -9px;
				right: -10px;
				border-radius: 3px;
				li {
					//background: #fff;
					& + li {
						border-top: none;
					}
					&:hover {
						background: #F3F3F3;
						color: #333;
					}
				}
			}
			md-item-template {
				span.text {
					font-size: 14px;
					color: #4A4A4A;
					font-weight: normal;
					.highlight {
						color: #31C4FF;
					}
				}
			}
		}
	}
}
