                        //header.scss 開始
                        $sub-header-height: 40px;
                        $header-height: 70px;
                        body {
                            // @include transition(all 200ms ease-in);
                        }

                        body.open-sidebar {
                            // @include transform(translateX(-270px));
                            // position: static;
                            // overflow: hidden;
                            // -webkit-overflow-scrolling: hidden;
                        }


                        .sub-header {
                            height: $sub-header-height;
                            background: #fafafa;
                            @include box-shadow(0px 1px 0px 0px rgba(0, 0, 0, 0.1));
                           
                            .sub-header-wrap {
                                max-width: 1240px;
                                margin: 0 auto;
                                // @media screen and (max-width: 2560px) {
                                    //      max-width: 1440px;
                                    //    }
                                    
                                    nav {
                                        ul {
                                            float: right;
                                            padding: 0 12px;
                                            li {
                                                position: relative;
                                                vertical-align: middle;
                                                display: inline-block;
                                                & > a,
                                                & > .link {
                                                    display: inline-block;
                                                    line-height: $sub-header-height - 1;
                                                    padding: 0 10px;
                                                    font-size: 13px;
                                                    color: #7C7C7C;
                                                    text-decoration: none;
                                                    border: 1px solid transparent;
                                                    border-bottom: none;
                                                    box-sizing: border-box;
                                                    &:hover {
                                                        color: #333;
                                                    }
                                                    &.active {
                                                        border-color: #ccc;
                                                        background: #fff;
                                                        &:after {
                                                            content: '';
                                                            display: inline-block;
                                                            position: absolute;
                                                            left: 1px;
                                                            right: 1px;
                                                            bottom: -1px;
                                                            border-bottom: 1px solid #fff;
                                                            z-index: 999;
                                                        }
                                                    }
                                                    i {
                                                        font-size: 10px;
                                                        margin-left: 4px;
                                                    }
                                                    .thumbnail {
                                                        display: inline-block;
                                                        width: 25px;
                                                        height: 25px;
                                                        border: 1px solid #CCCCCC;
                                                        @include border-radius(100%);
                                                        background-repeat: no-repeat;
                                                        background-size: cover;
                                                        background-position: center;
                                                        vertical-align: middle;
                                                    }
                                                }
                                            }
                                            .badge {
                                                position: absolute;
                                                right: 4px;
                                                top: 12px;
                                                width: 16px;
                                                height: 16px;
                                                text-align: center;
                                                line-height: 16px;
                                                color: #fff;
                                                font-size: 12px;
                                                background-color: #FF7978;
                                                border-radius: 3px;
                                            }
                                            .poi-dropdown-menu {
                                                top: 50px;
                                                right: 0;
                                                @include box-shadow(1px 2px 6px 0px rgba(0, 0, 0, 0.20));
                                                &.small {
                                                    min-width: 170px;
                                                }
                                                &.align-center {
                                                    right: 50%;
                                                    @include transform(translate(50%, -10px));
                                                    &.open {
                                                        @include transform(translate(50%, 0));
                                                    }
                                                    &:before,
                                                    &:after {
                                                        right: 50%;
                                                        @include transform(translateX(50%));
                                                    }
                                                }
                                            }
                                            .notification {
                                                padding-right: 24px;

                                                .notification-dropdown-menu {
                                                    .scroll-container {
                                                        margin-bottom: 36px;
                                                    }
                                                }

                                                .poi-dropdown-menu {
                                                    min-width: 320px;
                                                    .scroll-container {
                                                        max-height: 360px;
                                                        position: relative;
                                                        overflow: hidden;
                                                    }
                                                    .notification-item {
                                                        padding: 15px 15px 15px 10px;
                                                        position: relative;
                                                        border-top: 1px solid #ddd;
                                                        &:first-child {
                                                            border-top: none;
                                                            @include border-radius(3px 3px 0 0);
                                                        }
                                                        &:last-child {
                                                            @include border-radius(0 0 3px 3px);
                                                        }
                                                        &.more {
                                                            height: 36px;
                                                            line-height: 36px;
                                                            position: fixed;
                                                            bottom: 0;
                                                            left: 0;
                                                            right: 0;
                                                            padding: 0;
                                                            text-align: center;
                                                            a {
                                                                display: block;
                                                                font-size: 13px;
                                                                color: #4A4A4A;
                                                            }
                                                        }
                                                        .thumbnail {
                                                            display: inline-block;
                                                            position: absolute;
                                                            top: 15px;
                                                            left: 10px;
                                                            width: 25px;
                                                            height: 25px;
                                                            border: 1px solid #CCCCCC;
                                                            @include border-radius(100%);
                                                            background-repeat: no-repeat;
                                                            background-size: cover;
                                                            background-position: center;
                                                        }

                                                        .info {
                                                            margin-left: 30px;
                                                            .descript {
                                                                font-size: 13px;
                                                                color: #4A4A4A;
                                                                line-height: 1.5em;
                                                                a[href] {
                                                                    color: #31C4FF;
                                                                    &:hover {
                                                                        color: darken(#31C4FF, 20%);
                                                                    }
                                                                }
                                                            }
                                                            .date {
                                                                font-size: 12px;
                                                                color: #ACACAC;
                                                                line-height: 1em;
                                                                margin-top: 4px;
                                                            }
                                                        }
                                                    }
                                                }
                                                & + .badge {
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                }
                                            }
                                            .cart {
                                                padding-right: 12px;
                                            }
                                            .cart-container {
                                                display: none;
                                                position: absolute;
                                                top: 40px;
                                                right: 0;
                                                width: 400px;
                                                border: 1px solid #ccc;
                                                background: #fff;
                                                z-index: 99;
                                                &.open {
                                                    display: inline-block;
                                                }
                                                .cart-item-list {
                                                    max-height: 360px;
                                                    position: relative;
                                                    overflow: hidden;
                                                }
                                                .cart-item {
                                                    position: relative;
                                                    border-top: 1px solid #ccc;
                                                    &:first-child {
                                                        border-top: none;
                                                    }
                                                    &:after {
                                                        content: '';
                                                        display: block;
                                                        clear: both;
                                                    }
                                                    .remove-item {
                                                        display: inline-block;
                                                        float: left;
                                                        width: 18px;
                                                        height: 18px;
                                                        @include border-radius(100%);
                                                        margin: 36px 16px;
                                                        vertical-align: middle;
                                                        background: rgba(255, 255, 255, 0.90);
                                                        border: 1px solid #000000;
                                                        text-align: center;
                                                        cursor: pointer;
                                                        i {
                                                            font-size: 8px;
                                                            font-weight: bold;
                                                            color: #000;
                                                        }
                                                    }
                                                    .thumbnail {
                                                        display: inline-block;
                                                        float: left;
                                                        width: 66px;
                                                        height: 66px;
                                                        background: #E2E2E2;
                                                        @include border-radius(3px);
                                                        margin: 16px 0;
                                                        vertical-align: middle;
                                                        background-repeat: no-repeat;
                                                        background-size: cover;
                                                        background-position: center;
                                                    }
                                                    .info {
                                                        display: inline-block;
                                                        margin: 20px 16px;
                                                        max-width: 145px;
                                                        vertical-align: middle;
                                                        .title {
                                                            display: block;
                                                            font-size: 14px;
                                                            color: #333333;
                                                            line-height: 1.5em;
                                                            max-height: 1.5em * 2;
                                                            overflow: hidden;
                                                            @include flexbox(( display: box, box-orient: vertical));
                                                            -webkit-line-clamp: 2;
                                                            margin-bottom: 6px;
                                                        }
                                                        .price {
                                                            font-size: 14px;
                                                            font-weight: bold;
                                                            color: rgba(218, 4, 34, 0.90);
                                                            line-height: 1em;
                                                        }
                                                    }
                                                    .count-wrap {
                                                        display: inline-block;
                                                        position: relative;
                                                        float: right;
                                                        margin: 30px 16px;
                                                        vertical-align: middle;
                                                        text-align: center;
                                                        .minus,
                                                        .plus {
                                                            display: inline-block;
                                                            position: absolute;
                                                            top: 50%;
                                                            @include transform(translateY(-50%));
                                                            width: 18px;
                                                            height: 18px;
                                                            background: rgba(255, 255, 255, 0.90);
                                                            border: 1px solid #000000;
                                                            @include border-radius(100%);
                                                            text-align: center;
                                                            cursor: pointer;
                                                            i {
                                                                font-size: 8px;
                                                                font-weight: bold;
                                                                color: #000;
                                                            }
                                                        }
                                                        .minus {
                                                            left: 0;
                                                        }
                                                        .plus {
                                                            right: 0;
                                                        }
                                                        .count-info {
                                                            display: inline-block;
                                                            padding: 0 24px;
                                                            .number {
                                                                font-size: 24px;
                                                                font-weight: bold;
                                                                color: #000000;
                                                                line-height: 1em;
                                                                margin-bottom: 10px
                                                            }
                                                            .count-title {
                                                                font-size: 11px;
                                                                color: #9B9B9B;
                                                                line-height: 1.5em;
                                                            }
                                                        }
                                                    }
                                                }
                                                .cart-summary {
                                                    background: #F8F8F8;
                                                    padding: 25px;
                                                    border-top: 1px solid #ccc;
                                                    &:after {
                                                        content: '';
                                                        display: block;
                                                        clear: both;
                                                    }
                                                    .info {
                                                        display: inline-block;
                                                        float: left;
                                                        p {
                                                            font-size: 14px;
                                                            color: #333333;
                                                            line-height: 1.5em;
                                                            .red {
                                                                font-weight: bold;
                                                                color: rgba(218, 4, 34, 0.90);
                                                            }
                                                        }
                                                    }
                                                    .button {
                                                        display: inline-block;
                                                        float: right;
                                                        height: 40px;
                                                        line-height: 40px;
                                                        min-width: 176px;
                                                        border-color: rgba(218, 4, 34, 0.90);
                                                        font-size: 14px;
                                                        color: rgba(218, 4, 34, 0.9);
                                                        background: transparent;
                                                        @include border-radius(0);
                                                        &:hover {
                                                            color: darken(rgba(218, 4, 34, 0.9), 10%);
                                                            border-color: darken(rgba(218, 4, 34, 0.9), 10%);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            header {
                                z-index: 9999;
                                position: absolute;
                                //position:relative;
                                top: 0;
                                left: 0;
                                right: 0;
                                width: 100%;
                                background-color: #fff;
                                @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
                                min-width: 1024px;
                               
                                .sub {
                                    //display: inline-block;
                                    display: none;
                                    z-index: 20;
                                    position: absolute;
                                    top: 80px;
                                    right: 0px;
                                    left: 0px;
                                    width: 100%;
                                    text-align: left;
                                    background: #fafafa;
                                    border: 1px solid #dddddd;
                                    box-shadow: 0 0px 1px 0px #ccc;
                                    @include border-radius(3px);
                                    @include transform(translateY(-10px));
                                    @include transition(all 120ms ease);                                 
                                    .menu-item {
                                        font-size: 14px;
                                        font-weight: normal;
                                        line-height: 1em;
                                        text-decoration: none;
                                        background: #fafafa;
                                        cursor: pointer;
                                        height: 44px;
                                        width: 80px;
                                        text-align: center;
                                        margin-left: 20px;
                                        padding-top: 18px!important;;
                                        @include transition(color 125ms ease, background 125ms ease);
                                        & > i {
                                            margin-right: 14px;
                                            vertical-align: middle;
                                        }
                                        &:hover {
                                            font-weight: bold;
                                        }
                                        &.active {
                                            border-bottom: 2px solid $main-color;
                                        }
                                        

                                    }

                                }
                                .showDiv{
                                    display: block;
                                }
                                .menuList{
                                    max-width: 1280px;
                                    margin: 0 auto;
                                }

                                .header-wrap {
                                    max-width: 1240px;
                                    margin: 0 auto;
                                    // @include display(flex);
                                    // @include flexbox((
                                        //  display: flex
                                        // ));
                                    // @include flex-wrap(wrap);
                                    display: block;
                                    @include align-items(center);
                                    @include align-content(center);
                                    @include justify-content(space-around);
                                    width: 100%;
                                    height: $header-height;
                                    padding: 0 12px;
                                    background: #ffffff;
                                  
                                   .menu-btn {
                                    z-index: 9999;
                                    position: absolute;
                                    display: none;
                                    top: 0;
                                    right: 0;
                                    line-height: 60px;
                                    height: 60px;
                                    width: 60px;
                                    border-left: 1px solid #eee;
                                    text-align: center;
                                    i {
                                        display: inline-block;
                                        @include transition(all 200ms ease-in-out);
                                        @include transform(scale(.7) rotate(0.5turn));
                                    }
                                   
                                }
                                .search-btn {
                                    z-index: 9999;
                                    position: fixed;
                                    display: none;
                                    top: 0;
                                    right: 60px;
                                    line-height: 60px;
                                    height: 60px;
                                    width: 60px;
                                    border-left: 1px solid #eee;
                                    text-align: center;
                                    @include transition(all 200ms ease-in-out);
                                    &:active {
                                        color: #333;
                                    }
                                    
                                }
                                .logo {
                                    display: inline-block;
                                    margin-right: 32px;
                                    vertical-align: middle;
                                    float: left;
                                    padding-top: 15px;
                                    img {
                                        height: 40px;
                                        @include transition(all 250ms ease);
                                        &.large {
                                            display: block;
                                        }
                                        &.small {
                                            display: none;
                                        }
                                    }
                                }
                                nav {
                                    display: inline-block;
                                    max-width: 720px;
                                    vertical-align: middle;
                                    float: left;
                                    ul[class="bigNav"] {
                                        /* 電腦版導覽列 */
                                        vertical-align: middle;
                                        display: block;
                                       

                                        li:first-child { 

                                            &:hover 
                                            {
                                             &:before {
                                                content: '';
                                                display: inline-block;
                                                position: absolute;
                                                border-style: solid;
                                                border-width: 0 8.5px 8.5px 8.5px;
                                                border-color: transparent transparent #fafafa transparent;
                                                top: 62PX;
                                                z-index: -1;
                                                margin-left: 15px;
                                            }

                                        }
                                    }
                                    li {
                                        padding-right: 32px;
                                        padding-left: 0px;
                                        float: left;
                                        &:hover {
                                            color: $main-color;
                                            .link {
                                                color: $main-color;
                                            }

                                            div {
                                                display: block;
                                                z-index: 100000;
                                            }
                                        }


                                        a {
                                            display: inline-block;
                                            @include transition(all 250ms ease);
                                            color: #333;
                                            font-size: 14px;
                                            padding-top: 30px;
                                            padding-bottom: 27px;
                                            text-decoration: none;
                                            cursor: pointer;
                                            &:hover {
                                                font-weight:bold;
                                            }


                                            &.active {

                                                color: $main-color;

                                            }
                                            i {
                                                margin-left: 5px;
                                                font-size: 10px;
                                            }
                                        }

                                    }
                                }
                                ul[class=smallNav] {
                                    /* 行動版導覽列 */
                                    display: inline-block;
                                    vertical-align: middle;
                                    height: $header-height;
                                    margin: 0;
                                    padding: 0;
                                    display: none;
                                   
                                    li {
                                        display: inline-block;
                                        float: left;
                                        list-style: none;
                                        text-align: center;
                                        &.active {
                                            a {
                                                color: $main-color;
                                                
                                            }
                                        }
                                        &:hover {
                                            a {
                                                color: $main-color;
                                            }
                                        }
                                        a {
                                            display: inline-block;
                                            @include transition(all 250ms ease);
                                            padding: 0 5px;
                                            margin: 0 5px;
                                            height: $header-height + 1px;
                                            line-height: $header-height;
                                            color: #333;
                                            font-size: 14px;
                                            text-decoration: none;
                                        }
                                    }
                                }
                                .avatar-section {
                                    display: none;
                                }
                             
                            }
                            .right {
                             display: block;
                             justify-content: space-around;
                             height: 70px;
                             text-align: right;
                             float: right;
                             padding-top: 15px;
                            
                            .notification {

                                .notification-dropdown-menu {
                                    .scroll-container {
                                        margin-bottom: 36px;
                                    }
                                }

                                .poi-dropdown-menu {
                                    .scroll-container {
                                        max-height: 360px;
                                        position: relative;
                                        overflow: hidden;
                                    }
                                    .notification-item {
                                        padding: 15px 15px 15px 10px;
                                        position: relative;
                                        border-top: 1px solid #ddd;
                                        &:first-child {
                                            border-top: none;
                                            @include border-radius(3px 3px 0 0);
                                        }
                                        &:last-child {
                                            @include border-radius(0 0 3px 3px);
                                        }
                                        &.more {
                                            height: 36px;
                                            line-height: 36px;
                                            position: fixed;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;
                                            padding: 0;
                                            text-align: center;
                                            a {
                                                display: block;
                                                font-size: 13px;
                                                color: #4A4A4A;
                                            }
                                        }
                                        .thumbnail {
                                            display: inline-block;
                                            position: absolute;
                                            top: 15px;
                                            left: 10px;
                                            width: 25px;
                                            height: 25px;
                                            border: 1px solid #CCCCCC;
                                            @include border-radius(100%);
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                        }

                                        .info {
                                            margin-left: 30px;
                                            .descript {
                                                font-size: 13px;
                                                color: #4A4A4A;
                                                line-height: 1.5em;
                                                a[href] {
                                                    color: #31C4FF;
                                                    &:hover {
                                                        color: darken(#31C4FF, 20%);
                                                    }
                                                }
                                            }
                                            .date {
                                                font-size: 12px;
                                                color: #ACACAC;
                                                line-height: 1em;
                                                margin-top: 4px;
                                            }
                                        }
                                    }
                                }
                                
                            }
                            .hmessage{
                             display: inline-block;
                             width: 50px;
                             font-size: 12px;
                             height: 45px;
                             text-align: center;
                             vertical-align: middle;
                             background-image: url(../images/message.svg);
                             background-repeat: no-repeat;
                             background-position: 10px;
                             color: #fff;
                             padding-top: 12px;
                             padding-left: 10px;
                             .poi-dropdown-menu{
                                 min-width: 320px;
                                 margin-top: 40px;
                                 margin-left: -380px;
                                 top: auto;
                                 right: auto;
                             }



                             .link{
                                height: 100%;
                            }
                        }
                        .savatar{
                            width: 40px;
                            height: 40px;
                            border: 1px solid #ddd;
                            border-radius: 50%;
                            display: inline-block;
                            overflow: hidden;
                            margin: 0px;
                            margin-right: 10px;
                            background-image: url(../images/userpic.svg);
                            vertical-align: middle;
                        }
                        .scon{
                            vertical-align: middle;

                        }
                        .userCoin{
                            min-width: 90px;
                            display: inline-block;
                            vertical-align: middle;
                            text-align: center;
                            a{
                                color: #9B9B9B;
                            }
                        }
                        .usercon{
                            min-width: 120px;
                            display: inline-block;
                            vertical-align: middle;
                            text-align: center;
                            .userName{
                                max-width: 100px;
                                display: inline-block;
                                font-weight: bold;
                                overflow: hidden; 
                                white-space: nowrap; 
                                text-overflow: ellipsis;
                                
                            }
                            a{
                                color: #9B9B9B;
                            }
                            .poi-dropdown-menu{
                                top: 65px;
                                right: auto;
                                margin-left: -150px;
                                &:before {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    top: -8.5px;
                                    right: 90px;
                                    border-style: solid;
                                    border-width: 0 8.5px 8.5px 8.5px;
                                    border-color: transparent transparent #ccc transparent;
                                }
                                &:after {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    top: -7.5px;
                                    right: 90px;
                                    border-style: solid;
                                    border-width: 0 7.5px 8.5px 7.5px;
                                    border-color: transparent transparent #fff transparent;
                                }
                            }

                        }

                        .usercons{
                            min-width: 60px;
                            display: inline-block;
                            vertical-align: middle;
                            text-align: center;
                            .userName{
                                max-width: 100px;
                                display: inline-block;
                                font-weight: bold;
                                overflow: hidden; 
                                white-space: nowrap; 
                                text-overflow: ellipsis;
                                
                            }
                            a{
                                color: #9B9B9B;
                            }
                            .poi-dropdown-menu{
                                top: 65px;
                                right: auto;
                                margin-left: -150px;
                                &:before {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    top: -8.5px;
                                    right: 90px;
                                    border-style: solid;
                                    border-width: 0 8.5px 8.5px 8.5px;
                                    border-color: transparent transparent #ccc transparent;
                                }
                                &:after {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    top: -7.5px;
                                    right: 90px;
                                    border-style: solid;
                                    border-width: 0 7.5px 8.5px 7.5px;
                                    border-color: transparent transparent #fff transparent;
                                }
                            }

                        }
                        .setline{
                            display: inline-block;
                            width: 1px;
                            vertical-align: middle;
                            background-color: #dddddd;
                            height: 25px;
                        }
                    }
                    .global-search {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        height: 36px;
                        background: #FAFAFA;
                        border: 1px solid #DDDDDD;
                        @include border-radius(3px);
                        width: 200px;
                        margin-top: 10px;
                        margin-left: 16px;
                        background-color: #fff;
                        @media screen and (max-width: 1440px) {
                           display:none;
                           //display none for min-width
                        }
                        &.fixed {
                            margin: 0;
                           
                            input {
                                width: 100%;
                            }
                        }
                        // margin-left: auto;
                        .search-wrap {
                            margin-top: -1px;
                            padding-left: 30px;
                            background-image:url(../images/search.svg); 
                            background-repeat: no-repeat;
                            background-position: 10px;
                            .search {
                                margin: 0;
                                border-width: 1px 0;
                                height: 60px;
                                width: 170px;
                                background-color: transparent;
                                border: none;
                                md-autocomplete {
                                    margin-left: 0;
                                    ul[role="presentation"] {
                                        left:-40px;
                                        right: 0px;
                                        top:38px;
                                    }
                                }
                            }
                        }
                        input {
                            flex: 2;
                            color: #7a7a7a;
                            height: 36px;
                            line-height: 36px;
                            border: none;
                            background-color: transparent;
                            padding: 0 12px;
                        }
                        md-select {
                            position: absolute;
                            margin: 0;
                            // margin-left: auto;
                            @include align-self(center);
                            // border-left: 1px solid #eee;
                            padding-left: 12px;
                            padding-right: 6px;
                            right: 29px;
                            top: 0;
                            height: 34px;
                            line-height: 34px;
                            &.md-default-theme {
                                .md-select-label {
                                    padding: 0;
                                    border-bottom: 0;
                                    font-size: 13px;
                                    color: #6A6A6A;
                                    line-height: 34px;
                                    min-width: 56px;
                                    .md-select-icon {
                                        display: none;
                                    }
                                    &:after {
                                        content: '';
                                        display: inline-block;
                                        position: absolute;
                                        right: 15px;
                                        top: 50%;
                                        width: 7px;
                                        height: 7px;
                                        border: 2px solid #777777;
                                        border-top: none;
                                        border-left: none;
                                        @include transform(rotate(45deg) translate(-50%, -50%));
                                    }
                                }
                            }
                        }
                        .close-search {
                            display: none;
                        }
                        .global-search-btn {
                            display: inline-block;
                            position: absolute; //// chihchaowang 2016/3/2
                            top: -1px; //// chihchaowang 2016/3/2
                            right: -1px;
                            width: 36px;
                            height: 36px;
                            background: #31C4FF;
                            text-align: center;
                            cursor: pointer;
                            @include border-radius(0 3px 3px 0);
                            &:hover {
                                background: darken(#31C4FF, 10%);
                            }
                            .icon {
                                display: inline-block;
                                font-size: 16px;
                                font-weight: bold;
                                color: #fff;
                                line-height: 34px;
                            }
                        }
                      
                    }
                }
                .create-trip {
                    margin-left: 0;
                    float: left;
                    position: relative;
                    // @include align-self(center);
                    .button {
                        width: 136px;
                        padding: 0 25px 0 0;
                        border: none;
                        text-align: center;
                    }
                   
                    .dropdown-more {
                        display: inline-block;
                        position: absolute;
                        top: 3px;
                        bottom: 3px;
                        right: 0;
                        width: 25px;
                        background: #2EBAF3;
                        @include border-radius(0px 3px 3px 0px);
                        &:hover {
                            background: darken(#2EBAF3, 10%);
                        }
                        &:after {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include transform(translate(-50%, -50%));
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 4px 3.5px 0 3.5px;
                            border-color: #fff transparent transparent transparent;
                        }
                        .poi-dropdown-menu {
                            top: 50px;
                            right: 0;
                            min-width: 180px;
                        }
                    }
                }
                @media screen and (max-width: 2560px) {
                    // max-width: 1440px;
                }
                @media screen and (max-width: 1440px) {
                    .logo {
                        img {
                            height: 32px;
                        }
                    }
                }
                
            }

            // @media screen and (min-width: 1240px) and (max-width: 1240px) {
                //      header {
                    //          nav {
                        //              ul {
                            //                  li {
                                //                      a {
                                    //                          padding: 0 16px;
                                    //                      }
                                    //                  }
                                    //              }
                                    //          }
                                    //      }
                                    // }
                                    // @media screen and (min-width: 1060px) and (max-width: 1240px) {
                                        //      header {
                                            //          .logo {
                                                //          img {
                                                    //              height: 40px;
                                                    //          }
                                                    //      }
                                                    //          nav {
                                                        //              ul {
                                                            //                  li {
                                                                //                      a {
                                                                    //                          padding: 0 16px;
                                                                    //                      }
                                                                    //                  }
                                                                    //              }
                                                                    //          }
                                                                    //      }
                                                                    // }
                                                                    // @media screen and (min-width: 768px) and (max-width: 1060px) {
                                                                        //      header {
                                                                            //          .logo {
                                                                                //              margin-right: 20px;
                                                                                //          img {
                                                                                    //              height: 40px;
                                                                                    //              &.large {
                                                                                        //                  display: none;
                                                                                        //              }
                                                                                        //              &.small {
                                                                                            //                  display: block;
                                                                                            //              }
                                                                                            //          }
                                                                                            //      }
                                                                                            //          nav {
                                                                                                //              ul {
                                                                                                    //                  li {
                                                                                                        //                      a {
                                                                                                            //                          padding: 0 10px;
                                                                                                            //                      }
                                                                                                            //                  }
                                                                                                            //              }
                                                                                                            //          }
                                                                                                            //          .create-trip {
                                                                                                                //              display: none;
                                                                                                                //          }
                                                                                                                //      }
                                                                                                                // }
                                                                                                                //header.scss 結束
