.labels {
	max-height: 2.5em;
	overflow: hidden;
	&.expand {
		max-height: none;
	}
	.label {
		display: inline-block;
		border: 1px solid #777;
		@include border-radius(2px);
		font-size: 13px;
		line-height: 1.5em;
		color: #6A6A6A;
		padding: 5px 10px;
		margin: 0 6px 6px 0;
	}
}
.label-expand {
	display: inline-block;
	color: #777;
	margin-top: 4px;
	padding: 4px;
	cursor: pointer;
	span {
		font-size: 12px;
		margin-right: 10px;
	}
	i {
		font-size: 9px;
	}
	&:hover {
		color: darken(#777, 20%);
	}
}