/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a{
  /* add by anson */
  text-decoration:none
}
b{
  font-weight: 700;
}
i{
  font-style: italic;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  //overflow: hidden;
  overflow-y:auto;
}

body {
  line-height: 1;
  min-width: 1024px;
  -webkit-overflow-scrolling: touch;
  @media screen and (max-width: 768px) {
    
  }
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: $globe-font-style;
  -webkit-font-smoothing: antialiased;
  // -webkit-font-smoothing: initial;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
  h1, h2, h3, h4, h5, h6 {
    font-family: $globe-title-font-style;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }
}

a {
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.container {
  margin-top:  70px;
  min-height: calc(100vh - 40px + 80px);
  // min-width: 1200px;
  @media screen and (max-width: 768px) {
    margin-top: 60px;
    min-height: calc(100vh - 60px);
   }
}
.container-bar{
    margin-top:  46px!important;

}

.content {
  &.gray {
    background-color: #F2F2F2;
  }
}



section {
  // border-bottom: 1px solid #ddd;
  &:last-child {
    border-bottom: 0;
  }
  &.gray {
    background-color: #f7f7f7;
  }
  .section-wrap {
    max-width: 1280px + 40px;
    margin: 0 auto;
    padding: 50px 40px 40px;
    text-align: center;
    &.no-top-bottom-padding {
      padding: 0 40px;
    }
    &.no-top-padding {
      padding-top: 0;
    }
    &.no-bottom-padding {
      padding-bottom: 0;
    }
    &.list-content {
      min-height: 50vh;
    }
    @media screen and (max-width: 2560px) {
      // max-width: 1440px + 40px;
    }
    @media screen and (max-width: 1440px) {
      max-width: 1280px + 40px;
    }
    @media screen and (max-width: 600px) {
      padding: 60px 20px;
    }
    .section-info {
      margin-bottom: 32px;
      .section-title {
        font-family: $banner-font-style;
        font-weight: bold;
        font-size: 24px;
        color: #31C4FF;
        margin-bottom: 12px;
      }
      .section-descript {
        font-size: 16px;
        color: #9B9B9B;
        line-height: 2em;
      }
    }
    a.read-more {
      display: inline-block;
      margin: 60px auto 0;
      font-size: 14px;
      color: $blue-color;
      letter-spacing: 1px;
      padding-bottom: 5px;
      text-decoration: none;
      border-bottom: 1px solid $blue-color;
    }
  }
}

[show-for-small] {
    display: none !important;
    @media screen and (max-width: 768px) {
      display: initial !important;
    }
}

[hide-for-small] {
    @media screen and (max-width: 768px) {
      display: none !important;
    }
}



md-select-menu.md-default-theme md-option[selected] {
  background-color: #eee;
}

.md-select-menu-container {
  z-index: 99999;
  md-content {
    md-option {
      height: 40px;
      @include transition(all 300ms ease);
      &:hover {
        background-color: #f3f3f3;
      }
    }
  }
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav  md-list {
  padding: 0px 0px 8px 0px;
}


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

[ng-click] {
  cursor: pointer;
}

[hide-sm] {
  @media screen and (max-width: 750px) {
    display: none !important;
  }
}
