.list-map {
	position: relative;
	background-color: #ddd;
	.view-larger-map {
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: #333;
		opacity: 0.8;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);
		padding: 10px 22px;
		color: #eee;
		cursor: pointer;
		&:hover {
			color: #fff;
		}
		i {
			width: 16px;
			height: 16px;
			margin-right: 8px;
			vertical-align: middle;
		}
		span {
			font-size: 14px;
		}
	}
}




.content {
	width: 100%;
	@include transition(all 350ms ease-in-out);
	// @include transition-duration(350ms);
	&.map-mode {
		position: absolute;
		top: 110px;
		left: 0;
		right: 50%;
		bottom: 0;
		width: 50%;
		background: #FFF;
	    overflow: auto;
		.section-wrap {
			background-color: #fff;
		}
		.spot-map {
			.spot-list {
				height: initial;
			}
		}
		.list-map2 {
			@include transform(translateX(0%));
		}
	}
}
.list-map2 {
	z-index: 999;
	position: fixed;
	background-color: #DDD;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	@include transform(translateX(100%));
	@include transition(transform 350ms ease-in-out);
	.view-larger-map {
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: #333;
		opacity: 0.8;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);
		padding: 10px 22px;
		color: #eee;
		cursor: pointer;
		&:hover {
			color: #fff;
		}
		i {
			width: 16px;
			height: 16px;
			margin-right: 8px;
			vertical-align: middle;
		}
		span {
			font-size: 14px;
		}
	}
}
