.notification-list {
	.notification-item {
		padding: 15px 15px 15px 10px;
		position: relative;
		border-top: 1px solid #eee;
		&:first-child {
			border-top: none;
			@include border-radius(3px 3px 0 0);
		}
		&:last-child {
			@include border-radius(0 0 3px 3px);
		}
		.thumbnail {
			display: inline-block;
			position: absolute;
			top: 15px;
			left: 16px;
			width: 32px;
			height: 32px;
			// border: 1px solid #eee;
			@include border-radius(100%);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		.info {
			margin-left: 52px;
			.descript {
				font-size: 14px;
				color: #4A4A4A;
				line-height: 1.5em;
				a[href] {
					color: #31C4FF;
					&:hover {
						color: darken(#31C4FF, 20%);
					}
				}
			}
			.date {
				font-size: 13px;
				color: #ACACAC;
				line-height: 1em;
				margin-top: 4px;
			}
		}
	}
}