.pagination {
    display: block;
    margin-bottom: 1em;
    color: white;
    text-align: center;
    //Change this is you want the pagination on the left/right/middle
    .page-numbers li {
        display: inline-block;
        height: 30px;
        a, span {
            background: #DCDDDE;
            // border: 1px solid #CCCCCC;
            padding: 0 5px;
            min-width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            display: block;
            text-align: center;
            text-decoration: none;
            border-radius: 3px;
            margin-right: 4px;
            color: #777;
            &:hover {
	        	cursor: pointer;
	            color: #333;
                background: #ccc;
	            // border: 1px solid #ccc;
	        }
            &.current {
                background: $main-color;
                border-color: $main-color;
                color: white;
            }
        }
        a.next, a.prev {
        	padding: 0 12px;
            //padding: 0px 2px 0px 2px!important;
            //top: 2px;
            //position: relative;
            i {
                font-size: 12px;
            }
        }
    }
}
