.poi-page {
    .align-left {
        text-align: left;
    }
    .align-right {
        text-align: right;
    }
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
    .remaining-width {
        overflow: hidden;
        display: block;
    }
    .blduration {
            z-index: 9;
            position: absolute;
            bottom: 10px;
            right:  10px;
            font-family: Lato;
            font-weight: 1000;
            font-size: 36px;
            color: #FFFFFF;
            letter-spacing: 1.49px;
            line-height: 28px;;
            span {
                font-size: 14px;
                font-weight: bold;
            }
        }
    .purchase-ticket {
        background: #FFFFFF;
        margin-bottom: 20px;
        .preview-container {
            padding: 16px 12px 32px 16px;
        }
        .ticket-container {
            padding: 0 30px 20px 12px;
        }
        a {
            text-decoration: none;
            padding-bottom: 2px;
            border-bottom: 1px solid #4A4A4A;
            color: #4A4A4A;
            font-size: 14px;
            line-height: 1em;
            &:hover {
                color: darken(#4A4A4A, 20%);
                border-color: darken(#4A4A4A, 20%);
            }
            &.blue {
                color: #31C4FF;
                border-color: #31C4FF;
                &:hover {
                    color: darken(#31C4FF, 20%);
                    border-color: darken(#31C4FF, 20%);
                }
            }
        }
        .preview {
            display: inline-block;
            background: #EEEEEE;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            @include box-sizing(border-box);
            &.active {
                border: 2px solid #FD6F2D;
            }
            &.large {
                width: 100%;
                height: 460px;
            }
            &.small {
                width: 25%;
                height: 105px;
                margin-left: 6px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        .preview-list {
            margin-top: 6px;
            text-align: left;
            white-space: nowrap;
            overflow: auto;
            overflow-y: hidden;
        }
        .info-block {
            padding: 20px 0;
            border-bottom: 1px solid #EEEEEE;
            text-align: left;
            position: relative;
            &:last-child {
                border-bottom: 0;
            }
            .title {
                margin-bottom: 24px;
                padding-right: 60px;
                font-size: 24px;
                font-weight: bold;
                color: #333333;
                line-height: 1.25em;
                max-height: 1.25em * 2;
                overflow: hidden;
                @include flexbox(( display: box, box-orient: vertical));
                -webkit-line-clamp: 2;
                &.two-lines {
                    min-height: 1.25em * 2;
                }
            }
            .summary {
                font-size: 14px;
                color: #6A6A6A;
                line-height: 1em;
                margin-bottom: 10px;
                & > * {
                    vertical-align: top;
                }

                .ranks {
                    font-size: 16px;
                }
            }
            .deadline {
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: 20px;
                color: #333333;
                &.red,
                .red {
                    color: #F0503B;
                }
                & > * {
                    vertical-align: middle;
                }
                i {
                    font-size: 34px;
                    font-weight: bold;
                }
                .time-wrap {
                    display: inline-block;
                    margin-left: 15px;
                    text-align: center;
                    .number {
                        font-size: 26px;
                        font-weight: bold;
                        line-height: 1em;
                        margin-bottom: 6px;
                    }
                    .unit {
                        font-size: 12px;
                        color: #9B9B9B;
                        line-height: 1em;
                        &.red {
                            color: #F0503B;
                        }
                    }
                }
            }
            .discount {
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 61px;
                padding: 15px 0;
                text-align: center;
                background: #F0503B;
                font-size: 12px;
                font-weight: bold;
                color: #FFFFFF;
                line-height: 1.5em;
                overflow: hidden;
                &:after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    @include transform(translateX(-50%));
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 20px 7px 20px;
                    border-color: transparent transparent #ffffff transparent;
                }
                .highlight {
                    font-size: 18px;
                }
            }
            .descript {
                font-size: 14px;
                color: #6A6A6A;
                line-height: 1.5em;
                &.highlight {
                    font-weight: bold;
                    color: #F0503B;
                }
            }
            blockquote {
                padding-left: 16px;
                position: relative;
                margin-top: 16px;
                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 4px;
                    background: #F0503B;
                    @include border-radius(2px);
                }
            }
            .table-info {
                margin: 0;
                .name {
                    min-width: 88px;
                    text-align: right;
                    font-size: 14px;
                    color: #9B9B9B;
                    line-height: 1.3em;
                    padding: 8px 30px 8px 0;
                    border-right: 1px solid #eee;
                }
                .content {
                    padding: 8px 0 8px 20px;
                    font-size: 14px;
                    color: #6A6A6A;
                    line-height: 1.3em;
                    & > * {
                        vertical-align: middle;
                    }
                    .discount-price {
                        display: inline-block;
                        font-size: 16px;
                        color: #F0503B;
                        line-height: 1em;
                        margin-right: 6px;
                        font-weight: 900;
                        font-family: "Lato", "Helvetica Neue", "HiraKakuProN-W6", "微软雅黑", "微軟正黑體", "Microsoft Yahei", sans-serif;
                        .highlight {
                            font-size: 32px;
                        }
                    }
                    .price {
                        display: inline-block;
                        font-size: 14px;
                        color: #171717;
                        line-height: 1em;
                        position: relative;
                        &:after {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            width: 100%;
                            left: 0;
                            top: 50%;
                            opacity: 0.7;
                            border-bottom: 2px solid #9B9B9B;
                            @include transform(rotate(-2deg) translateY(-50%));
                            @include box-shadow(0 0 1px 0);
                        }
                    }
                    .link {
                        font-size: 14px;
                        color: #01BAF2;
                        line-height: 1em;
                        padding: 0;
                        border-color: #01BAF2;
                        &:hover {
                            color: darken(#01BAF2, 20%);
                            border-color: darken(#01BAF2, 20%);
                        }
                    }
                    .ticket-type {
                        display: inline-block;
                        margin-right: 10px;
                        padding: 0 10px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 13px;
                        color: #6A6A6A;
                        border: 1px solid #9B9B9B;
                        @include border-radius(2px);
                        cursor: pointer;
                        &.active {
                            color: #F0503B;
                            border-color: #F0503B;
                        }
                    }
                    .help {
                        display: inline-block;
                        position: relative;
                        .help-tip {
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            text-align: center;
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 16px;
                            color: #fff;
                            background-color: #4A4A4A;
                            @include border-radius(100%);
                            cursor: default;
                        }
                        &:hover {
                            .help-content {
                                display: inline-block;
                            }
                        }
                        .help-content {
                            display: none;
                            position: absolute;
                            right: -10px;
                            top: 50%;
                            @include transform(translate(100%, -50%));
                            min-width: 245px;
                            padding: 16px;
                            background: #333333;
                            @include box-shadow(0px 1px 3px 0px rgba(0, 0, 0, 0.30));
                            @include border-radius(3px);
                            &:before {
                                content: '';
                                display: inline-block;
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                left: -4px;
                                top: 50%;
                                @include transform(translateY(-50%) rotate(45deg));
                                background: #333333;
                            }
                            .ticket-type-info {
                                margin-bottom: 16px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                .title {
                                    font-size: 14px;
                                    color: #FFFFFF;
                                    line-height: 1em;
                                    margin-bottom: 6px;
                                }
                                .desc {
                                    opacity: 0.8;
                                    font-size: 12px;
                                    color: #FFFFFF;
                                    line-height: 1em;
                                }
                            }
                        }
                    }
                    .number-input {
                        display: inline-block;
                        height: 32px;
                        line-height: 32px;
                        border: 1px solid #ccc;
                        text-align: center;
                        & > * {
                            vertical-align: top;
                        }
                        input {
                            display: inline-block;
                            height: 30px;
                            line-height: 1em;
                            min-width: 50px;
                            width: 50px;
                            font-size: 16px;
                            color: #000000;
                            border: 1px solid #CCCCCC;
                            border-width: 0 1px;
                            margin: 0;
                            text-align: center;
                            @include box-shadow(none !important);
                            outline-offset: initial;
                        }
                        .increase,
                        .decrease {
                            display: inline-block;
                            width: 20px;
                            height: 30px;
                            font-size: 20px;
                            line-height: 30px;
                            background: #F3F3F3;
                            cursor: pointer;
                            &:hover {
                                background: darken(#F3F3F3, 10%);
                            }
                        }
                    }
                    .note {
                        font-size: 14px;
                        color: #9B9B9B;
                        line-height: 1em;
                        margin-left: 16px;
                    }
                }
            }
            //加入購物車鈕、立即購買鈕
            .button {
                font-size: 16px;
                color: #FEFEFE;
                margin-right: 4px;
                padding: 0 32px;
                border: none;
                @include border-radius(3px);
                &:last-child {
                    margin-left: 0;
                }
                &.icon-button {
                    padding: 0;
                    width: 50px;
                    color: #9B9B9B;
                    text-align: center;
                    .icon {
                        margin: 0;
                    }
                    &.share {
                        &:hover {
                            color: $main-color;
                        }
                    }
                    &:hover {
                        color: #FF5C64;
                    }
                }
                &.add {
                    min-width: 120px;
                    background: #777777;
                    margin-bottom: 5px;
                    &:hover {
                        background: darken(#777777, 10%);
                    }
                }
                &.buy {
                    min-width: 200px;
                    background: #F0503B;
                    margin-bottom: 5px;
                    &:hover {
                        background: darken(#F0503B, 10%);
                    }
                }
                &.disabled,
                &.disabled:hover {
                    background: #9B9B9B;
                    cursor: default;
                    padding: 0 20px;
                }
                .poi-dropdown-menu {
                    top: 60px;
                    right: initial;
                    left: 0;
                    &:after,
                    &:before {
                        left: 15px;
                        right: initial;
                    }
                }
            }
            .pay-method-container {
                display: inline-block;
                margin-top: 20px;
                font-size: 14px;
                color: #9B9B9B;
                line-height: 1em;
                & > * {
                    vertical-align: middle;
                }
                .pay-method-list {
                    display: inline-block;
                    margin: 0 20px;
                }
                .pay-method {
                    margin-right: 8px;
                }
            }
        }
    }
    //各頁POI左側內容設定
    .poi-content {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        overflow: auto;
    }
    .content-block {
        background-color: #fff;
        margin: 0;
        padding: 40px;
        border-bottom: 1px solid #eee;
        position: relative;
        .clear {
            clear: both;
        }
        .info {
            position: relative;
            min-width: 200px;
            .title {
                font-size: 36px;
                font-weight: bold;
                color: #333;
                text-align: left;
            }
            .subtitle {
                font-size: 18px;
                font-weight: bold;
                color: #000;
                line-height: 1em;
                margin-bottom: 24px;
                .mark {
                    display: inline-block;
                    height: 20px;
                    width: 4px;
                    background: #01BAF2;
                    @include border-radius(3px);
                    vertical-align: middle;
                    margin: 0 6px 0 0;
                    padding: 0;
                    
                }
                .green{
                    background: #569241;
                }
                h3 {
                    display: inline-block;
                    margin: initial;
                    vertical-align: middle;
                    font-size: 20px;
                }
                .info-more {
                    position: relative;
                    margin-left: 15px;
                    vertical-align: middle;
                }

            }
            .summary {
                margin-top: 17px;
                font-size: 14px;
                color: #333;
                text-align: left;
                &:first-child {
                    color: #6A6A6A;
                    margin-top: 0;
                    margin-bottom: 16px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                > * {
                    vertical-align: middle;
                }
                .ranks {
                    font-size: 16px;
                    display: inline-block;
                }
                .gray {
                    color: #9B9B9B;
                }
                p.adrank{
                    background-image: url(../images/tripadvisorl.png);
                    width: 107px;
                    height: 18px;
                    float: left;
                    margin-right: 10px;
                }
                p.destit{
                    font-size: 13px;
                    display: inline-block;
                    line-height: 1.5em;
                    height: 21px;
                    color: #515356;
                    i{
                        padding-left: 4px;
                    }
                }
                span{
                    margin-left: 2px;
                    margin-right: 20px;
                    a{
                        text-decoration: underline;
                        color: #515356;

                    }
                }
            }

            .table-info {
                word-break: break-word;
                .name {
                    display: inline-block;
                    font-size: 14px;
                    line-height: 1.5em;
                    color: #333;
                    padding: 0 16px 9px 0;
                    min-width: 110px;
                }
                .content {
                    font-size: 14px;
                    line-height: 1.5em;
                    color: #6A6A6A;
                    width: auto;
                    padding: 0 0 9px 0;
                    .link {
                        color: #01BAF2;
                    }
                    .expired {
                        display: inline-block;
                        background: #fff;
                        border: 1px solid #D0021B;
                        font-size: 13px;
                        color: #D0021B;
                        padding: 3px 6px;
                        margin-left: 8px;
                    }
                }
                &.has-map {
                    min-height: 200px;
                    margin-top: 40px;
                    .table-name {
                        min-width: 70px;
                        font-size: 16px;
                        font-weight: bold;
                        color: #333333;
                        line-height: 1em;
                        padding-right: 16px;
                        border-right: 2px solid #ddd;
                    }
                    .name {
                        min-width: 100px;
                    }
                }
            }
            .description {
                font-size: 14px;
                line-height: 1.6em;
                max-height: 1.6em * 3;
                color: #6A6A6A;
                overflow: hidden;
                @include flexbox(( display: box, box-orient: vertical));
                -webkit-line-clamp: 3;
                @include transition-property(max-height);
                @include transition-duration(350ms);
                &.expand {
                    max-height: none;
                    -webkit-line-clamp: initial;
                }
            }
            .info-expand {
                text-align: center;
                margin-top: 24px;
                & > span {
                    display: inline-block;
                    width: 240px;
                    padding: 7px 20px;
                    font-size: 12px;
                    color: #6a6a6a;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    @include box-sizing(border-box);
                    cursor: pointer;
                    &:hover {
                        color: #333;
                        border-color: #6a6a6a;
                    }
                }
            }
            .info-more {
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 13px;
                color: #31C4FF;
                line-height: 1.5em;
                padding: 4px 0;
                cursor: pointer;
                &:hover {
                    color: darken(#31C4FF, 20%);
                }
            }
            .info-advisor {
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 13px;
                line-height: 1.5em;
                padding: 0 5px;
                cursor: pointer;
                vertical-align: middle;
                height: 30px;
                line-height: 30px;
                background: #569255;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                color: #FFFFFF;
                &:hover {
                    color: darken(#CCCCCC, 20%);
                }
            }
            .control-block {
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                @include user-select(none);
                .control {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    position: relative;
                    vertical-align: middle;
                    & > span {
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 8px;
                        height: 8px;
                        border: 2px solid #A4A4A4;
                        @include transform(translate3d(-50%, -50%, 0) rotate(45deg));
                    }
                    &:hover {
                        & > span {
                            border-color: darken(#A4A4A4, 20%);
                        }
                    }
                    &.control-left {
                        & > span {
                            border-top: 0;
                            border-right: 0;
                        }
                    }
                    &.control-right {
                        & > span {
                            border-bottom: 0;
                            border-left: 0;
                        }
                    }
                }
                .control-point-block {
                    display: inline-block;
                    margin: 3px 9px;
                    vertical-align: middle;
                    .control-point {
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        @include border-radius(100%);
                        cursor: pointer;
                        position: relative;
                        vertical-align: middle;
                        margin: 1px;
                        & > span {
                            display: inline-block;
                            width: 6px;
                            height: 6px;
                            background: #ccc;
                            @include border-radius(100%);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include transform(translate3d(-50%, -50%, 0));
                        }
                        &:hover {
                            & > span {
                                background: darken(#ccc, 20%);
                            }
                        }
                        &.active {
                            & > span {
                                background: #777;
                            }
                        }
                    }
                }
            }
            .delivery-way-container {
                background: #FAFAFA;
                border: 1px solid #9B9B9B;
                @include border-radius(3px);
                padding: 30px 113px 30px 30px;
                margin-top: 40px;
                position: relative;
                .header {
                    .title {
                        display: inline-block;
                        font-size: 20px;
                        color: #4A4A4A;
                        line-height: 1em;
                        vertical-align: middle;
                    }
                    .labels {
                        display: inline-block;
                        margin-left: 16px;
                        vertical-align: middle;
                        .label {
                            display: inline-block;
                            font-size: 14px;
                            color: #777;
                            line-height: 1em;
                            padding: 6px 10px;
                            margin: 0 12px 0 0;
                            border: 2px solid #777;
                            font-weight: bold;
                            @include border-radius(40px);
                            &.green {
                                border-color: #38D321;
                                color: #38D321;
                            }
                            &.blue {
                                border-color: #31C4FF;
                                color: #31C4FF;
                            }
                        }
                    }
                }
                .descript {
                    font-size: 14px;
                    color: #4A4A4A;
                    line-height: 1.5em;
                    margin-top: 20px;
                }
                .promotions-label {
                    display: inline-block;
                    position: absolute;
                    top: -36px;
                    right: -23px;
                    width: 126px;
                    height: 126px;
                    background-image: url('../images/svg/Star1.svg');
                    @include border-radius(100%);
                    @include transform(rotate(20deg));
                    .descript {
                        font-size: 17px;
                        font-weight: bold;
                        color: #FFFFFF;
                        line-height: 1.5em;
                        margin: 0;
                        position: absolute;
                        top: 45%;
                        left: 50%;
                        @include transform(translate(-50%, -50%));
                        width: 90%;
                        text-align: center;
                    }
                }
            }
        }
        .infos-wrap {
            margin: -20px -30px 0 -30px;
            .infos {
                display: inline-block;
                .info {
                    &.inline-info {
                        margin: 20px 30px 0 30px;
                        min-width: initial;
                    }
                    .title {
                        font-size: 18px;
                        color: #333;
                        line-height: 1.5em;
                    }
                    .description {
                        font-size: 13px;
                        color: #6A6A6A;
                        line-height: 1.5em;
                        -webkit-line-clamp: initial;
                        max-height: initial;
                    }
                }
            }
        }
        .tool-bar {
            display: inline-block;
            @include user-select(none);
            margin-top: 16px;
            .tool {
                display: inline-block;
                text-align: center;
                color: #6A6A6A;
                margin: 0;
                cursor: pointer;
                position: relative;
                & + .tool {
                    margin: 0 0 0 36px;
                }
                &.active {
                    color: #31C4FF;
                    & > i {
                        border-color: #31C4FF;
                        &.delay {
                            @include transition-delay(350ms);
                        }
                        &.animate {
                            top: -40px;
                            font-size: 32px;
                            opacity: 0.8;
                            @include transition-delay(0ms);
                        }
                    }
                }
                &:hover {
                    color: darken(#6A6A6A, 20%);
                    & > i {
                        border-color: darken(#9b9b9b, 20%);
                    }
                    &.active {
                        color: darken(#31C4FF, 20%);
                        i {
                            border-color: darken(#31C4FF, 20%);
                        }
                    }
                }
                & > i {
                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    border: 1px solid #9b9b9b;
                    @include border-radius(100%);
                    font-size: 16px;
                    margin: 0 0 12px 0;
                    text-align: center;
                    &:before {
                        vertical-align: middle;
                    }
                    &:after {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        height: 100%;
                    }
                    &.animate {
                        border: none;
                        position: absolute;
                        top: -10px;
                        left: 50%;
                        @include transform(translateX(-50%));
                        font-size: 14px;
                        opacity: 0;
                        @include transition(all 350ms ease);
                    }
                }
                span {
                    display: block;
                }
                .poi-dropdown-menu {
                    top: 80px;
                    right: -6px;
                }
            }
        }
        .slideshow {
            width: 300px;
            height: 200px;
            margin: 0 35px 0 0;
            &.multi-slide {
                width: 100%;
                height: auto;
                margin: 0;
                background-color: inherit;
                .slides {
                    height: auto;
                    @include transition(all 350ms ease-in-out);
                    .slide {
                        height: auto;
                        display: inline-block;
                        position: relative;
                        float: left;
                        &.active {
                            display: block;
                        }
                    }
                }
            }
        }
        .map {
            width: 360px;
            height: 200px;
            background: #ddd;
            position: relative;
            @media screen and (max-width: 1280px) {
                float: initial;
                margin-bottom: 20px;
                margin-top: 20px;
            }
            .open-google-map {
                display: inline-block;
                position: absolute;
                right: 20px;
                bottom: 20px;
                padding: 0 10px;
                font-size: 13px;
                color: #FFFFFF;
                line-height: 28px;
                opacity: 0.5;
                background: #333333;
                @include box-shadow(0px 1px 3px 0px rgba(0, 0, 0, 0.30));
                @include border-radius(3px);
                cursor: pointer;
                &:hover {
                    background: darken(#333333, 20%);
                }
            }
        }
        .videos {
            margin: -10px -20px;
            .video-wrap {
                .video {
                    margin: 10px 20px;
                    .thumbnail {
                        position: relative;
                        display: inline-block;
                        width: 100px;
                        height: 100px;
                        background: #eee;
                        @include border-radius(3px);
                        position: relative;
                        margin-right: 16px;
                        vertical-align: top;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        overflow: hidden;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-image: url(/public/images/play-btn.svg);
                            background-size: 36px;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        i {
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include transform(translateX(-50%)translateY(-50%));
                            width: 36px;
                            height: 36px;
                            font-size: 13px;
                            color: #fff;
                            opacity: 0.4;
                            background: #000;
                            @include border-radius(100%);
                            &:before {
                                display: inline-block;
                                position: absolute;
                                top: 50%;
                                left: 55%;
                                @include transform(translateX(-50%)translateY(-50%));
                            }
                        }
                    }
                    .summary {
                        margin: 0 0 10px 0;
                        vertical-align: top;
                        .title {
                            font-size: 16px;
                            line-height: 1.5em;
                            max-height: 1.5em * 2;
                            color: #4A4A4A;
                            @include flexbox(( display: box, box-orient: vertical));
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                        }
                        .meta {
                            font-size: 13px;
                            color: #4a4a4a;
                            margin-top: 6px;
                        }
                        .description {
                            font-size: 13px;
                            line-height: 1.7em;
                            max-height: 1.7em * 2;
                            color: #777;
                            margin-top: 10px;
                            @include flexbox(( display: box, box-orient: vertical));
                            -webkit-line-clamp: 3;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        .ticket,
        .activity {
            background: #fff;
            overflow: hidden;
            position: relative;
            min-height: 80px;
            .border {
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 18px 25px 18px 20px;
                border: 1px solid #ddd;
            }
            .summary {
                vertical-align: top;
                margin-top: 0;
                min-width: 150px;
                .message {
                    max-height: 1.5em * 2;
                    @include flexbox(( display: box, box-orient: vertical));
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    .blue {
                        color: #31C4FF;
                    }
                }
            }
            .buttons {
                vertical-align: middle;
            }
            //灰色+藍色按鈕組
            .button {
                float: right;
                min-width: 104px;
                height: 40px;
                margin: 1px 0 1px 12px;
                padding: 0;
                border: 1px solid #aaa;
                @include border-radius(3px);
                font-size: 13px;
                line-height: 38px;
                background: #fff;
                color: #777;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background: darken(#fff, 10%);
                    color: darken(#777, 10%);
                }
                &.orange {
                    color: #fff;
                    background: #FD6F2D;
                    border-color: #FD6F2D;
                    &:hover {
                        background: darken(#FD6F2D, 10%);
                        border-color: darken(#FD6F2D, 10%);
                    }
                }
                &.blue {
                    color: #fff;
                    background: #31C4FF;
                    border-color: #31C4FF;
                    &:hover {
                        background: darken(#31C4FF, 10%);
                        border-color: darken(#31C4FF, 10%);
                    }
                }
            }
        }
        .ticket {
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                right: 0;
                top: 5px;
                @include border-radius(100%);
                width: 10px;
                height: 7.5px;
                @include transform(translateX(50%));
                @include box-shadow(0 0 0 0 #fff,
                    0 12.5px 0 0 #fff,
                    0 25px 0 0 #fff,
                    0 37.5px 0 0 #fff,
                    0 50px 0 0 #fff,
                    0 62.5px 0 0 #fff,
                    0 75px 0 0 #fff,
                    0 87.5px 0 0 #fff,
                    0 100px 0 0 #fff,
                    0 112.5px 0 0 #fff,
                    0 125px 0 0 #fff,
                    0 137.5px 0 0 #fff,
                    0 150px 0 0 #fff,
                    0 0 0 1px #ccc,
                    0 12.5px 0 1px #ccc,
                    0 25px 0 1px #ccc,
                    0 37.5px 0 1px #ccc,
                    0 50px 0 1px #ccc,
                    0 62.5px 0 1px #ccc,
                    0 75px 0 1px #ccc,
                    0 87.5px 0 1px #ccc,
                    0 100px 0 1px #ccc,
                    0 112.5px 0 1px #ccc,
                    0 125px 0 1px #ccc,
                    0 137.5px 0 1px #ccc,
                    0 150px 0 1px #ccc);
                background: #fff;
                @include box-sizing(content-box);
            }
            & + .ticket {
                margin-top: 16px;
            }
            .title {
                font-size: 16px;
                color: #4A4A4A;
            }
            .description {
                font-size: 13px;
                color: #9B9B9B;
                line-height: 1.5em;
                max-height: 1.5em * 2;
                @include flexbox(( display: box, box-orient: vertical));
                -webkit-line-clamp: 2;
                overflow: hidden;
                margin-top: 9px;
            }
            .message {
                margin: 12px 0 0 0;
                font-size: 13px;
                font-weight: bold;
                color: #6A6A6A;
                &.price {
                    display: inline-block;
                    font-size: 12px;
                    margin: 9px 10px 0 0;
                }
                &.orange {
                    color: #FD6F2D;
                }
                &.blue {
                    color: #31C4FF;
                }
            }
        }
        .activity {
            & + .activity {
                margin-top: 16px;
            }
            .title {
                display: inline-block;
                font-size: 16px;
                color: #4A4A4A;
                margin: 0 12px 12px 0;
            }
            .date {
                display: inline-block;
                font-size: 13px;
                color: #777;
                line-height: 16px;
                margin: 0 12px 12px 0;
            }
            .message {
                margin: 0;
                font-size: 13px;
                color: #777;
                line-height: 1.5em;
            }
        }
        .notes,
        .trips,
        .events,
        .stores,
        .stays {
            .thumbnail {
                background: #eee;
                @include border-radius(3px);
                height: 0;
                padding-bottom: calc(50%);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                overflow: hidden;
                position: relative;
            }
            .summary {
                margin-top: 10px;
                .title {
                    font-size: 18px;
                    color: #333;
                    line-height: 1.3em;
                    max-height: 1.3em * 2;
                    @include flexbox(( display: box, box-orient: vertical));
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
                .meta {
                    margin-top: 8px;
                    font-size: 13px;
                    color: #777;
                    line-height: 1.5em;
                }
                .description {
                    margin-top: 8px;
                    font-size: 13px;
                    color: #777;
                    line-height: 1.6em;
                    max-height: 1.6em * 3;
                    @include flexbox(( display: box, box-orient: vertical));
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
            }
        }
        .funthings{
            margin: -10px;
            .funthings-wrap {

                .funthings {
                 display: block;
                 background: #FFFFFF;
                 -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), inset -1px 1px 10px 0px rgba(39, 27, 4, 0.05);
                 -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), inset -1px 1px 10px 0px rgba(39, 27, 4, 0.05);
                 box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), inset -1px 1px 10px 0px rgba(39, 27, 4, 0.05);
                 -moz-border-radius: 5px;
                 -webkit-border-radius: 5px;
                 border-radius: 5px;
                 position: relative;
                 margin: 10px;
             }
         }
         .thumbnail {
            background: #eee;
            @include border-radius(3px);
            height: 0;
            padding-bottom: calc(70%);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            overflow: hidden;
        }
        .summary {
            margin-top: 10px;
            .title {
                font-size: 18px;
                color: #333;
                line-height: 1.3em;
                max-height: 1.3em * 2;
                @include flexbox(( display: box, box-orient: vertical));
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
            .meta {
                margin-top: 8px;
                font-size: 13px;
                color: #777;
                line-height: 1.5em;
            }
            .description {
                margin-top: 8px;
                font-size: 13px;
                color: #fff;
                line-height: 1.6em;
                max-height: 1.6em * 3;
                @include flexbox(( display: box, box-orient: vertical));
                -webkit-line-clamp: 3;
                overflow: hidden;
            }
        }
    }
    .notes {
        margin: -10px;
        .note-wrap {
            .note {
                margin: 10px;
            }
        }
    }
    .tripadv{
        width: 100%;
        text-align: center;
        padding: 20px;
        border-bottom: 1px solid #eee;
        .advcon{
            width: 684px;
            margin: 0 auto;
        }
        .advright{
            text-align: center;
            width: 20%;
            float: left;
            padding-top: 8px;
        }
        .advleft{
            text-align: center;
            width: 80%;
            float: right;
        }
        h1{
            font-size: 45px;
            color: #569255;
            font-weight: bold;
        }
        p.adrank{
            background-image: url(../images/tripadvisorl.png);
            width: 107px;
            height: 18px;
            margin: 0 auto;
        }
        .utxt{
            font-size: 14px;
            text-decoration: underline;
            color: #777777;
            a {
              color: #777777;  
          }
          a:hover{
            color: #515151;  
        }
    }
    .rowline{
        margin-bottom:9px;
        text-align: left;
        color: #777777;
        font-size: 13px;
        .row_label{
            display: inline-block;
            padding: 0;
            margin: 0;
            width: 40px;
        }
        .row_bar{
            background: #e9e9e9 none repeat scroll 0 0;
            display: inline-block;
            height: 12px;
            margin-right: 10px;
            margin-left: 10px;
            position: relative;
            top: 2px;
            vertical-align: top;
            width: 80%;
            text-align: left;
        }

        .row_fill{
            background: #6ba454 none repeat scroll 0 0;
            display: inline-block;
            height: 12px;
            width: 30%;
            font-size: 11px;
            vertical-align: top;
        }
    }

}
.advcomment{
    width: 100%;
    text-align: left;
    padding: 20px;
    font-size: 14px;
    color: #777777;
    border-bottom: 1px solid #eee;
    p.adrank{
        display: inline-block;
        margin-top: 10px;
        background-image: url(../images/tripadvisorno.png);
        width: 69px;
        height: 16px;
    }
    p.authortxt{
        line-height: 1.5em;
        display: inline-block;
        margin-top: 10px;
    }
}
.advcomment:last-child{
    border-bottom:none;
}
.trips {
    margin: -10px;
    .trip-wrap {
        .trip {
            margin: 10px;
            height: auto;
            padding-bottom: initial;
            @include border-radius(0);
            &:before {
                content: initial;
            }
            .thumbnail {
                position: relative;
                @include border-radius(3px);
                padding-bottom: calc(70%);
                background: #eee;
                background-size: cover;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    @include background-image(linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, #000000 100%));
                }
                .ranks {
                    display: inline-block;
                    position: absolute;
                    left: 16px;
                    bottom: 18px;
                    font-size: 12px;
                    color: #CBCBCB;
                }
                .recommend {
                    display: inline-block;
                    position: absolute;
                    right: 16px;
                    bottom: 16px;
                    opacity: 0.8;
                    font-size: 13px;
                    color: #fff;
                    line-height: 1.5em;
                }
                .duration {
                    display: inline-block;
                    position: absolute;
                    top: 25px;
                    left: 20px;
                    font-size: 36px;
                    font-weight: bold;
                    color: #fff;
                    line-height: 28px;
                    span {
                        font-size: 14px;
                        line-height: 28px;
                    }
                }
            }
            .meta {
                color: #6A6A6A;
            }
            .description {
                color: #777;
            }
        }
    }
}
.events {
    margin: -10px;
    .thumbnail {
        padding-bottom: calc(68%);
    }
    .summary {
        .meta {
            &.gray {
                color: #9B9B9B;
            }
        }
        .date-block {
            margin-top: 8px;
            position: relative;
            overflow: hidden;
            .date {
                display: block;
                font-size: 13px;
                color: #777;
                line-height: 1.6em;
                word-break: break-all;
                &.expired {
                    color: #D0021B;
                }
            }
            .expired-tag {
                display: inline-block;
                float: right;
                font-size: 13px;
                color: #D0021B;
                border: 1px solid #D0021B;
                padding: 3px 6px;
            }
        }

        .info {
            position: relative;
            &.no-meta {
                min-height: 110px;
            }
            &.has-author-img {
                padding-top: 28px;
            }
            .author-img {
                display: inline-block;
                position: absolute;
                left: 20px;
                top: -30px;
                width: 44px;
                height: 44px;
                border: 2px solid #fff;
                @include border-radius(100%);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .author-name{
                display: inline-block;
                position: absolute;
                top: 0px;
                left: 70px;
                font-size: 13px;
                color: #9B9B9B;
                line-height: 1em;
            }

            .date.top-right {
                display: inline-block;
                position: absolute;
                top: 12px;
                right: 30px;
                font-size: 13px;
                color: #9B9B9B;
                line-height: 1em;
            }
            h4.title {
                line-height: 1.5em;
                max-height: 3em;
                overflow-y: hidden;
                text-overflow: ellipsis;
                font-size: 18px;
                font-weight: bold;
                color: #333;
                margin-bottom: 16px;
                &.row-2 {
                    height: auto;
                    line-height: 1.3em;
                    max-height: 1.3em * 2;
                    white-space: normal;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    margin-bottom: 12px;
                }
            }
            .summary {
                font-size: 13px;
                color: #333;
                margin-bottom: 12px;
                max-height: 1em;
                overflow: hidden;
                text-overflow : ellipsis;
                white-space : nowrap;
            }
            p.descript {
                font-size: 13px;
                color: #777;
                line-height: 1.7em;
                max-height: 1.7em * 2;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                vertical-align: middle;
                i{
                    width: 14px;
                    height: 18px;
                    font-size: 18px;
                    color: #6A6A6A;
                    margin-right:8px; 
                    vertical-align: middle;
                }
            }
            p.adrank{
                background-image: url(../images/tripadvisor.png);
                width: 95px;
                height: 16px;
                margin-top: 10px;
                float: left;
            }
            p.left-date{
                width: 120px;
                height: 16px;
                margin-top: 10px;
                float: left;
                font-size: 13px;
                color: #777;
                i{
                 

                    color: #6A6A6A;
                    vertical-align: middle;
                }
            }
            p.destit{
                font-size: 13px;
                text-align: right;
                line-height: 1.5em;
                height: 21px;
                float: right;
                color: #515356;
                margin-top: 13px;
                i{
                    padding-left: 4px;
                }
            }

            .metas {
                margin-top: 12px;
                font-size: 13px;
                color: #777;
                div {
                    vertical-align: top;
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &.location {
                        font-size: 13px;
                        color: #9B9B9B;
                        line-height: 1em;
                    }
                    &.address {
                        display: block;
                        i {
                            width: 14px;
                            height: 18px;
                            font-size: 18px;
                            color: #6A6A6A;
                            vertical-align: middle;
                        }
                        span {
                            color: #444;
                            vertical-align: middle;
                        }
                        .red {
                            color: #D0021B;
                            vertical-align: middle;
                        }
                    }
                    &.date {
                        float: right;
                    }
                    &.date-range {
                        color: #6A6A6A;
                        display: block;
                        overflow: hidden;
                        i {
                            font-size: 16px;
                            vertical-align: middle;
                        }
                        span {
                            vertical-align: middle;
                        }
                        &.expired {
                            color: #D0021B;
                            .expired-mark {
                                display: inline-block;
                                float: right;
                                padding: 6px;
                                border: 1px solid #D0021B;
                                position: absolute;
                                right: 30px;
                                bottom: 27px;
                                background: #fff;
                            }
                        }
                    }
                    i {
                        margin-right: 4px;
                    }
                    a {
                        color: #9b9b9b;
                        text-decoration: none;
                        &:hover{
                            color: $blue-color;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .event-wrap {
        .event {
            margin: 10px;
        }
    }
}
.stores {
    margin: -10px;
    .thumbnail {
        padding-bottom: calc(68%);
    }
    .summary {
        .date-block {
            margin-top: 8px;
            position: relative;
            overflow: hidden;
            .price {
                display: block;
                font-size: 13px;
                color: #FF2742;
                .old-price {
                    color: #9B9B9B;
                    font-size: 12px;
                    text-decoration: line-through;
                    margin: 0 10px 0 5px;
                }
            }
            .view-count {
                display: inline-block;
                float: right;
                font-size: 12px;
                color: #777;
            }
        }
    }
    .store-wrap {
        .store {
            margin: 10px;
        }
    }
}
.stays {
    margin: -10px;
    .thumbnail {
        padding-bottom: calc(68%);
    }
    .summary {
        .date-block {
            margin-top: 8px;
            position: relative;
            overflow: hidden;
            .price {
                display: block;
                font-size: 12px;
                color: #FD6F2D;
                line-height: 24px;
                word-break: break-all;
            }
            .booking {
                display: inline-block;
                float: right;
                font-size: 12px;
                color: #FEFEFE;
                background: #FD6F2D;
                padding: 6px 8px;
                @include border-radius(2px);
                &:hover {
                    cursor: pointer;
                    background-color: darken(#FD6F2D, 10%);
                }
            }
        }
    }
    .stay-wrap {
        .stay {
            margin: 10px;
        }
    }
}
.promotions {
    background: rgba(252, 110, 44, 0.03);
    border: 1px solid #FD6F2D;
    @include border-radius(3px);
    padding: 30px;
    .title {
        font-size: 20px;
        color: #FD6F2D;
        margin: 0 0 16px 0;
        .sub-title {
            opacity: 0.8;
            font-size: 14px;
            line-height: 1.2em;
            margin-left: 20px;
        }
    }
    .description {
        font-size: 14px;
        color: #4A4A4A;
        line-height: 1.5em;
    }
}
.travel-notes-content {
    margin-bottom: 40px;
    width: 100%;
    border: none;
    font-size: 16px;
    color: #6A6A6A;
    line-height: 1.5em;
    @include box-shadow(none);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 24px;
        color: #000;
        line-height: 1.5em;
    }
    u {
        padding-bottom: 4px;
        text-decoration: none;
        border-bottom: 1px solid;
    }
    p {}
    blockquote {
        border-left: 3px solid #545454;
        padding: 5px 5px 5px 18px;
        color: #777777;
    }
    img {
        max-width: 100%;
    }
}
.comments {
    margin: 40px 0 0 0;
}
&.other {
    //右側其他內容區塊
    min-width: 320px;
    margin: 0 0px 30px 30px;
    background: inherit;
    border: none;
    padding: 24px;
    background-color: #FFF;
    border-bottom: solid 1px #E9EAEC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    .content-types {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 60px;
        // box-shadow: 0 -2px 0 0 #DDD inset;
        .type {
            display: inline-block;
            height: 28px;
            font-size: 14px;
            padding: 2px 4px 4px;
            color: #777;
            cursor: pointer;
            & + .type {
                margin-left: 8px;
            }
            &:hover {
                color: #333;
            }
            &.active {
                color: #333;
                border-bottom: 2px solid #333;
            }
        }
    }
    .content {
        margin: 16px 0 0 0;
        overflow: hidden;
        &:hover {
            cursor: pointer;
            .info {
                .title {
                    color: #000;
                }
                .description {
                    color: #4a4a4a;
                }
            }
        }
        .thumbnail {
            display: inline-block;
            width: 80px;
            height: 80px;
            @include border-radius(3px);
            margin: 0;
            padding: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: #eee;
        }
        .info {
            display: block;
            overflow: hidden;
            padding: 0 0 0 12px;
            min-width: 140px;
            .title {
                font-size: 15px;
                color: #333;
                margin-bottom: 5px;
                line-height: 1.2em;
                max-height: 1.2em * 3;
                @include flexbox(( display: box, box-orient: vertical));
                -webkit-line-clamp: 3;
                overflow: hidden;
                &.two-lines {
                    max-height: 1.2em * 2;
                    -webkit-line-clamp: 2;
                }
            }
            .description {
                font-size: 13px;
                color: #777;
                line-height: 1.5em;
                max-height: 1.5em * 2;
                margin-bottom: 6px;
                @include flexbox(( display: box, box-orient: vertical));
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
            .ranks {
                display: inline-block;
                color: #CBCBCB;
            }
            .distance {
                font-size: 12px;
                color: #777;
            }
            .date {
                margin-top: 12px;
                font-size: 14px;
                color: #777;
                span + span {
                    margin-left: 4px;
                }
            }
            .price {
                font-size: 13px;
                color: #FF6376;
            }
            .meta {
                font-size: 12px;
                color: #9B9B9B;
                line-height: 1em;
                margin-top: 10px;
            }
            .author-wrap {
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: 0;
                .author {
                    display: inline-block;
                    font-size: 12px;
                    color: #9B9B9B;
                    line-height: 1em;
                    margin-right: 10px;
                }
                .author-img {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    @include border-radius(100%);
                }
            }
            .align-right {
                .date {
                    display: inline-block;
                    float: left;
                    font-size: 12px;
                    color: #9B9B9B;
                    line-height: 1em;
                    margin-top: 10px;
                }
            }
        }
    }
    &.card-mode {
        padding: 0 0 16px 0;
        margin: 0 0 20px 20px;
        .subtitle {
            margin: 0;
            padding: 20px;
            border-bottom: 1px solid #ddd;
            font-size: 16px;
            line-height: 1em;
            h3 {
                font-size: 16px;
            }
        }
        .content {
            padding: 0 16px;
        }
    }
    &.store {
        padding: 16px;
        margin: 0 0 20px 20px;
        color: #fff;
        background: #31C4FF;
        @include box-shadow(0px 1px 3px 0px rgba(0, 0, 0, 0.10));
        @include border-radius(3px);
        .content {
            margin: 0;
            .info {
                .title {
                    color: #fff;
                }
                .meta {
                    color: #fff;
                    line-height: 1.5em;
                    margin-top: 5px;
                    p {
                        line-height: 1.5em;
                        margin-bottom: 3px;
                    }
                }
            }
        }
        //進店逛逛+收藏商品按鈕
        .two-button {
            margin-top: 16px;
            white-space: nowrap;
            .button {
                background: #FFFFFF;
                border: none;
                @include border-radius(3px);
                width: calc(50% - 4px);
                margin: 0 8px 0 0;
                &:last-child {
                    margin: 0;
                }
                &:hover {
                    background: darken(#fff, 10%);
                }
                &.blue {
                    color: #fff;
                    background: rgba(0, 0, 0, 0.2);
                    &:hover {
                        background: rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }
    &.intro {
        padding: 0 0 16px 0;
        margin: 0 0 20px 20px;
        .title {
            margin: 0;
            padding: 20px 16px 5px 16px;
            font-size: 16px;
            line-height: 1em;
            h3 {
                font-size: 16px;
            }
        }
        .descript {
            font-size: 13px;
            color: #777;
            line-height: 1.5em;
            padding: 0 16px;
        }
    }
}
}
.status-bar {
    background-color: #FCFCFC;
    margin: 0;
    padding: 23px 40px;
    border-bottom: 1px solid #eee;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    .link {
        display: inline-block;
        color: #31C4FF;
        i {
            margin-right: 5px;
        }
    }
    .message {
        display: inline-block;
        margin: 0 20px;
        color: #777;
        .link {
            color: #31C4FF;
            padding-bottom: 2px;
            border-bottom: 1px solid #31C4FF;
            &:hover {
                color: darken(#31C4FF, 20%);
                border-color: darken(#31C4FF, 20%);
            }
        }
    }
    .date {
        display: inline-block;
        color: #777;
    }
}
.trip-block {
    background-color: #fff;
    margin: 0;
    padding-bottom:20px;
    padding-right:40px;
    font-size: 14px;
    line-height: 1.6em;
    position: relative;
    color: #6A6A6A;
    overflow: hidden;
}
.trip-container {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: relative;
    .tab-bar {
        display: inline-block;
        margin: 40px auto;
        .tab {
            display: inline-block;
            margin: -1px;
            padding: 12px 35px;
            border: 1px solid #C3C4C5;
            font-size: 13px;
            color: #9B9B9B;
            background-color: #F3F3F3;
            line-height: 1em;
            &:first-child {
                @include border-radius(3px 0 0 3px);
            }
            &:last-child {
                @include border-radius(0 3px 3px 0);
            }
            &.active {
                color: #6A6A6A;
                background-color: #fff;
            }
        }
    }
    .tab-content {
        overflow: hidden;
        &.list {
            text-align: left;
            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 33px;
                border-left: 1px dashed #ccc;
            }
            .sticky-map-wrap {
                display: inline-block;
                width: 100%;
                padding: 0 40px 0 25px;
                margin-top: 86px;
                &.sticky-actived {}
                .sticky-map {
                    width: 100%;
                    height: 260px;
                    background: #ddd;
                    display: inline-block;
                    position: relative;
                    .tool {
                        opacity: 0.8;
                        background: #333333;
                        @include border-radius(3px);
                        color: #FEFEFE;
                        text-align: center;
                        cursor: pointer;
                    }
                    .toggle-size {
                        display: inline-block;
                        position: absolute;
                        top: 10px;
                        right: 110px;
                        width: 36px;
                        height: 36px;
                        &:before {
                            content: '';
                            display: inline-block;
                            height: 100%;
                            vertical-align: middle;
                        }
                        i {
                            vertical-align: middle;
                        }
                    }
                    md-select {
                        margin: 0;
                        display: inline-block;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        width: 95px;
                        height: 36px;
                        .md-select-label {
                            border: none;
                            padding: 11px 0 11px 20px;
                            line-height: 1em;
                            color: #FEFEFE;
                            &:before,
                            &:after {
                                content: '';
                                display: inline-block;
                                position: absolute;
                                width: 4px;
                                height: 4px;
                                right: 10px;
                                top: 50%;
                                @include transform(translateY(-50%) rotate(45deg));
                                border: 1px solid #FEFEFE;
                                border-right: none;
                                border-bottom: none;
                                margin-top: -2px;
                            }
                            &:after {
                                @include transform(translateY(-50%) rotate(-135deg));
                                margin-top: 3px;
                            }
                            .md-select-icon {
                                display: none;
                            }
                        }
                    }
                }
            }
            .spot-list {
                padding: 0;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 40px;
                }
                .trip-info {
                    padding-left: 80px;
                    position: relative;
                    margin-bottom: 20px;
                    .day {
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background: #01BAF2;
                        @include border-radius(0px 100px 100px 0px);
                        font-size: 14px;
                        color: #FEFEFE;
                        line-height: 1em;
                        padding: 10px 15px 10px 12px;
                    }
                    .date {
                        font-size: 12px;
                        color: #9B9B9B;
                        line-height: 1em;
                    }
                    .title {
                        font-size: 18px;
                        color: #333333;
                        line-height: 34px;
                        font-weight: bold;
                    }
                }
                .spot-wrap {
                    margin-bottom: 24px;
                    padding-left: 80px;
                    &:nth-child(2) {
                        margin-top: 40px;
                    }
                    .distance {
                        position: absolute;
                        top: -12px;
                        display: inline-block;
                        background: #fff;
                        border: 1px solid #ddd;
                        @include border-radius(2px);
                        font-size: 12px;
                        color: #9B9B9B;
                        line-height: 1em;
                        padding: 4px 8px;
                        // margin: 12px 0;
                        position: relative;
                        .icon {
                            color: #9B9B9B;
                            margin-right: 4px;
                        }
                        span {
                            margin-right: 10px;
                        }
                    }
                    .content {
                        position: relative;
                    }
                    .mark {
                        display: inline-block;
                        position: absolute;
                        left: -64px;
                        top: 50%;
                        @include transform(translateY(-50%));
                        width: 32px;
                        height: 32px;
                        text-align: center;
                        background: #A6A8AB;
                        @include border-radius(100%);
                        &:before {
                            content: '';
                            display: inline-block;
                            height: 100%;
                            vertical-align: middle;
                        }
                        span {
                            vertical-align: middle;
                            font-size: 14px;
                            color: #FEFEFE;
                            line-height: 17px;
                            i {}
                        }
                        .icon {
                            font-size: 18px;
                            color: #fff;
                            line-height: 32px;
                        }
                    }
                    .spot {
                        margin: 0;
                        padding: 20px;
                        background: #fff;
                        border: 1px solid #ddd;
                        @include border-radius(3px);
                        position: relative;
                        min-height: auto;
                        .thumbnail {
                            width: 90px;
                            height: 90px;
                        }
                        .info {
                            margin-left: 90px;
                            .title {
                                font-size: 16px;
                                color: #515356;
                                line-height: 1em;
                                margin-bottom: 12px;
                            }
                            .descript {
                                font-size: 13px;
                                color: #777;
                                line-height: 1.5em;
                                max-height: 1.5em * 2
                            }
                            .address,
                            .phone {
                                font-size: 12px;
                                color: #9B9B9B;
                                line-height: 1em;
                                margin-bottom: 8px;
                                i {}
                            }
                            .metas {
                                .recommend {}
                            }
                        }
                    }
                    .meal {
                        font-size: 16px;
                        color: #777;
                        line-height: 1.5em;
                        margin: 0;
                        padding: 20px;
                        background: #fff;
                        border: 1px solid #ddd;
                        @include border-radius(3px);
                        position: relative;
                    }
                    .note {
                        background: #FAFAFA;
                        border: 1px solid #DDDDDD;
                        font-size: 12px;
                        color: #9B9B9B;
                        line-height: 1em;
                        padding: 15px 20px;
                        margin-top: -1px;
                    }
                }
                .trip-expand {
                    padding-left: 80px;
                    span {
                        display: inline-block;
                        border: 1px solid #DDDDDD;
                        font-size: 12px;
                        color: #777777;
                        line-height: 1em;
                        text-align: center;
                        width: 240px;
                        padding: 7px;
                    }
                }
            }
        }
        &.calendar {
            padding: 0 40px 40px 40px;
            @media screen and (max-width: 768px) {
                overflow: auto;
                table {
                    width: 800px;
                }
            }
            table {
                width: 100%;
                min-width: 800px;
                text-align: left;
                font-size: 14px;
                color: #6A6A6A;
                line-height: 1em;
                tr {
                    border-bottom: 1px solid #DDDDDD;
                    &:last-child {
                        border-bottom: none;
                    }
                    th {
                        color: #4A4A4A;
                        font-weight: bold;
                        padding-left: 20px;
                        padding-bottom: 16px;
                    }
                    &.content {
                        &:nth-child(odd) {
                            background: #F8F9FA;
                        }
                        td {
                            padding: 20px;
                            vertical-align: top;
                            &:first-child {
                                padding-right: 16px;
                            }
                            &:nth-child(2) {
                                padding-left: 0;
                            }
                            .date-day {
                                font-size: 38px;
                                color: #333333;
                                line-height: 1em;
                                font-weight: bold;
                            }
                            h4 {
                                margin-bottom: 12px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                            p {
                                line-height: 1em;
                                margin-bottom: 12px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                &.meta {
                                    color: #9B9B9B;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .purchase-ticket {
        .preview {
            &.large {
                width: 100%;
                height: 0;
                padding-bottom: 60%;
            }
        }
        .preview-list {
            display: none;
        }
        .preview-container {
            padding: 12px;
        }
        .ticket-container {
            padding: 0 20px 20px 20px;
            .info-block {
                .button {
                    &.add {
                        width: 100%;
                        margin: 8px 0 8px 0;
                    }
                    &.buy {
                        width: 100%;
                    }
                }
                .discount {
                    height: 48px;
                    padding: 8px 0;
                }
                .title {
                    font-size: 18px;
                }
                .deadline {
                    position: initial;
                    i {
                        font-size: 24px;
                    }
                    .time-wrap {
                        margin-left: 12px;
                        .number {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    .section-wrap {
        padding: 20px 0;
        &.breadcrumb-wrap {
            padding: 20px 20px;
            background: #fff;
            border-bottom: 1px solid #ddd;
        }
        .content-block {
            // overflow: hidden;
            padding: 20px;
            text-align: left;
            &.other {
                margin: 0;
            }
            .tool-bar {
                margin-top: 16px;
            }
            .info {
                margin-bottom: 0;
                h2.title {
                    font-size: 24px;
                }
                .summary {
                    font-size: 12px;
                    span{
                        margin-left: 4px;
                        margin-right: 20px;
                    }
                }
                .delivery-way-container {
                    padding: 30px 30px 30px 30px;
                    .header {
                        .labels {
                            margin-left: 0;
                            margin-top: 12px;
                        }
                    }
                    .descript {
                        margin-top: 12px;
                    }
                }
            }
            .slideshow {
                width: 100%;
                margin: 0;
                margin-bottom: 24px;
            }
            .map {
                clear: both !important;
                width: 100%;
                margin-bottom: 24px;
            }
            .table-info .name {
                min-width: 80px;
            }
            .video-wrap .video {
                margin: 12px 20px;
                .thumbnail {
                    width: 60px;
                    height: 60px;
                }
                .summary {
                    .title {
                        font-size: 16px;
                        -webkit-line-clamp: 1;
                        margin-top: 6px;
                    }
                    .meta {
                        font-size: 12px;
                    }
                    .description {
                        display: none;
                    }
                }
            }
        }
    }
    .status-bar {
        display: none;
    }
    .ticket {
        .border {
            padding: 16px !important;
            .buttons {
                display: block;
                overflow: auto;
                clear: both;
                .button {
                    margin: 1px 0 1px 8px;
                }
            }
        }
    }
    .control-point-block {
        display: none !important;
    }
    .comments {
        .comment-wrap {
            .thumbnail-wrap {
                .thumbnail {
                    width: 32px;
                    height: 32px;
                }
            }
            .content-wrap {
                margin-left: 44px;
                .author {
                    margin-bottom: 4px;
                }
                .ranks-wrap {
                    font-size: 13px;
                }
                .comment {
                    .images {
                        .image {
                            width: 40px;
                            height: 40px;
                            .remove-btn {
                                &:before,
                                &:after {
                                    width: 1px;
                                    height: 12px;
                                }
                            }
                        }
                    }
                    textarea {
                        padding: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
}
