md-select-menu.md-default-theme {
	md-content {
		md-option {
			&[selected],
			&[selected]:focus,
			&:focus:not([selected]) {
				background-color: #01BAF2;
				color: #FFFFFF;
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}