.slideshow {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
	@include border-radius(3px);
	background-color: #eee;
	overflow: hidden;
	@include user-select(none);

	.slides {
		display: inline-block;
		width: 100%;
		height: 100%;
		.slide {
			display: inline-block;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			@include transition(left 350ms ease-in-out);
			.watermark {
				display: inline-block;
				position: absolute;
				left: 0;
				bottom: 0;
				padding: 5px;
				opacity: 0.8;
				font-size: 14px;
				color: #FEFEFE;
				line-height: 1em;
				opacity: 0.8;
				@include background-image(linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%));
			}
		}
	}

	.ctrl-btn {
		display: inline-block;
		width: 40px;
		height: 120px;
		text-align: center;
		color: #fff;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		&.prev {
			left: 0;
		}
		&.next {
			right: 0;
		}
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
		i {
			font-size: 20px;
			width: 12px;
			height: 20px;
			vertical-align: middle;
			font-weight: bold;
		}
	}

	.ctrl-panel {
		display: inline-block;
		position: absolute;
		bottom: 12px;
		left: 50%;
		@include transform(translateX(-50%));
		.ctrl-point {
			display: inline-block;
			width: 8px;
			height: 8px;
			@include border-radius(100%);
			@include opacity(0.5);
			background: #fff;
			padding: 0;
			margin: 0;
			& + .ctrl-point {
				margin-left: 4px;
			}
			&:hover,
			&.active {
				@include opacity(1);
				background: #FEFEFE;
			}
		}
	}
	.page-number {
		display: inline-block;
		position: absolute;
		font-size: 12px;
		color: #fff;
		bottom: 14px;
		left: 50%;
		@include transform(translateX(-50%));
	}
}