.spot-tickets {
	.spot-ticket-wrap {
		min-width: 200px;
	}
	.spot-ticket {
		display: block;
		position: relative;
		text-align: left;
		background-color: transparent;
		margin: 10px;
		border-radius: 5px;
		text-decoration: none;
		a {
			text-decoration: none;
		}
		.metas {
			> span {
				@media screen and (max-width: 1280px) {
					display: none;
				}
			}
		}
		.ranks {
			z-index: 10;
			display: inline-block;
			color: #CBCBCB;
			i {
				margin-right: 2px;
				&.full {
					color: #FFC43C;
				}
			}
		}
		.thumbnail {
			position: relative;
			height: 0;
			padding-bottom: calc(60%);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-color: #eee;
			margin: 0;
			@include box-shadow(0px -1px 4px 0px rgba(0,0,0,0.20));
			@include border-radius(5px);
			overflow: hidden;
			&.effect {
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-image: -webkit-linear-gradient(rgba(0,0,0,0.20) 50%, rgba(0,0,0,0.28) 100%);
					background-image: -o-linear-gradient(rgba(0,0,0,0.20) 50%, rgba(0,0,0,0.28) 100%);
					background-image: linear-gradient(rgba(0,0,0,0.20) 50%, rgba(0,0,0,0.28) 100%);
				}
			}
		}
		.tags {
			display: inline-block;
			position: absolute;
			z-index: initial;
			top: initial;
			right: initial;
			left: 16px;
			bottom: 15px;
			.tag {
				display: inline-block;
				padding: 0 10px;
				height: 30px;
				line-height: 30px;
				background: rgba(240, 59, 64, 0.7);
				@include border-radius(3px);
				font-size: 13px;
				color: #FFFFFF;
				font-weight: bold;
				& + .tag {
					margin-left: 6px;
				}
				&.blue {
					background: rgba(49, 196, 255, 0.7)
				}
			}
		}
		.mark {
			display: inline-block;
			position: absolute;
			top: 20px;
			right: -66px;
			width: 200px;
			height: 28px;
			line-height: 28px;
			background: #eee;
			font-size: 14px;
			font-weight: bold;
			color: #FFFFFF;
			text-align: center;
			@include transform(rotate(45deg));
			&.popular {
				background: #FD5F5C;
			}
			&.top-choice {
				background: #FC9932;
			}
		}
		.duration {
			display: inline-block;
			position: absolute;
			right: 20px;
			bottom: 20px;
			font-size: 14px;
			font-weight: bold;
			color: #fff;
			line-height: 1em;
			.highlight {
				font-size: 36px;
			}
		}
		.info {
			display: block;
			padding: 20px;
			background: #FFFFFF;
			@include box-shadow(0px 0px 4px 0px rgba(0,0,0,0.20), inset -1px 1px 10px 0px rgba(39,27,4,0.05));
			@include border-radius(5px);
			position: relative;

			.title {
				font-size: 16px;
				font-weight: bold;
				color: #515356;
				line-height: 1.25em;
				margin-bottom: 10px;
				overflow : hidden;
				text-overflow : ellipsis;
				white-space : nowrap;
				&.has-discount {
					margin-right: 40px;
				}
			}
			p.descript {
				font-size: 13px;
				color: #9B9B9B;
				line-height: 1.5em;
				max-height: 1.5em * 2;
				overflow: hidden;
			}
			.metas {
				font-size: 12px;
				color: #9B9B9B;
				line-height: 1em;
				.ranks {
					font-size: 12px;
				}
				.address {
					font-size: 13px;
					color: #777777;
					line-height: 18px;
					margin-top: 30px;
					& > * {
						vertical-align: top;
					}
					i {
						font-size: 18px;
					}
				}

				.date {
					font-size: 13px;
					color: #777777;
					line-height: 18px;
					margin-top: 10px;
					& > * {
						vertical-align: top;
					}
					i {
						font-size: 18px;
					}
				}
			}
			.label-container {
				margin-top: 10px;
				.label {
					display: inline-block;
					font-size: 13px;
					line-height: 1em;
					padding: 6px 10px;
					color: #777;
					background: #eee;
					@include border-radius(3px);
				}
			}
			.price {
				display: inline-block;
				position: absolute;
				right: 20px;
				bottom: 45px;
				font-size: 14px;
				color: #171717;
				line-height: 1em;
				&:after {
					content: '';
					display: inline-block;
					position: absolute;
					width: 100%;
					left: 0;
					top: 50%;
					opacity: 0.8;
					border-bottom: 2px solid #171717;
					@include transform(rotate(-2deg) translateY(-50%));
				}
			}
			.discount-price {
				display: inline-block;
				position: absolute;
				right: 20px;
				bottom: 20px;
				font-size: 14px;
				font-weight: bold;
				color: #171717;
				line-height: 1em;
				font-weight: 900;
				font-family: "Lato", "Helvetica Neue", sans-serif;
				&.red {
					color: #F03B40;
				}
				.highlight {
					letter-spacing: -1px;
					font-size: 20px;
				}
			}
			.discount {
				display: inline-block;
				position: absolute;
				top: 0;
				right: 20px;
				width: 34px;
				height: 51px;
				padding: 10px 0;
				text-align: center;
				background: #F03B40;
				font-size: 12px;
				font-weight: bold;
				color: #FFFFFF;
				line-height: 1.5em;
				overflow: hidden;
				&:after {
					content: '';
					display: inline-block;
					position: absolute;
					bottom: 0;
					left: 50%;
					@include transform(translateX(-50%));
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 17px 7px 17px;
					border-color: transparent transparent #ffffff transparent;
				}
				.highlight {
					font-size: 16px;
				}
			}
		}
		&.no-ticket-style {
			.thumbnail {
				@include border-radius(5px 5px 0 0);
			}
			.info {
				@include border-radius(0 0 5px 5px);
				&:before,
				&:after {
					content: none;
				}
			}
		}
	}
}

.purchases-page {
	@media screen and (max-width: 758px) {
		padding: 0 20px;
		.slideshow-wrap {
			.header {
				.control-block {
					display: none;
				}
			}
		}
	}
	.slideshow-wrap {
		position: relative;
		margin: 60px auto;
		max-width: 1268px;
		
		.header {
			position: relative;
			margin: 40px 0;
			& > * {
				vertical-align: middle;
			}
			.title {
				display: inline-block;
				font-size: 24px;
				color: #171717;
				line-height: 1em;
				margin-right: 24px;
			}
			.control-block {
				display: inline-block;
				position: relative;
				@include user-select(none);
				.control {
					display: inline-block;
					width: 16px;
					height: 16px;
					cursor: pointer;
					position: relative;
					vertical-align: middle;
					& > span {
						display: inline-block;
						position: absolute;
						top: 50%;
						left: 50%;
						width: 13px;
						height: 13px;
						border: 3px solid #A4A4A4;
						@include transform(translate3d(-50%,-50%,0) rotate(45deg));
					}
					&:hover {
						& > span {
							border-color: darken(#A4A4A4, 20%);
						}
					}
					&.control-left {
						& > span {
							border-top: 0;
							border-right: 0;
						}
					}
					&.control-right {
						& > span {
							border-bottom: 0;
							border-left: 0;
						}
					}
				}
				.control-point-block {
					display: inline-block;
					margin: 3px;
					vertical-align: middle;

					.control-point {
						display: inline-block;
						width: 15px;
						height: 16px;
						@include border-radius(100%);
						cursor: pointer;
						position: relative;
						vertical-align: middle;
						margin: 1px;
						& > span {
							display: inline-block;
							width: 10px;
							height: 10px;
							background: #ccc;
							@include border-radius(100%);
							position: absolute;
							top: 50%;
							left: 50%;
							@include transform(translate3d(-50%,-50%,0));
						}
						&:hover {
							& > span {
								background: darken(#ccc, 20%);
							}
						}
						&.active {
							& > span {
								background: #777;
							}
						}
					}
				}
			}
			.more-link {
				display: inline-block;
				position: absolute;
				right: 0;
				top: 50%;
				@include transform(translateY(-50%));
				font-size: 16px;
				color: #6A6A6A;
				line-height: 1em;
				margin: 0;
				padding: 0 20px 0 0;
				cursor: pointer;
				&:before,
				&:after {
					content: '';
					display: inline-block;
					position: absolute;
					right: 0;
					top: 50%;
					@include transform(translateY(-50%) rotate(45deg));
					width: 10px;
					height: 10px;
					border: 1px solid #6A6A6A;
					border-width: 1px 1px 0 0;
				}
				&:before {
					right: 5px;
				}
				&:hover {
					color: darken(#6A6A6A, 10%);
					&:before,
					&:after {
						border-color: darken(#6A6A6A, 10%);
					}
				}
			}
		}
	}
	.slideshow {
		&.multi-slide {
			width: 100%;
			height: auto;
			margin: 0;
			background-color: initial;
			.slides {
				height: auto;
				@include transition(all 350ms ease-in-out);
				.slide {
					height: auto;
					display: inline-block;
					position: relative;
					float: left;
					&.active {
						display: block;
					}
					.spot-tickets {
						margin: -10px;
					}
				}
			}
			.ctrl-btn {
				display: none;
				width: 60px;
				height: 60px;
				opacity: 0.6;
				background: #171717;
				cursor: pointer;
				&:hover {
					background: darken(#171717, 10%);
				}
			}
			&:hover {
				.ctrl-btn {
					display: inline-block;
				}
			}
		}
	}
}