.status {
  z-index: 999;
	position: absolute;
  width: 140px;
  height: 140px;
  top: 50%;
  left: 50%;
	@include transform(translateX(-50%)translateY(-50%));
	opacity: 0.89;
	background: #131518;
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	.loading {
		display: inline-block;
		vertical-align: middle;
		.spin {
			font-size: 44px;
		}
		span {
			display: block;
			margin-top: 12px;
		}
	}
  
	// Color variations

	&.status_light {
		background: #eee;
		color: #131518;
	}
}


// Throbbers family
$throbber-lite-side: #fff;
$throbber-dark-side: #545a6a;
  
.throbber {
  width: 100%;
  height: 100%;
  @include display-flex(box);
  @include display-flex(flex);
  @include align-items(center);
  @include justify-content(center);

  &:after {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    @include animation(rotate .6s linear infinite);
    @include border-radius(100%);
    border-top: 1px solid $throbber-dark-side;
    border-bottom: 1px solid $throbber-lite-side;
    border-left: 1px solid $throbber-dark-side;
    border-right: 1px solid $throbber-lite-side;
    content: '';
    opacity: 1;
  }

  &.throbber_large {
    &:after {
      width: 44px;
      height: 44px;
    }
  }

  &.throbber_medium {
    &:after {
      width: 30px;
      height: 30px;
    }
  }

  &.throbber_small {
    &:after {
      width: 10px;
      height: 10px;
    }
  }
}

// Animation

@include keyframes(rotate) {
  0% {
    @include transform(rotateZ(-360deg));
  }
  100% {
    @include transform(rotateZ(0deg));
  }
}

// Error Massage
.state-error-msg {
  font-size: 12px;
  color: #fff;
  background: rgba(255, 65, 88, 0.8); //#FF4158;
  @include border-radius(3px);
  @include box-shadow(0px 1px 3px 0px rgba(0,0,0,0.30));
  &.absolute {
    display: inline-block;
    position: absolute;
    top: 16px;
    padding: 16px 24px;
    left: 50%;
    @include transform(translateX(-50%));
  }
}

