.tags {
  position: absolute;
  z-index: 99;
  top: 12px;
  right: 0;
  .tag {
    text-align: center;
    font-size: 13px;
    color: #FFF;
    border-radius: 3px 0 0 3px;
    padding: 6px 10px;
    margin-bottom: 4px;
    background-color: #01BAF2;
    &.purple {
      background-color: $purple-color;
    }
    &.orange {
      background-color: #F15540;
    }
    &.light-green {
      background-color: #8CB366;
    }
    &.coffee {
      background-color: #AD4C27;
    }
    &.dark {
      background-color: #313945;
    }
    &.blue {
      background-color: #1BABC6;
    }
    &.red {
      background-color: #D0021B;
    }

    &.TW1 {
      background-color: #FA7157;
    }
    &.TW2 {
      background-color: #F86062;
    }
    &.TW3 {
      background-color: #F9685C;
    }
    &.TW4 {
      background-color: #FC7D50;
    }
    &.TW5 {
      background-color: #FA9849;
    }
    &.TW6 {
      background-color: #FC874C;
    }
    &.TW7 {
      background-color: #F9A547;
    }
    &.TW8 {
      background-color: #F7B344;
    }
    &.TW9 {
      background-color: #D9864C;
    }
    &.TW10 {
      background-color: #A6B459;
    }
    &.TW11 {
      background-color: #7FB264;
    }
    &.TW12 {
      background-color: #46AC8A;
    }
    &.TW13 {
      background-color: #52B071;
    }
    &.TW14 {
      background-color: #37A79F;
    }
    &.TW15 {
      background-color: #33A3B6;
    }
    &.TW16 {
      background-color: #2E9DC7;
    }
    &.TW17 {
      background-color: #3A8FBA;
    }
    &.TW18 {
      background-color: #4681AE;
    }
    &.TW19 {
      background-color: #5372A0;
    }
    &.TW20 {
      background-color: #774879;
    }
    &.TW21 {
      background-color: #6C5585;
    }
    &.TW22 {
      background-color: #606493;
    }

    &.TOP {
      background-color: #FD5F5C;
    }

    &.EDITOR_CHOICE{
      background-color: #FC9932;
    }


  }
}
