tags-input {
	height: auto;
	.host {
		height: auto;
	}
	.tags {
		position: relative;
		top: 0;
		z-index: initial;
		height: auto;
		width: 100%;
		background: #fff;
		border: 1px solid #ccc;
		@include border-radius(3px);
		@include box-shadow(none);
		.tag-item {
			margin: 8px 0 0 8px;
			background: rgba(48,195,255,0.10);
			border: 1px solid #31C4FF;
			@include border-radius(3px);
			font-size: 14px;
			color: #31C4FD;
			.remove-button {
				display: none;
				color: #31C4FF;
			}
			&.selected {
				color: #FF5C4C;
				border-color: #FF9797;
				background: #FFE1E1;
				.remove-button {
					color: #FF9797;
				}
			}
		}
		input.input {
			width: 100px !important;
			line-height: 3em !important;
			height: 3em !important;
			padding: 0 !important;
			margin: 0 8px !important;
			border: none !important;
		}
	}
}