text-angular,
[text-angular] {
  [text-angular-toolbar] {
  }
}

.ta-toolbar {
  .btn-group {
    display: inline-block;
    height: 24px;
    padding: 0 16px;
    margin: 17px 0;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    &:first-child {
      border-width: 0;
    }
  }
  .btn {
    border: none;
    width: 32px;
    height: 32px;
    padding: 5px;
    margin: 0;
    vertical-align: middle;
    margin-top: -4px;
    background-color: transparent;
    &.btn-default {
    }
    &.active {

    }
    & + .btn {
      margin-left: 10px;
    }
    &:hover {
      cursor: pointer;
      .fa {
        color: darken(#757575, 20%);
      }
    }
    .fa {
      font-size: 13px;
      color: #757575;
      // font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &.fa-quote-right {

      }
      // &.fa-bold {
      //   &:before {
      //     content: "\e60b";
      //   }
      // }
      // &.fa-italic {
      //   &:before {
      //     content: "\e627";
      //   }
      // }
      // &.fa-underline {
      //   &:before {
      //     content: "\e643";
      //   }
      // }
      // &.fa-align-left {
      //   &:before {
      //     content: "\e603";
      //   }
      // }
      // &.fa-align-center {
      //   &:before {
      //     content: "\e601";
      //   }
      // }
      // &.fa-align-right {
      //   &:before {
      //     content: "\e604";
      //   }
      // }
      // &.fa-align-justify {
      //   &:before {
      //     content: "\e602";
      //   }
      // }
      // &.fa-picture-o {
      //   &:before {
      //     content: "\e625";
      //   }
      // }
      // &.fa-link {
      //   &:before {
      //     content: "\e626";
      //   }
      // }

      /**
      * Please modify below icon
      */

      // &.fa-font {
      //   &:before {
      //     content: "T";
      //   }
      // }

      // &.fa-caret-down{
      //   margin-left: 5px;
      //   font-size: 10px;
      //   &:before {
      //     content: "\e605";
      //   }
      // }

      // &.fa-text-height{
      //   &:before {
      //     content: "S";
      //   }
      // }

      // &.fa-paint-brush{
      //   &:before {
      //     content: "A";
      //   }
      // }

      &.sp-replacer {
        background-color: transparent;
        border: none;
        .sp-preview {
          margin: 3px 0 0 0;
          height: 4px;
          width: 16px;
          .sp-preview-inner {

          }
        }
        .sp-dd {
          display: none;
        }
      }



    }
  }
  
}
