.themeevents-page .spot-wrap {
  width:25%;
  }
.themeevents-page .slideshow-wrap {
  position: relative;
  margin: 0px auto;
  padding: 60px 0;
  max-width: 1268px;
}
.backgrey{
   background-color: #F2F2F2;

}
.backdgrey{
   background-color: #e7e7e7;

}
.themeevents-page .slideshow-wrap .header {
  position: relative;
  padding:20px;
  margin-left:-10px;
  margin-right:10px;
}
.themeevents-page .slideshow-wrap .header > * {
  vertical-align: middle;
}
.themeevents-page .slideshow-wrap .header .title {
  display: inline-block;
  font-size: 24px;
  color: #171717;
  line-height: 1em;
  margin-right: 24px;
}
.themeevents-page .slideshow-wrap .header .control-block {
 display: inline-block;
  position: absolute;
  right: 0;
  top: 30%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.themeevents-page .desc {
 padding: 20px;
  margin-bottom: 20px;
  margin-left:10px;
  margin-right:10px;
  color:#6A6A6A;
   line-height: 20px;
}
.themeevents-page .slideshow-wrap .header .control-block .control {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}
.themeevents-page .slideshow-wrap .header .control-block .control > span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  border: 3px solid #A4A4A4;
  -moz-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  -ms-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
.themeevents-page .slideshow-wrap .header .control-block .control:hover > span {
  border-color: #717171;
}
.themeevents-page .slideshow-wrap .header .control-block .control.control-left > span {
  border-top: 0;
  border-right: 0;
}
.themeevents-page .slideshow-wrap .header .control-block .control.control-right > span {
  border-bottom: 0;
  border-left: 0;
}
.themeevents-page .slideshow-wrap .header .control-block .control-point-block {
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
}
.themeevents-page .slideshow-wrap .header .control-block .control-point-block .control-point {
  display: inline-block;
  width: 15px;
  height: 16px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  margin: 1px;
}
.themeevents-page .slideshow-wrap .header .control-block .control-point-block .control-point > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.themeevents-page .slideshow-wrap .header .control-block .control-point-block .control-point:hover > span {
  background: #999999;
}
.themeevents-page .slideshow-wrap .header .control-block .control-point-block .control-point.active > span {
  background: #777;
}
.themeevents-page .slideshow-wrap .header .more-link {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 16px;
  color: #6A6A6A;
  line-height: 1em;
  margin: 0;
  padding: 0 20px 0 0;
  cursor: pointer;
}
.themeevents-page .slideshow-wrap .header .more-link:before, .themeevents-page .slideshow-wrap .header .more-link:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border: 1px solid #6A6A6A;
  border-width: 1px 1px 0 0;
}
.themeevents-page .slideshow-wrap .header .more-link:before {
  right: 5px;
}
.themeevents-page .slideshow-wrap .header .more-link:hover {
  color: #515151;
}
.themeevents-page .slideshow-wrap .header .more-link:hover:before, .themeevents-page .slideshow-wrap .header .more-link:hover:after {
  border-color: #515151;
}
.themeevents-page .slideshow.multi-slide {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: initial;
}
.themeevents-page .slideshow.multi-slide .slides {
  height: auto;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.themeevents-page .slideshow.multi-slide .slides .slide {
  height: auto;
  display: inline-block;
  position: relative;
  float: left;
}
.themeevents-page .slideshow.multi-slide .slides .slide.active {
  display: block;
}
.themeevents-page .slideshow.multi-slide .slides .slide .spot-tickets {
  margin: -10px;
}
.themeevents-page .slideshow.multi-slide .ctrl-btn {
  display: none;
  width: 60px;
  height: 60px;
  opacity: 0.6;
  background: #171717;
  cursor: pointer;
}
.themeevents-page .slideshow.multi-slide .ctrl-btn:hover {
  background: black;
}
.themeevents-page .slideshow.multi-slide:hover .ctrl-btn {
  display: inline-block;
}

.themesp .spot-wrap {
  min-width: 200px;
}
.themesp .spot {
  display: block;
  position: relative;
  text-align: left;
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
}
.themesp .spot:hover .collect-btn {
  transform: scale(1);
  opacity: 1;
}
.themesp .spot .collect-btn {
  z-index: 10;
  opacity: 0;
  z-index: 99;
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 0 12px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  border-radius: 3px;
  background-color: rgba(49, 57, 69, 0.8);
  transform: scale(0.85);
  transition: all 250ms ease-in-out;
}

.themesp .spot .collect-btn:hover {
  background-color: #31C4FF;
  cursor: pointer;
}
.themesp .spot .collect-btn.active {
  transform: scale(1);
  opacity: 1;
  background-color: #31C4FF;
}
.themesp .spot .collect-btn i {
  margin-right: 6px;
}
.themesp .spot a {
  text-decoration: none;
}
.themesp .spot .ranks {
  z-index: 10;
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #CBCBCB;
}
.themesp .spot .ranks i {
  margin-right: 2px;
}
.themesp .spot .ranks i.full {
  color: #FFC43C;
}

.themesp .spot .thumbnail .adrank {
  background-image: url(../images/tripadvisor.png);
  z-index: 10;
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 95px;
  height: 16px;
}

.themesp .spot .recommend {
  z-index: 10;
  position: absolute;
  bottom: 16px;
  right: 16px;
  opacity: 0.8;
  font-size: 13px;
  color: #FFFFFF;
}
.themesp .spot .thumbnail {
  position: relative;
  height: 0;
  padding-bottom: calc(60% - 20px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}
.themesp .spot .thumbnail:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.28) 100%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.28) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.28) 100%);
}
.themesp .spot .duration {
  z-index: 9;
  position: absolute;
  bottom: 40px;
  left: 20px;
  font-family: Lato;
  font-weight: 300;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 1.49px;
  line-height: 28px;
}
.themesp .spot .duration span {
  font-size: 14px;
}
.themesp .spot .info {
  padding: 30px;
  position: relative;
  min-height: 130px;
}
.themesp .spot .info.no-meta {
  min-height: 110px;
}
.themesp .spot .info.has-author-img {
  padding-top: 38px;
}
.themesp .spot .info .author-img {
  display: inline-block;
  position: absolute;
  left: 30px;
  top: -22px;
  width: 44px;
  height: 44px;
  border: 2px solid #fff;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.themesp .spot .info .date.top-right {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 30px;
  font-size: 13px;
  color: #9B9B9B;
  line-height: 1em;
}
.themesp .spot .info h4.title {
  height: 1em;
  max-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}
.themesp .spot .info h4.title.row-2 {
  height: auto;
  line-height: 1.3em;
  max-height: 2.6em;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 12px;
}
.themesp .spot .info .summary {
  font-size: 13px;
  color: #333;
  margin-bottom: 12px;
  max-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.themesp .spot .info p.descript {
  font-size: 13px;
  color: #777;
  line-height: 1.7em;
  max-height: 3.4em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.themesp .spot .info .metas {
  margin-top: 12px;
  font-size: 13px;
  color: #777;
}
.themesp .spot .info .metas div {
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.themesp .spot .info .metas div.location {
  font-size: 13px;
  color: #9B9B9B;
  line-height: 1em;
}
.themesp .spot .info .metas div.address {
  display: block;
}
.themesp .spot .info .metas div.address i {
  width: 14px;
  height: 18px;
  font-size: 18px;
  color: #6A6A6A;
  vertical-align: middle;
}
.themesp .spot .info .metas div.address span {
  color: #444;
  vertical-align: middle;
}
.themesp .spot .info .metas div.date {
  float: right;
}
.themesp .spot .info .metas div.date-range {
  color: #6A6A6A;
  display: block;
  overflow: hidden;
}
.themesp .spot .info .metas div.date-range i {
  font-size: 16px;
  vertical-align: middle;
}
.themesp .spot .info .metas div.date-range span {
  vertical-align: middle;
}
.themesp .spot .info .metas div.date-range.expired {
  color: #D0021B;
}
.themesp .spot .info .metas div.date-range.expired .expired-mark {
  display: inline-block;
  float: right;
  padding: 6px;
  border: 1px solid #D0021B;
  position: absolute;
  right: 30px;
  bottom: 27px;
  background: #fff;
}
.themesp .spot .info .metas div i {
  margin-right: 4px;
}
.themesp .spot .info .metas div a {
  color: #9b9b9b;
  text-decoration: none;
}
.themesp .spot .info .metas div a:hover {
  color: #31C4FF;
  text-decoration: none;
}
.themeevents-page .spot-ticket {
  display: block;
  position: relative;
  text-align: left;
  background-color: transparent;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
}
.themeevents-page .spot-ticket a {
  text-decoration: none;
}
@media screen and (max-width: 1280px) {
  .themeevents-page .spot-ticket .metas > span {
    display: none;
  }
}
.themeevents-page .spot-ticket .ranks {
  z-index: 10;
  display: inline-block;
  color: #CBCBCB;
}
.themeevents-page .spot-ticket .ranks i {
  margin-right: 2px;
}
.themeevents-page .spot-ticket .ranks i.full {
  color: #FFC43C;
}
.themeevents-page .spot-ticket .thumbnail {
  position: relative;
  height: 0;
  padding-bottom: calc(60%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #eee;
  margin: 0;
  -moz-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.themeevents-page .spot-ticket .thumbnail.effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.28) 100%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.28) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.28) 100%);
}
.themeevents-page .spot-ticket .tags {
  display: inline-block;
  position: absolute;
  z-index: initial;
  top: initial;
  right: initial;
  left: 16px;
  bottom: 15px;
}
.themeevents-page .spot-ticket .tags .tag {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  background: rgba(240, 59, 64, 0.7);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
  color: #FFFFFF;
  font-weight: bold;
}
.themeevents-page .spot-ticket .tags .tag + .tag {
  margin-left: 6px;
}
.themeevents-page .spot-ticket .tags .tag.blue {
  background: rgba(49, 196, 255, 0.7);
}
.themeevents-page .spot-ticket .mark {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: -66px;
  width: 200px;
  height: 28px;
  line-height: 28px;
  background: #eee;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.themeevents-page .spot-ticket .mark.popular {
  background: #FD5F5C;
}
.themeevents-page .spot-ticket .mark.top-choice {
  background: #FC9932;
}
.themeevents-page .spot-ticket .duration {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 1em;
}
.themeevents-page .spot-ticket .duration .highlight {
  font-size: 36px;
}
.themeevents-page .spot-ticket .info {
  display: block;
  padding: 20px;
  background: #FFFFFF;
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), inset -1px 1px 10px 0px rgba(39, 27, 4, 0.05);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), inset -1px 1px 10px 0px rgba(39, 27, 4, 0.05);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), inset -1px 1px 10px 0px rgba(39, 27, 4, 0.05);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.themeevents-page .spot-ticket .info:before, .themeevents-page .spot-ticket .info:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: #F2F2F2;
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), inset -1px 1px 10px 0px rgba(39, 27, 4, 0.05);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), inset -1px 1px 10px 0px rgba(39, 27, 4, 0.05);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), inset -1px 1px 10px 0px rgba(39, 27, 4, 0.05);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.themeevents-page .spot-ticket .info:before {
  left: 0;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-box-shadow: inset -2px 0 4px 0 rgba(39, 27, 4, 0.05);
  -webkit-box-shadow: inset -2px 0 4px 0 rgba(39, 27, 4, 0.05);
  box-shadow: inset -2px 0 4px 0 rgba(39, 27, 4, 0.05);
}
.themeevents-page .spot-ticket .info:after {
  right: 0;
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  -moz-box-shadow: inset 2px 0 4px 0 rgba(39, 27, 4, 0.05);
  -webkit-box-shadow: inset 2px 0 4px 0 rgba(39, 27, 4, 0.05);
  box-shadow: inset 2px 0 4px 0 rgba(39, 27, 4, 0.05);
}
.themeevents-page .spot-ticket .info .title {
  font-size: 16px;
  font-weight: bold;
  color: #515356;
  line-height: 1.25em;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.themeevents-page .spot-ticket .info .title.has-discount {
  margin-right: 40px;
}
.themeevents-page .spot-ticket .info .metas {
  font-size: 12px;
  color: #9B9B9B;
  line-height: 1em;
}
.themeevents-page .spot-ticket .info .metas .ranks {
  font-size: 12px;
}
.themeevents-page .spot-ticket .info .metas .address {
  font-size: 13px;
  color: #777777;
  line-height: 18px;
  margin-top: 10px;
}
.themeevents-page .spot-ticket .info .metas .address > * {
  vertical-align: top;
}
.themeevents-page .spot-ticket .info .metas .address i {
  font-size: 18px;
}
.themeevents-page .spot-ticket .info .metas .date {
  font-size: 13px;
  color: #777777;
  line-height: 18px;
  margin-top: 10px;
}
.themeevents-page .spot-ticket .info .metas .date > * {
  vertical-align: top;
}
.themeevents-page .spot-ticket .info .metas .date i {
  font-size: 18px;
}
.themeevents-page .spot-ticket .info .label-container {
  margin-top: 10px;
}
.themeevents-page .spot-ticket .info .label-container .label {
  display: inline-block;
  font-size: 13px;
  line-height: 1em;
  padding: 6px 10px;
  color: #777;
  background: #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.themeevents-page .spot-ticket .info .price {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 45px;
  font-size: 14px;
  color: #171717;
  line-height: 1em;
}
.themeevents-page .spot-ticket .info .price:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  opacity: 0.8;
  border-bottom: 2px solid #171717;
  -moz-transform: rotate(-2deg) translateY(-50%);
  -ms-transform: rotate(-2deg) translateY(-50%);
  -webkit-transform: rotate(-2deg) translateY(-50%);
  transform: rotate(-2deg) translateY(-50%);
}
.themeevents-page .spot-ticket .info .discount-price {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #171717;
  line-height: 1em;
  font-weight: 900;
  font-family: "Lato", "Helvetica Neue", sans-serif;
}
.themeevents-page .spot-ticket .info .discount-price.red {
  color: #F03B40;
}
.themeevents-page .spot-ticket .info .discount-price .highlight {
  letter-spacing: -1px;
  font-size: 20px;
}
.themeevents-page .spot-ticket .info .discount {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
  width: 34px;
  height: 51px;
  padding: 10px 0;
  text-align: center;
  background: #F03B40;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1.5em;
  overflow: hidden;
}
.themeevents-page .spot-ticket .info .discount:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 7px 17px;
  border-color: transparent transparent #ffffff transparent;
}
.themeevents-page .spot-ticket .info .discount .highlight {
  font-size: 16px;
}
.themeevents-page .spot-ticket.no-ticket-style .thumbnail {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
.themeevents-page .spot-ticket.no-ticket-style .info {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
}
.themeevents-page .spot-ticket.no-ticket-style .info:before, .themeevents-page .spot-ticket.no-ticket-style .info:after {
  content: none;
}


.themeevents-page section.recommend-events-section .section-wrap {
  padding: 40px;
}
.themeevents-page .recommend-events {
  padding: 0 0 20px 20px;
}
.themeevents-page  .event-wrap {
  min-width: 160px;
}
.themeevents-page .event-wrap .event {
  display: block;
  position: relative;
  margin: 10px;
  border-radius: 5px;
}
.themeevents-page .event-wrap .event:hover .info {
  color: #333;
}
.themeevents-page .event-wrap .event .thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: calc(80% - 20px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-color: #333;
}
.themeevents-page .event-wrap .info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  font-size: 13px;
  font-weight: bold;
   text-align: center;
  color: #6a6a6a;
  letter-spacing: 0.22px;
}
.themeevents-page .event-wrap {
  width:20%;
  }
.slideshow{
	background-color:transparent;
}
@media screen and (max-width: 600px) {
  .themeevents-page .recommend-events {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}


@media screen and (max-width: 1045px) {
.themeevents-page .slideshow-wrap {
  padding: 5px 0;
}
  .themeevents-page {
    padding: 0 ;
  }
  .themeevents-page .slideshow-wrap .header .ctrl-btn {
    display: none;
  }
  .themeevents-page .slide {
 overflow-x: scroll;
  }
  .themeevents-page .themesp {
  width:2000px;
  }
   .themeevents-page .eventesp {
  width:900px;
  }
  .themeevents-page .spot-wrap {
  width:250px;
  }
    .themeevents-page .event-wrap {
  width:180px;
  }
}

