.trips {
	.trip-wrap {
		min-width: 200px;
	}
	.trip {
		position: relative;
		height: 0;
		padding-bottom: 66%;
		margin: 10px;
		border-radius: 5px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		overflow: hidden;
		&:before {
			z-index: 98;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url(/public/images/overlay.png) repeat-x center bottom;
			opacity: .5;
			// background-image: -webkit-linear-gradient(rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.49) 100%);
			// background-image: -o-linear-gradient(rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.49) 100%);
			// background-image: linear-gradient(rgba(0,0,0,0.35) 50%, rgba(0,0,0,0.49) 100%);
		}
		.info {
			position: absolute;
			z-index: 99;
			text-align: left;
			left: 20px;
			bottom: 20px;
			right:5px;
			h4.title {
				font-weight: bold;
				opacity: .95;
				font-size: 20px;
				color: #FFFFFF;
				margin-bottom: 8px;
			    line-height: 1.1em;
				overflow: hidden;
				text-overflow:ellipsis;
                white-space: nowrap;
			}
			.metas {
				opacity: 0.9;
				font-size: 13px;
				color: #FFFFFF;
			}
		}
		.duration {
			z-index: 100;
			position: absolute;
			top: 20px;
			left: 20px;
			font-family: $globe-font-style;
			font-weight: 300;
			font-size: 36px;
			color: #FFFFFF;
			letter-spacing: 1.49px;
			line-height: 28px;
			span {
				font-size: 14px;
			}
		}
	}

	@media screen and (max-width: 750px) {
		@include flex-wrap(nowrap);
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		.trip {
			.info {
				position: absolute;
				z-index: 99;
				text-align: left;
				left: 12px;
				bottom: 12px;
				h4.title {
					font-weight: bold;
					opacity: 1;
					font-size: 16px;
				}
				.metas {
					font-size: 12px;
				}
			}
			.duration {
				top: 12px;
				left: 12px;
				font-size: 24px;
				letter-spacing: 1px;
				span {
					font-size: 12px;
				}
			}
		}
	}
}