<div class="content-col">
	<div class="card box-shadow">
		<div class="header">
			<h4 class="title">我的地圖</h4>
			<p class="desc">去過<span class="count">12</span>縣市<span class="count">284</span>景點</p>
			<div class="more" >  <md-checkbox > <span>收藏</span> </md-checkbox> <md-checkbox > <span>去過</span> </md-checkbox> <md-checkbox > <span>趣事</span> </md-checkbox> </div>
			<!-- <div class="layout-switch">
				<span class="layout active">地圖</span>
				<span class="layout">列表</span>
			</div> -->
		</div>
		<div class="content no-padding">
			<div class="map">
       <div class="spot-wrap" style="position: absolute; top: 180px; left: 100px;">
         <div class="spot">
           <div class="slideshow float-left">
            <div class="slides">
              <div class="slide" ng-repeat="item in slideList" ng-style="{'background-image':'url('+item.imgUrl+')', 'left':100*($index-currentSlideIdx)+'%'}">
              </div>
            </div>
            <div class="ctrl-btn prev" ng-click="prevSlide()" ng-show="currentSlideIdx>0">
              <i class="icon-Back"></i>
            </div>
            <div class="ctrl-btn next" ng-click="nextSlide()" ng-show="currentSlideIdx<(slideList.length-1)">
              <i class="icon-Forward"></i>
            </div>
            <div class="ctrl-panel" ng-show="slideList.length > 1">
              <div class="ctrl-point" ng-class="{'active': $index==currentSlideIdx}" ng-repeat="item in slideList" ng-click="setSlide($index)"></div>
            </div>
          </div>
          <div class="info">
            <div class="pin-con">
              <img src="../public/images/beenpin.png"> <img src="../public/images/smilepin.png"> <img src="../public/images/collectpin.png">
            </div>
            <a>
             <h4 class="title">金色天地休閒農場(原景色天地休閒農場)</h4>
           </a>
           <div class="metas">
             <div class="ranks hint hint--top" data-hint="平均 4.2 分">
              <i class="icon-Rank fill"></i>
              <i class="icon-Rank fill"></i>
              <i class="icon-Rank fill"></i>
              <i class="icon-Rank fill"></i>
              <i class="icon-Rank"></i>
            </div>
            4.3 
            <span class="destit"> <i class="icon-Comments"> 37</i></span>
            <span class="destit"> <i class="icon-Heart"> 28</i></span>
          </div>
          <span class="ctbutton">我的趣事</span><span class="ctbutton" style="margin-left: 15px;">景點資訊</span>
        </div>
        <div class="close">
          <div class="remove-btn"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="card box-shadow">
  <div class="header">
   <h4 class="title">我的行程</h4>
   <span class="count">18</span>
   <a class="more" href="#/user/trips">查看全部行程</a>
 </div>
 <div class="content spot-list col-2 no-padding">
   <div class="spot" ng-repeat="item in scheduleList track by $index">
    <a href="/#/trips/poi">
      <div class="thumbnail" ng-style="{'background-image': 'url(' + item.thumbnail + ')'}">
      </div>
    </a>
    <div class="info">
      <a href="/#/trips/poi">

        <h4 class="title"><i class="icon-Lock"  ng-show="item.isprivate"></i>{{item.title}}</h4>
      </a>
      <p class="summary">
        {{item.summary}}
      </p>
      <p class="descript row-2">{{item.descript}}</p>
      <div class="metas">
        <div class="recommend" ng-show="!item.draft">
          <span><i class="icon-Calendar-2"><span class="itxt">{{item.days}}天</span></i></span>
          <span><i class="icon-Comments"><span class="itxt">{{item.comment}}</span></i></span>
          <span><i class="icon-Views"><span class="itxt">{{item.view}}</span></i></span>
        </div>
        <div class="note" ng-show="item.draft">草稿</div>

      </div>
    </div>
   
</div>
</div>
</div>
<div class="card box-shadow">
  <div class="header">
   <h4 class="title">我的遊記</h4>
   <span class="count">18</span>
   <a class="more" href="#/user/travelNotes">查看全部遊記</a>
 </div>
 <div class="content spot-list col-2 no-padding">
  <div class="spot" ng-repeat="item in travelNotes track by $index">
    <a href="/#/travelNotes/poi">
      <div class="thumbnail" ng-style="{'background-image': 'url(' + item.thumbnail + ')'}">
      </div>
    </a>
    <div class="info">
      <a href="/#/travelNotes/poi">

        <h4 class="title"><i class="icon-Lock"  ng-show="item.isprivate"></i>{{item.title}}</h4>
      </a>
      <p class="summary">
        {{item.summary}}
      </p>
      <p class="descript row-2">{{item.descript}}</p>
      <div class="metas">
        <div class="recommend" ng-show="!item.draft">
          <span><i class="icon-Clock"><span class="itxt">{{item.time}}</span></i></span>
          <span><i class="icon-Comments"><span class="itxt">{{item.comment}}</span></i></span>
          <span><i class="icon-Views"><span class="itxt">{{item.view}}</span></i></span>
        </div>
        <div class="note" ng-show="item.draft">草稿</div>

      </div>
    </div>
  
</div>

</div>
</div>
</div>
<div class="clear"></div>
