<div class="trips-page content gray" ng-class="{'map-mode': layout=='Map'}">
    <section class="filters" ng-class="{'open' : isOpenFilter}">
        <div class="filters-header">
            <div class="close" ng-click="closeFilter()">
                <i class="icon-Close"></i>
            </div>
            <h4>過濾條件</h4>
        </div>
        <div class="section-wrap">
            
            <div class="filter-type">
   

            <div class="filter-type">
                <div class="type-name">品牌類別</div>
                <div class="type-more" ng-click="toggleMore('brandCategory')">
                    <span ng-hide="showAllOption.brandCategory">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.brandCategory">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.brandCategory}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn active">火烤料理</div>
                    <div class="type-btn">中式美食</div>
                    <div class="type-btn">夜市小吃</div>
                    <div class="type-btn">甜點冰品</div>
                    <div class="type-btn">伴手禮</div>
                    <div class="type-btn">其他</div>
                </div>
            </div>

           
        </div>
        <div class="filters-more">
            <span>
                更多選項
                <i class="icon-ArrowDown"></i>
            </span>
        </div>
    </section>

    <!-- 顯示方式切換 -->
    <section>
        <div class="section-wrap layout-types">
            <div class="filter-type filters-float-left">
                <div class="type-name">排序</div>
                <md-select ng-model="orderBy">
                    <md-option value="topRated">最高人氣</md-option>
                    <md-option value="priceLowToHigh">最新開店</md-option>
                </md-select>
            </div>
            <div class="layout-type-label">顯示方式</div>
            <div class="layout-btns">
                <div class="layout-btn hint hint--top" data-hint="格狀顯示" ng-class="{'active': layout=='Grid'}" ng-click="switchLayout('Grid')"><i class="icon-Grid"></i></div>
                <div class="layout-btn hint hint--top" data-hint="列表顯示" ng-class="{'active': layout=='List'}" ng-click="switchLayout('List')"><i class="icon-Playlist"></i></div>
            
                <div show-for-small class="layout-btn" ng-click="openFilter()"><i class="icon-Filter"></i></div>
            </div>
        </div>
    </section>

    <!-- 格壯列表 -->
    <section>
        <div class="section-wrap no-top-padding">

            <!-- Grid 模式 -->
            <div ng-show="layout=='Grid'" class="bspots" layout="row" layout-wrap>

                <div class="bspot-wrap" flex="25" flex-md="50" flex-sm="100" ng-repeat="brand in brand">
                    <div class="bspot">
                     
                        <a href="#/brand/poi">
                        <div class="thumbnail" style="background-image: url({{brand.thumbnail}})">
                          
                        </div>
                       
                        <div class="info">
                            <h4 class="title">{{brand.title}}</h4>
                            <div class="summary">
                                <span class="types">{{brand.type}}</span>
                            </div>
                            <p class="descript">{{brand.descript}}</p>
                        </div>
                        </a>
                    </div>
                </div>
            
            </div>

            <!-- List 模式 -->
            <div ng-show="layout=='List'" class="bspot-list" layout="row" layout-wrap>

                <div class="bspot-wrap" flex="50" flex-md="50" flex-sm="100" ng-repeat="brand in brand">
                    <div class="bspot">
                   
                        <a href="#/brand/poi">
                            <div class="thumbnail" style="background-image: url({{brand.thumbnail}})">
                               
                            </div>
                        </a>
                        <div class="info">
                            <a href="#/brand/poi">    
                                <h4 class="title">{{brand.title}}</h4>
                            </a>
                            <div class="summary">
                                <span class="types">{{brand.type}}</span>
                                
                            </div>
                            <p class="descript">{{brand.descript}}</p>
                         
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- 分頁 -->
    <section>
        <div class="section-wrap no-top-padding">
            <div class="pagination">
              <ul class="page-numbers">
                <li><a href="" class="prev">上一頁</a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="current" >2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">...</a></li>
                <li><a href="">5</a></li>
                <li><a href="" class="next">下一頁</a></li>
              </ul>
            </div>
        </div>
    </section>
    <div class="status">
        <div class="loading">
            <div class="throbber throbber_large"></div>
            <span>載入中</span>
        </div>
    </div>
</div>
