<div class="content-col">
	<div class="card box-shadow">
		<!-- <div class="header">
			<h4 class="title">我的行事曆</h4>
		</div> -->
		<div class="content no-padding calendar-content">
			<div class="calendar-filter">
				<md-checkbox class="type1" ng-model="value1" aria-label="事蹟">事蹟</md-checkbox>
				<md-checkbox class="type2" ng-model="value2" aria-label="事蹟">成就</md-checkbox>
				<md-checkbox class="type3" ng-model="value3" aria-label="事蹟">旅程</md-checkbox>
			</div>
			<div id="calendar" class="calendar"></div>
			<div class="event-popup type1">
				<div class="event-title">提供 台北101 景點勘誤</div>
				<div class="event-date">2015年10月27日（週六）</div>
				<div class="event-descript">感謝您提供寶貴的意見!</div>
				<!-- <div class="event-more"><a href="#">前往查看</a></div> -->
			</div>
			<div class="event-popup type2">
				<div class="event-title">獲得 海上的旅遊者 勳章</div>
				<div class="event-date">2015年10月27日（週六）</div>
				<div class="event-descript">勳章說明：去過 20 個以上的海上景點</div>
				<div class="event-more"><a href="#">前往查看</a></div>
			</div>
			<div class="event-popup type3">
				<div class="event-title">進行 台灣環島7日遊 旅程</div>
				<div class="event-date">2015年10月27日（週六）</div>
				<!-- <div class="event-descript">勳章說明：去過 20 個以上的海上景點</div> -->
				<div class="event-more"><a href="#">前往查看</a></div>
			</div>
		</div>
	</div>
</div>
