<div class="content-col">
	<div class="article-wrap" ng-repeat="item in articleList">
		<div class="article" ng-class="{'clickable': !item.expand}" ng-click="item.expand=true">
			<div class="header">
				<h4 class="title">{{item.title}}</h4>
				<span class="date">{{item.publishDate}}</span>
			</div>
			<div class="content-wrap">
				<p class="content" ng-class="{'expand': item.expand}">
					各位親愛的使用者，台灣智慧觀光將於5月29日凌晨1點至8點進行網路服務升級維護，屆時相關頁面將無法訪問，給大家使用帶來不便，敬請見諒。<br>
					本次更新後將有以下功能開放：<br><br>
					• 	改進網路的可靠性<br>
					• 	改進「系統轉移輔助程式」的可靠性<br>
					• 	解決會造成某些外接顯示器無法正常運作的問題<br>
					• 	改進將 iPhone 和 Aperture 圖庫升級至「照片」時的可靠性
				</p>
			</div>
		</div>
		<div class="toggle-more-wrap" ng-if="item.expand" ng-click="item.expand=false">
			<span class="toggle-more-button">收起
				<i class="icon-ArrowUp"></i>
			</span>
		</div>
	</div>
    <!-- 分頁 -->
    <section>
        <div class="section-wrap">
            <div class="pagination">
              <ul class="page-numbers">
                <li><a href="" class="prev"><i class="icon-Back"></i></a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="current" >2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">...</a></li>
                <li><a href="">5</a></li>
                <li><a href="" class="next"><i class="icon-Forward"></i></a></li>
              </ul>
            </div>
        </div>
    </section>
</div>
<div class="clear"></div>
