<div class="content-col">
    <div class="article about">
        <h1 class="title">關於台灣智慧觀光</h1>
        <p class="descript">台灣智慧觀光專注發展創新與貼心的智慧旅遊服務，全面支援旅客來台行前、行中與行後的旅遊需求，打造台灣高質且高值的旅遊體驗環境。</p>
        <br>
        <br>
        <br>
        <div>
            <div class="info-wrap">
                <h1 class="title">指導單位</h1>
                <a href="#">
                    <img src="../public/images/svg/DOIT.svg" alt="">
                </a>
            </div>
            <div class="info-wrap">
                <h1 class="title">執行單位</h1>
                <a href="#">
                    <img src="../public/images/svg/iii.svg" alt="">
                </a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h1 class="title">問題反饋與合作提案</h1>
        <p class="descript">若有任何合作提案或服務建議，請留下您的聯絡方式及相關資訊，我們會有專人與您聯繫！
            <br> 電子郵件：vztaiwan@iii.org.tw</p>
    </div>
</div>
<div class="clear"></div>
