<div class="trips-page content gray" ng-class="{'map-mode': layout=='Map'}">
    <section class="filters" ng-class="{'open' : isOpenFilter}">
        <div class="filters-header">
            <div class="close" ng-click="closeFilter()">
                <i class="icon-Close"></i>
            </div>
            <h4>過濾條件</h4>
        </div>
        <div class="section-wrap container-bar">
            <div class="filter-type">
                <div class="type-name">景點類別</div>
                <div class="type-more" ng-click="toggleMore('spots')">
                    <span ng-hide="showAllOption.spots">
						更多
						<i class="icon-ArrowDown"></i>
					</span>
                    <span ng-show="showAllOption.spots">
						收起
						<i class="icon-ArrowUp"></i>
					</span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.spots}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn active">商圈</div>
                    <div class="type-btn active">體育健身</div>
                    <div class="type-btn active">遊憩公園</div>
                    <div class="type-btn">文化藝術</div>
                    <div class="type-btn">古蹟廟宇</div>
                    <div class="type-btn">國家風景區</div>
                    <div class="type-btn">休閒農業</div>
                    <div class="type-btn">溫泉</div>
                    <div class="type-btn">自然生態</div>
                    <div class="type-btn">其他</div>
                </div>
            </div>
            <div class="filter-type">
                <div class="type-name">地區篩選</div>
                <div class="type-more" ng-click="toggleMore('areas')">
                    <span ng-hide="showAllOption.areas">
						更多
						<i class="icon-ArrowDown"></i>
					</span>
                    <span ng-show="showAllOption.areas">
						收起
						<i class="icon-ArrowUp"></i>
					</span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.areas}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn active">台北</div>
                    <div class="type-btn active">台中</div>
                    <div class="type-btn active">台南</div>
                    <div class="type-btn">高雄</div>
                    <div class="type-btn">新竹</div>
                    <div class="type-btn">嘉義</div>
                    <div class="type-btn">台東</div>
                    <div class="type-btn">澎湖</div>
                    <div class="type-btn">其他</div>
                    <div class="type-btn">桃園</div>
                    <div class="type-btn">苗栗</div>
                    <div class="type-btn">彰化</div>
                    <div class="type-btn">雲林</div>
                    <div class="type-btn active">宜蘭</div>
                    <div class="type-btn">花蓮</div>
                    <div class="type-btn">嘉義</div>
                </div>
            </div>
            <div class="filter-type">
                <div class="type-name">價格範圍</div>
                <div class="type-wrap type-btns expand">
                    <div class="type-btn">不限</div>
                    <div class="type-btn">免費</div>
                    <div class="type-btn active">付費</div>
                    <div class="price-range">
                        <input type="text" ng-model="minPrice" numbers-only placeholder="250 元"> -
                        <input type="text" ng-model="maxPrice" numbers-only placeholder="不限">
                        <div class="button small button-outline">確認</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filters-more" ng-show="!isExpand" ng-click="isExpand = !isExpand">
            <span>
				更多選項
				<i class="icon-ArrowDown"></i>
			</span>
        </div>
        <div class="filters-more" ng-show="isExpand" ng-click="isExpand = !isExpand">
            <span>
				收起選項
				<i class="icon-ArrowUp"></i>
			</span>
        </div>
    </section>
    <section class="empty" ng-show="isEmpty">
        <h5 class="title">沒有找到相關的景點</h5>
        <p>
            找不到相關的景點，也許你可以調整過濾條件試試。
        </p>
    </section>
    <section ng-show="!isEmpty">
        <!-- 顯示方式切換 -->
        <section>
            <div class="section-wrap layout-types">
                <div class="filter-type filters-float-left menuin">
                    <a href="#" class="active">評價最高</a> |
                    <a href="#">價格低到高</a> |
                    <a href="#">價格高到低</a> |
                    <a href="#">最多收藏</a> |
                    <a href="#">發表日期</a>
                </div>
                <div class="layout-type-label">顯示方式</div>
                <div class="layout-btns">
                    <div class="layout-btn hint hint--top" data-hint="格狀顯示" ng-class="{'active': layout=='Grid'}" ng-click="switchLayout('Grid')"><i class="icon-Grid"></i></div>
                    <div class="layout-btn hint hint--top" data-hint="列表顯示" ng-class="{'active': layout=='List'}" ng-click="switchLayout('List')"><i class="icon-Playlist"></i></div>
                    <div class="layout-btn hint hint--top map-btn" data-hint="地圖顯示" ng-class="{'active': layout=='Map'}" ng-click="switchLayout('Map')"><i class="icon-Map"></i></div>
                    <div show-for-small class="layout-btn" ng-click="openFilter()"><i class="icon-Filter"></i></div>
                </div>
            </div>
        </section>
        <!-- 格壯列表 -->
        <section>
            <div class="section-wrap no-top-padding list-content">
                <!-- Grid 模式 -->
                <div ng-show="layout=='Grid'" class="spots" layout="row" layout-wrap>
                    <div class="spot-wrap" flex="25" flex-md="50" flex-sm="100" ng-repeat="spot in spots">
                        <div class="spot">
                            <div ng-show="!spot.isCollect" class="collect-btn" ng-click="toggleCollect(spot)"><i class="icon-Heart-2"></i> 收藏</div>
                            <div ng-show="spot.isCollect" class="collect-btn active" ng-click="toggleCollect(spot)"><i class="icon-Heart-2"></i></div>
                            <a href="#/spots/poi">
                                <div class="thumbnail" style="background-image: url(../public/images/spots/spot-{{$index%8+1}}.jpg)">
                                    <div class="tags">
                                        <div class="tag" ng-repeat="tag in spot.tags">{{tag}}</div>
                                    </div>
                                </div>
                                <div class="tags">
                                    <div class="tag red" ng-if="spot.mustgo">必去</div>
                                    <div class="tag" ng-class="spot.locationtag">{{spot.location}}</div>
                                </div>
                                <div class="info no-meta">
                                    <h4 class="title">{{spot.title}}</h4>
                                    <div class="metas">
                                        <div class="address"><i class="icon-Costs"></i> <span>均消 $500</span></div>
                                    </div>
                                    <div class="metas">
                                        <div class="address"><i class="icon-Pin"></i> <span>{{spot.address}}</span></div>
                                    </div>
                                    <div ng-if="!spot.istripadv" class="newranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                    <p ng-if="spot.istripadv" class="adrank  hint hint--top" data-hint="平均 {{spot.rank}} 星等" style="background-position: left {{spot.rankstar}}px;"> </p>
                                    <p class="destit"><i class="icon-Views"> {{spot.view}}</i></p>
                                    <p class="destit"><i class="icon-Comments"> {{spot.comment}}</i></p>
                                    <p style="clear: both;"></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- List 模式 -->
                <div ng-show="layout=='List'" class="spot-list" layout="row" layout-wrap>
                    <div class="spot-wrap" flex="50" flex-md="50" flex-sm="100" ng-repeat="spot in spots">
                        <div class="spot">
                            <div ng-show="!spot.isCollect" class="collect-btn" ng-click="toggleCollect(spot)"><i class="icon-Heart-2"></i> 收藏</div>
                            <div ng-show="spot.isCollect" class="collect-btn active" ng-click="toggleCollect(spot)"><i class="icon-Heart-2"></i></div>
                            <a href="#/spots/poi">
                                <div class="thumbnail" style="background-image: url(../public/images/spots/spot-{{$index%8+1}}.jpg)">
                                    <div class="tags">
                                        <div class="tag red" ng-if="spot.mustgo">必去</div>
                                        <div class="tag" ng-class="spot.locationtag">{{spot.location}}</div>
                                    </div>
                                </div>
                            </a>
                            <div class="info">
                                <a href="#/spots/poi">
                                    <h4 class="title">{{spot.title}}</h4>
                                </a>
                                <div class="metas">
                                    <div class="address"><i class="icon-Costs"></i> <span>均消 $500</span></div>
                                </div>
                                <div class="metas">
                                    <div class="address"><i class="icon-Pin"></i> <span>{{spot.address}}</span></div>
                                </div>
                                <div ng-if="!spot.istripadv" class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                <p ng-if="spot.istripadv" class="adrank" data-hint="平均 {{spot.rank}} 星等" style="background-position: left {{spot.rankstar}}px;"> </p>
                                <p class="destit"><i class="icon-Views"> {{spot.view}}</i></p>
                                <p class="destit"><i class="icon-Comments"> {{spot.comment}}</i></p>
                                <p class="tags">
                                    <span class="tag" ng-repeat="tag in spot.tags">{{tag}}</span>
                                </p>
                                <p style="clear: both;"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Map 模式 -->
                <div ng-show="layout=='Map'" class="spot-map" layout="row" layout-wrap>
                    <div class="list-map2">
                        <poi-map-mode layout="layout" filter="filter" poi-type="poiType"></poi-map-mode>
                        <a class="view-larger-map">
                            <i class="icon-Map"></i>
                            <span>查看大地圖</span>
                        </a>
                    </div>
                    <div class="spot-list" flex="100" flex-md="100" flex-sm="100">
                        <div class="spot-wrap" ng-repeat="spot in spots">
                            <div class="spot">
                                <a ng-click="markerClick(spot.id)">
                                    <div class="thumbnail" style="background-image: url(../public/images/spots/spot-{{$index%8+1}}.jpg)">
                                    </div>
                                </a>
                                <div class="info">
                                    <a>
                                        <h4 class="title">{{spot.title}}</h4>
                                    </a>
                                    <p class="descript">{{spot.descript}}</p>
                                    <div class="metas">
                                        <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                        <div class="recommend">{{spot.collectCount}}人收藏</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 分頁 -->
        <section>
            <div class="section-wrap no-top-padding">
                <div class="pagination">
                    <ul class="page-numbers">
                        <li><a href="" class="prev">上一頁</a></li>
                        <li><a href="">1</a></li>
                        <li><a href="" class="current">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="" class="next">下一頁</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
    <div class="status" ng-show="false">
        <div class="loading">
            <div class="throbber throbber_large"></div>
            <span>載入中</span>
        </div>
    </div>
</div>
