<div class="control">
  <span class="control-left" ng-click="ThemeSlide.prev()"></span>
  <span class="control-right" ng-click="ThemeSlide.next()"></span>
  <div class="mslideshow multi-slide">
    <div class="slides" ng-style="{'width':100*(ThemeList.length+1)+'%', 'margin-left':100*($index-ThemeSlide.currentIdx)+'%'}">
      <div class="slide" ng-class="{'active': $index==ThemeSlide.currentIdx}" ng-repeat="themes in ThemeList" ng-style="{'width':100/(ThemeList.length+1)+'%'}">
        <div class="recommend-theme" layout="row" layout-wrap>
          <a href="#/themeEvents" class="theme-wrap" ng-repeat="theme in themes">
            <div class="theme">
              <div class="thumbnail" style="background-image: url({{theme.images[0].url}})">
              	<div class="title">The most pure and unadulterated joy from your childhood.</div>
              </div>
              <div class="info">
                <h4 class="title">{{theme.title}}</h4>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
