<div class="hot-guides" layout="row" layout-wrap>
  <div  class="trips-wrap"  ng-repeat="guide in hotTripList">
       <div class="guide" >
       <a href="#/travelNotes"><div class="thumbnail" style="background-image: url({{guide.images[0].url}})">
       <span class="avatar"><img src="../public/images/avatars/2.jpg" width="100px" height="100px"> </span>
         <span class="writer">奧格士</span>
       </div></a>
      <div class="info">
       <a href="#/travelNotes"> <h4 class="title">{{guide.title}}</h4></a>
        <p class="admin"><i class="icon-Clock"></i> {{guide.date}}</p>
        <p class="collect"><i class="icon-Views"></i> 3</p>
      </div>
      </div>
    </div>
</div>
