@include keyframes(itemPopUp) {
  0% { 
    opacity: 0;
    @include transform(scale(.9)); 
  }
  50% {
    opacity: 0.7;
  }
  100% { 
    opacity: 1;
    @include transform(scale(1)); 
  }
}

@include keyframes(itemPopDown) {
  0% { 
    opacity: 1;
    @include transform(scale(1)); 
  }
  50% {
    opacity: 0.3;
  }
  100% { 
    opacity: 0;
    @include transform(scale(.9)); 
  }
}
.create-trip-page {
	&:parent {
		border: 1px solid red;
	}

	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
    min-width: 1280px;

	.header-container {
		padding: 15px;
		height: 80px;
		color: #fff;
		background: #31C4FF;
		border-bottom: 1px #DDDDDD;
		text-align: center;
		position: relative;
		.header-block {
			display: inline-block;
			width: 33%;
			min-height: 50px;
			vertical-align: middle;
			&.align-left {
				float: left;
				text-align: left;
				.button {
					margin: 5px;
					padding: 0 16px;
					height: 40px;
					background: rgba(0,0,0,0.2);
					@include border-radius(3px);
					font-size: 13px;
					color: #FFFFFF;
					line-height: 1em;
					border: none;
					.icon {
						margin-right: 8px;
					}
				}
				.status-bar {
					display: inline-block;
					margin-left: 20px;
					font-size: 12px;
					color: #FFFFFF;
					line-height: 1em;
					.icon {
						font-size: 18px;
						margin-right: 10px;
						vertical-align: middle;
					}
					.message {
						vertical-align: middle;
					}
				}
			}
			&.align-center {
				.header-wrap {
					display: inline-block;
					margin: 5px;
					.title-block {
						display: inline-block;
						vertical-align: middle;
						.title {
							font-size: 20px;
							color: #FFFFFF;
							line-height: 1em;
						}
						.sub-title {
							opacity: 0.8;
							font-size: 12px;
							color: #FFFFFF;
							line-height: 1em;
							margin-top: 7px;
						}
					}
					.edit {
						display: inline-block;
						vertical-align: middle;
						margin-left: 15px;
						cursor: pointer;
						color: #fff;
						.icon {
						}
					}
				}
			}
			&.align-right {
				float: right;
				text-align: right;
				.tools-bar {
					display: inline-block;
					margin: 0 20px;
					height: 50px;
					min-width: 328px;
					position: absolute;
					right: 15px;
					top: 50%;
					@include transform(translateY(-50%));
					.tool {
						display: inline-block;
						text-align: center;
						cursor: pointer;
						font-size: 13px;
						color: #FFFFFF;
						line-height: 1em;
						vertical-align: middle;
						& + .tool {
							margin-left: 30px;
						}
						.icon {
							display: block;
							font-size: 20px;
							color: #FEFEFE;
						}
						.tool-name {
							display: block;
							margin-top: 13px;
						}
						md-switch {
							display: block;
							margin: 0;
							padding: 0;
							.md-container {
								margin: 0;
								width: 38px;
							}
							.md-bar {
								top: 0;
								left: 0;
								width: 38px;
								height: 22px;
								@include border-radius(11px);
							}
							.md-thumb {
								top: -1px;
								left: 1px;
							}
							&.md-checked {
								.md-bar {
									background-color: #27A3D4;
								}
								.md-thumb {
									background-color: #fff;
								}
							}
						}
					}
					.tool-splitter {
						display: inline-block;
						border-left: 1px solid #fff;
						height: 20px;
						vertical-align: middle;
						margin: 0 30px;
						opacity: 0.8;
					}
				}
			}
		}
	}

	.content {
		position: relative;
		height: calc(100% - 80px);
		border-top: 1px solid #ddd;
		.spot-wrap {
			.spot {
				margin: 0;
				padding: 16px;
				background: #fff;
				border: 1px solid #ccc;
				@include border-radius(3px);
				min-height: auto;
				.thumbnail {
					width: 90px;
					height: 90px;
				}
				.info {
					margin-left: 90px;
					.title {
						font-size: 16px;
						color: #515356;
						line-height: 1em;
						margin-bottom: 12px;
					}
					.descript {
						font-size: 13px;
						color: #777;
						line-height: 1.5em;
						max-height: 1.5em * 2
					}
					.metas {
						.recommend {
						}
					}
				}
			}
		}
		.target-container {
			position: relative;
			height: 100%;
			.trip-list-wrap {
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				@include user-select(none);
				overflow: hidden;
				[ng-transclude] {
					height: 100%;
				}
			}
			.trip-list {
				min-height: 100%;
				width: 240px;
				background: #F0F1F1;
				border-right: 1px solid #ddd;
				padding-top: 70px;
				padding-bottom: 72px;
				.trip {
					padding: 20px 36px;
					position: relative;
					margin: -1px 0;
					border-style: solid;
					border-width: 1px 0 1px 0;
					border-color: #eee;
					background: #F0F1F1;
					cursor: move;
					&.placeholder {
						border-style: dashed;
						border-color: $blue-color;
						background-color: transparentize($blue-color, 0.9);
						> * {
							visibility: hidden;
						}
					}
					.spot-zone {
						display: inline-block;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						.spot-wrap {
							display: none;
						}
						.sortable-ghost {
							display: inline-block;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							background: rgba(49, 196, 255, 0.05);
							border: 1px dashed #31C4FF;
							@include border-radius(3px);
							visibility: visible !important;
							& > * {
								display: none;
							}
						}
					}
					.drag-point {
						display: inline-block;
						position: absolute;
						top: 20px;
						left: 6px;
						width: 26px;
						height: 42px;
						text-align: center;
						.icon {
							color: #ccc;
							font-size: 22px;
							display: inline-block;
						  position: absolute;
						  top: 50%;
						  left: 50%;
						  transform: translate3d(-50%,-50%,0);
						}
					}
					.info {
						display: inline-block;
						vertical-align: middle;
						.title {
							font-size: 16px;
							color: #6A6A6A;
							line-height: 1em;
						}
						.meta {
							font-size: 13px;
							color: #9B9B9B;
							line-height: 1em;
							margin-top: 10px;
						}
					}
					&.active {
						background: #fff;
						border-style: solid;
						border-width: 1px 0 1px 0;
						border-color: #ddd;
						margin-right: -1px;
						& + .trip:not(.active),
						& + .add-trip {
							border-top: 1px solid #ddd;
						}
						.drag-point {
							color: #333;
						}
						.info {
							.title {
								color: #333;
							}
							.meta {
								color: #333;
							}
						}
					}
					.tools {
						display: inline-block;
						position: absolute;
						right: 0;
						top:0;
						width: 36px;
						opacity: 0;
						// background-color: #fff;
						.tool {
							display: inline-block;
							position: relative;
							width: 36px;
							height: 36px;
							cursor: pointer;
							color: #9B9B9B;
							&:hover {
								color: darken(#9B9B9B, 20%);
							}
							.icon {
								display: inline-block;
								position: absolute;
								top: 50%;
								left: 50%;
								@include transform(translate3d(-50%,-50%,0));
							}
						}
					}
					&:hover {
						.tools {
							opacity: 1;
						}
					}
					&.sortable-ghost {
						background: #F6FCFF;
						border: 1px dashed #31C4FF;
						@include border-radius(3px);
						visibility: visible !important;
					}
				}
				.add-trip {
					height: 80px;
					padding: 26px 50px;
					position: relative;
					border-top: 1px solid #eee;
					cursor: pointer;
					font-size: 13px;
					color: #777;
					line-height: 1em;
					.icon-wrap {
						display: inline-block;
						width: 28px; 
						height: 28px;
						border: 1px dashed #777;
						@include border-radius(3px);
						vertical-align: middle;
						position: relative;
						margin-right: 14px;
						.icon {
							font-weight: bold;
							display: inline-block;
							position: absolute;
							top: 50%;
							left: 50%;
							@include transform(translate3d(-50%,-50%,0));
							font-size: 13px;
						}
					}
					span {
						vertical-align: middle;
					}
					&:hover {
						color: darken(#777, 20%);
						.icon-wrap {
							border-color: darken(#777, 20%);
						}
					}
				}
				.tooltip {
					display: inline-block;
					position: fixed;
					left: 0;
					bottom: 0;
					width: 239px;
					padding: 30px 35px;
					font-size: 12px;
					color: rgba(155,155,155,0.8);
					background-color: #F0F1F1;
					line-height: 1em;
				}
			}
			.trip-detail {
				display: inline-block;
				height: 100%;
				width: calc(100% - 240px);
				margin-left: 240px;
				background: #fff;
				border-right: 1px solid #ddd;

				.header {
					min-height: 70px;
					padding: 15px 25px;
					border-bottom: 1px solid #ddd;
					text-align: right;
					.title {
						display: inline-block;
						float: left;
						font-size: 18px;
						color: #6A6A6A;
						line-height: 1em;
						vertical-align: middle;
						margin: 9px 0;
					}
					.tools {
						display: block;
						vertical-align: middle;
						.tool {
							background: #F3F5F6;
							border: 1px solid #ACB4BC;
							font-size: 13px;
							color: #6A6A6A;
							line-height: 1em;
							margin: 0 0 0 10px;
							padding: 0 12px;
							&:hover {
								background: darken(#F3F5F6, 20%);
								color: darken(#6A6A6A, 20%);
								border-color: darken(#ACB4BC, 20%);
							}
							.icon {

							}
						}
					}
				}
				.spot-list-wrap {
					position: relative;
					height: calc(100% - 70px);
					overflow: hidden;
					[ng-transclude] {
						height: 100%;
					}
				}
				.spot-list {
					padding: 30px 30px 60px 30px;
					position: relative;
					min-height: 100%;
					.dashed-line {
						content: '';
						display: inline-block;
						position: absolute;
						left: 50px;
						top: 0;
						bottom: 0;
						border-right: 1px dashed #ddd;
					}
					.spot-wrap {
						position: relative;
						@include user-select(none);
					    margin-bottom: 24px;
					    &.ng-animate {
					    	transition:0.5s linear background-color;
					    }
					    &.ng-enter {
					    	.spot {
							    // @include easeOutCirc(all, 350ms);
							    // @include transform(scale(.97));
							    opacity:0;
							    @include animation(itemPopUp .40s ease both);
							    @include animation-delay(80ms);
							}
						}

						&.ng-enter.ng-enter-active {
							.spot {
						    	opacity:1;
						    }
						}

						&.ng-leave {
							.spot {
							    opacity:1;
							    @include animation(itemPopDown .20s ease both);
							    @include animation-delay(80ms);
							}
						}

						&.ng-leave.ng-leave-active {
							.spot {
						    	opacity:0;
						    }
						}
						.spot {
							cursor: move;
							padding-right: 16px;

							.tools {
								display: inline-block;
								position: absolute;
								right: 0;
								width: 36px;
								top: 50%;
								opacity: 0;
								@include transform(translateY(-50%));
								background-color: #fff;
								.tool {
									display: inline-block;
									position: relative;
									width: 36px;
									height: 36px;
									cursor: pointer;
									color: #9B9B9B;
									&:hover {
										color: darken(#9B9B9B, 20%);
									}
									.icon {
										display: inline-block;
										position: absolute;
										top: 50%;
										left: 50%;
										@include transform(translate3d(-50%,-50%,0));
									}
								}
							}
							&:hover {
								.tools {
									opacity: 1;
								}
							}
						}
						&.sortable-ghost {
							background: #F6FCFF;
							border: 1px dashed #31C4FF;
							@include border-radius(3px);
							visibility: visible !important;
							& > * {
								visibility: hidden;
							}
						}
					}
					.distance {
						position: absolute;
					    top: -12px;
						display: inline-block;
						background: #fff;
						border: 1px solid #ddd;
						@include border-radius(2px);
						font-size: 12px;
						color: #9B9B9B;
						line-height: 1em;
						padding: 4px 8px;
						// margin: 12px 0;
						position: relative;
						.icon {
							color: #9B9B9B;
							margin-right: 4px;
						}
						span {
							margin-right: 10px;
						}
					}
				}
			}
		}
		.source-container {
			height: 100%;
			.header {
				min-height: 70px;
				padding: 15px 30px;
				border-bottom: 1px solid #ddd;
				text-align: right;
				@include user-select(none);
				.title {
					display: inline-block;
					float: left;
					font-size: 18px;
					color: #6A6A6A;
					line-height: 1em;
					margin: 11px 0 10px 0;
				}
				.menu-bar {
					display: block;
					vertical-align: middle;
					margin: 5px 0 4px 0;
					md-select {
						margin: 0;
						vertical-align: middle;
						.md-select-label {
							border: none;
							&:before,
							&:after {
								content: '';
								display: inline-block;
								position: absolute;
								width: 4px;
								height: 4px;
								right: 10px;
								top: 50%;
								@include transform(translateY(-50%) rotate(45deg));
								border: 1px solid #4A4A4A;
								border-right: none;
								border-bottom: none;
								margin-top: -2px;
							}
							&:after {
								@include transform(translateY(-50%) rotate(-135deg));
								margin-top: 3px;
							}
							.md-select-icon {
								display: none;
							}
						}
					}
					.splitter {
						display: inline-block;
						width: 1px;
						height: 16px;
						margin: 0 8px;
						border-left: 1px solid #ccc;
						vertical-align: middle;
					}
					.tabs {
						display: inline-block;
						margin: 0 0 0 4px;
						vertical-align: middle;
						.tab {
							display: inline-block;
							margin: 0;
							padding: 8px;
							font-size: 14px;
							color: #9B9B9B;
							line-height: 1em;
							&:hover {
								color: darken(#9B9B9B, 20%);
							}
							&.active {
								color: #353D49;
							}
							& + .tab {
								margin-left: 8px;
							}
						}
					}
					.layouts {
						display: inline-block;
						margin: 0 0 0 8px;
						vertical-align: middle;
						.layout {
							display: inline-block;
							font-size: 14px;
							color: #4A4A4A;
							cursor: pointer;
							&:hover {
								color: darken(#4A4A4A, 20%);
							}
							&.active {
								color: #31C4FF;
							}
							& + .layout {
								margin-left: 14px;
							}
						}
					}
				}
			}
			.content {
				border: none;
				height: calc(100% - 70px);
				.filter-bar {
					margin: 0;
					padding: 20px 30px;
					text-align: right;
					.types {
						display: inline-block;
						float: left;
						margin: 3px 0;
						vertical-align: middle;
						@include user-select(none);
						.type {
							display: inline-block;
							font-size: 14px;
							color: #9B9B9B;
							line-height: 1em;
							padding: 7px 9px;
							border: 1px solid transparent;
							@include border-radius(3px);
							&:hover {
								color: darken(#9B9B9B, 20%);
							}
							&.active {
								color: #353D49;
								border-color: #545454;
							}
							& + .type {
								margin-left: 10px;
							}
						}
					}
					.select-wrap {
						display: inline-block;
						float: left;
						.select-label {
							font-size: 14px;
							color: #353D49;
							line-height: 1em;
							margin-right: 20px;
						}
						md-select {
							min-width: 140px;
							height: 36px;
							margin: 0;
							border: 1px solid #ddd;
							@include border-radius(2px);
							font-size: 14px;
							color: #6A6A6A;
							line-height: 1em;
							vertical-align: middle;
							.md-select-label {
								height: 34px;
								padding-left: 16px;
								border: none;
								.md-select-icon {
									&:after {
										content: '';
										display: inline-block;
										position: absolute;
										width: 4px;
										height: 4px;
										right: 16px;
										top: 50%;
										@include transform(translateY(-50%) rotate(-135deg));
										border: 1px solid #777;
										border-right: none;
										border-bottom: none;
										margin-top: -2px;
									}
								}
							}
						}
					}
					.search-wrap {
						display: block;
						height: 36px;
						.search {
							display: inline-block;
			  			height: 36px;
			  			@include border-radius(3px);
			  			background: #FFFFFF;
			  			color: #6a6a6a;
			  			border: 1px solid #DDDDDD;
			  			width: 240px;
			  			padding: 0 0 0 10px;
			  			margin: 0 0 0 10px;
			  			@include appearance(none);
			  			text-align: left;
							i {
								float: left;
							  margin: 0;
							  padding: 9px 7px 9px 0;
							  height: 100%;
							  font-size: 16px;
							}
							input {
								display: block;
							  height: 100%;
							  width: calc(100% - 30px);
							  margin: 0;
							  padding: 0 5px;
							  border: none;
							  background-color: inherit;
							}
							md-autocomplete {
			  				box-shadow: none;
			  				background-color: inherit;
			  				height: 100%;
			  				margin-left: 23px;
			  				md-autocomplete-wrap {
			  					height: 36px;
			  				}
			  				input {
			  					line-height: 36px;
			  				}
								button {
									top: 8px;
									right: 8px;
									md-icon {
										path {
											fill: rgba(0,0,0,0.1);
										}
									}
								}
								ul[role="presentation"] {
									left: -33px;
									right: -10px;
									li {
										background: #fff;
										& + li {
											border-top: none;
										}
										&:hover {
											background: #F3F3F3;
										}
									}
								}
								md-item-template {
									span.text {
										font-size: 14px;
										color: #4A4A4A;
										font-weight: normal;
										.highlight {
											color: #4A4A4A;
											font-weight: bold;
										}
									}
								}
							}
						}
					}
				}
				.error-msg {
					background: rgba(252,110,44,0.1);
					border: 1px solid #FD6F2D;
					@include border-radius(3px);
					margin: 0 30px 20px 30px;
					padding: 20px 25px;
					@include box-shadow(none);
					.message {
						font-size: 14px;
						color: #777;
						line-height: 1.5em;
						.highlight {
							color: #FD6F2D;
						}
					}
				}
				.spot-list-wrap {
					position: relative;
					height: calc(100% - 76px);
					overflow: hidden;
					[ng-transclude] {
						height: 100%;
					}
				}
				.spot-list {
					padding: 30px 30px 60px 30px;
					position: relative;
					min-height: 100%;
					padding: 0 20px;
  				margin: -10px 0 0 0;
					.spot-wrap {
						display: inline-block;
						width: 50%;
						@include user-select(none);
						@media screen and (max-width: 1440px) {
					        width: 100%;
					    }
						.spot {
							cursor: move;
							margin: 10px;
							padding: 16px 60px 16px 16px;
							&.checked {
								border-color: #31C4FF;
								opacity: 0.7;
								cursor: default;
								.info {
									.title {
										color: #31C4FF;
									}
									.descript {
										color: #31C4FF;
									}
								}
							}
							.check {
								display: inline-block;
								position: absolute;
								width: 40px;
								height: 40px;
								right: 15px;
								top: 50%;
								@include transform(translateY(-50%));
								text-align: center;
								color: #000;
								@include user-select(none);
								&.active {
									color: #31C4FF;
									i {
										color: #31C4FF;
									}
								}
								&:before {
									content: '';
									display: inline-block;
									height: 100%;
									vertical-align: middle;
								}
								i {
									vertical-align: middle;
									font-size: 36px;
									display: inline-block;
									width: 36px;
									height: 36px;
									color: #777;
								}
							}
						}
					}
				}
				.map {
					height: 100%;
					background-color: #eee;
					.tab-bar {
						display: inline-block;
						position: absolute;
						bottom: 30px;
						left: 50%;
						@include transform(translateX(-50%));
						.tab {
							display: inline-block;
							width: 120px;
							height: 36px;
							text-align: center;
							background: #fff;
							border: 1px solid #ccc;
							font-size: 13px;
							color: #6A6A6A;
							line-height: 34px;
							margin: -1px;
							&:first-child {
								@include border-radius(3px 0px 0px 3px);
							}
							&:last-child {
								@include border-radius(0px 3px 3px 0px);
							}
							&.active {
								background: #31C4FF;
								border: 1px solid #31C4FF;
								color: #FFFEFE;
							}
						}
					}
					.spot {
						display: inline-block;
						position: relative;
						width: 280px;
						height: 110px;
						margin: 0;
						padding: 15px;
						background: #fff;
						@include box-shadow(0px 4px 8px 0px rgba(0,0,0,0.30));
						@include border-radius(4px);
						&:after {
							content: '';
							display: inline-block;
							width: 12px;
							height: 12px;
							position: absolute;
							bottom: -6px;
							left: 50%;
							background-color: #fff;
							@include transform(translateX(-50%) rotate(45deg));
							@include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.15));
						}
						.thumbnail {
							width: 80px;
							height: 80px;
							background-size: cover;
							background-position: center;
							float: left;
							@include border-radius(3px);
						}
						.info {
							margin-left: 92px;
							.title {
								font-size: 16px;
								color: #4A4A4A;
								line-height: 1em;
								margin-bottom: 8px;
							}
							.metas {
								margin-bottom: 8px;
								.ranks {
									i {
										font-size: 12px;
										& + i {
											margin-left: 2px;
										}
									}
								}
								.recommend {
									display: inline-block;
									font-size: 10px;
									color: #9B9B9B;
									line-height: 12px;
								}
							}
							.button {
								width: 150px;
								height: 32px;
								line-height: 30px;
								margin: 0;
							}
						}
						.close {
							display: inline-block;
							position: absolute;
							top: 10px;
							right: 10px;
							cursor: pointer;
							color: #1A1919;
							&:hover {
								color: darken(#1A1919, 20%);
							}
							.icon {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
	.sortable-container {
		min-height: 150px;
	}
}
