// home.scss 開始
.home-page {

  #map {
    position: relative;
    padding-bottom: 10px;
    .section-wrap {
      text-align: left;
      position: relative;
    }
    .map-title {
      font-family: $globe-font-style;
      font-weight: bold;
      font-size: 24px;
      color: #F05826;
      float: left;
      margin-bottom: 12px;
    }
    .map-descript {
      font-size: 16px;
      color: #777777;
      line-height: 2em;
    }
  }

  #check-in-map {
    position: relative;
    width: 100%;
    height: auto;
    .map {
      position: absolute;
      right: 0px;
      width: 40%;
      height: 760px;
      top: 0px;
      z-index: 99;
      border-radius: 5px;
    }
  }
  .infoslogan {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
  }
  .infosearch {
    width: 640px;
    height: 158px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hoverCon {
    padding: 20px;
    color: #ffffff;
    z-index: 99;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    .title {
      font-weight: bold;
      opacity: 1;
      font-size: 20px;
      color: #FFFFFF;
      font-family: "Lato", "Helvetica Neue", georgia, Arial, "HiraKakuProN-W6", "微软雅黑", "微軟正黑體", "Microsoft Yahei", sans-serif;
    }
    .hover-info {
      line-height: 1.6em;
      margin-top: 20px;
      max-height: 8em;
      overflow: hidden;
      font-size: 16px;
    }
    .hover-link {
      line-height: 3em;
      font-size: 16px;
      color: #ffffff;
      text-decoration: underline;
    }
  }
  .banner {
    position: relative; // @include display(flex);
    @include flexbox(( display: flex));
    height: 40vh;
    min-height: 400px;
    background-color: #333;
    @include flex-wrap(wrap);
    @include align-items(center);
    @include align-content(center);
    @include justify-content(center);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include background-image(linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%));
    } // &:after {
    // 	content: "";
    // 	position: absolute;
    // 	top: 0;
    // 	left: 0;
    // 	right: 0;
    // 	bottom: 0;
    // 	// background: rgba(0,0,0,0.4);
    // 	background-image: -webkit-gradient(linear, 20% 0%, 80% 100%, color-stop(0%, rgba(36, 44, 50, 0.9)),color-stop(100%, #242D32));
    // 	background-image: -o-gradient(linear, 20% 0%, 80% 100%, color-stop(0%, rgba(36, 44, 50, 0.9)),color-stop(100%, #242D32));
    // 	background-image: gradient(linear, 20% 0%, 80% 100%, color-stop(0%, rgba(36, 44, 50, 0.9)),color-stop(100%, #242D32));
    // 	opacity: 0.6;
    // 	// background-image: -webkit-linear-gradient(rgba(0,0,0,0.20) 50%, rgba(0,0,0,0.28) 100%);
    // 	// background-image: -o-linear-gradient(rgba(0,0,0,0.20) 50%, rgba(0,0,0,0.28) 100%);
    // 	// background-image: linear-gradient(rgba(0,0,0,0.20) 50%, rgba(0,0,0,0.28) 100%);
    // }
    .info {
      z-index: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      max-width: 640px;
      @include transform(translateX(-50%) translateY(-50%)); // @include align-self(center);
      text-align: center;
      &.right {
        text-align: left;
        left: 50%;
        @include transform(translateY(-50%));
      }
      h2 {
        font-family: $banner-font-style;
        font-weight: 900;
        font-size: 40px;
        color: #FFFFFF;
        letter-spacing: 0px;
        line-height: 1.2em;
        margin-bottom: 12px;
      }
      p {
        font-family: $banner-font-style;
        opacity: 0.9;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 1.7em;
      }
      .go-to-action {
        margin-top: 24px;
        .download-button {
          display: inline-block;
          margin-right: 8px;
          img {
            width: 160px;
          }
        }
        .button {
          padding: 0 20px;
          font-weight: normal;
          margin-right: 16px;
          border-width: 0px;
          box-sizing: content-box;
          border-radius: 3px;
          font-weight: bold;
          @include transition(background-color 155ms ease-in);
          &:hover {
            // &.android {
            // 	background-color: #A3C519;
            // }
            // &.appstore {
            // 	background-color: #000;
            // }
            color: #FFF;
          }
          &.white {
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid #fff;
            color: #FFF;
          }
          img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 12px;
            height: 20px;
          }
        }
      }
    }
  }

  .recommend-trips {
    width: 100%;
    .trips-wrap {
      width: calc((100%/5));
      text-decoration: none;
      padding-left: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .trips-wrap:first-child {
      padding-left: 0px;
    }
    .trips {
      position: relative;
      text-align: left;
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
      .duration {
        z-index: 100;
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-family: $globe-font-style;
        font-weight: 300;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 1.49px;
        line-height: 28px;
        span {
          font-size: 14px;
        }
      }
      .thumbnail {
        position: relative; // height: 180px;
        height: 0;
        padding-bottom: calc(75% - 20px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: none;
        }
      }
      .info {
        padding: 15px 0px;
        h4.title {
          max-height: 3em;
          font-size: 18px;
          font-weight: bold;
          color: #515356;
          margin-bottom: 8px;
          overflow: hidden;
          display: -webkit-box;
          line-height: 1.5em;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        p.admin {
          background-repeat: no-repeat;
          width: 120px;
          float: left;
          line-height: 1.5em;
          color: #515356;
          text-decoration: underline;
        }

        p.collect {
          text-align: right;
          width: 40px;
          line-height: 1.5em;
          height: 21px;
          float: right;
          color: #515356;
        }
      }
    }
  }
  .hot-guides {
    width: 100%;
    .trips-wrap {
      width: calc(100%/5);
      text-decoration: none;
      padding-left: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .trips-wrap:first-child {
      padding-left: 0px;
    }
    .guide {
      position: relative;
      text-align: left;
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
      .duration {
        z-index: 100;
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-family: $globe-font-style;
        font-weight: 300;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 1.49px;
        line-height: 28px;
        span {
          font-size: 14px;
        }
      }
      .thumbnail {
        position: relative;
        border-radius: 5px; // height: 180px;
        height: 0;
        margin-bottom: 20px;
        padding-bottom: calc(75% - 40px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: none;
        }
        .avatar {
          display: inline-block;
          width: 100px;
          height: 100px;
          bottom: -40px;
          position: absolute;
          -moz-border-radius: 100%;
          -webkit-border-radius: 100%;
          border-radius: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          vertical-align: middle;
        }
        .writer {
          color: #515356;
          display: inline-block;
          position: absolute;
          bottom: -20px;
          left: 60px;
        }
      }
      .info {
        padding: 15px 0px;
        h4.title {
          max-height: 3em;
          font-size: 18px;
          font-weight: bold;
          color: #515356;
          line-height: 1.5em;
          margin-bottom: 8px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        p.admin {
          background-repeat: no-repeat;
          width: 120px;
          float: left;
          line-height: 1.5em;
          color: #000000;
        }

        p.collect {
          text-align: right;
          width: 40px;
          line-height: 1.5em;
          height: 21px;
          float: right;
          color: #515356;
        }
      }
    }
  }
  section.final {
    .section-wrap {
      padding: 50px 40px 0px;
    }
  }

  section.recommend-events-section {
    .section-wrap {
      padding: 50px 40px 0px;
    }
    .section-title {
      text-align: left;
      font-family: $globe-font-style;
      font-weight: bold;
      font-size: 24px;
      color: #F9BC24;
      margin-bottom: 12px;
    }
  }
  .recommend-events {

    .event-wrap:first-child {
      padding-left: 5px;
    }

    .event-wrap {
      width: calc(100%/6);
      text-decoration: none;
      padding-left: 20px;
      margin-top: 5px;
      margin-bottom: 5px;

      .event {
        display: block;
        position: relative;
        border-radius: 5px;
        &:hover {
          .info {
            color: #333;
          }
        }
        .thumbnail {
          width: 100%;
          border-radius: 5px;
          height: 0;
          padding-bottom: calc(80% - 20px);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          overflow: hidden;
          background-color: #333;
        }
        .info {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 30px;
          line-height: 30px;
          background-color: #fff;
          font-size: 13px;
          font-weight: bold;
          color: #6a6a6a;
          letter-spacing: 0.22px;
        }
      }
    }
  }

  .recommend-theme {
    @include user-select(none);
    .theme-wrap {
      width: calc((100%/3));
      padding-left: 20px;
    }
    .theme-wrap:first-child {
      padding-left: 5px;
    }
    .theme {
      position: relative;
      text-align: left;
      background-color: #fff;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 5px;
      overflow: hidden;

      .thumbnail {
        position: relative;
        height: 166px;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: none;
        }
        .title {
            font-family: $banner-font-style;
            font-size: 1.7rem;
            color: #FFFFFF;
            text-align: center;
            line-height: 1em;
            padding-top: 90px;
            text-shadow: 2px 2px 3px #000;
          }
      }
      .info {
        padding: 15px 0px;
        h4.title {
          height: 1em;
          max-height: 1em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 16px;
          color: #7D7D7D;
          margin-bottom: 8px;
          text-align: center;
        }
        p.descript {
          font-size: 13px;
          color: #777;
          line-height: 1.5em;
          max-height: 1.5em * 2;
          overflow: hidden;
        }
      }
    }
  }



  .recommend-collections {
    .collection {
      display: block;
      position: relative;
      height: 0;
      padding-bottom: calc(100% - 20px);
      margin: 10px;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      background-color: #333;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.00) 19%, rgba(0, 0, 0, 0.60) 100%);
        background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.00) 19%, rgba(0, 0, 0, 0.60) 100%);
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.00) 19%, rgba(0, 0, 0, 0.60) 100%);
      }
      .info {
        position: absolute;
        z-index: 99;
        width: 80%;
        text-align: center;
        top: 50%;
        left: 50%;
        @include transform(translateX(-50%) translateY(-50%));
        h4.title {
          font-weight: bold;
          opacity: 1;
          font-size: 18px;
          color: #FFFFFF;
          margin-bottom: 8px;
        }
        .metas {
          opacity: 0.9;
          font-size: 16px;
          color: #FFFFFF;
        }
      }
    }
  }
  .recommend-pins {
    float: left;
    width: 60%;
    height: 768px;
    .pin {
      display: block;
      position: relative;
      height: 240px;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 20px;
      margin-bottom: 20px;
      overflow: hidden;
      background-color: #333;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.00) 19%, rgba(0, 0, 0, 0.60) 100%);
        background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.00) 19%, rgba(0, 0, 0, 0.60) 100%);
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.00) 19%, rgba(0, 0, 0, 0.60) 100%);
      }
      .info {
        position: absolute;
        z-index: 99;
        text-align: left;
        bottom: 22px;
        left: 15px;
        h4.title {
          font-weight: bold;
          opacity: 1;
          font-size: 20px;
          color: #FFFFFF;
          padding-left: 5px;
          font-family: $banner-font-style;
        }
        .metas {
          opacity: 1;
          margin-bottom: 8px;
          font-size: 14px;
          color: #FFFFFF;
        }
        .pintag {
          width: 30px;
          height: 30px;
          float: left;
          background-repeat: no-repeat;
          display: block;
          text-align: center;
          background-image: url(../images/png/pintag.png);
        }
        .pincount {
          float: left;
        }
      }
    }
  }

  .hot-spots {
    @include user-select(none);
    .spot-wrap {
      width: calc((100%/5));
      text-decoration: none;
      padding-left: 10px;
    }
    .spot-wrap:first-child {
      padding-left: 0px;
    }
    .spot {
      position: relative;
      text-align: left;
      background-color: #fff;
      margin: 5px;
      border-radius: 5px;
      overflow: hidden;

      .thumbnail {
        position: relative; // height: 180px;
        border-radius: 5px;
        height: 0;
        padding-bottom: calc(75% - 20px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: none;
        }
      }
      .info {
        padding: 15px 0px;
        h4.title {
          max-height: 3em;
          font-size: 18px;
          font-weight: bold;
          color: #515356;
          margin-bottom: 8px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }

        p.descript {
          font-size: 13px;
          color: #777;
          line-height: 1.5em;
          max-height: 1.5em * 2;
          overflow: hidden;
        }
        p.adrank {
          background-image: url(../images/tripadvisor.png);
          width: 95px;
          height: 16px;
          margin-top: 10px;
          float: left;
        }
        p.destit {
          text-align: right;
          line-height: 1.5em;
          height: 21px;
          float: right;
          color: #515356;
          margin-top: 10px;
          font-size: 9px;
        }
        i {
          padding-left: 10px;
        }
      }
    }
  }
  .slideshow {
    height: 40vh;
    min-height: 400px;
    overflow: initial;

    .slides {
      .slide {
        @include transition(left 350ms ease-in-out);
      }
    }
    .ctrl-btn {
      width: 60px;
      height: 120px;
      &.prev {
        left: 50%;
        margin-left: -385px;
        @include transform(translate(-50%, -50%));
      }
      &.next {
        right: 50%;
        margin-right: -385px;
        @include transform(translate(50%, -50%));
      }
      i {
        font-size: 36px;
        width: 16px;
        height: 36px;
      }
    }
    .ctrl-panel {
      .ctrl-point {
        width: 12px;
        height: 12px;
        &+.ctrl-point {
          margin-left: 6px;
        }
      }
    }
  }
  .infoset li a {
    color: #999B9A;
    padding-left: 20px;
    position: relative;
    float: left;
    font-size: 20px;
    margin-top: 25px;
  }
  .infoset li .active {
    color: #ffffff;
    font-style: bold;
  }
  .mainsearch-wrap {
    margin-top: -1px;
    .search {
      margin: 0;
      margin-top: 12px;
      border-width: 1px 0;
      /*width: 143px;*/
      width: 100%;
      height: 60px;
      background-color: transparent;
      border: none;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 56px;
      md-autocomplete {
        margin-left: 0;
        md-item-template {
          span.text {
            font-size: 14px;
            color: #4A4A4A;
            font-weight: normal;
            .highlight {
              color: #31C4FF;
            }
          }
        }
        ul {
          max-height: 240px;
          overflow: hidden;
          border: none;
          border-radius: 2px;
          margin-top: 5px;
        }
        li {
          color: #9B9B9B;
          border: none;
          &:hover {
            .text {
              font-weight: bold;
            }
          }
          .text {
            color: #9B9B9B;
          }
        }
        .md-default-theme {
          display: none;
        }
      }
      .host {
        width: 400px;
        position: absolute;
        margin-top: 0px;
        .tag-item {
          font-family: $globe-font-style;
          margin: 8px 0 0 8px;
          background-color: #31C4FD;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          font-size: 14px;
          color: #ffffff;
          cursor: pointer;
          .remove-button {
            display: inline-block;
            color: #ffffff;
            float: right;
            padding-top: 3px;
          }
        }
      }

      .tags {
        min-height: 40px;
        line-height: 40px;
        max-height: 80px;
        overflow-y: auto;
        input.input {
          font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", "STHeiti", "Microsoft YaHei", "微软雅黑", "微軟正黑體", sans-serif!important;
          width: 100px !important;
          line-height: 3em !important;
          height: 2.5em !important;
          padding: 0 !important;
          margin: 0 8px !important;
          border: none !important;
        }
      }
      .input-wrap {
        width: 400px;
        float: left;
      }
      .schdule-button {
        float: right;
        width: 190px;
        height: 40px;
        cursor: pointer;
        padding-top: 13px;
        color: #ffffff;
        vertical-align: middle;
        text-align: center;
        border-radius: 3px;
        background-color: #31C4FF;
      }
      tags-input .autocomplete .suggestion-item.selected {
        background-color: #EAF9FF;
      }

      tags-input .autocomplete .suggestion-item.selected em {
        background-color: #EAF9FF;
      }
      .autocomplete {
        z-index: 999;
        padding-left: 10px;
        .suggestion-item {
          display: inline-block;
          font-size: 14px;
          font-family: $globe-font-style;
          padding: 10px;
          color: #4A4A4A;
        }
      }
      .suggestion-list {
        height: 120px;
        text-align: left;
      }
    }
  }
  .searchbtn {
    position: absolute;
    z-index: 99;
    right: 20px;
    cursor: pointer;
    padding: 10px;
  }
  .infotip {
    color: #ffffff;
    font-size: 14px;
    margin-top: 40px;
    padding-top: 10px;
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
  .infoleft {
    float: left;
    padding-left: 20px;
  }
  .inforight {
    float: right;
    padding-right: 20px;
    a {
      color: #ffffff;
    }
  }
  .rightNav {
    position: absolute;
    width: 1160px;
    text-align: right;
    cursor: pointer;
    margin-top: 120px;
    margin-right: -50px;
  }
  .leftNav {
    position: absolute;
    width: 1160px;
    text-align: left;
    margin-top: 120px;
    cursor: pointer;
    margin-left: -50px;
  }

  .control {
    @include user-select(none);
    width: 100%;
    z-index: 99;
    position: relative;
    height: auto;
    cursor: pointer;
    vertical-align: middle;
    &>span {
      position: absolute;
      width: 13px;
      height: 13px;
      border: 3px solid #A4A4A4;
      @include transform(translate3d(-50%, -50%, 0) rotate(45deg));
    }
    &:hover {
      &>span {
        border-color: darken(#A4A4A4, 20%);
      }
    }
    .control-left {

      border-top: 0;
      border-right: 0;
      position: absolute;
      left: -30px;
      top: 120px;
    }
    .control-right {

      border-bottom: 0;
      border-left: 0;
      position: absolute;
      right: -40px; //10px for border width
      top: 120px;
    }
  }
  .control-point-block {
    display: inline-block;
    margin: 3px;
    vertical-align: middle;


    .control-point {
      display: inline-block;
      width: 15px;
      height: 16px;
      @include border-radius(100%);
      cursor: pointer;
      position: relative;
      vertical-align: middle;
      margin: 1px;
      &>span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #ccc;
        @include border-radius(100%);
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate3d(-50%, -50%, 0));
      }
      &:hover {
        &>span {
          background: darken(#ccc, 20%);
        }
      }
      &.active {
        &>span {
          background: #777;
        }
      }
    }
  }

  .mslideshow {
    height: 40vh;
    min-height: 200px;
    overflow: hidden;
    &.multi-slide {
      width: 100%;
      height: auto;
      margin: 0;
      background-color: initial;
      .slides {
        height: auto;
        @include transition(all 350ms ease-in-out);
        .slide {
          height: auto;
          display: inline-block;
          position: relative;
          float: left;
          &.active {
            display: block;
          }
          .spot-tickets {
            margin: -10px;
          }
        }
      }
      .ctrl-btn {
        display: none;
        width: 60px;
        height: 60px;
        opacity: 0.6;
        background: #171717;
        cursor: pointer;
        &:hover {
          background: darken(#171717, 10%);
        }
      }
      &:hover {
        .ctrl-btn {
          display: inline-block;
        }
      }
    }
  }

  .section-ninfo {
    margin-bottom: 40px;
    text-align: left;
    .section-title {
      font-family: $globe-font-style;
      font-weight: bold;
      font-size: 24px;
      color: #00BCD4;
      margin-bottom: 12px;
      float: left;
    }

    .section-smenu {
      float: left;
      font-size: 14px;
      color: #9B9B9B;
      line-height: 2em;
      margin-left: 25px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .section-rmenu {
      float: right;
      font-size: 14px;
      color: #00BCD4;
      line-height: 2em;
      margin-left: 25px;
      &>span {
        display: inline-block;
        border: 2px solid #00BCD4;
        border-bottom: 0;
        border-left: 0;
        margin-left: 5px;
        width: 8px;
        height: 8px;
        vertical-align: text-bottom;
        @include transform(translate3d(-50%, -50%, 0) rotate(45deg));
      }
    }
    .active {
      text-align: center;
      color: #FFF;
      border-radius: 3px;
      background-color: #01BAF2;
    }
  }
  .section-sinfo {
    margin-bottom: 40px;
    text-align: left;
    .section-title {
      font-family: $globe-font-style;
      font-weight: bold;
      font-size: 24px;
      color: #9058F1;
      margin-bottom: 12px;
      float: left;
    }
    .section-smenu {
      float: left;
      font-size: 14px;
      color: #9B9B9B;
      line-height: 2em;
      margin-left: 25px;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
    }
    .section-rmenu {
      float: right;
      font-size: 14px;
      color: #9058F1;
      line-height: 2em;
      margin-left: 25px;
      &>span {
        display: inline-block;
        border: 2px solid #9058F1;
        border-bottom: 0;
        border-left: 0;
        margin-left: 5px;

        width: 8px;
        height: 8px;
        vertical-align: text-bottom;
        @include transform(translate3d(-50%, -50%, 0) rotate(45deg));
      }
    }
    .active {
      text-align: center;
      color: #FFF;
      border-radius: 3px;
      background-color: #9058F1;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .section-ginfo {
    margin-bottom: 40px;
    text-align: left;
    .section-title {
      font-family: $globe-font-style;
      font-weight: bold;
      font-size: 24px;
      color: #03A9F2;
      margin-bottom: 12px;
      float: left;
    }
    .section-smenu {
      float: left;
      font-size: 14px;
      color: #9B9B9B;
      line-height: 2em;
      margin-left: 25px;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
    }
    .section-rmenu {
      float: right;
      font-size: 14px;
      color: #03A9F2;
      line-height: 2em;
      margin-left: 25px;
      &>span {
        display: inline-block;
        border: 2px solid #03A9F2;
        border-bottom: 0;
        border-left: 0;
        width: 8px;
        height: 8px;
        margin-left: 5px;
        vertical-align: text-bottom;
        @include transform(translate3d(-50%, -50%, 0) rotate(45deg));
      }
    }
    .active {
      text-align: center;
      color: #FFF;
      border-radius: 3px;
      background-color: #03A9F2;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .section-minfo {
    margin-bottom: 40px;
    text-align: left;
    .section-title {
      font-family: $globe-font-style;
      font-weight: bold;
      font-size: 24px;
      color: #00BCD4;
      margin-bottom: 12px;
      float: left;
    }
    .section-smenu {
      float: left;
      font-size: 14px;
      color: #9B9B9B;
      line-height: 2em;
      margin-left: 25px;
      padding-left: 10px;
      padding-right: 10px;
      float: left;
    }
    .menutag {
      .active {
        text-align: center;
        color: #FFF;
        border-radius: 3px;
        background-color: #E84119;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .section-rmenu {
      float: right;
      font-size: 14px;
      color: #F05826;
      line-height: 1em;
      margin-left: 25px;
    }


    .control-block {
      display: inline-block;
      position: relative;
      @include user-select(none);
      .control {
        display: inline-block;
        width: 14px;
        height: 14px;
        cursor: pointer;
        position: relative;
        vertical-align: middle;
        &>span {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          border: 3px solid #A4A4A4;
          @include transform(translate3d(-50%, -50%, 0) rotate(45deg));
        }
        &:hover {
          &>span {
            border-color: darken(#A4A4A4, 20%);
          }
        }
        &.control-left {
          &>span {
            border-top: 0;
            border-right: 0;
          }
        }
        &.control-right {
          &>span {
            border-bottom: 0;
            border-left: 0;
          }
        }
      }
      .control-point-block {
        display: inline-block;
        margin: 3px;
        vertical-align: middle;

        .control-point {
          display: inline-block;
          width: 10px;
          height: 10px;
          @include border-radius(100%);
          cursor: pointer;
          position: relative;
          vertical-align: middle;
          margin: 1px;
          &>span {
            display: inline-block;
            background: #ccc;
            @include border-radius(100%);
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate3d(-50%, -50%, 0));
          }
          &:hover {
            &>span {
              background: darken(#ccc, 20%);
            }
          }
          &.active {
            &>span {
              background: #777;
            }
          }
        }
      }
    }
  }
  .section-tinfo {
    margin-bottom: 40px;
    text-align: left;
    .section-title {
      font-family: $globe-font-style;
      font-weight: bold;
      font-size: 24px;
      color: #9BCB5C;
      margin-bottom: 12px;
      float: left;
    }
  }
} // home.scss 結束
