.official-events-page {
	.event-wrap {
		background-color: #fff;
		@include border-radius(3px);
		overflow: hidden;
		padding-bottom: 100px;
		margin-bottom: 20px;
		& > .button {
			@include border-radius(3px);
			&.largest {
				min-width: 240px;
				height: 60px;
				line-height: 60px;
			}
		}
	}
	.banner {
		img {
			width: 100%;
		}
	}
	.event {
		max-width: 960px;
		margin: 80px auto 60px auto;
		padding: 0 30px;
		text-align: left;
		@media screen and (max-width: 750px) {
			padding: 0 30px;
		    margin: 30px 0;
		}
		& > .title {
			font-size: 36px;
			font-weight: bold;
			color: #333333;
			line-height: 1.33em;
			margin: 0;
			padding: 0 0 18px 0;
			border-bottom: 1px solid #ccc;
		}
		.info-block {
			margin: 40px 0;
			.title {
				font-size: 24px;
				font-weight: bold;
				color: #333333;
				line-height: 1em;
				margin-bottom: 20px;
			}
			.descript {
				font-size: 16px;
				color: #777777;
				line-height: 1.5em;
			}
		}
	}
}