.shopping-cart-container {
	display: block;
	max-width: 800px;
	margin: 60px auto;
	padding: 20px;
	@media screen and (max-width: 750px) {
		margin: 0 auto;
		padding: 20px;
	}
	md-checkbox {
		display: inline-block;
		margin: 0 12px 0 0;
	}

	.float-right {
		display: inline-block;
		float: right;
		& > * {
			vertical-align: middle;
		}
	}

	.title {
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
		color: #4A4A4A;
		line-height: 1em;
		margin-bottom: 24px;
	}

	.total {
		background: #FFFFFF;
		border: 1px solid #DDDDDD;
		@include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.20));
		@include border-radius(3px);
		font-size: 14px;
		color: #4D4E53;
		line-height: 40px;
		padding: 20px;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		& > * {
			vertical-align: middle;
		}
		.number {
			color: #F03B40;
		}
		.price {
			font-size: 20px;
			font-weight: bold;
			color: #F03B40;
			line-height: 1em;
			margin-left: 12px;
		}
		.button {
			background: #F03B40;
			@include border-radius(40px);
			font-size: 14px;
			color: #FFFFFF;
			min-width: 160px;
			height: 40px;
			line-height: 40px;
			margin: 0 4px 0 40px;
			border: none;
			text-align: center;
			&:hover {
				background: darken(#F03B40, 10%);
			}
		}
	}
}
.shopping-cart {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	@include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.20));
	@include border-radius(3px);
	margin-bottom: 24px;
	.header {
		background: #FAFAFA;
		height: 50px;
		line-height: 50px;
		padding: 0 20px;
		.title {
			font-size: 14px;
			font-weight: bold;
			color: #393D3F;
			line-height: 1em;
			margin: 0;
		    max-width: 700px;
			white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
	}
	.footer {
		background: #FAFAFA;
		height: 50px;
		line-height: 50px;
		padding: 0 30px;
		text-align: right;
		font-size: 12px;
		color: #4A4A4A;
		border-top: 1px solid #DDDDDD;
		& > * {
			vertical-align: middle;
		}
		.number {
			color: #F03B40;
		}
		.price {
			font-size: 16px;
			font-weight: bold;
			color: #F03B40;
			margin-left: 8px;
		}
	}
	.shopping-item-list {

	}
	.shopping-item {
		padding: 20px;
		border-top: 1px solid #DDDDDD;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		& > * {
			vertical-align: middle;
		}
		.thumbnail {
			display: inline-block;
			width: 80px;
			height: 80px;
			margin: 0 12px 0 0;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			@include border-radius(3px);
		}
		.info {
			display: inline-block;
			max-width: 460px;
			.title {
				font-size: 14px;
				font-weight: bold;
				color: #393D3F;
				line-height: 1em;
				margin-bottom: 12px;
				@media screen and (max-width: 750px) {
				    max-width: 240px;
    				line-height: 1.6em;
				}
			}
			.meta {
				font-size: 12px;
				color: #838C8C;
				line-height: 1em;
			}
		}
		.count-wrap {
			display: inline-block;
			text-align: center;
			margin: 0 30px;
			.plus,
			.minus {
				display: block;
				color: #333;
				cursor: pointer;
				&:hover {
					color: darken(#333, 20%);
				}
			}
			input {
				display: inline-block;
				width: 32px;
				margin: 13px auto;
				font-size: 12px;
				color: #3C3D41;
				line-height: 1.5em;
				background: #FFFFFF;
				border: 1px solid #CCCCCC;
				@include border-radius(3px);
				text-align: center;
			}
		}
		.count {
			display: inline-block;
			margin: 32px 30px;
		}
		.subtotal {
			display: inline-block;
			margin: 0 10px;
			text-align: center;
			.price {
				font-size: 16px;
				font-weight: bold;
				color: #F03B40;
				line-height: 1em;
			}
			.delete {
				font-size: 12px;
				color: #9B9B9B;
				line-height: 1em;
				cursor: pointer;
				margin: 8px 0 0 0;
				&:hover {
					color: darken(#9B9B9B, 20%);
				}
			}
		}
	}
}