.taiwan-info-page {
	padding: 20px;
    max-width: 1280px;
    margin: 0 auto;
	.cards-container {
		display: block;
		.left-col,
		.right-col {
			display: inline-block;
			width: 50%;
			vertical-align: top;
			@media screen and (max-width: 750px) {
				width: 100%;
				padding-right: 0;
				padding-left: 0;
			}
		}
		.left-col {
			padding-right: 10px;
		}
		.right-col {
			padding-left: 10px;
		}
	}
	.card {
		background: #FFFFFF;
		@include box-shadow(0px 1px 3px 0px rgba(0,0,0,0.10));
		@include border-radius(2px);

		& + .card {
			margin-top: 20px;
		}
		.header {
			padding: 20px 30px 10px 30px;
			position: relative;
			.title {
				font-size: 20px;
				font-weight: bold;
				color: #4A4A4A;
				line-height: 1em;
				margin: 0;
				padding: 10px 0;
				border-bottom: 1px solid #DDDDDD;
			}
			.tool-bar {
				display: inline-block;
				position: absolute;
				top: 30px;
				right: 30px;
				font-size: 13px;
				color: #9D989E;
				line-height: 20px;

				md-select.md-default-theme {
					margin: 0;
					.md-select-label {
						padding: 0;
						line-height: 20px;
						border: none;
						min-width: auto;
						.md-select-icon {
							width: 16px;
							&:after {
								top: 0;
							}
						}
					}
				}

				.field-name {
					display: inline-block;
					min-width: 70px;
					text-align: right;
					& + .field-name {
						margin-left: 80px;
					}
				}
			}
		}
		.content {
			padding: 0 30px 30px 30px;
			&.has-scroll {
				padding: 0 10px 20px 10px;
			}
			.news-list {
				position: relative;
				max-height: 670px;
				overflow: hidden;
				padding: 0 20px;
				margin: 10px 0 0 0;
			}
			.news-item {
				display: block;
				position: relative;
				padding: 12px 0;
				border-top: 1px dashed #DDDDDD;
				&:first-child {
					padding-top: 0;
					border-top: none;
				}
				&:after {
					content: '';
					display: block;
					clear: both;
				}
				.thumbnail {
					display: inline-block;
					float: left;
					width: 80px;
					height: 80px;
					background: #EEEEEE;
					@include border-radius(3px);
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					margin-right: 12px;
				}
				.info {
					display: block;
					.title {
						font-size: 18px;
						color: #333333;
						line-height: 1em;
						margin-bottom: 10px;
						&:hover {
							color: #000;
						}
					}
					.descript {
						font-size: 14px;
						color: #777777;
						line-height: 1.5em;
						margin-bottom: 10px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.meta {
						font-size: 13px;
						color: #9B9B9B;
						line-height: 1em;
					}
				}
			}

			&.visa {
				margin: 10px 0 0 0;
				.thumbnail {
					display: inline-block;
					float: left;
					width: 100px;
					height: 100px;
					margin-right: 20px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
				}
				.info {
					display: block;
					margin-left: 120px;
					.descript {
						font-size: 14px;
						color: #4A4A4A;
						line-height: 1.7em;
						margin-bottom: 24px;
					}
					.button {
						font-weight: normal;
						width: 100%;
						margin: 0;
						background: #F2F2F2;
						font-size: 14px;
						line-height: 1em;
						@include border-radius(0);
						&:hover {
							background: darken(#F2F2F2, 10%);
						}
					}
				}
			}

			.exchange-rate-list {

			}
			.exchange-rate-item {
				position: relative;
				min-height: 40px;
				padding: 10px 0;
				border-bottom: 1px solid #eee;
				& > * {
					vertical-align: top;
				}
				.thumbnail {
					display: inline-block;
					width: 30px;
					height: 20px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					margin-right: 12px;
				}
				.title {
					display: inline-block;
					font-size: 14px;
					color: #333333;
					line-height: 20px;
				}
				.number {
					display: inline-block;
					position: absolute;
					top: 10px;
					right: 0;
					font-size: 14px;
					color: #9D989E;
					line-height: 20px;
				}
			}

			.source {
				font-size: 14px;
				color: #9D989E;
				line-height: 1em;
				text-align: right;
				margin: 20px 0 0 0;
				.link {
					color: #31C4FF;
					&:hover {
						color: darken(#31C4FF, 20%);
					}
				}
			}

			.weather-list {

			}
			.weather-item {
				position: relative;
				min-height: 40px;
				padding: 10px 0;
				border-bottom: 1px solid #eee;
				& > * {
					vertical-align: top;
				}
				.title {
					display: inline-block;
					font-size: 14px;
					color: #333333;
					line-height: 20px;
				}
				.field-list {
					display: inline-block;
					position: absolute;
					top: 10px;
					right: 0;
				}
				.field-content {
					display: inline-block;
					font-size: 14px;
					color: #6A6A6A;
					line-height: 20px;
					min-width: 70px;
					text-align: right;
					& > * {
						vertical-align: middle;
					}
					& + .field-content {
						margin-left: 80px;
					}
					.icon {
						display: inline-block;
						font-size: 24px;
						width: 24px;
						height: 24px;
						margin: -2px 16px -2px 0;
					}
				}
			}
		}
	}
	@media screen and (max-width: 750px) {
		padding: 0;
		.cards-container {
			.left-col, .right-col {
				padding-left: 0;
				padding-right: 0;
				margin-bottom: 20px;
			}
			.card .content .news-list {
				max-height: initial !important;
			}
		}
	}
}