.travel-notes-page {
	&:parent {
		border: 1px solid red;
	}

	display: inline-block;
	position: relative;
	overflow: hidden;
    min-width: 1280px;
    width: 100%;

	.input-wrap {
		&.valid-error {
			& > input,
			.tags {
				border: 2px solid #FF4158 !important;
				@include border-radius(3px);
				@include box-shadow(0 0 0 0 !important);
			}
			.error-msg {
				top: -24px;
			}
		}
	}

	.header-container {
        position: fixed;
    	top: 0;
        z-index: 200;
        left: 0;
        right: 0;
		padding: 15px;
		height: 80px;
		color: #fff;
		background: #FFFFFF;
		border-bottom: 1px #DDDDDD;
		text-align: center;
		.header-block {
			display: inline-block;
			width: 33%;
			min-height: 50px;
			vertical-align: middle;
			&.align-left {
				float: left;
				text-align: left;
				.button {
					margin: 5px;
					padding: 0 16px;
					height: 40px;
					background: #FAFCFD;
					@include border-radius(3px);
					font-size: 13px;
					color: #6A6A6A;
					line-height: 1em;
					border: 1px solid #ACB4BC;
					.icon {
						color: #1A1919;
						margin-right: 8px;
					}
				}
				.status-bar {
					display: inline-block;
					margin-left: 20px;
					font-size: 12px;
					color: #FFFFFF;
					line-height: 1em;
					.icon {
						font-size: 18px;
						color: #7ED321;
						margin-right: 10px;
						vertical-align: middle;
					}
					.message {
						opacity: 0.8;
						color: #777777;
						vertical-align: middle;
					}
				}
			}
			&.align-center {
				.header-wrap {
					display: inline-block;
					margin: 5px;
					.title-block {
						display: inline-block;
						vertical-align: middle;
						.title {
							margin: 0;
							font-size: 16px;
							color: #9B9B9B;
							line-height: 40px;
						}
					}
				}
			}
			&.align-right {
				float: right;
				text-align: right;
				.tools-bar {
					display: inline-block;
					margin: 0 0 0 20px;
					height: 50px;
					min-width: 328px;
					position: absolute;
					right: 15px;
					top: 50%;
					@include transform(translateY(-50%));
					.tool {
						display: inline-block;
						text-align: center;
						cursor: pointer;
						font-size: 13px;
						color: #6A6A6A;
						line-height: 1em;
						vertical-align: middle;
						& + .tool {
							margin-left: 30px;
						}
						.icon {
							display: block;
							font-size: 18px;
						}
						.tool-name {
							display: block;
							margin-top: 15px;
						}
						.button {
							margin: 5px;
							padding: 0 16px;
							height: 40px;
							background: #FAFCFD;
							@include border-radius(3px);
							font-size: 13px;
							color: #6A6A6A;
							line-height: 1em;
							border: 1px solid #ACB4BC;
						}
					}
					.tool-splitter {
						display: inline-block;
						border-left: 1px solid #ccc;
						height: 20px;
						vertical-align: middle;
						margin: 0 30px;
						opacity: 0.8;
					}
				}
			}
		}
	}

	.editor-tools-wrap {
		height: 60px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		background-color: #fff;
        position: fixed;
    	top: 80px;
        z-index: 200;
        left: 0;
        right: 0;
        text-align: center;
        md-select {
        	width: 140px;
        	height: 40px;
        	margin: 9px 20px 9px 0;
        	border: 1px solid rgba(172,179,188,0.50);
        	vertical-align: top;
			@include border-radius(1.79px);
        	md-select-label {
				font-size: 14px;
				color: #4A4A4A;
				line-height: 38px;
				padding: 0 14px;
				border: none !important;
        		.md-select-icon {
					position: absolute;
					right: 8px;
					top: 0;
					&:after {
						top: 0;
					}
        		}
        	}
        }
		.statictoolbar {
			display: inline-block;
			vertical-align: top;
			.btn-group {
				border-width: 0 0 0 1px;
				button {
					&.active {
						border: 1px solid #ddd;
						border-radius: 2px;
					    background: #f8f8f8;
					    box-shadow: none;
					}
					&:hover {
						color: #000;
						background: transparent;
					}
				}
			}
		}
	}

	.content {
		position: fixed;
		top: 140px;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding: 40px 70px 40px 90px;
		overflow: auto;
		background-color: #F3F3F3;
		.clear {
			clear: both;
		}
		.editor-container {
			width: calc(100% - 360px);
			margin-bottom: 40px;
			padding: 60px;
			background-color: #fff;
			@include box-shadow(0px 1px 8px 0px rgba(0,0,0,0.05));
			@include border-radius(2px);
			.title {
				font-size: 32px;
				color: #000;
				line-height: 1em;
				input {
					border: none;
					width: 100%;
					font-weight: bold;
				}
			}
			.splitter {
				margin: 20px 0;
				border-bottom: 1px solid #DDDDDD;
			}
			.article {
				width: 100%;
				.editor-wrap {
					width: 100%;
					min-height: 600px;
					border: none;
					font-size: 16px;
					color: #6A6A6A;
					line-height: 1.5em;
					.ta-text {
						border: none;
						@include box-shadow(none);
						h1, h2, h3, h4, h5, h6 {
							font-size: 24px;
							color: #000;
							line-height: 1.5em;
						}
						u {
							padding-bottom: 4px;
						    text-decoration: none;
						    border-bottom: 1px solid;
						}
						p {
						}
						blockquote {
							border-left: 3px solid #545454;
							padding: 5px 5px 5px 18px;
							color: #777777;
						}
						img {
							max-width: 100%;
						}
					}
				}
			}
		}
		.setting-container {
			display: inline-block;
			float: right;
			width: 320px;
			tags-input {
				.tags {
					&.focused {
						box-shadow: none;
					}
					.tag-item {
						.remove-button {
							display: inline-block;
						}
					}
				}
			}
			md-radio-group {
				border: none;
				margin: 6px 0;
				&:focus {
					border: none;
				}

				md-radio-button {
					display: inline-block;
					padding: 0;
					margin: 0;
					color: #ccc;
					width: 100px;
					height: 44px;
					text-align: center;
					position: relative;
					background: #F3F3F3;
					border: 1px solid rgba(172,179,188,0.50);
					@include border-radius(3px);
					@include box-sizing(border-box);
					vertical-align: top;
					&:hover,
					&:active,
					&.md-checked {
						border-color: #31C4FF;
						background: #FAFAFA;
						border: 2px solid #31C4FF;
						&:before {
							content: '';
							display: inline-block;
							position: absolute;
							top: 0;
							right: 0;
							width: 18px;
							height: 18px;
							background-color: #01BAF2;
							@include border-radius(0 0 0 3px);
						}
						&:after {
						  content: '';
						  display: inline-block;
						  position: absolute;
						  width: 6px;
						  height: 11px;
						  top: 1px;
						  right: 6px;
							@include transform(rotate(45deg));
						  border: 2px solid #fff;
						  border-top: 0;
						  border-left: 0;
						}
						.md-label {
							color: #01BAF2;
							line-height: 38px;
						}
					}
					& + md-radio-button {
						margin-left: 10px;
					}

					.md-container {
						display: none;
					}

					.md-label {
						margin: 0;
						padding: 0;
						font-size: 16px;
						color: #6A6A6A;
						line-height: 40px;
						&:before {
							content: '';
							display: inline-block;
							vertical-align: middle;
						}
						span {
							vertical-align: middle;
						}
					}
				}
			}
			.labels-wrap {
				margin: 0 -10px 20px -10px;
				md-checkbox {
					&.md-default-theme {
						display: inline-block;
						min-width: 90px;
						margin: 10px;
						.md-icon {
							background-color: #ddd;
						}
						&.md-checked {
							.md-icon {
								background-color: #31C4FF;
							}
						}
					}
				}
			}
			.thumbnail {
				width: 100%;
				height: 200px;
				background: #DDDDDD;
				@include border-radius(2px);
				position: relative;
				& > .button {
					display: inline-block;
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%,-50%));
					background: rgba(74, 74, 74, 0.6);
					@include border-radius(2px);
					font-size: 14px;
					color: rgba(255, 255, 255, 0.8);
					line-height: 36px;
					height: 36px;
					padding: 0 25px;
					margin: 0;
					&:hover {
						background: darken(rgba(74, 74, 74, 0.6), 10%);
					}				
				}
				.multi-buttons {
					display: inline-block;
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%,-50%));
					white-space: nowrap;
					.button {
						background: rgba(74, 74, 74, 0.6);
						@include border-radius(2px);
						font-size: 14px;
						color: rgba(255, 255, 255, 0.8);
						line-height: 36px;
						height: 36px;
						padding: 0 25px;
						margin: 0;
						&:hover {
							background: darken(rgba(74, 74, 74, 0.6), 10%);
						}
						& + .button {
							margin-left: 10px;
						}
					}
				}
			}
			.setting-block {
				margin-top: 24px;
				.title {
					font-size: 13px;
					color: #4A4A4A;
					line-height: 1em;
					margin-bottom: 12px;
				}
			}
			.privacy {
				.desc {
					font-size: 13px;
					color: #9B9B9B;
					line-height: 1em;
					margin-top: 12px;
				}
			}
			.areas {

			}
			.spots {

			}
			.topics {

			}
		}
	}
}