@include keyframes(itemPopUp) {
	0% { 
		opacity: 0;
		@include transform(scale(.9)); 
	}
	50% {
		opacity: 0.7;
	}
	100% { 
		opacity: 1;
		@include transform(scale(1)); 
	}
}

@include keyframes(itemPopDown) {
	0% { 
		opacity: 1;
		@include transform(scale(1)); 
	}
	50% {
		opacity: 0.3;
	}
	100% { 
		opacity: 0;
		@include transform(scale(.9)); 
	}
}
.set-trip-page{
	-webkit-touch-callout: none; 
	-webkit-user-select: none;
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
	font-family: Lato,"Helvetica Neue",Helvetica,Arial,STHeiti,"Microsoft YaHei","微软雅黑","微軟正黑體",sans-serif;
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 1040px;
	.header-container {
		min-width: 1040px;
		z-index: 999;
		font-size: 16px;
		color: #6A6A6A;
		width: 100%;
		height: 75px;
		position: fixed;
		background-color: #ffffff;
		border:  1px solid #ddd;
		text-align: center;
		margin-bottom: 25px;
		line-height: 72px;
		vertical-align: middle;
		box-shadow: 0  2px 2px rgba(0, 0, 0, 0.3); 
		header{
			width: 1040px;
			margin: 0 auto;
			box-shadow:none;
		}
		.brand-crumb{
			width: 100%;
			height: 75px;
			border-top: 1px solid #ddd;
			margin-top: 75px;
			.brand-con{
				width: 1040px;
				margin: 0 auto;
				height: 75px;
				position: relative;
			}


		}
		.logo-area{
			display: inline;
			position: absolute;
			left: 0px;
			img{
				vertical-align: middle;
			}
			.title{
				padding-left: 10px;
				font-size: 20px;
				color: #4A4A4A;
				font-weight: 500;
				letter-spacing: 0;
			}
			.title-tip{
				font-size: 14px;
				color: #9B9B9B;
				position: absolute;
				width: 100%;
				left: 130px;
				top: 21px;
			}
		}
		.right-nav{
			position: absolute;
			right: 0px;
			button{
				background: #31C4FF;
				border-radius: 3px;
				font-size: 14px;
				color: #FFFFFF;
				border: none;
				width: 140px;
				height: 40px;
				font-weight: 500;
			}
		}
	}
	.content-container{
		width: 1040px;
		position: relative;
		top: 100px;
		margin: 0 auto;
		.content-detail{
			border-bottom: 1px solid #ddd;
			width: 100%;
			padding-bottom: 20px;
		}
		.content-footer{
			width: 100%;
			margin-bottom: 40px;
			height: 120px;
			.exp-step{
				text-align: center;
				right: 0px;
				bottom: 0px;
				position: absolute;
				background: #FFFFFF;
				button{
					height: 45px;
					width: 188px;
					border: 1px solid #777777;
					border-radius: 3px;
					background-color: #ffffff;
					font-size: 16px;
					color: #6A6A6A;
				}
				button:hover{
					border: 1px solid #31C4FF;
					color: #31C4FF;
				}
			}
			.exp-tip{
				text-align: center;
				font-size: 12px;
				color: #9B9B9B;
				margin-bottom: 5px;
			}
			.next-step{
				left: 0px;
				bottom: 0px;
				position: absolute;
				button{
					width: 140px;
					height: 45px;
					background: #92DCF9;
					border-radius: 3px;
					font-size: 16px;
					color: #FFFFFF;
					border: none;
				}
				.done{
					background: #31C4FF;
					border-radius: 3px;
					color: #FFFFFF;
				}
			}
		}
		.arrow{
			display: inline-block;
			padding: 0 10px ;

		}
		.col{
			display: inline-block;
			.input-title{
				padding-top: 20px;
			}
			.desc{
				font-size: 12px;
				color: #9B9B9B;
				margin-top: 10px;

			}
			.red{
				color: #D0021B;
			}
			.data-input{
				height: 45px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				background: #FFFFFF;
				color: #6a6a6a;
				border: 1px solid #DDDDDD;
				width: 290px;
				margin: 0 0 12px 0;
				padding: 0 10px;
				margin-top: 10px;
				-moz-appearance: none;
				-webkit-appearance: none;
				text-align: left;
				font-size: 16px;
				color: #6A6A6A;
				md-autocomplete {
					background: #ffffff;
					box-shadow: none;
					ul{
						background-color: #ffffff;
					}
					li{
						border-top: none;
						color: #9B9B9B;	
						.highlight{
							color: #31C4FF;	

						}
					}
				}

				input{
					position: static;
					display: block;
					height: 100%;
					width: calc(100% - 30px);
					margin: 0;
					padding: 0 5px;
					border: none;
					background-color: inherit;
					font-size: 16px;
					color: #4A4A4A;
				}

			}
			.data-input:hover{

				border: 1px solid #31C4FF;
			}
			
		}

	}
	.selectCon{
		margin-top: 20px;
		line-height: 40px;
		.trip-tag{
			background-color: #ffffff;
			border: 1px solid #ffffff;;
			padding: 5px 10px;
			margin-right: 10px;
			border-radius: 3px;
			font-size: 14px;
			color: #6A6A6A;

		}
		.select{
			border: 1px solid #01BAF2;
			border-radius: 3px;
			font-size: 14px;
			color: #31C4FF;
		}

	}
}

/*step2 css goes here*/
#step2{
	.header-container {
		height: 150px;
	}
	.location{
		font-size: 18px;
		color: #6A6A6A;
		left: 0;
		position: absolute;
	}
	.selectCon{
		display: inline-block;
		margin: 0 5px ;
		button{
			cursor: initial;
		}
		.location-change{
			cursor: pointer;
			font-size: 16px;
			color: #31C4FF;
			background: #ffffff;
			border: none;
		}
	}
	.search-wrap{
		display: inline-block;
		height: 40px;
		position: absolute;
		right: 0px;
		top: 13px;
		background: #ffffff;
		box-shadow: none;
		background-image: url(../images/search.svg);
		background-position: 220px 16px;
		background-repeat: no-repeat;
		md-autocomplete{
			margin-left: 0px;
		}
		.search{
			background-color: transparent;
			#btn-search{
				z-index: 999;
				position: absolute;
				right: 0px;
				width: 40px;
				height: 40px;
				top: 3px;
				background: transparent;
				border: none;
			}
		}
		md-icon{
			display: none!important;
		}
	}
	.zone-con{
		height: 75px;
		width: 100%;
		position: fixed;
		top: 150px;
		border-bottom: 1px solid #ddd;
		.zone-area{
			width: 1040px;
			height: 75px;
			margin: 0 auto;
			line-height: 75px;
			position: relative;
		}
		.zone{
			font-size: 20px;
			color: #31C4FF;
			padding-right: 10px;

		}

	}
	


}
