.trips-page {
	.layout-types {
		@media screen and (max-width: 750px) {
			text-align: left;
			padding: 30px 30px 20px 30px;
		}
		margin: 0 auto;
		text-align: right;
			padding:40px;
		overflow: hidden;
		.layout-type-label {
			vertical-align: middle;
			display: inline-block;
			font-size: 13px;
			color: #9B9B9B;
		}
		.layout-btns {
			vertical-align: middle;
			display: inline-block;
			.layout-btn {
				display: inline-block;
				font-size: 24px;
				margin-left: 20px;
				color: #acacac;
				@media screen and (max-width: 1024px) {
					&.map-btn {
						display: none;
					}
				}
				&:hover {
					color: #01BAF2;
					cursor: pointer;
				}
				&.active {
					color: #01BAF2;
				}
			}
		}
	}
}