
.container{
	background-color: #eeeeee;
}
.funthing{
	
  background-color: #ffffff;
    width: 25%;
    min-height: 301px;
    margin-right: 10px;
   

}

.funthings-list li{
	display: inline-block;
    background-color: #ffffff;
    width: 24%;
    height: 400px;
    margin-bottom: 10px;
    margin-right: 1%;
    border-radius: 5px;
.thumbnail{
	width: 100%	;
	height: 245px;
	border-radius: 5px 5px 0px 0px;
	position: relative;
	cursor: pointer;
	
}
.thumbnail:hover {
	.tag {
		background-color: rgba(-1, 0, 0, 1);
	}
	
}
.descript {
	color: #4A4A4A;
	font-size: 14px;
	position: relative;
	margin: 20px 20px 0px 20px;
	line-height: 1.5em;
	height: 4.5em;
	overflow: hidden;
}
.tag{
	font-size: 12px;
	background-color: rgba(-1, 0, 0, 0.6);
	position: absolute;
	border-radius: 15px;
	padding: 10px;
	color: #ffffff;
	right: 15px;
	top: 15px;
	i{
	padding-right: 5px;
	}
}
.ismov{
	position: absolute;
	left: 100px;
	top: 100px;
	
}
.summury{
	position: relative;
	height: 55px;
	padding: 20px;
	i{
	padding-right: 5px;
	}
	.waring{
	position: absolute;
	font-size: 10px;
	padding: 5px;
	margin-top: 8px;
	background-color: #AAAAAA;
	color: #ffffff;
	top: 0px;
	text-align: center;
	width: 215px;
	}
	.count {
		font-size: 12px;
		position: absolute;
		bottom: 0px;
		color: #9B9B9B;
	}
	
	.light {
		font-size: 12px;
		position: absolute;
		bottom: 0px;
		color: #31C4FF;
	}
	.date{
		position: absolute;
		bottom: 0px;
		color: #9B9B9B;
		right: 20px;
		font-size: 12px;
	}
}

}
  


.user-page {
	margin: 30px auto 80px auto;
	width: 1260px;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	.photoreset{
		position:absolute;
		display: inline-block;
		margin-top:20px;
		right:20px;
		background-color:rgba(0, 0, 0, 0.1);
		padding:10px;
		color: rgba(255, 255, 255, 0.4);
		font-size: 13px;
		@include border-radius(3px);
		cursor: pointer;
	}

	.clear {
		clear: both;
	}
	.checklist{
		height: 42px;
		line-height: 42px;
		border-bottom: 1px solid #ccc;
		padding-left: 25px;
		background-color: #ffffff;
		font-size: 12px;
		md-checkbox {

			display: inline-block;
			margin: 0 12px 0 0;
			.md-container {

				.md-icon {
					border: 1px solid;
					border-color: #CCCCCC;
					&:after {
						border-color: #FFFFFF;
					} 
				}
			}

		}
	}
	.more md-checkbox {

		display: inline-block;
		margin: 0 12px 0 0;
		.md-container {

			.md-icon {
				border: 1px solid;
				border-color: #CCCCCC;
				&:after {
					border-color: #FFFFFF;
				} 
				background-color: #F3F3F3;
			}
		}
		.md-label {
			color: #4A4A4A;
		}
		&.md-checked {

			.md-container {
				.md-icon {
					&:after {
						border-color: #4A4A4A;
					} 
					background-color:  #F3F3F3;
				}
			}	
			.md-label {
				color: #31C4FF;

			}
		}
	}
	.rightCount{
		float:right;    
		font-size: 14px;
		color: #333333;
		line-height: 24px;
	}
	.box-shadow {
		@include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.1));
	}
	.left-title{
		height: 60px;
		border-bottom: 1px solid #ccc;
		font-size: 16px;
		font-weight: bold;
		padding-top: 20px;
		padding-left: 16px;
		background-color: #ffffff;
	}
	.card {
		background-color: #FAFAFA;
		@include border-radius(3px);
		margin-bottom: 20px;
		& > .title {
			background: #FFFFFF;
			border-bottom: 1px solid #ddd;
			height: 60px;
			font-size: 16px;
			font-weight: bold;
			color: #333333;
			line-height: 60px;
			padding: 0 20px;
			@include border-radius(3px 3px 0 0);
		}
		.content {
			min-height: 130px;
			padding: 20px;
			@include border-radius(0 0 3px 3px);
			&.no-padding {
				padding: 0;
			}
			table {
				font-size: 14px;
				color: #6A6A6A;
				line-height: 1em;
				tr {
					&:first-child {
						td {
							padding-top: 0;
						}
					}
					&:last-child {
						td {
							padding-bottom: 0;
						}
					}
				}
				td {
					padding: 10px;
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
					}
				}
				.lable {

				}
				.value {

				}
			}
			.medal {
				display: inline-block;
				margin-left: 15px;
				position: relative;
				&:first-child {
					margin-left: 0;
				}
				.medal-img {
					display: inline-block;
					width: 40px;
					height: 40px;
					@include border-radius(100%);
					overflow: hidden;
					img {
						width: 40px;
						height: 40px;
					}
				}
				.hint-wrap {
					display: none;
					position: absolute;
					top: 0;
					left: 50%;
					@include transform(translate3d(-50%, -67px, 0));
					width: 240px;
					height: 64px;
					padding: 16px;
					background: #333333;
					@include box-shadow(0px 1px 3px 0px rgba(0,0,0,0.30));
					@include border-radius(3px);
					z-index: 1;
					&:after {
						content: '';
						display: inline-block;
						position: absolute;
						width: 8px;
						height: 8px;
						bottom: 0;
						left: 50%;
						@include transform(translate3d(-50%, 50%, 0) rotate(45deg));
						@include box-shadow(0px 1px 3px 0px rgba(0,0,0,0.30));
						background: #333333;
					}
					.title {
						font-size: 14px;
						color: #FFFFFF;
						line-height: 1em;
						margin-bottom: 6px;
					}
					.desc {
						opacity: 0.8;
						font-size: 12px;
						color: #FFFFFF;
						line-height: 1em;
					}
				}
				&:hover {
					.hint-wrap {
						display: inline-block;
					}
				}
			}
		}
	}
	.select-wrap {
		display: inline-block;
		.select-label {
			font-size: 14px;
			color: #353D49;
			line-height: 36px;
			margin-right: 20px;
			vertical-align: top;
		}
		md-select {
			min-width: 140px;
			height: 36px;
			margin: 0;
			border: 1px solid #ddd;
			@include border-radius(2px);
			font-size: 14px;
			color: #6A6A6A;
			line-height: 1em;
			vertical-align: top;
			.md-select-label {
				height: 34px;
				line-height: 1em;
				padding-left: 16px;
				padding-right: 50px;
				border: none;
				.md-select-icon {
					display: inline-block;
					position: absolute;
					margin: 0;
					right: 0;
					top: 0;
					bottom: 0;
					height: auto;
					width: 36px;
					@include transform(inherit);
					text-align: center;
					vertical-align: middle;
					background: #FAFAFA;
					border-left: 1px solid #ccc;
					@include border-radius(0px 3px 3px 0px);
					&:before {
						content: '';
						display: inline-block;
						height: 100%;
						vertical-align: middle;
					}
					&:after {
						content: '';
						display: inline-block;
						position: absolute;
						width: 6px;
						height: 6px;
						right: 14px;
						top: 50%;
						@include transform(translateY(-50%) rotate(-135deg));
						border: 1px solid #777;
						border-right: none;
						border-bottom: none;
						margin-top: -2px;
					}
				}
			}
		}
	}
	.empty-status {
		display: inline-block;
		text-align: center;
		.thumbnail {
			display: inline-block;
			width: 100px;
			height: 100px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			margin-bottom: 20px;
			border: none;
		}
		.title {
			font-size: 24px;
			font-weight: bold;
			color: #333333;
			line-height: 34px;
			margin: 0;
		}
		.desc {
			font-size: 14px;
			color: #ACACAC;
			line-height: 24px;
			margin-top: 12px;
		}
		.button {
			margin-top: 16px;
			min-width: 132px;
		}
	}
	.citys {
		padding: 20px 30px 40px 30px;
		.city-wrap {
			padding: 10px;
		}
		.city {
			display: inline-block;
			width: 100%;
			height: 0;
			padding-bottom: calc(100%);
			text-align: center;
			@include border-radius(5px);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: relative;
			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 50%, rgba(0,0,0,0.00) 100%);
			}
			.info {
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%, -50%));
			}
			.title {
				font-size: 24px;
				color: #FFFFFF;
				line-height: 1em;
			}
			.desc {
				font-size: 16px;
				color: #FFFFFF;
				line-height: 1em;
				margin-top: 12px;
			}
		}
	}
	.article-wrap {
		margin-bottom: 10px;
		@include transition(box-shadow 150ms ease);
		@include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.20));
		&:hover {
			@include box-shadow(0px 1px 9px 0px rgba(0,0,0,0.20));
		}
		.toggle-more-wrap {
			display: block;
			background: #fff;
			text-align: center;
			height: 35px;
			line-height: 35px;
			border-top: 1px solid #F3F3F3;
			.toggle-more-button {
				font-size: 12px;
				color: #9B9B9B;
				line-height: 12px;
				i {
					color: #7D8995;
				}
			}
			&:hover {
				.toggle-more-button {
					color: darken(#9B9B9B, 20%);
				}
			}
		}
	}
	.article {
		position: relative;
		padding: 30px;
		background: #FFFFFF;
		cursor: initial;
		@media screen and (max-width: 750px) {
			padding: 30px !important;
			.header {
				.date {
					position: initial;
					margin-bottom: 12px;
				}
			}
		}
		&.clickable {
			cursor: pointer;
		}
		.header {
			position: relative;
			.title {
				font-size: 18px;
				color: #333333;
				line-height: 1.33em;
				margin-bottom: 10px;
			}
			.date {
				display: inline-block;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 14px;
				color: #9B9B9B;
				line-height: 14px;
			}
		}
		.content-wrap {
			.content {
				font-size: 14px;
				color: #9B9B9B;
				line-height: 1.7em;
				max-height: 1.7em * 1;
				@include flexbox((
					display: box,
					box-orient: vertical
					));
				-webkit-line-clamp: 1;
				overflow: hidden;
				@include transition(all 350ms ease-in-out);
				&.expand {
					max-height: none;
					-webkit-line-clamp: initial;
				}
			}
		}
		&.help {
			padding: 40px 40px 70px 40px;
			position: relative;
			background: #FFFFFF;
			@include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.20));
			.title {
				font-size: 28px;
				font-weight: bold;
				color: #4A4A4A;
				line-height: 1em;
				margin-bottom: 24px;
			}
			.title-2 {
				font-size: 20px;
				font-weight: bold;
				color: #4A4A4A;
				line-height: 1em;
				margin-top: 32px;
				margin-bottom: 20px;
			}
			.date {
				display: inline-block;
				position: absolute;
				right: 40px;
				bottom: 40px;
				font-size: 14px;
				color: #9B9B9B;
				line-height: 1em;
			}
			.descript {
				font-size: 14px;
				color: #6A6A6A;
				line-height: 1.5em;
				margin-bottom: 20px;
			}
			.image {
				max-width: 100%;
				background-color: #DDDDDD;
				margin-bottom: 20px;
			}
		}
		&.about {
			padding: 60px;
			.title {
				font-size: 24px;
				font-weight: bold;
				margin-bottom: 20px;
			}
			.descript {
				font-size: 16px;
				color: #6A6A6A;
				line-height: 1.625em;
				margin-bottom: 20px;
			}
			.info-wrap {
				display: inline-block;
				& + .info-wrap {
					margin-left: 47px;
				}
				@media screen and (max-width: 750px) {
					display: block;
					margin-left: 0 !important;
					margin-bottom: 32px;
				}
			}
		}
		&.service {
			padding: 60px 80px;
			.title {
				font-size: 24px;
				font-weight: bold;
				margin-bottom: 60px;
				text-align: center;
			}
			h2 {
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 1em;
			}
			ul {
				list-style: initial;
				padding-left: 16px;
				font-size: 16px;
				color: #6A6A6A;
				line-height: 1.625em;
				margin-bottom: 1.5em;
			}
			.descript {
				font-size: 16px;
				color: #6A6A6A;
				line-height: 1.625em;
				margin-bottom: 1.5em;
			}
			.info-wrap {
				display: inline-block;
				& + .info-wrap {
					margin-left: 47px;
				}
			}
		}
	}
	.header-container {
		@include border-radius(3px);
		overflow: hidden;
		.cover-img {
			width: 100%;
			height: 280px;
			overflow: hidden;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		.header {
			padding: 20px 36px 20px 134px;
			position: relative;
			min-height: 70px;
			background-color: #fff;
			.profile-img {
				display: inline-block;
				position: absolute;
				left: 40px;
				top: -40px;
				width: 80px;
				height: 80px;
				border: 2px solid #fff;
				@include border-radius(100%);
				overflow: hidden;
				img {
					width: 100%;
				}
			}
			.info {
				display: inline-block;
				vertical-align: middle;
				height: 30px;
				line-height: 30px;
				.user-name {
					display: inline-block;
					font-size: 24px;
					font-weight: bold;
					color: #333333;
					line-height: 1em;
					vertical-align: middle;
				}
				.meta {
					display: inline-block;
					font-size: 14px;
					color: #6A6A6A;
					line-height: 1em;
					margin-left: 20px;
					vertical-align: middle;
				}
				.social-links {
					display: inline-block;
					margin-left: 12px;
					height: 30px;
					padding: 3px 0;
					vertical-align: middle;
					.social {
						display: inline-block;
						padding-left: 5px;
						&:first-child {
							padding-left: 0;
						}
					}
				}
			}
			.menu-bar {
				display: inline-block;
				margin-left: 24px;
				vertical-align: middle;
				.menu {
					display: inline-block;
					height: 30px;
					width: auto;
					margin: 0;
					padding: 0 20px;
					border-left: 1px solid #eee;
					cursor: pointer;
					.name {
						font-size: 16px;
						color: #6A6A6A;
						line-height: 30px;
					}
					.count {
						font-size: 12px;
						color: #4A4A4A;
						line-height: 30px;
						margin-left: 8px;
					}
					&:hover {
						.name {
							color: darken(#6A6A6A, 20%);
						}
						.count {
							color: darken(#9B9B9B, 20%);
						}
					}
				}
			}
			.tool-bar {
				display: inline-block;
				float: right;
				vertical-align: middle;


				.tool {
					display: inline-block;
					height: 30px;
					line-height: 30px;
					cursor: pointer;
					.icon {
						color: #1A1919;
					}
					.name {
						font-size: 14px;
						color: #6A6A6A;
						line-height: 1em;
					}
					&:hover {
						.icon {
							color: darken(#1A1919, 20%);
						}
						.name {
							color: darken(#6A6A6A, 20%);
						}
					}
				}
			}
		}
	}
	.main-container {
		margin-top: 20px;
		position: relative;
		.menu-block {
			display: inline-block;
			width: 190px;
			float: left;
			margin-right: 20px;
			.menu-list {
				background-color: #fff;
				@include border-radius(3px);
				margin-bottom: 20px;
				overflow: hidden;
				.menu {
					display: block;
					width: 100%;
					height: 44px;
					padding: 10px 15px;
					margin: 0;
					border-right: 3px solid transparent;
					cursor: pointer;
					.name {
						font-size: 14px;
						color: #6A6A6A;
						line-height: 24px;
					}
					.count {
						float: right;
						height: 20px;
						background: #F3F3F3;
						@include border-radius(40px);
						font-size: 12px;
						font-weight: bold;
						color: #4A4A4A;
						line-height: 20px;
						padding: 0 8px;
					}
					&:hover {
						.name {
							color: #31C4FF;
						}
					}
					&.active {
						border-color: #31C4FF;
						.name {
							color: #31C4FF;
						}
						.count {
							background-color: #31C4FF;
							color: #fff;
						}
					}
				}
				.menu-time {
					display: block;
					width: 100%;
					height: 66px;
					padding: 10px 15px;
					margin: 0;
					border-right: 3px solid transparent;
					cursor: pointer;
					.name {
						font-size: 14px;
						color: #6A6A6A;
						line-height: 24px;
						display: block;
					}
					.count {
						float: right;
						height: 20px;
						background: #F3F3F3;
						@include border-radius(40px);
						font-size: 12px;
						font-weight: bold;
						color: #4A4A4A;
						line-height: 20px;
						padding: 0 8px;
					}
					&:hover {
						.name {
							color: #31C4FF;
						}
					}
					&.active {
						border-color: #31C4FF;
						.name {
							color: #31C4FF;
						}
						.count {
							background-color: #31C4FF;
							color: #fff;
						}
					}
				}
			}

			.button {
				width: 100%;
				@include border-radius(3px);
			}
		}
		.content-block {
			display: block;
			.content-col {
				display: block;
				// overflow: hidden;
				padding-left: 210px;
				.card {
					& > .header {
						background: #FFFFFF;
						border-bottom: 1px solid #ddd;
						height: 60px;
						color: #333333;
						line-height: 60px;
						padding: 0 30px 0 25px;
						@include border-radius(3px 3px 0 0);
						position: relative;
						.title {
							display: inline-block;
							font-size: 16px;
							font-weight: bold;
							vertical-align: top;
						}
						.count {
							font-size: 12px;
							color: #9B9B9B;
							margin-left: 12px;
							vertical-align: top;
						}
						.desc {
							display: inline-block;
							font-size: 13px;
							color: #6A6A6A;
							margin: 18px 24px;
							vertical-align: top;
							.count {
								display: inline-block;
								height: 24px;
								line-height: 24px;
								padding: 0 10px;
								margin: 0 8px 0 16px;
								font-size: 14px;
								color: #4A4A4A;
								background-color: #F3F3F3;
								@include border-radius(4px);
								&.no-margin {
									margin: 0;
								}
							}
						}
						.layout-switch {
							display: inline-block;
							position: absolute;
							top: 15px;
							right: 30px;
							height: 28px;
							line-height: 26px;
							background: #FFFFFF;
							border: 1px solid #4A4A4A;
							@include border-radius(4px);
							.layout {
								display: inline-block;
								font-size: 14px;
								color: #4A4A4A;
								line-height: 26px;
								padding: 0 8px;
								cursor: pointer;
								&.active {
									color: #fff;
									background-color: #4A4A4A;
								}
							}
						}
						.more {
							display: inline-block;
							position: absolute;
							top: 15px;
							right: 30px;
							height: 28px;
							line-height: 28px;
							font-size: 14px;
							color: #6A6A6A;
							cursor: pointer;
							&:hover {
								color: darken(#9B9B9B, 20%);
							}
						}
						.dropdown-more {
							display: inline-block;
							color: #7D8995;
							.name {
								padding: 0;
								font-size: 14px;
								line-height: 1em;
							}
							& > i {
								font-size: 10px;
								margin-left: 10px;
							}
							&:hover {
								color: darken(#7D8995, 20%);
							}
						}
						.tool-coin {
							display: inline-block;
							position: absolute;
							right: 20px;
							height: 36px;
							.mcount{
								font-size: 24px;
								vertical-align: sub;
							}
							.coin{
								color: #E9411E;
								font-size: 12px;

							}
							.acoin{
								display: inline-block;
								margin: 0 20px;
								padding: 0 10px;
								border-left: 1px solid #ccc;
								line-height: 1em;


								color: #6A6A6A;
								font-size: 12px;

							}
							.button {
								min-width: 124px;
								font-size: 14px;
								line-height: 34px;
								background: #FFFFFF;
								color: #777777;
								border: 1px solid #9B9B9B;
								margin: 0;
								padding: 0 35px;
								vertical-align: top;
								text-align: center;
								&.small {
									height: 32px;
									line-height: 32px;
									min-width: 80px;
									padding: 0 15px;
								}
								&.big {
									height: 44px;
									line-height: 44px;
									min-width: 120px;
									padding: 0 15px;
								}
								&:hover {
									color: darken(#777777, 20%);
									border-color: darken(#9B9B9B, 20%);
								}
								&.blue {
									color: #31C4FF;
									border: 1px solid #31C4FF;
									&:hover {
										color: darken(#31C4FF, 20%);
										border-color: darken(#31C4FF, 20%);
									}
								}
								& + .button {
									margin-left: 10px;
								}
							}
							.create-trip {
								display: inline-block;
							}
							.search-wrap {
								display: inline-block;
								vertical-align: top;
								.search {
									width: 200px;
								}
							}
						}
						.tool-bar {
							display: inline-block;
							position: absolute;
							top: 12px;
							right: 20px;
							height: 36px;
							line-height: 36px;
							.mcount{
								font-size: 24px;
							}
							.coin{
								color: #E9411E;
								font-size: 12px;

							}
							.acoin{
								display: inline-block;
								margin: 0 20px;
								padding: 0 10px;
								border-left: 1px solid #ccc;
								line-height: 1em;


								color: #6A6A6A;
								font-size: 12px;

							}
							.button {
								min-width: 124px;
								font-size: 13px;
								line-height: 34px;
								background: #FFFFFF;
								color: #777777;
								border: 1px solid #9B9B9B;
								margin: 0;
								padding: 0 35px;
								vertical-align: top;
								text-align: center;
								&.small {
									height: 32px;
									line-height: 32px;
									min-width: 80px;
									padding: 0 15px;
								}
								&:hover {
									color: darken(#777777, 20%);
									border-color: darken(#9B9B9B, 20%);
								}
								&.blue {
									color: #31C4FF;
									border: 1px solid #31C4FF;
									&:hover {
										color: darken(#31C4FF, 20%);
										border-color: darken(#31C4FF, 20%);
									}
								}
								& + .button {
									margin-left: 10px;
								}
							}
							.create-trip {
								display: inline-block;
							}
							.search-wrap {
								display: inline-block;
								vertical-align: top;
								.search {
									width: 200px;
								}
							}
						}
						.breadcrumb-wrap {
							display: inline-block;
							.breadcrumb {
								font-size: 18px;
							}
						}
						.tab-bar {
							display: inline-block;
							margin: 0 20px;
							padding: 0 10px;
							border-left: 1px solid #ccc;
							line-height: 1em;
							.tab {
								display: inline-block;
								font-size: 14px;
								color: #9B9B9B;
								padding: 0 10px;
								cursor: pointer;
								&:hover {
									color: darken(#9B9B9B, 20%);
								}
								&.active {
									color: #353D49;
									font-weight: bold;
								}
							}
						}
						&.no-border {
							border: none;
						}
						&.large {
							height: 76px;
							line-height: 76px;
							padding: 0 40px;
							.title {
								font-size: 18px;
								color: #4A4A4A;
							}
							.desc {
								margin: 26px 24px;
							}
							.tool-bar {
								top: 20px;
								right: 40px;
								.select-wrap {
									margin-right: 40px;
								}
							}
						}
						&.my-order-header {
							padding: 0 24px;
							.tool-bar {
								right: 24px;
							}
						}
					}

					.content {
						background-color: #fff;
						.map {
							position: relative;
							height: 570px;
							background-color: #ddd;
							.spot {
								display: inline-block;
								position: relative;
								width: 320px;
								height: 320px;
								margin: 0;
								background: #fff;
								@include box-shadow(0px 1px 3px 0px rgba(0,0,0,0.30));
								@include border-radius(3px);
								&:after {
									content: '';
									display: inline-block;
									width: 12px;
									height: 12px;
									position: absolute;
									bottom: -6px;
									left: 50%;
									background-color: #fff;
									@include transform(translateX(-50%) rotate(45deg));
									@include box-shadow(1px 1px 0px 0px rgba(0,0,0,0.30));
								}
								.slideshow {
									width: 320px;
									height: 180px;
									margin: 0;
									&.multi-slide {
										width: 100%;
										height: auto;
										margin: 0;
										background-color: inherit;
										.slides {
											height: auto;
											@include transition(all 350ms ease-in-out);
											.slide {
												height: auto;
												display: inline-block;
												position: relative;
												float: left;
												&.active {
													display: block;
												}
											}
										}
									}
								}
								.thumbnail {
									float: left;
									width: 70px;
									height: 70px;
									background-size: cover;
									background-position: center;
									@include border-radius(3px);
								}
								.info {
									padding: 15px;
									.title {
										font-size: 18px;
										font-weight: bold;
										color: #515356;
										line-height: 1em;
										margin-bottom: 8px;
									}
									.descript {
										font-size: 13px;
										color: #6A6A6A;
										line-height: 1.5em;
										max-height: 1.5em * 2;
										margin-bottom: 8px;
									}
									p.destit{
										text-align: right;
										line-height: 1.5em;
										height: 21px;
										color: #515356;
										i{
											padding-left: 10px;
										}
									}
									.metas {
										.ranks {
											i {
												font-size: 12px;
												margin-right: 2px;
											}
										}
										.recommend {
											display: inline-block;
											font-size: 13px;
											color: #9B9B9B;
											line-height: 1em;
											margin-left: 10px;

										}
									}
									.ctbutton{
										display: inline-block;
										border: solid 1px #ccc;
										width: 135px;
										height: 32px;
										text-align: center;
										padding-top: 8px;
										margin-top: 10px;
										cursor: pointer;
										@include border-radius(3px);
									}
									.pin-con{
										position: absolute;
										top: 162px;
										padding-left: 10px;
									}
									.pin-con img{
										margin-left: -10px;
										float: right;
									}
								}
								.close {
									display: inline-block;
									position: absolute;
									top: 0;
									right: 0;
									@include transform(translate(50%, -50%));
									width: 24px;
									height: 24px;
									background: #000000;
									border-radius: 100%;
									text-align: center;
									opacity: 0.9;
									z-index: 1;
									&:before,
									&:after {
										content: '';
										display: inline-block;
										position: absolute;
										top: 50%;
										left: 50%;
										width: 1px;
										height: 16px;
										background: #fff;
									}
									&:before {
										@include transform(translate(-50%, -50%) rotate(-45deg));
									}
									&:after {
										@include transform(translate(-50%, -50%) rotate(45deg));
									}
								}
							}
						}
						&.spot-list {
							.nocontent{
								margin : 0 auto;
								height: 407px;
								.empty1{
									margin-top: 113px;
									margin-left: 373px;
									width: 300px;
									height: 215px;
									background-size: 100px 100px;
									background-repeat: no-repeat;
									background-position: center top;
									background-image: url("../images/baloons.png");
									.btitle{
										display: block;
										text-align: center;
										font-weight: bold;
										font-size: 24px;
										padding-top: 120px;
									}
									.descript{
										display: block;
										font-size: 14px;
										padding-top: 13px;
										line-height: 24px;
										color: #9B9B9B;
									}
								}

							}
							.coupon {
								height: 100px;
								margin: 20px 25px 0 25px;
								position: relative;
								overflow: visible; /*這行是讓浮動選單不會被遮住 unlagWu 160324*/
								&:first-child {
									margin-top: 24px;
								}
								&:last-child {
									height: 120px;
									margin-bottom: 25px;
								}
								.coupon-left{
									float: left;
									height: 100px;
									width: 727px;
									padding: 10px;
									border-top: 1px solid #ccc;
									border-left: 1px solid #ccc;
									border-right: 1px dashed #ccc;
									border-bottom: 1px solid #ccc;
									@include border-radius(5px);
									&.red {
										color: #E9411E;
									}
									&.gray {
										color: #d8d8d8;
									}
									&.blue {
										color: #32c4ff;
									}


								}
								.coupon-right{
									padding-right: 20px;
									float: right;
									height: 100px;
									width: 271px;
									color: #E9411E;
									border-top: 1px solid #ccc;
									border-right: 1px solid #ccc;
									border-bottom: 1px solid #ccc;
									text-align: right;
									line-height: 100px;
									@include border-radius(5px);
									.count{
										font-size: 30px;
										font-size: 30px;
										padding-right: 10px;
										line-height: 40px;
										vertical-align: middle;
									}
								}
								.thumbnail {
									width: 80px;
									height: 80px;
									float: left;
									background-size: cover;
									background-position: center;
									@include border-radius(3px);
									&:hover {
										opacity: .8;
									}
								}
								.info {
									margin-left: 100px;
									.title {
										font-size: 20px;
										font-weight: bold;
										color: #333333;
										line-height: 0.9em;
										margin-bottom: 0;
										i {
											font-size: 14px;
											color: #4A4A4A;
										}
									}
									.title:hover{
										color: #E9411E;
									}
									.summary {
										font-size: 13px;
										color: #4A4A4A;
										line-height: 1em;
										min-height: 1em;
										overflow: hidden;
										margin-top: 12px;
									}
									.descript {
										font-size: 14px;
										color: #9B9B9B;
										line-height: 1.5em;
										margin-top: 10px;
										max-height: 1.5em * 3;
										@include flexbox((
											display: box,
											box-orient: vertical
											));
										-webkit-line-clamp: 3;
										overflow: hidden;
										&.row-2 {
											max-height: 1.5em * 2;
											-webkit-line-clamp: 2;
										}
									}
									.metas {
										font-size: 13px;
										color: #4A4A4A;
										line-height: 1em;
										margin-top: 12px;
										position: relative;
										overflow: visible;
										& > i {
											font-size: 14px;
											color: #858585;
											margin-right: 8px;
										}
										.ranks {
											margin-right: 8px;
											i {
												font-size: 12px;
												margin-right: 2px;
											}
										}
										.recommend {
											display: inline-block;
										}
										.datetime {
											color: #4A4A4A;
										}
										.message {
											color: #4A4A4A;
										}
										.link {
											color: #31C4FF;
											text-decoration: none;
											padding-bottom: 0;
											border-bottom: 1px solid #31C4FF;
											&:hover {
												color: darken(#31C4FF, 10%);
												border-color: darken(#31C4FF, 10%);
											}
										}
										.actions {
											display: inline-block;
											position: absolute;
											top: 0;
											right: 0;
											@include user-select(none);
											.action {
												display: inline-block;
												position: relative;
												color: #9B9B9B;
												cursor: pointer;
												&:hover {
													color: darken(#9B9B9B, 20%);
												}
												& + .action {
													margin-left: 12px;
												}
												.poi-dropdown-menu {
													top: 30px;
													right: -12px;
												}
											}
										}
									}
									.note {
										display: inline-block;
										background: #eee;
										font-size: 12px;
										color: #9B9B9B;
										line-height: 1em;
										padding: 6px 8px;
										margin-top: 5px;
									}
									.comment {
										margin: 8px 0 0 0;
										.mark {
											color: #333333;
										}
										& > p {
											color: #777777;
											font-size: 14px;
											line-height: 1.5em;
											background: #FAFAFA;
											border: 1px solid #DDDDDD;
											@include border-radius(2px);
											padding: 16px;
										}
										& > textarea {
											width: 100%;
											color: #777777;
											font-size: 14px;
											line-height: 1.5em;
											background: #FFFFFF;
											border: 1px solid #9B9B9B;
											@include border-radius(2px);
											padding: 16px;
										}
										.buttons {
											text-align: right;
											margin-top: 14px;
											.button {
												margin: 0 0 0 10px;
												padding: 0 25px;
											}
										}
									}
								}
								.tool {
									display: inline-block;
									position: absolute;
									right: 0;
									bottom: 20px;
									color: #AFB5B9;
									text-align: center;
									&:hover {
										color: darken(#AFB5B9, 20%);
									}
									&.delete {
										visibility: hidden;
										top: 10px;
										bottom: initial;
										width: 40px;
										height: 40px;
										& > i {
											line-height: 40px;
										}
										.poi-dropdown-menu {
											top: 41px;
											right: -5px;
										}
									}
								}
								&.draft {
									//我的遊記 - 草稿遊記
									.thumbnail {
										opacity: 0.7;
									}
									.info {
										.title {
											opacity: 0.7;
										}
										.descript {
											opacity: 0.7;
										}
									}
								}
								&.expire {
									//我的優惠券 - 已過期
									.thumbnail {
										opacity: 0.6;
									}
									.info {
										.title {
											opacity: 0.7;
										}
										.descript {
											opacity: 0.7;
										}
										.note {
											margin-top: 15px;
										}
										.metas {
											.recommend {
												opacity: 0.7;
											}
										}
									}
								}
								&:hover {
									.tool {
										&.delete {
											visibility: visible;
										}
									}
								}
							}
							.spot {
								/*我的行程、我的遊記列表內容*/
								min-height: 150px;
								margin: 0 25px;
								padding: 20px 0;
								border-bottom: 1px solid #eee;
								position: relative;
								overflow: visible; /*這行是讓浮動選單不會被遮住 unlagWu 160324*/
								&:first-child {
									padding-top: 25px;
								}
								&:last-child {
									padding-bottom: 25px;
									border-bottom: none;
								}
								.thumbnail {
									width: 120px;
									height: 120px;
									float: left;
									background-size: cover;
									background-position: center;
									@include border-radius(3px);
									&:hover {
										opacity: .8;
									}
								}
								.info {
									margin-left: 136px;
									.title {
										font-size: 20px;
										font-weight: bold;
										color: #333333;
										line-height: 0.9em;
										margin-bottom: 0;
										i {
											font-size: 14px;
											color: #4A4A4A;
										}
									}
									.summary {
										font-size: 13px;
										color: #4A4A4A;
										line-height: 1em;
										min-height: 1em;
										overflow: hidden;
										margin-top: 12px;
									}
									.descript {
										font-size: 14px;
										color: #9B9B9B;
										line-height: 1.5em;
										margin-top: 10px;
										max-height: 1.5em * 3;
										@include flexbox((
											display: box,
											box-orient: vertical
											));
										-webkit-line-clamp: 3;
										overflow: hidden;
										&.row-2 {
											max-height: 1.5em * 2;
											-webkit-line-clamp: 2;
										}
									}
									.metas {
										font-size: 13px;
										color: #9B9B9B;
										line-height: 1em;
										margin-top: 12px;
										position: relative;
										overflow: visible;
										& > i {
											font-size: 14px;
											color: #858585;
											margin-right: 8px;
										}
										.ranks {
											margin-right: 8px;
											i {
												font-size: 12px;
												margin-right: 2px;
											}
										}
										.recommend {
											display: inline-block;
											i {
												margin-right: 10px;
											}
										}
										.itxt{
											margin-left: 3px;
										}
										.datetime {
											color: #4A4A4A;
										}
										.message {
											color: #4A4A4A;
										}
										.link {
											color: #31C4FF;
											text-decoration: none;
											padding-bottom: 0;
											border-bottom: 1px solid #31C4FF;
											&:hover {
												color: darken(#31C4FF, 10%);
												border-color: darken(#31C4FF, 10%);
											}
										}
										.actions {
											display: inline-block;
											position: absolute;
											top: 0;
											right: 0;
											@include user-select(none);
											.action {
												display: inline-block;
												position: relative;
												color: #9B9B9B;
												cursor: pointer;
												&:hover {
													color: darken(#9B9B9B, 20%);
												}
												& + .action {
													margin-left: 12px;
												}
												.poi-dropdown-menu {
													top: 30px;
													right: -12px;
												}
											}
										}
									}
									.note {
										display: inline;
										background: #eee;
										font-size: 12px;
										color: #9B9B9B;
										line-height: 1em;
										padding: 6px 8px;
										margin-top: 5px;
									}
									.comment {
										margin: 8px 0 0 0;
										.mark {
											color: #333333;
										}
										& > p {
											color: #777777;
											font-size: 14px;
											line-height: 1.5em;
											background: #FAFAFA;
											border: 1px solid #DDDDDD;
											@include border-radius(2px);
											padding: 16px;
										}
										& > textarea {
											width: 100%;
											color: #777777;
											font-size: 14px;
											line-height: 1.5em;
											background: #FFFFFF;
											border: 1px solid #9B9B9B;
											@include border-radius(2px);
											padding: 16px;
										}
										.buttons {
											text-align: right;
											margin-top: 14px;
											.button {
												margin: 0 0 0 10px;
												padding: 0 25px;
											}
										}
									}
								}
								.tool {
									display: inline-block;
									position: absolute;
									right: 0;
									bottom: 20px;
									color: #AFB5B9;
									text-align: center;
									&:hover {
										color: darken(#AFB5B9, 20%);
									}
									&.delete {
										visibility: hidden;
										top: 10px;
										bottom: initial;
										width: 40px;
										height: 40px;
										& > i {
											line-height: 40px;
										}
										.poi-dropdown-menu {
											top: 41px;
											right: -5px;
										}
									}
								}
								&.draft {
									//我的遊記 - 草稿遊記
									.thumbnail {
										opacity: 0.7;
									}
									.info {
										.title {
											opacity: 0.7;
										}
										.descript {
											opacity: 0.7;
										}
									}
								}
								&.expire {
									//我的優惠券 - 已過期
									.thumbnail {
										opacity: 0.6;
									}
									.info {
										.title {
											opacity: 0.7;
										}
										.descript {
											opacity: 0.7;
										}
										.note {
											margin-top: 15px;
										}
										.metas {
											.recommend {
												opacity: 0.7;
											}
										}
									}
								}
								&:hover {
									.tool {
										&.delete {
											visibility: visible;
										}
									}
								}
							}
							&.col-2 {
								/*我的收藏、我的足跡列表內容*/
								padding: 0px 40px;
								.spot {
									display: inline-block;
									margin: 0;
									width: calc(50% - 10px);
									&:nth-child(even) {
										margin-left: 20px;
									}
									&:first-child {
										padding-top: 20px;
									}
									&:last-child {
										padding-bottom: 20px;
									}
									&:nth-last-child(2) {
										&:nth-child(odd) {
											border-bottom: none;
										}
									}
									.thumbnail {
										width: 110px;
										height: 110px;
										margin: 0;
									}
									.info {
										margin-left: 116px;
										.title {
											font-size: 18px;
											color: #515356;
											margin-bottom: 10px;
										}
										.summary {
											color: #6A6A6A;
											margin: 10px 0;
											max-height: 1em;
											overflow: hidden;
										}
										.descript {
											font-size: 13px;
										}
										.metas {
											margin-top: 10px;
											.ranks {
												i {
													font-size: 13px;
												}
											}
										}
									}
								}
							}
						}
						&.empty-content {
							height: 820px;
							text-align: center;
							.empty-status {
								margin-top: 200px;
							}
						}
						&.table-content {
							padding: 24px 22px 20px 26px;
							text-align: left;
							overflow: auto;
							.align-center {
								text-align: center;
							}
							table {
								width: 100%;
								min-width: 800px;
								background: #FFFFFF;
								border: 1px solid #DDDDDD;
								@include border-radius(3px);
								margin-bottom: 20px;
								thead {
									background: #FAFAFA;
									border-bottom: 1px solid #EEEEEE;
									tr {
										th {
											font-size: 14px;
											font-weight: bold;
											color: #4A4A4A;
											line-height: 1.5em;
											padding: 9px 20px;
											border: 1px solid #DDDDDD;
										}
									}
								}
								tbody {
									tr {
										td {
											font-size: 14px;
											color: #6A6A6A;
											line-height: 1.5em;
											padding: 14px 20px;
											border: 1px solid #DDDDDD;
											&.gray {
												background: #F8F8F8;
												color: #5F666B;
											}
											&.success {
												background: #F1FFE2;
												color: #7A9E50;
											}
											&.fail {
												background: #FFECEF;
												color: #E4777F;
											}
											.title {
												color: #384047;
											}
											.link {
												color: #31C4FF;
												text-decoration: none;
												padding-bottom: 0;
												border-bottom: 1px solid #31C4FF;
												&:hover {
													color: darken(#31C4FF, 10%);
													border-color: darken(#31C4FF, 10%);
												}
											}
											.tool {
												display: inline-block;
												position: relative;
												font-size: 16px;
												color: #AFB5B9;
												&:hover {
													color: darken(#AFB5B9, 20%);
												}
												.poi-dropdown-menu {
													top: 25px;
													right: -16px;
												}
											}
										}
									}
								}
							}
						}
						&.order-list {
							//我的訂單列表
							background: #F2F2F2;
							padding-top: 20px;
							.order {
								background: #FFFFFF;
								border: 1px solid #DDDDDD;
								& + .order {
									margin-top: 20px;
								}
								& > .header {
									background: #FAFAFA;
									height: 50px;
									line-height: 50px;
									padding: 0 18px;
									.title {
										display: inline-block;
										font-weight: bold;
										font-size: 14px;
										color: #4A4A4A;
									}
									.ordre-status {
										display: inline-block;
										font-size: 14px;
										color: #9B9B9B;
										margin-left: 16px;
										&.green {
											color: #38D321;
										}
										&.blue {
											color: #31C4FF;
										}
										&.red {
											color: #FF2A2A;
										}
									}
									.meta {
										display: inline-block;
										float: right;
										height: 50px;
										font-size: 14px;
										color: #777777;
										.ordre-number {

										}
										.date {
											margin-left: 25px;
										}
									}
								}
								& > .footer {
									min-height: 60px;
									line-height: 60px;
									padding: 0 18px;
									border-top: 1px solid #DDDDDD;
									overflow: auto;
									.descript {
										display: inline-block;
										font-size: 14px;
										color: #4D4E53;
									}
									.action-bar {
										display: inline-block;
										float: right;
										height: 60px;
										.button {
											min-width: 80px;
											height: 32px;
											line-height: 32px;
											font-size: 13px;
											background: transparent;
											color: #777777;
											text-align: center;
											border: 1px solid #9B9B9B;
											@include border-radius(3px);
											margin: 0 0 0 10px;
											&:hover {
												color: darken(#777777, 20%);
												border-color: darken(#9B9B9B, 20%);
											}
											&.blue {
												min-width: 160px;
												color: #31C4FF;
												border: 1px solid #31C4FF;
												&:hover {
													color: darken(#31C4FF, 20%);
													border-color: darken(#31C4FF, 20%);
												}
											}
										}
									}
								}
								.order-item-list {

								}
								.order-item {
									padding: 18px 40px 18px 18px;
									border-top: 1px solid #DDDDDD;
									&.returned {
										opacity: 0.5;
									}
									& > * {
										vertical-align: middle;
									}
									.thumbnail {
										display: inline-block;
										position: relative;
										width: 80px;
										height: 80px;
										margin-right: 12px;
										@include border-radius(3px);
										background-repeat: no-repeat;
										background-size: cover;
										background-position: center;
										.return-mark {
											display: inline-block;
											position: absolute;
											top: 50%;
											left: 50%;
											@include transform(translate(-50%, -50%));
											background: #444;
											@include border-radius(2px);
											font-size: 14px;
											color: #FFFFFF;
											line-height: 1em;
											padding: 4px 10px;
											white-space: nowrap;
										}
									}
									.info {
										display: inline-block;
										max-width: calc(100% - 150px);
										.title {
											font-size: 14px;
											font-weight: bold;
											color: #393D3F;
											line-height: 1em;
											margin-bottom: 10px;
										}
										.meta {
											font-size: 12px;
											color: #838C8C;
											line-height: 1em;
											margin-bottom: 10px;
										}
										.price {
											font-size: 16px;
											font-weight: bold;
											color: #4A4A4A;
											line-height: 1em;
										}
									}
									.count {
										display: inline-block;
										float: right;
										margin: 34px 0;
										font-size: 12px;
										color: #3C3D41;
										line-height: 1em;
									}
								}
							}
						}
						&.order-detail {
							//我的訂單明細
							padding: 24px;
							.order-info {
								background: #FAFAFA;
								border: 1px solid #DDDDDD;
								& + .order-info {
									margin-top: 24px;
								}
								.header {
									background: #F3F3F3;
									height: 50px;
									line-height: 50px;
									padding: 0 24px;
									border-bottom: 1px solid #DDDDDD;
									.title {
										display: inline-block;
										font-size: 14px;
										color: #4A4A4A;
									}
									.meta {
										display: inline-block;
										float: right;
										height: 50px;
										font-size: 14px;
										color: #4D4E53;
										.price {
											color: #F03B40;
										}
									}
								}
								.order-content {
									padding: 24px;
									&.no-padding {
										padding: 0;
									}
									a {
										color: #31C4FF;
										&:hover {
											color: darken(#31C4FF, 20%);
										}
									}
									dl {
										display: block;
										font-size: 13px;
										color: #4A4A4A;
										line-height: 16px;
										margin: 0 0 10px 0;
										&:last-child {
											margin-bottom: 5px;
										}
										dt {
											display: inline-block;
											min-width: 65px;
											text-align: right;
										}
										dd {
											display: inline-block;
										}
									}

									.order-item {
										padding: 20px 24px;
										&:after {
											content: '';
											display: block;
											clear: both;
										}
										& + .order-item {
											border-top: 1px solid #DDDDDD;
										}
										&.returned {
											opacity: 0.5;
										}
										& > * {
											vertical-align: top;
										}
										.thumbnail {
											display: inline-block;
											position: relative;
											width: 80px;
											height: 80px;
											margin-right: 12px;
											@include border-radius(3px);
											background-repeat: no-repeat;
											background-size: cover;
											background-position: center;
											.return-mark {
												display: inline-block;
												position: absolute;
												top: 50%;
												left: 50%;
												@include transform(translate(-50%, -50%));
												background: #444;
												@include border-radius(2px);
												font-size: 14px;
												color: #FFFFFF;
												line-height: 1em;
												padding: 4px 10px;
												white-space: nowrap;
											}
										}
										.info {
											display: inline-block;
											max-width: calc(100% - 380px);
											.title {
												font-size: 14px;
												font-weight: bold;
												color: #393D3F;
												line-height: 1.5em;
												margin-bottom: 10px;
											}
											.meta {
												font-size: 12px;
												color: #838C8C;
												line-height: 1em;
												margin-bottom: 10px;
											}
											.price {
												font-size: 16px;
												font-weight: bold;
												color: #4A4A4A;
												line-height: 1em;
											}
										}
										.ticket-list {
											display: inline-block;
											float: right;
											margin: -20px -24px -20px 0;
											padding: 24px;
											border-left: 1px dashed #CCCCCC;
											min-height: 128px;
											.ticket {
												& + .ticket {
													margin-top: 45px;
												}
												img {
													max-height: 100%;
													max-width: 100%;
												}
												.barcode {
													display: inline-block;
													height: 70px;
													.number {
														font-size: 16px;
														color: #4A4A4A;
														line-height: 1em;
														text-align: center;
														margin: 0 0 10px 0;
													}
												}
												.qrcode {
													display: inline-block;
													width: 65px;
													height: 65px;
													margin-left: 10px;
												}
											}
										}
									}
								}
							}
						}
						&.coupon-list {
							//我的優惠券列表
							background: #F2F2F2;
							padding-top: 20px;
							.coupon {
								background: #FFFFFF;
								border: 1px solid #DDDDDD;
								& + .coupon {
									margin-top: 20px;
								}
								& > .header {
									background: #FAFAFA;
									height: 50px;
									line-height: 50px;
									padding: 0 18px;
									.title {
										display: inline-block;
										font-weight: bold;
										font-size: 14px;
										color: #4A4A4A;
									}
									.ordre-status {
										display: inline-block;
										font-size: 14px;
										color: #9B9B9B;
										margin-left: 16px;
										&.green {
											color: #38D321;
										}
										&.blue {
											color: #31C4FF;
										}
										&.red {
											color: #FF2A2A;
										}
									}
									.meta {
										display: inline-block;
										float: right;
										height: 50px;
										font-size: 14px;
										color: #777777;
										.ordre-number {

										}
										.date {
											margin-left: 25px;
										}
									}
								}
								& > .footer {
									min-height: 60px;
									line-height: 60px;
									padding: 0 18px;
									border-top: 1px solid #DDDDDD;
									overflow: auto;
									.descript {
										display: inline-block;
										font-size: 14px;
										color: #4D4E53;
									}
									.action-bar {
										display: inline-block;
										float: right;
										height: 60px;
										.button {
											min-width: 80px;
											height: 32px;
											line-height: 32px;
											font-size: 13px;
											background: transparent;
											color: #777777;
											text-align: center;
											border: 1px solid #9B9B9B;
											@include border-radius(3px);
											margin: 0 0 0 10px;
											&:hover {
												color: darken(#777777, 20%);
												border-color: darken(#9B9B9B, 20%);
											}
											&.blue {
												min-width: 160px;
												color: #31C4FF;
												border: 1px solid #31C4FF;
												&:hover {
													color: darken(#31C4FF, 20%);
													border-color: darken(#31C4FF, 20%);
												}
											}
										}
									}
								}
								.coupon-item-list {

								}
								.coupon-item {
									padding: 18px 40px 18px 18px;
									border-top: 1px solid #DDDDDD;
									&.returned {
										opacity: 0.5;
									}
									& > * {
										vertical-align: middle;
									}
									.thumbnail {
										display: inline-block;
										position: relative;
										width: 80px;
										height: 80px;
										margin-right: 12px;
										@include border-radius(3px);
										background-repeat: no-repeat;
										background-size: cover;
										background-position: center;
										.return-mark {
											display: inline-block;
											position: absolute;
											top: 50%;
											left: 50%;
											@include transform(translate(-50%, -50%));
											background: #444;
											@include border-radius(2px);
											font-size: 14px;
											color: #FFFFFF;
											line-height: 1em;
											padding: 4px 10px;
											white-space: nowrap;
										}
									}
									.info {
										display: inline-block;
										max-width: calc(100% - 150px);
										.title {
											font-size: 14px;
											font-weight: bold;
											color: #393D3F;
											line-height: 1em;
											margin-bottom: 10px;
										}
										.meta {
											font-size: 12px;
											color: #838C8C;
											line-height: 1em;
											margin-bottom: 10px;
										}
										.price {
											font-size: 16px;
											font-weight: bold;
											color: #4A4A4A;
											line-height: 1em;
										}
									}
									.count {
										display: inline-block;
										float: right;
										margin: 34px 0;
										font-size: 12px;
										color: #3C3D41;
										line-height: 1em;
									}
								}
							}
						}
						&.coupon-detail {
							.coupon {
								height: 100px;
								position: relative;
								overflow: visible; /*這行是讓浮動選單不會被遮住 unlagWu 160324*/
								margin-bottom: 25px;
								.coupon-left{
									float: left;
									height: 100px;
									width: 727px;
									padding: 10px;
									border-top: 1px solid #ccc;
									border-left: 1px solid #ccc;
									border-right: 1px dashed #ccc;
									border-bottom: 1px solid #ccc;
									@include border-radius(5px);
									&.red {
										color: #E9411E;
									}
									&.gray {
										color: #d8d8d8;
									}
									&.blue {
										color: #32c4ff;
									}


								}
								.coupon-right{
									padding-right: 20px;
									float: right;
									height: 100px;
									width: 271px;
									color: #E9411E;
									border-top: 1px solid #ccc;
									border-right: 1px solid #ccc;
									border-bottom: 1px solid #ccc;
									text-align: right;
									line-height: 100px;
									@include border-radius(5px);
									.count{
										font-size: 30px;
										font-size: 30px;
										padding-right: 10px;
										line-height: 40px;
										vertical-align: middle;
									}
									.serial{
										line-height: 30px;
										text-align: center;
										margin-left: 20px;
										margin-top: 20px;
										color: #000000;
									}
								}
								.thumbnail {
									width: 80px;
									height: 80px;
									float: left;
									background-size: cover;
									background-position: center;
									@include border-radius(3px);
									&:hover {
										opacity: .8;
									}
								}
								.info {
									margin-left: 100px;
									.title {
										font-size: 20px;
										font-weight: bold;
										color: #333333;
										line-height: 0.9em;
										margin-bottom: 0;
										i {
											font-size: 14px;
											color: #4A4A4A;
										}
									}
									.summary {
										font-size: 13px;
										color: #4A4A4A;
										line-height: 1em;
										min-height: 1em;
										overflow: hidden;
										margin-top: 12px;
									}
									.descript {
										font-size: 14px;
										color: #9B9B9B;
										line-height: 1.5em;
										margin-top: 10px;
										max-height: 1.5em * 3;
										@include flexbox((
											display: box,
											box-orient: vertical
											));
										-webkit-line-clamp: 3;
										overflow: hidden;
										&.row-2 {
											max-height: 1.5em * 2;
											-webkit-line-clamp: 2;
										}
									}
									.metas {
										font-size: 13px;
										color: #4A4A4A;
										line-height: 1em;
										margin-top: 12px;
										position: relative;
										overflow: visible;
										& > i {
											font-size: 14px;
											color: #858585;
											margin-right: 8px;
										}
										.ranks {
											margin-right: 8px;
											i {
												font-size: 12px;
												margin-right: 2px;
											}
										}
										.recommend {
											display: inline-block;
										}
										.datetime {
											color: #4A4A4A;
										}
										.message {
											color: #4A4A4A;
										}
										.link {
											color: #31C4FF;
											text-decoration: none;
											padding-bottom: 0;
											border-bottom: 1px solid #31C4FF;
											&:hover {
												color: darken(#31C4FF, 10%);
												border-color: darken(#31C4FF, 10%);
											}
										}
										.actions {
											display: inline-block;
											position: absolute;
											top: 0;
											right: 0;
											@include user-select(none);
											.action {
												display: inline-block;
												position: relative;
												color: #9B9B9B;
												cursor: pointer;
												&:hover {
													color: darken(#9B9B9B, 20%);
												}
												& + .action {
													margin-left: 12px;
												}
												.poi-dropdown-menu {
													top: 30px;
													right: -12px;
												}
											}
										}
									}
									.note {
										display: inline-block;
										background: #eee;
										font-size: 12px;
										color: #9B9B9B;
										line-height: 1em;
										padding: 6px 8px;
										margin-top: 5px;
									}
									.comment {
										margin: 8px 0 0 0;
										.mark {
											color: #333333;
										}
										& > p {
											color: #777777;
											font-size: 14px;
											line-height: 1.5em;
											background: #FAFAFA;
											border: 1px solid #DDDDDD;
											@include border-radius(2px);
											padding: 16px;
										}
										& > textarea {
											width: 100%;
											color: #777777;
											font-size: 14px;
											line-height: 1.5em;
											background: #FFFFFF;
											border: 1px solid #9B9B9B;
											@include border-radius(2px);
											padding: 16px;
										}
										.buttons {
											text-align: right;
											margin-top: 14px;
											.button {
												margin: 0 0 0 10px;
												padding: 0 25px;
											}
										}
									}
								}
								.tool {
									display: inline-block;
									position: absolute;
									right: 0;
									bottom: 20px;
									color: #AFB5B9;
									text-align: center;
									&:hover {
										color: darken(#AFB5B9, 20%);
									}
									&.delete {
										visibility: hidden;
										top: 10px;
										bottom: initial;
										width: 40px;
										height: 40px;
										& > i {
											line-height: 40px;
										}
										.poi-dropdown-menu {
											top: 41px;
											right: -5px;
										}
									}
								}
								&.draft {
									//我的遊記 - 草稿遊記
									.thumbnail {
										opacity: 0.7;
									}
									.info {
										.title {
											opacity: 0.7;
										}
										.descript {
											opacity: 0.7;
										}
									}
								}
								&.expire {
									//我的優惠券 - 已過期
									.thumbnail {
										opacity: 0.6;
									}
									.info {
										.title {
											opacity: 0.7;
										}
										.descript {
											opacity: 0.7;
										}
										.note {
											margin-top: 15px;
										}
										.metas {
											.recommend {
												opacity: 0.7;
											}
										}
									}
								}
								&:hover {
									.tool {
										&.delete {
											visibility: visible;
										}
									}
								}
							}
							.spot {
								/*我的行程、我的遊記列表內容*/
								min-height: 150px;
								margin: 0 25px;
								padding: 20px 0;
								border-bottom: 1px solid #eee;
								position: relative;
								overflow: visible; /*這行是讓浮動選單不會被遮住 unlagWu 160324*/
								&:first-child {
									padding-top: 25px;
								}
								&:last-child {
									padding-bottom: 25px;
									border-bottom: none;
								}
								.thumbnail {
									width: 120px;
									height: 120px;
									float: left;
									background-size: cover;
									background-position: center;
									@include border-radius(3px);
									&:hover {
										opacity: .8;
									}
								}
								.info {
									margin-left: 136px;
									.title {
										font-size: 20px;
										font-weight: bold;
										color: #333333;
										line-height: 0.9em;
										margin-bottom: 0;
										i {
											font-size: 14px;
											color: #4A4A4A;
										}
									}
									.summary {
										font-size: 13px;
										color: #4A4A4A;
										line-height: 1em;
										min-height: 1em;
										overflow: hidden;
										margin-top: 12px;
									}
									.descript {
										font-size: 14px;
										color: #9B9B9B;
										line-height: 1.5em;
										margin-top: 10px;
										max-height: 1.5em * 3;
										@include flexbox((
											display: box,
											box-orient: vertical
											));
										-webkit-line-clamp: 3;
										overflow: hidden;
										&.row-2 {
											max-height: 1.5em * 2;
											-webkit-line-clamp: 2;
										}
									}
									.metas {
										font-size: 13px;
										color: #9B9B9B;
										line-height: 1em;
										margin-top: 12px;
										position: relative;
										overflow: visible;
										& > i {
											font-size: 14px;
											color: #858585;
											margin-right: 8px;
										}
										.ranks {
											margin-right: 8px;
											i {
												font-size: 12px;
												margin-right: 2px;
											}
										}
										.recommend {
											display: inline-block;
										}
										.datetime {
											color: #4A4A4A;
										}
										.message {
											color: #4A4A4A;
										}
										.link {
											color: #31C4FF;
											text-decoration: none;
											padding-bottom: 0;
											border-bottom: 1px solid #31C4FF;
											&:hover {
												color: darken(#31C4FF, 10%);
												border-color: darken(#31C4FF, 10%);
											}
										}
										.actions {
											display: inline-block;
											position: absolute;
											top: 0;
											right: 0;
											@include user-select(none);
											.action {
												display: inline-block;
												position: relative;
												color: #9B9B9B;
												cursor: pointer;
												&:hover {
													color: darken(#9B9B9B, 20%);
												}
												& + .action {
													margin-left: 12px;
												}
												.poi-dropdown-menu {
													top: 30px;
													right: -12px;
												}
											}
										}
									}
									.note {
										display: inline-block;
										background: #eee;
										font-size: 12px;
										color: #9B9B9B;
										line-height: 1em;
										padding: 6px 8px;
										margin-top: 5px;
									}
									.comment {
										margin: 8px 0 0 0;
										.mark {
											color: #333333;
										}
										& > p {
											color: #777777;
											font-size: 14px;
											line-height: 1.5em;
											background: #FAFAFA;
											border: 1px solid #DDDDDD;
											@include border-radius(2px);
											padding: 16px;
										}
										& > textarea {
											width: 100%;
											color: #777777;
											font-size: 14px;
											line-height: 1.5em;
											background: #FFFFFF;
											border: 1px solid #9B9B9B;
											@include border-radius(2px);
											padding: 16px;
										}
										.buttons {
											text-align: right;
											margin-top: 14px;
											.button {
												margin: 0 0 0 10px;
												padding: 0 25px;
											}
										}
									}
								}
								.tool {
									display: inline-block;
									position: absolute;
									right: 0;
									bottom: 20px;
									color: #AFB5B9;
									text-align: center;
									&:hover {
										color: darken(#AFB5B9, 20%);
									}
									&.delete {
										visibility: hidden;
										top: 10px;
										bottom: initial;
										width: 40px;
										height: 40px;
										& > i {
											line-height: 40px;
										}
										.poi-dropdown-menu {
											top: 41px;
											right: -5px;
										}
									}
								}
								&.draft {
									//我的遊記 - 草稿遊記
									.thumbnail {
										opacity: 0.7;
									}
									.info {
										.title {
											opacity: 0.7;
										}
										.descript {
											opacity: 0.7;
										}
									}
								}
								&.expire {
									//我的優惠券 - 已過期
									.thumbnail {
										opacity: 0.6;
									}
									.info {
										.title {
											opacity: 0.7;
										}
										.descript {
											opacity: 0.7;
										}
										.note {
											margin-top: 15px;
										}
										.metas {
											.recommend {
												opacity: 0.7;
											}
										}
									}
								}
								&:hover {
									.tool {
										&.delete {
											visibility: visible;
										}
									}
								}
							}
							&.col-2 {
								/*我的收藏、我的足跡列表內容*/
								padding: 20px 40px;
								.spot {
									display: inline-block;
									margin: 0;
									width: calc(50% - 10px);
									&:nth-child(even) {
										margin-left: 20px;
									}
									&:first-child {
										padding-top: 20px;
									}
									&:last-child {
										padding-bottom: 20px;
									}
									&:nth-last-child(2) {
										&:nth-child(odd) {
											border-bottom: none;
										}
									}
									.thumbnail {
										width: 110px;
										height: 110px;
										margin: 0;
									}
									.info {
										margin-left: 116px;
										.title {
											font-size: 18px;
											color: #515356;
											margin-bottom: 10px;
										}
										.summary {
											color: #6A6A6A;
											margin: 10px 0;
											max-height: 1em;
											overflow: hidden;
										}
										.descript {
											font-size: 13px;
										}
										.metas {
											margin-top: 10px;
											.ranks {
												i {
													font-size: 13px;
												}
											}
										}
									}
								}
							}

							//我的優惠券明細
							padding: 24px;
							.coupon-info {
								& + .coupon-info {
									margin-top: 24px;
								}
								a {
									color: #31C4FF;
									&:hover {
										color: darken(#31C4FF, 20%);
									}
								}
								.header {
									height: 50px;
									line-height: 50px;
									padding: 0 ;
									border-bottom: 1px solid #DDDDDD;
									.title {
										display: inline-block;
										font-size: 16px;
										font-weight: bold;
										color: #333333;
										width: 100%;
									}
									.meta {
										display: inline-block;
										float: right;
										height: 50px;
										font-size: 14px;
										color: #333333;
										.price {
											color: #F03B40;
										}
									}
								}
								.coupon-content {
									padding: 12px;
									&.no-padding {
										padding: 0;
									}
									a {
										color: #31C4FF;
										&:hover {
											color: darken(#31C4FF, 20%);
										}
									}
									dl {
										display: block;
										font-size: 13px;
										color: #4A4A4A;
										line-height: 16px;
										margin: 0 0 10px 0;
										&:last-child {
											margin-bottom: 5px;
										}
										dt {
											display: inline-block;
											min-width: 65px;
											text-align: right;
										}
										dd {
											display: inline-block;
										}
									}
									ul {
										display: block;
										font-size: 13px;
										color: #4A4A4A;
										line-height: 16px;
										margin: 0 ;
										&:last-child {
											margin-bottom: 5px;
										}
										li {
											list-style-type: decimal;
											min-width: 65px;
											margin-bottom: 5px;
										}
									}
									.coupon-item {
										padding: 20px 24px;
										&:after {
											content: '';
											clear: both;
											@media screen and (max-width: 750px) {
												display: block;
											}
										}
										& + .coupon-item {
											border-top: 1px solid #DDDDDD;
										}
										&.returned {
											opacity: 0.5;
										}
										& > * {
											vertical-align: top;
										}
										.thumbnail {
											display: inline-block;
											position: relative;
											width: 80px;
											height: 80px;
											margin-right: 12px;
											@include border-radius(3px);
											background-repeat: no-repeat;
											background-size: cover;
											background-position: center;
											.return-mark {
												display: inline-block;
												position: absolute;
												top: 50%;
												left: 50%;
												@include transform(translate(-50%, -50%));
												background: #444;
												@include border-radius(2px);
												font-size: 14px;
												color: #FFFFFF;
												line-height: 1em;
												padding: 4px 10px;
												white-space: nowrap;
											}
											@media screen and (max-width: 750px) {
												margin-bottom: 20px;
											}
										}
										.info {
											display: inline-block;
											max-width: calc(100% - 380px);
											@media screen and (max-width: 750px) {
												min-width: 250px;
												margin: 20px 0px 20px 0px;
											}
											.title {
												font-size: 18px;
												font-weight: bold;
												color: #393D3F;
												margin-bottom: 15px;
												line-height: 1.2em;
												@media screen and (max-width: 750px) {
													margin-top: -22px;
												}
											}
											.blue {
												//按鈕樣式
												color: #fff;
												&:hover {
													background: #0da4e1;
												}
											}
										}
										.ticket-list {
											display: inline-block;
											float: right;
											margin: -20px -24px -20px 0;
											padding: 24px;
											border-left: 1px dashed #CCCCCC;
											min-height: 128px;
											@media screen and (max-width: 750px) {
												border: none;
												padding: 0;
												margin: -20px 0 -30px 0;
											}
											.ticket {
												& + .ticket {
													margin-top: 45px;
												}
												img {
													max-height: 100%;
													max-width: 100%;
												}
												.barcode {
													display: inline-block;
													height: 70px;
													.number {
														font-size: 16px;
														color: #4A4A4A;
														line-height: 1em;
														text-align: center;
														margin: 0 0 10px 0;
													}
												}
												.qrcode {
													display: inline-block;
													width: 65px;
													height: 65px;
													margin-left: 10px;
													@media screen and (max-width: 750px) {
														margin-top: 10px;
														margin-bottom: 10px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.section-wrap {
					padding: 40px;
				}
			}
			.right-col {
				display: inline-block;
				width: 300px;
				float: right;
				margin-left: 20px;
				& + .content-col {
					padding-right: 320px;
				}
			}
		}
	}
	&.help {
		.main-container {
			.menu-block {
				@media screen and (max-width: 750px) {
					width: calc(100% - 40px);
					margin: 20px;
				}
				.menu-list {
					.menu {
						&:hover {
							.name {
								color: #333;
							}
						}
					}
				}
			}
			.content-block {
				@media screen and (max-width: 750px) {
					margin: 0 20px;
				}
				.content-col {
					padding-left: 320px;
				}
			}
		}
	}

	@media screen and (max-width: 750px) {
		.citys {
			.city-wrap {
				.city {
					.info {
						width: 100%;
						.title {
							font-size: 18px;
						}
						.desc {
							font-size: 13px;
						}
					}
				}
			}
		}
		.header-container {
			.header {
				.menu-bar {
					display: none;
				}
				.tool-bar {
					display: none;
				}
				.info {
					.social-links {
						display: none;
					}
				}
			}
		}
		.main-container {
			.menu-block {
				width: 100%;
				float: initial;
			}
			.content-block .content-col {
				padding-left: 0 !important;
				padding-right: 0 !important;
				.card {
					.header {
						padding: 0 20px;
						&.large {
							padding: 0 20px;
						}
						.tab-bar, .tool-bar {
							display: none;
						}
					}
					.content {
						&.spot-list.col-2 {
							/*我的收藏、我的足跡列表內容*/
							padding: 20px;
							.spot {
								width: 100%;
								min-height: initial;
								&:first-child {
									padding-top: 0;
								}
								&:nth-child(even) {
									margin-left: 0;
								}
							}
						}
						&.spot-list {
							/*我的行程、我的遊記列表內容*/
							padding: 20px;
							.spot {
								width: 100%;
								min-height: initial;
								margin-left: 0;
								&:first-child {
									padding-top: 0;
								}
								.info {
									margin-left: 116px;
									.title {
										font-size: 18px;
										color: #515356;
										margin-bottom: 10px;
									}
									.summary {
										color: #6A6A6A;
										margin: 10px 0;
										max-height: 1em;
										overflow: hidden;
									}
									.descript {
										font-size: 13px;
									}
									.metas {
										margin-top: 10px;
										.ranks {
											i {
												font-size: 13px;
											}
										}
									}
								}
								.thumbnail {
									width: 110px;
									height: 110px;
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
