// home.scss 開始
.home-page {

	section {
		border-bottom: 1px solid #ddd;
		.section-wrap {
		    @media screen and (max-width: 750px) {
		    	position: relative;
			      padding: 20px 0 0 0 !important;
			      .section-info {
			      		text-align: left;
				      margin-bottom: 0;
				      padding: 0 20px;
				      .section-title {
				        font-family: $globe-font-style;
						font-weight: bold;
				        font-size: 16px;
				        color: #565A5C;
				        margin-bottom: 12px;
				      }
				      .section-descript {
				      	display: none;
				        font-size: 12px;
				        color: #777777;
				        line-height: 2em;
				      }
					}

			    a.read-more {
			    	font-style: 12px;
			    	position: absolute;
			    	top: 0;
			    	right: 20px;
			    	margin-top: 20px;
			    	color: #9b9b9b;
			    	border-bottom: none;
			    }
			    .hot-trips {
					padding: 0 0 20px 20px;
					.trip-wrap {
						min-width: 160px;
						.trip {
						    margin: 10px 10px 0px 0;
						    .tags {
						    	display: none;
						    }
						    .info {
								h4.title {
									font-size: 14px;
								}
								.metas {
									font-size: 12px;
								}
							}
						}
					}
			    }
			    .recommend-collections {
			    	padding: 0 0 20px 20px;
					.collection-wrap {
						min-width: 160px;
					}
					.collection {
						margin: 10px 10px 0px 0;
						border-radius: 5px;
						&:after {
							background: rgba(0,0,0,0.4);
						}
						.info {
							width: 80%;
							text-align: center;
							top: 50%;
							left: 50%;
							@include transform(translateX(-50%) translateY(-50%));
							h4.title {
								font-weight: bold;
								opacity: 1;
								font-size: 18px;
								color: #FFFFFF;
								margin-bottom: 8px;
							}
							.metas {
								opacity: 0.9;
								font-size: 12px;
								color: #FFFFFF;
							}
						}
					}
				}
			    .recommend-foods {
			    	padding: 0 0 20px 20px;
					.food-wrap {
						min-width: 160px;
					}
					.food {
						margin: 10px 10px 0px 0;
						border-radius: 5px;
						&:after {
							background: rgba(0,0,0,0.4);
						}
						.info {
							width: 80%;
							text-align: center;
							top: 50%;
							left: 50%;
							@include transform(translateX(-50%) translateY(-50%));
							h4.title {
								font-weight: bold;
								opacity: 1;
								font-size: 18px;
								color: #FFFFFF;
								margin-bottom: 8px;
							}
							.metas {
								opacity: 0.9;
								font-size: 12px;
								color: #FFFFFF;
							}
						}
					}
				}
			}
		}
	}

	#map {
		position: relative;
		@media screen and (max-width: 750px) {
			display: none;
		}
		.rank-list {
			position: absolute;
			top: 50%;
			right: 80px;
			width: 320px;
			background-color: #FAFAFA;
			transform: translateY(-50%);
			@include transform(translateY(-50%));
			border-radius: 3px;
			overflow: auto;
			.rank-list-header {
				height: 54px;
				line-height: 54px;
				background-color: #fff;
				padding: 0 20px;
				// @include display(flex);
				@include flexbox((
					display: flex
				));
				h4 {
					line-height: 54px;
					font-size: 14px;
					color: #333;
					margin: 0;
					font-weight: bold;
				}
				.tip {
					margin-left: auto;
					font-size: 13px;
					color: #9b9b9b;
				}
			}
			ul {
				padding: 20px;
				li {
					// @include display(flex);
					@include flexbox((
						display: flex
					));
					height: 36px;
					line-height: 36px;
					// margin-bottom: 16px;
					&:last-child {
						// margin-bottom: 0;
					}
					&:hover {
						cursor: pointer;
						.rank {
							background-color: #333;
						}
						.name {
							color: #333;
						}
						.count {
							color: #333;
						}
					}
          .active {
            background-color: #E23D2A !important;
          }
					.rank {
						align-self: center;
						width: 24px;
						height: 24px;
						line-height: 24px;
						font-size: 14px;
						color: #fff;
						text-align: center;
						margin-right: 14px;
						background-color: #B7B7B7;
						border-radius: 3px;
					}
					.name {
						color: #6a6a6a;
					}
					.count {
						color: #6a6a6a;
						margin-left: auto;
					}
				}
			}
		}
		.section-wrap {
			text-align: left;
			position: relative;
			.right {
				position: absolute;
				bottom: 20px;
				right: 0;
				text-align: right;
				.filter {
					text-align: left;
					display: inline-block;
					margin-right: 20px;
					.name {
						font-size: 13px;
						color: #9B9B9B;
						margin-bottom: 12px;
					}
					md-select {
						height: 40px;
						margin-top: 0;
						border: 1px solid #DDD;
						padding: 0 16px;
						min-width: 200px;
						md-select-label {
							padding: 0;
							line-height: 40px;
							border-bottom: none;
							.md-select-icon {
								margin-left: auto;
							}
						}
					}
				}
			}
		}
		.map-title {
	        font-family: $banner-font-style;
	        font-weight: bold;
	        font-size: 32px;
	        color: #565A5C;
	        margin-bottom: 12px;
	      }
	      .map-descript {
	        font-size: 16px;
	        color: #777777;
	        line-height: 2em;
	      }
	}

	#check-in-map {
		position: relative;
		width: 100%;
        height: 768px;
        background-color: #f3f3f3;
        .map {
        	width: 100%;
        	height: 768px;
        }
	}
	.infoslogan{
		color: #ffffff;
		font-size: 24px;
		font-weight: bold;
		margin-top: 12px;
	}
	.infosearch{
		width: 640px;
		height: 158px;
		margin-top: 30px;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.banner {
		position: relative;
		margin-top: 70px;
		// @include display(flex);
		@include flexbox((
			display: flex
		));
		height: 40vh;
		min-height: 400px;
		background-color: #333;
		@include flex-wrap(wrap);
		@include align-items(center);
		@include align-content(center);
		@include justify-content(center);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			@include background-image(linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%));
		}
		@media all and (min-width: 1920px) {
	        min-height: 640px;
	    }
		@media all and (min-width: 2560px) {
	        min-height: 720px;
	    }
		// &:after {
		// 	content: "";
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	// background: rgba(0,0,0,0.4);
		// 	background-image: -webkit-gradient(linear, 20% 0%, 80% 100%, color-stop(0%, rgba(36, 44, 50, 0.9)),color-stop(100%, #242D32));
		// 	background-image: -o-gradient(linear, 20% 0%, 80% 100%, color-stop(0%, rgba(36, 44, 50, 0.9)),color-stop(100%, #242D32));
		// 	background-image: gradient(linear, 20% 0%, 80% 100%, color-stop(0%, rgba(36, 44, 50, 0.9)),color-stop(100%, #242D32));

		// 	opacity: 0.6;
		// 	// background-image: -webkit-linear-gradient(rgba(0,0,0,0.20) 50%, rgba(0,0,0,0.28) 100%);
		// 	// background-image: -o-linear-gradient(rgba(0,0,0,0.20) 50%, rgba(0,0,0,0.28) 100%);
		// 	// background-image: linear-gradient(rgba(0,0,0,0.20) 50%, rgba(0,0,0,0.28) 100%);
		// }
		.info {
			z-index: 1;
			position: absolute;
			left: 50%;
			top: 50%;
			max-width: 640px;
			@include transform(translateX(-50%) translateY(-50%));
			// @include align-self(center);
			text-align: center;
			&.right {
				text-align: left;
				left: 50%;
				@include transform(translateY(-50%));
			}
			h2 {
				font-family: $banner-font-style;
				font-weight: 900;
				font-size: 40px;
				color: #FFFFFF;
				letter-spacing: 0px;
				line-height: 1.2em;
				margin-bottom: 12px;
			}
			p {
				font-family: $banner-font-style;
				opacity: 0.9;
				font-size: 18px;
				color: #FFFFFF;
				line-height: 1.7em;
			}
			.go-to-action {
				margin-top: 24px;
				.download-button {
					display: inline-block;
					margin-right: 8px;
					img {
						width: 160px;
					}
				}
				.button {
					padding: 0 20px;
					font-weight: normal;
					margin-right: 16px;
					border-width: 0px;
					box-sizing: content-box;
					border-radius: 3px;
					font-weight: bold;
					@include transition(background-color 155ms ease-in);
					&:hover {
						// &.android {
						// 	background-color: #A3C519;
						// }
						// &.appstore {
						// 	background-color: #000;
						// }
						color: #FFF;
					}
					&.white {
						background-color: rgba(0, 0, 0, 0);
					    border: 2px solid #fff;
					    color: #FFF;
					}
					img {
						display: inline-block;
						vertical-align: middle;
						margin-right: 12px;
						height: 20px;
					}
				}
			}
		}
		@media screen and (max-width: 768px) {
			height: 50vh;
			min-height: 320px;
			.info {
				&.right {
					text-align: center;
					left: 50%;
					@include transform(translateX(-50%) translateY(-50%));
				}
				width: 320px;
				h2 {
					font-size: 24px;
					line-height: 1.2;
				}
				p {
					font-family: $globe-font-style;
					font-weight: normal;
					font-size: 13px;
					line-height: 1.5;
				}
			}
		}
	}

	.hot-trips {
	}

	section.recommend-events-section {
		.section-wrap {
			padding: 40px;
		}
	}
	.recommend-events {
		padding: 0 0 20px 20px;
		.event-wrap {
			min-width: 160px;
			.event {
				display: block;
				position: relative;
				margin: 10px;
				border-radius: 5px;
				&:hover {
					.info {
						color: #333;
					}
				}
				.thumbnail {
					width: 100%;
					height: 0;
					padding-bottom: calc(80% - 20px);
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					overflow: hidden;
					background-color: #333;
				}
				.info {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 30px;
					line-height: 30px;
					background-color: #fff;
					font-size: 13px;
					font-weight: bold;
					color: #6a6a6a;
					letter-spacing: 0.22px;
				}
			}
		}
		@media screen and (max-width: 600px) {
			@include flex-wrap(nowrap);
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	.recommend-foods {
		.food {
			display: block;
			position: relative;
			height: 0;
			padding-bottom: calc(100% - 20px);
			margin: 10px;
			border-radius: 5px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			overflow: hidden;
			background-color: #333;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 5px;
				background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.00) 19%, rgba(0,0,0,0.60) 100%);
				background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.00) 19%, rgba(0,0,0,0.60) 100%);
				background-image: linear-gradient(to top, rgba(0,0,0,0.00) 19%, rgba(0,0,0,0.60) 100%);
			}
			.info {
				position: absolute;
				z-index: 99;
				text-align: left;
				top: 28px;
				left: 28px;
				h4.title {
					font-weight: bold;
					opacity: 1;
					font-size: 24px;
					color: #FFFFFF;
					margin-bottom: 8px;
					font-family: $banner-font-style;
				}
				.metas {
					opacity: 0.9;
					font-size: 16px;
					color: #FFFFFF;
				}
			}
		}

		@media screen and (max-width: 600px) {
			@include flex-wrap(nowrap);
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	.recommend-collections {
		.collection {
			display: block;
			position: relative;
			height: 0;
			padding-bottom: calc(100% - 20px);
			margin: 10px;
			border-radius: 5px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			overflow: hidden;
			background-color: #333;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 5px;
				background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.00) 19%, rgba(0,0,0,0.60) 100%);
				background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.00) 19%, rgba(0,0,0,0.60) 100%);
				background-image: linear-gradient(to top, rgba(0,0,0,0.00) 19%, rgba(0,0,0,0.60) 100%);
			}
			.info {
				position: absolute;
				z-index: 99;
				text-align: left;
				top: 28px;
				left: 28px;
				h4.title {
					font-weight: bold;
					opacity: 1;
					font-size: 24px;
					color: #FFFFFF;
					margin-bottom: 8px;
					font-family: $banner-font-style;
				}
				.metas {
					opacity: 0.9;
					font-size: 16px;
					color: #FFFFFF;
				}
			}
		}

		@media screen and (max-width: 600px) {
			@include flex-wrap(nowrap);
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}
	}

	.hot-spots {
		padding: 0 0 20px 20px;
		@media screen and (max-width: 600px) {
			@include flex-wrap(nowrap);
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			.tags {
				display: none;
			}
			.spot-wrap {
				min-width: 160px;
			}
			.spot {
				margin: 10px 10px 0px 0;
				.info {
					padding: 12px;
					h4.title {
						font-size: 14px;
					}
					p.descript {
						font-size: 12px;
					}
				}
			}
		}
		.spot-wrap {
			min-width: 200px;
      		text-decoration: none;
		}
		.spot {
			position: relative;
			text-align: left;
			background-color: #fff;
			margin: 5px;
			border-radius: 5px;
			overflow: hidden;
			
			.thumbnail {
				position: relative;
				// height: 180px;
				height: 0;
				padding-bottom: calc(75% - 20px);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-image: none;
				}
			}
			.info {
				padding: 30px;
				h4.title {
					height: 1em;
					max-height: 1em;
					overflow: hidden;
					text-overflow : ellipsis;
					white-space : nowrap;
					font-size: 18px;
					font-weight: bold;
					color: #515356;
					margin-bottom: 8px;
				}
				p.descript {
					font-size: 13px;
					color: #777;
					line-height: 1.5em;
					max-height: 1.5em * 2;
					overflow: hidden;
				}
			}
		}

		@media screen and (max-width: 600px) {
			@include flex-wrap(nowrap);
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}
	}
	.slideshow {
		height: 40vh;
		min-height: 480px;
		@media all and (min-width: 1920px) {
	        min-height: 640px;
	    }
		@media all and (min-width: 2560px) {
	        min-height: 720px;
	    }
		@media screen and (max-width: 768px) {
			height: 50vh;
			min-height: 320px;
		}
		.slides {
			.slide {
				@include transition(left 350ms ease-in-out);
			}
		}
		.ctrl-btn {
			width: 60px;
			height: 120px;
			&.prev {
				left: 50%;
				margin-left: -385px;
				@include transform(translate(-50%, -50%));
			}
			&.next {
				right: 50%;
				margin-right: -385px;
				@include transform(translate(50%, -50%));
			}
			i {
				font-size: 36px;
				width: 16px;
				height: 36px;
			}
		}
		.ctrl-panel {
			.ctrl-point {
				width: 12px;
				height: 12px;
				& + .ctrl-point {
					margin-left: 6px;
				}
			}
		}
	}
}

// home.scss 結束