<div class="control">
<span class="control-left" ng-click="attractionSlide.prev()"></span>
<span class="control-right" ng-click="attractionSlide.next()"></span>
<div class="mslideshow multi-slide">
	<div class="slides" ng-style="{'width':100*(attractionList.length+1)+'%', 'margin-left':100*($index-attractionSlide.currentIdx)+'%'}">
		<div class="slide" ng-class="{'active': $index==attractionSlide.currentIdx}" ng-repeat="attractions in attractionList" ng-style="{'width':100/(attractionList.length+1)+'%'}">
			<div class="spots hot-spots" layout="row" layout-wrap>
				<div  class="spot-wrap"  ng-repeat="attraction in attractions">
					<div class="spot"><a href="#/spots">
						<div class="thumbnail" style="background-image: url({{attraction.images[0].url}})"></div>
						</a>
						
						<div class="tags" ng-if="attraction.tags.length > 0" >
							<div class="tag" ng-class="tagColors[$index]" ng-repeat="tag in attraction.tags  track by $index">{{tag}}</div>
						</div>
						
						<div class="info"><a href="#/spots">
							<h4 class="title">{{attraction.title}}</h4>
							</a>
							
							<p class="descript">{{attraction.description}}</p>
							
							<p class="adrank" data-hint="tripadvisor星等" style="background-position: left {{attraction.rank}}px;"></p>
							
							<p class="destit"><i class="icon-Heart"></i>{{attraction.collect}}</p>
							
							<p class="destit"><i class="icon-Comments"></i>{{attraction.comment}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>