<div class="taiwan-info-page content gray">
    
    <div class="cards-container">
        <div class="left-col">
            <div class="card">
                <div class="header">
                    <h4 class="title">新聞焦點</h4>
                </div>
                <div class="content has-scroll">
                    <perfect-scrollbar class="news-list" suppress-scroll-x="true">
                        <div class="news-item" ng-repeat="item in newsList">
                            <a ng-href="item.link">
                                <div class="thumbnail" ng-style="{'background-image': 'url(' + item.thumbnail + ')'}"></div>
                            </a>
                            <div class="info">
                                <a ng-href="item.link">
                                    <h5 class="title">{{item.title}}</h5>
                                </a>
                                <p class="descript">{{item.descript}}</p>
                                <p class="meta">{{item.meta}}</p>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">簽證辦理方式</h4>
                </div>
                <div class="content visa">
                    <div class="thumbnail" style="background-image: url('./public/images/road.png')"></div>
                    <div class="info">
                        <p class="descript">簽證在意義上為一國之入境許可。依國際法一般原則，國家並無准許外國人入境之義務。目前國際社會中鮮有國家對外國人之入境毫無限制。各國為對來訪之外國人能先行審核過濾，確保入境者皆屬善意以及外國人所持證照真實有效且不致成為當地社會之負擔，乃有簽證制度之實施。</p>
                        <button class="button">查看如何辦理簽證</button>
                    </div>
                </div>
            </div>
        </div><div class="right-col">
            <div class="card">
                <div class="header">
                    <h4 class="title">即時匯率</h4>
                    <div class="tool-bar">
                        <span>單位：</span>
                        <md-select ng-model="currentExchangeRate">
                            <md-option ng-repeat="item in exchangeRateList" ng-value="item.id">{{item.name}}</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="content">
                    <div class="exchange-rate-list">
                        <div class="exchange-rate-item">
                            <div class="thumbnail" style="background-image: url('./public/images/taiwan.jpg')"></div>
                            <span class="title">台幣</span>
                            <span class="number">1</span>
                        </div>
                        <div class="exchange-rate-item">
                            <div class="thumbnail" style="background-image: url('./public/images/china.jpg')"></div>
                            <span class="title">人民幣</span>
                            <span class="number">0.19573</span>
                        </div>
                        <div class="exchange-rate-item">
                            <div class="thumbnail" style="background-image: url('./public/images/japan.jpg')"></div>
                            <span class="title">日圓</span>
                            <span class="number">3.80084</span>
                        </div>
                        <div class="exchange-rate-item">
                            <div class="thumbnail" style="background-image: url('./public/images/korea.jpg')"></div>
                            <span class="title">韓圓</span>
                            <span class="number">33.01420</span>
                        </div>
                        <div class="exchange-rate-item">
                            <div class="thumbnail" style="background-image: url('./public/images/us.jpg')"></div>
                            <span class="title">美元</span>
                            <span class="number">0.03141</span>
                        </div>
                    </div>
                    <p class="source">資訊來源自 <a class="link" href="#">台灣氣象局</a></p>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">即時天氣資訊</h4>
                    <div class="tool-bar">
                        <span class="field-name">氣溫</span>
                        <span class="field-name">降雨機率</span>
                    </div>
                </div>
                <div class="content">
                    <div class="weather-list">
                        <div class="weather-item">
                            <span class="title">台北</span>
                            <div class="field-list">
                                <div class="field-content">27℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Sunny"></i>
                                    <span>10%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">新北</span>
                            <div class="field-list">
                                <div class="field-content">29℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Cloudy"></i>
                                    <span>30%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">基隆</span>
                            <div class="field-list">
                                <div class="field-content">28℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Rain"></i>
                                    <span>70%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">桃園</span>
                            <div class="field-list">
                                <div class="field-content">27℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Windy"></i>
                                    <span>40%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">新竹</span>
                            <div class="field-list">
                                <div class="field-content">27℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Windy"></i>
                                    <span>40%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">苗栗</span>
                            <div class="field-list">
                                <div class="field-content">27℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Rain"></i>
                                    <span>70%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">彰化</span>
                            <div class="field-list">
                                <div class="field-content">30℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Sunny"></i>
                                    <span>10%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">台中</span>
                            <div class="field-list">
                                <div class="field-content">30℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Sunny"></i>
                                    <span>10%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">雲林</span>
                            <div class="field-list">
                                <div class="field-content">31℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Sunny"></i>
                                    <span>10%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">台南</span>
                            <div class="field-list">
                                <div class="field-content">31℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Sunny"></i>
                                    <span>10%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">高雄</span>
                            <div class="field-list">
                                <div class="field-content">32℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Sunny"></i>
                                    <span>10%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">宜蘭</span>
                            <div class="field-list">
                                <div class="field-content">24℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Cloudy"></i>
                                    <span>30%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">花蓮</span>
                            <div class="field-list">
                                <div class="field-content">23℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Cloudy"></i>
                                    <span>30%</span>
                                </div>
                            </div>
                        </div>
                        <div class="weather-item">
                            <span class="title">台東</span>
                            <div class="field-list">
                                <div class="field-content">22℃</div>
                                <div class="field-content">
                                    <i class="icon icon-Cloudy"></i>
                                    <span>30%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="source">資訊來源自 <a class="link" href="#">台灣氣象局</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="status">
        <div class="loading">
            <div class="throbber throbber_large"></div>
            <span>載入中</span>
        </div>
    </div> -->
</div>
