<div class="trips-page content gray" ng-class="{'map-mode': layout=='Map'}" style="min-width: 1280px;">
	<section class="filters" >
		<div class="section-wrap">
			<div class="mainsearch-wrap">
				<div class="search" style="margin: 0 auto;">
					<md-autocomplete md-no-cache="true" md-selected-item="selectedItem" md-search-text-change="searchTextChange(setting.keyword)" md-search-text="setting.keyword" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(setting.keyword)" md-item-text="item.display" md-min-length="0" placeholder="搜尋景點、美食、住宿等" auto-focus="SEACH_GLOBAL" style="text-align: left;" class="ng-isolate-scope">
						<md-autocomplete-wrap role="listbox">
							<input type="text" ng-disabled="isDisabled" ng-model="searchText" ng-keydown="$mdAutocompleteCtrl.keydown($event)" ng-blur="$mdAutocompleteCtrl.blur()" placeholder="搜尋景點、美食、住宿等" aria-label="搜尋景點、美食、住宿等" aria-autocomplete="list" aria-haspopup="true" aria-activedescendant="" aria-expanded="false" class="ng-pristine ng-valid ng-touched" aria-owns="ul_00F" tabindex="0" aria-invalid="false" style="">          <!-- ngIf: searchText -->          <!-- ngIf: $mdAutocompleteCtrl.loading -->
						</md-autocomplete-wrap>
						<ul role="presentation" ng-mouseenter="$mdAutocompleteCtrl.listEnter()" ng-mouseleave="$mdAutocompleteCtrl.listLeave()" ng-mouseup="$mdAutocompleteCtrl.mouseUp()" id="ul_00F">          <!-- ngRepeat: (index, item) in $mdAutocompleteCtrl.matches -->
						</ul>
						
						<aria-status class="visually-hidden" role="status" aria-live="assertive">          <!-- ngRepeat: message in $mdAutocompleteCtrl.messages -->
						</aria-status>
					</md-autocomplete>						
					<button class="gobtn">搜尋</button>	
				</div>
			</div>
		</div>
		
	      
	        <div class="section-wrap" style="padding-top: 0px;">
	
	            <div class="searchtab">
	               <div class="ptag"  ng-class="{'select': item == menuItems[0]}" ng-repeat='item in menuItems' ng-click="setMenu($event,item)">{{ item }}</div>
	            </div>
	            <div class="filter-type">
	                <div class="type-name">類別</div>
	               
	                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.areas}">
	                    <div class="type-btn" ng-class="{'active': item == searchItem[0]}" ng-repeat='item in searchItem' ng-click="setSearch($event,item)">{{ item }}</div>
	                 
	                </div>
	            </div>
	        </div>
	       
	</section>

    <!-- 顯示方式切換 -->
    
    <!-- 格壯列表 -->
    <section>
		<div class="section-wrap list-content">
			<div class="error-msg">
				<p class="message">哎呀！沒有找到與「<span class="highlight">女巫點</span>」相關的景點，也許你可能會喜歡我們找到的其他內容：</p>
			</div>

            <!-- Grid 模式 -->
            <div ng-show="layout=='Grid'" class="spots" layout="row" layout-wrap>
				<div class="spot-wrap" flex="25" flex-md="50" flex-sm="100" ng-repeat="spot in spots">
					<div class="spot">
						<div ng-show="!spot.isCollect" class="collect-btn" ng-click="toggleCollect(spot)"><i class="icon-Plus"></i> 收藏</div>
						
						<div ng-show="spot.isCollect" class="collect-btn active" ng-click="toggleCollect(spot)"><i class="icon-Check"></i> 已收藏</div>
                        <a href="#/spots/poi">
							<div class="thumbnail" style="background-image: url(../public/images/spots/spot-{{$index%8+1}}.jpg)">
								<div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
								
								<div class="recommend">{{spot.collectCount}}人收藏</div>
							</div>
							
							<div class="tags">
								<div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}">{{spot.location}}</div>
							</div>
							
							<div class="info">
								<h4 class="title">{{spot.title}}</h4>
								
								<div class="summary"><span class="price" ng-if="spot.price!=0">門票 {{spot.price}}元</span>
	                                <span class="price" ng-if="spot.price==0">免門票</span>
	                                <span class="types"> / {{getTypes(spot)}}</span></div>
								
								<p class="descript">{{spot.descript}}</p>
							</div>
					</a></div>
				</div>
			</div>

            <!-- List 模式 -->
            <div ng-show="layout=='List'" class="spot-list" layout="row" layout-wrap>
				<div class="spot-wrap" flex="50" flex-md="50" flex-sm="100" ng-repeat="spot in spots">
					<div class="spot">
						<div ng-show="!spot.isCollect" class="collect-btn" ng-click="toggleCollect(spot)"><i class="icon-Plus"></i> 收藏</div>
						
						<div ng-show="spot.isCollect" class="collect-btn active" ng-click="toggleCollect(spot)"><i class="icon-Check"></i> 已收藏</div>
                        <a href="#/spots/poi">
							<div class="thumbnail" style="background-image: url(../public/images/spots/spot-{{$index%8+1}}.jpg)">
								<div class="tags">
									<div class="tag" ng-class="{'purple':$index%5==1,'green':$index%5==2,'blue':$index%5==3, 'orange':$index%5==0}">{{spot.location}}</div>
								</div>
							</div>
						</a>
						
						<div class="info"><a href="#/spots/poi">
							<h4 class="title">{{spot.title}}</h4>
							</a>
							
							<div class="summary"><span class="price" ng-if="spot.price!=0">門票 {{spot.price}}元</span>
                                <span class="price" ng-if="spot.price==0">免門票</span>
                                <span class="types"> / {{getTypes(spot)}}</span></div>
							
							<p class="descript">{{spot.descript}}</p>
							
							<div class="metas">
								<div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
								
								<div class="recommend">{{spot.collectCount}}人收藏</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- 分頁 -->
    <section>
		<div class="section-wrap no-top-padding">
			<div class="pagination">
				<ul class="page-numbers">
					<li><a href="" class="prev">上一頁</a></li>
					<li><a href="">1</a></li>
					<li><a href="" class="current" >2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">...</a></li>
					<li><a href="">5</a></li>
					<li><a href="" class="next">下一頁</a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<div class="status">
		<div class="loading">
			<div class="throbber throbber_large"></div>
            <span>載入中</span></div>
	</div>
</div>
