<div class="set-trip-page" id="step2">

    <!-- Header -->
    <div class="header-container">
        <header>
            <div class="logo-area">
                <a href="/#/" class="logo ng-isolate-scope" piwik-log="" event-type="ClickIndexMark">
                    <img src="../public/images/logo.svg" style="width: 140px;" alt=""></a> 
                    <span class="title">排行程<span class="title-tip">{{godate}} <img src="../public/images/dash.svg"> {{backdate}} </span></span>
                </div>
                <div class="right-nav"><button>直接找景點</button></div>
                <h1> 步驟二：參考推薦的行程</h1>
        </header>
        <div class="brand-crumb">
        <div class="brand-con">
          <div class="location">
              出發地：台北 / 3日行程 <div class="selectCon"  ><button class="trip-tag select" ng-repeat='item in zoneitems' ng-if="$index < 4">{{ item }}</button><button  class="trip-tag select" ng-if="zoneitems.length>4">　...　</button><button class="location-change">變更</button></div>

          </div>
          <div class="search-wrap">
                    <div class="search">
                        <md-autocomplete  md-no-cache="true" md-selected-item="selectedItem" md-search-text-change="searchTextChange(setting.keyword)" md-search-text="setting.keyword" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(setting.keyword)" md-item-text="item.display" md-min-length="0" placeholder="搜尋與景點有關的行程"  auto-focus="SEACH_GLOBAL">
                            <md-item-template>
                                <span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <button id="btn-search"></button>
                    </div>
                </div>
           
        </div>
        </div>
     </div>
     <div class="zone-con">
         <div class="zone-area">
         <div class="zone">
             <span  ng-repeat='item in zoneitems' ng-if="$index < 4">{{ item }}</span><span  ng-if="zoneitems.length>4">　...　</span>

         </div>
             
         </div>

     </div>
   
    <div class="content-container">





    </div>

</div>