<div class="official-events-page content gray">
	<section>
		<div class="section-wrap breadcrumb-wrap">
	    <a href="#" class="breadcrumb">首頁</a>
	    <i class="icon-Forward"></i>
	    <a href="#" class="breadcrumb current">Smart Tourism Taiwan X 食我</a>
		</div>
	</section>
	<section>
		<div class="section-wrap no-top-padding">
			<div class="event-wrap">
				<div class="banner">
					<img src="../public/images/events/1.jpg">
				</div>
				<article class="event">
					<h1 class="title">Smart Tourism Taiwan X 食我</h1>
					<section class="info-block">
						<h2 class="title">活動獎勵</h2>
						<p class="descript">下載 Smart Tourism Taiwan 台灣智慧觀光 APP 並完成註冊、登入，馬上獲得食我鑰匙10把序號乙組！</p>
					</section>
					<section class="info-block">
						<h2 class="title">參加對象</h2>
						<p class="descript">凡是 Smart Tourism Taiwan 台灣智慧觀光會員，不管是新加入、舊會員，持有 Android 或 Apple 用戶都可以參加！</p>
					</section>
					<section class="info-block">
						<h2 class="title">活動步驟</h2>
						<div class="descript">
							<p>第一步、下載 Smart Tourism Taiwan 台灣智慧觀光 APP。</p>
							<p>第二步、在 Smart Tourism Taiwan 台灣智慧觀光的網站或 APP 上輕鬆註冊成為會員 (以FB帳號登入也可以喔)。</p>
							<p>第三步、在 Smart Tourism Taiwan 台灣智慧觀光 APP 完成登入動作，即可獲得食我鑰匙10把序號乙組。</p>
						</div>
					</section>
					<section class="info-block">
						<h2 class="title">食我鑰匙是什麼？怎麼用？</h2>
						<p class="descript">「食我」是全台最大餐廳優惠服務，可使用食我鑰匙換取豐富的餐廳優惠。當您完成任務獲得序號後，在食我 APP 輸入專屬序號，即可獲得10把食我鑰匙。</p>
					</section>
					<section class="info-block">
						<h2 class="title">注意事項</h2>
						<p class="descript">每人限索取一份食我鑰匙序號，本活動限量發送，動作要快，以免向隅喔。</p>
					</section>
					<section class="info-block">
						<h2 class="title">聯絡我們</h2>
						<div class="descript">
							<p>主辦單位：財團法人資訊工業策進會 數據科技與應用研究所、食我餐飲顧問股份有限公司</p>
							<p>連絡信箱：vztaiwan@iii.org.tw</p>
						</div>
					</section>
				</article>
				<button class="button largest blue">查看食我餐廳有哪些</button>
			</div>
		</div>
	</section>
</div>
