<div class="create-trip-page content">

    <!-- Header -->
    <div class="header-container">
        <div class="header-block align-left">
            <button class="button"><i class="icon icon-Prev"></i>返回</button>
            <div class="status-bar">
                <i class="icon icon-Check-2"></i>
                <span class="message">於幾秒鐘前自動儲存</span>
            </div>
        </div>
        <div class="header-block align-center">
            <div class="header-wrap">
                <div class="title-block">
                    <h1 class="title" editable-text="tripData.title" edit-mode="tripData.isEditing"></h1>
                    <p class="sub-title" editable-text="tripData.desc" edit-mode="tripData.isEditing"></p>
                </div>
                <span class="edit" ng-click="toggleEditMode(tripData)"><i class="icon icon-Edit-2"></i></span>
            </div>
        </div>
        <div class="header-block align-right">
            <div class="tools-bar">
                <div class="tool">
                    <i class="icon icon-Copy"></i>
                    <span class="tool-name">複製行程</span>
                </div>
                <div class="tool">
                    <i class="icon icon-Eye"></i>
                    <span class="tool-name">預覽行程</span>
                </div>
                <div class="tool">
                    <i class="icon icon-PDF"></i>
                    <span class="tool-name">下載行程</span>
                </div>
                <div class="tool-splitter"></div>
                <div class="tool">
                    <md-switch md-no-ink ng-model="isPublic" aria-label="Switch"></md-switch>
                    <span class="tool-name">已公開</span>
                </div>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="content" layout="row" layout-wrap>
        <div class="target-container" flex="50" flex-md="50" flex-sm="100">
            <perfect-scrollbar class="trip-list-wrap" suppress-scroll-x="true">
                <div class="trip-list">
                    <div class="sortable-container" ng-sortable="tripConfig">
                        <div class="trip" ng-repeat="trip in trips" ng-class="{'active':trip.$$hashKey==currentTrip.$$hashKey}" ng-click="switchTrip(trip, $index)">
                            <div class="spot-zone" ng-sortable="tripSpotConfig" ng-show="isSpotDragging">
                                <div class="spot-wrap" ng-repeat="spot in trip.spots track by $index"></div>
                            </div>
                            <div class="drag-point">
                                <i class="icon icon-Drag"></i>
                            </div>
                            <div class="info">
                                <h2 class="title">第 {{$index+1}} 天 - 
                                    <span editable-text="trip.places" edit-mode="trip.isEditing"></span>
                                </h2>
                                <p class="meta">
                                    <span>{{trip.date}}</span> / 
                                    <span ng-if="trip.spots.length>0">遊歷 {{trip.spots.length}} 個景點</span>
                                    <span ng-if="trip.spots.length==0">尚無安排</span>
                                </p>
                            </div>
                            <div class="tools">
                                <div class="tool hint hint--left" data-hint="編輯" ng-click="toggleEditMode(trip)">
                                    <i class="icon icon-Edit-2"></i>
                                </div>
                                <div class="tool hint hint--left" data-hint="刪除" ng-click="removeTrip($index)">
                                    <i class="icon icon-Trash-3"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-trip" ng-click="createTrip()">
                        <div class="icon-wrap">
                            <i class="icon icon-Plus"></i>
                        </div>
                        <span>添加一天行程</span>
                    </div>
                    <div class="tooltip">
                        <span>小提示：拖曳可以調整行程順序</span>
                    </div>
                </div>
            </perfect-scrollbar>

            <div class="trip-detail">
                <div class="header">
                    <h2 class="title">第 {{currentDay}} 天目的地</h2>
                    <div class="tools">
                        <button class="button small tool" ng-click="createSpot($event)">
                            <i class="icon icon-Plus"></i>
                            <span>自訂景點</span>
                        </button>
                        <button class="button small tool" ng-click="optimizePath($event)">
                            <i class="icon icon-Order"></i>
                            <span>優化排序</span>
                        </button>
                    </div>
                    <div class="clear"></div>
                </div>
                <perfect-scrollbar class="spot-list-wrap" suppress-scroll-x="true">
                    <div class="spot-list" ng-repeat="trip in trips" ng-show="trip == currentTrip">
                        <div class="dashed-line"></div>
                        <div class="sortable-container" ng-sortable="targetSpotConfig">
                            <div class="spot-wrap" ng-repeat="spot in trip.spots">
                                <div class="distance" ng-if="$index > 0">
                                    <i class="icon icon-Car"></i>
                                    <span>兩地距離：2 km </span>
                                    <i class="icon icon-Clock"></i>
                                    <span>24 分鐘</span>
                                </div>
                                <div class="spot">
                                    <a>
                                        <div class="thumbnail" ng-style="{'background-image': 'url(' + spot.thumbnail + ')'}">
                                        </div>
                                    </a>
                                    <div class="info">
                                        <a>    
                                            <h4 class="title">{{spot.title}}</h4>
                                        </a>
                                        <p class="descript">{{spot.descript}}</p>
                                        <div class="metas">
                                            <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                            <div class="recommend">
                                                <span>{{spot.commentCount}} 人評論 </span>
                                                <span>{{spot.collectCount}} 人收藏</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tools">
                                        <div class="tool hint hint--left" data-hint="編輯" ng-click="editSpot(spot, $event)">
                                            <i class="icon icon-Edit-2"></i>
                                        </div>
                                        <div class="tool hint hint--left" data-hint="刪除" ng-click="removeSpot($index)">
                                            <i class="icon icon-Trash-3"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>

        <div class="source-container" flex="50" flex-md="50" flex-sm="100">
            <div class="header">
                <h2 class="title">推薦目的地</h2>
                <div class="menu-bar">
                    <md-select ng-model="currentCounty">
                        <md-option ng-repeat="county in countyList" ng-value="county.id">{{county.name}}</md-option>
                    </md-select>
                    <div class="splitter"></div>
                    <div class="tabs">
                        <a class="tab" ng-repeat="tab in srcTabs" ng-class="{'active':tab.id==currentSrcTab.id}" ng-click="switchSrcTab(tab)">{{tab.name}}</a>
                    </div>
                    <div class="splitter"></div>
                    <div class="layouts">
                        <a class="layout" ng-class="{'active':layout=='List'}" ng-click="switchLayout('List')"><i class="icon icon-Menu-2"></i></a>
                        <a class="layout" ng-class="{'active':layout=='Map'}" ng-click="switchLayout('Map')"><i class="icon icon-Location-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="content" ng-show="layout=='List'">
                <div class="filter-bar">
                    <div class="types" ng-hide="currentSrcTab.id==2">
                        <a class="type" ng-repeat="type in types" ng-class="{'active':type.id==currentType.id}" ng-click="switchType(type)">{{type.name}}</a>
                    </div>
                    <div class="select-wrap" ng-show="currentSrcTab.id==2">
                        <label class="select-label">住宿類別</label>
                        <md-select ng-model="currentStayType">
                            <md-option ng-repeat="stayType in stayTypes" ng-value="stayType.id">{{stayType.name}}</md-option>
                        </md-select>
                    </div>
                    <div class="search-wrap">
                        <div class="search">
                            <i class="icon icon-Search"></i>
                            <md-autocomplete
                                md-selected-item="selectedItem"
                                md-search-text-change="searchTextChange(setting.keyword)"
                                md-search-text="setting.keyword"
                                md-selected-item-change="selectedItemChange(item)"
                                md-items="item in querySearch(setting.keyword)"
                                md-item-text="item.display"
                                md-min-length="0"
                                placeholder="搜尋目的地">
                              <md-item-template>
                                <span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
                              </md-item-template>
                              <!-- <md-not-found>
                                No matches found for "{{setting.keyword}}".
                              </md-not-found> -->
                            </md-autocomplete>
                        </div>
                    </div>
                </div>
                <perfect-scrollbar class="spot-list-wrap" suppress-scroll-x="true">
                    <div class="error-msg">
                    <p class="message">哎呀！沒有找到與「<span class="highlight">女巫點</span>」相關的景點，也許你可能會喜歡我們找到的其他內容：</p>
                    </div>
                    <div class="spot-list" ng-sortable="sourceSpotConfig">
                        <div class="spot-wrap" ng-repeat="spot in soptList">
                            <div class="spot" ng-class="{'checked':spot.checked}">
                                <a>
                                    <div class="thumbnail" ng-style="{'background-image': 'url(' + spot.thumbnail + ')'}">
                                    </div>
                                </a>
                                <div class="info">
                                    <a>    
                                        <h4 class="title">{{spot.title}}</h4>
                                    </a>
                                    <p class="descript">{{spot.descript}}</p>
                                    <div class="metas">
                                        <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                        <div class="recommend">
                                            <span>{{spot.collectCount}} 人收藏</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="check" ng-class="{'active':spot.checked}" ng-click="addSpot(spot)">
                                    <i class="icon-CirclePlus" ng-hide="spot.checked"></i>
                                    <i class="icon-CheckCircle" ng-show="spot.checked"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
            <div class="content" ng-show="layout=='Map'">
                <div class="map">i am map
                    <div class="spot-wrap" ng-repeat="spot in soptList.slice(0, 3) track by $index" ng-style="{'position':'absolute', 'top':(100*$index)+'px', 'left':(50*$index)+'px'}">
                        <div class="spot">
                            <a>
                                <div class="thumbnail" ng-style="{'background-image': 'url(' + spot.thumbnail + ')'}">
                                </div>
                            </a>
                            <div class="info">
                                <a>    
                                    <h4 class="title">{{spot.title}}</h4>
                                </a>
                                <div class="metas">
                                    <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
                                    <div class="recommend">
                                        <span>{{spot.collectCount}} 人收藏</span>
                                    </div>
                                </div>
                                <button class="button small blue" ng-click="addSpot(spot)" ng-disabled="spot.checked">添加到行程</button>
                            </div>
                            <div class="close">
                                <i class="icon icon-Close"></i>
                            </div>
                        </div>
                    </div>
                    <div class="tab-bar">
                        <div class="tab" ng-class="{'active':currentMapTab=='day'}" ng-click="currentMapTab='day'">當日地圖</div><div class="tab" ng-class="{'active':currentMapTab=='trip'}" ng-click="currentMapTab='trip'">全日行程地圖</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="status">
        <div class="loading">
            <div class="throbber throbber_large"></div>
            <span>載入中</span>
        </div>
    </div> -->
</div>
