<div class="content-col">
	<div class="article service">
		<h1 class="title">服務條款</h1>
		<p class="descript">歡迎來到台灣智慧觀光網站 www.vztaiwan.com，請仔細閱讀「服務條款與個資收集聲明」，以下「服務條款與個資收集聲明」規範您對下列網站的使用方式。</p>
		<h2>網站服務條款</h2>
		<p class="descript">在「服務條款與個資收集聲明」中，「我們」和「我們的」都指Smart Tourism Taiwan台灣智慧觀光平台，所有者為財團法人資訊工業策進會前瞻科技研究所。</p>
		<p class="descript">「服務條款與個資收集聲明」可能會被不定期修改，請定時查看，修訂後的條款將自發布之時起生效。下載台灣智慧觀光(Smart Tourism Taiwan)行動應用或是註冊會員成功代表使用者已授權同意以下的文字和條款。請注意本網站僅允許個人以非商業目的使用，而不得用作任何商業用途。</p>
		<p class="descript">本網站上所有網站內容歸資訊工業策進會前瞻科技研究所版權所有，或由本網站的註冊用戶及其他授權人授權於我們。「內容」系指任何使用者在網站上或經由網站可能看到、閱讀、收聽、上傳、下載或接觸之任何事物(包括但不限於網站上的訊息、檔案、數據、軟件、圖像、美工圖案、圖片、設計、照片、插圖、文字、音樂、歌曲、視訊影片、標記和其他素材或題材)。未經許可不得複製或使用我們的網站的任何內容。除非明確聲明，否則您在網站上做出的或與網站相關的任何行爲都不會向使用者轉讓任何智慧財產權，或向您授予任何智財權的許可。</p>
		<p class="descript">使用者將本網站上刊載的內容與服務用於商業、盈利、廣告性目的時，需取得資策會的書面特別授權，注明作者及文章出處並按有關規定支付相應費用。未經資策會的明確書面特別授權，任何人不得為任何目的使用以及向任何自然人或單位提供、披露、複印、複製、出售、出讓、許可、行銷、出版、宣講、轉讓、處置或利用本網站上提供的任何內容或服務，或在非資策會所屬的伺服器上作複製盜用，否則資策會將依據相關法律法規追究經濟賠償和其它侵權法律責任。</p>
		<p class="descript">在台灣智慧觀光網站，使用者所分享的任何內容都應該是屬於使用者自己的原創。在發佈資訊的同時，使用者將授權我們在全球範圍內傳播編輯或以其他方式使用使用者的內容，這些內容包括使用者通過本網站提交的任何回饋資訊，我們有權在本網站以及我們的其他產品上使用使用者發佈的內容，我們也有權再授權給他人使用該內容。</p>
		<p class="descript">使用者必須確保自己的內容不侵犯任何中華民國法律或網路管理條例。資策會擁有在本網站刪除使用者的內容或帳戶的權利。嚴重違反者，資策會將會向執法機構舉報：使用者在本網站上發布的任何內容及其準確性，我們概不負責。 您對本網站所發布內容的任何法律傳喚、指控、訴訟等，以及因此導致的一切損失、賠償和費用，台灣智慧觀光網站將不負擔法律責任，一切後果均應由您自行承擔風險。</p>
		<p class="descript">台灣智慧觀光努力保持本網站內容不斷更新。 但是，台灣智慧觀光並不保證內容的準確性或適時性。本網站的內容隨時都可能變更。網站的某些內容，包括文章、贊助商與推廣活動在內，為付費廣告。</p>
		<p class="descript">如果使用者認為張貼到網站上的內容具有冒犯性、不妥適或在某些方面違反這些條款與條件，請與台灣智慧觀光聯絡(vztaiwan@iii.org.tw)，並且附上相關內容連結，以及檢舉該內容的理由。 我們會閱讀每一條的來函，會參考您的反對理由，並自行酌情決定此內容是否應被移除，我們將竭盡所能來幫助使用者，並把使用者的回饋提供給正確的人。</p>
		<p class="descript">台灣智慧觀光並未檢閱連結至網站的所有網站、下載項目、外掛程式、功能或廣告，並不為此類離站素材之內容或準確性負責，這包括任何經由廣告或搜尋引擎(合稱為「第三方素材」)連結至本網站的任何網站。 本網站上出現的任何「第三方素材」連結，不表示我們為連結的素材背書，使用者若使用此類連結，需自行承擔風險。 對於由於您使用這些連結或其提供的說明或信息而產生的任何類型的任何索賠、損失、費用、開支或賠償費用(包括法律費用)，台灣智慧觀光不承擔任何責任或義務。</p>
		<p class="descript">在您使用台灣智慧觀光平台(網站及行動應用)期間，台灣智慧觀光可能向您的裝置發出或索取被稱為「cookie」的資料。 我們使用 cookie 以使網站更有效運作，並取得您在本網站上的活動信息。我們的 cookie 將不會允許我們取得屬於個人性質並可辨識您身分的信息。 只有您向我們提供此類信息或您瀏覽器的偏好設定為自動提供此類信息時，我們才會了解此類信息。我們於本網站所使用之 cookie 的詳情如下：(1) 為了讓您順利瀏覽網站並使用其功能所必需的 cookie；(2) 收集訪客對網站使用方式之信息(例如訪客最常造訪的網頁)的 cookie。 這些 cookie 收集的所有信息都是彙整的資料，因此是匿名的，這些資料僅用於改善網站的運作方式。而使用本網站，即表示您同意我們可以將這些類型的 cookie 放置於您的裝置上。您的網路瀏覽器可能允許您透過瀏覽器設定對大部分的 cookie 進行某些控制。請注意，您可以刪除或封鎖本網站使用的所有 cookie，但這麼做可能導致網站的某些部分無法正常運作。</p>
		<p class="descript">互聯網上的任何數據傳輸都不能被保證是完全安全的。儘管台灣智慧觀光努力保護這些資料，我們並不擔保也無法確保您傳送給我們的任何資料的安全。 因此，您傳送給我們的任何資料都是在您自行承擔風險的情況下傳送的。但是，一旦我們收到您的傳送信息，我們將採取合理的措施來保護這些資料的安全。</p>
		<p class="descript">中華民國103年7月21日會員專用電子版</p>
		<br>
		<br>
		<br>
		<h2>財團法人資訊工業策進會蒐集個人資料聲明</h2>
		<br>
		<p class="descript">財團法人資訊工業策進會，因提供台灣智慧觀光(Smart Tourism Taiwan)www.vztaiwan.com 會員服務，向您蒐集個人資料，依個人資料保護法令及本會個人資料保護政策、規章，於蒐集個人資料前，向您告知下列事項，敬請詳閱。</p>
		<p class="descript">蒐集目的： (1)提供前述會員服務及本會內部行政管理之用或利用於其他合於本會捐助章程所定之業務。(2)寄送本會前瞻所或產業相關之活動訊息。您日後如不願再收到本會前瞻所寄送之行銷訊息，可於收到前述訊息時，直接點選訊息內拒絕接受之連結。</p>
		<p class="descript">個人資料類別： (1) 辨識個人者: 如姓名、職業、聯絡方式、居住地等。(2)辨識財務者: 如月收入範疇、金融機構帳戶之號碼與姓名、信用卡或簽帳卡之號碼等。(3)個人描述: 如年齡、性別、國籍、婚姻狀態等。(5)教育、技術或其他專業: 如學歷資格、職業類別等。</p>
		<p class="descript">個人資料利用之期間、地區、對象及方式：除涉及國際業務或活動外，您的個人資料僅供本會於中華民國領域、在前述蒐集目的之必要範圍內，以合理方式利用至蒐集目的消失為止。</p>
		<p class="descript">當事人權利： 您可依會員條款所定規則，傳送電子郵件到vztaiwan@iii.org.tw行使查詢或請求閱覽、製給複製本、補充或更正、停止蒐集/處理/利用或刪除您的個人資料之權利。</p>
		<p class="descript">不提供個人資料之權益影響： 若您不提供個人資料，本會與本網站將無法為您提供蒐集目的之相關服務。</p>
	</div>
</div>
<div class="clear"></div>
