<header data-ui-view="header"></header>
<div class="container" data-ui-view="section">
	<div class="user-page">
		<div class="main-container">
			<div class="menu-block">
				<div class="menu-list box-shadow">
					<a class="menu" ng-class="{'active': $state.includes('about.home')}" href="#/about">
						<span class="name">關於智慧觀光</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('about.privacy')}" href="#/about/privacy">
						<span class="name">隱私權聲明</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('about.information')}" href="#/about/information">
						<span class="name">網站資訊使用聲明</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('about.protection')}" href="#/about/protection">
						<span class="name">個人資料保護專頁</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('about.service')}" href="#/about/service">
						<span class="name">服務條款</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('about.announcement')}" href="#/about/announcement">
						<span class="name">服務公告</span>
					</a>
				</div>
			</div>
			<div class="content-block" data-ui-view="aboutContainer">
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<footer data-ui-view="footer"></footer>
