<footer>
  <div class="footer-wrap" layout="row" layout-wrap>
    <section class="about" flex="25" flex-sm="100" flex-md="50">
      <md-select ng-model="singleSelect" placeholder="繁體中文">
        <md-option value="0">繁體中文</md-option>
        <md-option value="1">简体中文</md-option>
        <md-option value="2">日本語</md-option>
        <md-option value="3">English</md-option>
      </md-select>
      <p class="fbtitle">Facebook 粉絲團</p>
      <div class="social-links">
        <a href="">國際版</a>|<a href="">台灣版</a> | <a href="">日本版</a>
      </div>
      <div class="app-qrcode">
        <img src="../public/images/footerqrcode.svg" alt="">
      </div>
      <div class="app-download">
        <a class="app-store" href="">
                    <img src="../public/images/footerios.svg" alt="">
                </a>
        <a class="google-play" href="">
                    <img src="../public/images/footergoogle.svg" alt="">
                </a>
      </div>
    </section>
    <section class="partner" flex="25" flex-sm="100" flex-md="50">
      <h4 class="section-title">指導單位</h4>
      <a href="#"><img src="../public/images/svg/DOIT.svg" alt=""></a>
      <div class="space"></div>
      <h4 class="section-title">執行單位</h4>
      <a href="#"><img src="../public/images/svg/iii.svg" alt=""></a>
    </section>
    <section class="sitemap" flex="25" flex-sm="100" flex-md="50">
      <h4 class="section-title">合作夥伴</h4>
      <a href="https://asiayo.com/"><img src="../public/images/svg/Asiayo.svg" alt=""></a>
      <br>
      <br>
      <a href="https://www.rtaiwanr.com/"><img src="../public/images/svg/RTR.svg" alt=""></a>
      <br>
      <br>
      <a href="https://oudo.com/"><img src="../public/images/svg/oudocom.svg" alt=""></a>
      <br>
      <br>
      <a href="https://www.tripadvisor.com"><img src="../public/images/svg/tripadvisor.svg" alt=""></a>
    </section>
    <section class="contact" flex="25" flex-sm="100" flex-md="50">
      <h4 class="section-title">問題反饋與合作提案</h4>
      <p>若有任何合作提案或服務建議，請留下您的聯絡方式及相關資訊，我們會有專人與您聯繫！</p>
      <ul>
        <li><a href="#">電子郵件：vztaiwan@iii.org.tw</a></li>
        <li class="roundbtn"><a href="#">申請成為合作商家</a></li>
      </ul>
    </section>
    <div class="smenu" flex="100"><a href="/#/about">關於我們</a><a href="/#/about/service">服務條款</a><a href="/#/about/privacy">隱私權聲明</a><a href="/#/about/information">網站資訊使用聲明</a><a href="/#/about/protection">個人資料保護專頁</a><a href="/#/brand/">品牌店家</a><a href="">提供私房景點</a>
    </div>
    <div class="copyright" flex="100">© 2016 財團法人資訊工業策進會 </div>
  </div>
</footer>
<div class="app-download-wrap">
  <div class="small-logo">
    <img src="../public/images/small_logo.png" alt="">
  </div>
  <div class="info">
    <h4 class="title">台灣智慧觀光 App</h4>
    <p class="descript">三分鐘規劃下一趟旅程</p>
  </div>
  <button class="button">下載</button>
</div>
