<!-- <h1>This is HEADER</h1> -->
<header>
    <!-- 第1列子選單(桌面版) 開始 -->
  <!--   <div class="sub-header">
        <div class="sub-header-wrap">
            <nav>
                <ul>
                    <li ng-class="{'active': $state.includes('common.taiwanInfo')}"><a href="#/taiwanInfo">台灣大小事</a></li>
                    <li>
                        <a class="link" href="javascript:void(0);" ng-click="problemReport($event)">問題回報</a>
                    </li>
                    <li>
                        <div class="link notification" ng-click="showNotification=!showNotification">通知
                            <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showNotification"></md-backdrop>
                            <div class="poi-dropdown-menu notification-dropdown-menu align-center" ng-class="{'open': showNotification}">
                                <perfect-scrollbar class="scroll-container">
                                    <div class="menu-item notification-item">
                                        <a href="#">
                                            <div class="thumbnail" style="background-image: url('./public/images/avatars/1.jpg')"></div>
                                        </a>
                                        <div class="info">
                                            <p class="descript"><a href="#">艾美麗</a> 正在追蹤你。</p>
                                            <span class="date">1小時前</span>
                                        </div>
                                    </div>
                                    <div class="menu-item notification-item">
                                        <a href="#">
                                            <div class="thumbnail" style="background-image: url('./public/images/avatars/2.jpg')"></div>
                                        </a>
                                        <div class="info">
                                            <p class="descript">你提供的<a href="#">景點勘誤</a>已經被審核，感謝您提供寶貴的資訊。</p>
                                            <span class="date">1小時前</span>
                                        </div>
                                    </div>
                                    <div class="menu-item notification-item">
                                        <a href="#">
                                            <div class="thumbnail" style="background-image: url('../public/images/ship.svg')"></div>
                                        </a>
                                        <div class="info">
                                            <p class="descript">恭喜你達成成就，獲得海島之子勳章。</p>
                                            <span class="date">1小時前</span>
                                        </div>
                                    </div>
                                    <div class="menu-item notification-item">
                                        <a href="#">
                                            <div class="thumbnail" style="background-image: url('./public/images/avatars/3.jpg')"></div>
                                        </a>
                                        <div class="info">
                                            <p class="descript"><a href="#">賀少俠</a> 正在追蹤你。</p>
                                            <span class="date">8小時前</span>
                                        </div>
                                    </div>
                                    <div class="menu-item notification-item" ng-repeat="i in '1,2,3,4,5,6,7,8,9'.split(',')">
                                        <a href="#">
                                            <div class="thumbnail" style="background-image: url('./public/images/avatars/2.jpg')"></div>
                                        </a>
                                        <div class="info">
                                            <p class="descript">你提供的<a href="#">景點勘誤</a>已經被審核，感謝您提供寶貴的資訊。</p>
                                            <span class="date">{{i}}天前</span>
                                        </div>
                                    </div>
                                    <div class="menu-item notification-item more"><a href="/#/user/notifications">顯示全部</a></div>
                                </perfect-scrollbar>
                            </div>
                        </div>
                        <div class="badge">3</div>
                    </li>
                    <li>
                        <a class="link" href="javascript:void(0);" signup>註冊</a>
                    </li>
                    <li>
                        <a class="link" href="javascript:void(0);" login>登入</a>
                    </li>
                    <li>
                        <div class="link" ng-click="showUserMenu=!showUserMenu">
                            <div class="thumbnail" style="background-image: url('./public/images/avatars/2.jpg')"></div>
                            奧革士 <i class="icon-ArrowDown"></i>
                            <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showUserMenu"></md-backdrop>
                            <div class="poi-dropdown-menu align-center" ng-class="{'open': showUserMenu}">
                                <a class="menu-item" href="/#/user">我的首頁</a>
                                <a class="menu-item" href="/#/user/collect">我的收藏</a>
                                <a class="menu-item" href="/#/user/trips">我的行程</a>
                                <a class="menu-item" href="/#/user/travelNotes">我的遊記</a>
                                <a class="menu-item" href="#">我的攻略</a>
                                <a class="menu-item" href="/#/user/footprints">我的足跡</a>
                                <a class="menu-item" href="/#/user/comments">我的評論</a>
                                <a class="menu-item" href="#">紅利兌換</a>
                                <a class="menu-item" href="#">登出</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#/shoppingCart">
                            <div class="link cart" ng-click="showCart=!showCart" ng-class="{'active':showCart}">購物車</div>
                            <div class="badge">6</div>
                        </a>
                    </li>
                    <li>
                        <div class="link" ng-click="showLan=!showLan">繁體中文 <i class="icon-ArrowDown"></i>
                            <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showLan"></md-backdrop>
                            <div class="poi-dropdown-menu small" ng-class="{'open': showLan}">
                                <div class="menu-item">繁體中文</div>
                                <div class="menu-item">简体中文</div>
                                <div class="menu-item">日本語</div>
                                <div class="menu-item">English</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div> -->
    <!-- 第1列子選單(桌面版) 結束 -->
    <!-- 第2列主選單 開始 -->
    <div class="header-wrap">
        <!-- 第2列主選單(商標區塊) 開始 -->
        <a href="/#/" class="logo">
            <img src="../public/images/logo.svg" alt="">
            <!-- <img class="small" src="../public/images/small_logo.png" alt=""> -->
        </a>
        <!-- 第2列主選單(商標區塊) 結束 -->
        <nav ng-class="{'show' : isShowMenu}">
            <!-- 第2列主選單(行動版頭像區塊) 開始 -->
            <div class="avatar-section" >
                <div ng-show="hasLogin">
                    <a href="#/user">
                        <div class="avatar" style="background-image: url(https://jibaofiles.s3.amazonaws.com/public/8e293b5dc5c9dc38a5928e07b445a5e9332393fc/55371254382aa.jpg)"></div>
                        <div class="user-name">奧革士</div>
                    </a>
                </div>
                <div ng-show="!hasLogin">
                    <div class="button small button-outline white" signup>馬上註冊</div>
                    <div class="button small button-outline white" login>登入</div>
                </div>
            </div>
            <!-- 第2列主選單(行動版頭像區塊) 結束 -->
            <!-- 第2列主選單(桌面版導覽列) 開始 -->
            <ul class="bigNav" >
                <li><a href="#/theme" ng-class="{'active': $state.includes('common.spots')||$state.includes('common.foods')||$state.includes('common.stays')||$state.includes('common.traffic')||$state.includes('common.events')||$state.includes('common.stores') }">目的地<i class="icon-ArrowDown"></i></a>    
                    <div class="sub" ng-class="{'showDiv':  $state.includes('common.spots')||$state.includes('common.foods')||$state.includes('common.stays')||$state.includes('common.traffic')||$state.includes('common.events')||$state.includes('common.stores') }" >
                        <div class="menuList">
                        <a class="menu-item" href="#/spots" ng-class="{'active': $state.includes('common.spots')}">景點</a>
                        <a class="menu-item" href="#/foods" ng-class="{'active': $state.includes('common.foods')}">美食</a>
                        <a class="menu-item" href="#/stays" ng-class="{'active': $state.includes('common.stays')}">住宿</a>
                        <a class="menu-item" href="#/traffic" ng-class="{'active': $state.includes('common.traffic')}">交通</a>
                        <a class="menu-item" href="#/events" ng-class="{'active': $state.includes('common.events')}">活動</a>
                          <a class="menu-item" href="#/stores" ng-class="{'active': $state.includes('common.stores')}">商店</a>
                        </div>
                    </div></li>

                    <li><a href="#/trips" ng-class="{'active': $state.includes('common.trips') || $state.includes('common.trips')}">行程</a>

                    </li>
                    <li><a href="#/travelNotes" ng-class="{'active': $state.includes('common.travelNotes')}">遊記</a></li>
                    <li><a href="#/souvenir" ng-class="{'active': $state.includes('common.souvenir')}">伴手禮</a></li>
                    <li><a href="#/purchases" ng-class="{'active': $state.includes('common.purchases')}">買行程</a></li>
                    <li><a href="#/taiwanInfo" ng-class="{'active': $state.includes('common.taiwanInfo')}">台灣大小事</a></li>


                </ul>
                <!-- 第2列主選單(桌面版導覽列) 結束 -->
                <!-- 第2列主選單(行動版導覽列) 開始 -->
               <!-- <ul class="smallNav" >
                    <li ng-class="{'active': $state.includes('common.spots')}">
                        <a href="#/spots">
                            <i class="icon-Roadsign"></i> 景點
                        </a>
                    </li>
                    <li ng-class="{'active': $state.includes('common.trips')}">
                        <a href="#/trips">
                            <i class="icon-Trips"></i> 行程
                        </a>
                    </li>
                    <li ng-class="{'active': $state.includes('common.foods')}">
                        <a href="#/foods">
                            <i class="icon-Bell"></i> 美食
                        </a>
                    </li>
                    <li ng-class="{'active': $state.includes('common.stays')}">
                        <a href="#/stays">
                            <i class="icon-Stay"></i> 住宿
                        </a>
                    </li>
                    <li>
                        <a href="#/events">
                            <i class="icon-Tag"></i> 活動
                        </a>
                    </li>
                    <li>
                        <a href="#/stores">
                            <i class="icon-Store"></i> 商店
                        </a>
                    </li>
                    <li>
                        <a href="#/travelNotes">
                            <i class="icon-Book"></i> 遊記
                        </a>
                    </li>
                    <li>
                        <a href="#/traffic">
                            <i class="icon-Traffic"></i> 交通
                        </a>
                    </li>
                    <li>
                        <a href="#/taiwanInfo">
                            <i class="icon-Taiwan"></i> 台灣大小事
                        </a>
                    </li>
                    <li>
                        <a href="#/souvenir">
                            <i class="icon-Souvenir"></i> 伴手禮
                        </a>
                    </li>
                    <li>
                        <a href="#/purchases">
                            <i class="icon-Purchases"></i> 速購
                        </a>
                    </li>
                    <li>
                        <a href="#/"><i class="icon-Roadsign"></i> 我的收藏</a>
                    </li>
                    <li>
                        <a href="#/"><i class="icon-Heart-2"></i> 購物車</a>
                        <div class="badge">6</div>
                    </li>
                    <li ng-click="logout()">
                        <a href="#/"><i class="icon-Share-3"></i>登出</a>
                    </li>
                    <li>
                        <a href="#/"><i class="icon-Translation"></i>目前語系
                            <select>
                              <option value="繁體中文">繁體中文</option>
                              <option value="简体中文">简体中文</option>
                              <option value="日本語">日本語</option>
                              <option value="English">English</option>
                          </select>
                      </a>
                  </li>
              </ul>-->
              <!-- 第2列主選單(行動版導覽列) 結束 -->
          </nav>
          <!--<div class="nav-overlay" ng-click="closeMenu()"></div>-->
          <!-- 第2列主選單(行動版搜尋列) 開始 -->
          <!--<div ng-class="{'show ' : isShowSearch}" class="global-search fixed" show-for-medium>
            <form>
                <!-- <input type="search" placeholder="搜尋" auto-focus="SEACH_GLOBAL"> --*>
                <div class="search-wrap">
                    <div class="search">
                        <md-autocomplete md-selected-item="selectedItem" md-search-text-change="searchTextChange(setting.keyword)" md-search-text="setting.keyword" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(setting.keyword)" md-item-text="item.display" md-min-length="0" placeholder="搜尋" auto-focus="SEACH_GLOBAL">
                            <md-item-template>
                              
                                <span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <!-- <md-not-found>
                            No matches found for "{{setting.keyword}}".
                        </md-not-found> --*>
                    </md-autocomplete>
                </div>
            </div>
        </form>
        <md-select placeholder="Pick" ng-model="currentSearchType">
            <md-option value="1">景點</md-option>
            <md-option value="2">行程</md-option>
            <md-option value="3">美食</md-option>
            <md-option value="4">住宿</md-option>
            <md-option value="5">活動</md-option>
            <md-option value="6">商店</md-option>
            <md-option value="7">台灣</md-option>
            <md-option value="8">速購</md-option>
        </md-select>
        <div class="close-search" ng-click="closeSearch()"><i class="icon-Close"></i></div>
    </div>-->
    <!-- 第2列主選單(行動版搜尋列) 結束 -->
    <!-- 第2列主選單(桌面版行程快排+搜尋列) 開始 -->
    <div class="right" ng-show="hasLogin">
        <div class="create-trip">
            <!--<div class="button small blue" create-trip ><i class="icon-Plus"></i> 建立行程</div>-->
          <!--   <create-trip></create-trip>
            <div class="dropdown-more" ng-click="showMoreTool=!showMoreTool">
                <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool" aria-hidden="true"></md-backdrop>
                <div class="poi-dropdown-menu" ng-class="{'open': showMoreTool}">
                    <div class="menu-item">建立行程</div>
                    <div class="menu-item">撰寫遊記</div>
                </div>
            </div> -->
        </div>
        <div ng-class="{'show ' : isShowSearch}" class="global-search">
            <form>
                <!-- <input type="search" placeholder="搜尋" auto-focus="SEACH_GLOBAL"> -->
                <div class="search-wrap">
                    <div class="search">
                        <md-autocomplete md-selected-item="selectedItem" md-search-text-change="searchTextChange(setting.keyword)" md-search-text="setting.keyword" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(setting.keyword)" md-item-text="item.display" md-min-length="0" placeholder="搜尋" auto-focus="SEACH_GLOBAL">
                            <md-item-template>
                                <span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                                <!-- <md-not-found>
                                No matches found for "{{setting.keyword}}".
                            </md-not-found> -->
                        </md-autocomplete>
                    </div>
                </div>
            </form>
                <!-- 屏蔽在搜尋列出現的X形icon
                <div class="close-search" ng-click="closeSearch()"><i class="icon-Close"></i></div> -->
            </div>

            <div class="userCoin" ><img src="../public/images/coin.png" class="scon"> 80 V 幣</div>

            <span class="setline"> </span>
            <div class="usercon"><div class="savatar" ng-click="hasLogin=!hasLogin"></div><div class="userName" ng-click="showUserMenu=!showUserMenu">
            奧革士 <i class="icon-ArrowDown"></i>
           
        </div> 



        <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showUserMenu" ng-click="showUserMenu=!showUserMenu"></md-backdrop>
            <div class="poi-dropdown-menu align-center" ng-class="{'open': showUserMenu}">
                <a class="menu-item" href="/#/user">我的首頁</a>
                <a class="menu-item" href="/#/user/collect">我的收藏</a>
                <a class="menu-item" href="/#/user/trips">我的行程</a>
                <a class="menu-item" href="/#/user/funthings">我的趣事</a>
                <a class="menu-item" href="/#/user/travelNotes">我的遊記</a>
                <a class="menu-item" href="#">登出</a>
            </div></div>

        <span class="setline"> </span>
        <div class="hmessage"><div class="link notification" ng-click="showNotification=!showNotification">20
                            <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showNotification"></md-backdrop>
                            <div class="poi-dropdown-menu notification-dropdown-menu align-center" ng-class="{'open': showNotification}">
                                <perfect-scrollbar class="scroll-container">
                                    <div class="menu-item notification-item">
                                        <a href="#">
                                            <div class="thumbnail" style="background-image: url('./public/images/avatars/1.jpg')"></div>
                                        </a>
                                        <div class="info">
                                            <p class="descript"><a href="#">艾美麗</a> 正在追蹤你。</p>
                                            <span class="date">1小時前</span>
                                        </div>
                                    </div>
                                    <div class="menu-item notification-item">
                                        <a href="#">
                                            <div class="thumbnail" style="background-image: url('./public/images/avatars/2.jpg')"></div>
                                        </a>
                                        <div class="info">
                                            <p class="descript">你提供的<a href="#">景點勘誤</a>已經被審核，感謝您提供寶貴的資訊。</p>
                                            <span class="date">1小時前</span>
                                        </div>
                                    </div>
                                    <div class="menu-item notification-item">
                                        <a href="#">
                                            <div class="thumbnail" style="background-image: url('../public/images/ship.svg')"></div>
                                        </a>
                                        <div class="info">
                                            <p class="descript">恭喜你達成成就，獲得海島之子勳章。</p>
                                            <span class="date">1小時前</span>
                                        </div>
                                    </div>
                                    <div class="menu-item notification-item">
                                        <a href="#">
                                            <div class="thumbnail" style="background-image: url('./public/images/avatars/3.jpg')"></div>
                                        </a>
                                        <div class="info">
                                            <p class="descript"><a href="#">賀少俠</a> 正在追蹤你。</p>
                                            <span class="date">8小時前</span>
                                        </div>
                                    </div>
                                    <div class="menu-item notification-item" ng-repeat="i in '1,2,3,4,5,6,7,8,9'.split(',')">
                                        <a href="#">
                                            <div class="thumbnail" style="background-image: url('./public/images/avatars/2.jpg')"></div>
                                        </a>
                                        <div class="info">
                                            <p class="descript">你提供的<a href="#">景點勘誤</a>已經被審核，感謝您提供寶貴的資訊。</p>
                                            <span class="date">{{i}}天前</span>
                                        </div>
                                    </div>
                                    <div class="menu-item notification-item more"><a href="/#/user/notifications">顯示全部</a></div>
                                </perfect-scrollbar>
                            </div>
                        </div></div>


    </div>
    <div class="right" ng-show="!hasLogin">
        <div class="create-trip">
            <!--<div class="button small blue" create-trip ><i class="icon-Plus"></i> 建立行程</div>-->
          <!--   <create-trip></create-trip>
            <div class="dropdown-more" ng-click="showMoreTool=!showMoreTool">
                <md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool" aria-hidden="true"></md-backdrop>
                <div class="poi-dropdown-menu" ng-class="{'open': showMoreTool}">
                    <div class="menu-item">建立行程</div>
                    <div class="menu-item">撰寫遊記</div>
                </div>
            </div> -->
        </div>
        <div ng-class="{'show ' : isShowSearch}" class="global-search">
            <form>
                <!-- <input type="search" placeholder="搜尋" auto-focus="SEACH_GLOBAL"> -->
                <div class="search-wrap">
                    <div class="search">
                        <md-autocomplete md-selected-item="selectedItem" md-search-text-change="searchTextChange(setting.keyword)" md-search-text="setting.keyword" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(setting.keyword)" md-item-text="item.display" md-min-length="0" placeholder="搜尋" auto-focus="SEACH_GLOBAL">
                            <md-item-template>
                                <i class="icon icon-Clock" ng-show="item.cache"></i>
                                <i class="icon icon-Search" ng-hide="item.cache"></i>
                                <span class="text" md-highlight-text="setting.keyword" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                                <!-- <md-not-found>
                                No matches found for "{{setting.keyword}}".
                            </md-not-found> -->
                        </md-autocomplete>
                    </div>
                </div>
            </form>
                <!-- 屏蔽在搜尋列出現的X形icon
                <div class="close-search" ng-click="closeSearch()"><i class="icon-Close"></i></div> -->
            </div>


           <div class="usercons" style="width: 60px;"> <a class="link" href="javascript:void(0);" signup>註冊</a> </div>

            <span class="setline"> </span>
           <div class="usercons" style="width: 60px;"> <a class="link" href="javascript:void(0);" login>登入</a></div>

        


    </div>
    <!-- 第2列主選單(桌面版行程快排+搜尋列) 結束 -->
   <!-- <div class="search-btn" ng-click="showSearch()">
        <i class="icon-Search"></i>
    </div>
    <div ng-class="{'show': !isShowMenu}" class="menu-btn" ng-click="showMenu()"><i class="icon-Menu"></i></div>
    <div ng-class="{'show': isShowMenu}" class="menu-btn" ng-click="closeMenu()"><i class="icon-Close"></i></div>-->
</div>
<!-- 第2列主選單 結束 -->
</header>
