<header data-ui-view="header"></header>
<div class="container" data-ui-view="section">
	<div class="user-page help">
		<div class="main-container">
			<div class="menu-block">
				<div class="menu-list box-shadow">
					<a class="menu" href="#/help">
						<span class="name">一．遊記/攻略類帖子編輯與發布</span>
					</a>
					<a class="menu" href="#/help">
						<span class="name">二．针对帖子与楼层的操作互动</span>
					</a>
					<a class="menu" href="#/help">
						<span class="name">三．其他类型帖子编辑</span>
					</a>
					<a class="menu" href="#/help">
						<span class="name">四．更多好帖推荐展示</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('help.home')}" href="#/help">
						<span class="name">六．如何提供景點或回報景點問題</span>
					</a>
				</div>
				<button class="button large blue" ng-click="problemReport($event)">找不到你的問題嗎？</button>
			</div>
			<div class="content-block">
				<div class="content-col" data-ui-view="helpContainer">
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<footer data-ui-view="footer"></footer>
