<header data-ui-view="header"></header>
<div class="container gray" data-ui-view="section">
	<div class="user-page">
		<div class="header-container box-shadow">
			<div class="info"></div>
			<div class="cover-img" style="background-image: url(../public/images/banner1.jpg);    position: relative;">
			</div>
			<div class="header">
				<div class="profile-img">
					<img src="../public/images/avatars/1.jpg" alt="">
				</div>
				<div class="info">
					<h1 class="user-name">奧革士</h1>


					<!-- <div class="social-links">
						<div class="social facebook" ng-click="cancelBindFacebook('Facebook', $event)">
							<img src="../public/images/svg/facebook.svg" alt="">
						</div>
						<div class="social twitter" ng-click="cancelBindFacebook('Twitter', $event)">
							<img src="../public/images/svg/twitter.svg" alt="">
						</div>
						<div class="social gplus" ng-click="cancelBindFacebook('Google+', $event)">
							<img src="../public/images/svg/gplus.svg" alt="">
						</div>
					</div> -->
				</div>
				<div class="menu-bar">
					<a class="menu" href="#/user/collect">
						<span class="name">擁有 V 幣 :</span> <img src="../public/images/coin.png" style="line-height:1.5em;vertical-align: middle;" alt=""><span class="count">250</span>
					</a>
					
				</div>
				<div class="tool-bar">
					
				</div>
			</div>
		</div>
		<div class="main-container">
			<div class="menu-block">
				<div class="menu-list box-shadow">
					<a class="menu" ng-class="{'active': $state.includes('usersee.home')}" href="#/user">
						<span class="name">首頁</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('user.trips')}" href="#/user/trips">
						<span class="name">我的行程</span><span class="rightCount">120</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('user.travelNotes')}" href="#/user/travelNotes">
						<span class="name">我的遊記</span><span class="rightCount">3</span>
					</a>
					<a class="menu" href="#/user/calendar" hide-sm>
						<span class="name">我的趣事</span><span class="rightCount">20</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('user.footprints')}" href="#/user/footprints">
						<span class="name">我的足跡</span>
					</a>
				</div>
			</div>
			<div class="content-block" data-ui-view="userContainer">
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<footer data-ui-view="footer"></footer>
