<header data-ui-view="header"></header>
<div class="container gray" data-ui-view="section">
	<div class="user-page">
		<div class="header-container box-shadow">
			<div class="info"></div>
			<div class="cover-img" style="background-image: url(../public/images/banner1.jpg);    position: relative;">
				<div class="photoreset" style=""><i class="icon icon-camera" style="color:#ffffff;">　更換封面相片</i> </div>
			</div>
			<div class="header">
				<div class="profile-img">
					<img src="../public/images/avatars/1.jpg" alt="">
				</div>
				<div class="info">
					<h1 class="user-name">奧革士</h1>


					<!-- <div class="social-links">
						<div class="social facebook" ng-click="cancelBindFacebook('Facebook', $event)">
							<img src="../public/images/svg/facebook.svg" alt="">
						</div>
						<div class="social twitter" ng-click="cancelBindFacebook('Twitter', $event)">
							<img src="../public/images/svg/twitter.svg" alt="">
						</div>
						<div class="social gplus" ng-click="cancelBindFacebook('Google+', $event)">
							<img src="../public/images/svg/gplus.svg" alt="">
						</div>
					</div> -->
				</div>
				<div class="menu-bar">
					<a class="menu" href="#/user/collect">
						<span class="name">擁有 V 幣 :</span> <img src="../public/images/coin.png" style="line-height:1.5em;vertical-align: middle;" alt=""><span class="count">250</span>
					</a>
					
				</div>
				<div class="tool-bar">
					<div class="tool">
						<i class="icon icon-Create-2"></i>
						<span class="name" ng-click="editPersonalInfo($event)">修改個人資料</span>
					</div>
				</div>
			</div>
		</div>
		<div class="main-container">
			<div class="menu-block">
				<div class="menu-list box-shadow">
					<a class="menu" ng-class="{'active': $state.includes('user.home')}" href="#/user">
						<span class="name">首頁</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('user.trips')}" href="#/user/trips">
						<span class="name">我的行程</span><span class="rightCount">120</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('user.travelNotes')}" href="#/user/travelNotes">
						<span class="name">我的遊記</span><span class="rightCount">3</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('user.funthings')}" href="#/user/funthings" hide-sm>
						<span class="name">我的趣事</span><span class="rightCount">20</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('user.collect')}" href="#/user/collect">
						<span class="name">我的收藏</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('user.footprints')}" href="#/user/footprints">
						<span class="name">我的足跡</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('user.comments')}" href="#/user/comments">
						<span class="name">我的評論</span>
					</a>
				</div>
				<div class="menu-list box-shadow">
					<a class="menu" href="#/user/spotsErrata">
						<span class="name">目的地貢獻列表</span>
						<span class="rightCount">20</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('user.notifications')}" href="#/user/notifications">
						<span class="name">訊息通知</span><span class="rightCount">2</span>
					</a>
					<a class="menu" ng-class="{'active': $state.includes('user.coupon')}" href="#/user/coupon">
						<span class="name">V幣換禮物 <img src="../public/images/hoticon.png" style="line-height:24px;vertical-align: middle;" alt=""></span>
					</a>					
				</div>
				<div class="menu-list box-shadow" style="background-color:#FAFAFA;">
					<div class="left-title" >基本資料</div>
					<div class="menu-time" >
						<span class="name">註冊日期</span>
						<span class="name">2015/03/16</span>
					</div>
					<div class="menu-time" >
						<span class="name">最後登入日期</span>
						<span class="name">2015/03/16</span>
					</div>

				</div>
			</div>
			<div class="content-block" data-ui-view="userContainer">
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<footer data-ui-view="footer"></footer>
