<div class="trips-page content gray">
    <section class="filters" ng-class="{'open' : isOpenFilter}">
        <div class="filters-header">
            <div class="close" ng-click="closeFilter()">
                <i class="icon-Close"></i>
            </div>
            <h4>過濾條件</h4>
        </div>
        <div class="section-wrap">

            <div class="filter-type">
                <div class="type-name">速購分類</div>
                <div class="type-wrap type-btns">
                    <a class="type-btn" href="/#/purchases">全部</a>
                    <a class="type-btn" href="/#/purchases/spots">景點門票</a>
                    <a class="type-btn" href="/#/purchases/events">活動門票</a>
                    <a class="type-btn" href="/#/purchases/foods">餐券 / 優惠券</a>
                    <a class="type-btn" href="/#/purchases/stays">住宿券</a>
                    <a class="type-btn active" href="/#/purchases/trips">行程套票</a>
                    <a class="type-btn" href="/#/purchases/stores">商品優惠券</a>
                </div>
            </div>
            
            <div class="filter-type">
                <div class="type-name">地區篩選</div>
                <div class="type-more" ng-click="toggleMore('areas')">
                    <span ng-hide="showAllOption.areas">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.areas">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.areas}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn">台北</div>
                    <div class="type-btn active">台中</div>
                    <div class="type-btn">台南</div>
                    <div class="type-btn">高雄</div>
                    <div class="type-btn">新竹</div>
                    <div class="type-btn">嘉義</div>
                    <div class="type-btn">台東</div>
                    <div class="type-btn">澎湖</div>
                    <div class="type-btn">其他</div>
                    <div class="type-btn">桃園</div>
                    <div class="type-btn">苗栗</div>
                    <div class="type-btn">彰化</div>
                    <div class="type-btn">雲林</div>
                    <div class="type-btn">宜蘭</div>
                    <div class="type-btn">花蓮</div>
                    <div class="type-btn">嘉義</div>
                </div>
            </div>

            <div class="filter-type">
                <div class="type-name">行程主題</div>
                <div class="type-more" ng-click="toggleMore('category')">
                    <span ng-hide="showAllOption.category">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.category">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.category}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn active">美食</div>
                    <div class="type-btn">離島</div>
                    <div class="type-btn">文化</div>
                    <div class="type-btn">生態</div>
                    <div class="type-btn">溫泉</div>
                    <div class="type-btn">鐵道</div>
                    <div class="type-btn">樂活</div>
                    <div class="type-btn">夜市</div>
                </div>
            </div>

            <div class="filter-type">
                <div class="type-name">出遊天數</div>
                <div class="type-more" ng-click="toggleMore('days')">
                    <span ng-hide="showAllOption.days">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.days">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.days}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn active">4 小時行程</div>
                    <div class="type-btn">3 天及以下</div>
                    <div class="type-btn">4 天至 7 天</div>
                    <div class="type-btn">8 天至 14 天</div>
                    <div class="type-btn">20 天以上</div>
                </div>
            </div>

            <div class="filter-type">
                <div class="type-name">價格範圍</div>
                <div class="type-wrap type-btns expand">
                    <div class="type-btn">不限</div>
                    <div class="type-btn">免費</div>
                    <div class="type-btn active">付費</div>
                    <div class="price-range">
                        <input type="text" ng-model="minPrice" numbers-only placeholder="250 元">
                        - 
                        <input type="text" ng-model="maxPrice" numbers-only placeholder="不限">
                        <div class="button small button-outline">確認</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filters-more">
            <span>
                更多選項
                <i class="icon-ArrowDown"></i>
            </span>
        </div>
    </section>

    <!-- 顯示方式切換 -->
    <section>
        <div class="section-wrap layout-types">
            <div class="filter-type filters-float-left menuin">
                <a href="#" class="active">評價最高</a> |
                <a href="#">價格低到高</a> |
                <a href="#">價格高到低</a> |
                <a href="#">最多收藏</a> |
                <a href="#">發表日期</a> 
            </div>

        </div>
    </section>

    <!-- 格壯列表 -->
    <section>
        <div class="section-wrap no-top-padding">

            <!-- Grid 模式 -->
            <div ng-show="layout=='Grid'" class="spot-tickets" layout="row" layout-wrap>

                <div class="spot-ticket-wrap" flex="25" flex-md="50" flex-sm="100" ng-repeat="purchase in purchases">
                    <div class="spot-ticket">
                        <a href="#/purchases/trips/poi">
                            <div class="thumbnail effect" style="background-image: url({{purchase.thumbnail}})">

                                <div class="mark popular" ng-if="purchase.popular">人氣推薦</div>
                                <div class="mark top-choice" ng-if="purchase.topChoice">嚴選推薦</div>
                                <div class="duration"><span class="highlight">{{purchase.duration | numberFixedLen:2}}</span>天</div>
                            </div>
                            <div class="info">
                                <h4 class="title" ng-class="{'has-discount':purchase.discount}">{{purchase.title}}</h4>
                                <p class="descript">{{purchase.descript}}</p>

                                 <div class="metas">
                                <div class="address"><i class="icon-Views"></i> <span>{{purchase.viewes}}</span></div>
                            </div>
                            <div class="price" ng-if="purchase.discountPrice">$ {{purchase.price}} 元</div>
                                <div class="discount-price red" ng-if="purchase.discountPrice"><span class="highlight">$ {{purchase.discountPrice}}</span> 起</div>
                                <div class="discount-price" ng-if="!purchase.discountPrice"><span class="highlight">$ {{purchase.price}}</span> 起</div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- 分頁 -->
    <section>
        <div class="section-wrap no-top-padding">
            <div class="pagination">
              <ul class="page-numbers">
                <li><a href="" class="prev">上一頁</a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="current" >2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">...</a></li>
                <li><a href="">5</a></li>
                <li><a href="" class="next">下一頁</a></li>
            </ul>
        </div>
    </div>
</section>
<div class="status">
    <div class="loading">
        <div class="throbber throbber_large"></div>
        <span>載入中</span>
    </div>
</div>
</div>
