<div class="poi-page content gray">
	<section>
		<div class="section-wrap breadcrumb-wrap">
	    <a href="#" class="breadcrumb">首頁</a>
	    <i class="icon-Forward"></i>
	    <a href="#" class="breadcrumb">美食</a>
	    <i class="icon-Forward"></i>
	    <a href="#" class="breadcrumb current">台湾單車文創7日遊</a>
		</div>
	</section>
	<section>
		<div class="section-wrap no-top-padding">
			<div layout="row" layout-wrap>
				<div class="poi-content" flex="70" flex-md="100" flex-sm="100">
					<div class="content-block align-right">
						<div class="info float-left">
							<h2 class="title">台湾單車文創7日遊</h2>
							<div class="summary">
								<span>商圈、文化藝術</span>
							</div>
							<div class="summary">
								<span>遊歷 5 縣市 10 景點</span>
								<div class="ranks hint hint--top" data-hint="平均 4.2 分">
									<i class="icon-Rank fill"></i>
									<i class="icon-Rank fill"></i>
									<i class="icon-Rank fill"></i>
									<i class="icon-Rank fill"></i>
									<i class="icon-Rank"></i>
								</div>
								<span>4.2分 / 12評價</span>
							</div>
							<div class="summary">
								<div class="author-img"></div>
								<span class="author">林小美</span>
								<span class="gray">發表於</span>
								<span>2015年3月7日</span>
							</div>
						</div>
						<div class="tool-bar">
							<div class="tool" ng-click="isCollect=!isCollect" ng-class="{'active':isCollect}">
								<i class="icon-Heart-2 delay"></i>
								<i class="icon-Heart-2 animate" ng-class="{'animate-active':isCollect}" ng-hide="isCollect"></i>
								<span>收藏</span>
							</div>
							<div class="tool" ng-click="showShareTool=!showShareTool">
								<i class="icon-Share-3"></i>
								<span>分享</span>
								<md-backdrop class="md-select-backdrop md-default-theme" ng-show="showShareTool"></md-backdrop>
								<div class="poi-dropdown-menu" ng-class="{'open': showShareTool}">
									<div class="menu-item"><i class="icon-Facebook"></i>Facebook</div>
									<div class="menu-item"><i class="icon-Twitter"></i>Twitter</div>
									<div class="menu-item"><i class="icon-Gplus"></i>Google+</div>
									<div class="menu-item"><i class="icon-Link"></i>複製網址</div>
								</div>
							</div>
							<div class="tool">
								<i class="icon-Copy"></i>
								<span>複製</span>
							</div>
							<div class="tool">
								<i class="icon-PDF"></i>
								<span>下載</span>
							</div>
							<div class="tool" ng-click="showMoreTool=!showMoreTool">
								<i class="icon-More-2"></i>
								<span>更多</span>
								<md-backdrop class="md-select-backdrop md-default-theme" ng-show="showMoreTool"></md-backdrop>
								<div class="poi-dropdown-menu" ng-class="{'open': showMoreTool}">
									<div class="menu-item" ng-click="bugReport($event)">問題回報</div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="content-block align-left">
						<div class="slideshow float-left" flex="35" flex-md="35" flex-sm="100">
							<div class="slides">
								<div class="slide" ng-repeat="item in slideList" ng-style="{'background-image':'url(' + item.imgUrl + ')', 'left': 100*($index-currentSlideIdx) + '%'}">
									<span class="watermark">© flick-unlag</span>
								</div>
							</div>
							<div class="ctrl-btn prev" ng-click="prevSlide()" ng-show="currentSlideIdx>0">
								<i class="icon-Back"></i>
							</div>
							<div class="ctrl-btn next" ng-click="nextSlide()" ng-show="currentSlideIdx<(slideList.length-1)">
								<i class="icon-Forward"></i>
							</div>
							<div class="ctrl-panel" ng-show="slideList.length > 1">
								<div class="ctrl-point" ng-class="{'active': $index==currentSlideIdx}" ng-repeat="item in slideList" ng-click="setSlide($index)"></div>
							</div>
						</div>
						<div class="info remaining-width" flex="65" flex-md="65" flex-sm="100">
							<table class="table-info">
								<tr>
									<td class="name">收藏次數</td>
									<td class="content">234 人</td>
								</tr>
								<tr>
									<td class="name">多少人來過</td>
									<td class="content">1,732 人</td>
								</tr>
								<tr>
									<td class="name">適合月份</td>
									<td class="content">3、4 月</td>
								</tr>
								<tr>
									<td class="name">相關標籤</td>
									<td class="content">
										<div class="labels" ng-class="{'expand':labels}">
											<div class="label">好吃</div>
											<div class="label">適合聚餐</div>
											<div class="label">老闆親切</div>
											<div class="label">裝潢漂亮</div>
										</div>
										<div class="label-expand" ng-click="toggleBool('labels')" ng-show="!labels">
											<span>顯示全部</span>
											<i class="icon-ArrowDown"></i>
										</div>
										<div class="label-expand" ng-click="toggleBool('labels')" ng-show="labels">
											<span>顯示部分</span>
											<i class="icon-ArrowUp"></i>
										</div>
									</td>
								</tr>
							</table>
						</div>
						<div class="clear"></div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>行程介紹</h3>
							</div>
							<div class="description" ng-class="{'expand':tripInfo}">台北101購物中心為地上5樓，地下1樓的購物空間，23000坪，是臺灣首座國際頂級購物中心。擁有許多精品旗艦店，如BALLY、LV、Prada、Gucci、Cartier、DIOR及FENDI等，消費者可以享受到最多樣的選擇，與全球流行零時差，輕鬆擁有愉悅的購物時刻。 臺北101購物中心有歐式、日式、泰式、中式等各國風味美食餐廳，如代官山居食屋、晶湯匙泰式料理、隨意鳥地方、九如浙江美食、川滇食尚等，美食街擁有上千個座位，非常舒適的用餐環境。4樓都會廣場擁有完美的空間設計規劃，佔地500餘坪，挑高40米。台北101...</div>
							<div class="info-expand">
								<span ng-click="toggleBool('tripInfo')" ng-show="!tripInfo">顯示全部</span>
								<span ng-click="toggleBool('tripInfo')" ng-show="tripInfo">顯示部分</span>
							</div>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>相關行程票券</h3>
							</div>
							<div class="ticket" ng-repeat="item in tickets">
								<div class="border">
									<div class="summary remaining-width float-left">
										<h4 class="title">{{item.title}}</h4>
										<div class="description">{{item.description}}</div>
										<div class="message price">原價 NT {{item.price}}</div>
										<div class="message price blue">優惠價 NT {{item.specialPrice}}</div>
									</div>
									<div class="buttons">
										<div class="button orange" ng-hide="item.price">免費領取</div>
										<div class="button blue" ng-show="item.price">立刻購買</div>
										<div class="button">加入購物車</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="trip-container">
						<div class="tab-bar">
							<div class="tab" ng-repeat="tab in tabs" ng-class="{'active':currentTab.id==tab.id}" ng-click="switchTab(tab)">{{tab.name}}</div>
						</div>
						<div class="tab-content list" ng-if="currentTab.id==0">
							<div layout="row" layout-wrap>
								<div flex="50" flex-md="50" flex-sm="100">
				                    <div class="spot-list" ng-repeat="trip in trips">
				                    	<div class="trip-info">
				                    		<div class="day">第{{$index + 1}}天</div>
				                    		<div class="date">{{trip.date_year}}年{{trip.date_month}}月{{trip.date_day}}日 星期{{trip.date_week}}</div>
				                    		<div class="title">{{trip.place}}</div>
				                    	</div>
			                            <div class="spot-wrap" ng-repeat="spot in trip.spots" ng-show="trip.isOpen">
			                                <div class="distance" ng-if="$index > 0" ng-click="traffic($event)">
			                                    <i class="icon icon-Car"></i>
			                                    <span>兩地距離：2 km </span>
			                                    <i class="icon icon-Clock"></i>
			                                    <span>24 分鐘</span>
			                                </div>
			                                <div class="content">
			                                	<div class="mark"><span>{{$index + 1}}</span></div>
				                                <div class="spot">
				                                    <a>
				                                        <div class="thumbnail" ng-style="{'background-image': 'url(' + spot.thumbnail + ')'}">
				                                        </div>
				                                    </a>
				                                    <div class="info">
				                                        <a>
				                                            <h4 class="title">{{spot.title}}</h4>
				                                        </a>
				                                        <p class="descript" ng-if="spot.type=='spot'">{{spot.descript}}</p>
				                                        <div class="address" ng-if="spot.type=='food'"><i class="icon-Pin"></i> <span>{{spot.address}}</span></div>
				                                        <div class="phone" ng-if="spot.type=='food'"><i class="icon-Phone"></i> <span>{{spot.phone}}</span></div>
				                                        <div class="metas">
				                                            <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
				                                            <div class="recommend">
				                                                <span>{{spot.commentCount}} 人評論 </span>
				                                                <span>{{spot.collectCount}} 人收藏</span>
				                                            </div>
				                                        </div>
				                                    </div>
				                                </div>
			                                </div>
			                                <div class="note" ng-if="spot.notes">筆記：{{spot.notes}}</div>
			                            </div>
			                            <div class="spot-wrap" ng-repeat="stay in trip.stays" ng-show="trip.isOpen">
			                                <div class="distance" ng-if="trip.spots.length > 0 || $index > 0" ng-click="traffic($event)">
			                                    <i class="icon icon-Car"></i>
			                                    <span>兩地距離：2 km </span>
			                                    <i class="icon icon-Clock"></i>
			                                    <span>24 分鐘</span>
			                                </div>
			                                <div class="content">
			                                	<div class="mark"><span><i class="icon-Web"></i></span></div>
				                                <div class="spot">
				                                    <a>
				                                        <div class="thumbnail" ng-style="{'background-image': 'url(' + stay.thumbnail + ')'}">
				                                        </div>
				                                    </a>
				                                    <div class="info">
				                                        <a>
				                                            <h4 class="title">{{stay.title}}</h4>
				                                        </a>
				                                        <div class="address"><i class="icon-Pin"></i> <span>{{stay.address}}</span></div>
				                                        <div class="phone"><i class="icon-Phone"></i> <span>{{stay.phone}}</span></div>
				                                        <div class="metas">
				                                            <div class="ranks hint hint--top" data-hint="平均 4.5 星等"><i class="icon-Rank full" ng-repeat="r in [1,2,3,4]"></i><i class="icon-Rank"></i></div>
				                                            <div class="recommend">
				                                                <span>{{stay.commentCount}} 人評論 </span>
				                                                <span>{{stay.collectCount}} 人收藏</span>
				                                            </div>
				                                        </div>
				                                    </div>
				                                </div>
			                                </div>
			                                <div class="note" ng-if="stay.notes">筆記：{{stay.notes}}</div>
			                            </div>
			                            <div class="trip-expand">
			                            	<span ng-click="trip.isOpen=true" ng-hide="trip.isOpen">展開行程</span>
			                            	<span ng-click="trip.isOpen=false" ng-show="trip.isOpen">收合行程</span>
			                            </div>
				                    </div>
								</div>
								<div flex="50" flex-md="50" flex-sm="100">
									<div class="sticky-box sticky-map-wrap" sticky offset="0" sticky-class="sticky-actived" confine="true">
										<div class="sticky-map">
											I am map
											<div class="tool toggle-size" ng-click="openFullMap($event)"><i class="icon-Resize"></i></div>
							                <md-select class="tool" ng-model="currentDay" ng-init="currentDay=1">
							                    <md-option ng-repeat="day in trips" ng-value="$index+1">第{{$index+1}}天</md-option>
							                </md-select>
										</div>
									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tab-content calendar" ng-if="currentTab.id==1">
							<table>
								<tr>
									<th colspan="2">行程日期</th>
									<th>城市</th>
									<th>景點</th>
									<th>住宿</th>
								</tr>
								<tr class="content" ng-repeat="trip in trips">
									<td>
										<span class="date-day">{{trip.date_day}}</span>
									</td>
									<td>
										<p>{{trip.date_year}}年{{trip.date_month}}月</p>
										<p>星期{{trip.date_week}}</p>
									</td>
									<td>
										<p>台北市</p>
										<p>新北市</p>
									</td>
									<td>
										<h4 ng-repeat="spot in trip.spots">{{$index+1}}. {{spot.title}}</h4>
									</td>
									<td>
										<div ng-repeat="stay in trip.stays">
											<h4>{{stay.title}}</h4>
											<p class="meta">地址：{{stay.address}}</p>
											<p class="meta">電話：{{stay.phone}}</p>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="content-block align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>評論 (20)</h3>
							</div>
						</div>
						<div class="comments">
							<div class="comment-wrap">
								<div class="thumbnail-wrap">
									<div class="thumbnail" ng-style="{'background-image': 'url(' + comment.authorImg + ')'}">
									</div>
								</div>
								<div class="content-wrap">
									<div class="author">{{comment.author}}</div>
									<div class="ranks-wrap">
										<span>點擊進行評分</span>
										<div class="ranks">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<span>(還不錯)</span>
									</div>
									<div class="comment">
										<textarea ng-model="comment.comment" placeholder="這裡有哪些特色、哪裡好玩，趕緊跟大家分享你的看法"></textarea>
										<div class="word-count">{{comment.comment.length}}/140</div>
										<div class="button small blue" ng-click="addComment()">回覆</div>
									</div>
									<div class="content">
										<div class="images">
											<div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})">
												<div class="remove-btn"></div>
											</div>
										</div>
									</div>
									<div class="actions">
										<div class="action">
											<i class="icon-Camera"></i>
											分享照片
										</div>
									</div>
								</div>
							</div>
							<div class="comment-wrap" ng-repeat="comment in comments">
								<div class="thumbnail-wrap">
									<div class="thumbnail" ng-style="{'background-image': 'url(' + comment.authorImg + ')'}">
									</div>
								</div>
								<div class="content-wrap">
									<div class="author">{{comment.author}}
										<span>{{comment.commentTime}}</span>
									</div>
									<div class="ranks-wrap">
										<div class="ranks">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
									</div>
									<div ng-hide="comment.editMode">
										<div class="content">
											<p>{{comment.comment}}</p>
											<div class="images">
												<div class="image" ng-repeat="img in comment.images" style="background-image:url({{img}})"></div>
											</div>
										</div>
										<div class="actions">
											<div class="action small">
												<i class="icon-ArrowUp"></i>
												有用 12
											</div>
											<div class="action" ng-click="toReply(comment)">回覆</div>
										</div>
										<div ng-show="comment.replyMode">
											<div class="comment">
												<textarea class="small" ng-model="comment.replyTemp"></textarea>
												<div class="button small blue" ng-click="addReply(comment)">回覆</div>
											</div>
											<div class="actions">
												<div class="word-count">24/140</div>
											</div>
										</div>
										<div class="comment-wrap" ng-repeat="reply in comment.replys">
											<div class="thumbnail-wrap">
												<div class="thumbnail" style="background-image:url({{reply.authorImg}})">
												</div>
											</div>
											<div class="content-wrap">
												<div class="author">{{reply.author}}
													<span>{{reply.commentTime}}</span>
												</div>
												<div ng-hide="reply.editMode">
													<div class="content">
														<p>{{reply.comment}}</p>
														<div class="images">
															<div class="image" ng-repeat="img in reply.images" style="background-image:url({{img}})"></div>
														</div>
													</div>
													<div class="actions">
														<div class="action small">
															<i class="icon-ArrowUp"></i>
															有用 12
														</div>
													</div>
												</div>
												<div ng-show="reply.editMode">
													<div class="comment">
														<textarea class="small" ng-model="reply.commentTemp"></textarea>
													</div>
													<div class="actions">
														<div class="word-count">24/140</div>
														<div class="button small" ng-click="cancelEditComment(reply)">取消</div>
														<div class="button small blue" ng-click="updateComment(reply)">確認修改</div>
													</div>
												</div>
											</div>
											<div class="comment-more" ng-click="reply.showMore=!reply.showMore">
												<i class="icon-ArrowDown"></i>
												<md-backdrop class="md-select-backdrop md-default-theme" ng-show="reply.showMore"></md-backdrop>
												<div class="poi-dropdown-menu" ng-class="{'open': reply.showMore}">
													<div class="menu-item" ng-click="editComment(reply)">編輯留言</div>
													<div class="menu-item" ng-click="deleteReply(comment, $index)">刪除留言</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-show="comment.editMode">
										<div class="comment">
											<textarea class="small" ng-model="comment.commentTemp"></textarea>
										</div>
										<div class="actions">
											<div class="word-count">24/140</div>
											<div class="button small" ng-click="cancelEditComment(comment)">取消</div>
											<div class="button small blue" ng-click="updateComment(comment)">確認修改</div>
										</div>
									</div>
								</div>
								<div class="comment-more" ng-click="comment.showMore=!comment.showMore">
									<i class="icon-ArrowDown"></i>
									<md-backdrop class="md-select-backdrop md-default-theme" ng-show="comment.showMore"></md-backdrop>
									<div class="poi-dropdown-menu" ng-class="{'open': comment.showMore}">
										<div class="menu-item" ng-click="editComment(comment)">編輯留言</div>
										<div class="menu-item" ng-click="deleteComment($index)">刪除留言</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div flex="30" flex-md="100" flex-sm="100">
					<div class="content-block other align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>周邊</h3>
							</div>
							<div class="content-types">
								<span class="type" ng-repeat="item in types" ng-click="selectType(item)" ng-class="{'active':currentType.id==item.id}">{{item.name}}</span>
							</div>
							<div class="content align-right" ng-repeat="item in spots">
								<div class="thumbnail float-left" ng-style="{'background-image': 'url(' + item.thumbnail + ')'}"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<p class="description">{{item.description}}</p>
									<div class="align-right">
										<div class="ranks float-left">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<div class="distance">{{item.distance}} 公里</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block other align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>猜你喜歡</h3>
							</div>
							<div class="content align-right" ng-repeat="item in guessYouLike">
								<div class="thumbnail float-left" ng-style="{'background-image': 'url(' + item.thumbnail + ')'}"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<p class="description">{{item.description}}</p>
									<div class="align-right">
										<div class="ranks float-left">
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank fill"></i>
											<i class="icon-Rank"></i>
											<i class="icon-Rank"></i>
										</div>
										<div class="distance">{{item.distance}} 公里</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block other align-left">
						<div class="info">
							<div class="subtitle">
								<i class="mark"></i>
								<h3>達人部落格</h3>
							</div>
							<div class="content align-right" ng-repeat="item in blogs">
								<div class="thumbnail float-left" ng-style="{'background-image': 'url(' + item.thumbnail + ')'}"></div>
								<div class="info remaining-width align-left">
									<h4 class="title">{{item.title}}</h4>
									<div class="date">
										<span>{{item.publishDate}}</span>
										<span>{{item.blogName}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
