<div class="trips-page content gray">
    <section class="filters" ng-class="{'open' : isOpenFilter}">
        <div class="filters-header">
            <div class="close" ng-click="closeFilter()">
                <i class="icon-Close"></i>
            </div>
            <h4>過濾條件</h4>
        </div>
        <div class="section-wrap">
            <div class="filter-type">
                <div class="type-name">地區篩選</div>
                <div class="type-more" ng-click="toggleMore('areas')">
                    <span ng-hide="showAllOption.areas">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.areas">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.areas}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn">台北</div>
                    <div class="type-btn active">台中</div>
                    <div class="type-btn">台南</div>
                    <div class="type-btn">高雄</div>
                    <div class="type-btn">新竹</div>
                    <div class="type-btn">嘉義</div>
                    <div class="type-btn">台東</div>
                    <div class="type-btn">澎湖</div>
                    <div class="type-btn">其他</div>
                    <div class="type-btn">桃園</div>
                    <div class="type-btn">苗栗</div>
                    <div class="type-btn">彰化</div>
                    <div class="type-btn">雲林</div>
                    <div class="type-btn">宜蘭</div>
                    <div class="type-btn">花蓮</div>
                    <div class="type-btn">嘉義</div>
                </div>
            </div>
            <div class="filter-type">
                <div class="type-name">行程主題</div>
                <div class="type-more" ng-click="toggleMore('topic')">
                    <span ng-hide="showAllOption.topic">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.topic">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.topic}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn active">美食</div>
                    <div class="type-btn">離島</div>
                    <div class="type-btn">文化</div>
                    <div class="type-btn">生態</div>
                    <div class="type-btn">溫泉</div>
                    <div class="type-btn">鐵道</div>
                    <div class="type-btn">樂活</div>
                    <div class="type-btn">夜市</div>
                </div>
            </div>
            <div class="filter-type">
                <div class="type-name">出遊天數</div>
                <div class="type-more" ng-click="toggleMore('days')">
                    <span ng-hide="showAllOption.days">
                        更多
                        <i class="icon-ArrowDown"></i>
                    </span>
                    <span ng-show="showAllOption.days">
                        收起
                        <i class="icon-ArrowUp"></i>
                    </span>
                </div>
                <div class="type-wrap type-btns" ng-class="{'expand': showAllOption.days}">
                    <div class="type-btn">不限</div>
                    <div class="type-btn active">4 小時行程</div>
                    <div class="type-btn">3 天及以下</div>
                    <div class="type-btn">4 天至 7 天</div>
                    <div class="type-btn">8 天至 14 天</div>
                    <div class="type-btn">20 天以上</div>
                </div>
            </div>
            <div class="filter-type">
                <div class="type-name">價格範圍</div>
                <div class="type-wrap type-btns expand">
                    <div class="type-btn">不限</div>
                    <div class="type-btn">免費</div>
                    <div class="type-btn active">付費</div>
                    <div class="price-range">
                        <input type="text" ng-model="minPrice" numbers-only placeholder="250 元">
                         -
                        <input type="text" ng-model="maxPrice" numbers-only placeholder="不限">
                        <div class="button small button-outline">確認</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filters-more">
            <span>
                更多選項
                <i class="icon-ArrowDown"></i>
            </span>
        </div>
    </section>

    <!-- 顯示方式切換 -->
    <section>
        <div class="section-wrap layout-types">
         <div class="filter-type filters-float-left menuin">
                <a href="#" class="active">依發表時間</a> |
                <a href="#">依瀏覽數</a> |
                <a href="#">依討論數</a> 
            </div> 
            <div class="layout-type-label">顯示方式</div>
            <div class="layout-btns">
                <div class="layout-btn hint hint--top" data-hint="格狀顯示" ng-class="{'active': layout=='Grid'}" ng-click="switchLayout('Grid')"><i class="icon-Grid"></i></div>
                <div class="layout-btn hint hint--top" data-hint="列表顯示" ng-class="{'active': layout=='List'}" ng-click="switchLayout('List')"><i class="icon-Playlist"></i></div>
                <div show-for-small class="layout-btn" ng-click="openFilter()"><i class="icon-Filter"></i></div>
            </div>
        </div>
    </section>

    <!-- 格壯列表 -->
    <section>
        <div class="section-wrap no-top-padding">

            <!-- Grid 模式 -->
            <div ng-show="layout=='Grid'" class="spots" layout="row" layout-wrap>
              <div class="spot-wrap" flex="25" flex-md="50" flex-sm="100" ng-repeat="trip in trips">
                <div class="spot">
                   <div ng-show="!trip.isCollect" class="collect-btn" ng-click="toggleCollect(trip)"><i class="icon-Heart-2"></i> 收藏</div>
                   <div ng-show="trip.isCollect" class="collect-btn active" ng-click="toggleCollect(trip)"><i class="icon-Heart-2"></i></div>
                   <a href="#/trips/poi">
                    <div class="thumbnail" style="background-image: url(../public/images/trips/trip-{{$index%8+1}}.jpg)">
               <div class="blduration">0{{trip.days}}<span>天</span></div>

                    </div>
                    <div class="tags">
                       <div class="tag red"  ng-if="trip.recommend" >推薦</div>
                   </div>   
                   <div class="info has-author-img">
                    <div class="author-img" style="background-image: url(../public/images/avatars/{{$index%4+1}}.jpg)"></div>
                    <div class="author-name">{{trip.author}}</div>
                    <h4 class="title row-2">{{trip.title}}</h4>
                            <!-- <div class="summary">
                                <span class="types">{{getTypes(travelNote)}}</span>
                            </div> -->
                            <div class="metas"><div class="address"><i class="icon-Pin"></i> <span>{{trip.location}}</span></div></div>
                            <p class="destit"><i class="icon-Views"></i> {{trip.view}}</p>
                            <p class="destit"><i class="icon-Comments"></i> {{trip.comment}}</p>
                            <p style="clear: both;"></p>
                        </div>
                    </a>
                </div>
            </div>
            


              

            </div>

            <!-- List 模式 -->
            <div ng-show="layout=='List'" class="spot-list" layout="row" layout-wrap>

            <div class="spot-wrap" flex="50" flex-md="50" flex-sm="100" ng-repeat="trip in trips">
                <div class="spot">
                    <div ng-show="!trip.isCollect" class="collect-btn" ng-click="toggleCollect(trip)"><i class="icon-Plus"></i> 收藏</div>
                    <div ng-show="trip.isCollect" class="collect-btn active" ng-click="toggleCollect(trip)"><i class="icon-Check"></i> 已收藏</div>
                    <a href="#/trip/poi">
                        <div class="thumbnail" style="background-image: url(../public/images/trips/trip-{{$index%8+1}}.jpg)">
                        </div>
                    </a>
                    <div class="info">
                        <a href="#/trips/poi">    
                            <h4 class="title row-2">{{trip.title}}</h4>
                        </a>
                        <div class="metas"><div class="address"><i class="icon-Pin"></i> <span>{{trip.location}}</span></div></div>


                        <div class="metas">
                            <div class="recommend"><i class="icon-Calendar-2"></i> 0{{trip.days}}<span>天</span> <i class="icon-User"></i> {{trip.author}} <i class="icon-Comments"></i> {{trip.comment}}<i class="icon-Views"></i> {{trip.view}} </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
            
        </div>
    </section>
    <!-- 分頁 -->
    <section>
        <div class="section-wrap no-top-padding">
            <div class="pagination">
              <ul class="page-numbers">
                <li><a href="" class="prev">上一頁</a></li>
                <li><a href="">1</a></li>
                <li><a href="" class="current" >2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">...</a></li>
                <li><a href="">5</a></li>
                <li><a href="" class="next">下一頁</a></li>
              </ul>
            </div>
        </div>
    </section>
    <div class="status">
        <div class="loading">
            <div class="throbber throbber_large"></div>
            <span>載入中</span>
        </div>
    </div>
</div>
